[2017-01-20 22:24] sr55 commented on #535
It doesn't. I downloaded his z.mp4 and it trips up reading in dvdread.

[2017-01-20 22:26] bradleysepos commented on #535
Ah, I didn't realized it was renamed, I only noticed in the log: 04. Functional Programming вЂ“ What is It.mp4

[2017-01-20 22:58] Yersh commented on #535
Update.
If you try to encode single file, it actually works after two half-hour waits.
But if you put it in queue with other files (good files), it returns error.

[2017-01-20 23:45] Tamhlacht commented on #533
Here's a scan:

[17:29:39] macgui: Handbrake Version: 1.0.1  (2016122900)
[17:29:39] hb_init: starting libhb thread
[17:29:39] hb_init: starting libhb thread
[17:29:47] macgui: trying to open a folder or file
[17:29:47] macgui: ScanCore scanning titles with a duration of 10 seconds or more
[17:29:47] CPU: Intel(R) Core(TM) i7-4650U CPU @ 1.70GHz
[17:29:47]  - Intel microarchitecture Haswell
[17:29

[2017-01-20 23:46] Tamhlacht commented on #533
(In that case, I couldn't see subtitles on the DVD anyway; maybe they don't exist?

[2017-01-20 23:47] HelterBelter commented on #530
It's easy to work around once one finds out that it works fine the second time.
Was aggravating at first before I found that out, constantly looking for the last directory again and again.

I don't think much work should be put into fixing this since it seems to be a recurring thing.

Any chance filing a bug against libgtk would do any good ?

[2017-01-20 23:48] Anton-Latukha opened #536 "Persistent crash at any source import across ghb versions under Linux"
### Please describe the problem or feature request in detail:
Have ghb 100% reproducible crash for years across versions and versions, on Arch Linux system.
I decided to get to it now, because I miss ghb.

### What are the steps to reproduce this problem:

It happens every time, when I choose any video-file as a source. When I select file and click "Ok" (or just double-click) - program crashes

##

[2017-01-21 00:39] bradleysepos commented on #536
Arch package isn't ours and is known broken. See https://handbrake.fr/docs/en/latest/get-handbrake/where-to-get-handbrake.html

Also https://handbrake.fr/docs/en/latest/developer/build-linux.html

[2017-01-21 00:55] Anton-Latukha commented on #536
You are right.
Compiling your way - works.

Thank you.
It looked like all this is upstream thing.

It all can be closed.

[2017-01-21 00:55] #536 closed, assigned to nobody

[2017-01-21 03:09] bradleysepos commented on #536
:smile:

[2017-01-21 12:09] sr55 commented on #533
Doesn't appear to have any.

[2017-01-21 12:43] cehoyos commented on #514
@xana43: Do you see the artefacts only when encoding to h264 or also if you choose another video codec?

[2017-01-21 13:40] Tamhlacht commented on #533
I’ve posted it now. Didn’t know how before. What’s a CC track?

On Fri, Jan 20, 2017 at 8:13 PM, Scott <notifications@github.com> wrote:

[2017-01-21 13:57] Tamhlacht commented on #533
Hmm. I thought they always had subtitles for the deaf. Darnit. Thanks for
looking.

On Sat, Jan 21, 2017 at 12:09 PM, Scott <notifications@github.com> wrote:

[2017-01-21 15:15] #533 closed, assigned to nobody

[2017-01-21 19:34] sr55 commented on #534
Your source file contains errors. There are numerous points where the audio is glitching out and you can hear this in VLC with the source file.  I'm also seeing video glitches in VLC at points so it looks like the h264 stream has errors as well.

HandBrake tried to correct for it by dropping frames. It does apper to be dropping quite agressivly which is making it worse rather than keeping it the s

[2017-01-21 19:38] sr55 commented on #530
If john decides to do that, I'm going to get a cocktrail and sit back and wait for some fireworks :)

[2017-01-21 22:01] Yersh commented on #534
yeah, my mistake that I submitted the file.
I actually missed that the source is broken beyond repair since mpv and mpc-hc doesn't show visual artifacts.

[2017-01-22 00:33] xana43 commented on #514
@cehoyos I see artifacts when encoding to all the other formats and I've tried other codecs and no difference, it's a lot better now, but when there is an artifact you can clearly see it but it clears up quite quickly

[2017-01-22 17:02] #535 closed, assigned to jstebbins

[2017-01-22 17:02] #527 closed, assigned to sr55

[2017-01-22 17:02] #524 closed, assigned to sr55

[2017-01-22 17:02] #515 closed, assigned to sr55

[2017-01-22 17:03] #516 closed, assigned to sr55

[2017-01-22 17:03] #513 closed, assigned to sr55

[2017-01-22 17:03] #511 closed, assigned to jstebbins

[2017-01-22 17:03] #507 closed, assigned to nobody

[2017-01-22 17:03] #508 closed, assigned to nobody

[2017-01-22 17:03] #502 closed, assigned to jstebbins

[2017-01-22 17:03] #496 closed, assigned to sr55

[2017-01-22 17:03] #494 closed, assigned to jstebbins, galad87

[2017-01-22 17:03] #475 closed, assigned to galad87

[2017-01-22 17:04] #476 closed, assigned to jstebbins, galad87

[2017-01-22 17:04] #472 closed, assigned to sr55

[2017-01-22 17:04] #455 closed, assigned to bradleysepos, sr55, galad87

[2017-01-22 17:04] #467 closed, assigned to sr55, jstebbins, galad87

[2017-01-22 17:04] #462 closed, assigned to nobody

[2017-01-22 18:16] aleqx opened #537 "Adding Subrip subtitles turns them into ASS"
I'd very much like to be able to embed subrip subtitles becuase many players (e.g. Kodi) allow changing the style/color/size for these. However, when I add subrip subtitles, either from external .srt files or by passthrough of existing embedded Subrip subtitles, HB turns them into ASS, which is a styled format not always configurable by players. For example, Kodi always uses the color and size of

[2017-01-22 18:47] mcandre opened #538 "Port to ARM (Debian)"
See https://packages.debian.org/jessie/handbrake#pdownload

[2017-01-22 18:51] galad87 commented on #538
I think it already works on linux arm, I remember s55 tried it some time ago. We do not maintain the debian package (as you can see it's really old an probably broken) btw.

[2017-01-22 19:37] sr55 commented on #538
The lack of demand and lack of adoption of hardware suitable for running HandBrake kills this request off the bat. We simply don't have the resources to support niche platforms. We don't even provide packages for debian at all at this point.

That said, It should be possible to compile our source for ARM. I've not tried it recently, but I did get HandBrakeCLI compiled on ARMv7 a year or two back.

[2017-01-22 19:37] #538 closed, assigned to nobody

[2017-01-22 19:40] sr55 commented on #537
This is intentional.

See https://forum.handbrake.fr/viewtopic.php?f=6&t=34522&p=161536 for more information

[2017-01-22 19:41] #537 closed, assigned to nobody

[2017-01-22 21:25] SystemOfSilence opened #539 "Feature Request: NUMA enabled windows build"
Create a nightly build or provide documentation for a user to build an NUMA-enabled binary for windows (primary concern is x265 numa support). Not looking for a stable and supported release even though that would be nice. A DIY faq/guide/hints for those who are not familiar with handbrake code is sufficient given the probably low demand.

The current behavior on systems with many cores (48 in my c

[2017-01-23 01:03] timttran opened #540 "Handbrake commandline stuck with error code -17 without exiting"
### Please describe the problem or feature request in detail:
Handbrake commandline application occasionally is hung without exiting when try convert .ts file to .mp4
If I restart it, it may work or it may end up hung again with same problem.

### What are the steps to reproduce this problem:
this is the command line to initiate it within my job
"C:\program Files\Handbrake\HandBrakeCLI.exe" --star

[2017-01-23 04:02] bradleysepos commented on #540
Would you please test this again using HandBrake 1.0.2 or a nightly build dated January 23 (coming in a few hours) or later? We fixed some bugs including QSV-related issues, so it would be good to know if this is already taken care of. Thanks.

[2017-01-23 06:21] timttran commented on #540
Thank you for your quick response.
I didn't see the nightly build dated January 23 out yet so I've manually tested HandBrakeCLI 1.0.2....so far so good.  But we'll see how it goes within the next few days of my daily news recording.  I'll keep you posted.
Again thank you for you immediate attention, and keep up the good work.

[2017-01-23 08:50] galad87 commented on #491
I still can't reproduce this. Can you describe each step to reproduce the issue? Does it still happens in 1.0.2?

[2017-01-23 14:16] cehoyos commented on #514
Do I understand correctly that if you encode the file sdtdd.mp4 that you uploaded with handbrake you get output files with artefacts?
What happens if your input file uses another codec than h264?

[2017-01-23 15:02] cortig commented on #345
I noticed that some of the field are properly preserved, but the cover art for instance is lost. Content and Advisory Ratings are lost too from what I remember.

[2017-01-23 19:56] goldenlederhosen commented on #435
Just a "me too".

If I want to compile HandBrake from source I need all the libraries it uses. But it requires newer versions than my distribution provides. So I can either rip out the guts of my distro and update a bunch of multimedia applications, with .src.rpms from random places. Ouch. Or I have to separately compile all those libraries into /opt/ or /usr/local and fix HandBrake's configure to

[2017-01-23 20:30] jstebbins commented on #435
When I initially added flatpak support, there were several deficiencies with flatpak portals that resulted in various bugs and limitations (like Help->Guide being unable to open the HandBrake documentation in a browser). The flatpak developers have been working to fill these gaps, but I haven't returned to it recently to check status.

I'll dig back into this once the activity on the recent releas

[2017-01-23 20:40] QuzarDC opened #541 "Subtitle language not written for added srt"
### Please describe the problem or feature request in detail:
When adding multiple SRT subtitles, the default first track (english) correctly maintains it's 3cc and name as 'English', but a second track, selected as espanol becomes 'unknown'

### What are the steps to reproduce this problem:
Select multiple UTF-8 SRT files to add, make one default and english, and another not default and espanol.

[2017-01-23 21:04] sr55 commented on #541
Note to self, use iso639 code in json api.

I'll take a look when I get some time, hopefully in the next day or two.

[2017-01-23 21:42] timttran commented on #540
it's not good... Still same problem with HandbrakeCLI 1.0.2
![image](https://cloud.githubusercontent.com/assets/25288383/22223954/7c301308-e182-11e6-873a-e7242c8b74eb.png)

[2017-01-24 00:15] timttran commented on #540
Hi Bradley,

It didn’t work with HandbrakeCLI 1.0.2.  I still have the same problem, Handbrake is hung with error code -17.

Please let me know when you have a nightly build January 23 ready for me to test.

Thanks,
Tim Tran

From: Bradley Sepos [mailto:notifications@github.com]
Sent: Sunday, January 22, 2017 10:03 PM
To: HandBrake/HandBrake <HandBrake@noreply.github.com>
Cc: timttran <timttran@ho

[2017-01-24 00:36] bradleysepos commented on #540
There may have been no changes since the previous day, hence the delay in dating. Sorry about the confusion. They are building now and should be available tomorrow at https://handbrake.fr/nightly.php

Aside, email replies are automatically posted to the main thread on GitHub (see #540). Cheers.

[2017-01-24 01:12] Yersh opened #542 "HandBrakeCLI 1.0.2 Crashes during the encode"
Here is file in question: [https://www.dropbox.com/s/fsf9c7s6kj0qa71/Vlookup%203%20-%20Intro%20to%20Data%20Validation%20Lists.mp4?dl=0](https://www.dropbox.com/s/fsf9c7s6kj0qa71/Vlookup%203%20-%20Intro%20to%20Data%20Validation%20Lists.mp4?dl=0)

here is log:
[code]

here are error details:
[code]

[2017-01-24 01:26] Yersh opened #543 "HandBrakeCLI failes to import preset"
Handbrake fails to import preset if the name of the file (for example testprofile.json) is not equal to the string inside the file "PresetName": "test_profile"

**Is it a bug or not???**

Cause with this ^^ setup I got:
[code]
And then handbrake switches to default preset.

[2017-01-24 02:09] xana43 commented on #514
@cehoyos well I don't have any other files with different codecs

[2017-01-24 09:45] cehoyos commented on #514
Common files exist:
https://peach.blender.org/download/
http://streams.videolan.org/

[2017-01-24 10:16] ghost commented on #540
Hi,

I can reproduce the same error with the current nightly. It usually appears when doing a subtitle scan first pass.
Sometimes after the first encode, sometimes at the first.
Here's the log.
[log.txt](https://github.com/HandBrake/HandBrake/files/726303/log.txt)

[2017-01-24 15:40] timttran commented on #540
Thanks...so do you have a way to fix it?
I did try to turn off subtitle but still no luck.

If HandbrakeCLI erred and exit nicely, I could get my code to handle the exception and reprocess it.  Unfortunately, it just got stuck there.

Sent from my iPad

On Jan 24, 2017, at 4:16 AM, askarath <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,

I can reproduce the same error with

[2017-01-24 18:51] bradleysepos commented on #540
@timttran It would be good to get a sample of the .ts file HandBrake is struggling with. Maybe just the first 5 megabytes or so. Can use Dropbox or similar to share.

[2017-01-24 18:54] bradleysepos commented on #540
Also, please make sure you are using the latest Intel drivers for your system. In the meantime you may be able to work around this by disabling qsv.

[2017-01-24 19:01] sr55 commented on #542
You seem to have a nice collection of broken files :/  Atleast we could workaround this one.

[2017-01-24 19:14] sr55 commented on #541
Give tomorrows nightly a shot. That should now be fixed.

[2017-01-24 19:17] sr55 commented on #520
Are you able to share a sample file to we can reproduce?  Dropbox/Google Drive etc are good file drops.

[2017-01-24 19:42] sr55 commented on #540
@maximd33 You may want to take note of this one as well.

[2017-01-24 19:43] sr55 commented on #543
IIRC you have to import, then use,  not try and encode at the same time, otherwise it won't be used. The name shouldn't matter.

[2017-01-24 19:48] jstebbins commented on #543
Works fine for me.  Can you supply the preset file you are having issues with?  The symptoms you describe are pretty much impossible, so something else is going on.

[2017-01-24 20:22] maximd33 commented on #540
-17 error can be quite tricky to fight against with no sample,
so I would agree with @bradleysepos about : it would be critical to have any input sample that shows the issue.

[2017-01-24 21:35] Yersh commented on #543
ok, I understood what happened

When command `--preset-import-profile c:\1\testprofile.json` invoked, handbrake creates a profile with the name of the file. It doesn't use `"PresetName":` inside the file.

And why this method worked for me before cause I used profiles with option `"Default": true,`. So after import they automatically became default profiles and were used for encoding.

Guys, you d

[2017-01-24 22:07] jstebbins commented on #543
No, it doesn't do that.  It uses PresetName.  The file name is only used for the purpose of opening the file, then it is forgotten and ignored.

If PresetName == "My Custom Preset" and file is "somepreset.json", the correct command line to use that preset is:
HandBrakeCLI --preset-import-file somepreset.json -Z "My Custom Preset" ...

[2017-01-24 22:09] jstebbins commented on #543
To clarify and expand.  A preset file can contain more than one preset.  Therefore, it is necessary to both import the preset file and specify the name of the preset you want to use.

[2017-01-24 22:18] jstebbins commented on #469
@bradleysepos what's up with that activity log?  It doesn't show any of the job settings.  Utterly useless :(  I need to see settings if I'm going to reproduce.

[2017-01-24 22:24] jstebbins commented on #469
nevermind, figured out how to crash it.

[2017-01-24 22:39] jstebbins commented on #469
So the problem here is that qmin=0 causes a divide by 0 in the mpeg4 encoder.  It appears min allowed value for this encoder is 1.  I'll think about patching libav to prevent the crash (in case anyone purposely provides qmin=0), but we all need to be sure to clear out extra options.

[2017-01-24 22:59] Yersh commented on #543
I screwed up path to the profile, so HB took a different one. My bad.

Now everything works exactly as you described.

[2017-01-24 23:00] jstebbins commented on #465
How are you determining that the audio delay is not respected?  I works fine for me.

I see in your log the following
[code]
This indicates that audio is behind video by 1.96 seconds.  HandBrake propagates this delay to the output file as expected in my testing.

There is a difference between how 0.10.x did this and how 1.0.x does it.  0.10.x actually converted that delay to a packet of audio sile

[2017-01-24 23:00] timttran commented on #540
I have just updated to the latest Intel video driver, and I have downloaded the new HandbrakeCLI nightly build dated January 23rd as suggested by Bradley.
Let see how it goes with the next few daily news recording file conversions.  I’ll keep you all posted.

The funny thing about -17 error is that even if it erred and got stuck, and when I restart it, it could or could not work on the next try.

[2017-01-25 01:20] timttran commented on #540
Not good, even after I've updated to the latest Intel video driver and using the latest nightly build HandbrakeCLI dated January 23rd....still got stuck with error code -17.

attached is the log file and a 10 sec sample ts file for you to take a look.
I really don't think it's the ts file causing problem, because on a restart of HandbrakeCLI, it works fine.

If you couldn't fix it, could you at le

[2017-01-25 01:28] bradleysepos commented on #469
What *is* up with that log? Weird.

[2017-01-25 01:58] 55667 commented on #520
I'm sending a link to download the video.
The audio and video stream does not convert, the original recording.
Avidemux cut out detail was converted. The error occurs when converting the whole file as well. The error always just at the beginning of the file.
Without converting, you have seen a preview of the error!.

http://indabox.hu/DkcsPc

[2017-01-25 06:51] ana-matronic opened #544 "NLMeans tunes Tape and Sprite missing on Windows."
Handbrake 1.0.2 Win64 - Denoise > NLMeans > Tune options drop-down list does not include Tape or Sprite, but they are referenced on the hover list.  I was hoping to test Tape.

[2017-01-25 08:00] bradleysepos commented on #544
Verified.

[2017-01-25 08:57] gene-olson opened #545 "Handbrake 1.0.2 high memory usage or memory leak on Ubuntu 16.04"
### Please describe the problem or feature request in detail:

Program starts up using about 8G (!!) of virtual memory and *grows* rapidly.   After a few minutes it's up to 10G.   After a few hours Linux runs out of memory on my 16G machine.  (no swap partition).

### What are the steps to reproduce this problem:

Transcode files to H.265 720p.    Any input format; I've tried a bunch.

### What ve

[2017-01-25 09:45] galad87 commented on #491
Fixed in 79c33c0ca996311224bbd3719c85238a3358cb5e

[2017-01-25 10:00] galad87 commented on #465
But there is no edit list in the converted mp4 file, so audio is out of sync.

[2017-01-25 17:25] lambdan commented on #465
So it seems you are right. In some players, the audio is handled properly, like MPC-HC and VLC on Windows. But in others, like MplayerX on macOS, it is not, where your old method of adding silence worked.
Now I swear to god that when I reported this issue, almost a month ago, I did try it in a bunch of other players, like VLC on macOS and Quicktime on macOS and had the same issue, but that seems t

[2017-01-25 17:45] jstebbins commented on #465
@galad87 after encoding the sample provided, it plays correctly (in sync) for me using vlc, and mpv on linux. When I have a look at the mp4 using MP4Box -diso and see the following edts for the audio track
[code]
The first entry in that edit list is the delay factor.  The factor is in units of 1/1000 sec. so in this case is 1.277 seconds.

[2017-01-25 17:46] galad87 commented on #465
It works fine with the gtk gui, but if I encode with the mac gui the result is out of sync, and there is no edit list in the audio track. Weird.

[2017-01-25 17:54] jstebbins commented on #465
Could you try the CLI on OSX to verify if it works? And provide a log for the GUI encode please.

If I don't see anything obvious in the log, we may have to add some extra logging in muxavformat.c to get a better view of what's happening in the OSX GUI.

[2017-01-25 18:06] galad87 commented on #465
MacGui: http://pastebin.com/0F6PtDz4
CLI: http://pastebin.com/ShRGP3Pd

Same issue in the CLI

[2017-01-25 18:08] jstebbins commented on #465
I see the problem.  The CoreAudio encoder on OSX assumes audio starts at 0 and completely ignores incoming timestamps.  I'll cook up a patch for you to try.

[2017-01-25 18:10] lambdan commented on #465
Ah, just realized when I said earlier that it seems to work now, I did that transcode on my Windows machine, using HandbrakeCLI.
I now tried making transcodes with both CLI and GUI on macOS and now the issue is there again. I actually tried playing the results on my Windows box with MPC-HC and VLC and both has the issue.

And yeah I was just about to say it might be CoreAudio related.....

(zip co

[2017-01-25 18:25] jstebbins commented on #465
@galad87 could you give this patch a try please?
https://john.stebbins.name/owncloud/index.php/s/XayZoI4tvsdSWML

[2017-01-25 18:40] galad87 commented on #465
It works, now the audio track is properly delayed.

[2017-01-25 18:43] bwmanske opened #546 "Audio tracks not showing up due to sub titles"
### Please describe the problem or feature request in detail:
When switching from .MKV to .M4V the subtitles are not ignored (since .M4V container can't have subtitle tracks.)  I removed the defaults for subtitles and the audio started working again.

### What are the steps to reproduce this problem:
My files (.MKV) have a single E-AC3 track.  They have a subtitle track.  Subtitle defaults were se

[2017-01-25 18:50] jstebbins commented on #465
Fixed in 33e6780

[2017-01-25 18:50] sr55 commented on #546
Locking due to violation of our community rules. Rule 2c. We will not support people with illegitimate sources.      "Amazon Web-dl"

[2017-01-25 18:50] #546 closed, assigned to nobody

[2017-01-25 18:57] sr55 commented on #545
Closing due to violation of the community rules.  Rule 2c.  We do not support illegitimate sources.

If anyone else is seeing this issue, then please raise a new case and we can work towards a resolution.

[2017-01-25 18:57] #545 closed, assigned to nobody

[2017-01-25 19:19] sr55 commented on #544
Fixed. You'll be able to test in tomorrows nightly. Since it's only bug fixes in the nightly so far, it's safe to use.

I should at some point extract these from libhb as I've done with other dropdowns but that's for another day.

[2017-01-25 19:58] bradleysepos commented on #544
Thanks @sr55 😸

[2017-01-25 20:03] #543 closed, assigned to nobody

[2017-01-26 06:03] ana-matronic commented on #544
Thank you very much!  Looking forward to the nightly.

[2017-01-26 15:39] MakuSensei opened #547 "Problem in archlinux, Handbrake 1.0.1"
### Please describe the problem or feature request in detail:
Problem in archlinux, Handbrake 1.0.1 does not recognize subtitles within a mkv
Do not appear in the subtitle list
Try everything, but the git version is the only one that works well
Anyone who knows about archlinux could help verify this problem?
Videos are mkv with subtitle ASS
### What are the steps to reproduce this problem:

### Wh

[2017-01-26 15:46] PokeCaptain commented on #547
The ArchLinux distribution is known to have issues. Download the source code and build from https://handbrake.fr/downloads.php

[2017-01-26 16:08] MakuSensei commented on #547
Thanks for the reply, but I do not know how to compile the source code :(

[2017-01-26 16:12] PokeCaptain commented on #547
This should help:
https://wiki.archlinux.org/index.php/Arch_Build_System

[2017-01-26 16:40] stiefelriehmen commented on #146
For me as a video producer the option of changing the size of burned in subtitles before burning them in, would make my workflow instantly a lot better. I support this motion.

[2017-01-26 19:36] maximd33 commented on #540
@timttran

have you got -17 issue with shared input sample ?
I am trying it several times but not much luck to reproduce the error.

[2017-01-26 19:39] timttran commented on #540
Hi,

Yes I did post it out there…on my last comment.
I have still have same problem with Nightly Build dated Jan 25th.

Please take a look at my comment.

From: maximd33 [mailto:notifications@github.com]
Sent: Thursday, January 26, 2017 1:37 PM
To: HandBrake/HandBrake <HandBrake@noreply.github.com>
Cc: timttran <timttran@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [HandBrake/Ha

[2017-01-26 19:40] sr55 commented on #547
To compile from source, see https://handbrake.fr/docs/en/1.0.0/developer/install-dependencies-arch.html

If you have problems, your best bet it to ask on our forum.

[2017-01-26 19:40] #547 closed, assigned to nobody

[2017-01-27 19:13] #534 closed, assigned to jstebbins

[2017-01-27 20:05] secondsabre opened #548 "Feature Request: Support Ordered Chapters/Segment Linking in Source"
### Please describe the problem or feature request in detail:
Some MKV files use a lesser-known part of the Matroska spec, known as 'ordered chapters' or 'segment linking'.  Essentially, the chapter file of an MKV will pull a separate, external video file and insert it into the video on-the-fly.  This is commonly used for static opening and ending sequences, so the opening or ending can be encoded

[2017-01-28 04:48] bradleysepos opened #549 "Remove --enable-local-autotools and --enable-local-pkgconfig."
These have been superseded by dependency installation scripts and guides, and appear to cause more issues than they solve.

The former includes the latter, but the latter alone will almost certainly break the build. Now that HandBrake for Linux has moved many contribs to system libraries, the former may also break the build there. If any included tool is missing, one or both is triggered, potentia

[2017-01-28 06:28] purevertigo opened #550 "[BUG] AC3 Passthrough"
### Please describe the problem or feature request in detail:
AC# Passthrough no longer functions correctly with 1.0.2
### What are the steps to reproduce this problem:
same as above
### What version of HandBrake you are running:
1.0.2
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Windows 10
### Was there any error message or error dialog, if so ple

[2017-01-28 06:32] bradleysepos commented on #550
Please provide an activity log and any other relevant information.

[2017-01-28 09:36] purevertigo commented on #550
Thanks for replying and sorry but won't be able to do, I have since downgraded.

[2017-01-28 09:44] #550 closed, assigned to nobody

[2017-01-28 18:37] maximd33 commented on #540
ok, I'm sort of able to reproduce the issue - WIP to have it fixed ...

thanks for the sample and report

[2017-01-28 18:39] timttran commented on #540
Awesome buddy!

Thanks so much…keep up the good work and please let me know when you’ve put out a new updated copy.

From: maximd33 [mailto:notifications@github.com]
Sent: Saturday, January 28, 2017 12:37 PM
To: HandBrake/HandBrake <HandBrake@noreply.github.com>
Cc: timttran <timttran@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [HandBrake/HandBrake] Handbrake commandline stuck

[2017-01-28 19:08] sr55 commented on #281
This still an issue?

[2017-01-28 20:29] smkent opened #553 "HandBrakeCLI's --subtitle-default option always selects the first subtitle track regardless of the specified argument value"
### Please describe the problem or feature request in detail:
I am using `HandBrakeCLI` to transcode a video file with 8 subtitle tracks:

[code]

The second subtitle track is the "foreign audio" track, and is correctly set as the default subtitle track in the source video file (confirmed with both VLC and MKVToolNix).

When transcoding, I am invoking `HandBrakeCLI` with `-s 1,2,3,4,5,6,7 --subtit

[2017-01-28 21:36] Tamhlacht commented on #533
Weird thing is that with that .iso of La Balance, although on the .iso
version, viewed in VLC, I can see a) an auteur interview, and b) the film
(and there are other extras like ‘internet’), if I try to make an mp4 using
Handbrake, it only produces the interview.

On Sat, Jan 21, 2017 at 3:15 PM, Scott <notifications@github.com> wrote:

[2017-01-28 21:47] Tamhlacht commented on #533
Oh, wait, sorry, I was wrong about that.

On Sat, Jan 21, 2017 at 3:15 PM, Scott <notifications@github.com> wrote:

[2017-01-28 22:22] jstebbins commented on #281
yes, it's been low priority for me since it's only a live preview thing

[2017-01-28 22:30] smkent commented on #553
**tl;dr**: Not a bug, `--subtitle-default`'s argument is optional and therefore requires an `=` as described [here](http://stackoverflow.com/a/1052750).

----

On further investigation, I think this one is user error. :-)

`HandBrakeCLI` uses `getopt_long` to parse arguments. `--subtitle-default` is configured with `optional_argument`, which means the value has to be specified with `=` (as in, `--

[2017-01-28 22:30] #553 closed, assigned to nobody

[2017-01-28 22:31] bradleysepos commented on #553
Good catch. Yes, we improved the `--help` documentation in this regard for the release. Glad you got it sorted.

[2017-01-28 22:32] jstebbins commented on #553
Yeah, as a general rule, I just always use '=' to avoid such confusions.

[2017-01-29 00:37] krusic22 commented on #423
Sorry for not being active for quite some time.
So. I tested the same file with the same version of HB on three machines.
Win 7, Win 10 laptop and my Main PC (the one in the issues above).
None of the machines except the Main PC produced the error. After some looking around and debugging I found out that a update broke ntdll.dll and started causing problems. After transferring the dll from the lap

[2017-01-29 00:46] bradleysepos commented on #423
Glad to hear you sorted it. Thanks for following up.

[2017-01-29 05:10] supremestarhawk opened #554 "VLC reporting different resolution than Handbrake, shimmering in encoded video on multiple players"
### Please describe the problem or feature request in detail:
I'll be the first to admit, I probably understand scaling and resolution less than I do most advanced x264 options, so this may be user error, but I can't figure it out for the life of me.

I noticed "shimmering" in a video I encoded today, and my first thought was I screwed up something with the output resolution settings.

I double ch

[2017-01-29 05:32] bradleysepos commented on #554
Disabling anamorphic is the same as setting a 1:1 pixel aspect ratio, which the source already is; aside from the cropping, there should be no difference between those encodes. The logs seem straightforward enough, so it may be unrelated.

Nothing obvious comes to mind, so I'll let others contribute their thoughts.

[2017-01-29 06:56] supremestarhawk commented on #554
If this helps:

- [Source video clipped with MKVToolNix (124 MB)](https://drive.google.com/uc?export=download&id=0B1RZ1L7j_EWTUnBKWjE2amUwMVk)
- [Encode (25 MB)](https://drive.google.com/uc?export=download&id=0B1RZ1L7j_EWTRlJ0TUc3NXlHU00)
- [Log](https://github.com/HandBrake/HandBrake/files/737349/Kingsman.The.Secret.Service.T01.1.-002-1.m4v.01-29-2017.01-41-48.txt)

Notice the brick to the left a

[2017-01-29 10:53] galad87 commented on #554
The interlace detection filter thinks those frame are interlaced, so it deinterlace them. I guess the wood  texture is misleading it. So disable decomb and interlace detection.

[2017-01-29 10:54] sr55 commented on #554
@cameronks Can your turn off the decomb for me and try again?

[23:10:45] decomb: deinterlaced 3634 | blended 0 | unfiltered 0 | total 3634

[2017-01-29 10:55] galad87 commented on #554
Oh actually you don't have the interlace detection filter enabled, and it's deinterlacing everything.

[2017-01-29 12:36] sr55 commented on #554
Yup, Closing.

[2017-01-29 13:29] supremestarhawk commented on #554
@galad87 Thanks. Yes, Deinterlace was set to Decomb with Preset and Interlace Detection both set to Default as they are in the preset,

I checked my other recent logs from other sources and every frame is deinterlaced there as well. Switching from Decomb to Off for now fixes it.

Should I edit this Issue to clarify Decomb is Deinterlacing everything or start a new one?

[2017-01-29 16:42] fiechr opened #555 "Cant set custom value for HQDN3D filter in Linux GUI"
Not sure if this ist related to https://github.com/HandBrake/HandBrake/issues/374.

![customfiltervalue](https://cloud.githubusercontent.com/assets/12040376/22405752/e319395e-e647-11e6-8caf-5a57bacd830d.png)

I can't enter any values directly into the custom field displayed in the image above.
There is no way to focus the field using the Tab key or mouse.
But it's still possible to paste text into

[2017-01-29 16:49] sr55 commented on #554
It's supposed to if interlace detection is turned off.

[2017-01-29 16:49] #554 closed, assigned to bradleysepos, sr55, jstebbins, galad87

[2017-01-29 17:08] supremestarhawk commented on #554
@sr55 It would seem Interlace Detection would need to be turned off in the preset then since it's not detecting but deinterlacing everything it sees? I looked at recent logs from other encodes, and every file has every frame deinterlaced and this is progressive source material.

I'll get logs put together and make a new Issue unless I'm wrong in my thinking here.

[2017-01-29 17:17] sr55 commented on #554
Ideally, if you have all progressive content, set Deinterlace to None. Otherwise, if you have mixed content, set interlace detection to a suitable value.

You have it turned off, so it didn't do the detection part, which means it'll deinterlace every frame.

[2017-01-29 18:33] jstebbins commented on #555
Thanks.  Fixed in the next nightly build and will be fixed in the next 1.0.3 bugfix release.

[2017-01-29 20:41] MattWatt commented on #542
I'm new to Handbrake and also having crashing problems with 1.02 in Win 7 x64.  I've yet to successfully encode a file, failing usually around 10 - 15 mins into encoding.  Nearly always an AppCrash, but after modifying some parameters to drop quality some, it seemed to run long and then I got a BSOD.  AppCrash doesn't appear to give much info.

NVidia drivers 347.25 (yes, it's older).  I'm in the

[2017-01-29 20:46] bradleysepos commented on #542
@MattWatt Sorry to hear you're having problems. Usually those symptoms are indicative of a less than perfectly stable system. Heat / voltage issues under heavy load. Video encoding is a perfect stress test to reveal such conditions. It's near impossible for HandBrake to cause a BSOD.

Anyway, if you continue to have problems, please open a new issue and provide an activity log. Thanks.

[2017-01-30 03:53] maybecryptic commented on #190
@bradleysepos Okay, so in the end, I ended up switching to VidCoder, which was using an older version of handbreak at the time (ver 0.10.2). And I _never_ ran into the issue. Fast forward to now, I decided to update and give the new version a try. The result? It's happening again (I'm also using the advanced tab now, with similar encode speeds).

![](https://i.imgur.com/drK8K72.png)

It has to be

[2017-01-30 05:20] smkent commented on #510
I'm running into this same problem with Handbrake 1.0.2 (`HandBrakeCLI: realloc(): invalid next size: 0x00007fff880e5c70`), and I can consistently reproduce it on one of my machines with a particular source video file at about 78% of the way through.

I built a debug version of `HandBrakeCLI` on `master` with `./configure --disable-gtk --launch-jobs=$(nproc) --debug=max` (as suggested [here](https

[2017-01-30 06:13] smkent commented on #510
I ran the same command again using `gdb` within `valgrind`. `gdb` reports the same backtrace. Here's the console output from that crash:

[code]

[2017-01-30 11:25] mpmc opened #556 "Custom preset doesn't generate files"
### Please describe the problem or feature request in detail:

When using the following custom preset no files are generated. The path used does exist. I'm aware the preset is a little unusual given the output avg bitrate, but this is an old animation & the quality isn't great.

[code]

![filter](https://cloud.githubusercontent.com/assets/2352508/22421215/071d5cc2-e6de-11e6-967c-aa319f67b66a.png)

[2017-01-30 16:14] MattWatt commented on #542
You're right, as I began investigating the BSOD dump I came across that conclusion as well.  While I didn't think I actually had any overclocking on this system, I flipped a few options in my BIOS from manual to Auto, and ensured there was no overclocking at all and that took care of the BSOD issue I began to experience.  I went ahead and downgraded to an older version and no longer received the A

[2017-01-30 21:10] jstebbins commented on #510
Thanks for the traces.  That narrows things down nicely.  At least now I know what settings to focus on in my attempts to reproduce.

Were there any messages from valgrind *before* the crash?  Specifically, I'm wondering if valgrind saw anything that might corrupt the heap.  This would include invalid free/delete and invalid write operations.

[2017-01-30 21:29] sr55 commented on #556
You won't see a file created until the 2nd pass. Your log shows looks like it's still processing pass 1, so it's just doing analysis on the source and record a stats file to a tempory directory. It's not actually encoding anything yet.  (Note, you have foreign audio scan turned on, so you may see it doing 3 passes, not 2)

[2017-01-30 21:35] sr55 commented on #456
The fix needs to be done in upstream libav.

[2017-01-30 21:36] jstebbins commented on #510
I'm wondering if the bitrate used for encoding the audio is a factor. For all examples I've looked at, the chosen bitrate is unusually high (or quality based encoding was used with quality set to the max of 10). e.g. 384kbps is very high for 2 channel audio.  I know libav's aac encoder is kind of crap and so there is good reason to overkill the bitrate, but I'll bet this has something to do with t

[2017-01-30 21:44] jstebbins commented on #510
And voila!, I finally managed to reproduce the problem 😉 Now I just need to find a faster way to reproduce since it took about an hour with the sample I used.

[2017-01-30 21:44] sr55 commented on #421
@kimbauters  are you still experiencing issues with this?

[2017-01-30 22:00] sr55 commented on #520
Confirmed. First few seconds are stuck.

Interestinly, it looks like if you drop the audio track, it encodes the video correctly. 0.10.5 does not appear to exhibit the problem.  Different audio encoder makes no difference so I reckon this might be sync related.

[2017-01-31 01:06] jstebbins commented on #510
I was able to narrow down further where the issue is with valgrind
[code]
The above invalid write is what is corrupting the heap.  It's caused by the aac encoder attempting to write more bytes to a buffer than it allocated.  I checked the allocation size of the buffer and it conforms to the maximum required buffer size according to the aac specification.  So that means there is a bug somewhere tha

[2017-01-31 06:47] smkent commented on #510
Not knowing much about this, is this something that could be worked around?

Does Handbrake include it's own copy of libav or does it depend on the system-installed library? If Handbrake includes it's own libav, is there an updated version I could try?

[2017-01-31 06:52] smkent opened #557 "HandBrakeCLI leaves temporary directories in /tmp on Linux"
### Please describe the problem or feature request in detail:
`HandBrakeCLI` doesn't seem to delete it's temporary directory in `/tmp`. I've been running `HandBrakeCLI` a lot, and my `/tmp` now contains:

[code]

### What are the steps to reproduce this problem:
* Use `HandBrakeCLI`
* `ls /tmp`

### What version of HandBrake you are running:
1.0.2

### What operating system and version and you run

[2017-01-31 09:49] maximd33 commented on #540
hopefully fixed as per pull request #558

[2017-01-31 11:10] mpmc commented on #556
@sr55 Yep, I know, but even when it hits the third pass there is still no file created. The reason for the log missing the next stage is because it takes several hours to complete. I don't mind how long it takes it's just after all that wait & I get nothing :rofl:

As I write this reply, I did another profile using roughly the same settings (taking note of the foreign audio scan you mentioned) wit

[2017-01-31 15:50] jstebbins commented on #510
HandBrake includes it's own copy. But I don't know how to fix this.  The problem is deep in the guts of the encoder and is going to take someone who is knowledgeable about the encoder to fix it.

The only potential workaround I can think of right now is try lower bitrate settings when this occurs. My test sample causes the crash reproducibly using 512 kbps, but finishes encoding when I use 256 kbp

[2017-01-31 15:56] jstebbins commented on #557
Have you tried manually deleting the old tmp directories and run HandBrakeCLI again to see if the new directory it creates is deleted?  If HandBrakeCLI crashes for any reason, it does leave the old tmp directory there. But it should delete the directory any time it finishes successfully.

I just did a quick test, and using HandBrakeCLI to perform an encode deletes the tmp directory as expected.  B

[2017-01-31 16:19] timttran commented on #540
Great!

I'll try the new nightly build and will let you know in a few days

Thank you so much!

Sent from my iPad

On Jan 31, 2017, at 3:49 AM, maximd33 <notifications@github.com<mailto:notifications@github.com>> wrote:

hopefully fixed as per pull request #558<https://github.com/HandBrake/HandBrake/pull/558>

-
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-01-31 16:19] smkent commented on #557
I deleted all the old `/tmp/hb.*` directories and ran `HandBrakeCLI` again. The transcode finished successfully, but a new `/tmp` directory was left behind. `HandBrakeCLI --help` did not leave a new `/tmp` directory for me.

[2017-01-31 19:02] sr55 commented on #466
@leroy-brooksnet   LibAV has dropped support for dvr-ms with their new ASF demuxer.  They may add support back in at a future date so it turns out it's not actually a bug.  It seems there is a lack of enthuasim for dvr-ms so I wouldn't hold out for an update any time soon.

[2017-01-31 21:21] sr55 commented on #556
Does "/media/mark/c8f825a8-c3a9-4e7b-a9fa-4cfb2b6d432b/DVD/FGD1S1/" exist on the filesystem?

What version of x264 do you have installed? It could be an incompatible or broken system version.

[2017-01-31 22:10] leroy-brooksnet commented on #466
You're telling me I have to use ffmpeg to convert my files to a popular container before LibAV can support them?  This is funny.  I could understand if the files were actually encoded in a non-standard or unpopular codec, but this is only a container issue.  In any case, I guess there are plenty of workarounds, so I'll use one of them.

[2017-02-01 04:06] bryankanderson opened #559 "Title Specific Scan scanning all titles"
### Please describe the problem or feature request in detail:
I just upgraded to Handbrake 1.0.2 from 0.10 and am having an issue with Title-specific scans on Windows.  I am selecting to only scan 1 title of a DVD but Handbrake is scanning all 99 titles of the DVD.  I know exactly which title I want (Title 1) but Handbrake ignores this.  I tried this on my Mac (same Handbrake version) and it works

[2017-02-01 10:42] fiechr commented on #555
Thank you, too - works as expected now! :-)

[2017-02-01 11:14] mpmc commented on #556
Yes the folder does exist, I used handbrake to locate it (see screenie).

X264 version installed
[code]

![desktop](https://cloud.githubusercontent.com/assets/2352508/22504705/9a7bb6ac-e86f-11e6-8e2f-c3c108e4dac7.png)

[2017-02-01 15:56] jstebbins commented on #555
Leaving open till the next release goes out...

[2017-02-01 16:34] jstebbins opened #560 "Linux UI: Enhance toolbar "Add to Queue"."
On the Windows GUI, the "Add to queue" button has multiple actions available, by clicking on a small arrow on the main button. It has options to "Add current" (the default), "Add All", and "add Selection".

See https://forum.handbrake.fr/viewtopic.php?f=26&t=35893&sid=6cee1e3f58a1eceb278761e25673f96b

[2017-02-01 19:35] sr55 commented on #466
It looks like ffmpeg made the new ASF demuxer optional and are keeping the old one around until the new one stabailses. Libav just outright replaced it, so for now atleast, ffmpeg will work.   Hopefully libav will get it sorted with time.

[2017-02-02 09:03] cehoyos commented on #466
Not necessarily.
Only a very small number of the many original bugs in the experimental demuxer was fixed in 18 months, your users immediately found new issues I wasn't aware of so I don't think replacing the stable demuxer will happen in the foreseeable future.

[2017-02-02 11:24] ghost commented on #542
HandBrakeCLI 1.0.2 crash too. FFMPEG encode fine.
File: https://yadi.sk/i/PZXY1qXO3CSz34
Log: https://yadi.sk/i/Nmk_G11b3CT23K

[2017-02-02 19:45] bradleysepos commented on #540
This will be in the next nightly build and the upcoming 1.0.3 release (date TBD).

[2017-02-02 19:49] #465 closed, assigned to jstebbins

[2017-02-02 19:49] #491 closed, assigned to galad87

[2017-02-02 19:49] #540 closed, assigned to bradleysepos, sr55, jstebbins

[2017-02-02 19:49] #541 closed, assigned to sr55

[2017-02-02 19:49] #542 closed, assigned to nobody

[2017-02-02 19:49] #555 closed, assigned to jstebbins

[2017-02-02 19:49] #544 closed, assigned to bradleysepos, sr55

[2017-02-02 19:53] sr55 commented on #505
If you can reproduce with a log, please drop a note and we can re-open. Otherwise I'll close for now as we don't have anything to go on.

[2017-02-02 19:53] #505 closed, assigned to nobody

[2017-02-03 01:48] thatsmoi commented on #556
when using loose in presets it wont allow save 1920 * 1080 even as a custom preset

[2017-02-03 02:52] bradleysepos commented on #556
@thatsmoi Please start a new issue for this, and include an activity log as requested.

[2017-02-03 14:27] mpmc commented on #556
Hey folks. To make sure it wasn't my slower Linux system I tried the latest windows nightly on my other (faster) desktop & the same "timebase" error happens.

[code]

[2017-02-03 19:21] sr55 commented on #559
I can't reproduce this. According to the log, you didn't have a title selected before selecting a file. Can you provide step by step what you actually did.

[2017-02-04 00:04] bradleysepos commented on #556
I wonder whether this is an issue with CFR Auto and Bob.

[2017-02-04 06:41] chiu0602 opened #563 "Feature Request: Drag to select cropping area"
### What version of HandBrake you are running:
1.0.2

Suggest to add a feature to perform picture cropping that:
1. click a button and first frame preview is shown
2. perform mouse drag to select the area to keep
3. after selection, the custom cropping values: top, left, right, bottom are filled.

Thanks

[2017-02-04 09:29] galad87 commented on #560
73a0435b0313e40234c744d7fcb298c2886a5d5c adds to the macgui an optional toolbar button with more options.

[2017-02-04 09:52] mpmc commented on #556
@bradleysepos I'll try without CFR & Bob & post the log ASAP.

***Edit***:

With VFR & no Bob I get a file!

[code]

[2017-02-04 12:55] galad87 commented on #526
Do we want to do a case insensitive sort in libhb, or just add an option to sort by name/title number in the gui?

[2017-02-04 13:01] sr55 commented on #526
I just did it in the UI to offer more flexibility. Via right click menu.

[2017-02-04 13:16] bradleysepos commented on #526
This seems like the perfect scenario to Do The Right Thing™ and dispose of additional unnecessary configuration.

[2017-02-04 13:21] sr55 commented on #526
unnecessary configuration?  Fwiw, it's useful to decide order that items are added to the queue.

Candidate for drag/drop re-ordering on the screen. NIce feature for power users without bloating the ui

[2017-02-04 13:38] bradleysepos commented on #526
Certainly no attempt to knock your implementation. I just cringe a little at the thought of case sensitivity being configurable in HandBrake. Insensitivity is the norm most everywhere consumer-facing. I guess my feeling is we should pick one, and there's a strong indication insensitivity would be the majority choice. I personally do not see it as a power user feature at all.

[2017-02-04 13:58] sr55 commented on #526
Um, I wasn't saying case sensitivty should be configurable. It should just be standard.

[2017-02-04 14:08] bradleysepos commented on #526
I must have misread your comment as providing case (in)sensitive selection via context menu. Clearly you meant sort by name, title, etc. *nervous grin*

[2017-02-04 14:09] sr55 commented on #526
bingo

[2017-02-04 14:09] bradleysepos commented on #526
I don't think my condition is contagious, thankfully.

[2017-02-04 17:03] SnottyColders opened #564 "Clicking "Open Source" - very long delay before interface responds in W10"
Have just installed HB v1.0.2 (2017012200) (And BTW please could we have a "copy version-number-to-clipboard" button or equivalent on the "About" ?!  After selecting first title to encode, and adding to queue, UI stops responding when attempting to add second and subsequent titles, although eventually it does start responding again (after about 30 seconds in my case).

Version: As above - 1.0.2 (2

[2017-02-04 17:06] bradleysepos commented on #564
There's good chance the stall is related to foreign audio scan, but I'm not sure whether it's normal to lock up the UI. Try removing that from the subtitles options and see if it changes anything (you normally want it).

[2017-02-04 18:36] sr55 commented on #564
Doubt it. Encode/Scan shouldn't affect the UI in this way.  There really isn't anything happening in the GUI when adding to the queue, so I have no idea why it would appear frozen.  I suspect it has to be an external influence on the application as no-one else has reported this kind of problem.

You'd have to go well out of your way, to make adding an objet to a list that slow.

Which nightly did

[2017-02-04 23:19] ArmandBernard opened #566 "FLAC to AAC passthru not working"
### Please describe the problem or feature request in detail:
When I have source audio that is in FLAC, I can't use AAC passthru. The option is selectable but the output file has no audio tracks.
Am I being stupid? It seems like I can do AAC passthru for everything (even if it isn't AAC to start with) except for FLAC.
### What version of HandBrake you are running:
Latest - 1.0.2
### What operating

[2017-02-04 23:23] sr55 commented on #566
It automatically drops tracks that have incompatible settings.
You only get automatic fallback encoding with AutoPassthru.

It doesn't automatically filter the passthru options currently, so you have to select the correct one, or use autopassthru instead.

Smarter dropdowns are on the todo list.

[2017-02-05 07:32] kawan2 commented on #539
Wonder if this is better solved by deleting -DWINXP_SUPPORT=ON in the x265 module.defs?  According to the x265 doc, it will use the newer Windows api to automatically discover and exploit the NUMA characteristics.

Of course supporting the wpp (default on), pmode and pme options would also give additional flexibility.

On a separate note, was there a reason for not specifying -DCMAKE_BUILD_TYPE=Re

[2017-02-05 09:41] kimbauters commented on #421
It's ... complicated. The H.265 seems to be working fine now, although it does occasionally halt at 0.04% with a `Error code -17,	hb_qsv_wait_on_sync	602`. The problem is that it doesn't happen consistently. It makes Handbrake stop responding, but after forcefully quitting Handbrake and restarting the encode the problem usually goes away.

The same holds for the H.264 encoder. For some combination

[2017-02-05 13:30] SnottyColders commented on #564
OK Thanks guys, I'm of the opinion that it's some external issue but blowed if I know what. Just to clarify, this happens when first loading handbrake, the main window appears with title bar but no content and then about 30 seconds later the "Open source" interface and the rest of the main window's background content appears. And then once the first item has been added to the queue, clicking the "

[2017-02-05 13:30] #564 closed, assigned to nobody

[2017-02-05 13:36] bradleysepos commented on #564
Ah, I didn't realize the UI froze on load as well. Sadly, this could be anything from incredibly slow disk access to anti-virus scanning to hardware instability.

[2017-02-05 13:37] sr55 commented on #564
Yup, update check is the only network access, and that can be disabled in preferences.   So it shouldn't affect normal operation.

The AV is a false positive. NSIS installers seem to trip up AV products quite often.

[2017-02-05 14:02] SnottyColders commented on #564
Thanks Brad(ley)

It’s all just a bit coincidental that I installed the latest HB vn and then this all started happening, but then I don’t trust W10 at all AND I have a couple of new WD MyCloud Mirrors installed on the subnet, which according to Windows have the same NETBios name (which they don’t) so I just wish I could go back to a Microsoft OS which worked properly, sigh...

Anyway, short of ha

[2017-02-05 14:05] SnottyColders commented on #564
OOOOHHH Didn't know if I replied to the email in Outlook it got posted here with my email address!

My bad....

[2017-02-05 14:05] sr55 commented on #564
e-mail address removed.

[2017-02-05 14:10] SnottyColders commented on #564
Thanks sr55

Can you remove it from the CC: reply I had from Bradley a couple of comments ago? Thank you for all your help...

[2017-02-05 14:14] SnottyColders commented on #564
Thank you, now that's what I call fast service, my friend ........

[2017-02-05 15:40] bradleysepos commented on #556
@jstebbins Seems bob + cfr may be causing a frame rate mismatch between first and second encode passes. Please take a look when you have time.

[2017-02-06 12:23] denis-trofimov opened #567 "Feature request. Concatenate multiple video chunks to one and encode in single run."
### I frequently use your app. It would be nice to concatenate multiple similar video fragments to one.  :relieved:

Usually i have footage from my training session (qigong) in 4 fragments, taken by photo\video camera. Cameras split video to 2Gb or 4Gb chunks, depending of model.
I use Handbrake as i used avconv before to convert them to Mpeg4 AVC HQ 1000 kbps archive. And for uploading to http://

[2017-02-06 18:58] ajkWare opened #568 "Audio sync error encoding from MP4 with pass-through AAC"
### Please describe the problem or feature request in detail:
There is a problem with audio synchronisation when encoding material that is in an MP4 container with AAC audio.  It varies from video to video.  This example ( https://1drv.ms/v/s!AuQFDwn43f0g5mYHOmpmrkTSG9BR )  results in a shift of ~350 ms.  Examining the output reveals that the initial frame of the input is repeated 9 times.

This s

[2017-02-06 19:02] ajkWare commented on #568
"What operating system and version and you running (e.g. OSX 10.11, Windows 7, Ubuntu 14):

Microsoft Windows NT 6.2.9200.0 - 64bit"

That should have read

**Microsoft Windows NT 10.0.14393.0 - 64bit**

(as in the Handbrake log)

[2017-02-06 19:05] bryankanderson commented on #559
Here are 2 screen captures of what I am experiencing:

 - Selecting Title 1 and the DVD (Casino Royale)
 - Title scan that occurs

![handbrake_titleselect](https://cloud.githubusercontent.com/assets/25472528/22662037/360c1598-ec6d-11e6-87d5-2e3e1b48b48c.jpg)
![handbrake_titlescan](https://cloud.githubusercontent.com/assets/25472528/22662042/3986c2ae-ec6d-11e6-843d-74d38bb1acca.jpg)

Any suggestion

[2017-02-06 19:11] sr55 commented on #567
Sorry, this has been requested and rejected a few times now. We recommend you process the file up front before using HandBrake with an appropiate tool.

It's beyond the scope of the project which is focusing on video transcoding, not editing / muxing features which require their own workflow that doesn't fit well in HandBrake.

[2017-02-06 19:11] #567 closed, assigned to nobody

[2017-02-06 19:15] sr55 commented on #568
Do you only get this with AAC passthru?

[2017-02-06 19:47] ajkWare commented on #568
I've only observed it there.  I've tried various flavours, and I believe that M2TS/H264/LATM-AAC => MP4/H264/AC3 is OK & MP4/H264/MP2 => MP4/H264/MP2(passthrough) is OK.  I could recheck if that was useful.

[2017-02-06 19:50] #559 closed, assigned to sr55

[2017-02-06 19:51] sr55 commented on #559
Thanks. Should now be corrected. This will be part of the 1.0.3 release but you can always try a nightly build in the mean time. Should be available in the next build.

[2017-02-06 20:39] ajkWare commented on #568
Ooops.   Just checked the logs for the MP4/H264/MP2 => MP4/H264/MP2(passthrough) case, and of course, Handbrake doesn't pass through MP2 (not sure why not) - so that audio was also recoded and gives no further insight.

[2017-02-07 04:15] bipsendk opened #569 "Text encoding not set correctly"
### Please describe the problem or feature request in detail:
I am trying to convert a title from a DVD to a MKV file - combining it with an UTF-8 encoded SRT file.
When investigating the MKV fle afterwards with KMVinfo, the stream says encoding is S_TEXT/ASS - and not S_TEXT/UTF8

### What are the steps to reproduce this problem:
Run command:

handbrakecli -i d:\M.A.S.H\S4\Disc1\MASH_SEASON_4_DIS

[2017-02-07 05:16] bipsendk commented on #569
The issue makes national characters look strange on my LG TV (works OK on VLC player on a PC, though)... Another MKV, that has subtitle encoding set as S_TEXT/UTF8 (not generated by me) works...
Let me know if output from mkvinfo from the 2 different files are needed.

[2017-02-07 15:47] jstebbins commented on #566
@sr55 the CLI (and I thought other GUIs) revert to aac encoding when aac passthru is not possible.  The idea is that if an encoder exists for the requested passthru, we give them the expected codec in the output even though we couldn't do exactly what was asked for.

When we don't have an encoder for the requested passthru codec (e.g. DTS passthru), the track is dropped.

[2017-02-07 15:56] jstebbins commented on #569
This is a "feature" of HandBrake.

When converting to mp4, HandBrake converts all text subtitles to TX3G subs.  When converting to mkv, HandBrake converts all text subittles to SSA subs.

The reason for this is a bit technical, but the short answer is it simplifies our code and makes it easy to use libass for doing text subtitle rendering when the "burn-in" option is enabled.

Someday, we may prov

[2017-02-07 16:40] bipsendk commented on #569
Well, I don't know what goes wrong - because with an UTF-8 encoded SRT file, and specifying UTF-8 in SRT encoding, the output does not look correct on my TV.
![20170207_173616](https://cloud.githubusercontent.com/assets/8531428/22700909/6ea0bb94-ed5c-11e6-9843-bbba17730b4f.jpg)

Any recommendation on how to fix this ?

It was supposed to look like:
[code]

[2017-02-07 17:44] jstebbins commented on #569
What's going wrong is your TV does not properly handle SSA subtitles

[2017-02-07 17:47] jstebbins commented on #569
Try playing the file with a player on your PC (like vlc) and verify that the subtitles are correct there.  If they are correct on the PC, then we can be pretty sure it's a TV problem.

[2017-02-07 18:06] bipsendk commented on #569
I know - they are OK on VLC... That is exactly why I would like to add the SRT file as UTF8, as I have seen it work on the TV on other MKV files (probably generated by another tool).

[2017-02-07 18:08] jstebbins commented on #569
My suggestion would be to use mkvmerge (or it's gui mmg) to merge the SRT file into your mkv after creating it with HandBrake.

[2017-02-07 19:00] sr55 commented on #569
Marking as duplciate of #160 and closing.

We may implement this in the future, but supporting SRT output isn't high on the list. Maybe a patch will come along so bookmark #160 to follow.

[2017-02-07 19:00] #569 closed, assigned to jstebbins

[2017-02-07 19:02] sr55 commented on #566
[23:15:34] Passthru requested and input codec is not the same as output codec for track 2, dropping track

Looks like it just dropped it.

[2017-02-07 19:03] sr55 commented on #566
On a another note, locking for community rule violation 2c.

[2017-02-07 19:03] #566 closed, assigned to sr55

[2017-02-07 19:03] sr55 opened #570 "WinGui: Filter Audio Encoders to available list in Audio Tab"
Title says it all. Mac/Linux GUI already do.

[2017-02-08 01:07] chrylis opened #571 "Preset doesn't restore nlmeans denoise setting"
I'm running Handbrake 1.0.2 on Arch Linux. I have a preset where I'm trying to apply nlmeans-strong denoising. The preset saves the denoising settings:

[code]

but when selecting the preset, the "Denoise Preset" option is set to Custom.

[2017-02-08 01:11] PokeCaptain commented on #571
Are you using Handbrake from handbrake.fr or the ArchLinux distribution? The ArchLinux distribution is known to be broken. See [dependencies](https://handbrake.fr/docs/en/1.0.0/developer/install-dependencies-arch.html) and [compiling](https://handbrake.fr/docs/en/1.0.0/developer/build-linux.html).

[2017-02-08 02:20] chrylis opened #572 "Preview popup window opens automatically"
After upgrading from 0.9.8 to 1.0.2, the Preview window now pops up when I do my first scan. There's an embedded preview, and I don't want a popup stealing focus, but there doesn't seem to be an option to disable it. The Show Preview button shouldn't activate automatically.

[2017-02-08 02:27] bryankanderson commented on #559
Awesome, thank you!!

[2017-02-08 16:53] jstebbins commented on #557
I can't reproduce the case where HandBrakeCLI leaves tmp files during a successful encode.  And I don't see any way that it *wouldn't* leave behind tmp files with --help.  i.e. exactly the opposite of what you are reporting.  So I have nowhere to go with this.

[2017-02-08 19:23] sr55 commented on #557
The only time I've seen this on windows, is when the app actually crashed so never closed but that's a seperate issue. All my own testing shows the folder getting clerned up on a clean exit

[2017-02-08 22:21] Synapto commented on #571
Same sort of thing happens with the current nightly Windows GUI.  This preset code:
[code]
loads up with NLMeans->Ultralight->None (Tune dropbox is not updated).

So, the original issue title was correct.

[2017-02-09 01:10] lonely188 opened #574 "General Preferences - When Done Reset - v1.0.2"
### Please describe the problem or feature request in detail:
In General Preferences under 'When Done' the "Reset to 'Do nothing' when the app is re-launched." feature is not working. I have tried changing the drop down for what to do when done in both the preferences and on the main screen (bottom right corner) of the app. No matter what Handbrake remembers the last option I had used, instead of

[2017-02-09 16:20] jstebbins commented on #571
Works fine for me on fedora.  Tested master and 1.0.2.

[2017-02-09 16:24] jstebbins commented on #571
I don't know what it is you are running on Arch, but the format of the preset keys you posted is completely wrong and not what is used in recent releases.  What you posted is the ancient plist format.  Current releases save in json format.

Perhaps you mis-characterized what you are doing?  Is this an old preset file you are attempting to import?

[2017-02-09 16:33] #520 closed, assigned to jstebbins

[2017-02-09 16:58] jstebbins commented on #556
Could you please post the text of the preset you are using?  The presets can be found in the file ~/.config/ghb/presets.json on linux. I think the preset is broken or being read incorrectly somehow.  The filter settings are missing the "rate" key that would tell it what CFR to use.

[code]

[2017-02-09 17:05] jstebbins commented on #556
Oh, nevermind.  I'll bet you are using CFR and framerate "Same as Source".

Aside from being buggy, this isn't really what you want when using bob deinterlacing.  Bob doubles the framerate of the source.  So (if the code wasn't buggy) you are generating twice as many frames as the original source, and then dropping every other frame in the conversion to CFR.

[2017-02-09 17:28] #556 closed, assigned to bradleysepos, jstebbins

[2017-02-09 18:48] sr55 commented on #572
What Platform are you on? Where did you get the build from?  Preview should not be automatically showing and we've not received any complaints about this happening.

[2017-02-09 18:57] sr55 commented on #571
There was a minor issue with reloading of presets in the WinGUI that I've corrected.

[2017-02-09 19:02] sr55 commented on #574
Can you confirm this exists in a nightly build as I've tried to reproduce it and can't.
https://handbrake.fr/nightly.php

I'm pretty sure all this was fixed in 1.0.2 and reports from other users confirmed it was now working. Are you sure it's 1.0.2 your on?

[2017-02-09 20:47] mpmc commented on #556
@jstebbins

Thanks for the info! I think I'll stick with decomb from now on, as it's obvious that bob isn't as good on some sources as I was lead to believe!

I compared an old encode of the same programme/episode which I used decomb rather than bob, the difference is night & day. I was actually shocked at how much better it looked, and this is at a lower bitrate :rofl:

[2017-02-09 20:57] bradleysepos commented on #556
The objective of bobbing is to sacrifice some visual resolution to better preserve motion. Since bob can increase framerate, you will need a little more data to encode those extra frames.

A very simplistic comparison would be, do you want your interlaced content to look more like a film or the 6 o'clock news? 25/30 fps progressive or ultra smooth 50/60 fps? I generally prefer the former, but depe

[2017-02-09 21:20] mpmc commented on #556
Thanks for the additional info @bradleysepos !

What was really jarring was the weird motion blur I noticed in certain scenes, it just looked strange & horrible! So, "it makes things look a bit hokey" indeed! :rofl:

[2017-02-10 00:06] jstebbins commented on #568
This is a problem with how edit lists are interpreted by the libav demuxer. The timestamps for this source file are being decoded incorrectly.

Here's a description of how mp4 timestamps work and what is going wrong for the curious.

Terminology:
pts = presentation timestamp, when a frame is displayed
dts = decode timestamp, when a frame is decoded
cts = composition offset, pts - dts
empty edit =

[2017-02-10 01:48] cehoyos commented on #520
Please add the upstream label.
(Regression since d1f539c9, never reproducible with FFmpeg.)

[2017-02-10 05:28] lonely188 commented on #574
Downloaded the nightly and I could not reproduce it. I tried reproducing it again today in my 1.0.2 install and it is still occurring.

Screen cap from my handbrake:
![image](https://cloud.githubusercontent.com/assets/22189402/22815105/98360dc4-ef1e-11e6-8bca-a20c93a0c772.png)

EDIT: I just tried reinstalling 1.0.2 and checking to see if that would resolve the issue, it did not. Not sure why its h

[2017-02-10 18:32] #568 closed, assigned to jstebbins

[2017-02-10 19:24] sr55 commented on #574
Yes, Apparntly I Fixed it right after 1.0.2 with c4a14d3465d4bc663bdb0ad061cba21eeef44afd

Linked and Closed. Thanks

[2017-02-10 19:24] #574 closed, assigned to sr55

[2017-02-10 20:55] ajkWare commented on #568
Thanks for the prompt action.  I presume this means that the upstream code needs changing (eventually - the libAV team seem pretty slow moving sometimes).  The equivalent ffmpeg function has also extra (slightly more complex) code at the point you've changed, and indeed ffmpeg doesn't exhibit the synchronisation problem.  Thanks again.

[2017-02-10 21:17] jstebbins commented on #568
Yes, ffmpeg has more complete edit list support.  I haven't submitted the patch I created to fix the problem to libav because I intend to either port the ffmpeg edit list support or rewrite it.

I looked over the ffmpeg edit list code and don't much like the code I saw.  It looks correct enough, but not very readable.  So I may rewrite with an eye toward making it more understandable.

[2017-02-11 15:26] ghost opened #575 "Videos get "stuck" at the end of playback on Apple TV (1st gen) using certain FPS settings."
### Please describe the problem or feature request in detail:

When a video is synced to the 1st gen Apple TV, normally when the video playback finishes the ATV switches back to the last screen you were on before you started playing the video. In HB 1.0.2. though although the videos sync and play perfectly fine, when they get to the end of playback they get "stuck" there and all you see is a black

[2017-02-11 16:47] cehoyos commented on #466
Not an upstream bug?

[2017-02-11 17:03] sr55 commented on #466
Not sure how that happened.

[2017-02-11 20:49] bikubay commented on #259
I am a novice on github . is there a build that has this enabled? i am using latest nightly but dont see this  option . i hava a GTX 950 ti card. pointers to how I can enable this patch would be appreciated. happy to test and report back

[2017-02-11 21:06] bradleysepos commented on #259
There is neither a build nor a patch. Just this feature request.

[2017-02-11 23:09] msridhar opened #576 "Segmentation fault for MPEG TS input"
### Please describe the problem or feature request in detail:

I was trying to transcode an MPEG TS file using [Don Melton's scripts](https://github.com/donmelton/video_transcoding) which in turn use HandbrakeCLI, but I got a "Segmentation fault: 11" message.

### What are the steps to reproduce this problem:

Using the [attached input](https://github.com/HandBrake/HandBrake/files/768981/test.ts.z

[2017-02-11 23:27] sr55 commented on #576
Are you able to provide a short/small sample file that reproduces?

EDIT: never mind, missed the link above.

[2017-02-11 23:28] msridhar commented on #576
@sr55 are you able to download [this attachment](https://github.com/HandBrake/HandBrake/files/768981/test.ts.zip)?  That's a zip file containing a small sample file.

[2017-02-11 23:32] sr55 commented on #576
Confirmed the bug.  Appears to be related to turning on Yadif deinterlacing.

[2017-02-11 23:34] bradleysepos commented on #576
GUI crash log:

[code]

Wasn't crashing until I enabled Yadif (and Default detection).

[2017-02-12 22:13] GlobalTraveler007 opened #578 "Selected Audio using Audio Defaults is incorrect or not working optimally"
### Please describe the problem or feature request in detail:
Assume you have an MKV container with as follows (All tracks are marked English and have track names associated with them):

0. 1080p Video track which we will assume will require encoding by Handbrake.
1. AAC Stereo (2 channel) - Assume this is encoded in an Apple TV 4 compatible fashion ie: Bitrate, etc.
2. AC3 5.1 (6 channel) - Assum

[2017-02-12 22:41] bradleysepos commented on #578
Not perfectly what you want, but All Matching Selected Languages with one Auto Passthru track gets you most of the way there. Feel free to manually remove the DTS->Whatever track. You could also choose a different fallback encoder, e.g. to achieve DTS->AC3.

[2017-02-13 06:45] royarellano opened #579 "Output File (*.m4v) Missing During & After Encoding"
### Please describe the problem or feature request in detail:

Upon starting the encoding process, where the progress percentage counter is increasing, the output file is missing.

### What are the steps to reproduce this problem:

Simply select any present and begin the encoding process will reproduce it.  Until I selected the "Legacy AppleTV 3" preset.  I began to notice the output file was appe

[2017-02-13 09:28] galad87 commented on #579
It's working as intended. Nothing is written during the foreign subtitles scan pass.

[2017-02-13 09:49] royarellano commented on #579
If it is working as intended why is it that when that single preset is added to the setup before starting the encoding, the *.m4v file never appears on the desktop during encoding.  And once complete, you can search my entire machine, and the file (*.m4v) is not found anywhere.  As though the file was never created to begin with.  Until I manually remove the preset for the foreign subtitles, then

[2017-02-13 09:51] galad87 commented on #579
We can't know until you provide the relevant activity log.

[2017-02-13 09:56] royarellano commented on #579
How do I paste the activity into this tool?

[2017-02-13 09:57] royarellano commented on #579
`[23:52:04] macgui: Handbrake Version: 1.0.2  (2017012200)
[23:52:05] hb_init: starting libhb thread
[23:52:05] hb_init: starting libhb thread
[23:52:22] macgui: trying to open a folder or file
[23:52:22] macgui: ScanCore trying to open a physical disc at: /Volumes/THE_BIRTH_OF_A_NATION
[23:52:22] macgui: ScanCore library found for decrypting physical disc
[23:52:22] macgui: ScanCore scanning spec

[2017-02-13 09:59] galad87 commented on #579
Please post a complete log, not one of a cancelled encode.

[2017-02-13 10:02] royarellano commented on #579
Now this, is the log taken when the preset is removed (the foreign subtitle one) and now the app works as advertised:

`[00:00:37] macgui: Handbrake Version: 1.0.2  (2017012200)
[00:00:37] hb_init: starting libhb thread
[00:00:37] hb_init: starting libhb thread
[00:00:48] macgui: trying to open a folder or file
[00:00:48] macgui: ScanCore trying to open a physical disc at: /Volumes/THE_BIRTH_OF_A_

[2017-02-13 10:03] royarellano commented on #579
If you want the whole thing to run twice, it would literally take me well over an hour and a half.  All I'm saying is that the preset for foreign subtitles is somehow causing or tied to what is causing the output file to never be created when encoding begins, resulting in zero output.

[2017-02-13 10:07] galad87 commented on #579
As I wrote in my previous message, the "Foreign Audio Search" adds an additional pass, in which it search for foreign forced subtitles. Nothing will be written to disk until this pass is completed. So if you cancel the encode while this pass has not been completed, you won't find anything on your disk.

But then you said that nothing is written to disk even if you let the whole encode finish, and

[2017-02-13 10:08] royarellano commented on #579
SMH.  Okay, well I'll have to get that to you later.  For now I was able to implement a workaround that mitigates the issue.

[2017-02-13 13:44] MakuSensei opened #580 "Handbrake 1.0.2 does not support embedded mkv ASS subtitle"
### Please describe the problem or feature request in detail:
Does not want to recognize mkv internal ASS
### What are the steps to reproduce this problem:
log
[10:27:24] gtkgui: HandBrake 1.0.2 (2017012900) - Linux x86_64 - https://handbrake.fr
[10:27:24] hb_init: starting libhb thread
[10:27:24] hb_init: starting libhb thread
[10:27:24] hb_init: starting libhb thread
[10:27:31] CPU: Intel(R) Cor

[2017-02-13 14:02] bradleysepos commented on #580
Is this a source build or AUR?

[2017-02-13 14:06] MakuSensei commented on #580
Of the stable archlinux package https://www.archlinux.org/packages/community/x86_64/handbrake/

[2017-02-13 14:08] bradleysepos commented on #580
Unfortunately that's not our package and is known broken.

We have a guide for building HandBrakeCLI on Arch here: https://handbrake.fr/docs/en/1.0.0/developer/install-dependencies-arch.html With the addition of a few packages, the GTK GUI should also build.

If this is still an issue with the official build, feel free to comment further and we can reopen.

[2017-02-13 14:08] #580 closed, assigned to bradleysepos

[2017-02-13 14:50] MakuSensei commented on #580
How can I compile the stable version?

https://github.com/HandBrake/HandBrake/releases/tag/1.0.2

[2017-02-13 14:59] bradleysepos commented on #580
Install dependencies per the article I linked, and you will be able to compile HandBrakeCLI (command line interface) from the 1.0.2 source archive at https://handbrake.fr/downloads.php

We don't yet have a guide for installing GUI dependencies on Arch, but it should be reasonably easy to sort out. The deps for Gentoo are:

[code]

I imagine they are similar for Arch.

[2017-02-13 17:44] sr55 commented on #578
Unfortunatly, this feature will never be everything for everyone without being overly complex. So while you can get close, it will require some manual intervention for this scenario. Hopefully what Bradely stated gets you part of the way there.

[2017-02-13 17:44] #578 closed, assigned to nobody

[2017-02-14 13:27] Svish opened #581 "Feature request: Support encoding from GIFs"
Any chance of adding support for using a GIF as a input? So I for example can compress a GIF to an MP4?

[2017-02-14 15:48] RandomEngy opened #582 "Hangs on scan of some .wtv files"
### Please describe the problem or feature request in detail:
On trying to scan some .wtv files, the process hangs. This did not occur in 0.10.x .

### What are the steps to reproduce this problem:
Try to scan this file:
https://dl.dropboxusercontent.com/u/1270113/Seven%20Sharp_TV%20ONE%20plus%201_2016_03_16_20_22_19.wtv

### What version of HandBrake you are running:
1.0.2

### What operating sys

[2017-02-14 17:16] jstebbins commented on #582
Thanks.  I located the problem (in libav).  Turns out libav master is already fixed, but the fix was a pretty major restructuring and has not been merged back to the v12 release branch.

I'm discussing on #libav-dev to see if they want to back port those changes.  If so, we can pull those in as patches.  If not, I can create a smaller patch that fixes the problem an alternate way.

[2017-02-14 19:00] sr55 commented on #581
What happens when you try and encode one at the moment?

[2017-02-14 21:13] sr55 commented on #571
Given we've not heard back from the OP and we can't reproduce the original issue in the Linux GUI, Closing. If you can provide evidence there is a bug, we can re-open.

[2017-02-14 21:13] #571 closed, assigned to jstebbins

[2017-02-14 22:23] Svish commented on #581
This: 😕

![capture](https://cloud.githubusercontent.com/assets/142162/22952259/86d30054-f30c-11e6-8de4-830bd5d4c13a.PNG)

**Acticity log**

[code]

[2017-02-15 17:45] jstebbins commented on #466
These problems may be fixed by 05f743e and 396249d
I have verified the sample that was linked to in the forums
https://forum.handbrake.fr/viewtopic.php?f=11&t=35690

If you have other wmv samples with problems,  please test with the next nightly build and report back.

[2017-02-16 04:29] GlobalTraveler007 commented on #578
Thanks. I already knew I could manually make it work but thanks anyway.

I do understand implementing this to do everything would make it very complex and thought that might be why you have not done anything with it yet. But if your looking for a model what might be able to provide a bit more flexibility without being completely insanely complicated perhaps something like the iTunes Playlists. Wit

[2017-02-16 10:18] mpmc opened #583 "Modify tags without re-encoding"
Would it be possible to add the option to modify tags without the need for re-encoding?

I noticed that it's possible to add them in before the encode, but not modify them afterwards without re-encoding (as there is no other way to save the changes).

This would be really useful for those who batch encode different series/episodes and would avoid the need for additional tools, MKVToolNix for examp

[2017-02-16 16:29] jstebbins commented on #583
HandBrake is a transcoder, not a tagging application.  I assume you are using the linux version of HandBrake since it is the only one that allows settings tags.

The only reason this option is there is because I have not found a nice tagging app on linux that I can point people to.  Someday, I would like to write such an app (assuming someone else doesn't do so first), at which point I will remove

[2017-02-16 16:29] #583 closed, assigned to nobody

[2017-02-16 16:38] SL-Gundam commented on #466
Installed nightly HandBrake-20170215-1cf1a5a_x86_64-Win_GUI.exe
But in the about screen after installation it shows
![image](https://cloud.githubusercontent.com/assets/912973/23030642/9ec8b970-f46e-11e6-9332-249ae6112562.png)

I still have issues with my wmv sample

[2017-02-16 18:02] bradleysepos opened #584 "Feature Request: Audio fallback encoder: none"
Option to not include the audio track if fallback condition is met.

[2017-02-16 18:04] jstebbins commented on #584
So, basically add a "None" option to the fallback encoder list?

[2017-02-16 18:04] bradleysepos commented on #578
I created feature request #584 which could help in your situation by automatically dropping the DTS. This is, of course, not a guarantee it will be implemented.

[2017-02-16 18:05] bradleysepos commented on #584
Yessir. And any logic necessary under the hood to handle dropping (not adding) the track.

[2017-02-16 18:08] bradleysepos commented on #584
This is mostly useful with auto passthru where more than one track exists for the selected language, and the desired track(s) are not singled out by first/all matching. It is also useful for dropping tracks not compatible with the container.

[2017-02-16 20:43] Paecificjr opened #585 "Batch Convert will not see multiple titles"
### Please describe the problem or feature request in detail:

When running a batch scan of a folder containing isos Handbrake will only see the first title in the video.

### What are the steps to reproduce this problem:

Open Handbrake
Select a folder containing n number of isos
Let it scan them
Notice that only one chapter is seen

### What version of HandBrake you are running:

Newest

### Wha

[2017-02-16 20:54] sr55 commented on #585
Batch scan doesn't support ISO files. They have their own title numbers so it doesn't fit with the way the feature currently works.  You'd need to mux the specific titles of the ISO's into MKV files and batch scan a folder of those.

[2017-02-16 20:54] #585 closed, assigned to nobody

[2017-02-17 11:38] j1elo commented on #510
Same error is happening to me just now. At the light of the latest comments, decided to change from aac to mp3 for the audio (single track), and it still broke at the same percentage and with the same results. Have to leave now for a couple weeks but I will provide more debug info after coming back...

[2017-02-17 13:27] Monk-Data opened #586 "Feature Request: Start Timer/Delay for Encoding"
### Start Timer/Delay for Encoding

**Allow the user to set a start time for encoding.**  I generally like to encode during the hours I am not working (eg, at night when I am asleep or otherwise not using the computer).  Sometimes I forget to start the processing.  If I could set a start time or delay, then I could start it anytime and know that processing would start later.

###### (Possible) Imp

[2017-02-17 18:56] sr55 commented on #466
You'll need to wait for the core to update to a later build. You've only got a newer GUI, not a newer libhb.

[2017-02-17 19:55] SL-Gundam commented on #466
Updated LibHB using the developer download
![image](https://cloud.githubusercontent.com/assets/912973/23080873/cba9d14c-f552-11e6-9680-7e51bef4d69c.png)

Still get "No valid source or titles found"

[20:54:27] CPU: Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
[20:54:27]  - Intel microarchitecture Haswell
[20:54:27]  - logical processor count: 8
[20:54:27] Intel Quick Sync Video support: yes
[20:54:27]

[2017-02-17 20:12] sr55 commented on #466
And this is why trying to track many issues in one thread is bad.  Can you start a new bug report so we can track that seperatly please.

#495 should be fixed.
This case is not fixed. dvr-ms is not supported by the new demuxer yet.

[2017-02-17 20:32] SL-Gundam opened #587 "wmv files of 2 GB or bigger fail"
When i use ![image](https://cloud.githubusercontent.com/assets/912973/23080873/cba9d14c-f552-11e6-9680-7e51bef4d69c.png) or any 1.0.x version I get "No valid source or titles found"

I can't be 100% sure but so far i've been able to process wmv files smaller then 2GB properly, larger then that is an issue

[20:54:27] CPU: Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
[20:54:27] - Intel microarchitectur

[2017-02-17 20:34] SL-Gundam commented on #466
That requires the knowledge that it is a separate issue. I figured out the 2 GB thing later on.

Anyway i created a new issue as requested: #587

[2017-02-17 22:15] secondsabre commented on #197
I see this is already possible in the Audio track section (in the Windows builds, at least), really looking forward to the Subtitles option as well.

If possible, it would also be great to be able to pass through track names from the original video.  The tags are pretty standardized (in MKV, at least), so giving Handbrake the option to just copy the track name from the input file and apply it to t

[2017-02-18 11:33] xastor commented on #151
Just had this issue too, and indeed, the destination i provided was an invalid path.
I've seen people with no write permissions having error code -2.

[2017-02-18 14:17] Yersh opened #589 "HandbrakeCLI 1.0.2 crashes during encode."
HandbrakeCLI 1.0.2 crashes during encode.

Here is file in question. [https://www.dropbox.com/s/189ibxdmmzb7m0q/057%20ArrayList%20Part%202.mp4?dl=0](https://www.dropbox.com/s/189ibxdmmzb7m0q/057%20ArrayList%20Part%202.mp4?dl=0)
It opens perfectly well in any media player I could find.

Here is the log:
[code]

Here are crash details:

[code]

[2017-02-18 14:36] jstebbins commented on #589
Already fixed in the nightly builds and will be fixed in the next bugfix release (1.0.3)
See ca1dccc and 4425691

[2017-02-18 14:36] #589 closed, assigned to nobody

[2017-02-18 21:07] ghost commented on #575
I've now found while doing some test builds that when building from commit 2490f8e from the 17th December 2016 the issue exists, and when building from commit 555e960 from the 16th December the issue doesn't exist, so it's been caused by one or more of the six commits after the one on the 16th (d165aa9, 1c7db69, ac6c1ab, 5b48deb, c4d539e, 2490f8e) I guess. I don't know which one or more in particu

[2017-02-18 21:20] jstebbins commented on #575
Thanks for doing some sleuthing.
It's most likely  2490f8e where we updated to libav 12 (libav does muxing for HandBrake).

Can you get MP4Box (part of gpac) and generate a map of an mp4 that works from prior to  2490f8e and a map from one that doesn't work from that commit? The command is

It will generate an xml file that shows the structure of the file

[2017-02-19 18:12] maximd33 commented on #539
just thinking loud: as per x265 and its numa support - what are performance differences can be expected for different modes?

[2017-02-19 21:52] ghost commented on #575
Hey there, yea I was about to (and eventually did) do as you asked, but just to throw a spanner in the works, I think I must have screwed something up yesterday when I was doing the various builds and everything I wrote in the previous comment was mostly completely wrong. Although I _thought_ 2490f8e had the issue, it apparently doesn't.

I'm not sure how I managed it quite frankly but when I saw

[2017-02-20 01:23] jstebbins commented on #575
The only difference I see between the 2 xml files is the one that gets stuck has 2 extra AAC audio frames, which I would expect given the changes between the commits you have narrowed this down to.  Some new APIs are used that makes it easier to be certain that we have read every frame from the decoders and flushed out every frame in the encoders.

So unfortunately, I don't see anything that I wou

[2017-02-20 10:39] ghost commented on #575
Hmm I see. With that in mind I just re-encoded a video with 25f6aad that had no audio tracks and found that it works fine. So it is the audio combined with same as source frame rate.

If there's two extra frames in the audio could it be that it overruns the video when used with same as source frame rate or constant frame rate with a set frame rate? I'm only plucking a guess out of thin air that's

[2017-02-20 17:34] RobD68 commented on #159
Any progress since July 2016 towards some QSV presets being available?

[2017-02-20 17:43] cccapon commented on #572
I have the same problem.  The platform is Linux GNU/Debian Testing release.  HandBrake is version 1.0.2 (x86_64) and the binaries are packaged by Deb-Multimedia.org.   After startup, opening the first video source causes the Show Preview window to appear on its own (without the button being pressed).  Once closed, loading subsequent videos does not cause the Show Preview window to appear again.

[2017-02-20 18:10] sr55 commented on #572
We don't support 3rd party builds of HandBrake, especially those known to be deliberatly broken.

If the Ubuntu binaries don't work, you'll need to compile from source.

[2017-02-20 18:13] sr55 commented on #159
@RobD68  no plans to add any at this time. If users want to change the encoder and save, they can.

[2017-02-20 18:16] sr55 commented on #579
Ok, If you do reproduce let us know and we can re-open. For now I'll close this off.

[2017-02-20 18:16] #579 closed, assigned to nobody

[2017-02-20 18:18] sr55 commented on #587
OK, I give up trying to find a sample. Are you able to ping me a link (s55 on the forum if you want to PM)

[2017-02-20 18:20] jstebbins commented on #159
IMO, if we add presets whose main purpose is to provide HW acceleration, then we also need to add a mechanism to hide or grey out those presets when the feature is not available on the users hardware or OS.

[2017-02-20 18:23] sr55 commented on #159
Exactly.  It's probably more trouble than it's worth. There isn't much configuration for HW encoders, so to be honest, it's not worth it.

[2017-02-20 19:12] jstebbins commented on #576
I can't reproduce this on linux.

@bradleysepos can you reproduce this with a debug build and get a gdb backtrace?  The trace in the crash dump isn't complete.

[2017-02-20 19:33] #503 closed, assigned to bradleysepos, sr55

[2017-02-20 19:56] sr55 commented on #576
I can't reproduce this either now. WIth 1.0.2 or current nightly.  I could swear this was consistently reproducible ...

[2017-02-20 19:59] bradleysepos commented on #576
`[15:04:39]      + options: vbv-maxrate=1500:vbv-bufsize=3000:crf-max=25:qpmax=34`

[2017-02-20 20:10] sr55 commented on #576
It's looking like a Mac Only bug. I can't reproduce on windows

[2017-02-20 20:55] bradleysepos commented on #576
Try Yadif with Interlace Detection off (I didn't need any other settings).

[code]

I can try to get a gdb backtrace in a day or two if still needed.

[2017-02-20 21:20] sr55 commented on #576
@bradleysepos I believe it's actually in caaac. That's where xcode crashes

xcode jumps to encca_aac.c line 385 there is a free(pv->buf);

[2017-02-20 23:49] Anton-V-K opened #590 "Irrelevant warning about Low Disk Space"
### Please describe the problem or feature request in detail:
The application complains about Low Disk Space, though each drive has more than 1GB of free space (system drive has 6GB, data drive has 4GB).

### What are the steps to reproduce this problem:
1. Open the application.
2. Choose the source file.
3. Choose the destination file.
4. Observe the warning...

### What version of HandBrake you

[2017-02-21 19:36] jstebbins commented on #576
I think this is a problem in yadif that's corrupting memory and causing the crash to appear to be somewhere else.  I ran the sample through valgrind and found invalid writes by yadif.  Posted a bug to libav bugzilla and notified someone who cares on #libav-devel.  So hopefully it will get looked at soon.

https://bugzilla.libav.org/show_bug.cgi?id=1031

[2017-02-21 19:46] sr55 commented on #590
The warning limit is 10GB which should catch the failure condition for most users. I do plan to make this user configurable in 1.1

You can turn off  pausing of the queue in the current release in Options -> Video but you'll still get a notification only (it won't prevent you proceeding) when you use the Browse Destination file chooser.

[2017-02-21 19:47] sr55 commented on #576
Yup, your right. I saw your comments in Libav so I removed audio encoding and it still crashed out.

[2017-02-21 20:54] #50 closed, assigned to jstebbins

[2017-02-21 21:16] maximd33 opened #592 "Subtitles scan crash with matroska dec"
most likely - libav's issue and should fine some time to fix it
but for the sake of history

also as it is related to subtitles (see gdb log below and related implementation details at https://github.com/libav/libav/blob/master/libavformat/matroskadec.c#L2730 ) : temp. workaround is to remove subtitles from .mkv, which helps to avoid HB crash.

### Please describe the problem or feature request in

[2017-02-21 21:44] bradleysepos commented on #576
Crashes on a 638x480 mp4 source for me, so it would indeed seem to be linesize related, and probably not tied to transport streams.

[2017-02-21 21:59] jstebbins commented on #592
I think I see why it crashes.  They look up an index_sub on tracks[i].stream index_entries[] and then use that index when referencing a different streams index (st->index_entries[]).  Basically somebody didn't proof read this very well.

[2017-02-21 22:21] jstebbins commented on #592
Could you try dropping the patch http://pastebin.com/bsSXt3k2 into
contrib/ffmpeg/A13-mkv-fix-seek-crash.patch

and retest?  That block of code is completely unnecessary for us, and of questionable value in general. Patch completely removes it.

[2017-02-21 22:35] maximd33 commented on #592
yeap, your patch fixes that issue, confirmed - no crash.

[2017-02-21 22:41] cehoyos commented on #576
Good catch, didn't know about this one!
Never reproducible with FFmpeg afaict from a quick test, consider adding upstream tag.

[2017-02-21 22:44] jstebbins commented on #592
Fixed in 380059d

[2017-02-21 22:44] #592 closed, assigned to jstebbins

[2017-02-21 22:50] maximd33 commented on #581
kind of interesting: title is about "encoding GIFs" but description says more about decoding GIFs,
what is more interesting ?
(assuming .mp4 -> .animated gif)

which is actually straight forward with [imagemagick](https://www.imagemagick.org/script/index.php)
`convert -delay 20 -loop 0 *.jpg myimage.gif`

[2017-02-21 22:53] bradleysepos commented on #581
Clarified title.

[2017-02-21 22:58] cehoyos commented on #592
Apparently fixed in FFmpeg by Rainer Hochecker in November 2016.

[2017-02-21 23:04] cehoyos commented on #581
Should get an upstream tag.

[2017-02-21 23:08] jstebbins commented on #581
It isn't clear yet that this is an upstream issue.  There may be something we are doing wrong that results in no frames read from the gif when scanning for preview frames.

[2017-02-21 23:11] bradleysepos commented on #592
@jstebbins Perhaps you can cross reference in case there is anything to be gleaned.

[2017-02-21 23:26] jstebbins commented on #592
@bradleysepos I already looked at it.  They did the same thing, removed the code.  But their reasoning was different.  It apparently also causes an unacceptable delay after seek when streaming over a network.  It's unclear if anyone else ever saw a crash with that code before. But it's clearly very very broken.

[2017-02-21 23:28] bradleysepos commented on #592
Excellent, thanks as always. 😸

[2017-02-21 23:35] cehoyos commented on #581
Which gif file are you testing? I wasn't aware avconv was able to decode animated gif files (I assumed the OP is interested in animated gif because he tried to compress them to mp4).

[2017-02-22 20:16] maximd33 commented on #434
can you please try recent driver available from https://downloadcenter.intel.com/download/26563/Graphics-Intel-Graphics-Driver-for-Windows-15-45-?product=88193 ?

[2017-02-23 04:49] ddiepo commented on #510
I had a similar crash with 1.0.2 which I was able to work around by changing the sampling rate "-R Auto" option to "-R 44.1", or any other specific value.  My source happened to be a terrible 11khz PCM audio track.

[2017-02-23 07:58] Synapto opened #594 "WinGUI - Preview's "System Default" Tickbox Invisible"
### Please describe the problem or feature request in detail:
When you select the "Use system default player" checkbox in the Preview window, no tick appears.  Yet, it does enable the default player, or disables it, with no persistent visual feedback.

However, if you click and _hold down the button_ over that checkbox, you can FAINTLY see whatever the current state is (blank for VLC or tick for s

[2017-02-23 08:07] sr55 commented on #594
Can you provide a screenshot please.

[2017-02-23 10:15] Synapto commented on #594
![tickbox](https://cloud.githubusercontent.com/assets/24931829/23255000/b9741bba-fa05-11e6-852a-a7e81cff09c5.jpg)

Top snip is what the tickbox looks like when "Use system default player" is selected.
Bottom snip is what the tickbox looks like when you click & hold the mousebutton over that same tickbox (releasing the mousebutton will disable the setting in this case).

It appears to be a simple c

[2017-02-23 15:51] jstebbins commented on #510
@j1elo if it still crashes after switching to a different audio encoder, then you are experiencing a different problem.  Could you please post an activity log and any crash report your OS might provide?  And if the source video is small enough to share with us can you provide it?

[2017-02-23 15:59] Svish commented on #581
@maximd33 Yes, my case was about encoding (with the goal of compressing) from a GIF. The other way is, as you say, not really much of a deal. It's actually how I ended up with the GIF to begin with, hehe. Thank you for clarifying the title! 👍

@cehoyos Correct, animated gif to mp4 was my plan 😃

[2017-02-23 19:09] sr55 commented on #594
Looks more like an issue with the WPF BulletChrome implementation.  It seems to have a "bug" when using the classic theme implementation that's choosing the wrong colour.

I've had a look and it seems there is gitchyness all over the place in the legacy classic theme. I'm not prepared to spend time putting OS/theme specific hacks in to fix this so I'm afraid this is going to be one of these things

[2017-02-23 19:09] #594 closed, assigned to nobody

[2017-02-23 22:50] #510 closed, assigned to jstebbins

[2017-02-24 00:10] #587 closed, assigned to nobody

[2017-02-24 00:45] jstebbins commented on #582
Fixed in d133359

[2017-02-24 00:45] #582 closed, assigned to jstebbins

[2017-02-24 03:54] jstebbins commented on #466
I wish there were a way to make a copy of a github issue.  This issue really needs to be cleaned up and pruned down to just dvr-ms. But I don't want to lose the history that is here 🙁

In any case, I think all but the dvr-ms issue here has been solved and should be fixed in the nightly builds.  If you still have a non dvr-ms problem, please open a new issue to track the problem.

Thanks to all.

[2017-02-24 04:23] smkent opened #596 "HandBrakeCLI sets the forced flag on the default subtitle track when --subtitle-forced is not specified"
### Please describe the problem or feature request in detail:

I'm transcoding a video file with several subtitle tracks, with the second track marked as the default. `ffprobe` on the source video shows the following subtitle information:

[code]

I'm trying to create a transcoded version of this video using `HandBrakeCLI`, with the  same subtitle tracks and subtitle track settings settings as the

[2017-02-24 04:39] jstebbins commented on #596
So far you've made an observation, but you haven't really said what your bug is.  I.e. what is the undesirable side effect that setting the forced flag causes. But I'll fill in some of the gaps for you.

The --subtitle-forced option in HandBrakeCLI does *not* correspond to the forced flag in the output mkv file.  The --subtitle-forced option basically enables a filter on the source input subtitles

[2017-02-24 08:28] galad87 commented on #526
This is fixed in the macgui, can I close the issue or do we want to leave it open until all the guis implement it?

[2017-02-24 08:35] sr55 commented on #526
Fine to close

[2017-02-24 08:35] #526 closed, assigned to galad87

[2017-02-24 13:48] obernegg commented on #434
HB todays Nightly with newest QSVdriver (see above maximd33) crashes just after
[13:54:43] mux: track 0, 14315 frames, 406737197 bytes, 5454.60 kbps, fifo 1024
[13:54:43] mux: track 1, 27961 frames, 11956486 bytes, 160.34 kbps, fifo 2048
crashes just before finishing with 99.7% done
activity log:
[BBB_log-102N0224-QSV6424.txt](https://github.com/HandBrake/HandBrake/files/799366/BBB_log-102N0224-QS

[2017-02-25 15:42] maximd33 commented on #434
@obernegg video sample from https://download.blender.org/peach/bigbuckbunny_movies/ ?

[2017-02-25 20:09] bradleysepos commented on #557
Closing. Feel free to comment further if a reproducible test case is encountered, and we can reopen.

[2017-02-25 21:38] n8henrie commented on #168
Just a quick followup, I encountered this problem again today (again with a DVD with angle brackets around the name, which I think is coincidental and not causative of the issue). By **un**checking the option to use `libdvdnav` (in the `Advanced` panel in settings) and restarting Handbrake, things now seem to be working.

[2017-02-25 23:15] sr55 commented on #572
If someone can reproduce on the official builds or builds compiled from source, and let us know the platform, we can look into further.

For now, I'm closing this off as not reproducible.

[2017-02-25 23:15] #572 closed, assigned to nobody

[2017-02-26 00:06] Cornbane opened #597 "Crash As Render Finishes In Nightly Build"
### Please describe the problem or feature request in detail:
When rendering some videos, as the render process is coming to its end the program will hang and the Windows popup that states that the program is not responding appears. This, in turn, prevents any "When Done:" selections from occurring.  However, the video appears to be rendered properly.
The crash doesn't occur with the current Relea

[2017-02-26 03:31] Cornbane commented on #597
Based on a quick render of a video that caused the crash, the issue doesn't seem to have carried over to the recent 1.0.3 Release build.

[2017-02-26 11:28] sr55 commented on #597
Probably indicates it's the work being done at the moment, not a backported fix then.  Hopefully john will have an idea.

[2017-02-26 14:27] joshualorenzo opened #598 "APPCRASH in both standard & nightly build"
### Please describe the problem or feature request in detail:
Failed to launch HandBrake.exe

### What are the steps to reproduce this problem:
While opening the file, both double-clicking and run as administrator.

### What version of HandBrake you are running:
Latest one from the site. 1.0.3 | Tried both standard and nightly build, reproduce the same problem.

### What operating system and versi

[2017-02-26 16:01] ghost commented on #538
HandBrake 1.0.3 compiles on platform ARMv7 but not ARMv5. [Here is](http://pkgsubmit.mageia.org/uploads/failure/cauldron/tainted/release/20170226151111.akien.duvel.43022/log/handbrake-1.0.3-1.mga6.tainted/build.0.20170226151140.log) the full compilation log for all platforms supported by Mageia. You may be interested by the lines:

[code]

It seems that you are not far from supporting ARMv5 platfo

[2017-02-26 16:03] bradleysepos commented on #538
Thanks @AugierLe42e 😸

[2017-02-26 17:30] sr55 commented on #598
Looks like it's the AMD drivers that are crashing, not HandBrake.  Maybe try updating them ?

[2017-02-26 17:59] Cornbane commented on #597
I do hope I'm not annoyingly reporting something obvious. On the Handbrake site in the Nightly section it does state:

so as an avid user I figured I'd contribute.

[2017-02-26 18:02] bradleysepos commented on #597
Just to clarify, the issue is fixed in the current release (1.0.3)? Is it still a problem with the latest nightly?

[2017-02-26 18:19] jstebbins commented on #597
It tried creating a source video with the same basic characteristics as yours and then tried encoding it with the same settings you've given in your log above and I can't reproduce the crash.

Are any of your crashing samples small enough to share?

[2017-02-26 18:43] obernegg commented on #434
**@maximd33**
i used the same old BBB-standard-version from ealier http://www.bigbuckbunny.org/
same as in your link with ---> 1080p .mov, 9min 56sec, 691MB

[2017-02-26 19:21] Cornbane commented on #597
I just attempted a render on the Nightly build that was crashing it before and it didn't crash this time.

It's the first time I've used the nightly build since installing Release 1.0.3 (Which worked fine). It shouldn't have any correlation, one would think, but you never know.
Even though crashes were still occurring after a system restart, letting my computer be shutdown for a while may have fix

[2017-02-26 20:04] #597 closed, assigned to jstebbins

[2017-02-26 20:04] jstebbins commented on #597
I think I found the problem.  Feel free to reopen if the next nightly build continues to give problems.

[2017-02-26 20:08] msridhar opened #599 "No source tarball download for 1.0.3"
### Please describe the problem or feature request in detail:

I can't download the source tarball for release 1.0.3.

### What are the steps to reproduce this problem:

Tried the link https://handbrake.fr/rotation.php?file=HandBrake-1.0.3.tar.bz2 from the downloads page, but it didn't work; I got a 404 Not Found error.

[2017-02-26 20:15] #596 closed, assigned to nobody

[2017-02-26 20:34] Cornbane commented on #597
Oh, interesting. Alright, will do!

[2017-02-26 20:59] obernegg commented on #434
works fine with new rel 1.0.3

[2017-02-26 21:08] bradleysepos commented on #599
Seems to be working here.

[2017-02-26 21:10] bradleysepos commented on #434
Thanks for letting us know.

[2017-02-26 21:10] #434 closed, assigned to sr55

[2017-02-26 21:58] jstebbins commented on #581
I looked into this to see where the problem exists.  There are 2 problems actually.

First, HandBrake scan fails if it can't find enough consecutive frames.  That's easy enough to fix.

But second, libavformat uses an image demuxer that reads the entire file as a single packet.  That would be OK if the libavcodec gif decoder had an associated parser that could separate out the frames from the pack

[2017-02-26 22:40] msridhar commented on #599
Most of the time when I try to download from the link above, I see the following:

[code]

But one time it worked, and I got this:
[code]

So it seems that the `rotate.php` link sometimes re-directs to https://download.handbrake.fr/handbrake/releases/1.0.3/HandBrake-1.0.3.tar.bz2, which is a mirror that does not (yet?) have the file (you can verify by clicking directly).

[2017-02-26 22:44] sr55 commented on #599
Fixed. Thanks for the heads up.

[2017-02-26 22:44] #599 closed, assigned to nobody

[2017-02-26 23:30] Svish commented on #581
@jstebbins Then I'll be patiently waiting for *it* 😀

[2017-02-26 23:42] #128 closed, assigned to bradleysepos

[2017-02-27 11:10] cehoyos commented on #128
I am curious: How did you find out how to fix this issue?

[2017-02-27 14:54] jstebbins commented on #128
I noticed when playing the file that the color space logged in the stream info was "21VN".  A definite clue that something was amiss. Then I checked what pix_fmt rawdec.c thought it was getting, which was YUV412 instead of NV12 as it should be.  Traced it back it's source from there.

[2017-02-27 19:08] #439 closed, assigned to jstebbins

[2017-02-27 19:12] jstebbins commented on #439
FYI, This fix works around the broken index and successfully re-encodes the entire file.

[2017-02-27 20:07] #501 closed, assigned to nobody

[2017-02-27 20:33] jstebbins commented on #281
It turns out this is more difficult than it would seem.  Previews are at a file position.  And when seeking to a position, there is no way to know, in the general case, what time corresponds to that position (due to streams that can have discontinuous timestamps).

I would suggest switching previews to a time based seek, but that doesn't work because we don't have a reliable way to seek all stream

[2017-02-27 21:57] spaceharfang opened #600 "incorrect avg bitrate encoding bug"
### Please describe the problem or feature request in detail:
The average bitrate configured is not respected.

### What are the steps to reproduce this problem:
Using an interlaced DVD VIDEO_TS folder running at 23.976fps.
- Select the x265 encoder.
- Select destination fps to 59.94 fps.
- Select Avg bitrate and set the destination bitrate to 1000kbps.
- encode the file either through preview or

[2017-02-27 23:15] bachya opened #601 ""Burned in" subtitles appear 0.5-1 seconds late in certain MKVs"
### Please describe the problem or feature request in detail:

Full issue described here: https://github.com/donmelton/video_transcoding/issues/131

Short version: transcoding a particular set of MKVs results in burned-in subtitles that are 0.5-1 seconds later than they should be (based on the source MKV, whose subtitles show up at the correct time).

### What are the steps to reproduce this probl

[2017-02-27 23:22] bradleysepos commented on #601
The current version of HandBrake is 1.0.3. I'm not sure where you got your build of 0.10.2, but I suspect it to be one of the known broken unofficial builds that we have no control over.

The best way to move forward is to remove the package and install our official PPA here: https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases

We can reopen this issue if the problem persists. Thank

[2017-02-27 23:22] #601 closed, assigned to nobody

[2017-02-27 23:28] bachya commented on #601
Thanks, @bradleysepos – I will update and post back with my results. FYI, since you asked, that version is what I got from the official Ubuntu Xenial repos.

[2017-02-27 23:29] bradleysepos commented on #601
Ah, that explains it then. Unfortunately, the official Ubuntu repo ships a modified and broken HandBrake. We really wish they wouldn't, as it creates numerous support requests for us, but alas they continue to.

[2017-02-28 02:17] 55667 opened #602 "Video start error 2"
### Please describe the problem or feature request in detail:
History: Video Start Error # 520 issue.
It seems to me don't been solved the problem, it's just bypasses. The first frame has been fine, but now also with standing frame to start the video. This is available to me, the last well-functioning version of HandBrake HandBrake core:
20161112211105-7611df7-master

### What are the steps to rep

[2017-02-28 04:08] bachya commented on #601
Checking back in; upgrading to the latest official version fixed the issue. Thanks so much, @bradleysepos!

[2017-02-28 04:09] bradleysepos commented on #601
Glad to hear it! :smile_cat:

[2017-02-28 13:54] cehoyos commented on #128
Thank you!
Why didn't you simply use av_bswap32()? Wouldn't that make the patch much smaller?

[2017-02-28 14:40] jstebbins commented on #128
Because I did the "simple" thing and looked at what ffmpeg did rather than search for an api that I didn't know existed 😉

[2017-02-28 22:02] #600 closed, assigned to nobody

[2017-03-01 00:01] albino1 commented on #50
Now that it's been pushed to Master I was able to test this out using the Nightly Build with several example files and it seems to work really well.  Thanks so much for adding this!

[2017-03-01 01:16] lonely188 commented on #574
Did this make it into 1.0.3? Strangely on 1.0.3 it still does not reset? Is there any ghost settings/cfg files some place that could be causing issues? (already tried cleaning out Roaming\HandBrake folder)

[2017-03-01 07:40] timpritlove opened #603 "HandBrake app is not signed"
### Please describe the problem or feature request in detail:

The HandBrake application is not signed by a valid developer account.

### What are the steps to reproduce this problem:

Download & launch app.

### What version of HandBrake you are running:

1.0.3

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):

macoS 10.12 Sierra

### Was there any er

[2017-03-01 09:27] cehoyos commented on #128
This is very sad to read because it would imply a copyright violation by you;-(

[2017-03-01 14:33] jstebbins commented on #128
I didn't think borrowing 3 lines of code would upset anyone.  I hadn't even looked to see at what point the code diverged and whether it was a fix in ffmpeg or a regression in libav.

But your point is valid. Fair use doesn't apply to code snippits, no matter how small. I'll send it upstream with the proper attribution and update our patch to include attribution.  Or I'll just bswap it.

[2017-03-01 17:34] dfarago opened #604 "Can't set default destination folder on v1.0.3."
Just updated to v1.0.3 (OSX version).

Running on Sierra 10.12.3.

I am unable to choose the default destination folder. File selection dialog just brings up another file selection dialog with 'open' button disabled.

Default destination is always 'desktop' folder.

[2017-03-01 17:39] galad87 commented on #604
You can select the destination by pressing the "browse" button in the main window. You were probably trying to configure the "send file to app" preference, which can send a complete job to an external app.

[2017-03-01 17:39] #604 closed, assigned to nobody

[2017-03-01 19:08] sr55 commented on #603
Yes, our app is not signed.

There are notes here on how to install HandBrake without lowering the system's overall security settings: https://handbrake.fr/docs/en/1.0.0/get-handbrake/download-and-install.html

Signing HandBrake is problematic for several reasons, including cost, how Apple forces key management, and so on. So right now, it's not feasible for us to add without causing ourselves a h

[2017-03-01 19:08] #603 closed, assigned to nobody

[2017-03-01 19:10] #598 closed, assigned to nobody

[2017-03-01 21:04] msridhar commented on #576
Is there a workaround on this one while we wait for the upstream fix?  I run into this crash surprisingly frequently when handling shows recorded with Plex DVR.  Thanks!

[2017-03-02 16:06] jstebbins commented on #576
Yes, don't use libav's yadif.  If you need deinterlacing, use HandBrake's decomb filter.

[2017-03-02 17:12] cortig commented on #51
I wish this issue could be reconsidered. Losing the information on the original metadata should be avoided if possible IMVVHO. I spend a lot of time re-adding it afterwards (and for the creation date and time, it's not as trivial as it might be for some of the other fields).

[2017-03-02 17:16] galad87 commented on #51
I would recommend to use the iTunes metadata format "date" field instead of the ambiguous ISOBFF creation and modification date fields (if you are using mp4).

[2017-03-02 17:52] cortig commented on #51
I can use iTunes or even various metadata tools out there after the fact to re-enter the tags, but I'd much rather simply not lose the information to start with :-)
I have several hundred home video files to convert and I am NOT looking forward to correct the media creation date after the facts… :-> Luckily for me, I have the dates and times in the file names so I'll be able to create a shell scri

[2017-03-02 18:29] TuxRneR opened #605 "Where can I download the protable version of the latest update?"
Can you give me the link?

[2017-03-02 18:50] sr55 commented on #605
Sorry but there is no official protable version of HandBrake.

Also, I should warn you to be careful if thinking about 3rd party builds. Many of them are mallicious or broken and you'll find no support for said builds here.

[2017-03-02 18:50] #605 closed, assigned to nobody

[2017-03-02 19:08] sr55 commented on #575
Wouldn't surprised me. QT doesn't really have a good track record.

[2017-03-02 19:10] sr55 commented on #530
If this is a GTK bug that we can't workaround, there is little point keeping the case open. Hopefully they fix the issue and it'll start working? Probably worth tagged as system issue.

[2017-03-03 19:10] AndreasL53 opened #607 "Improvide ease of use: Auto populate 'Destination Path' & File name when dragging / dropping files"
When dragging and dropping a file into HandBrake, the 'Destination' and 'File' fields should auto populated with the directory from which the file was dragged. Without this, a destination path und file name has to be given manually (tedious).

![2017-03-03 20_08_09-new tab](https://cloud.githubusercontent.com/assets/24692111/23565285/37781726-004d-11e7-93d3-a451544773a5.png)

[2017-03-03 20:26] sr55 commented on #607
Yes, this is the expected / desired behavior.

Autonaming is driven off a default path which has to be configured in preferences. There are no plans to change this.

[2017-03-03 20:26] #607 closed, assigned to nobody

[2017-03-04 09:21] bradleysepos commented on #281
Hmm, okay. Would it be an improvement to not include the subs in point-to-point previews where the start time is not 0? At least then we wouldn't display (possibly greatly) out of sync subs.

[2017-03-04 09:35] bradleysepos commented on #466
Closing. Additional comments may be left for further dvr-ms issues and we may choose to reopen this; otherwise, please open a new issue for unrelated issues (even with WMV).

[2017-03-04 09:35] #466 closed, assigned to bradleysepos

[2017-03-04 10:21] bradleysepos commented on #471
Revisiting this issue. To clarify, I'm suggesting replacing instances of Arial or similar with `sans-serif`, and instances of Courier or similar with `monospace`. These are the proper family names that tell the system to choose an appropriate font of the given type.

I'm guessing "mono" happens to work on Linux since DejaVu Sans Mono contains the word and matching is fuzzy. The family name `monosp

[2017-03-04 10:24] bradleysepos commented on #456
@jstebbins Any update on this?

[2017-03-04 10:34] bradleysepos commented on #438
@jstebbins Have you a chance to take a look at this?

@lferro9000 Do you need an avconv binary for macOS?

[2017-03-04 11:20] bradleysepos commented on #590
Notification on browse start/end seems less than ideal. I would think the best place for a notification is adding to the queue (same as starting a single job).

[2017-03-04 11:27] bradleysepos commented on #586
Dialog on start would be a bit intrusive; instead perhaps make a "Start At Time..." option accessible from the menu. On Windows, one of those nifty arrows next to a toolbar button could also be used to present the option (or click and hold, whatever is appropriate).

[2017-03-04 11:39] bradleysepos commented on #560
I added a few comments to 73a0435.

Would be nice to achieve some parity not just in features, but also in naming of said features, if only for documentation. 😸

[2017-03-04 11:43] sr55 commented on #590
Yeh, maybe so. I'll re-visit when I'm finished re-working the preset bar code.

[2017-03-04 11:44] bradleysepos commented on #539
Looks like @Rodeo314 added `-DWINXP_SUPPORT=ON` when we updated to x265 1.0 about 3 years ago, prior to HandBrake 0.10.0. I'm not sure it's relevant now, so with some basic testing we should be able to remove it.

[2017-03-04 11:47] bradleysepos commented on #560
I'm also seeing an issue with the icon being cut off in the Customize Toolbar dialog.

![add-titles-icon-offset](https://cloud.githubusercontent.com/assets/70239/23578493/3afcfbd8-00a6-11e7-9014-888bde844203.png)

[2017-03-04 11:47] sr55 commented on #539
Yeh, we don't need XP support since we don't support it.  As for Vista, it dropped below my support threashold some time ago (in terms of user count). If that's at risk also, I'm OK with that.

[2017-03-04 11:48] bradleysepos commented on #539
Seems fine, I'll remove it shortly.

[2017-03-04 11:49] sr55 commented on #466
Just as a final note, libav may add support back in for this at a later point, at which point we'll pull that in.

[2017-03-04 11:50] #539 closed, assigned to bradleysepos, sr55

[2017-03-04 11:50] bradleysepos commented on #539
If there are other issues preventing NUMA from working, feel free to comment further and we can reopen this.

[2017-03-04 11:53] bradleysepos commented on #530
Closing as system/upstream issue. Feel free to comment further if we need to reopen for other reasons.

[2017-03-04 11:53] #530 closed, assigned to jstebbins

[2017-03-04 12:55] bradleysepos commented on #421
Further QSV fixes/improvements landed with HandBrake 1.0.3. @kimbauters would you mind testing again?

[2017-03-04 14:39] jstebbins commented on #456
A proper solution for this is pretty involved. I've started working on it, but I'm splitting my time with other projects so as not to stall other things. It's going to take a while.

There is a workaround I think I can apply more easily. So I'll look into doing that first.

The problem with this video is it has no IDR frames or recovery points. We wait for one of these in order to be sure we are g

[2017-03-04 14:42] bradleysepos commented on #456
Ah, so the input is definitely broken. Hopefully not too many examples of this case exist, so no rush.

[2017-03-04 14:44] jstebbins commented on #438
I don't recall if I downloaded and looked at this source at all. If you tell me the file name I can check my stash of samples

[2017-03-04 15:03] bradleysepos commented on #438
OP should have invited you to his private repo with the files; run a keyword search against your inbox. I seem to have left the repo and removed the files at some point.

[2017-03-04 17:22] #445 closed, assigned to sr55

[2017-03-04 17:23] sr55 commented on #275
45eb6a58ae7fd4e0f84d9e64eb78def0eebfe274

Windows has support for:
- Renaming Presets
- Updating Presets
- Order is hard coded, Prefers User Presets to the top now.

Todo:
- Allow Category to be defined
- Allow re-ordering (maybe)

[2017-03-04 22:51] astiob commented on #471
Just as a note, libass accepts `monospace` regardless of the font provider backend, but the backend decides what it is mapped to. Currently, it is mapped to `Courier` for CoreText and to `Courier New` for DirectWrite, while the Fontconfig backend lets Fontconfig itself decide (which should result in whatever is set in `fonts.conf`).

[2017-03-05 11:14] ghost opened #612 "smaplerate.hh not found in compile"
### Please describe the problem or feature request in detail:
Upon compiling in Linux (Gentoo Linux here) the current git version does not find "samplerate.hh" in "sync.c" of libhb

### What are the steps to reproduce this problem:
Checkout current git version (version when bug occured: 45eb6a58ae7fd4e0f84d9e64eb78def0eebfe274) and compile (used config: ./configure --enable-x265)

### What version

[2017-03-05 12:20] bradleysepos commented on #612
Sorry you're having trouble. Have you followed the guide to installing dependencies on Gentoo? https://handbrake.fr/docs/en/latest/developer/install-dependencies-gentoo.html

[2017-03-05 12:56] ghost commented on #612
Thanks. Libsamplerate was missing. You shouldnt include it with "" though, then I would probably have seen the error. You should include it using <> instead.

[2017-03-05 12:56] #612 closed, assigned to bradleysepos, jstebbins

[2017-03-05 13:19] cehoyos commented on #438
Please fix the issue title, it is completely misleading.

[2017-03-05 13:23] bradleysepos commented on #438
@cehoyos It seems spot on to me. The sample file(s) lack a MOOV atom, and adding one appears to fix the issue.

What misled you? What title would you suggest?

[2017-03-05 13:25] bradleysepos commented on #612
I'll leave that decision to @jstebbins. Glad you got it working.

[2017-03-05 13:29] cehoyos commented on #456
mkvalidator says the file is valid, every player here plays the sample.

[2017-03-05 13:35] cehoyos commented on #576
Does the decomb filter have any advantage over yadif?

[2017-03-05 13:37] cehoyos commented on #128
May I ask when you are planning to fix A17-mkv-rawvideo.patch?

[2017-03-05 13:40] bradleysepos commented on #576
You may find https://github.com/HandBrake/HandBrake/blob/master/libhb/decomb.c interesting.

It uses a thresholding algorithm of sorts to switch between different interpolation modes, which can include yadif. The opening comments explain what interpolation modes are available and combinations can be achieved (enum).

EEDI2 can be slow but provides improved results, in my experience. In 1.0.0 and l

[2017-03-05 13:42] bradleysepos commented on #128
@cehoyos It would appear this was updated in https://github.com/HandBrake/HandBrake/commit/a7d96f24f2c8df6b1092d4376c436e6d63514bdb

[2017-03-05 17:17] maximd33 commented on #421
to add @bradleysepos comment: you might want to consider driver update as well

-17 should be fixed by 6aa1b40aead1653b39c93195aed4e920b6b0fcc9

[2017-03-05 17:21] jstebbins commented on #602
I don't understand your description of the problem.  Could you give more detail please.

[2017-03-05 18:22] ghost commented on #575
Well, It's obviously entirely up to you guys if you want to support old devices like the ATV anymore or at least workaround any issues that they may present. I'm not a coder so I can't do anything about it unfortunately beyond the crappy detective work I've been attempting here. I can't even get most of the commits in that selection to build so can't even even narrow it down to a single commit

Th

[2017-03-05 22:02] #590 closed, assigned to nobody

[2017-03-06 00:06] 55667 commented on #602
**The problem:**
A continuous motion video start-up, after converting a still image starts. (More of the same frame.)

**Details:**
The attached (**Video start error 2.zip**) in the pictures visible the changes of frames. Frame by frame.
The **Astra HD teszt VC 01-03.bmp** images with an older HandBrake core working VidCoder converted video frames. This encoding is flawless.
The **Astra HD teszt H

[2017-03-06 06:17] smkent opened #615 "HandBrakeCLI with ffmpeg fails with "ERROR: avformatMux: track 1, av_interleaved_write_frame failed with error 'Function not implemented'""
I'm not sure if this is a problem with `HandBrakeCLI`, `ffmpeg`, or simply how I've compiled either (or both) packages.

Gentoo added HandBrake 1.0.3 to Portage and I installed it. I also have installed ffmpeg version 3.2.4. When transcoding a specific video file, `HandBrakeCLI` fails less than 2% of the way into the video with a large amount of these messages:

[code]

I have a second machine, al

[2017-03-06 06:20] galad87 commented on #615
Handbrake is not meant to be used with an arbitrary libav/ffmpeg version, but only with the patched libav that is downloaded and compiled by the handbrake build system.

[2017-03-06 06:20] #615 closed, assigned to nobody

[2017-03-06 07:05] smkent commented on #615
[I rebuilt HandBrake without the Gentoo modifications to its build system](https://github.com/smkent/portage-overlay/commit/1c5dddb55fec044afee11bd5edbd5fdc6e906fed) and `HandBrakeCLI` seems to be working properly now. Thanks!

[2017-03-06 14:08] Kaijuzilla commented on #259
Well, I'll join the request train in hopes this gets implemented soon.

[2017-03-06 16:46] jstebbins commented on #602
Are you saying that the first few frames of video are the same?

In your source video, the first video frame starts at 0.176 seconds.  In cases such as this, the filter that converts to constant framerate (--cfr on the command line) generates frames that start at time 0 and duplicates the initial video frame until the source video start time.  This is a bug or feature depending on your perspective

[2017-03-06 17:00] jstebbins commented on #575
We want to support these devices when they don't impede progress.  But I just don't know what to do about this.  The generated file is correct as far as I can tell and the differences from files generated by previous versions of HandBrake are really minimal.  A couple extra audio frames *shouldn't* cause this sort of thing.  Tracks differ in duration quite frequently and the container format is de

[2017-03-06 23:35] C-McButterpants commented on #574
Installed 1.03 — lonely188 needs to change his name to lonely187—I mean, I have the same issue, is what I'm saying.
Super annoying...

[2017-03-07 14:35] C-McButterpants commented on #574
_Important observation:_

Opening Handbrake with the **When Done:** 'Shutdown' option on sees it revert to 'Do nothing' when toggling _Tools»Preferences»'Show Queue in place of the tab controls when toggled on.'_

The new built in Queue behaviour is lacking toolbar _Options_ and loses the ability to properly _Pause Queue_.

Perhaps this is the root of the conflict?

[2017-03-07 19:02] sr55 commented on #574
Nope, This was not inlcuded with 1.0.3 either.  1.0.4 will include it.

[2017-03-07 19:44] C-McButterpants commented on #574
That's good to know. Cheers.

[2017-03-07 23:43] cehoyos commented on #576
Is there a link to EEDI2?
The link in the source code is 404.

[2017-03-07 23:47] cehoyos commented on #438
What about "program stream cannot be opened"?
Anything that doesn't mention "mp4" or "moov".

[2017-03-07 23:49] bradleysepos commented on #576
Hmm, that is unfortunate. Some links:

- http://web.archive.org/web/20151222160603/http://web.missouri.edu/~kes25c
- https://github.com/Rodeo314/eedi2 (nice save, Tim!)
- https://github.com/HandBrake/HandBrake/blob/master/libhb/eedi2.c

[2017-03-07 23:50] cehoyos commented on #128
I cannot understand why the incorrect attribution wasn't simply fixed.
(Or in other words: Why a possibly minor or at least forgivable issue was made worse.)

[2017-03-07 23:53] bradleysepos commented on #438
The input is an MP4 lacking a MOOV atom. I guess I don't see what's confusing about this.

Edit: Ah, I think I get it.

[2017-03-08 10:26] colincameron commented on #557
I'm having the same issue as @smkent here. I have over 1200 temporary directories left behind by handbrake over the last month or so.

    $ ls -d /tmp/hb.* | wc -l
    1281

HandbrakeCLI is launched from another script: https://github.com/donmelton/video_transcoding

System is Ubuntu 16.04, latest Handbrake version, no errors.

[2017-03-08 14:42] bradleysepos commented on #557
Reopening so we can take another look at this.

[2017-03-08 14:44] jstebbins commented on #557
A log of a run that leaves behind a temp directory might show something that could help us

[2017-03-08 16:08] maddin200 opened #617 "Resource leak"
\libhb\openclwrapper.c line 133
missing fclose(file);

same holds for line 139

[2017-03-08 16:09] bradleysepos commented on #617
Thanks, we'll take a look.

[2017-03-08 19:11] maximd33 commented on #617
thanks for the report,
https://github.com/HandBrake/HandBrake/pull/618 should fix this issue

[2017-03-08 19:13] #617 closed, assigned to maximd33

[2017-03-09 01:13] 55667 commented on #602
I converted the video in variable frame rate setting. A video was flawless. The continued movement, each frame is identical to the source video frames.

Two cut-out portion is also used to convert the variable frame rate setting. The motion was also continued. The attached pictures show an error has now. The entire video when converting this error does not occur. I do not know what the reason is.

[2017-03-09 02:17] Dan203 commented on #259
FYI I just got a new i7-7700k and installed a Nvidia GTX1050. I ran encoding tests (via MediaCoder) using a 720p/59.94 MPEG-2 source file and saving to 5Mbps H.265 HEVC format. x265 ran at about 80fps, Intel QuickSync ran at about 140fps and NVEnc ran at 590fps! That's an insane improvement over QS and this is a bottom of the line NVidia card vs a top of the line Intel CPU.

[2017-03-09 02:22] bradleysepos commented on #259
Both hardware and software encoders can be made to run fast if quality is not considered. In the past, many hardware accelerated encoding schemes claimed to outpace the x264 encoder, but at similar fps the software encoder actually produced better quality. Only if your encodes are of nearly identical quality can fps comparisons be relevant.

[2017-03-09 02:40] ajmas opened #619 "Code Signing on MacOS X"
It would be useful to have Handbrake code signed on MacOS X. This is especially true for less 'techie' users, so they don't need to have to understand how to allow it to run.

[2017-03-09 02:43] bradleysepos commented on #619
This has been discussed and we don't disagree. However, there are some barriers for us as a project given Apple's requirements for an organization to secure a Developer ID and the associated signing abilities. Need a legal entity with a DUNS number, and independent verification to start. It is far easier to approach this from an individual perspective, but in any case it's non-trivial for the time

[2017-03-09 02:49] Dan203 commented on #259
I used the exact same settings, as far as bitrate, etc... go and the NVEncoder setting was set to "Highest" quality whereas x265 was set to "Faster". All other encoder specific settings were left at default. I watched about 30 seconds of all 3 files and they all looked fine to me, although I know that's not enough to determine true quality.

FYI I'm a developer for VideoReDo, so I know how this st

[2017-03-09 11:15] maddin200 opened #620 "missing free"
HandBrake-master\libhb\openclwrapper.c line 318

missing free(binaries);

[2017-03-09 18:34] Aaron432 opened #621 "x264/265 presets does not change in latest Nightly"
I'm on Ubuntu 16.04 and I'm using latest Handbrake Nightly (20170308191246-27c5b91-master-zhb-1ppa1~xenial1). I also have x264 v2:0.148.2643 and x265 v2.1-2.
When I change x264 (8|10-bit) or x265 (8|10|12-bit) presets from default "medium" to any other (let's say "slow"), video gets encoded with medium anyway. It's impossible to use different preset than medium.
I always have "+ preset:  medium" i

[2017-03-09 18:43] Aaron432 commented on #621
Update: I think it's always using preset which is in parent "Custom Preset". If I select custom "H.265 MKV 1080p30" it will encode in "slow" like the presets default, but won't allow changing to anything else.
So my bad in my main post... if I do reproducing steps from my main post (won't select custom preset) it encodes in "fast", like Handbrake's default, but still will not change to anything el

[2017-03-09 18:52] sr55 commented on #259
Last I looked, the H.265 encoder that Intel has is quite a bit more mature and feature packed comapred to NVEnc. It looks like NVEnc still doesn't support b-frames for example. only I and P.  Their H.264 encoder seems more mature though at first glance.   So I'd expect compression efficiency to suffer quite badly on NVEnc vs QS or even x265

In otherwords, it'll be interesting to see if Nvidia mai

[2017-03-09 19:15] Dan203 commented on #259
I reran the test using H.264 instead and the NVEnc was still 2x faster then QuickSync. 630fps vs 330fps. And as far as I can tell the output is essentially the same. Wont compare x264 since it has way more options and getting them to match the GPU encoders exactly would be a nightmare.

The point is that I think adding NVEnc support to Handbrake would be a good idea. For those that have NVidia car

[2017-03-09 19:40] #621 closed, assigned to jstebbins

[2017-03-09 19:45] jstebbins commented on #259
Me too comments won't get it done any faster.  We have lots of feature requests and not enough people or time for them all.  If you want it faster, submit a good patch.

[2017-03-09 19:45] sr55 commented on #259
I'm not arguing against adding it. I'd also point out that you may not see NVEnc encoding at those kind of speeds in HandBrake.  We have our own pipeline and filtering that takes up CPU time regardless of the encoder used. You only get those kinds of speeds when you use full stack with zero-copy.  A lot of the features in HandBrake prevent that.

[2017-03-09 20:08] Dan203 commented on #259
We have the same problem in VideoReDo. We offer both QS and x264 in our product and neither one hit their full potential due to other limitations in the way data flows through the product. So I understand the numbers I'm seeing aren't necessarily indicative to what we'd see from Handbrake. I was simply pointing out that in my limited tests NVEnc seems to provide a significant boost compared to QS

[2017-03-09 20:12] bradleysepos commented on #259
No worries at all, and thanks for sharing.

Always good to keep in mind the three factors (which I'm sure you know): speed, quality, and size. Match two and you can get a somewhat accurate comparison of the third. If NVEnc's encoder(s) are I/P only, I'm willing to bet at the same quality, the output is larger.

[2017-03-09 20:35] Dan203 commented on #259
There are B frames in the H.264 encode. Compared to the QS encode they're virtually identical. They have basically the same GOP length, they have the same IDR-B-B-P pattern, they have nearly identical SPS/PPS, they are roughly the same size and have almost the same bitrate. (the QS one is actually a little lower then what I set) So it seems to be an apples to apples comparison between QS and NVEnc

[2017-03-09 20:39] bradleysepos commented on #259
Cool. 😸

[2017-03-09 20:41] sr55 commented on #259
Fwiw, The performance of the low-end vs nvidia in theory, should be the same as the high end, barring any memory constaints.  Same with QSV. High vs Low should be the same.  So it's especially benifical for low-end users in both cases.

[2017-03-10 00:58] xana43 commented on #514
I found the cause of the corruption, it took a while but with many tests, it's not due to hand brake or the system it's encoding it, it's due to the system that the video was recorded on, and considering that a 1080p 60FPS lossless recording was being done through OBS on a nearly 4 year old computer, that is bound to happen....well now I feel bad for making such a wild goose chase

[2017-03-10 10:06] maximd33 commented on #620
https://github.com/HandBrake/HandBrake/pull/622 should address the issue

[2017-03-10 16:21] #518 closed, assigned to bradleysepos

[2017-03-10 16:34] bradleysepos commented on #620
Closed via 69231c9 and 311b084.

[2017-03-10 16:34] #620 closed, assigned to maximd33

[2017-03-10 16:56] Monk-Data commented on #586
###### (another possible implemenation)

Under **Tools > Options > General**, add a ` Start Processing Time Range ` setting that would allow the user to choose a Start Time and an End Time.  When set, jobs will delay starting until the specified Start Time.  **This would only affect job *starts* and would not cause jobs to "pause" when outside the time range.**

This way a user could set the range

[2017-03-10 18:44] reanimastudios commented on #299
When you make a statement, ``I'm not sure if OpenCL even supports OS X,'' when OpenCL was developed by Apple and optimized throughout OS X you appear ignorant.

If you had said, ``Currently Handbrake has broken support for OpenCL on all platforms other than Windows,'' then you sound intelligent and accurate wrt the current status of the Handbrake source code.

Handbrake needs to fix its software.

[2017-03-10 18:59] bradleysepos commented on #299
HandBrake is a project. If you would like to contribute, patches are most always welcome.

If your intent is simply to attack us or the software we're developing in our spare time, on a volunteer basis, then it is you who has the issue needing fixed.

[2017-03-10 19:00] jstebbins commented on #299
OpenCL gets very little attention in the handbrake code base because it was essentially dumped on us and abandoned by it's original author and it has never offered much in the way of performance improvement.  So not worth our time to "fix"

[2017-03-10 19:10] jstebbins commented on #299
Bah! I didn't read your original comments closely enough.  You aren't even using HandBrake's OpenCL code.  You are using x264's OpenCL code.

That's a different project.  We don't maintain x264. Their official web site is:
http://www.videolan.org/developers/x264.html

[2017-03-10 19:12] jstebbins commented on #299
Oh, and OpenCL accelerated lookahead in x264 offers very little performance advantage as well and IIRC degrades quality by a bit.  I'm guessing they don't prioritize it for the same reasons we don't put any priority on OpenCL fixes.

[2017-03-10 19:13] sr55 commented on #299
I've added context to the senstence to avoid anyone else getting confused.

Locking. This kind of behaviour will not be tolerated here.

[2017-03-10 21:13] bobziroll commented on #472
Just updated my fam's computer to 1.0.3 and it looks like the default settings are working. Thanks!

[2017-03-10 21:18] bradleysepos commented on #472
Great, thanks for letting us know @bobziroll. 😸

[2017-03-11 12:28] galad87 commented on #560
In the menu if you press alt the item will change to "add all titles to queue", probably it should work the same way in the toolbar item too. Cut off icon has been fixed.

[2017-03-12 17:41] jstebbins commented on #471
After additional experimentation, we've settled on using monospace for Linux and OSX and Lucida Console for Windows.  This resolves the problem with the difficult to read font on windows.
https://github.com/HandBrake/HandBrake/commit/65e24973e7deff59f93caabd1d561c8d0d2e9163

Closing this issue.  If anyone wants to make a request for configurable font selection, please open a new issue, or pile ont

[2017-03-12 17:41] #471 closed, assigned to bradleysepos, jstebbins

[2017-03-12 17:45] bradleysepos commented on #471
Aside, this should be in the next [nightly build](https://handbrake.fr/nightly.php).

New features/enhancements such as these will not be part of the 1.0.x series, but will eventually be part of HandBrake 1.1.0.

[2017-03-12 17:48] jstebbins commented on #471
@bradleysepos Actually, this is localized enough that I would be willing to merge this into 1.0.x.  And can be seen as a regression relative to 0.10.x, so qualifies as a "bug fix"

[2017-03-12 18:03] bradleysepos commented on #471
Oh, I didn't realize it was a regression. In that case, by all means.

[2017-03-12 18:24] jstebbins commented on #602
I'm not exactly sure what you mean by "Two cut-out portion", but I think you mean you edited the original mkv in some way to cut out a portion of the video.  Then you attempted to encode that portion that you cut out.  From the errors in the log, my guess is that you did not cut the video on a GOP boundary.

When decoding h.264 video, the decoder uses previous frames as references when decoding a

[2017-03-13 07:47] 55667 commented on #602
The video was cut with AviDemux. The AviDemux only cutting point cut in the video in any setting, but I was set cutting point. The downloadable video is also with the AviDemux has been trimmed from the original recording. The difference from the beginning of the fast movement or the largely black level possible.
You can try separately to the scene 13 and 14 cut into the video and convert it.

[2017-03-13 09:12] cehoyos commented on #438
Isn't the title even worse now?
Could you point me to the sample (I know that avconv probing can be broken but in this case it seemed unlikely to me)?

[2017-03-13 09:19] cehoyos commented on #576
I opened FFmpeg ticket #6233, thank you for the link!

[2017-03-13 09:37] maddin200 opened #624 "Memleak"
\libhb\openclwrapper.c line 804

missing free(devices);

also other return statements in that function

[2017-03-13 14:00] maddin200 opened #625 "Nested loops"
libhb/qsv_filter.c line 421

nested for-loops mit index i

[2017-03-13 15:01] jstebbins commented on #625
Although the reuse of the variable in the nested loops is bad practice, the code is technically correct.  There is a break after those nested loops, so the outer loop is not meant to advance once the inner loops have run.

[2017-03-13 15:04] maddin200 commented on #625
Maybe it is useful to add a comment in the source code.

[2017-03-13 15:05] jstebbins commented on #624
It appears many error paths in the opencl code suffer from leakage 🙁

[2017-03-13 15:06] maddin200 commented on #624
I think this is the last one (as far I can trust cppcheck .-) )

[2017-03-13 15:06] jstebbins commented on #625
IMO, the reuse of the variable should be "fixed".  I just wanted to point out that it isn't "broken" 😉

[2017-03-13 22:58] LinearG opened #626 "Denoise parameters ignored"
### Please describe the problem or feature request in detail:
Custom denoising parameters are not reported in the log and are possibly ignored.  The source is very grainy with mixed motion, so I want to experiment with various denoising settings.

### What are the steps to reproduce this problem:
From Picture/Filters I have selected:

Denoise:  NLMeans
Preset:  Custom
Custom:  y-strength=3.0:y-ori

[2017-03-13 23:01] bradleysepos commented on #626
Thanks, we'll take a look.

[2017-03-14 06:26] galad87 commented on #626
Did you press enter after entering the settings?

[2017-03-14 18:05] maximd33 commented on #625
https://github.com/HandBrake/HandBrake/pull/627 should fix it

[2017-03-14 18:06] maximd33 commented on #624
a bit more but pls see https://github.com/HandBrake/HandBrake/pull/628

[2017-03-14 21:23] LinearG commented on #626
I don't recall but typically in form fields I "tab" out since "enter" usually means "accept all changes".  I'll try it again by pressing enter.

[2017-03-14 23:22] #625 closed, assigned to maximd33

[2017-03-14 23:23] bradleysepos commented on #624
Closed via b9c8213164cb018bd3abab41d3f424e8c444d68e.

[2017-03-14 23:23] #624 closed, assigned to maximd33

[2017-03-14 23:30] LaFouine94 opened #629 "Feature request : Vobsub files as external source of subtitles"
Could it be possible to add external subtitles to a video, not in srt format (already possible), but in VOBSUB format : 2 files : acme.idx and acme.sub.

This would be very helpfull to have more capabilities on repositionning and resizing subs extracted from DVDs (I know that VOBSUB is an image format, and that I can't do no more than that).
Anyway, this could be great.

I'm actually using Handbra

[2017-03-15 00:54] LaFouine94 opened #630 "Feature request : show percentage when minimized"
It would be cool to see the encoding percentage when Handbrake is minimized in the system task bar, when the mouse is over the icon...
I'm using Handbrake 1.0.3 on Windows 7.
So cool...
Thanks a lot !

[2017-03-15 01:16] rathann opened #631 "segmentation fault in the decomb filter"
### Please describe the problem or feature request in detail:
HandBrake 1.0.3 crashes with SIGSEGV shortly after starting any encode if the decomb filter is enabled. I'm not sure how relevant it is, but the RPMFusion build I'm using (and trying to maintain) is built against FFmpeg 3.1.7 instead of libav-12.
### What are the steps to reproduce this problem:

1. On Fedora 25, install the package fro

[2017-03-15 01:19] bradleysepos commented on #631
HandBrake uses Libav, not FFmpeg. We'd rather you not provide builds such as this; it causes breakage and a flurry of support requests we cannot do anything about.

[2017-03-15 01:26] rathann commented on #631
I understand. However, RPMFusion has been shipping FFmpeg long before the fork occurred and we stayed with FFmpeg. Libav is not parallel installable, so I can't use a system libav and bundling libav is not an option I'm very fond of.

Having said that, I've just tested the F26 build (http://koji.rpmfusion.org/koji/buildinfo?buildID=3238) which uses FFmpeg 3.2.4 and it seems to work fine, so it mig

[2017-03-15 01:30] bradleysepos commented on #631
Convention or not, this is unfortunately an unsupported configuration and it causes a lot of unnecessary support requests for us. We won't help you debug FFmpeg, sorry. If you are maintaining a repo/fork of HandBrake using it, we kindly ask that you stop.

[2017-03-15 01:30] #631 closed, assigned to nobody

[2017-03-15 01:33] rathann commented on #631
FYI Debian is doing the same as RPMFusion and they're building against FFmpeg 3.2.4 in their experimental branch.

[2017-03-15 01:37] rathann commented on #631
FWIW, I'd gladly indicate that RPMFusion's builds are unofficial and point users to our bugzilla (https://bugzilla.rpmfusion.org/) if that makes life easier for you (any tips on how to do it best?).

[2017-03-15 02:08] bradleysepos commented on #631
Debian is the source of *many* problems for our users. The ultimate solution is to stop shipping broken builds. You can't just drop in another library.

[2017-03-15 07:07] Boggartfly commented on #619
@bradleysepos So handbrake does not have a legal entity associated with it?

[2017-03-15 07:26] sr55 commented on #619
No.  HandBrake is a hobby built by folks in their free time.

[2017-03-15 07:29] sr55 commented on #619
Same applies to a large portion of small to medium open source projects.  A lot, like us, are also completely unfunded.

[2017-03-15 07:32] Boggartfly commented on #619
@sr55 Yeah, I feel the pain man. I bet there might be someone out there willing to sponsor Handbrake considering the amount of value that it brings to people.
For example if Handbrake had a video encoding network service(either on site or in the cloud), that would be something that people would pay for.

[2017-03-15 07:34] Boggartfly commented on #619
That way the hypothetical org can support itself, while still maintaining the codebase(Like a non-profit).

[2017-03-15 19:08] LinearG commented on #626
I am embarrassed to find that the parameters are correctly passed if I press "enter".  My first GitHub bug report is a bust!

Subjectively this might still be a bug, but I suppose it falls in the category of "is it better to indent with spaces or tabs", so rather than closing the issue myself I leave it to your discretion.

Thank you for investigating!

[2017-03-15 19:16] bradleysepos commented on #626
No worries. 😸 Thanks for following up.

[2017-03-15 20:25] LaFouine94 commented on #630
Thanks !! Cool.

[2017-03-15 21:47] bradleysepos commented on #557
I'm still having a hard time reproducing this, but have noticed the occasional leftover temp file.

@colincameron Does this only happen when invoking HandBrakeCLI from another script?

[2017-03-16 08:48] galad87 commented on #626
I think it would be nice to automatically end the textfield editing when the user click the add to queue button. I'll reopen this for now.

[2017-03-16 09:29] colincameron commented on #557
I've only been running HandBrakeCLI from another script, but I'll test on its own when I get a chance over the next couple of days.

I'll grab a log file and post it too.

[2017-03-16 09:35] colincameron commented on #557
Log file from a recent transcode:

[code]

[2017-03-16 10:04] galad87 commented on #626
Fixed in cdf2b1d0efe8265b66df05f428cf01ff67bb4621 , so hopefully there will be less surprises when adding a job to queue.

[2017-03-16 10:04] #626 closed, assigned to galad87

[2017-03-16 10:14] bradleysepos commented on #626
@galad87 Is this suitable for 1.0.4?

[2017-03-16 10:18] bradleysepos opened #632 "CLI feature request: Better error message when output file cannot be created."
[code]

Perhaps the CLI can check write permissions or touch the output file, rather than fail with `avio_open2 errno -2`.

[2017-03-16 10:29] galad87 commented on #626
Yes, but the xib probably won't merge properly, I'll manually back port it later.

[2017-03-16 20:26] sr55 commented on #630
Done. Will be in a future nightly. Must be turned on in Options -> General.

[2017-03-16 20:26] #630 closed, assigned to nobody

[2017-03-17 19:02] harmishhk commented on #267
I do not see any link to portable version on https://handbrake.fr/nightly.php. Is it possible to provide download link for the portable version as well?

[2017-03-17 20:03] sr55 commented on #267
You can create your own by installing the app using the installer and setting up a portable.ini file.  If you package and zip that, you'd have a "portable" version.

There is currently no build system support for generating portable packages. I was only planning on offering them for official releases so it's not currently possible. I'm maybe add this down the line next time I'm working on the buil

[2017-03-17 20:42] harmishhk commented on #267
@sr55 Thank you. Based on this comment I figured out that, I can just unzip the nightly build installer executable (it seems to be a self-extracting installer) and create a `portable.ini` file to have the portable version. No need to install the app at all.

One can also unzip the official release 1.0.3 without installing. In this case, the storage directories are created under `%AppData%\HandBrak

[2017-03-17 21:07] sr55 commented on #267
1.0.x doesn't have portable support so will store in the usual places.

I'll do a bit of digging. Handbrake isn't creating the HandBrake Team folder, .NET is and I'm not entirely sure why so I'll have to go read up on why it's doing that for no reason.

Also spotted a few areas of code that are not entirely portable so I'll fix those shortly as well.

[2017-03-17 23:03] RubenKelevra opened #633 "Feature-Request: Audio-Bitrate by Channel #"
### Please describe the problem or feature request in detail:
Currently the audio presets allow a bitrate-setting and a (max) channel selection. This is suboptimal, since some files have stereo sound, some have 5.1, some 6.1 and some 7.1.

So if I add a preset like 7.1 with bitrate X the stereo tracks also get bitrate X but would need a lot less bitrate.

The easiest way to fix this, would be a si

[2017-03-17 23:11] RubenKelevra commented on #271
@bradleysepos this sounds very good. At the moment I got three profiles for different inputs (1080p/720p/5xxp) just to work around this.

[2017-03-17 23:15] bradleysepos commented on #633
This is a reasonable suggestion. However, one thing to note: multi-channel layouts are known to not use the same bit rate for all channels.

[2017-03-17 23:17] RubenKelevra opened #634 "Feature-Request: Add "film" and "animation" presets to x265"
### Please describe the problem or feature request in detail:
Before x265 was available I used x264. There are presets for "film" (some grain) and "animation". They enhance the encoding quality a lot.

I don't saw this presets on any x265 encoder at the moment, but the settings which has to be changed should be avaible on x265 as well, so I wonder if you could add them there as well.

Thanks :)

#

[2017-03-17 23:20] bradleysepos commented on #634
The encoder presets are created by the encoder developers. We're not in control of these upstream projects. As x265 matures, perhaps they will offer additional selections, at which point we'll try to include them. 😄

[2017-03-17 23:20] #634 closed, assigned to nobody

[2017-03-17 23:25] RubenKelevra opened #635 "Feature-Request: Add SVP as "filter""
### Please describe the problem or feature request in detail:
SVP is a project for interpolating frames to change the framerate from any input to a given output - like new TVs does. The output quality is (most of the time) amazing.

I would love to see this added as a "filter" to interpolate the framerate to a constant selected output like 60 fps.

Please note, that PAL DVDs need a slowdown first,

[2017-03-17 23:43] RubenKelevra opened #636 "Change framerate does not what's expected"
### Please describe the problem or feature request in detail:
If I got a DVD as input and select deinterlace and 24p constant as output I would expect a 25p to 24p slowdown as well as a change in the audio tone (due the slowdown). But it looks like only some of the 25p frames are left out leaving a gaps in motion behind.

This is not exactly was I would suspect by a fps change.

There is no real u

[2017-03-17 23:50] Cybolic opened #637 ""Queue"->"Add multiple" always uses mp4"
### Please describe the problem or feature request in detail:
When adding multiple titles from a source, the resulting files are always set to use mp4 no matter what the selected preset is set to.

### What are the steps to reproduce this problem:
1. Create a preset that uses Matroska as the container format.
2. Add multiple titles from a source.

### What version of HandBrake you are running:
1.0

[2017-03-17 23:52] bradleysepos commented on #636
This is actually the most common and desired behavior. You appear to be looking for a video editor/NLE. HandBrake is not one.

[2017-03-17 23:52] #636 closed, assigned to nobody

[2017-03-17 23:55] bradleysepos commented on #637
Where did you get your copy of HandBrake? The Arch AUR packages are known broken, and sadly we have no control over them. We do have partial instructions for compiling a proper HandBrake on Arch here: https://handbrake.fr/docs/en/1.0.0/developer/install-dependencies-arch.html

[2017-03-17 23:55] Cybolic opened #638 "Editing an item in the queue resets the destination file name (after using "Add Multiple")"
After using "Add Multiple" to add several titles to the queue, attempting to edit any of them will reset the destination file name to the default one. When adding a queue of titles from a DVD, such as a TV series containing multiple episodes, the can end in a lot of retyping.

### What are the steps to reproduce this problem:
1. Add multiple titles to the queue using "Queue"->"Add Multiple", setti

[2017-03-17 23:57] bradleysepos commented on #637
Please provide an Activity Log for further support.

[2017-03-17 23:57] bradleysepos commented on #638
Please see my comments on https://github.com/HandBrake/HandBrake/issues/637 and provide an Activity Log for further support.

[2017-03-18 00:02] sr55 commented on #575
Ditto.

I don't see that we can proceed any further with this at the moment, so I'll close it off for now. If anything changes we can update the case.

[2017-03-18 00:02] #575 closed, assigned to galad87

[2017-03-18 00:35] RubenKelevra opened #639 "Feature-Request: Add a flag which removes all restrictions like closed GOP or a given GOP size"
Applies to x264 and x265

### Please describe the problem or feature request in detail:
Encoding effency is often restricted by the decoding complexity or buffer size for the decoder. Since many user uses PCs these days a simple checkbox which removes all restrictions, which might influence the video quality, would be nice. These options should not increase encoding time (much), but should reduce

[2017-03-18 00:41] CYGNUX opened #640 "Subtitle burn-in doesn't work on CLI using a preset exported from GUI."
### Please describe the problem or feature request in detail:

Burn-in subtitles using HandBrakeCLI with a preset to do so doesn't seems to work, the same preset works and burn-in the subtitles correctly using the GUI but it doesn't on the CLI without needing to add an additional command (--subtitle-burned).

### What are the steps to reproduce this problem:

```HandBrakeCLI --preset-import-gui pr

[2017-03-18 00:52] RubenKelevra commented on #636
@bradleysepos Well as far as I understand Handbrake should be the all-in-one transcoding solution from DVDs and Blurays to video files for different devices. As well as encoding videos for youtube at a given qualtiy.

PAL-DVDs have a defect, they are played back at the wrong framerate, analog to NTSC-DVDs which are played back with Telecine. Since you got a filter for this, it would be fair to add

[2017-03-18 01:00] RubenKelevra opened #641 "Feature-Request: Framerate conversation filter for PAL-DVDs"
### Please describe the problem or feature request in detail:
PAL-DVDs contain 50i frames, which can be nicely deinterlaced by Handbrake. Like on NTSC-DVDs the frames are altered for PAL-DVDs to match up with the PAL refresh rate. Unlike NTSC-DVDs which are telecine the 24 frames from a movie are speed up by 4.167% to match the 25 frames which are needed for PAL.

This results in a wrong tone of t

[2017-03-18 01:16] bradleysepos commented on #639
Most or all of these can be set via the advanced encoder options (at least for x264).

[2017-03-18 01:20] bradleysepos commented on #641
Again, I believe you're looking for an NLE. That said, I'll let the other developers weigh in.

[2017-03-18 01:22] RubenKelevra commented on #634
@bradleysepos hey! Thanks for the fast response.

I just noticed that I used the complete wrong term. "film" and "animation" are tuning not presets. Sorry for this.

I understand, that x265 still don't got them by default, but it should be very easy to add them in Handbrake anyway. They just alter some switches which are avaible on x265 too.

Film is:
--deblock -1:-1 --psy-rd 1.0:0.15

Animation i

[2017-03-18 01:27] bradleysepos commented on #634
HandBrake uses the tunes provided by the encoder; we don't intend to customize this particular control beyond the official tunes.

I'm curious, where did you find these settings? There is nothing stopping you from creating a custom preset, of course.

[2017-03-18 03:09] Cybolic commented on #637
I got it from the main Arch repository. After restarting the program and clicking the preset a few extra times for good measure before clicking the "Add Multiple", everything worked as it should, so I'll chalk this up to the wonky package.

Thanks for the packaging help.

[2017-03-18 03:09] #637 closed, assigned to nobody

[2017-03-18 08:31] xana43 opened #642 "Feature-Request: Intel quicksync on linux"
All of the other plat forms seem to have support for either GPU or intel quick sync encoding, this would be a nice feature to have on linux because though a high-end CPU would be enough for some videos, there are some videos that will take forever and never use the GPU or onboard Intel Graphics processors, plus also this could increase efficiency, and even be a way to get past some issues if need

[2017-03-18 11:28] sr55 commented on #639
Ditto and you can decide what settings you want default by using presets.

Closing.

[2017-03-18 11:28] #639 closed, assigned to nobody

[2017-03-18 12:35] suprsidr opened #643 "Setting defaults for subtitles don't save across sessions on windows"
### Please describe the problem or feature request in detail:
Setting defaults for subtitles don't save across sessions on windows

### What are the steps to reproduce this problem:
select Subtitles tab
select Configure Defaults
select "None" for burn-In Behaviour
Un-check "Add Foreign Audio Scan"
Close Handbrake
Re-Open Handbrake
select Subtitles tab
select Configure Defaults
Notice selection fro

[2017-03-18 13:46] sr55 commented on #643
They are not session based settings. They are stored as part of presets and the default preset will always load in at startup.

If you save a preset and mark it as default, that'll achieve the effect you describe.

[2017-03-18 13:46] #643 closed, assigned to nobody

[2017-03-18 14:16] HackintoshHD opened #644 "Add DVD LPCM Audio support for Passthru"
**Please describe the problem or feature request in detail:** As of HandBrake 1.0.3, passing through regular DVD two-channel LPCM audio by the "Auto Passthru" Codec selection in HandBrake's audio tab is flawed: The audio will indeed be passed through, but gets flagged as **AC3 audio** in the resulting MPEG4 or Matroska container.

**What are the steps to reproduce this problem:** Get a DVD contain

[2017-03-18 14:44] jstebbins commented on #633
How about this.  When HandBrake needs to change the downmix because the source has fewer channels than the requested layout, have HandBrake modify the bitrate automatically in an intelligent way.

[2017-03-18 14:52] jstebbins commented on #271
I'm dubious of the "constant rate factor per pixel" idea.  HandBrake had a 0 to 100 quality scale at one time and it just obscured what was really happening and confused everyone.

I'm also dubious of the idea of a bitrate per pixel.  If you want quality that scales with resolution and you don't have fixed/hard size or bandwidth limitations, you should be using constant quality encoding.  This sca

[2017-03-18 15:30] jstebbins commented on #636
I'll start by saying I'm not against a filter such as this.  But it can't work the way you describe for a variety of reasons.

Basically, what you are asking for is something that changes the playback speed of audio and video by some fraction that you have defined as being New Framerate / Original Framerate.  But the playback speed is not determined by the framerate.  The framerate is a nominal va

[2017-03-18 15:38] jstebbins commented on #637
The arch package is definitely problematic, but it might not be the source of the problem in this case. It's possible that you misunderstand how a preset is applied to multiple titles.  The selected preset is applied to all titles when a scan completes.  Selecting a new preset *after* a scan completes affects only the currently selected title.  If you want the newly selected preset to be applied t

[2017-03-18 15:45] jstebbins commented on #638
Can't reproduce.

[2017-03-18 15:48] jstebbins commented on #644
Please provide an activity log.

HandBrake has never supported passthru of lpcm.

[2017-03-18 16:34] Cybolic commented on #638
I seem to have misdiagnosed the problem. It seems unrelated to "Add Multiple" and disabling "Use automatic naming" in the preferences stop this from happening.

Perhaps a better bug report would instead be a feature request to either disable automatic naming if a destination filename has been entered manually or disable editing the field entirely when this setting is active.

EDIT: In other words,

[2017-03-18 16:42] jstebbins commented on #638
I have automatic naming enabled and it maintains the name when "edit" button is pressed in the queue.  The name *will* change if you change presets after editing.  But the action of pressing the edit button in the queue should only reload the settings into the UI and should not change the destination.

[2017-03-19 09:49] fibrotravel commented on #414
Hi locked-fg

Did you work out a solution to this issue?

I am having the same problem, where:
- I install Handbrake in my Standard User Win 10 Pro account (Insider Preview version).
- I enter my Admin password when the UAC window appears.
- No shortcuts appear in the Standard User account.
- Shortcuts do appear in the Administrator account.

When I search for "Handbrake" in the Taskbar search bar

[2017-03-19 12:18] sr55 commented on #414
You just need to create the shortcut yourself.

Unfortunately, if I can't reproduce it, I can't do much about it. It's probably something unique to your systems or a bug in NSIS

[2017-03-19 12:40] locked-fg commented on #414
I also just created a Shortcut/Link from the handbreak.exe to `C:\Users\[myusername]\AppData\Roaming\Microsoft\Windows\Start Menu\Programs`
Then it's listen in your Start menu

[2017-03-20 03:15] maz-1 commented on #226
hello, any update on this?

[2017-03-20 03:20] bradleysepos commented on #226
Not at this time.

[2017-03-20 03:26] bradleysepos commented on #636
The only time this is really useful is slowing down 25 fps content that was originally sped up from 24 fps content in post production. In my opinion, this is squarely in the scope of an NLE and outside the scope of HandBrake.

[2017-03-20 03:54] bradleysepos commented on #271
I understand the sentiment here. That said, this is a bit different. At some point I'll put together a mockup and I think you'll be pleased with how simple and intuitive it will come across. It's been done elsewhere with high success.

Absolutely. Not a fan of auto bitrate.

This is only partially true, especially with regard to viewing sizes. We use lower rate factors for standard definition than

[2017-03-20 04:10] bradleysepos commented on #271
Typing on phone fail.

As I was saying, this idea of varying the rate factor based on *output* resolution has been common advice for as long as I can remember and is baked into the official presets now.

The proposed idea is essentially to alias a given quality label to a rate factor based on resolution. Just as the HQ (High Quality) official presets use RF 18 for SD, RF 19 for 720p, and RF 20 for

[2017-03-20 04:13] bradleysepos commented on #633
Seems reasonable.

[2017-03-20 10:23] cehoyos commented on #635
Sorry if I miss something but isn't SVP proprietary software and Handbrake GPL?
FFmpeg contains a framerate filter under LGPL.

[2017-03-20 14:55] arnabanimesh opened #645 "[Suggestion] Batch transcode spread across cores"
How about an option where batch transcodes are preferentially spread across cores (each of them transcoded on a single core) instead of doing one job at a time across all cores. An option, where maximum number of cores used for each transcode could be specified, would do the trick. I heard that a bit of quality or size loss occurs due to threading.

[2017-03-20 20:48] sr55 commented on #645
x264 can already be set with the threads=1   (While encoding is 1 thread, HandBrake still has it's own threads).

Not that it matters, the quality/size difference isn't worth talking about so your better off leaving as-is.

You can already run multiple instances and we do have on the cards single instance, multiple runners down the line but it's not in the short term.  IT's covered under another c

[2017-03-20 20:48] #645 closed, assigned to nobody

[2017-03-20 20:49] sr55 commented on #641
Ditto

[2017-03-20 20:49] #641 closed, assigned to nobody

[2017-03-20 23:29] Anton-V-K opened #646 ""High Profile" preset generates only one audio track"
### Please describe the problem or feature request in detail:
The legacy "High Profile" preset in HandBrake 1.0.3 specifies that 2 audio tracks are to be generated in the output file (AAC + AC3), however only one track (AAC) is generated.

### What are the steps to reproduce this problem:
1. Open a MOV-file (with PCM-encoded audio track).
2. Select the legacy High Profile preset.
3. Encode.
4. Wai

[2017-03-21 02:31] peacetara opened #647 "subtitles/configure defaults is not remembered on restart."
### Please describe the problem or feature request in detail:
If you go to subtitles tab, and then click 'Configure Defaults', it will work fine, but they are not remembered the next time you launch Handbrake.
 (the changes are not automatically applied either)

### What are the steps to reproduce this problem:
launch Handbrake, open a source with subtitles, click on subtitles tab, and then click

[2017-03-21 04:17] bradleysepos commented on #647
This is a bit confusing, but as designed. You will need to save a custom preset after configuring the audio and/or subtitles defaults. You can then select your custom preset at any time. A custom preset can also be set as the default preset when launching HandBrake and opening a source.

[2017-03-21 04:17] #647 closed, assigned to nobody

[2017-03-21 14:11] Cybolic commented on #638
Having recompiled Handbrake from git, I don't seem to be able to trigger this issue either anymore. Closing.

[2017-03-21 14:11] #638 closed, assigned to nobody

[2017-03-21 19:20] maximd33 commented on #642
beta stage as per https://github.com/HandBrake/HandBrake/pull/648

more testing is welcome

[2017-03-22 13:06] dynamodan opened #649 "Flip filter tickbox unavailable on Linux"
### Please describe the problem or feature request in detail:
Feature request: put the Flip tickbox in the linux build like it is in the windows one.

### What are the steps to reproduce this problem:
Open a video file, click the filters tab, expect to see Flip tickbox beside Rotate control.  No Flip tickbox.

### What version of HandBrake you are running:
1.0.3 from the ppa:stebbins/handbrake-rel

[2017-03-22 16:52] siriusboehm opened #650 "Dropped frames when encoding from MP4 with pass-through AAC"
### Please describe the problem or feature request in detail:
There is a problem with audio synchronisation when encoding material that is in an MP4 container with AAC audio which results in dropped frames ( time went backwards..., see log ) when copying audio. When I also reencode the audio or use ffmpeg with audio copying, everything works fine. Looking at the source file with `mp4dump` the prob

[2017-03-22 18:27] jstebbins commented on #640
Fixed in 21aceef

[2017-03-22 18:27] #640 closed, assigned to jstebbins

[2017-03-22 20:10] sr55 commented on #635
Looks that way and this looks to fall into the same category are your other request, so closing as rejected.

[2017-03-22 20:10] #635 closed, assigned to nobody

[2017-03-22 21:16] #646 closed, assigned to nobody

[2017-03-22 21:17] sr55 commented on #646
I've changed the behaviour of the Win UI to match the CLI.  At some point I'll also get the code to restrict the available encoder options done as well but for now, this should keep things consistent.

[2017-03-22 21:24] CHazz opened #651 "Feature-Request: delogo (video watermark) .. that would be pretty feature. thank you a lot"
### Please describe the problem or feature request in detail:

### What are the steps to reproduce this problem:

### What version of HandBrake you are running:

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):

### Was there any error message or error dialog, if so please detail or provide screenshots:

### Please provide the full activity log for the

[2017-03-23 17:50] skoshy opened #654 "Feature-Request: Portable Option for Windows"
It would be great to have a portable version of Handbrake that I can throw on a flash drive or sync via Dropbox. Perhaps having just the binaries plus creating a settings.ini file could make Handbrake use that instead of the default AppData folder?

[2017-03-23 18:14] sr55 commented on #654
This is already supported to the extent that there is a portable.ini.template included with the nightly builds. You can rename that to portable.ini and package up the install directory (or just extract the installer)

However, it still requires .NET so can never be truly portable.

[2017-03-23 18:14] #654 closed, assigned to nobody

[2017-03-23 18:15] sr55 commented on #651
I don't think this has a place in HandBrake. There are few legitimate reasons to do this and HandBrake is not an editing tool to begin with.

[2017-03-23 18:15] #651 closed, assigned to nobody

[2017-03-23 18:16] sr55 commented on #602
I'm not entirely sure if there is a question or point in there as it doesn't make much sense.

From what I can tell there isn't an issue here, so unless you can state clearly otherwise, I'll close this off in the next day or so.

[2017-03-24 14:04] bradleysepos commented on #636
@jstebbins See https://github.com/HandBrake/HandBrake-docs/issues/18

[2017-03-24 18:05] 55667 commented on #602
I'm sorry if you close the issue because the HandBrake is a good program (it is taking over the subtitles and scenes), and it worked well.

The error is reproducible, to have given all the information. I gave the numbers of the last version of the HandBrake is well-worked.

[2017-03-24 18:35] stewilliams-extr commented on #51
I agree with cortig, this is not a rare request.  I would just like a option to keep the date, and time.  This is a great tool, and if I knew C I would fork this and add it.

[2017-03-24 18:59] sr55 commented on #602
You've not actually told us what is wrong.  I don't know if your using a translation service but all I see is statements.  From what we can tell there isn't actually a problem here expect a problem with how your source was cut.

[2017-03-25 01:10] tesivo opened #655 "Rotate 270 degree don't work"
I tried twice time to rotate the video and with 270 i rotate the video only for 180 degree.

[2017-03-25 02:48] ftoledo opened #656 "Feature Request: Support to convert panorama 360 videos"
Please add support to stitch panorama videos like made with Samsung Gear 360 camera.
I can upload video samples

[2017-03-25 04:55] RubenKelevra commented on #633
@bradleysepos as respond to your first comment... well, I played around with opus lately, because the quality per bitrate is awsome-high with this codec.

I found out that my "above annoying artefacts bitrate" is around 64 kbit/s for stereo, 192 kbit/s for 6 channels, 224 kbit/s for 7 channels and 256 kbit/s for 8 channels.

I compared this to AC3 & AAC as well as Vorbis - my favorit audio encoder

[2017-03-25 05:00] RubenKelevra commented on #634
@bradleysepos here:

https://encodingwissen.de/codecs/x264/referenz/

[2017-03-25 05:37] RubenKelevra commented on #635
@cehoyos your answer prove, that you haven't read my feature-request fully.

Yes, it's not open source, but I haven't asked for shipping this application bundled with SVP but support it with a filter-hook when it's installed.

So the licence of SVP doesn't even matter, and yes, it's freeware for everybody for linux, so why don't we use it? :)

Feel free to correct me, but FFMpeg doesn't contain fi

[2017-03-25 05:38] RubenKelevra commented on #641
I still don't get why NTSC-DVD fixing is a valid filter but PAL-DVD fixing not, might one explain this to me please?

[2017-03-25 05:44] RubenKelevra commented on #271
Please don't limit a framerate to anything. This framerate filter only works for changing the framerate from 60 to 30 or 30 to 15 or something like this without hurting the motion flow.

[2017-03-25 05:46] RubenKelevra commented on #271
Well, I think the most people just use "CFQ" for encoding, so a simple automatic offset if the output size is reduced would be nice. So a adding one step for 1080p down to 720p and adding another step for 720p something below 720p.

[2017-03-25 05:55] RubenKelevra commented on #636
@jstebbins well, Avidemux has a filter which is exactly what I was thinking about.

Well, Avidemux is a awful program, for transcoding files because it's unstable and have no presets and tend to forget stuff you just configured...

BUT, is has a filter, it's just a "enter source framerate, enter destination framerate" field and then it moves the timestamps of the frames by the defined fraction of

[2017-03-25 06:22] RubenKelevra commented on #639
@bradleysepos well, yes, but this was a usability feature request, not a technical one - before you closed it without a discussion.

It's more convenient to have a simple checkbox than dig around in the advanced options. That's the reason why we have presets like "fast" and "slow" and IDC-levels in our encoders.

To get to the advanced options you have to enable the advanced options first, which a

[2017-03-25 07:55] galad87 commented on #655
Please provided all the required info (as written in the new issue template)

[2017-03-25 10:18] sr55 commented on #656
I don't have any samples to check, but what happens if you try encode the file today?

[2017-03-25 10:23] sr55 commented on #634
That's for x264. The x265 developers have not yet added them.

If/When they do add them, they will be picked up automatically by HandBrake when we upgrade the library (which we do relatively frequently)

I'd suggest dropping them a request if you haven't already to find their stance on them.

[2017-03-25 10:33] sr55 commented on #644
Actually, I think this might be a request for adding lpcm passthru. He's prbably getting the fallback encoder but obviously we can't know without a log.

If i recall correctly, MP4 doesn't support LPCM audio so that would leave it to MKV only.

Marking as an enhancement for now

[2017-03-25 10:53] sr55 commented on #639
The Extra Arguments box (Video Tab) allows setting of any encoder options using the encoders standard option formats.  for example:   x264  you could add bframes=5:ref=2...... and so on for any options you want to override.

The advanced tab is going away. The overhead of maintaining / expanding it is too high for such a small number of users who actually understand how to use it.  We've left the

[2017-03-25 11:44] bradleysepos commented on #639
@RubenKelevra Not digging your tone here. We have no obligation to discuss anything with you, yet I took the time to respond to the requests you opened. Regardless, there is no reason to be hostile.

This particular issue has been discussed in the past. The advanced tab is deprecated and we have no intention of offering these kinds of options in HandBrake going forward.

More than one of your requ

[2017-03-25 11:47] tesivo commented on #655
It's strange but without rotation the video seems ok.

[2017-03-25 11:47] #655 closed, assigned to nobody

[2017-03-25 11:48] bradleysepos commented on #635
We try to maintain feature parity between platforms. The fact that SVP is platform-specific *and* proprietary definitely makes this a no-go. I'm not sure exactly what you mean by "filter-hook" but if it involves linking against the proprietary software, this is likely not possible due to license restrictions.

[2017-03-25 11:51] bradleysepos commented on #641
You're over-generalizing the situation. Many NTSC DVDs are already progressive 23.976 and it is trivial to ignore the soft telecine flags. In other cases, a simple deinterlace will do, same for PAL DVDs.

Unfortunately, what you're asking for is much more involved as it fundamentally changes the source, including the run time. We are fully aware of the technique, but do not believe it belongs in H

[2017-03-26 06:12] Mister-XY opened #657 "Nightly Builds for Windows"
Hello, since many days, i see thats are no new nightly  builds for Windows OS will be build. Are the nightly's so bad?

[2017-03-26 10:45] sr55 commented on #657
Not sure why you got the idea they were bad. Updates are simply not available.

It's not a guaranteed service. Sometimes it's just unavailable due to lack of available build servers or one of many other reasons.

There is no ETA on when service will be back online.

[2017-03-26 10:45] #657 closed, assigned to nobody

[2017-03-26 13:33] russel5 opened #658 "Can't compiling toolchains"
### Please describe the problem or feature request in detail:
Can't compiling toolchains for Windows on KUbuntu 16.10
### What are the steps to reproduce this problem:
gmp package give error if set --enable-fat
### What version of HandBrake you are running:
The latest
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
KUbuntu 16.10
### Was there any erro

[2017-03-26 13:43] bradleysepos commented on #658
I have not tested building fat binaries this convenience script. Is there a reason you need this feature?

[2017-03-26 14:10] russel5 commented on #658
I don't know needed or not, but it enabled by default in scripts/mingw-w64-build file.

[2017-03-26 14:14] bradleysepos commented on #658
Ah, my mistake. Can you paste the entire gmp.log file?

[2017-03-26 19:08] bradleysepos commented on #644
Closing as duplicate of #483.

[2017-03-26 19:08] #644 closed, assigned to nobody

[2017-03-26 19:13] bradleysepos opened #659 "Add support for higher audio sample rates."
88.2/96/176.4/192 kHz encoding/passthrough. See also #483.

This will need some special care, as many devices do not support sample rates higher than 48 kHz. I have some ideas for this but time not permitting, for now this placeholder will have to suffice.

[2017-03-26 20:57] tikenn commented on #504
I also use an older version of Handbrake on windows in order to gain access to the Custom anamorphic settings.  While the Handbrake default settings work for a few videos, many require direct adjustment of the PAR to force Handbrake to transcode the picture correctly.  Please consider making this a higher priority for future versions.

[2017-03-27 03:48] russel5 commented on #658
Here you go
https://drive.google.com/open?id=0BxQrtzPh-DKDMlp2WGdNMWgtRzg

[2017-03-27 23:06] cehoyos commented on #635
FFmpeg does support a filter for increasing framerate (and a patch for a second filter exists).

It of course makes no difference if data structures are exchanged with a library that is linked dynamically or statically (if there were a difference, you could basically not enforce the GPL), so a dynamic loader doesn't change anything about the license situation.

[2017-03-28 14:31] bradleysepos commented on #658
Okay, that helps some. Can you give me the full command you invoked using `mingw-w64-build`, and if possible, your default `CFLAGS` and `LDFLAGS`?

[2017-03-28 14:36] bradleysepos commented on #658
If you're running a recent Ubuntu or similar, this may be the issue: https://wiki.ubuntu.com/SecurityTeam/PIE

Since we build on Ubuntu 16.04 and these changes are in 16.10 and later, I haven't seen the error. Will try to reproduce with a newer OS. What distro and version are you using?

[2017-03-28 14:44] bradleysepos commented on #658
Continuing my brain dump...

It looks like GMP 6.1.2 may [resolve the issue](https://gmplib.org/gmp6.1.html) with newer distros and GCC hardening:

Please try changing the GMP version on [line 100](https://github.com/HandBrake/HandBrake/blob/master/scripts/mingw-w64-build#L100) to 6.1.2 and see if that solves it.

[2017-03-28 15:38] russel5 commented on #658
Ok, may be i'll test new version later.
I fixed this issue by changes --disable-shared to --enable-shared in scripts/mingw-w64-build 'GMP section' file

[2017-03-28 19:02] lferro9000 commented on #438
Sorry, only read this now, invited you to the repo where the sample is.

Share it between developers, but please don't push it anywhere (not that is that interisting).

[2017-03-28 22:08] cehoyos commented on #438
Is there supposed to be audio in the given sample?

I can confirm that the sample in question is a Hikvision program stream and in no way whatsoever related to mp4. The sample plays fine with FFmpeg (assuming there is no audio). Please consider fixing the issue title.

[2017-03-29 20:26] bradleysepos commented on #658
Confirmed this as the source of the issue. Fixed [upstream](https://github.com/bradleysepos/mingw-w64-build) and in https://github.com/HandBrake/HandBrake/commit/9884aa1ddc93450504ff59652c1265b35190aba3.

Thanks for reporting this, @russel5.

[2017-03-29 20:26] #658 closed, assigned to bradleysepos, jstebbins

[2017-03-29 23:16] BuckeyeBob opened #660 "Handbrake fails when using QSV (Error Code -17)"
### Please describe the problem or feature request in detail:
Any video I attempt to encode using H.264 (Intel QSV) fails with an  Error code -17, hb_qsv_wait_on_sync 602.  This happens on Encoder preset of Balanced and Quality (did not try Speed).  This happens for all versions of HandBrake 1.0.0 and above (1.0.0, 1.0.1, 1.0.2, 1.0.3).  No issue on 0.10.2 or 0.10.5.

### What are the steps to rep

[2017-03-29 23:27] bradleysepos commented on #660
Thanks for reporting this. I thought this issue was fixed in 1.0.3 but perhaps it was only the nightly build. Any chance you can see whether it is still a problem in the nightly?

[2017-03-29 23:37] BuckeyeBob commented on #660
I have the nightly 20170328191901-d293148-master working now, will let you know how that ends up.

Thanks

[2017-03-29 23:47] BuckeyeBob commented on #660
It failed the same.  Chapter it gets to seems to be somewhat random.

`HandBrake Nightly 20170328191901-d293148-master (2017032901) - 64bit
OS: Microsoft Windows NT 10.0.14393.0 - 64bit
CPU: Intel(R) Core(TM) i5-4690K CPU @ 3.50GHz
Ram: 16266 MB,
GPU Information:
  Intel(R) HD Graphics 4600 - 20.19.15.4531
  NVIDIA GeForce GTS 250 - 21.21.13.4201
Screen: 1920x1080
Temp Dir: C:\Users\Davey C\AppDat

[2017-03-29 23:49] bradleysepos commented on #660
Okay, thanks for checking. Hopefully @maximd33 can take a look when he has time.

[2017-03-30 11:51] maximd33 commented on #660
@bradleysepos it should be fixed for recent drivers and HW and it looks that we have to deal with legacy as well

@BuckeyeBob any input sample possible to share?
so it would be possible to reproduce the issue.

does it happen consistently and each run or just sometime ?

[2017-03-30 15:00] BuckeyeBob commented on #660
It happens every time.  The only difference is where it appears to stall, it has happened on chapter 4 one time, chapter 6 the next, on the same file.  I have also tried various files, with the same result.  I could probably get a sample, but as it is not consistent as to where it stops, wouldn't really know what to post.

[2017-03-30 15:30] maximd33 commented on #660
ok - every time is already good for debugging,
any sample will help

[2017-03-30 17:03] BuckeyeBob commented on #660
The sample is the first 5 chapters of the file I was encoding.  I attempted to encode the sample and it errored out with "Queue Finished with 4 errors or cancellations detected.".  Also attaching the activity log associated with the sample encode, it looks to have stalled after chapter 4.
[Activity Log.txt](https://github.com/HandBrake/HandBrake/files/883194/Activity.Log.txt)

Unfortunately, my sa

[2017-03-30 18:04] BuckeyeBob commented on #660
Okay, I found a small mkv sample video.  Being so small, it does not cause HandBrake problems every time.  But, I did get it to fail 2 out of 4 times.  Attached are the sample and the activity log.

[wmaproEOF.zip](https://github.com/HandBrake/HandBrake/files/883354/wmaproEOF.zip)
[Activity Log_.txt](https://github.com/HandBrake/HandBrake/files/883358/Activity.Log_.txt)

[2017-03-30 19:04] bradleysepos commented on #660
@BuckeyeBob Is your original source also Windows Media?

[2017-03-30 19:41] BuckeyeBob commented on #660
Original source was a bluray rip from MakeMKV.

Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Bradley Sepos <notifications@github.com> Date: 3/30/17  12:04 PM  (GMT-07:00) To: HandBrake/HandBrake <HandBrake@noreply.github.com> Cc: BuckeyeBob <DavidHosford@Cox.net>, Mention <mention@noreply.github.com> Subject: Re: [HandBrake/HandBrake] Handbrake fails when

[2017-03-31 07:48] kimbauters commented on #421
I'm afraid I haven't been able to test it thus far. I'm travelling and moving houses at the same item, and a lot of my items are in storage right now. Maybe someone else can test the new build. If not, I will test it once I get this PC back.

[2017-04-03 13:05] Krautmaster opened #661 "Default Mixdown on Audio Tracks not set correctly (eg on Batch Mode)"
I'm transcoding my large movies from x264 to x265 while transoding the Audio from eg DTS HD to Opus 7.1.
The codec is correctly set but the bitrate switches to 32 Kbit/s and mixdown field gets empty instead of keeping the original channel layout.

If I transcode with no further change the result really seems to be 32 kbit/s with 7.1 channels haha - but 32kb/s is the only bitrate available in Audio

[2017-04-03 20:28] 55667 commented on #602
Sorry, I did not have a computer until a week.
We start it over again. I summarize what is the problem shortly. If you convert the downloadable video older and newer with HandBrake version, you may see the difference then. The length of the video 3 minutes 15 seconds. The error occurs at approximately 2 seconds.

**The source video**
The video detail (indabox link - **Video demo.mkv**) is cut out

[2017-04-04 01:35] Synapto commented on #661
I can confirm that "HandBrake Nightly 20170326111905-9fe38b5-master (2017032701) - 64bit" will produce a blank "Mixdown" box if default mixdown configuration is not capable of being assigned to the scanned audio track.

For example, if you have your default mixdown set to 5.1, and a 5.1 capable track is scanned, the dropdown will correctly show "5.1".

However, with that same default, scanning a 2

[2017-04-05 17:50] bradleysepos commented on #452
@galad87 Can you clarify whether this fix is straightforward enough for a patch release, or involved enough for the next minor release?

[2017-04-05 23:45] PeterNerlich opened #663 "Feature Request: Option for serious notification"
I'm running HandBrake 1.0.3 on ElementaryOS 0.4 (basically Ubuntu). Every time the queue finishes a system notification is triggered saying "Put down that cocktail... Your HandBrake queue is done!". Somehow I seem to fail to quickly attribute this to HandBrake every time this occoured to me so far. Thus I would like to request an option in the settings to switch this to a more serious statement be

[2017-04-06 06:26] JustLink1 opened #664 "HandBrake Crashes when finished converting"
Everytime HandBrake is finalizing the video, it crashes...

[2017-04-06 14:34] bradleysepos commented on #664
Please provide the information requested when filling out the issue form, including an activity log, and we'll take a look.

[2017-04-07 10:27] jaxjexjox commented on #634
For the love of all things holy, someone, somewhere needs to teach the AVERAGE PERSON using x265 and handbrake and ffmpeg that HEVC / x265 should NEVER be used in default mode.  The lack of "-grain" on over 85% of x265 encodes is a sign of the stupidity of the encoders.

It's super frustrating to find so many pieces of content with all the detail washed away due to the lack of this.
I just found a

[2017-04-07 11:58] anub1s22 opened #666 "Handbrake Crashing on creators update?"
### Please describe the problem or feature request in detail:

When opening handbrake and having nothing in it everything seems to work fine, after i add a file and want to add it to queue and then show queue it crashes.

i've tried converting file's just letting it go and not showing the que and it works but after 10-20 sec if i switch to a browser handbrake crashes.

### What are the steps to re

[2017-04-07 18:13] bradleysepos commented on #666
Looks like it's crashing in Direct3D. Could be a system issue. We'll take a look, but in the meantime, try updating your graphics drivers and DirectX if they aren't current.

[2017-04-07 18:55] anub1s22 commented on #666
driverwise this happend on the nvidia geforce 378.92 drivers that came with the creators update and the 381.65 drivers recently released.

direct X wise for windows 10 it seems to be windows update or nada,direct-X end user runtime didn't install anything

[2017-04-07 19:09] sr55 commented on #666
Unfortunately something graphics related is broken on your system.

A quick google of the error code turns up quite a few going back several years with other applications. There may be solutions out there if you google the exception code with the d3d9.dll filename.

If it's happening when opening the queue window without an encode even running it's not a good sign.  My guess is there is a pretty b

[2017-04-07 19:09] #666 closed, assigned to sr55

[2017-04-07 19:11] sr55 commented on #666
I should have added, I have this running on Creators update without issue, so I suspect that's not the root of the issue.

[2017-04-07 19:15] sr55 commented on #663
HandBrake is a quirky app so I'm not really so inclined to want to change this. It's part of the character of the app.

We get dozens of requests for all sorts of UI flexibility that don't really add to the core functionality so I'm inclined say the same in that it's not worth bloating the app with something like this, sorry. It's cosmetic.

Will leave this open for others to comment.

[2017-04-07 22:45] anub1s22 commented on #666
well i ran sfc /scannow, cleaned registry with CC cleaner and disabled my av as per the usual fixes for 0xc0000005 atleast as far as i could find still nothing, guess i'll just wait for windows update or a clean install to fix whatever got borked by the upgrade.

edit: i do not know how... i do not know why but it was MSI Afterburner, turned it off and handbrake works flawlessly

[2017-04-08 02:37] xenomorpheus opened #667 "Handbrake 1.0.3 crashes when converting h264 on Sierra 10.12.14"
### Please describe the problem or feature request in detail:
Converting h264 file. File available on request.

### What are the steps to reproduce this problem:
Converting h264 file. Tried three times. died every time.

### What version of HandBrake you are running:
Handbrake 1.0.3

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Sierra 10.12.14, Mac

[2017-04-08 05:48] bradleysepos commented on #667
Thanks for the report. Will you please also provide an [activity log](https://handbrake.fr/docs/en/1.0.0/help/activity-log.html)? It will be helpful to learn what decomb settings you're using, at the least.

[2017-04-08 05:58] JustLink1 commented on #664
When I try to convert a 600 fps video to 100 fps, when its at 100 percent at converting, Windows says "HandBrake Has Stopped Working" then it leaves me with a unviewable file...

[2017-04-08 06:07] bradleysepos commented on #663
I am not opposed to making the encode complete dialog/notification text editable. Probably restricted to a single line or N characters.

Positives I can think of:

- Ability to make the notice more prominent and concise, e.g. BOOMSHAKALAKA!!! (just kidding)
- Ability to input international text, useful where HandBrake is not yet localized
- Ability to avoid the cocktail reference; we recently rece

[2017-04-08 06:09] bradleysepos commented on #664
Sorry to hear you're having trouble, but we can't help if you don't provide a relevant [activity log](https://handbrake.fr/docs/en/1.0.0/help/activity-log.html) as requested. Will be glad to reopen if a log is provided.

[2017-04-08 06:09] #664 closed, assigned to nobody

[2017-04-08 09:11] xenomorpheus commented on #667
Hope this helps.
[log.txt](https://github.com/HandBrake/HandBrake/files/907330/log.txt)

[2017-04-08 20:38] HackintoshHD commented on #644
First of all, I'm sorry for missing the 'activity log requirement', please apologize I did not provide an activity log earlier.

After getting back into the issue, I now realize I had erroneously assumed lossless audio could be muxed into an MPEG4 container and I somehow had also missed HandBrake's fallback encoder mechanism, which obviously did its job here. - In short, @sr55 's deductions are al

[2017-04-08 22:23] bradleysepos commented on #667
Log helps, though it looks like a scan/partial log and not an encode log. Would be more helpful to have a full log for a crashed encode, if this is reproducible.

Few things I noticed:

The source video may be damaged or improperly created.

Seems odd that there would be two titles in a raw H.264 stream.

More weirdness. Perhaps @jstebbins will have questions or answers for these two items.

[2017-04-08 22:27] pyro12 opened #668 "CCTV sample crashes HandBrake"
### Please describe the problem or feature request in detail:

Handbrake is unable to work with this sample.

### What are the steps to reproduce this problem:

### What version of HandBrake you are running:

1.0.3 (x86_64)

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):

Ubuntu 14.04.

### Was there any error message or error dialog, if so please de

[2017-04-08 22:33] bradleysepos commented on #668
Here's a partial log from avconv 11.4:

[code]

[2017-04-09 07:17] xenomorpheus commented on #667
Yes, very likely a broken h256 file.  That was the entire log file.
I'm sorry but I am going to bow out now. I hope it was useful, if not please feel free to close the issue. All the best.

[2017-04-09 15:02] jstebbins commented on #650
Do you have a sample you could provide that we could use to reproduce this with?

[2017-04-09 15:06] jstebbins commented on #667
Can you provide the sample source file?

[2017-04-09 15:21] siriusboehm commented on #650
Yes, I just sent a sample to the email in your github profile.

[2017-04-09 16:36] jstebbins commented on #668
HandBrake problem with this file should be fixed in 3b080f5

[2017-04-09 16:38] jstebbins commented on #650
Thanks

[2017-04-09 16:43] bradleysepos commented on #668
Thanks @jstebbins.

@pyro12 This will be in the next nightly build, also HandBrake 1.0.4 when released. If you continue to have this problem, feel free to comment here and we can reopen.