[2018-01-21 01:43] bradleysepos commented on #1131
Thanks, one of us will fix this. Don't tell anyone that Sony technically called it E-AC-3. 😸

[2018-01-21 01:49] bradleysepos commented on #1132
Thank you. See https://www.transifex.com/victorr2007/handbrake-100/

Note that we will be releasing 1.1.0 soon, so some strings may change.

[2018-01-21 01:49] #1132 closed, assigned to nobody

[2018-01-21 02:06] ghost opened #1133 "Feature Request: Remove video (audio output only)"
### Description of problem or feature request

Title basically says it: I think it would be a good idea to have the option to remove video from a given source when encoding. This would be particularly useful for ripping music from a DVD-A or image of one.

### HandBrake version (e.g., 1.0.0)

HandBrake Nightly 20180114201102-8a35d8b-master (2018011701) - 64bit

### Operating system and version (e.

[2018-01-21 07:38] nutann3 opened #1134 "Feature Request: Ability to view source media info."
I think it is very handy to view source media info within Handbrake instead of depending on external tools like [mediainfo](https://mediaarea.net/en/MediaInfo).

[2018-01-21 10:35] EsmailELBoBDev2 commented on #1132
^_^

[2018-01-21 12:59] sr55 commented on #1133
Thanks for the suggestion.  HandBrake is a video transcoder so this feature doesn't really fit with our focus.
Our goals are to do one thing well rather than trying to  do the job of multiple tools.

In this instance, ffmpeg would be a good way to go for spitting Audio from your source.

[2018-01-21 12:59] #1133 closed, assigned to nobody

[2018-01-21 13:05] sr55 commented on #1134
Thank you for the suggestion.  We currently show relevant source information around the UI.  Depending on the source type, there is more significant output in the logs already.

i.e.

  Metadata:
    major_brand     : isom
    minor_version   : 1
    compatible_brands: isomavc1
    creation_time   : 2013-12-16 17:59:32
    title           : Big Buck Bunny, Sunflower version
    artist          : B

[2018-01-21 14:07] nutann3 commented on #1134
For Example, converting video from one format to another maintaining quality, I need to refer to bit-rate of source video and audio, etc. Where it will be easy to check within Handbrake.

[2018-01-21 14:52] sr55 commented on #1134
Adding that to the UI would likely just mis-lead a large number of people who think matching bit-rate means they get the same quality out it that couldn't be further from the truth.

The information is available in the log, but doesn't provide much value.

[2018-01-21 15:15] nutann3 commented on #1134
I just gave an example. I think displaying source info can help some people in some cases.

[2018-01-21 15:56] woodstockathbf commented on #1133
Or Audacity, with a graphic interface. I use it from time to time to pull audio from MKV files ripped from DVD and BD.

[2018-01-21 17:41] #1119 closed, assigned to sr55

[2018-01-21 17:41] sr55 commented on #1119
Corrected. Thanks

[2018-01-21 18:33] rasorjb opened #1135 "x265 10-bit Crash - Ubuntu 17.10"
### Description of problem or feature request

Handbrake crashes immediately after file scan during encode.
Happens using x265 10-bit option, .m2ts -> .mkv,

### Steps to reproduce the problem

Encode 4K x265 10-bit .m2ts to 4K x265 10-bit .mkv.

### HandBrake version (e.g., 1.0.0)

20180114201102-8a35d8b-master (x86_64)

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Si

[2018-01-21 18:36] bradleysepos commented on #1134
HandBrake’s focus is intentionally different than what you suggest, and Scott’s absolutely right that implementing your suggestion will potentially mislead many uninformed users. The important source info is already displayed and we’re already  presenting it more prominently in the upcoming release. We will not be making source bit rate prominent as it’s largely irrelevant.

[2018-01-21 18:36] #1134 closed, assigned to nobody

[2018-01-21 18:41] sr55 commented on #1135
Other encoders are fine? Looks more like HandBrake is seeing a damaged m2ts file.

[2018-01-21 18:44] sr55 commented on #1120
We haven't heard back in a few days so I'll close this issue off for now.  If you continue to have problems we can re-open.

[2018-01-21 18:45] #1101 closed, assigned to nobody

[2018-01-21 19:02] rasorjb commented on #1135
x264 10-bit works no problem. It has happened with multiple files.

[2018-01-22 05:59] gkennedy88 opened #1137 "Computer freeze/Crash while running Handbreak"
### Description of problem or feature request

So I've recently began to use handbreak so that i could burn subs into my video files when i play them over my plex media server, however my computer will freeze, the screen wont come on, moving the mouse doesn't work, nothing does until i press and hold the power button and shut it all the way off and then turn it back on.

In the past stuff i had re

[2018-01-22 06:34] woodstockathbf commented on #1137
The first question is, do you have a CPU temp application installed, that you can see what your CPU temp is in real time? I use one called "Core Temp", but it is irritating because it trips the Windows "are you sure you want to install this?" every time I start it up. Probably because it wants full access to the CPU diagnostic ports.

If so, does it spike up over 70c at any time? (70c is a common

[2018-01-22 06:43] gkennedy88 commented on #1137
I don't have any such program, it never even occured to me to get one, I know soon I want to buy anouther fan as there is anouther mount in the top of my chassis for either a 120 or 140mm fan, but for now I have a box fan blowing towards it and a little clamping desk fan turned inside out so it sucks hot air away from my tower.

[2018-01-22 06:51] woodstockathbf commented on #1137
Then probably it is a good idea to open the case and blow out the CPU heat sink, at the very least. AMD's supplied heat sinks will keep the CPU temps "in spec" at 100% usage, assuming no overclocking and no blockages. But "in spec" is often at a temp higher than the motherboard will allow.

Encoding for long periods of time is "gamer territory" as far as cooling is concerned. The big box fan proba

[2018-01-22 13:09] sr55 commented on #1135
Can you post a log with the x264 encode please?

[2018-01-22 13:18] sr55 commented on #1137
A system freeze is a system level issue, not a HandBrake one.  It's not uncommon to see systems that are not stable for typically one of the following reasons.

HandBrake is pretty good at weeding out issues as systems because it does take full advantage of the hardware available.  (More so than many synthetic load tests / benchmarks)

- Bad Memory ->  Run MemText86 (http://www.memtest.org) for a

[2018-01-22 13:18] #1137 closed, assigned to nobody

[2018-01-22 13:29] gkennedy88 commented on #1137
Last night my computer got the windows fall creators update and today when running handbreak even with the affinity set to all CPU cores handbreak is only useing 21% of my CPU instead of 100% like it used to. So I'm not sure if the update last night fixed something that was messed up in some program or what, but my computer isn't overheating and hasn't shut down once so far while encoding the epis

[2018-01-22 13:49] sr55 commented on #1137
To see that drastic a drop in CPU usage, either your source is lower resolution, your not using the same settings or something has broken in the windows scheduler.  That's abnormally low CPU usage.

[2018-01-22 17:34] JiriS97 opened #1138 "Encoding suddenly stops with CPU about 0%"
### Description of problem
When I try to convert 4K mkv video from H.265 to H.265 just to lower the quality RF settings (I can not play it with this bitrate), the encoding starts (ETA about 24h) with CPU usage at 100% (cooling is OK, about 70°C, also other conversions work fine), after maybe 6-7 hours, the CPU usage drops below 3% and does nothing. Tried 4 times, twice with latest Handbrake (1.0.7

[2018-01-22 23:57] mqudsi opened #1140 "mingw build script fails silently"
Build failures in the execution of `scripts/mingw-w64-build` are not reported, and since the output of the build process is redirected (both `stdout` and `stderr`) and the build script uses a bash file instead of a Makefile, there is no visible sign that the build terminated with an error.

Suggestions: wrap the build script in another script that checks its status code, use `tee` to redirect `std

[2018-01-23 00:10] mqudsi opened #1141 "x264/x265 thread starvation on high core count CPUs (NUMA)."
I'm unable to get HandBrake/libav to properly utilize the available CPU on a ThreadRipper 1950x with 16 physical cores/32 logical cores. It's not entirely clear, but it may be a NUMA issue since it seems that either the first 16 or the last 16 cores are fully utilized but the others are starved for content. (ThreadRipper has two disjoint CPU dies connected by a highspeed interconnect ("Infinity Fa

[2018-01-23 16:37] sr55 commented on #1141
Locking. Community Rule violation. (2c)

[2018-01-23 16:41] sr55 commented on #1138
Don't see any obvious reason. There is probably an issue with one of the tracks in your file. To narrow it down, there are a couple things to try:

1. Remove both audio tracks. Does the encode complete?  (If so add each track individually).
2. Turn off all filters.
3. Turn off Subtitle Tracks.
4.. if possible, share a short sample that reproduces the issue.

[2018-01-23 16:41] #1109 closed, assigned to nobody

[2018-01-23 16:54] #1060 closed, assigned to nobody

[2018-01-23 18:47] JiriS97 commented on #1138
Thank you for your suggestions, will try all of that and post back. It could take few days. I will share a sample when I identify the segment with this issue.

[2018-01-23 19:15] bradleysepos commented on #1140
Thanks for the suggestion. Tracking this upstream at https://github.com/bradleysepos/mingw-w64-build/issues/1.

[2018-01-23 19:15] #1140 closed, assigned to bradleysepos

[2018-01-23 19:20] bradleysepos commented on #1141
We need to look at this issue, so I've redacted the offending log link.

Currently, we disable NUMA when building x265, e.g. https://github.com/HandBrake/HandBrake/blob/master/contrib/x265_8bit/module.defs#L17. With high core count CPUs on the consumer market, we probably should revisit this.

@jstebbins Any thoughts?

[2018-01-23 19:38] #1131 closed, assigned to bradleysepos, galad87

[2018-01-23 19:47] bradleysepos commented on #1125
This is something we should probably review for all filters. At the moment, when passing blank/null, it really passes nothing to the filters, so the internal defaults are used. It would be more intuitive to have the internal defaults for each filter equal the GUI defaults.

[2018-01-23 20:04] bradleysepos opened #1142 "NUMA for high core count CPUs."
Currently, we disable NUMA when building x265, e.g. https://github.com/HandBrake/HandBrake/blob/master/contrib/x265_8bit/module.defs#L17. With high core count CPUs on the consumer market, we probably should revisit this for performance.

@jstebbins Any thoughts?

[2018-01-23 20:04] #1141 closed, assigned to bradleysepos, jstebbins

[2018-01-23 20:05] bradleysepos commented on #1141
Continuing on #1142.

[2018-01-23 20:06] mqudsi commented on #1142
Sorry for the mess in the previous thread, I was going to offer to re-create.

I note that NUMA isn't explicitly disabled for x264. Is the default state disabled? Because I see the same behavior with both x264 and x265.

[2018-01-23 20:08] bradleysepos commented on #1142
x264 simply does not scale past 6-8 cores. Given HD, slow enough encoder settings, and HandBrake's filters, it's generally possible to saturate 12-16 cores.

x265 can saturate more on its own but may require NUMA on high core count systems.

[2018-01-23 20:09] bradleysepos commented on #1142
As a workaround, you can launch more than one instance of HandBrake to run multiple jobs in parallel.

[2018-01-23 20:12] mqudsi commented on #1142
Yes, I considered that as well, but the similarities in the performance profile for both is causing me to question that assumption.

This is with all user-selectable filters disabled, of course, and HD content. I can try at placebo speed and see if that does the trick, but I see the same behavior with both x264 and x265 where it's a very clear delineation between the load on cores 0-8 and the load

[2018-01-23 20:15] mqudsi commented on #1142
To further clarify, if it were simply a matter of there not being enough source data to work with/general limitations of the encoding algorithm in question, I would expect the thread utilization for 16 identically instantiated threads in a pool to average out to more or less the same suboptimal value over a period of time, versus in this case I am seeing 8 constantly fully loaded threads and 8 tha

[2018-01-23 20:15] bradleysepos commented on #1142
It certainly correlates. 🤷🏻‍♂️ I'm fairly certain the cause is different.

[2018-01-23 20:22] marcelpaulo opened #1143 "Preview plays audio but shows no images, only a black window"
### Description of problem or feature request

`Show Preview` plays audio but doesn't show any images, only a black window. I have tried only with DVDs on disk (*VIDEO_TS* directories), around 6 different ones, and it happened the same with all of them.

I always used preset `H.264 MKV 1080p30`. I also tried the following previews: `Fast 1080p30`, `Very Fast 1080p30`, `Normal`, with the same resul

[2018-01-23 20:29] bradleysepos commented on #1143
Sorry you're having trouble.

Please read [Where to get HandBrake](https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html). Ubuntu's package is known broken and they haven't cared to fix it.

[2018-01-23 20:47] mqudsi commented on #1142
fwiw, simply specifying `ENABLE_LIBNUMA=ON` and patching the build to link against `libnuma.a` breaks the threadpool:

[code]

[2018-01-23 21:11] maximd33 commented on #1142
NUMA support should not increase amount of the threads used but influence threads/memory distribution
https://bitbucket.org/multicoreware/x265/commits/62b8fe990df5e560834e9b567a913238d8dd398e

[2018-01-23 21:14] mqudsi commented on #1142
Thanks for that link, @maximd33

I understand how NUMA works (though I haven't dealt with libnuma before) very well. In my case though, enabling NUMA completely disabled the thread pool.

I think the link you mentioned might hold the clue:

It seems that a different parameter might be needed when calling x265 linked against libnuma (if the change to the cli argument is reflective of actual api cha

[2018-01-23 21:16] ghost commented on #1125
Makes sense to me.

[2018-01-23 21:27] maximd33 commented on #1142
Enable libnuma usage (**Linux only**)
https://github.com/videolan/x265/blob/2a2b88e14f67a7b721ed07cdc07e2aebb3730bab/source/CMakeLists.txt#L92

[2018-01-23 23:51] marcelpaulo commented on #1143
Hey, @bradleysepos, thanks for the speedy and kind feedback ! The Ubuntu maintainers should either fix the package or remove it from the repositories if it's known to be broken, so that nobody comes wasting you guys' time with a known problem. I'll file this bug on the Ubuntu bug tracking site. And of course will follow your link to get myself a proper working copy of HandBrake. Thanks once again,

[2018-01-24 00:31] bradleysepos commented on #1143
The sad thing is that this has been going on for years.

Anyway, if you need any further assistance with this issue, reply and we can reopen. 😸

[2018-01-24 00:44] marcelpaulo commented on #1143
Hey, thanks for your kind and patient replies, @bradleysepos ! Well ... I built **1.0.7** from source, the instructions in the docs are very clear, and I'm still having exactly the same problem: the preview screen goes black but I can hear the audio.

**EDIT 1:** I purged the version I had installed from the Ubuntu nightly PPA and wiped *~/.config/ghb* before I built and installed from source.

**

[2018-01-24 01:13] marcelpaulo commented on #1143
I've run `sudo make uninstall`, removed the *build* directory, wiped *~/.config/ghb*, checked out `master`, and I'm building again. Will try to preview the same *VIDEO_TS* I previously tried, and will post the activity log here if I still hit the same problem. In the meantime, I'm uploading the DVD to Mega (it's taking ages, although I have good broadband upload speed, 50 Mbps).

**EDIT:** No luck

[2018-01-24 13:45] Anbarocrator commented on #660
Hallelujah! It is alive! I'm back on 0.10.5 and all works without any problems:

HandBrake 0.10.5.0 - 64bit Version
OS: Microsoft Windows NT 6.2.9200.0 - 64bit
CPU: Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
Ram: 7872 MB,
GPU Information:
  Intel(R) HD Graphics 4000 - 10.18.10.4653
  AMD Radeon R9 200 Series - 23.20.15015.1002
Screen: 1680x1050

[2018-01-24 17:48] maximd33 commented on #660
there are no chances to have 4xxx driver update

@sr55 it should be possible to check HB's difference but time consuming part, should be considered or just refer to use 0.10.5 HB?

[2018-01-25 04:30] mqudsi commented on #1113
Does HandBrake currently do temporal NLMeans or only 2-dimensional?

[2018-01-25 04:31] bradleysepos commented on #1113
Temporal. `y-frames=2:cb-frames=2`, etc.

[2018-01-25 19:34] fiechr opened #1146 "[Linux GUI] Presets and Storage Geometry"
I'm using
`gtkgui: HandBrake 20180124063123-b67f023-makepkg (2018012501) - Linux x86_64 - https://handbrake.fr`
on Manjaro Linux.

Since a few weeks there is a small issue with the Storage Geometry setting in combination with using presets. Unfortunately it's not easy to reproduce.

I'm using some presets where the max width is set to a lower value than the source. So the source will be scaled dow

[2018-01-25 20:01] JiriS97 commented on #1138
It looks like there is some problem with my file, because when I have removed the English DTS audio track, it worked fine (completed to above 90%, then I have stopped it, to save time, video without audio is useless to me). So I have added English AAC track and it is now stuck at about 54% (before it was about 30%) with 0% CPU. Log included:
[activity_log14500.txt](https://github.com/HandBrake/Han

[2018-01-25 21:39] JiriS97 commented on #1138
Also, when this happened, I have stopped the encoding, deleted this job from queue, but then I am unable to start the queue, unless I restart HandBrake, please see that and log in recorded screen video: https://1drv.ms/v/s!ApINDtgYn4CiiNJwbDkVwqL1iC8wew (the preview does not work for some reason, need to download it)

[2018-01-26 10:45] sneaker2 commented on #160
Text character encoding in Matroska is always UTF-8. All other encodings are forbidden by the spec.

[2018-01-26 10:58] petr-ujezdsky commented on #160
Another reason to make the SRT-passthrough. You won't deal with it at all then :)

[2018-01-26 12:33] sakis14 commented on #160
This is a joke!
The developers are either lying or they are not telling us something.
OP, I am using VidCoder, what you ask for was already a feature on older versions of the program but they removed it afterwards.

[2018-01-26 13:19] sr55 commented on #1104
Can you try tomorrows nightly.  2a011d1d9bd2726aee48aa44a3b99f86a2460cf9

[2018-01-26 13:27] sr55 commented on #160
Yes, this was a deliberate change as we have already stated ...

If you want to see the old behaviour, either use an old version of the software or contribute or wait until someone contributes a patch to make it configurable.

If you want to continue with this bad attitude, feel free to leave.

[2018-01-26 13:42] sakis14 commented on #160
I am sorry if you feel offended by this but I downloaded the newest version of VidCoder and I lost 2 hours of my life trying to figure out what was going on. It was frustration, nothing more. I rolled back to the previous version I was using and everything went back to normal. SRT support was there.

And correct me if I am wrong, I looked up at least 15 change logs and I never saw anything about t

[2018-01-26 21:28] jstebbins commented on #160
🎻 Collectively, the HandBrake developers have "lost" tens of thousands of hours of their life in order to make this software available to you.  So sorry if I have no sympathy.  It's a good thing we do this more for ourselves than for others.  Sometimes I think we should just keep our software private and spare ourselves the abuse users like you throw our way.

If you don't like something, be civil

[2018-01-26 22:02] bradleysepos commented on #833
#1145 completed the remaining Mac UI items.

[2018-01-26 22:14] bradleysepos opened #1147 "Windows Summary tab aspect issue."
See https://github.com/HandBrake/HandBrake/issues/833#issuecomment-353409990.

[2018-01-26 22:16] bradleysepos commented on #833
All tasks complete. Please open new issue(s) for any additional concerns.

That's a wrap! Thanks, everyone.

[2018-01-26 22:16] #833 closed, assigned to bradleysepos, sr55, jstebbins, galad87

[2018-01-27 08:30] hofmand commented on #636
I came here looking for the same functionality. It's interesting how [About Handbrake](https://handbrake.fr/docs/en/latest/introduction/about.html) says to use video editing software if you want to make changes to the video, yet Handbrake supports cropping, deinterlacing, and other changes to the video.

[2018-01-27 16:42] synthercat opened #1148 "x265 has the opposite behavior on speed/size ratio."
### Description of problem or feature request
I've been testing the x265 encoder by having a 60 seconds portion of a movie with 22 RF, no audio, no subs. and comparing it to x264 on all speed settings. While the x264 gave me the expected larger files on faster settings the x265 produces smaller files on faster settings!

Results:

| Preset| File Size|
| ------------- |:-------------:|
| Ultrafast

[2018-01-27 17:06] sr55 commented on #1148
This is expected behaviour.   Firstly, x264 and x265 RF scales are not identically matched.  Second, slower presets don't necessarily mean smaller file sizes.  It's just one of 3 factors (quality, filesize, speed) that are affected in the change.  So depending on the source and other settings, your filesize results will vary.

What are you trying to achieve?

[2018-01-27 17:06] #1148 closed, assigned to nobody

[2018-01-27 23:54] AlanKellyEire commented on #604
is it possible to set the default location to the path of the file that is being converted?

so if i was converting file "A" in folder "A" the converted file would be saved in folder "A" and if i was converting file "B" in folder "B" the converted file would be saved in folder "B"

[2018-01-28 01:59] console-cowboy commented on #388
For those of you looking for WebM support, there are similar utilities, like [WebMConverter](https://gitgud.io/nixx/WebMConverter) and [Xmedia Recode](https://www.xmedia-recode.de/en/), already extant and maintained. Though with WebM's prevalence increasing and AV1 on the horizon, I can only really imagine this will keep getting brought up anyways. I stumbled on this issue trying to figure out why

[2018-01-28 02:11] viggy96 opened #1149 "Handbrake not detecting subtitle track in MKV"
### Description of problem or feature request

Handbrake does not detect subtitle track in mkv

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Ubuntu 17.10

### HandBrake Activity Log ***required*** (see https://handbrake.fr/docs/en/latest/help/activity-log.html)

[code]

[2018-01-28 02:41] woodstockathbf commented on #1149
And yet your log says that it did:

Stream #0:2(eng): Subtitle: ass (default)

Without the rest of the log, it's rather difficult to say what handbrake DID with it, after it detected it.

[2018-01-28 04:29] viggy96 commented on #1149
[code]

[2018-01-28 10:32] sr55 commented on #1149
Sorry, your not using an official HandBrake build.  If you want support for this build, you must direct any problems to the repo maintainer.  This is a problem they introduced by refusing to build HandBrake properly.

The only official build of HandBrake is available here:  https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases

[2018-01-28 10:32] #1149 closed, assigned to nobody

[2018-01-28 18:23] SanyaIV opened #1150 ""Handbrake has stopped working""
### Description of problem or feature request

I've been re-encoding my anime library from H264 10 bit to H265 8 bit (I assume 8 bit) and so far it has been going for about 2-3 days, during that time "Handbrake has stopped working" twice.

### Steps to reproduce the problem

Not entirely sure, I guess just start encoding a bunch.

### HandBrake version (e.g., 1.0.0)

HandBrake version 1.0.7 (20170

[2018-01-28 18:35] SanyaIV opened #1151 "Add to queue -> Remove from queue -> Add to queue issue."
### Description of problem or feature request

I've had some issues with removing an item from the queue, editing it and putting it back into the queue. Basically after pulling it back from the queue and editing it, when I put it back into the queue it sometimes gets added back with the old settings *as well*. I can usually trigger it by moving it in the queue as well. So let's say I first added i

[2018-01-28 18:41] SanyaIV opened #1152 "Editing individual files from a Batch Scan seems impossible."
### Description of problem or feature request

Whenever I do a batch scan and then want the change the settings for the audio or subtitle, like the order of them etc, the settings get reset if I in Title go to another one and then go back to the first one.

### Steps to reproduce the problem

1. Do a batch scan.
2. For the first title, change an aspect of the audio or subtitles, like switching the

[2018-01-28 19:30] viggy96 commented on #1149
But there is't a version for Ubuntu 17.10 artful on the official repository which you list.

[2018-01-28 19:32] sr55 commented on #1149
There is for the nightly builds.  https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-git-snapshots

[2018-01-28 19:36] viggy96 commented on #1149
@sr55 Thanks

[2018-01-28 19:55] woodstockathbf commented on #1152
Try a nightly build.

In the release 1.0.x version and before, the **saved** preset is used for batch-add, ignoring any modifications you make. To make modifications "stick", you have to save the changes to a custom preset, then make that preset the current one, and then batch-add.

This behavior is one of many changes made the to various GUIs for version 1.1.x

[2018-01-28 19:58] woodstockathbf commented on #1150
Try the nightly build, which is "almost, but not quite" the next release. There have been a number of changes since 1.0.7 for things that cause it to "stop".

[2018-01-28 20:27] SanyaIV commented on #1150
I'll try the nightly build then. :)

Edit: It seems I can't import the queue from 1.0.X into the nightly version so I'll continue with the old version until the queue is empty, only ~250 more items (or as some would say a few days of encoding :P)

[2018-01-28 23:38] PegasusRider opened #1153 "Handbrake GUI reboots system mid-encode"
### Description of problem or feature request

While attempting to encode to h.265, "Constant Quality RF 22" seems unwilling to complete without crashing the system. Rarely it will only crash Handbrake, more often it just reboots. Setting RF to 23 or 21 rectifies the issue, at the cost of not necessarily being as close to the final average bitrate I was hoping to attain.

### Steps to reproduce th

[2018-01-29 03:49] woodstockathbf commented on #1153
Do you have a CPU temp monitor application on your system? What temps does it show during encodes?

The two "usual suspects" in cases like this memory issues (higher resolution uses more memory, triggering memory fault as bad memory is hit) and inadequate cooling (motherboard shuts down CPU when limit hit, rebooting system).

CPU temp monitor will help you see if the CPU is running up against limi

[2018-01-29 04:04] woodstockathbf commented on #1150
Ah, this is why I prefer using the CLI and batch files when more than one file is involved. CLI command lines are compatible between versions, unless you're using a feature not available.

And, as long as you make no changes to part of the batch file that has already been executed, you can edit the file and resave it with the changes. My last batch file took a couple of hours to finish editing, wh

[2018-01-29 06:59] marksavio opened #1154 ""prevent the system from sleep while encoding" not working"
### Description of problem or feature request

"prevent the system from sleep while encoding" not working

### Steps to reproduce the problem

Advanced setting default.
encode a file.
goes into idle state and sleeps after 10 mins with encoding still going on.
PC going into sleep mode while encoding is still running.
sometimes hangs my PC when waking up.

### HandBrake version (e.g., 1.0.0)

Nightl

[2018-01-29 08:22] meganone commented on #1104
Hi

The problem appears to be fixed. Encoding now starts normally. Thanks a lot!

[2018-01-29 14:54] PegasusRider commented on #1153
CPU runs sub 60C regardless of Handbrake settings. Memory has been tested with MemTest86, clean after 4 passes (tested 3 different times, but if you suggest an 8 pass as more revealing I could do that.) Drives all tested in good condition from the hardware point of view. MB BIOS is newest.

I DID have a bad stick of memory, so I pulled it, but that was last week. Then, I reinstalled the OS and sta

[2018-01-29 17:35] #1104 closed, assigned to jstebbins

[2018-01-29 17:44] sr55 commented on #1154
Unfortunately there isn't much we can do about it. The app is correctly flagging the fact it doesn't want the system to sleep.  The system doesn't have to honour that though. It's not uncommon for OEM's to ship broken management apps/drivers which totally this for example.

[2018-01-29 17:44] #1154 closed, assigned to nobody

[2018-01-29 17:48] sr55 commented on #1153
HandBrake is very good at weeding out system's with problems, more so than synthetic loads since we make such heavy use of the hardware. (Rather than just one part of it under test).

Tracking these problems down can be tricky but a system reboot isn't the problem of an user-space application unless it specifically requested a reboot. (i.e.  using the When Done, Reboot  which would prompt you it's

[2018-01-29 17:48] #1153 closed, assigned to nobody

[2018-01-29 17:50] sr55 commented on #1150
It's a good indicator there is something off/broken about a file if HandBrake crashes, so a sample that reproduces always helps. Either that or a decoder bug.

A sample is the only way we can typically reproduce this.  So if you still have the issue with a nightly, we'd need a sample to proceed with this issue.

[2018-01-29 17:56] SanyaIV commented on #1150
I've had it happen three times so far, with three different files, after recovery those files completed without issue. That's with the 1.0.X stable build, I'm still going through my queue at the moment, when that is done I'll go over to the nightly and re-encode the rest of my library with that and see if the same issue comes back.

[2018-01-29 18:45] UnInfamousGhost commented on #259
Please do this! I need to save time and I have monster 1080Ti's in SLI that I want to leverage!

[2018-01-29 18:47] sr55 commented on #259
@UnInfamousGhost Hate to be the bearer of bad news, but NVEnc is going to be the same speed on a 1050 as it is on a 1080.  it's an dedicated ASIC, not a CUDA encoder so isn't affected by core count.

[2018-01-29 20:04] ShikiSuen opened #1155 "Unable to remove a specific user-created preset in the Handbrake GUI anymore."
### Description of problem or feature request

Unable to remove a specific user-created preset in the Handbrake GUI anymore. This was support by the current stable build of Handbrake.

### Steps to reproduce the problem

N/A

### HandBrake version (e.g., 1.0.0)

Version 20180128113848-eb78c4a-master (2018012901)

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Win

[2018-01-29 20:05] bradleysepos commented on #1155
This needs to be added to the Presets menu. In the meantime, customize your toolbar to add the Presets icon, and use the delete button there.

[2018-01-30 03:04] bradleysepos commented on #1155
@galad87 Is this something you want to look into or should I?

[2018-01-30 03:11] JMY1000 opened #1156 "Handbrake segfaults while transcoding some raw video"
### Description of problem or feature request

Handbrake segfaults on memory allocation while transcoding certain files.

### Steps to reproduce the problem

I haven't fully narrowed down what conditions trigger the issue, but I suspect the source files are important here: they're the raw videos contained in AVIs extracted from the BINK video files of Portal 2. In other words, they're extremely la

[2018-01-30 03:16] bradleysepos commented on #1156
Not much to see in the encode logs, but the crash log seems to indicate a crash in swscale, which handles image scaling and color conversions. I'm guessing this is an upstream bug in Libav. Someone else may be able to decipher more.

[2018-01-30 06:31] marksavio commented on #1154
so which build version of Windows did you test this feature with?
and this isnt an OEM

[2018-01-30 09:53] ShikiSuen commented on #1155
Looks like you folks are deprecating the preset icon and use the new preset dropdown menu instead.

[2018-01-30 11:06] galad87 commented on #1155
All the presets menu items works on the current presets outline view selection. The outline view selection is not always the same as the popup menu (the outline view lets you select a folder, and it will get out of sync when you reload a job from queue or you change the title), so adding a delete menu item will be the same of the reload button. Tt will make it easy to delete the wrong preset.

If

[2018-01-30 12:17] bradleysepos commented on #1155
Fair enough. I actually did notice this a couple days ago; the OP beat me to creating an issue. Will see what I can do.

[2018-01-30 14:51] skialpine opened #1157 "Audio and Video out of sync using Apple 2160p60 4K HEVC preset"
### Description of problem or feature request

The audio and video get out of sync about 1/2 way through the movie an

### Steps to reproduce the problem

Using the Apple 2160p60 4K HEVC preset I encoded the movie The Infiltrator.I have tried with multiple nightly builds and get the same result.

### HandBrake version (e.g., 1.0.0)

20180121174120 nightly build

### Operating system and version (e

[2018-01-30 18:15] cybergrimes commented on #660
@sr55 re: "Does anyone have a 6th, 7th or 8th gen and can re-produce the -17 error?"
Kind of, I'm having a -21 error with the same message "hb_qsv_wait_on_sync" on v1.07 using a [Pentium G4600](https://ark.intel.com/products/codename/82879/Kaby-Lake) (7th gen non "Core" edition CPU), HD Graphics 630 with driver 23.20.16.4901

I've only been trying 3 different H264 MKV files-- the smallest 20gb fil

[2018-01-30 18:52] sr55 commented on #660
Not the same issue. Please start a new thread for that.

[2018-01-30 19:07] sr55 commented on #1154
Windows 10 16299, 8.1 and 7
We have tens of thousands of users using this feature without issue.

![image](https://user-images.githubusercontent.com/628593/35585731-ac7e7160-05f0-11e8-87df-7b683d1678de.png)

Repeat the test with the option off, system goes to sleep.

[2018-01-30 19:07] sr55 commented on #1157
What did you use to rip the source? Looks like it's corrupted or copy protected in some way.

[2018-01-30 19:16] skialpine commented on #1157
I used anydvd on windows 10.

[2018-01-30 19:23] sr55 commented on #1157
Doesn't look like it's done the job.  Try MakeMKV to see if you get the same result.

[2018-01-30 21:10] markstickley opened #1158 "Incorrect information appearing in queue"
### Description of problem or feature request

I have been ripping a lot of my DVDs and Blu Rays and I had a double take today when I was ripping a TV show and I came back once it was done to this queue (See screenshot).

The queue showed 4 items but the final one wasn't the episode as I had configured it and instead the details for a movie I had ripped several days before.

Of course I thought th

[2018-01-31 00:46] ali971 opened #1159 "where is handbrakecli log in activity logs"
### Description of problem or feature request

in older versions of HandBrake we were able to get CLI command from activity log, but now we can not get it from the activity log

### HandBrake version (e.g., 1.0.0)

1.0.7

[2018-01-31 03:58] skialpine commented on #1157
Using the same ISO file that I had created earlier with anydvd and using the 1.0.7 version I was able to encode it and the audio and video are in sync. This seems like a problem that is new in 1.1.

Here is the log from the 1.0.7 encode
'0000)
[20:38:18] demux_dvd_ps: not a PS packet (00000000)
[20:38:18] demux_dvd_ps: not a PS packet (00000000)
[20:38:18] demux_dvd_ps: not a PS packet (00000000)

[2018-01-31 04:37] woodstockathbf commented on #1159
Log is the same place it always was - where ever you point the redirect at.

For example, if you end your command line with:

2> /my/log/file/here.txt

The operating system will write the log to /my/log/file/here.txt as you asked it to.

[2018-01-31 09:11] galad87 commented on #1158
Yes, descriptions were cached in a mostly stupid way.
Fixed in f26b2624aef71e73bb189aee06296237abd97e82

[2018-01-31 09:11] #1158 closed, assigned to nobody

[2018-01-31 10:41] mgstraze commented on #789
I was having the same problem (Handbrake won't start).  Adding an exception to RivaTuner solved it. Thanks.

[2018-01-31 18:52] sr55 commented on #1159
I think he means the CLI query in the log.  HandBrake GUI no longer uses HandBrakeCLI. It accesses libhb.dll directly, so all the CLI infrastructure was removed from the UI.

HandBrakeCLI --help will list all the options available but there is no way to build a query from the UI.

[2018-01-31 18:52] #1159 closed, assigned to nobody

[2018-01-31 18:53] sr55 commented on #1157
I can see the audio is out of sync on both.

Humor me and try MakeMKV. There are a lot of packet errors from that source.

[2018-01-31 19:02] woodstockathbf commented on #1159
Ah, yes, I can see that, now that you bring it up.

That's why I still have an OLD nightly build from 2014, to help generate batch files....

[2018-01-31 20:47] sr55 commented on #1155
@bradleysepos do feel we should bring the presets pane back  then get popup to sync selection with bar. That stops any odd behaviours and makes the functionality more discover-able. I think button removal wasn't the right decision in this case.

[2018-01-31 20:58] sr55 opened #1160 "MacGUI: Remove legacy OS support"
Make 10.9 the new minimum requirement.

- Easier to Translate
- Less platforms to test on.

Any benefit to making it 10.10?     It's a bit borderline at around 4.5% approx usage.

[2018-01-31 21:01] sr55 opened #1161 "MacGUI: Library Updates (Sparkle)"
- [x] Drop Growl Support. It's not been maintained in a few years so we should probably consider removing it and use the OSX notifications API instead.

- [x] Move to Sparkle >= 1.18.1   (Includes touchbar support and various fixes)

[2018-02-01 01:43] ali971 commented on #1159
@sr55
Hi, Thank you for your reply
in which version CLI query log removed?

[2018-02-01 01:59] Synapto opened #1162 "Either Dolby Downmix Incorrectly Maps Original 5.1 Spatials"
### Description of problem or feature request

With some sources, when downmixing a ~~DTS~~ 5.1 channel source into either "Dolby Pro Logic II" or "Dolby Surround", the source's spatial image (apparent audio position) ends up being heavily unbalanced (towards the left or right) in the encode.

### Steps to reproduce the problem

Load this sample I prepared into HandBrake (audio was passthrough fro

[2018-02-01 03:57] bradleysepos commented on #1155
There is no discoverability issue, only a half-implemented feature with missing or broken controls on the Mac, where these are fully implemented on other systems. That is the actual issue.

The obvious and proper immediate solution is to add a Delete item to the Presets menu as in the other UIs. Then decouple/sync such controls from/to the old pane to make them work properly with the new popup.

[2018-02-01 04:05] bradleysepos commented on #1160
Usage aside, we should probably figure out what features we'd most like to use when deciding on a new minimum, as you suggest. I know some new things are 10.9+, but I have no issue moving to 10.11+ if we have underlying reasons to do so. We should focus on modernizing. HandBrake 1.1.x will continue to work fine for people running outdated operating system versions.

[2018-02-01 10:56] bradleysepos commented on #1155
See #1163.

[2018-02-01 18:54] abeason commented on #1120
Hey Scott, we're still seeing this issue with Align A/V Start in the nightly build. Is there anything we can get you that could give you a sense of where this is going wrong specifically for our workflow? We have test files and logs above.

[2018-02-01 19:01] bradleysepos commented on #1120
@abeason Looks like the sample upload has expired.

[2018-02-01 19:05] abeason commented on #1120
Thanks Bradley. I'll get those reuploaded for you.

[2018-02-02 00:43] woodstockathbf commented on #1159
CLI query is present in the activity log through the 0.10.x version on Windows. It was removed during the development of 1.0.x.

The 0.9.x series was the last that would generate a batch file directly from the queue window.

[2018-02-02 00:50] skialpine commented on #1157
updated anydvd, tried again and no errors in rip. You can close this one.

[2018-02-02 00:50] #1157 closed, assigned to nobody

[2018-02-02 06:04] grince commented on #660
I have the same problem but with a 6gen CPU, Windows 10 and the latest Intel drivers.

Unfortunately, Github doesn't let me upload this as a file :( So here it is:

HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.16299.0 - 64bit
CPU: Intel(R) Core(TM) i5-6500 CPU @ 3.20GHz
Ram: 16239 MB,
GPU Information:
  Intel(R) HD Graphics 530 - 23.20.16.4901
  NVIDIA GeForce GTX 970 - 23.21

[2018-02-02 08:22] rozentals opened #1164 "Handbrake: Encode failed"
DVD ripping failing. I have libav installed (correctly I believe!) but getting 3 errors by the looks of it unless I've missed something.
1. macgui: QueueCore work failed
2. error: avio_open2 failed, errno -13
3. error: avio_open2 failed, errno -13

Ripping a DVD using preset 'fast 576p25' as mp4 file

HandBrake Version 1.0.7 (2017040900)

Mac High Sierra 10.13.3 (17D47)

### HandBrake Activity Log

[2018-02-02 09:16] marcelpaulo commented on #1143
@bradleysepos, wouldn't it be the case of removing the tag "broken 3rd party build" since I've built HB from source and the problem is still present ?

[2018-02-02 09:19] bradleysepos commented on #1143
Sorry, I didn't see your responses. Edits do not trigger email notifications; only new posts.

Perhaps @jstebbins can take a look when he has time.

[2018-02-02 10:26] marcelpaulo commented on #1143
Oh, I'll avoid edits henceforth, @bradleysepos. Thanks for the feedback !

[2018-02-02 12:41] maximd33 commented on #660
@cybergrimes
@grince
you have -21 error while using 1.0.7 (2017040900) version,
does it happen with nightly builds ?

[2018-02-02 14:54] Testato opened #1165 "Release for Ubuntu Artful"
Is it not possible install HandBrake on last Ubuntu

[code]

[2018-02-02 16:10] SanyaIV commented on #1150
Just switched over to Nightly yesterday, or rather the nightly I installed 5 days ago. Just now it stopped working again. Not sure how to get you a sample, the "source" file in question this time is ~5GB. Also it seems to happen randomly and after a recovery the file encodes without issue, so I'm not sure it's a file issue?

[2018-02-02 16:14] SanyaIV commented on #1152
In the nightly I still have issues with this. I batch-scan, edit each file individually to set the subtitle tracks to default (Why is there no preset option to set first track to default, seriously? Or have I just not found it?) and then add them all to the queue via the drop-down > add all. At that point all the changes (setting default subtitle) has reset.. because reasons? This is rather illogi

[2018-02-02 16:22] bradleysepos commented on #1165
Only the nightly build is currently supported on Artful. Please use the snapshots PPA linked here: https://handbrake.fr/docs/en/latest/get-handbrake/where-to-get-handbrake.html

[2018-02-02 16:22] #1165 closed, assigned to nobody

[2018-02-02 16:22] jstebbins commented on #1143
Previews depend on having a functioning gstreamer plugin installed that can play h.264.  If a needed plugin is not installed, gstreamer should show a dialog indicating that it is missing a plugin.  So if you are not seeing this, my guess is the plugin is broken.  One way to test would be to try playing a short encoding with the same settings using totem.  Totem also uses gstreamer for playback and

[2018-02-02 18:15] marcelpaulo commented on #1143
@jstebbins, thanks for your detailed answer. Let me ask you a couple of things:

1. What's the name of the gstreamer plugin that plays H.264 ? I've installed all gstreamer infrastructure from the Ubuntu repositories.
1. I don't have totem installed but will install it to debug this. How can I play *a short encoding with the same settings* ?
1. Can't the same result of this test be achieved using a

[2018-02-02 18:35] marcelpaulo commented on #1143
This is really weird: I installed totem and tried to play 3 different videos I encoded with HandBrake to H.264, and sometimes I got video and audio, other times just audio, other times still it just hang with no video nor audio, or even totem simply crashed, and I couldn't pinpoint which conditions provoked each one of the outcomes. It feels unstable.

It would cleaner to test the gstreamer plugin

[2018-02-02 18:50] marcelpaulo commented on #1143
I had encoded video *Charles.Mingus.Live.at.Montreux.1975.DVDrip.x264.AAC.mkv* with HB, so I placed it in *~/tmp*, and tried this gstreamer pipeline:

[code]

and I got audio **and** video. I suppose this shows that the gstreamer infrastructure is working as it should. So how can we debug this further, to discover why HB is not showing video if the gstreamer pipeline does ? I get the impression th

[2018-02-03 00:02] sr55 commented on #660
Please raise a new issue for -21. IT is not the same as -17 error and it just confuses this thread by cross talking on it.

[2018-02-03 02:51] marcelpaulo commented on #1143
I ran HB debugging gstreamer with `GST_DEBUG=4 ghb`, and, to my surprise, there were some gstreamer messages when HB started, but when I tried to run a preview, there were **no** messages from gstreamer, as if HB were not calling gstreamer to do the preview.

These were the messages output by gstreamer when HB started, **before** I did anything (after these messages, no other messages were output

[2018-02-03 07:04] grince opened #1166 "Handbrake fails when using QSV (Error Code -21)"
### Description of problem or feature request
Handbrake fails to create an mkv when using Intels Quick Sync Video Support for H.265

### Steps to reproduce the problem

create a movie with Intels QSV H.265 Feature enabled

### HandBrake version (e.g., 1.0.0)

HandBrake 1.0.7 and Nightly 20180131214747-daf0049-master (2018020201)

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3

[2018-02-03 07:04] grince commented on #660
sorry - done, Issue #1166

[2018-02-03 07:17] Synapto commented on #1162
Spoke too soon about AC3, as it happens there as well.

Here's a passthrough AC3 sample with ultra-low quality video that also demonstrates the fault:
[AC3_to_DPLII.zip](https://github.com/HandBrake/HandBrake/files/1691483/AC3_to_DPLII.zip)

Still looking for some sort of rhyme to why some tracks do it but others don't.  Current suspect: delay values.

[2018-02-03 12:38] AndreiPukrov opened #1167 "Crash when using stereo mixdown"
**Description of problem or question**
I have a movie (which play fine in VLC, MPV ...), where handbrake (latest stable e.g. 1.0.7 and as well as latest nightly from today) is crashing. I nailed it down to a special section from a movie and will provide that section, so you can reproduce the issue and hopefully fix that with my sample. I also nailed it down to the audio part, as the whole movie (a

[2018-02-03 12:57] AndreiPukrov commented on #919
as I got more experience with MKVToolNix I was able to extract the section from the movie which is causing that problem and created the following case [here](https://github.com/HandBrake/HandBrake/issues/1167) so we can reproduce the issue now via a sample and hopefully get that solved.

[2018-02-03 14:41] HelmoHass opened #1168 "Mac build issue"
### Description of problem

just downloaded and build latest release, all good, BUT, curiously the final bundle seem have issues when creating symlinks into frameworks, results is a bundle of 100mb+
### Steps to reproduce the problem
used
scripts/mac-toolchain-build /path/foo
export PATH=“/
the building was fine only frameworks were messed up

### HandBrake version (e.g., 1.0.0)

TAG=1.0.7

### Op

[2018-02-03 15:27] AndreiPukrov opened #1169 "Size / Dimension sometimes not calculated correctly when using UHD content"
### Description of problem or feature request

When I load some UHD content into Handbrake (with an pre-selected H.265 MKV 1080p30 profile), the output size is often not calculated correctly. Handbrake is calculating an height from 520 while I expect an height from 1080.

_I tried to build an example from the movie where I can reproduce that, however this didn´t work. It looks like its either the

[2018-02-03 15:29] bradleysepos commented on #1168
Interesting; I haven't seen this before. Are you building on an HFS+/APFS volume? It would be good to see the log files from `build/log`.

[2018-02-03 15:32] bradleysepos commented on #1169
Will test this on Windows shortly, could be a calculation bug, or perhaps automatic cropping is being to aggressive. Works on Mac. Would be good to see an encode log, which will provide more info.

Is it possible to use the height stepper control to increase the height? Or is it maxed at 520?

_Edit:_ Seems to be working for me on Windows with 4K UHD content.

[2018-02-03 16:13] AndreiPukrov commented on #1169
1.) Hm, you mean I should encode the whole movie with the 520p and then provide you the logfile?
2.) Yes I can increase the height from 520 to 522 and so on without issues. I can also by hand add here an 1080 and can see in the latest nightly that the preview in the summary now got a correct size and the persons in the preview no longer have some strange heads.

[2018-02-03 16:17] bradleysepos commented on #1169
Okay, that’s all good to know.

You can stop the encode after a few moments and then provide the log. There’s some info that only prints when encoding, but you don’t need to run the whole thing.

[2018-02-03 16:22] AndreiPukrov commented on #1169
ok, once the current job finished I will upload some files from the first seconds from an 520p test encode.

[2018-02-03 16:22] maximd33 commented on #1166
thanks for checking the nightly build as well
the error is permanent and happens each time?

[2018-02-03 16:26] The-Ant-Forge commented on #345
+1 for **preserving** meta as well...

I think use cases described above are leading the developers into considering (then obviously discounting) a full meta data editing tab. This is obviously a chunk of work. There's plenty of 3rd party tools to do this already for things like commercial movies etc.. MetaX for example happily adds film meta mkv/mp4 alike.

Also HB isn't just for (commercial) mov

[2018-02-03 16:31] bradleysepos commented on #345
I don't think we have any objection to preserving (passing through) existing metadata, just haven't implemented it extensively yet. IIRC there was a patch on our old ReviewBoard to preserve more than we do now, but it's likely far out of date by now.

[2018-02-03 19:07] bradleysepos commented on #1155
These and related issues should be fixed in #1163 which is currently under review. Additionally, the Presets toolbar item is back as of https://github.com/HandBrake/HandBrake/commit/155e573654edcb1889b9d6c42e3f407889e1746f.

Thanks for the feedback! Closing.

[2018-02-03 19:07] #1155 closed, assigned to bradleysepos, sr55, galad87

[2018-02-03 23:37] grince commented on #1166
well - I tried it now five up to ten times and everytime the error happens, so yes.

[2018-02-04 12:37] HelmoHass commented on #1168
an HFS+
Yeah me neither, however,

i found the cause but not the reason why this happens and was able to reproduce it multiple times.
It seems it is caused by a recent modification I made to my build command. ( though it was nice to add a few lines at the end process to move all 3 files from xroot to a directory to Desktop, and clear all building directories right after instead of just open xroot

[2018-02-04 12:38] MDB73 opened #1170 "Feature Request: Add FDK AAC audio encoder"
### Feature request

Can you add support for FDK AAC? With VBR and COMPLEXITY.
The AAC AVCODEC codec produces very low quality audio.

Right now, I encode the video with HandBrake and forward the audio track with another program.

I think having high quality audio is a very important thing.

Thank you!

[2018-02-04 12:46] bradleysepos commented on #1168
Thanks for the update. I suspected perhaps you were moving the files to a non-HFS+/non-APFS volume, or some other situation that would make symlinks impossible, in which macOS was probably working some magic to avoid a broken app at the expense of size.

Anyway, `cp -R` should be sufficient and is what the build system does during `make install`. Alternately, you could try using `ditto` on the app

[2018-02-04 12:46] #1168 closed, assigned to bradleysepos

[2018-02-04 12:48] bradleysepos commented on #1168
I should add, if you pass `--prefix=~/Desktop/whatever` to `configure`, you can simply `make install` directly to your intended directory.

[2018-02-04 12:51] bradleysepos commented on #1170
The [Building for Windows](https://handbrake.fr/docs/en/latest/developer/build-windows.html) documentation article lists commands for compiling with FDK-AAC. Unfortunately, such binaries are non-redistributable, so we cannot provide you with official builds as such.

Closing. Feel free to reply further, and we can open if necessary.

[2018-02-04 12:51] #1170 closed, assigned to nobody

[2018-02-05 02:16] TimMarshAU opened #1171 "Scanning title on 1.0.7 nightly on Win7 Enterprise stuck at 100%"
### Description of problem or feature request

Scanning a .mov from Filmic Pro/iOS/iPhone SE (800MB or 1.6GB) is stuck at the "Scanning Title 1/1 (100%) phase. Cancel button does not work. Have to force close Handbrake.

This happens whether I do a single file or batch scan. Used to work on this machine and now does not.

I have admin privileges on this machine.

### Steps to reproduce the problem

[2018-02-05 02:24] TimMarshAU commented on #1171
Closing as nightly build fixes (I erroneously ran 1.0.7)

[2018-02-05 02:24] #1171 closed, assigned to nobody

[2018-02-05 17:42] ghost commented on #1167
[13:31:05]    + encoder: AAC (libavcodec)

…does it crash if you use another audio encoder?

[2018-02-05 18:35] AndreiPukrov commented on #1167
Yes I is also crashing when using MP3:

(Same settings as above but) -> Coded: MP3 -> Mixdown: Stereo --> Crash
(Same settings as above but) -> Coded: AC3 -> Mixdown: Stereo --> OK, no crash
(Same settings as above but) -> Coded: Vorbis -> Mixdown: Stereo --> OK, no crash
(Same settings as above but) -> Coded: AAC -> Mixdown: Dolby Sorround --> OK, no crash
(Same settings as above but) -> Coded: A

[2018-02-05 18:46] ghost commented on #1167
OK, reproduced here under macOS with the MP3 encoder. Weird, no clue as to what's happening.

[2018-02-05 18:53] AndreiPukrov commented on #1167
hm thanks for the MAC test, so HB is crashing with the same settings on Windows and MAC then...

The "real" issue is that it didn´t seamed to be specified to only that movie. I have some other (see referenced bug above) where I have that issue as well. But in the original bug report I couldn´t provide a sample to work with... But now I can and hope with that sample it would be possible to nail it

[2018-02-05 19:21] AndreiPukrov commented on #1169
by the way if you need to see that as capture, check this [here](https://www.mirrorcreator.com/files/0EIR1V2A/issue_captured_as_screen.mkv_links). The x seconds I encoded shows 520p in VLC however i personally think the screen from the sample is much bigger then 520p...

By the way here is the log from the first test:
[code]

[2018-02-05 19:26] bradleysepos commented on #1169
Thanks. Looks like a bug in the calculations, perhaps subtracting cropping after scaling instead of before.

[2018-02-05 19:32] AndreiPukrov commented on #1169
ok, did you need something from me to nail it down? Some more log files or something like that so that this could be picked up? Because if I get a follow up after x months I might no longer know which movie I used to reproduce the issue. So I would like to submit any useful info you might need now :-)

[2018-02-05 19:36] bradleysepos commented on #1169
Your dedication is appreciated! I assigned our Windows developer @sr55, so he can follow up if necessary.

[2018-02-05 19:43] AndreiPukrov commented on #1169
thanks, by the way [here](https://www.mirrorcreator.com/files/N56XV3CN/test_output.mkv_links) is an example output (i removed the audio and used 40 RF; so that i can upload it with my limited connection I have). Please keep noted its not the one from the logfiles! In VLC you can see it reports 520p, however when I play it with VLC the VLC windows is resized and is then bigger as my current screen,

[2018-02-05 19:51] bradleysepos commented on #1169
The calculation should be 3840x2160 minus 560 total vertical cropping, for 3840x1600 before scaling. Which is correct in the log.

From there, if you're using Anamorphic Auto, the output after scaling should be 1920x1080 storage size and 2592x1080 display size. It looks like the UI is subtracting the cropping again from the scaled height, creating a 1920x520 storage size and 1248x520 display size,

[2018-02-05 21:30] sr55 commented on #1166
MFX_ERR_GPU_HANG                    = -21,  /* device operation failure caused by GPU hang */

This can be caused by many things.  Does this happen with all sources?  Same with h.264 encoder?

[2018-02-05 21:32] sr55 commented on #1166
Seems others having this problem too with other applications. :(  https://software.intel.com/en-us/forums/intel-media-sdk/topic/737908

[2018-02-05 21:36] sr55 commented on #1166
Oddly according to the release notes, it's a Linux only "feature".  Apparently Hang recovery requires a full reset of the hardware which I'm going to guess is going to cause more problems than it solves for us given we have to encode content, not just display.

Also, "GPU hang reporting is supported for Linux only." must have changed at some point?

[2018-02-05 21:49] maximd33 commented on #1166
@sr55 good point about checking h264,
where do you see Linux only? this should be fixed..

[2018-02-05 21:51] sr55 commented on #1166
Old Release notes: http://kavi.hotar.ru/system/files/private/media_server_studio_sdk_release_notes.pdf   Slightly sketchy link but old versions of the doc are not on intel site

"o GPU hang reporting is supported for Linux only."

[2018-02-05 22:27] maximd33 commented on #1166
it is old ones, R3 is latest for Windows
https://software.intel.com/en-us/articles/intel-media-server-studio-release-notes

[2018-02-06 08:46] AndreiPukrov commented on #1169
ah ok

[2018-02-06 13:20] artem-shaporenko commented on #1166
Hi Guys, GPU hang reporting is available on both linux and windows(latter starting from particular drivers).

Yes in current stage - this is kernel limitation, starting from 4.14 there were changes in kernel adding capacity to only kill particular task caused GPU hang, and only reset particular encoder(MSDK/VAContext) or even just start encoding from IDR.
I believe support will be integrated into

[2018-02-06 16:27] bradleysepos commented on #259
@barnesma No idea where you are coming from on this, but personal attacks on others will get you banned. As far as I can tell, Scott was being direct, not rude. If you have a specific comment you are concerned about, feel free to address me personally with your concerns. Public name calling isn't in your or anyone else's best interest.

I really need to speed up work on our code of conduct.

[2018-02-06 17:06] barnesma commented on #259
@bradleysepos  you're right. This isn't the right place for this conversation. I have just been paging through issues/comments relating to GPU encoding and have noticed a trend that I let get to me. I'm deleting the original comment.

[2018-02-06 18:15] sr55 commented on #1166
Thanks for the feedback!

I'm guessing even if we reset D3D, getting the encoder back into the correct state isn't going to be easy.

So I guess we need to figure out why this happens and try resolve it.  That and/or maybe pickup the -21 hang and end the encode cleanly.

Interestingly, I run a similar 8600K / 1060  Intel/Nvida setup without issue. Running a slightly older driver here so I'll updat

[2018-02-06 19:35] sampumon commented on #720
@mikumi which program encodes with GPU?

I notice (MacBookAir 2014, Intel i7 + HD Graphics 5000) that only QuickTime Player does a super-fast GPU encode (uses ~20% CPU).

Not even other Apple programs, like Final Cut Pro, encode as fast. Hence, I wrote a [quick'n'dirtyTime batch encoder](https://github.com/sampumon/quicktime_export) : )

[2018-02-07 03:46] ahmedtds opened #1172 "Feature request: Ability to use external x264 binary"
Instead of waiting for Handbrake to update its internal libraries whenever that may be, would be nice to have an option to tell Handbrake to use an external x264 binary to use.
And it's not just for using latest version. Let's say someone wants to use a specific x264 version for testing purposes or some other reason. Or wants to use one of the x264 mods like tMod or kMod something.
A little freedo

[2018-02-07 04:00] bradleysepos commented on #1172
As HandBrake relies on the x264 library (not binary) and the associated API, we only ship code compatible with versions we've tested and are known to work. For instance, we recently updated the nightly build to newer x264, which required some changes to HandBrake as well. On Linux, HandBrake uses the system provided x264 library.

Anyway, I appreciate what you're asking, it just isn't as simple as

[2018-02-07 19:31] sr55 commented on #1172
I don't think this is something we can reasonably support. We've just completed moving away from dll files for the 10/12bit 4/5 encoders.  The amount of users complaining that they couldn't get 3rd party libraries working was pretty high so it's just not feasible for us to handle I'm afraid.

Might be a different story if we offloaded to x264/5.exe like most other applications do but this is a pai

[2018-02-07 19:31] #1172 closed, assigned to bradleysepos, sr55, jstebbins, galad87

[2018-02-07 19:33] sr55 commented on #1169
I have a distinct lack of time for the project in the last few weeks so I've not had time to really dig into issues. Sorry.  Hopefully find a few hours at the weekend and get caught up.

Cropping is a clue so I have something more to go on now.

[2018-02-07 19:34] sr55 commented on #1164
You defiantly have permissions correct and space to write to
[08:14:10] + /Users/Charlie/Movies/JOOLS_HOLLAND.mp4
?

Looks like it's not even been allowed to create the file.

[2018-02-07 19:37] sr55 commented on #1166
@grince  what else do you have running on your system?  You might try shut down everything else running. Even the likes of Geforce experience or any other background apps and see if that helps.

If your able to disable the Nvidia and test with a monitor connected to the Intel, it might be interesting too.

[2018-02-07 19:44] artem-shaporenko commented on #1166
Sure need to figure out :)

Well, you will be able to reset, but that requires full reset of pipeline and to make transcoding proper way  restart decoding->vpp->etc from the nearest IDR, but for this particular case it looks like failing immediately after start - so it looks like to be some critical issue for initialization - some config mismatch. What I can suggest - remove all the intel drivers

[2018-02-07 19:50] sr55 commented on #1166
Looks like it got a good way though the log before it failed. It wasn't an init failure.

Error code -21,	hb_qsv_wait_on_sync	602

[2018-02-07 19:53] artem-shaporenko commented on #1166
ok...
@grince Are you seeing the same on previous drivers? Or it is something happening only with 23.20.16.4901.

[2018-02-07 20:24] abeason commented on #1120
Hey @bradleysepos

Sorry it took me so long to get back to you. Here are the original test files reuploaded: https://we.tl/KA8XAwjk2w

Logs are above. Let me know if there's anything else you need.

Thanks!

[2018-02-07 22:21] bradleysepos commented on #1120
@abeason I brought the HQexport file into Premiere and it's dead on. Sequence and clip are both 23.976. I'm not sure what I need to do to reproduce the issue?

[2018-02-07 22:24] abeason commented on #1120
@bradleysepos We confirmed the issue primarily via the waveforms on the tracks in Media Composer as seen in the examples above, but I think it was also perceivable to the human ear/eye by about the 3 minute mark. If you turn on the waveforms for the audio tracks in Premiere do you see something similar?

[2018-02-07 22:32] bradleysepos commented on #1120
That's how I was checking, scrubbing one frame at a time and the waveform/audio and screen flash lined up perfectly.

I wonder if this is related to #377 and Media Composer is being picky about the container rate. @jstebbins please test when you have time (sample link expires in 2 weeks, but I have the samples).

[2018-02-07 22:35] bradleysepos commented on #1120
The audio does seem to be slightly out of sync in QuickTime. So it's probably the same issue and dependent on the engine used for playback.

[2018-02-07 22:45] abeason commented on #1120
@bradleysepos Very interesting! Thanks for the insights.

Do you think the approach mentioned in #377 near the bottom by @syntein of setting the profile as baseline might work to correct? I also need to check to see if there is a disparity between the input and output frames as described throughout the thread.

I know that the standard/legacy Quicktime-based export system in Avid has a tendency to

[2018-02-07 22:56] bradleysepos commented on #1120
I haven't tried it, but it's possible. Baseline disables B-frames; perhaps try setting bframes=0 in the Additional Options box.

I'll defer to John on that, when he has time to respond.

Indeed, there is technically no cfr/vfr in mp4 as I understand it. The former simply means all timestamps for each packet are the same. HandBrake uses a pretty standard tick rate of 90,000 Hz, which for works for

[2018-02-07 23:01] abeason commented on #1120
Copy, thanks Bradley. Will let you know of any findings.

[2018-02-08 17:46] AndreiPukrov commented on #1169
its not a urgent bug as there exists a workaround but as i discovered that I thought that it could maybe wiped out. if I can help with some more logfiles or something give me a note :)

[2018-02-08 17:53] AndreiPukrov opened #1174 "WinGUI: Reorder subtitles checkboxes to follow the HB standard"
Can somebody improve the checkboxes on the Subtitles tab? On the subtitles tab there seamed to be the rule:
_description THAN Checkbox_
![screenshot1](https://user-images.githubusercontent.com/32366336/35989363-45d0ead4-0d01-11e8-9015-953d3fd5a6bd.gif)

while on the video tab its the opposite:
_Checkbox THAN description_
![screenshot2](https://user-images.githubusercontent.com/32366336/35989375-4d

[2018-02-08 17:58] bradleysepos commented on #1174
Indeed, would be good to have the controls left of the labels, and some spacing to separate each pair. Thanks for the spot.

@sr55 Minor, but if/when you have time.

[2018-02-08 18:55] abeason commented on #1120
@bradleysepos @jstebbins Baseline does not seem to have corrected the issue, audio is still one frame out of sync ahead of picture. I notice in the x264 documentation I have the ability to set the timebase, what would an appropriate setting for 23.976 be?

[2018-02-08 18:56] bradleysepos commented on #1120
I can't answer that, but HandBrake has its own sync code. Making changes at the tail end probably won't help; by that point the sync is already locked in.

[2018-02-09 15:45] rozentals commented on #1164
Thanks. That’s reassuring that I’m not a complete muppet at least!

[2018-02-09 20:21] sr55 commented on #1164
That was a question, not a statement. ;)  Your system appears to be preventing handbrake writing to that directory

[2018-02-10 19:21] rozentals commented on #1164
Your grammar was crucial there. Although the destination path looked
correct, I changed it and it worked! Great observation and really
appreciate your help. Nice one mate!

On Fri, 9 Feb 2018 at 20:21, Scott <notifications@github.com> wrote:

[2018-02-10 19:35] #1164 closed, assigned to nobody

[2018-02-10 20:10] sr55 commented on #1174
Changed to be consistent.

[2018-02-10 20:10] #1174 closed, assigned to sr55

[2018-02-10 21:23] sr55 commented on #1169
Should be corrected but we'll need to watch for regressions.  This code can be a little tricky.

[2018-02-10 21:23] #1169 closed, assigned to bradleysepos, sr55

[2018-02-12 01:24] cjsummers82 opened #1175 "Neverending Title scan"
### Description of problem or feature request

Scanning DVD, just hangs at random places (usually around ~80%).

On Nightly Build, same issue as #713

### Steps to reproduce the problem

Open DVD source to scan

### HandBrake version (e.g., 1.0.0)

Nightly 20180210212253-6b4325c-master (2018021101) - 64bit

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 1

[2018-02-12 01:47] woodstockathbf commented on #1175
Does it respond the same way if you disable libdvdnav in Preferences->Advanced ?

[2018-02-12 02:39] cjsummers82 commented on #1175
Thank you for your response.  I disabled setting, and ran again, however, it still hung at track 15 of 21, at 84%.  Logs look slightly different.
[activity_log4556.txt](https://github.com/HandBrake/HandBrake/files/1715174/activity_log4556.txt)

[2018-02-12 13:37] woodstockathbf commented on #1175
This part is probably the issue:

[21:14:12] dvd: vobu read error blk 9539 - skipping to next blk incr 10
[21:14:15] dvd: vobu read error blk 9549 - skipping to next blk incr 20
[21:14:18] dvd: vobu read error blk 9569 - skipping to next blk incr 30

The disk has a spot that cannot be read.

The error messages when ripping directly can be rather obtuse, which is why handbrake isn't "sold" as a rip

[2018-02-12 16:16] cjsummers82 commented on #1175
Thanks for the info.  Could the DRM be the reason it cant read, or possibly a different format than most standard DVDs? The reason I ask is because it is a fairly new disk, with little to no blemishes on it, and it plays fine with no noticeable skips.  I'm trying to add this disk to my Plex library (which I have used handbrake for dozens of other DVDs without issue).  Understanding that HandBrake

[2018-02-12 16:26] woodstockathbf commented on #1175
The error does not look like a DRM problem. The data (when it can be read) is being acted upon, but there are parts that just cannot be read. Cleaning the disk with a damp, soft cloth will likely be all that is needed.

On the MakeMKV forum, they have a topic on ripping errors:

http://makemkv.com/forum2/viewtopic.php?f=8&t=15055

[2018-02-12 17:48] Sparky72 opened #1176 "Stuck Scanning Title 1 of 1 100% - BlackMagic Hyperdeck 4K"
Attempting to use Handbrake to convert recorded video from a BlackMagic Hyperdeck 4K into something useful for use with Nero2018.

But Handbrake gets stuck opening the video saying:
Please Wait: Scanning title 1 of 1 (100%)

I have tried:
HandBrake-1.0.2-i686-Win_GUI  (running in a 32bit VM)
I can cancel the scan, and open the log from the application
and
HandBrake-1.0.7-x86_64-Win_GUI (on a Win10

[2018-02-12 19:15] woodstockathbf commented on #1176
What happens when using a nightly build? There are a LOT of changes in the nightly, which we're told will become version 1.1 "real soon now"

[2018-02-12 20:15] sr55 commented on #1176
It's the overflow bug again. 16 channel audio triggers it.

 It's fixed in the nightly builds so I'd use those.    https://handbrake.fr/nightly.php

[2018-02-13 09:32] AndreiPukrov commented on #1169
cool thanks

[2018-02-13 09:39] AndreiPukrov opened #1177 "Denoise filter options present & tune are gone"
### Description of problem or feature request

After editing an existing job the preset & tune options are hidden:

![screenshot](https://user-images.githubusercontent.com/32366336/36143365-31cbf558-10ab-11e8-9aa4-3ec1bfc83e9e.png)

### Steps to reproduce the problem

1. start HandBrake
2. Load Movie
3. Select x265 1080p profile
4. Switch to filters
5. Put Denoise on NLMeans
6. Put preset on Mediu

[2018-02-13 09:55] AndreiPukrov commented on #1142
Hm, i would support that as i think that this would then fix my issue reported [here](https://forum.handbrake.fr/viewtopic.php?f=11&t=37269&p=175886#p175886). So if needed I can  offer to run some tests against a Dual CPU system if required.

Running two instances of Handbrake would work if you have two movies. However I often have only one to work with (and I think 80% of the other users as well)

[2018-02-13 15:43] 28598519a opened #1178 "Subtitles suggestion - Import .ass files"
Can you add .ass subtitles support?

[2018-02-13 17:30] AndreiPukrov commented on #1178
looks like according to [wikipedia](https://en.wikipedia.org/wiki/SubStation_Alpha) this format is only rarely used and many players (hardware based) do not really recognize that.

So why did´t you use mkvtoolnix to add that after the handbrake job finished? Adding a subtitle file via mkvtoolnix would only take some seconds. You could do also a bulk merge if needed via:

`for f in *.mkv; do mkvmer

[2018-02-13 17:36] bradleysepos commented on #1178
@AndreiPukrov Actually, ASS/SSA is quite popular.

There may be another open issue for this request; we're not opposed to it but haven't made time to add it yet.

[2018-02-13 18:59] woodstockathbf commented on #1178
They're already supported if you have mux'ed them into the source. The renderer in handbrake does a very good job of drawing them, with many types of decoration.

Passing them through to the output... handbrake translates both SRT and ASS/SSA to a common format. I can confirm that at least several of the popular hardware players do a particularly poor job of rendering them, which is why I have han

[2018-02-13 21:14] ozmium opened #1179 "Improve stop encoding dialog on Mac."
### Description of problem or feature request

There are several button text labels that are very confusing or hard to understand what they mean. This creates a usability problem.

### Steps to reproduce the problem

Observe and consider renaming the following button labels on the toolbar.
Format = Button label -> Suggested rename (reason).

* **"Open Source"** -> **"Open Video File"** ('Source' i

[2018-02-13 21:22] bradleysepos commented on #1179
Thanks for the suggestions. The Cancel dialog and others are due for revision.

At the same time, I think some of your suggestions are more ambiguous or misleading. So we agree some review is in order, but I would take a different approach on many of these.

Some examples: Source is a HandBrake term used for years and years. Especially coupled with the new documentation, it’s a convention we’re ke

[2018-02-13 21:25] bradleysepos commented on #1179
Oops, cut off.

Adding Video doesn’t make things clearer; it only makes things more verbose. HandBrake predominantly operates on video, so that’s the assumption.

Anyway, this is something we can discuss with other UI revisions and perhaps refine the language. The Stop dialog is particularly bad, and I look forward to improving it (eventually).

[2018-02-13 21:41] bradleysepos commented on #1179
Some more notes:

- `Finish Current and Stop` could be removed
- `Cancel Current and Continue` -> `Skip Current Job` (we’re referring to queued items as jobs in many places now)
- `Cancel Current and Stop` -> `Stop All Jobs`
- `Continue Encoding` was chosen for clarity, while Cancel is potentially confusing; are we canceling the dialog or the job?

Not trying to be critical, just brainstorming. I

[2018-02-13 21:58] ozmium commented on #1179
OK no problem. Another issue with the sentence "Open Source" is that most desktop apps do not call it "Source".  They use "File" instead, like "Open File..." in a web browser. This familiarity that users already have with "Open File..." is lost, when Handbrake renames it to "Open Source".

The same applies with the lack of "Cancel" button on the Stop dialog. The familiarity of seeing it on other a

[2018-02-13 22:19] PhilJFry commented on #1179
"Open File" would be plain wrong, as there are multiple options. Source can not only be a file, but also a folder, a disk or device, ... IMHO "Open Source" is exactly the correct label.

[2018-02-14 14:07] ajkWare opened #1180 "Aspect Ratio No Longer Correct"
### Description of problem or feature request

Since the latest changes (I presume "WinGui: Fixes to Anamorphic handling..."), the aspect ratio for videos may no longer be maintained if the video is cropped.

### Steps to reproduce the problem

Set the maximum dimensions for the video in a preset (for me 1280x720)
Load a 1920x1080 video  - _keep aspect ratio_ is set
.    Stream #0:0(und): Video: h

[2018-02-14 14:51] ajkWare commented on #1180
Prodding this around some more, I find that part of my problem is that my preset had a maximum width set of 1280 - it should have been 1920.  Although the old preset worked with a previous nightly build and gave a width of 1694, the later build correctly keeps the width at 1280.  Unfortunately, with an amended preset, the new build still gets the aspect ratio wrong.  The output width is set to 192

[2018-02-14 21:16] sr55 commented on #1179
IMO, the least useful option is "Cancel current and stop". The others are quite useful although it is ugly looking dialog the way it's presented. I'd be more inclined to use a choice list approach for that kind of UI.

[2018-02-14 21:17] #1176 closed, assigned to nobody

[2018-02-14 21:26] Nomis101 opened #1181 "Update to libav 12.3"
I understand, that HandBrake is currently feature frozen and probably will move to ffmpeg, but I just found out libav 12.3 was released a few days ago. It says:

[code]
https://git.libav.org/?p=libav.git;a=blob;f=Changelog;hb=refs/tags/v12.3

[code]

[2018-02-14 21:35] Travis-Banger opened #1182 "MP4 extracted from ISO is incomplete"
### Description of problem or feature request

I have an ISO file with a movie that lasts 2:56'59". I have repeatedly attempted to extract an MP4 version, but it stops at the 1:37'07" mark.

### Steps to reproduce the problem

(1) Download this file:
https://mega.nz/#!RLZ2RCZY!fbx07eoM9xAJc6ZT6s-zApD7Y8QAfSpkXen27mLv9as

(2) Start Encode to MP4

### HandBrake version (e.g., 1.0.0)

1.0.7 (20170409

[2018-02-14 21:51] #1177 closed, assigned to sr55

[2018-02-14 22:31] all-the-good-ones-are-gone opened #1183 "Closed Captions (CC) in MKV causing quit before finish"
### Description of problem or feature request

Whenever ripping a movie to MKV, job finishes prematurely whenever CC subtitle is included.
This has also happened recently on Debian Testing and Linux Mint stebbin PPA.

### Steps to reproduce the problem

Open ghb
Select Open Source, select folder or ISO file
Select H.264 Constant Framerate Constant Quality
Make sure Subtitle List includes CC
Select

[2018-02-14 22:34] sr55 commented on #1183
Where did you get HandBrake from?  If your using the OpenSuse version, I'm afraid it's not supported. You need to compile from source to get a supported version.

[2018-02-14 22:38] all-the-good-ones-are-gone commented on #1183
This would be the openSUSE Packman repository, Debian Stable-backports/Testing repository and http://ppa.launchpad.net/stebbins/handbrake-releases/ubuntu for 16.04.

I take it I should bring this up with Packman instead?

[2018-02-14 22:45] sr55 commented on #1183
Wouldn't waste your time.  They don't care.  It's a deliberate act that they break it.  Debian builds are also broken. (infact, the vast majority of distro builds all have the same problems because they override our build system and build against incompatible system libraries)

I wouldn't might seeing a log from the PPA and the PPA nightly builds if your using those.
 also a log without subtitles

[2018-02-14 22:48] all-the-good-ones-are-gone commented on #1183
Unfortunately I wiped Mint for Tumbleweed.

That log would be for the PPA?

[2018-02-14 22:57] #1183 closed, assigned to nobody

[2018-02-14 23:03] all-the-good-ones-are-gone commented on #435
Another "me too" here.

It'd be really great to be able to have functional handbrake without having to compile, and a unified instruction set for all linux would probably help (or at this point it's more of not excluding every entity that's not based on Ubuntu).

[2018-02-15 06:06] bradleysepos commented on #435
@all-the-good-ones-are-gone

The documentation at https://handbrake.fr/docs lists detailed instructions for many other Linuxes and BSDs. Doing our best to be inclusive, where we can reasonably do so!

[2018-02-15 08:43] AndreiPukrov commented on #1177
thanks :)

[2018-02-15 10:17] all-the-good-ones-are-gone commented on #435
@bradleysepos
Unless I missed something the docs link here for anything that's not Ubuntu, and here links back to docs for instructions.

Docs:

github:

[2018-02-15 10:53] bradleysepos commented on #435
Apologies if I misinterpreted your comments. Indeed, we do not currently distribute *binaries* for platforms other than Ubuntu.

To clarify, the documentation provides detailed instructions for *compiling* on multiple Linuxes and BSDs. See the latest [Table of contents](https://handbrake.fr/docs/en/latest/table-of-contents.html), and scroll down to the Developer documentation section.

This is the

[2018-02-15 10:53] David-Else commented on #435
I was overjoyed when recently Handbrake was made available for Fedora via RPM Fusion!

`sudo dnf install handbrake` will get you the full GUI version :)

[code]

[2018-02-15 11:07] bradleysepos commented on #435
@David-Else To my knowledge, we haven't reviewed the RPM Fusion package to verify it is unaltered. I absolutely suggest you read [Where to get HandBrake](https://handbrake.fr/docs/en/latest/get-handbrake/where-to-get-handbrake.html). We unfortunately have a fairly extensive list of packages from popular repositories that are broken in various ways. It's also important to know that 1.0.4 is the lat

[2018-02-15 11:23] David-Else commented on #435
@bradleysepos Thanks for the info, but basically I waited a year to get any kind of working Handbrake for Fedora. I have used Handbrake for years on Windows and was missing it badly in Linux, it is a minor miracle I can finally use it and have absolute trust in the RPM Fusion crew or I would not install any of their releases on my machine!

I would be very grateful if you could post back in this t

[2018-02-15 11:35] bradleysepos commented on #435
@David-Else Perhaps if you read the [spec file](https://pkgs.rpmfusion.org/cgit/free/HandBrake.git/tree/HandBrake.spec), you will see they do not deserve your trust. The log shows a long history of breaking modifications, including swapping in FFmpeg. So I guess they get added to the wall of shame. 😞

To be clear, we know why these changes break HandBrake and there's nothing we can do about it. We

[2018-02-15 12:54] David-Else commented on #435
@bradleysepos I am a user of HandBrake, not a developer or packager, it is kind of crazy to think i would understand the spec file?

The fact that "the excellent CentOS team" have never shipped HandBrake is evidence that they are NOT excellent. Maybe they are technical geniuses, but from a user of HandBrake's point of view that is irrelevant.

I tried to switch to Centos myself last year, and was

[2018-02-15 13:08] bradleysepos commented on #435
Oh absolutely, you don't have to understand a spec file. To be clear, I was suggesting you read the changelog at the bottom of it. It reveals in plain English what is going on, and I've tried to explain further here.

Anyway, this is why we provide step by step instructions you can paste into your terminal application. Providing binaries on other systems, when we are more able, will certainly be q

[2018-02-15 15:40] akors commented on #435
All the more reason to use FlatPak! You can decide against which runtime you want to compile and completely control the compilation and packaging process. *you* are then the packager yourself, the one who knows best.

FlatPak then allows your users to install both the runtime that you reference as well as the package you created, on pretty much any system. This alleviates the need for external pac

[2018-02-15 16:31] bradleysepos commented on #435
Agreed. 😸

Aside, while code alterations are permitted by the license, even a fork would be better. As it stands now, packagers get zero support requests and we get all of them. Packagers are creating needless work for us, and unfortunately it takes away from our time for development and support. It's even worse when people are turned off to the project because of a bad package. There's pretty muc

[2018-02-15 19:29] sr55 commented on #1183
Feel free to re-open if you can provide a log for one of the PPA http://ppa.launchpad.net/stebbins/handbrake-releases/ubuntu  releases you linked to above.  You can also test with https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-git-snapshots  (nightly builds)

Unfortunately tracking bugs with known bad builds, often leads to going down the wrong rabit hole and wasting a lot of time we do

[2018-02-15 19:41] davoodkharmanzar opened #1184 "[Feature Request] Add Watermark ..."
it would be great if available adding transparent PNG files as watermark over videos :]

[2018-02-15 19:46] sr55 commented on #1184
Sorry, this idea has already been rejected for inclusion into the project.

Some people somewhat abuse the subtitle feature to achieve a basic watermark but this won't suit all circumstances.

[2018-02-15 19:46] #1184 closed, assigned to nobody

[2018-02-15 23:41] all-the-good-ones-are-gone commented on #435
I tried to respond this morning, but apparently I lost internet.

Perhaps an extra sentence fragment on the Docs page or git or both to mention that instructions are at the end of the Doc would help avoid the perceived confusion. I figured the development section was for developers, and didn't bother reading all the things that weren't relevant (don't have Windows or Mac or Ubuntu right now, and n

[2018-02-16 18:29] ajkWare commented on #1180
That's fixed it - thank you.

[2018-02-16 18:29] #1180 closed, assigned to sr55

[2018-02-16 19:21] abeason commented on #1120
@bradleysepos @jstebbins Hey guys, have you had a chance to look into this any further from a sync perspective?

Baseline, disabling b-frames, and setting the timebase directly in x264 had no impact.

I also tried loading these files up in Premiere and was seeing the same sync drift there, interestingly.

[2018-02-17 00:00] maximd33 commented on #1142
@AndreiPukrov can you try x265 in command line mode and check if more cores will help ?

[2018-02-17 01:55] pcunite commented on #780
In the Video tab, inside the _Extra Options_ text box, you can use the following string to get the color to be _BT.601._

`colorprim=smpte170m:transfer=smpte170m:colormatrix=smpte170m`

[2018-02-17 05:32] flin-8 commented on #345
Where's the code that requires the changes to preserve say the created date? Is it inside libhb or the c# solution?

[2018-02-18 04:32] shrung opened #1185 "CLI Preset Import from GUI not behaving as expected"
### Description of problem or feature request

I have a number of MKV files I would like to convert, some have TrueHD 7.1 audio, others have AC3 5.1, etc.
Example Input tracks:
1 TrueHD 7.1
2  AC3 5.1

Desired Output tracks:
1 Dolby PLII mixdown of original track1
2 TrueHD passthrough of original track1
3 Dolby PLII mixdown of original track2

I have accomplished this in the GUI. Using a mixdown a

[2018-02-18 07:46] feihuit opened #1186 "feature:can it remember encoding settings"
### Description of problem or feature request

i upgrade from 0.10.5 to 1.0.7. i find this different.
1. video output setttings [mp4] using same setting, v1.0.7 make bigger file than v0.10.5
2. FPS default value changed. every time i start handbrake i must change it. if sometime forgot its a bad things
can it remember user settings session OR have a config option like: [x] auto load last video set

[2018-02-18 07:57] feihuit opened #1187 "feature:file naming split source to path filename ext"
### Description of problem or feature request

tools/options/[output files]/[auto file naming]: Format
now it support only {source}, should it split to {path}/{name}.{ext}
e.g.
c:\MrBean\01.avi
..
c:\MrBean\20.avi
now it can naming to 01.m4v to 20.m4v, need it become to MrBean01avi.m4v ... MrBean20avi.m4v
### Steps to reproduce the problem
tools/options/[output files]/[auto file naming]:
Format={s

[2018-02-18 11:31] sr55 commented on #1185
You asked for

1 Dolby PLII mixdown of original track1
2 TrueHD passthrough of original track1
3 Dolby PLII mixdown of original track2

You got

1.  DPL2 AAC  of Track 1
2. This is not supported in MP4, so fallback was used., AC3 DPL2 in this case.
3. DPL2 AAC of Track 2

The GUI doesnt' do what your saying it does. IT encodes the TrueHD track.

[2018-02-18 11:35] sr55 commented on #1186
The default preset is loaded on UI startup. If the default preset isn't suitable for you, create your own and mark it for default.

Also, the default presets changed substantially so filesize, quality and speed differences are expected. We regularly re balance the presets as the technology environment we live in changes.

[2018-02-18 11:35] #1186 closed, assigned to nobody

[2018-02-18 18:07] woodstockathbf commented on #1187
While I can see what you're trying to achieve, it is really an "edge case" that would normally be addressed during the ripping stage, prior to getting to handbrake. Programs like MakeMKV support naming the individual files "properly".

At the point you're at, judicious use of copy/paste in Windows Explorer will generally cover it.

[2018-02-18 18:28] sr55 commented on #1187
Sorry, this is not something you can do with HandBrake. You could potentially write a batch script and run as a post-encode action to achieve what you want.

[2018-02-18 18:28] #1187 closed, assigned to nobody

[2018-02-18 18:45] shrung commented on #1185
Ah, I see my mistake. The behavior IS different, but you're correct, the GUI doesn't do passthru, it saves a 5.1 channel AC3, whereas the CLI saves a stereo AC3 stream.

I would expect the same behavior from both GUI and CLI, but that is not happening. Is there a way I can still use the GUI preset import, but add an additional option to specify a 7.1 channel AC3 encoding as the fallback? Instead o

[2018-02-18 20:00] sr55 commented on #1185
The Windows GUI doesn't currently support fallback behaviour selection as the Linux/Mac GUI do, so, what it's doing is correct.  You can manually override the behaviour on the CLI. Right now, your seeing the legacy behaviour.

It's on the backlog already to bring the same functionality to the WinGUI sometime after 1.1 release.

[2018-02-18 21:09] shrung commented on #1185
Ok thanks, I think that clears it up! By exporting my preset into a json file, I can clearly edit the fallback encoding and mixdown, so I think I will use that method, just import my preset from file.

One last question, does the 5.1 AAC or AC3 mixdown simply grab the side channels or the rear channels from the 7.1? Or does it somehow combine the slide channels into the front and rear channels? I

[2018-02-18 21:09] #1185 closed, assigned to nobody

[2018-02-19 11:26] mikumi commented on #720
@sampumon Sorry for the late reply.

You are right, only QuickTime Player does GPU accelerated encoding, which is very fast and looks pretty good to me.

[2018-02-19 11:49] sudhakaran-v commented on #191
Till now, there are only two top open-source aac encoders available supports upto 7.1, they are
1. Libavcodec_AAC (Free)
2. Fraunhofer_FDK_AAC (Non-free)
And I have to mention that you have already used both of them in Handbrake..
But after v.10.3 due to license issue, you guys remove Fraunhofer FDK AAC encoder from the Handbrake.
I hope in future, there maybe better acc encoder available open-sou

[2018-02-19 12:57] bradleysepos commented on #191
@SudhakaranV You can still compile HandBrake with FDK-AAC, but the resulting binary is non-redistributable. See https://handbrake.fr/docs/en/latest/developer/build-windows.html

In the future, we plan to incorporate FFmpeg's improvements to the Libavcodec AAC encoder.

[2018-02-19 16:41] 9Lukas5 opened #1189 "WinGUI: Use output Filename as title tag as of not available tag editor"
I've read in a forum post [here](https://forum.handbrake.fr/viewtopic.php?f=11&t=35793&p=168057&hilit=meta#p168217) that the WindowsGUI won't see a Tag editor.
My problem with that is, I'm not interested in changing the title of all videos afterward with another program. That's just additional overhead for me.

I don't need a full tag editor, but somehow the title get's set. But the way it does is

[2018-02-19 16:44] 9Lukas5 commented on #1189
@sr55 I'm not able to assign you here, but I'll mention you here, as I guess it's your post I linked above and you're the one I'll have to ask for my feature request I wanted to make.

Greetings, Lukas

[2018-02-19 17:09] PhilJFry commented on #1189
-1

Please don't mess with tags. There are other specialized tools to take care of that. It's worse enough already that Handbrake inserts 'Surround', 'Stereo', etc. as default names for audio streams. I'd prefer just passing through what's in the source file, and not setting any arbitrary default values.

[2018-02-19 19:36] Pitou1 commented on #1166
Hello,
Just wanted to jump in as I also have this error with Handbrake nightly and a I3 8100 CPU running Win10 64-bits

I tried all Intel drivers I could find and it's the same.
15.47.02.4815
15.60.0.4849
15.60.2.4901
15.65.3.4944

I can do tests if you need to.

Thank you.

Pitou

[2018-02-19 20:40] sr55 commented on #1166
Also running an Nvidia card by chance too?

[2018-02-19 20:49] Pitou1 commented on #1166
Actually yes!

I have a 1060 with the Nvidia drivers from Win update. Not sure which version. I can check later.

Pitou!

[2018-02-19 20:56] sr55 commented on #1166
Could you also disable the nvidia card in task manager and have a monitor connected to the onboard and see if that makes any difference

Then, Interesting.  Would you be able to try the official nvidia drivers?

[2018-02-19 22:31] Pitou1 commented on #1166
I removed the Nvidia card physically from the PC and deleted the drivers.

It works fine now! I'm at more than 50% and it still encoding...

Pitou!

[2018-02-19 22:53] sr55 commented on #1166
Hmm, more anecdotal evidence that Nvidia is interacting badly with Intel in some way

[2018-02-19 23:23] Pitou1 commented on #1166
Probably. Feel free to ask if you need me to do some more tests.

[2018-02-20 08:02] sr55 commented on #1166
Let me know if official Nvidia drivers helps rather than Microsoft provided Nividia drivers.

[2018-02-20 09:19] maximd33 commented on #1166
Nvidia's driver version will be important to know, @Pitou1

[2018-02-20 12:59] #1181 closed, assigned to nobody

[2018-02-20 18:22] Pitou1 commented on #1166
Just did some tests.

Using the Microsoft provided drivers, which is version 388.13 or the latest(?) I installed from Nvidia website 390.77, I still get the error

[2018-02-21 00:02] gew95001 opened #1191 "Additional Options box appears to ignore input unless cursor moved off box"
### Description of problem or feature request

I've been trying to limit thread usage using the "threads" option via the Additional Options box. It seemed to work once with the value of '1', but it jumped back to using all cores after I put anything else in the box.
I figured out that I could import a Preset with the value set to what I want and that it worked every time. That made me think about

[2018-02-21 00:31] woodstockathbf commented on #1191
First thing to check is if you see the same behaviour with the nightly build. There have been a LOT of changes to the GUIs in preparation for the release of 1.1, so it is quite possible the problem you've been having was already changed.

[2018-02-21 00:46] bradleysepos commented on #1191
This is actually the expected behavior for a standard control. Simply hit Return.

[2018-02-21 00:46] #1191 closed, assigned to nobody

[2018-02-21 05:24] gew95001 commented on #1191
I'm not trying to be difficult, but if that is the expected behavior, then the user is going to have a confusing experience. There's no indication you need to hit Return to commit the options entered. The user also has to decode the state of the box based on unintuitive (and inconsistent) feedback.

If I started with no entry, and entered "threads=1" in the box, then hit Start, here is the state o

[2018-02-21 13:08] paq85 opened #1192 "Can't envode with a resolution higher than 1920x1080"
### Description of problem or feature request

I have a 4K (3840x2160) x264 source video and I can't transcode it to the same resolution.
Max resolution I can pick in the GUI is 1920x1080

### Steps to reproduce the problem

Try to put something heigher than 1920 in `Picture -> Size -> Width`.
It will get automatically changed to 1920.

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating sys

[2018-02-21 13:11] bradleysepos commented on #1191
Indeed, the state is preserved when hitting return or the control loses focus. Again, this is how macOS works generally. I guess the discrepancy is whether toolbar buttons should cause the control to lose focus. I briefly checked another application and they do not.

Anyway, you're not wrong, but as far as I can tell, this is a system-level behavior and not a HandBrake bug.

[2018-02-21 13:13] bradleysepos commented on #1192
Try starting with one of the 4K presets, such as the Roku one in 1.0.7 or many others in the nightly build.

[2018-02-21 13:13] #1192 closed, assigned to nobody

[2018-02-21 15:08] paulsiramy opened #1193 "Bug with presets.json, AudioSamplerate field"
### Description of problem or feature request

Problem : corruption of a User Preset, bug with AudioSamplerate field

### Steps to reproduce the problem

I suspect this bug appear only on non-English regional setting in Windows.

I’m French, using standard French regional settings in Windows. The symbol for separating integer and fractional parts of a number is “,” (comma), while in English it’s “

[2018-02-21 15:10] bradleysepos commented on #1193
Sorry you're having trouble. Could you please try the nightly build, which you can install alongside the release? It's stable and has some region-related fixes that may solve your problem. https://handbrake.fr/nightly.php

[2018-02-21 15:24] paulsiramy commented on #1193
Hi, I Just tried the Nightly build. Unfortunately It has the exact same problem and behaviour (and solution).

The file presets.json was in "C:\Users\Famille\AppData\Roaming\HandBrake\Nightly" so I'm sure I was not testing again with the usual HandBrake executable. The interface was different too.

[2018-02-21 15:25] bradleysepos commented on #1193
Okay, thanks for testing. Assigning @sr55 to take a look when he has time.

[2018-02-21 22:03] #1193 closed, assigned to sr55

[2018-02-21 22:04] sr55 commented on #1189
Sorry this won't be included.
As far as metadata goes, we may eventually add control for passthru + missing fields but customisation like this or general metadata editing is not on the roadmap.

[2018-02-21 22:04] #1189 closed, assigned to nobody

[2018-02-21 22:07] sr55 commented on #1175
This ^

Closing this out. It's common for DVD's to fail if they've not been run through a decent ripper first.

[2018-02-21 22:07] #1175 closed, assigned to nobody

[2018-02-22 07:25] 9Lukas5 commented on #1189
I have just recognized that the title shown in VLC player wasn't from the file, but generated from VLC because the file didn't include any^^.

I should have done a closer look before bothering you, sorry.

[2018-02-22 20:22] theryanj opened #1194 "Source Dims 1px off original source"
### Description of problem or feature request

Source dimensions in Handbrake don't match source video original dimensions.
1 pixel off. Seems like Handbrake doesn't do odd dimensions, unlike MPEG Streamclip.
Love Handbrake way more MPEG Streamclip and would hate to have to use them over you.

### Steps to reproduce the problem

Use After Effects CC 14 or later
Create a composition at 1200x675 or

[2018-02-22 20:25] bradleysepos commented on #1194
That's correct. Since HandBrake's pipeline is 4:2:0, odd dimensions are not compatible with the chroma subsampling. Other applications may work around this in various ways. Use whatever works best for you.

At the moment there are no plans to allow odd dimensions in the graphical interfaces.

[2018-02-22 20:57] theryanj commented on #1194
Sounds good. Thanks @bradleysepos

[2018-02-22 20:57] #1194 closed, assigned to nobody

[2018-02-23 10:58] Baddest-Juju commented on #660
Heya. I'm getting -17. Windows 10 x64 Pro Fall Update. Same problem with both Stable and the Nightly marked HandBrakeCLI-20180221220312-fc57174-master-win-x86_64

I'm using Intel HD Graphics 23.20.16.4849, the device is active in Device Manager.

Command input: handbrakecli --enable-qsv-decoding -i video.mp4 -e qsv_h264 -o test.mp4

The relevant services are running too:
![image](https://user-imag

[2018-02-23 11:37] Baddest-Juju commented on #660
okay well, it seems the recent Intel IGP Drivers fix the problem. I tried upgrading to them once before but it crashed the shit out of my computer, so I installed the ones on my motherboard website.

This time I guess I used the motherboard site's drivers as a stepping stone and then went to the Intel site drivers, and this time my computer wasn't crashed the shit out of. So hopefully this helps s

[2018-02-23 20:33] Nomis101 opened #1195 "Patch for x265_2.7"
I made a patch to update HB to x265_2.7. I tested it and it builds on macOS and encodes nicely in 8/10/12 bit. The release notes say:

[code]
https://bitbucket.org/multicoreware/x265/downloads/
The patch that builds is:

[code]

Thing is, it builds fine and it encodes fine in 8bit, 10 bit and 12bit. But I spotted the following ignored error in the build log:

[code]

Don't know how to fix this.

(

[2018-02-23 21:08] sr55 commented on #1195
We've been bitten by past x265 releases so we are probably best holding off til after 1.1 is out. It's frozen now.

[2018-02-23 21:15] sr55 commented on #1166
Just to confirm, this is the H265 encoder only or are you seeing it on H264. Can you fire a log up too please.

[2018-02-23 21:22] sr55 commented on #1166
Also, what else do you have running on this machine when encoding with HandBrake?  Any System monitors / overclocking tools / gaming tools, (MSI AfterBurner etc? )

I take it if you have nothing else running, even in the background it's still repeatable?

[2018-02-23 22:30] Nomis101 commented on #1195
Ok!
But it turned out, the mentioned ignored error I'm also seeing in the current (unpatched) build. So, seems unrelated to 2.7.

  : touch contrib/x265/.stamp.x265.configure
  : cd ./contrib/x265/x265_v2.6/; /bin/rm libx265.a
  : rm: libx265.a: No such file or directory
  : make[1]: [contrib/x265/.stamp.x265.build] Error 1 (ignored)
  : /bin/rm -f ./contrib/x265/.stamp.x265.build
  : touch contri

[2018-02-24 04:14] bradleysepos commented on #1195
The caller probably needs to execute `rm -f` instead of simply `rm`. I'll take a look when I get the chance.

[2018-02-24 10:10] MaistroX opened #1196 "Ex: max-cll=10000,42:L(4000,0.0050)"
Hi,

HandBrake works perfect but would like to suggest some small addidions so life with HandBrake can be easyer! :)

Since thooese to values changes from on UHD to another, and as it´s now needs to be changed every time depending of what info a UHD HDR disc has, I have a suggestion.

Fist off, that HandBrake scans the UHD HDR disc for this ex info:
"
MasteringDisplay_Luminance              : min:

[2018-02-24 12:27] ozmium opened #1197 "Change some default options for detecting video size/dimensions + Frame rate + filepath"
### Description of problem or feature request

Various default options in Handbrake are not suitable for most video encoding jobs. Consider changing them.

### Steps to reproduce the problem

![handbrake settings](https://user-images.githubusercontent.com/6191136/36630339-e655445c-195c-11e8-8bd0-2d788ae6b7f5.png)
**Please change the following default settings:**

* Settings -> Advanced -> Title Sc

[2018-02-24 13:51] StrangeNoises opened #1198 "Linux build fails on Ubuntu 18.04 alpha"
### Description of problem or feature request

Attempting to build from source on Ubuntu 18.04 alpha fails partway in. Error message listed below as per the issue template. Very short form:

[code]

The error appears to be while building automake. Googling the error seems to bring up other people with the same problem while building other software, at various times, not just this presumably pretty

[2018-02-24 15:13] bradleysepos commented on #1197
Thanks for the suggestions, but in these cases HandBrake's defaults are as intended.

Quite a few people encode sources fewer than 30 seconds in length, 10 previews works in most cases and keeps scan times reasonable, and the frame rate limit is intentional for compatibility (I assume you're referencing the Fast 1080p30 preset). Feel free to create a preset with Same As Source, if it better suits

[2018-02-24 15:17] bradleysepos commented on #1198
Unless something changed recently, I haven't had problems with 18.04, but I will certainly take a look at this when I have time today.

The fallback behavior of building missing libraries is indeed frustrating. It was for good reason in years past, but mostly causes problems now. It's slated for removal in favor of tools like `scripts/mac-toolchain-build` and our online documentation which include

[2018-02-24 15:18] StrangeNoises opened #1199 "MacGUI: Default destination should not be Desktop, at least not when Desktop is in iCloud"
### Description of problem or feature request

On a fresh installation, by default, the destination was set to the user's Desktop folder. The problem with this is that these days the user may (as I have, it makes sense when one has an iPad Pro too) selected to have the Desktop & Documents Folders set to be stored in / synced to iCloud. This would mean the encoded videos would be automatically uplo

[2018-02-24 15:25] bradleysepos commented on #1199
Agreed. I thought it was `~/Movies`, but it looks like the default is the desktop here: https://github.com/HandBrake/HandBrake/blob/92c643e6e7ea1c80514561691b91ce3767498c2c/macosx/HBPreferencesController.m#L62

[2018-02-24 15:28] bradleysepos commented on #1199
Seems we set the Movies directory here, but perhaps it's not working due to the aforementioned code snippet.

https://github.com/HandBrake/HandBrake/blob/febbeeb4441159a34097355566faf7eba77ebeb5/macosx/HBController.m#L171-L186

[2018-02-24 15:31] StrangeNoises commented on #1198
That ubuntu dependencies page changed since yesterday. :-) Now also brings in libtool-bin and intltool (and brings back automake, as removed according to OP), and the build works. Now encoding happily, and I can stop the howling fans on my poor macbook pro!

I believe the page yesterday only said 16.10 needed libtool-bin; as it didn't say that for any later version I presumed it was for an issue l

[2018-02-24 15:33] bradleysepos commented on #1198
Indeed, you may have accidentally been referencing the 1.0.7 docs. Anyway, glad you got it sorted! 😸

[2018-02-24 15:33] #1198 closed, assigned to nobody

[2018-02-24 15:37] StrangeNoises commented on #1198
it was indeed the docs for HandBrake 1.0.0 followed from the Docs link on the home page; seemed sensible as it was 1.0.7 (the current release) I was trying to build. So those docs are still wrong for anyone doing that on 18.04. 😀 Not a problem if the next release comes out before 18.04 does I suppose. 😜

[2018-02-24 15:58] bradleysepos commented on #1198
That's the plan! Actually the plan was to have it out in December, but we've had a few hurdles to jump.

[2018-02-24 16:04] Scrubslover1 commented on #691
Couple questions about this behavior:

- When I select DTS HD Master and have Handbrake encode to AC3, does it use the HD track or just the core (even though HD Master is selected).

- If Handbrake is actually grabbing the core and not the HD, is it doing this for TrueHD to AC3?

Thanks for your help, Handbrake is very confusing in this regard.

[2018-02-24 16:09] bradleysepos commented on #691
While the DTS core and HD Master tracks are presented separately in the UI, this has more to do with how the decoding library presents them to HandBrake. Only the core is decoded, regardless of your selection. We hope to improve this in the future.

@Rodeo314 might know about TrueHD.

[2018-02-24 16:32] bradleysepos commented on #1199
@StrangeNoises Will you please try the nightly build on macOS? The default for me is `~/Movies`.

[2018-02-24 16:43] bradleysepos commented on #1199
If you need to remove existing preferences, in Terminal run `defaults delete fr.handbrake.HandBrake`.

[2018-02-24 17:07] bradleysepos commented on #1195
Warning / ignored error fixed in 5e512f5.

Agreed on shipping HandBrake 1.1.0 with x265 2.6, as it's what we've tested and 2.7 changes to nasm, which we haven't tested.

[2018-02-24 17:12] sr55 commented on #1197
These are very much changes to suit your particular use case so I'm afraid I don't support changing them either.  They are configurable for this very reason, so for those that they are not suitable, they can change to meet their requirements.

Thanks

[2018-02-24 17:12] #1197 closed, assigned to nobody

[2018-02-24 18:16] StrangeNoises commented on #1199
Yes, latest nightly for mac is defaulting to ~/Movies.

[2018-02-24 18:20] bradleysepos commented on #1199
Great, going to go ahead and close this as already implemented. Thanks!

[2018-02-24 18:20] #1199 closed, assigned to bradleysepos, galad87

[2018-02-24 19:14] Pitou1 commented on #1166
``HandBrake Nightly 20180218050420-fbc98da-master (2018021901) - 64bit
OS: Microsoft Windows NT 10.0.16299.0 - 64bit
CPU: Intel(R) Core(TM) i3-8100 CPU @ 3.60GHz
Ram: 8055 MB,
GPU Information:
  Intel(R) UHD Graphics 630 - 23.20.16.4944
  NVIDIA GeForce GTX 1060 3GB - 23.21.13.9077
Screen: 1920x1200
Temp Dir: C:\Users\Admin\AppData\Local\Temp\
Install Dir: C:\Program Files\HandBrake Nightly
Data D

[2018-02-24 19:18] Pitou1 commented on #1166
It works fine with H264 QSV and exact same source movie.

I'm not running any special app in my system. It's a brand new PC with Win 10 freshly installed. No special from the Asus CD or Asus website. Bare minimum.

Pitou!

[2018-02-25 00:44] ManilaByNight opened #1200 "Feature request"
How do I set a preference for default file location path in Open(ing a) Source?

HandBrake version 1.0.7 64 Bit

Windows 10 Fall Creators Update 64 Bit

It would be nice to have this feature to set the default Open Source directory in Preferences.

[2018-02-25 03:14] woodstockathbf commented on #1200
The path used on the open is the path last used. If you're always opening from one directory, it should always come up in that directory. There isn't a place to "set" this.

For the most part, "drag and drop" is what I use if I'm working outside my "common" directory.

[2018-02-25 09:20] ManilaByNight commented on #1200
For some reason Handbrake doesn't "remember" the last path used when the program is quit and relaunched.

[2018-02-25 15:48] maximd33 commented on #1166
thanks for the info - I will re-check my setup in a week from now

[2018-02-25 16:25] sr55 commented on #1200
It uses the Windows Most Recently Used lists.  However, both Source / Destinations are tied together so which ever the last one you used, it'll always default to that directory.

Note, there are many apps that will clean MRU lists (such as ccleaner and others) if you have those so it may be reset by said utilities.

[2018-02-25 19:24] aviallon commented on #632
Thanks actually, I couldn't find out what was happening !

[2018-02-27 00:07] luppahannu opened #1202 "Feature request: Start an external program after queue is done"
### Description of feature request

I would like an option to start an external program or script when encoding is done. That way I could play a sound, send an email, start moving the finished files over the network, start a Blender render or do basically anything after all jobs are finished. Bonus option: start a different program in between queue jobs than when all are done.

[2018-02-27 02:05] rhummer opened #1203 "H.264 QSV Encoding Results in Corruption Throughout the Video"
### Description of problem or feature request

When encoding The Walking Dead Season 1 using H.264 QSV, corruption occurs through out the encoded video, every few seconds.

### Steps to reproduce the problem

1) Selecting any walking dead s1 mkv rip file. I can supply an 80 MB 30 second clip.
2) I choose the _HQ 1080p30 Surround_ and change the codec to the _H.264 (Intel QSV)_ option
3) Start the

[2018-02-27 02:06] bradleysepos commented on #1203
Can you try making sure QSV *decode* is disabled in preferences?

[2018-02-27 02:07] bradleysepos commented on #1202
This is already a feature of HandBrake. We could possibly tell you more if you would be so kind to provide an activity log as requested when you filled out the new issue form; please read https://handbrake.fr/docs/en/latest/help/activity-log.html.

[2018-02-27 02:07] rhummer commented on #1203
That fixed it, I swore I had that turned off...

[2018-02-27 02:07] #1203 closed, assigned to nobody

[2018-02-27 02:09] bradleysepos commented on #1203
Okay, thanks for verifying. It's a somewhat common issue with current Intel drivers. No ETA on a fix. If you search the open issues here on GitHub you will find one or more open issues regarding QSV problems that may have other helpful insights.

Thanks again. 😸

[2018-02-27 02:13] rhummer commented on #1203
Oh, yeah I've been following the QSV issues. I'm *mostly* stable right now with QSV by having a cable attached to the DisplayPort on-board attached to my monitor. I'm able to keep my Nvidia GPU attached and active on my monitors

Thanks for the quick responce! 👍

[2018-02-27 13:55] luppahannu commented on #1202
Sorry about that, I thought the log was only required for debugging and not for feature requests. I have been using Handbrake on both Linux and Win7, and I can't find a way to start an external program on either of them. On the Linux here there are options on what to do when encoding is done, options being do nothing-Show Notification-Quit Handbrake-Put Computer to Sleep-Shutdown Computer.
   I tr

[2018-02-27 17:14] jstebbins commented on #1202
Hehe, I never added this feature to the Linux GUI.  And in the 10 years since I originally wrote the code, this is the first time anyone has noticed :stuck_out_tongue_winking_eye:

I'll add it to my todo list

[2018-02-27 19:45] mrothart opened #1204 "Importing Video"
### Description of problem or feature request

Attempting to import a video into Handbrake (H264 - MPEG-4 AVS (part 10) (h264)). My goal is to import this video and convert it to a readable file format within a video editing software (Premiere or Vegas Pro). This video has only been able to open up on VLC Player.

### Steps to reproduce the problem

Import video file

### HandBrake version (e.g.,

[2018-02-27 19:49] bradleysepos commented on #1204
Hi Martin,

Please try the nightly build, which you can install alongside the release version on Windows: https://handbrake.fr/nightly.php

You will most likely be interested in the Production presets, which are for the purpose you specify.

If you're still having issues, please paste another log from the nightly. Thanks.

[2018-02-27 19:57] mrothart commented on #1204
Still the same issue using Version: Nightly 20180226001539-236de1d-master.

Attached is my Activity Log.

[code]

[2018-02-27 20:03] bradleysepos commented on #1204
We had a similar issue with a CCTV camera making not-quite-valid MP4 files. See if this advice helps: https://github.com/HandBrake/HandBrake/issues/438#issuecomment-269710316

[2018-02-27 20:48] bradleysepos commented on #1202
Ah, yes, apparently not yet a feature on Linux. Please also read [Where to get HandBrake](https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html) as it seems you're using an unsupported and likely broken third-party build.

Marking as a feature request.

On Windows, the feature is at Tools > Preferences > Send file to.

[2018-02-27 20:49] mrothart commented on #1204
Excuse my ignorance. But I have been searching online to download the avconv.exe to run the avconv and input the commands referenced in that link. I have gone to the libav website and downloaded the 12.3 "tar.gz and tar.xz" files and unsure what to do. I have searched around and have been unsuccessful in finding what to do. Do you happen to have a helpful link?

Thanks for your time.

[2018-02-27 20:54] bradleysepos commented on #1204
Ah, you probably downloaded the source code that needs to be built to be usable.

This should work: http://builds.libav.org/windows/nightly-gpl/libav-x86_64-w64-mingw32-20180108.7z

You may need 7-Zip or a compatible unarchiver to open the file, and avconv.exe is inside. Hope this helps.

[2018-02-28 02:49] luppahannu commented on #1202
My Linux is Arch based, so looks like it is in the broken builds list. Do you know what is it that is changed in that version? Guess I could build my own version. I must say that in general, the version of Handbrake in Linux has a better UI than in Windows, looks like a different program.

I'm still confused about starting the external program on Windows. Send file to? How do I start an external p

[2018-02-28 02:52] bradleysepos commented on #1202
We have an Arch build guide: https://handbrake.fr/docs/en/latest/developer/install-dependencies-arch.html

When using Send File To, HandBrake will open the target application and pass the (single) destination file as the first parameter. So it's very similar to the standard operating system Open With functionality. Of course, you could use an application that ignores the parameter and simply plays

[2018-02-28 03:09] luppahannu commented on #1202
Ok, thanks for your quick answer! Seems very much like what I needed, I'll have to test it out. Will a program be started after every finished queue item or just after the last one? If there is a option to control it so that it would be the latter option, that would be more beneficial when trying to start something after Handbrake is done with everything.

[2018-02-28 03:44] bradleysepos commented on #1202
I believe the only option is per-item at this time. You may be interested in our plans to overhaul the queue in the future: https://github.com/HandBrake/HandBrake/issues/1087

[2018-02-28 04:03] luppahannu commented on #1202
Looks like both the current version and the overhaul concept art version have a field for arguments to be sent to the external program. I'm not sure of the formatting of that field, but for external script handling of files, it would of be useful to pass on all sorts of parameters to it, like (in pretty much bash format) $source_file_name, $render_duration_in_seconds (I'm just pulling these out of

[2018-02-28 04:05] bradleysepos commented on #1202
To be honest, I doubt we will take the GUIs that far. There’s always HandBrakeCLI.

[2018-03-01 01:43] Admin-Yukiko opened #1205 "Subtitle defaults are not saving between Handbrake sessions."
### Description of problem or feature request

After setting subtitle defaults and saving them, upon relaunching Handbrake, the default settings are reset.

### Steps to reproduce the problem

Open Handbrake. Select a source. Click on the subtitle tab. Click on Configure Defaults button. Set defaults. Click on Save button. Close Handbrake. Re-open Handbrake. Select a source. Click on the subtitle

[2018-03-01 04:22] bradleysepos commented on #1205
TL;DR: Save your changes as a new preset.

Please see comments here: https://github.com/HandBrake/HandBrake/issues/647#issuecomment-287972626

And here: https://github.com/HandBrake/HandBrake/issues/643#issuecomment-287547348

In the nightly build, Configure Defaults has been renamed to Selection Behavior to reduce confusion. 😸

[2018-03-01 04:22] #1205 closed, assigned to nobody

[2018-03-01 09:04] lamba92 opened #1206 "HandBrake crashes when encoding in H.264 using QSV quality preset"
### Description of problem or feature request

HandBrake always crashes when encoding in H.264 using QSV with quality preset

### Steps to reproduce the problem

Just encode something using H.264 QSV using quality preset

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Microsoft Windows NT 10

[2018-03-01 10:02] sciurius opened #1207 "Conversion fails with srt subtitle file"
### Description of problem or feature request

HandBrake fails to recode a video with srt subtitle.

If my memory serves me well, this happened in earlier versions but was solved. So this feels like a regression.

### Steps to reproduce the problem

HandBrakeCLI --preset-import-gui --preset "MKV/MP3 DVD Compat" -i input.mkv --srt-file subtitles.srt --srt-default -o output.mkv

This happens with se

[2018-03-01 11:52] bradleysepos commented on #1206
Sorry you're having trouble. Please try disabling QSV *decoding* in HandBrake's preferences.

Also, you may have better luck with QSV in general with the nightly build.

[2018-03-01 12:00] bradleysepos commented on #1207
Sorry for the trouble, this actually is an issue with RPM Fusion's broken package. They remove Libav and substitute FFmpeg which is not fully API/ABI compatible. It's a known issue with an unfortunate number of repos and we haven't been successful convincing anyone to stop breaking things in this way. See [Where to get HandBrake](https://handbrake.fr/docs/en/latest/get-handbrake/where-to-get-handb

[2018-03-01 12:30] #1207 closed, assigned to nobody

[2018-03-01 13:20] sciurius commented on #1207
Thanks for your response.
The RPMfusion packge builder seems to be aware of theis problem, since the build spec has:

    Build with "--without ffmpeg" or enable this to use bundled libAV
    instead of system FFMpeg libraries. Unfortunately with FFMpeg UTF-8
    subtitles are not recognized in media source files. :(
    https://trac.ffmpeg.org/ticket/6304[/code]

Unfortunately, trying to build wi

[2018-03-01 17:43] eugenesvk opened #1208 "Wrong chapters when importing VIDEO_TS from a non-English path"
### Description of problem or feature request

I have a copy of a **DVD** in a **VIDEO_TS** folder on my hard drive ([list of files](https://gist.githubusercontent.com/eugenesvk/ee34711d1945bbd2714c1cc2b428164e/raw/0989e57d179eaa8ad3bac774831ab5e0270003e2/VIDEO_TS)). I wanted to extract/convert a specific chapter from that DVD to a single video file.
However, when I opened the source folder in Han

[2018-03-01 18:06] marcelpaulo commented on #1143
When I set out to rip a video with HandBrake some moments ago, I noticed that the preview was working, showing both video and audio. Well, I'm still using the same HandBrake I built from source when I reported this issue. So, I must have installed some package for another purpose which had the good side effect of making previews work. I had a good look at the _/var/log/apt/history*_ files but coul

[2018-03-01 18:20] marcelpaulo commented on #1143
I stand corrected: I could preview correctly the new video (also a DVD on disk with _VIDEO_TS_ directory) I've just tried, but I still can't preview the video that prompted me to open this issue, I've just confirmed. Therefore, it has no relation to packages I may have installed since I opened the issue. Somehow it's related to the characteristics of the videos: with some preview works, with other

[2018-03-01 19:23] sr55 commented on #1208
unicode paths are not supported by HandBrake when reading DVD's.  This isn't something we expect will get fixed but do already have an open ticket for it incase the upstream project we use for reading dvd's does decide to add support.

Ref: #127

[2018-03-01 19:23] #1208 closed, assigned to nobody

[2018-03-02 11:17] all-the-good-ones-are-gone opened #1209 "Missing dependencies building openSUSE Tumbleweed"
### Description of problem or feature request

Building Handbrake using [instructions](https://handbrake.fr/docs/en/latest/developer/build-linux.html) results in failure code 2.
[build.txt](https://github.com/HandBrake/HandBrake/files/1774813/build.txt)

### Steps to reproduce the problem

Since there are no dependencies list for openSUSE, I tried using the [Fedora list](https://handbrake.fr/docs/

[2018-03-02 15:53] jstebbins commented on #1209
You don't need either of those for a linux build.  We really shouldn't be checking for them in this case.

[2018-03-02 17:52] sr55 commented on #1209
No package 'dbus-glib-1' found

This is a lot easier to see what's wrong if you do a make -j1  rather than parallel builds. The log is then sequential and easier to read.

[2018-03-02 20:51] LLGHanson commented on #453
In the "Add files to queue" box, you could have two options:
1. save all files to one directory, and option to define it there.
2. save each file to its source directory.

(I would really love to have this feature I've got MKVs scattered all over based on my file organization, and being able to batch them back to their origins would be a giant time saver. BTW, HandBrakeBatch app did this perfectly

[2018-03-02 21:15] all-the-good-ones-are-gone commented on #1209
@sr55 sorry, I was just following the instructions.

Re: no dbus-glib-1
That's interesting. It looks to me like I should have it:
zypper search dbus-glib
Loading repository data...
Reading installed packages...

S  | Name                           | Summary                                                  | Type
---+--------------------------------+-------------------------------------------------

[2018-03-02 21:20] all-the-good-ones-are-gone commented on #1209
https://pastebin.com/pt5SW9f6

[2018-03-02 22:39] bradleysepos commented on #1209
You can ignore xcodebuild and lipo in the configure as John mentioned. They will not cause configure as a whole to fail on Linux. In time I'll make some changes to prevent them from being checked.

[2018-03-02 22:42] bradleysepos commented on #1209
Just a guess, but you may need the `dbus-1-glib` package on SUSE.

[2018-03-02 22:54] all-the-good-ones-are-gone commented on #1209
@bradleysepos thanks, that configuration of words gave better results. Looks like I had dbus-1-glib installed, so I added dbus-1-glib-devel as well.

Deleted, repulled, recompiled, and it looks like the same result:
[build.txt](https://github.com/HandBrake/HandBrake/files/1776787/build.txt)

[2018-03-02 22:58] bradleysepos commented on #1209
That fixed the one issue, but now it's not finding `libdvdread`, which I was under the impression we compile.

The contrib downloads and parallel building are making the logs difficult to read. From the build directory, please run `gmake contrib.fetch` followed by `gmake -j1`.

[2018-03-02 23:35] all-the-good-ones-are-gone commented on #1209
@bradleysepos well, I have libdvdread4 installed, and I see libdvdread in the contrib folder.

[Would the build directory as a whole be useful?](https://legitimate.ddns.net/s/JXXxWnTpXZG3GWd)
[Pastebin and this will not allow the text directly.](https://legitimate.ddns.net/s/2cGMrFEKsrzGxx7)

[2018-03-02 23:45] bradleysepos commented on #1209
Ah, there could be a conflict there as HandBrake requires v5 (and our patches). Try removing the system libdvdread/libdvdnav packages temporarily.

[2018-03-02 23:48] all-the-good-ones-are-gone commented on #1209
removed those, reran:

gmake contrib.fetch
gmake: Nothing to be done for 'contrib.fetch'.
yshi@DeepThought:~/git/HandBrake/build> gmake -j1
set -e; /usr/bin/mkdir -p ./contrib/libdvdnav/libdvdnav-5.0.3/; cd ./contrib/libdvdnav/libdvdnav-5.0.3/; CC=/usr/bin/gcc CFLAGS="-I/home/yshi/git/HandBrake/build/contrib/include -std=gnu99 -mfpmath=sse -msse2 -DNDEBUG" CXX=/usr/bin/g++ CXXFLAGS="-I/home/yshi/g

[2018-03-02 23:50] bradleysepos commented on #1209
What happens when you run `gmake libdvdread.xclean; gmake libdvdnav.xclean; gmake -j1 libdvdread && gmake -j1 libdvdnav`?

[2018-03-02 23:54] all-the-good-ones-are-gone commented on #1209
:~/git/HandBrake/build> gmake libdvdread.xclean; gmake libdvdnav.xclean; gmake -j1 libdvdread && gmake -j1 libdvdnav
gmake -C ./contrib/libdvdread/libdvdread-5.0.3/ uninstall
gmake[1]: *** contrib/libdvdread/libdvdread-5.0.3/: No such file or directory.  Stop.
gmake: [../contrib/libdvdread/module.rules:2: libdvdread.uninstall] Error 2 (ignored)
/usr/bin/rm -f ./contrib/libdvdread/.stamp.libdvdread

[2018-03-02 23:58] bradleysepos commented on #1209
Okay, so it's definitely building `libdvdread` but for some reason, `libdvdnav` cannot find it. Can you paste the `build/log/config*` logs?

[2018-03-03 00:06] mrothart commented on #1204
I have one more question for you. I know you're not a "avconv" support, and I greatly appreciate all that you have helped me so far. I have avconv in my C:\ drive and have a path through the environment properties. I have been searching all over and can't find out what directory avconv searches for the input files. For instance, I renamed my video to "file.mp4" and tried putting in the main C:\ di

[2018-03-03 00:11] bradleysepos commented on #1204
No worries. 😸

Simply specify the full path to your files, e.g. `avconv -i "P:\2018\18022\18022 Client Provided\Surveillance Video footage\ch04_20180202120200.mp4" -c:v copy -c:a copy "P:\2018\18022\18022 Client Provided\Surveillance Video footage\ch04_20180202120200-remuxed.mp4"`. I appended `-remuxed` to the end of the output file name, but you can make this whatever works for you.

[2018-03-03 00:12] bradleysepos commented on #1204
Update: Make sure to wrap the file names in double quotes; I updated my comment to reflect this.

[2018-03-03 00:13] sr55 commented on #1206
Might also want to upgrade that graphics driver. 23.20.16.4849

[2018-03-03 00:18] mrothart commented on #1204
I will try this! Thank you

[2018-03-03 00:20] all-the-good-ones-are-gone commented on #1209
[config.info.txt](https://github.com/HandBrake/HandBrake/files/1776900/config.info.txt)
[config.verbose.txt](https://github.com/HandBrake/HandBrake/files/1776901/config.verbose.txt)
Sorry, mandated together time, so I'm a bit laggy.

[2018-03-03 00:34] bradleysepos commented on #1209
No problem. Thanks for providing all the requested info.

@jstebbins May have a better idea why `libdvdnav` is not picking up `libdvdread`.

[2018-03-03 00:42] mrothart commented on #1204
It worked perfectly. Thank you!

[2018-03-03 00:50] bradleysepos commented on #1204
Great!

So, does HandBrake read the remuxed file properly?

[2018-03-03 00:57] mrothart commented on #1204
Handbrake reads the remuxed file no problem. As does Adobe Premiere and Sony Vegas Pro. This will greatly help me on this project and future projects.

[2018-03-03 00:59] bradleysepos commented on #1204
Excellent. Sorry it's such a convoluted workaround, but glad you have a solution. 😸

[2018-03-03 00:59] #1204 closed, assigned to nobody

[2018-03-04 06:21] jlointc opened #1210 "Stuck at Scanning Title # of # (50%)"
### Description of problem or feature request

Have 2 disc that can't get passed this point.

### Steps to reproduce the problem

Try to Open these 2 discs.

### HandBrake version (e.g., 1.0.0)

Nightly Build

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Win 10 Pro 64-bit

### Error message text or screenshot

Type or paste text and

[2018-03-04 14:11] sciurius commented on #1207
In case you are interested, this is how to accomplish a clean and functional HandBrake build using the mock build system on Fedora 27/28.

First, download the most recent F28 source rpm (1.0.7-13) from http://koji.rpmfusion.org/kojifiles/packages/HandBrake/1.0.7/13.fc28/src/HandBrake-1.0.7-13.fc28.src.rpm.

Install the src.rpm (rpm -i) and adjust rpmbuild/SPECS/HandBrake.spec:

< #global _without_

[2018-03-04 14:18] sr55 commented on #1210
HandBrake is not a ripper. Your most likely coming up against structural issues or copy protection. You'll need to use a ripper before trying to transcode this.

[2018-03-04 19:54] seth-rah opened #1212 "[Feature Request] Millisecond support for footage snipping"
### Description of problem or feature request

Currently the only feature that handbrake doesn't have that I need to still use ffmpeg manually for, is the -ss and -t having millisecond support in ffmpeg, but handbrake only interprets the seconds

Example below is what handbrake would allow me to use, but 00:01:13.578 - 00:01:28.332 would be my desired clip which the UI does not allow me to enter.

[2018-03-04 21:29] homerjam opened #1213 "Damaged headers"
### Description of problem or feature request

I'm having an issue using ffmpeg with a video that has been processed by Handbrake. The file in question plays fine in vlc and the command works fine on other similar videos.

disclaimer: the reason I've used Handbrake in the first place is because the video wouldn't play in vlc before (so it has actually fixed that problem)

So... this might not be d

[2018-03-04 21:32] bradleysepos commented on #1212
Are frames not accurate enough?

The CLI's `--start-at` and `stop-at` can take pts values:

[code]

[2018-03-04 21:33] bradleysepos commented on #1213
We will likely need the HandBrake encode log to see how the file was made. See https://handbrake.fr/docs/en/1.0.0/help/activity-log.html

[2018-03-04 23:00] jlointc opened #1214 ""Handbrake has stopped Working" Crash shortly after starting encode on Main Feature"
### Description of problem or feature request

2 DVDs
1. Starts with 43 of 43 ... then switches to Title # of 21.. then drops to # of 20. But the Title where the main feature is labeled #31 in the end.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

HandBrake Nightly 20180227205614-369b4f6-master (2018030401) - 64bit

### Operating system and version (e.g., U

[2018-03-04 23:16] jlointc opened #1215 ""Handbrake has stopped Working" Crash shortly after starting encode on Main Feature #2"
### Description of problem or feature request

2 DVDs

2. Starts with 39 of 39 ... then switches to Title # of 17.. then drops to # of 16. But the Title where the main feature is labeled #28 in the end.

I should note, the bonus features on other titles on this DVD encode fine - no crashes.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

HandBrake Nightly 201

[2018-03-04 23:51] PhilJFry commented on #1215
Handbrake is no ripper is no ripper is no ripper. Use another tool to rip to HD and get rid of copy protection. Then use decrypted folder as source in Handbrake.

(There should be an FAQ item for this type of issue).

[2018-03-04 23:52] PhilJFry commented on #1214
Handbrake is no ripper is no ripper is no ripper. Use another tool to rip to HDD and get rid of copy protection. Then use decrypted folder as source in Handbrake.

(There should be an FAQ item for this type of issue).

[2018-03-05 00:04] bradleysepos commented on #1214
@PhilJFry Is correct, HandBrake does not work with copy protection. See [About HandBrake](https://handbrake.fr/docs/en/latest/introduction/about.html).

[2018-03-05 00:04] #1214 closed, assigned to nobody

[2018-03-05 00:05] bradleysepos commented on #1215
@PhilJFry Is correct, HandBrake does not work with copy protection. See [About HandBrake](https://handbrake.fr/docs/en/latest/introduction/about.html).

[2018-03-05 00:05] #1215 closed, assigned to nobody

[2018-03-05 05:22] seth-rah commented on #1212
I have tried using frames before in the past, although I am not sure if it's working as intended as I was getting random video times instead of the frame values I specified when I attempted doing it the last time.

I used media player classic to show me the frame counts in the footer, I have not really tried again since doing it the first time. I also find that seconds and milliseconds are a bit m

[2018-03-05 10:01] homerjam commented on #1213
@bradleysepos sorry, it's attached now. The weird thing about the input is the apparent lack of a video stream but as I mentioned the output plays fine. I've attached input and output below...

[Archive.zip](https://github.com/HandBrake/HandBrake/files/1780345/Archive.zip)

[2018-03-05 12:21] homerjam commented on #1213
I'm an idiot. I had the wrong input file format in my ffmpeg command...

[code]

[2018-03-05 12:21] #1213 closed, assigned to nobody

[2018-03-05 13:58] bradleysepos commented on #1212
No worries at all. Seconds are known to not be super-accurate. The most accurate calculation is to use PTS on the command line.

[2018-03-05 14:03] bradleysepos commented on #1213
Ah, that explains it. :smile_cat: No worries.

[2018-03-05 14:35] seth-rah commented on #1212
Will have to look that up at some point

Thanks for the input. Should I close the issue or is it a possibility for this to still be added in the future?

[2018-03-05 14:37] bradleysepos commented on #1212
I've marked it as an enhancement, and I'm not opposed to allowing fractional seconds values. Of course, we will probably need to improve the seconds calculations in order to make smaller values worthwhile. Let's leave it open to gather responses from the other developers.

[2018-03-05 17:42] fredoking commented on #950
Adding a vote to this enhancement, should be very appreciated by many (classical) music lovers

Thank you in advance

[2018-03-05 18:01] fredoking opened #1216 "No sound when encoding MKV from LPCM to FLAC 24bits"
### Description of problem or feature request

When making a MKV file from a DVD or BD containing LPCM audio, and selecting FLAC 24bits as Audio Codec, I get a MKV file containing an audio track (recognized by several apps like VLC, IINA), but containing no audio

### Steps to reproduce the problem

1. Open a DVD/BD containing LPCM audio
2. Select MKV, Audio codec Flac 24bits
[Big One 2009 - Big O

[2018-03-05 19:12] woodstockathbf commented on #1216
Do you get the same result with the Nightly Build?

There have been quite a number of changes on both FLAC and LPCM handling between the release version and the "coming real soon release version" that is the nightly build.

[2018-03-05 21:22] bradleysepos commented on #879
Go right ahead. 😸

[2018-03-06 00:38] mrothart commented on #1204
I hope I can bother you with one more question, and you can point me in the right direction. I am attempting to screen capture a video, since I have no way to export the file. Its a 10 fps video through a bus surveillance video software, so I would like to use avconv to video capture at that frame rate.

https://www.tecmint.com/record-ubuntu-desktop-screen-using-avconv/

I am attempting to use the

[2018-03-06 03:46] bradleysepos commented on #1204
I'm guessing your issue stems from there being no X11 on Windows, so naturally no x11grab device to use as input. You may have better luck using another software to do the recording, such as Microsoft's free [Screenrecorder](https://technet.microsoft.com/en-us/library/2009.03.utilityspotlight2.aspx). Make sure to read the "please note" section as you may need an additional update for Windows 7.

[2018-03-06 20:28] bkolaci opened #1218 "stuck Scanning title x of x..."
### Description of problem or feature request

Trying to scan DVD created with anydvd.

### Steps to reproduce the problem

rip disk, open source.

### HandBrake version (e.g., 1.0.0)

Nightly build 20180227205614-369b4f6-master

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

MacOS Sierra 10.12.6

### Error message text or screenshot

[2018-03-06 21:19] sr55 commented on #1218
Do you see any progress after 15:27:45?    We've seen quite a lot of failures with AnyDVD rips of late. I'm not sure what changed as it used to be reliable but it doesn't appear to be producing fully clean output.

People tend to use MakeMKV instead.

[2018-03-06 21:22] sr55 commented on #1216
Suggests that there is fairly substantial amount of audio data in your output file.  Can you check the log of your player to see what it's seeing.

[2018-03-06 21:24] sr55 commented on #1206
Closing due to lack of feedback.

I seem to recall 4849 being a broken driver with regards to quicksync. So that will probably clear it.

[2018-03-06 21:24] #1206 closed, assigned to nobody

[2018-03-06 21:25] #1200 closed, assigned to nobody

[2018-03-06 21:31] sr55 commented on #1150
Can you include the log for the nightly to?

There is nothing in the existing logs that indicate what the problem might be.  Random crashes that work after restarting might also hint at a hardware issue. (Power, Memory, Temperatures are the most common culprits)

If you are able to run some testing that might give us a hint of sharing the file is difficult.
1. Try without filters
2. Try without  s

[2018-03-07 03:26] jbebel opened #1219 "Support cover art attachment on tags tab."
### Description of problem or feature request

The one thing I can't do with Handbrake is add the cover art to each file. This is a time consuming extra step, so including it in the Handbrake encode would be awesome. I'm not expecting automatic downloads. Just the ability to attach a local file.

### Steps to reproduce the problem

Encode an mp4 or mkv. To attach cover art, another program is requ

[2018-03-07 04:31] bkolaci commented on #1218
No progress.  I ripped it twice (identical), and they play fine with DVD Player from the filesystem.

[2018-03-07 04:33] bkolaci commented on #1218
Tried MakeMKV, it generated 2 6gig titles, neither of which can I get played in anything.  I tried windows 10 movie player as well as itunes on mac.

[2018-03-07 05:29] rejemy commented on #1218
Have you tried using VLC to play your MKV files?

[2018-03-07 15:06] bkolaci commented on #1218
I want/need them in itunes so that the apple tv plays them.
Handbrake works welll for that...  Just not for this disk...

[2018-03-07 15:34] woodstockathbf commented on #1218
iTunes and the AppleTV both have limitations on file formats. The TEST is to see if the MKV files generated are being properly handled in handbrake, which they should be. You can convert the MKV files to m4v files. MKV files are supported by most players EXCEPT those supplied by Apple, and many of them provided by Microsoft.

One other thing to try, with regard to the AnyDVD rip - what happens if

[2018-03-07 16:55] bkolaci commented on #1218
Thanks.  I see that using libdvdread instead didn't get stuck, but only encoded the trailers.  The movie itself wasn't encoded.  I ripped it with anydvd multiple times.  I can see the movie itself on the ripped version, but it appears handbrake didn't find that title.

[2018-03-07 17:00] woodstockathbf commented on #1218
Can you provide the scan log with LibDVDNav disabled?

[2018-03-08 03:44] mkvAndrew commented on #1166
Hi team, I'm having the same issue.

Brand new Dell laptop.  8th Gen Core i7-8550u.  Intel drivers are up to date.  Latest version of Windows 10 Home 64 bit.

I'm using X265 QSV. The encode fails every time, with error code -21.  Here are the logs.

HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.16299.0 - 64bit
CPU: Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
Ram: 8026 MB,
GPU Inf

[2018-03-08 09:30] maximd33 commented on #1166
if you have -21 issue reported:
can you please try CLI test binary and share output log?

binaries available now at : https://drive.google.com/open?id=1wvse17wDeF9YF8fuPS5PXkT24_EnwXHt

[2018-03-09 03:31] avenged110 opened #1220 "MacGUI: Improper Button State"
### Description of problem

The "show presets" button doesn't respond properly when clicked. It should just darken like the others when clicked, but instead shows a light gray box around it.

### HandBrake version

20180227205614-369b4f6-master

### Operating system and version

OS X 10.9.5 (13F1911)

### Screenshot

![this one](https://user-images.githubusercontent.com/19438529/37188996-e21c1d30-

[2018-03-09 03:40] avenged110 opened #1221 "Mac: Queue Window Doesn't Remember Toolbar View"
### Description of problem or feature request

The "queue window" doesn't remember user preferences for its toolbar across HB launches (i.e. restarting HB resets the toolbar view preferences to default.) The main HB window does not exhibit this issue. These preferences are the "icon and text, icon only, text only, hide toolbar," etc. This issue has been around since before v1.0.0 btw.

### Steps t

[2018-03-09 14:05] mkvAndrew commented on #1166
I'm not a command line guy.  I'd need to learn how to use CLI before trying
that.  Do you have some sample command line that I can use to try this?

I'd like to use h.265 qsv, constant quality 22, dts-hd passthrough (I can
live without subs/can add them later so no worries), standard input video
size, which is 4k for this video.  The file is located on my machine at
C:\Users\mkvSlim\Videos\Van Hel

[2018-03-09 18:32] JNavas2 opened #1222 "H.265 Intel QSV: Variable Frame Rate not saved in User Preset"
### Description of problem or feature request

If a User Preset is created with H.265 Intel QSV and Variable Framerate,
Constant Framerate is selected when the User Preset is selected.

### Steps to reproduce the problem

1. Select H.265 Intel QSV and Variable Framerate.
2. Create User Preset.
3. Select that User Preset.
4. Constant Framerate will be selected.

### HandBrake version (e.g., 1.0.0)

[2018-03-09 19:00] sr55 commented on #1222
I believe this was already fixed some time ago.

Can you try a nightly build if your willing and give it a shot?  https://handbrake.fr/nightly.php

If that works, it'll be in the next official release in the near future.

[2018-03-09 21:43] JNavas2 commented on #1222
It is **_not_** fixed as of HandBrake-20180309-369b4f6_x86_64-Win_GUI

[2018-03-10 21:29] maximd33 commented on #1166
@mkvAndrew no problem, I will explain how-to for you:
- when you are in GUI - prepare your settings and press "Add to Queue"
- Press "Show Queue" and see "Options" -> "Export queue for CLI" , save the file at some location ( like where HandBrakeCLI.exe is downloaded)
 it will have .json extention.
- Switch to Windows command prompt and go to location where HandBrakeCLI.exe located.
- run it to job

[2018-03-10 21:45] mkvAndrew commented on #1166
Very cool thanks. I'll try that.

Andrew

On Sat, Mar 10, 2018, 4:29 PM maximd33, <notifications@github.com> wrote:

[2018-03-10 22:22] #1222 closed, assigned to nobody

[2018-03-10 22:22] sr55 commented on #1222
Should be corrected now.

[2018-03-10 22:25] sr55 commented on #1135
Closing due to lack of feedback.  We've been unable to reproduce this so it's either something with the system/libraries or the source that;'s upsetting the particular encoder.

[2018-03-10 22:25] #1135 closed, assigned to nobody

[2018-03-10 22:26] sr55 commented on #1210
Closing due to lack of feedback. Please see comment above.

[2018-03-10 22:26] #1210 closed, assigned to nobody

[2018-03-10 22:32] sr55 commented on #1218
The point in MakeMKV is to create a clean source for HandBrake, not playback in iTunes. You'd feed the result into HandBrake to encode for that platform.

If neither MakeMKV or AnyDVD can create a clean source, then there isn't much else I can suggest. IT sounds like the source has some pretty nasty corruption and this isn't something HandBrake is designed to resolve.

[2018-03-10 22:32] #1218 closed, assigned to nobody

[2018-03-10 22:34] sr55 commented on #1216
Closing due to lack of feedback.  As I said, I'd suggest looking at your player(s) as the muxer sees substantial audio track in the output file.

If you can provide any more information, we can re-open if necessary.

[2018-03-10 22:49] sr55 commented on #283
Closing in favour of #1087

[2018-03-10 22:49] #283 closed, assigned to nobody

[2018-03-10 22:57] sr55 commented on #1121
Does  369b4f6b65b1fe376fa3ec3b62285c38181829ba clear this @jstebbins

[2018-03-11 05:27] qarkai commented on #1121
No. It actually adds more uses of deprecated API.

[2018-03-11 17:08] JNavas2 commented on #1222
Confirmed. Thank you.

[2018-03-11 17:18] BrianSBC opened #1225 "Frame Rate inconsistency at source"
### Description of problem or feature request

I am re-processing some of my DVDs. I have extracted the DVD using MKV and note that VLC shows the frame rate of the particular movie to be 29.970628, but HB reports the source as 23.976. I have been trying to process my DVDs 'same as source,' but the source detail seems to be conflicting.

### Steps to reproduce the problem

Compare the Media Informa

[2018-03-11 17:53] sr55 commented on #1225
It's possibly mixed framerate content.  Run the encode, it should come out correctly.  If not, post an encode log please.

[2018-03-11 17:57] BrianSBC commented on #1225
Ahh, yes, of course. Variable Frame Rate. That make sense.

Thanks for the prompt response.

Best regards,  Brian

[2018-03-11 17:58] #1225 closed, assigned to nobody

[2018-03-11 18:30] fredoking commented on #1216
Dear Scott

sorry for answering you late. I created a file using both you FLAC 16bits and FLAC 24 bits codec and look at the result.

Initial file : DVD with Audio LPCM Stereo
Output file : MKV with 2 audio tracks, one coded with FLAC 24 bits, the second one coded with FLAC 16 bits (see attached "VLC codecs.jpg" file)

Both VLC and IINA recognize the audio tracks correctly (FLAC 48kHz, 24 or 16 bi

[2018-03-11 18:46] mkvAndrew commented on #1166
<img width="946" alt="untitled" src="https://user-images.githubusercontent.com/37166895/37259850-335dd15e-2562-11e8-8bb1-6670e9e94a56.png">
[CLI Error 2nd attemp.txt](https://github.com/HandBrake/HandBrake/files/1800989/CLI.Error.2nd.attemp.txt)
[CLI Error.txt](https://github.com/HandBrake/HandBrake/files/1800990/CLI.Error.txt)

****Edited to add attachments****
Okay, so I've tried this twice thro

[2018-03-11 18:48] bradleysepos commented on #1166
@mkvAndrew Just a heads up, image attachments via email will not come through.

[2018-03-11 19:10] sr55 commented on #1216
Your screenshots weren't attached when you replied by mail. Can you upload manually please.

[2018-03-11 19:13] sr55 commented on #1166
Interesting. No -21 in either log

[2018-03-11 20:45] MaxPower85 commented on #871
I would also like to see this option in the macOS version.

[2018-03-11 21:04] MaxPower85 opened #1226 "A simple option to manually type when each chapter begins (feature request)"
Since the chapters can be added by writing a text file with timecodes when each chapter begins, it would be convenient if the user could just manually enter (type) in HandBrake when each chapter should begin (and maybe add a button to show like a mini player in a separate window for the user to preview the chapters, so he could adjust the timecodes if needed... just a simple player that would play

[2018-03-11 21:09] fredoking commented on #1216
Here are my screenshots

![vlc codecs](https://user-images.githubusercontent.com/37081842/37258461-b41aafc2-2578-11e8-97f5-4cb99200a5e5.jpeg)
![vlc stats](https://user-images.githubusercontent.com/37081842/37258462-b432daca-2578-11e8-8b8f-c84ba26246f4.jpeg)
![iina playing](https://user-images.githubusercontent.com/37081842/37258467-c80751b6-2578-11e8-963c-99c923e72aab.jpeg)
![iina status](https://

[2018-03-12 14:42] woodstockathbf commented on #1226
Since the file would need to be saved to disk before an encode is done (especially if the encode is queued), what advantage does "add a text editor to handbrake" have over using editors that are otherwise installed on the computer?

Having implemented an embedded text editor before, it is a non-trivial task that would require additional support time. It is not a good investment for a small team li

[2018-03-12 15:51] jstebbins commented on #1121
The commit does not add more uses of DBus-GLib.  The "diff" is confusing because I moved a lot of code around.  In fact if there are a couple fewer uses when the GTK version is 3.4 or better because it uses new APIs available in GTK instead. But the commit does not address this issue.  That commit only addresses a failure to allow display blanking and sleep on newer distros.

[2018-03-12 16:16] jstebbins commented on #1225
It's also possible VLC doesn't consider mpeg2 field repeat flags when calculating the framerate it displays.  The framerate of *alll* NTSC DVDs is 29.97 fps.  To produce film framerate (23.976 fps) they extend the duration of a frame every once in a while by using a special flag that tells the decoder to extend the duration of a particular frame by one field duration.  So if you do what the variou

[2018-03-12 16:25] jstebbins commented on #1226
This is incorrect.  The text file format does not include timecodes.  You can only change the chapter titles in HandBrake.  This is primarily because source types like DVD and BD do not actually mark chapter positions with timecodes.  They have special flags inline in the stream that indicate the precise frame where a chapter begins.  In theory, HandBrake could override this mechanism with a timec

[2018-03-12 20:33] RichardSaffran opened #1227 "Convert .mov to .mp4, audio is about two seconds behind video"
### Description of problem or feature request

Audio is about two seconds behind video

### Steps to reproduce the problem

Source is a .mov file. Conversion settings are:

Video:
Video encoder H.264
Framerate 30 (Peak Framerate)
Quality: RF 23 (Constant Quality)
Preset: fast
Tune: none
Profile: auto
Level: auto
[GUI text] x264 Unparse: ref=2:weightp=1:rc-lookahead=30:subme=6

Picture:
Web optimiz

[2018-03-12 21:26] woodstockathbf commented on #1227
Two questions: Is the audio out of sync in more than one player? Is it in sync if you use AAC pass through?

[2018-03-12 21:55] RichardSaffran commented on #1227
I tried Quicktime and VLC player, both gave identical results. This happened after I updated Handbrake from 1.0.1 (I think) to the current 1.0.7. Before the update, I never noticed any sync problem.

AAC passthrough I will try right away. There may not be any interaction with the denies filtering, but, I'd like to keep everything else the same, so it will be a few hours to re-run the processing.

[2018-03-12 22:00] bradleysepos commented on #1227
Please try the nightly build and enable the Align A/V Start option.

[2018-03-12 22:01] RichardSaffran commented on #1227
…no, I can't try "AAC passthru". It does not appear as an option when the source is a .MOV file.

Since the frame rate may affect the AV sync, I am now trying a constant frame rate instead of a peak value.

From: woodstockathbf <notifications@github.com<mailto:notifications@github.com>>
Reply-To: HandBrake/HandBrake <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 12, 20

[2018-03-12 22:08] RichardSaffran commented on #1227
Running, and apparently much faster than 1.0.7 (with the NLmeans filtering)

From: Bradley Sepos <notifications@github.com<mailto:notifications@github.com>>
Reply-To: HandBrake/HandBrake <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 12, 2018 at 5:00 PM
To: HandBrake/HandBrake <HandBrake@noreply.github.com<mailto:HandBrake@noreply.github.com>>
Cc: Richard Saffran <Rich

[2018-03-12 23:26] RichardSaffran commented on #1227
No improvement – audio is several seconds behind

[18:04:27] macgui: Handbrake Version: 20180310230041-8e61891-master  (2018031201)
[18:04:27] macgui: built-in presets updated
[18:04:27] hb_init: starting libhb thread
[18:04:27] hb_init: starting libhb thread
[18:04:38] macgui: trying to open a folder or file
[18:04:38] macgui: ScanCore scanning titles with a duration of 10 seconds or more
[18:04:

[2018-03-13 08:04] iBeny opened #1228 "Action when done request"
Hi,

I would like the HandBrake team to add a new action when video conversion is done, that is : popup a message w/or without sound (customizable) telling the conversion is finished "with success"...

Many thanks
**_iBenny_**

[2018-03-13 15:01] MaxPower85 commented on #1226
@woodstockathbf
I didn't say "add a text editor to handbrake"... and that is not what I had in mind... my point was that it would be more convenient to just edit the timecodes (in some text box... kind of like those text boxes where you set the resolution), not to type everything manually in some text editor to create the file with chapters.

What I had in mind was to have a + button on the "Chapt

[2018-03-14 08:15] Cagliostrooo opened #1229 "combining multiple presets to a "package" to create plenty of sample files quickly [feature request]"
### Description of problem or feature request

When downsizing many videos of unequal quality, it's really tedious and click-heavy to create many sample files to figure out which one is the best to use. I wish there was a "preset-package", so I didn't have to select each present and add to the queue so many times (see screenshot).

Let's say I know that QF26 will most likely be the right one to us

[2018-03-14 19:01] bengalaviz opened #1230 "CentOS 6 compile issues for HandBrakeCLI"
### Description of problem or feature request

I'm having an issue compiling on linux

### Steps to reproduce the problem

Followed instructions for CentOS 6 to install dependencies. (https://handbrake.fr/docs/en/latest/developer/install-dependencies-centos.html)

Followed instructions to compile for linux. (https://handbrake.fr/docs/en/latest/developer/build-linux.html)

### HandBrake version (e.

[2018-03-14 19:05] bradleysepos commented on #1230
Sorry you're having trouble. I'm looking into this.

@jstebbins Any ideas regarding https://github.com/HandBrake/HandBrake/blob/master/libhb/encx264.c#L241:

[code]

[2018-03-14 19:09] bradleysepos commented on #1230
@bengalaviz Will you please paste the output of `rpm -qa | grep x264`?

[2018-03-14 19:20] bengalaviz commented on #1230
$ rpm -qa | grep x264
x264-libs-0.120-5.20120303.el6.x86_64
x264-devel-0.120-5.20120303.el6.x86_64

From the rpmfusion repo

[2018-03-14 19:32] bengalaviz commented on #1230
running the following command shows this.

$ which x264
/usr/local/bin/x264
$ x264 --version
x264 0.148.2665 a01e339
(libswscale 3.1.101)
built on Jan 20 2016, gcc: 4.4.7 20120313 (Red Hat 4.4.7-16)

So the error is that I have an already compiled x264 0.148. installed newer than the one from rpmfusion x264 0.120.

[2018-03-14 19:35] bradleysepos commented on #1230
Thanks. It looks like I intended to remove CentOS 6 from the documentation when we added multilib, and never got around to it. Anyway, updating my VM at the moment and will see if I can get things working. 😸

[2018-03-14 19:40] bengalaviz commented on #1230
I removed the x264 installed from rpmfusion, renamed the x264 in /usr/local/bin/x264, reinstalled x264 from rpmfusion. now `which x264` shows `/usr/bin/x264`.

Recompiling now. Will update onces it completes.

[2018-03-14 20:15] bengalaviz commented on #1230
Nope, still the same error. Will keep looking around as to why it is still pulling the 148 version instead of the 120 version installed from rpmfusion.

[2018-03-14 20:45] bradleysepos commented on #1230
In testing, seems to be working fine here; however, the docs are missing an important bit. After installing dependencies, run `scl enable python27 bash` to launch a new shell with Python 2.7 enabled, then configure and build. I'm updating the docs now. Let me know if this helps.

[2018-03-14 21:29] bengalaviz commented on #1230
I removed all x264 files from /usr/local from a previous build. Without the `scl enable python27 bash` it still built.

[2018-03-14 21:31] bradleysepos commented on #1230
"It" being HandBrake? Got it working?

[2018-03-15 02:05] beandog commented on #1212
For the record, getting milliseconds accurately on DVDs can be a bit of a pain ... I've looked at it a lot, and I'm still not convinced I'm doing it right, see https://github.com/beandog/dvd_info/blob/master/dvd_time.c

[2018-03-15 09:24] versus666 commented on #1146
I was about to file a report about that except for me it _always_ reverts to the video resolution, not _sometimes_.
It worked fine a few months ago but now it's exactly like explained above, meaning we have to click twice more and lose custom settings (or save them but after a while that makes a LOT of custom variations, you could argue about erasing the 'old' ones but it would be easier to revert

[2018-03-15 11:00] versus666 opened #1231 "Display Aspect is always rounded down leading to weird display geometry & pixel aspect"
### Description of problem or feature request
The **Display Geometry** is always rounded down when it should be rounded up to keep a pixel aspect @ 1 when possible instead of weird ratios.

Note 1 : you can set the right **Pixel Aspect** of 1 by setting **anamorphic** to 'custom' but that's not a fix per se.
Note 2 : the file size is LOWER with the right pixel ratio. I tested with a 160megs file w

[2018-03-15 15:11] bengalaviz commented on #1230
Yes. It compiled and I have HandBrakeCLI. Thanks for you help. Led me in the right direction to solving it.

[2018-03-15 15:50] bradleysepos commented on #1230
Great!

[2018-03-15 15:50] #1230 closed, assigned to bradleysepos

[2018-03-15 20:52] woodstockathbf commented on #1231
Do you also have the encode log that goes with this scan, so we can see what you told handbrake to do?

[2018-03-15 20:54] woodstockathbf commented on #1229
This is something that can already be done using a script and the command line interface, since the CLI can import and use presets created by the GUI.

It seems a rather narrow "edge case" to try to add to the graphic user interface.

[2018-03-15 22:14] sr55 commented on #1229
Yup. This is quite bespoke. I'm afraid it won't be added to the GUI but a script over the CLI is the best way to achieve it. Please see https://handbrake.fr/docs/en/1.0.0/cli/cli-guide.html

[2018-03-15 22:15] #1229 closed, assigned to nobody

[2018-03-15 22:16] sr55 commented on #1228
Nightly build already supports playing back a sound. There is another request already open for better notifications but the options are not great so whether or not there will be any changes here remains to be seen.  #61

[2018-03-15 22:16] #1228 closed, assigned to nobody

[2018-03-15 22:18] sr55 commented on #1227
Would you be able to provide a sample file that can allow us to reproduce?  Your logs are not indicating any problem so we don't have anything to go on I'm afraid.

[2018-03-15 22:22] sr55 commented on #1226
Importing is chapter names only.  We don't really have any plans to add the ability to add/modify chapters. I think that's better left to other tools.

[2018-03-16 00:16] RichardSaffran commented on #1227
I just converted a large file, and again, no problem found…it's possible the sync error was in my original (MOV) file, so I will start over and let you know what I find. Apologies in advance if it's my error, though that's the best outcome.

From: Scott <notifications@github.com<mailto:notifications@github.com>>
Reply-To: HandBrake/HandBrake <reply@reply.github.com<mailto:reply@reply.github.com>>

[2018-03-16 08:59] ahmed-abdelrazek opened #1232 "Trojan with the latest build"
### Description of problem or feature request

Windows defender catching a trojan in the handbrake.applicationservices.dll

### Steps to reproduce the problem

download the latest nightly build https://nightly.handbrake.fr/HandBrake-20180314-c038876_x86_64-Win_GUI.exe
install and run the app

### HandBrake version (e.g., 1.0.0)

20180314-c038876_x86_64-Win_GUI

### Operating system and version (e.

[2018-03-16 12:00] TailStff opened #1233 "Handbrake halt to encode when logicial partition are removed by force"
### Description of problem or feature request

Encoding stop when logical partition are disconnected (brute force like low level formatting via hdd tools), event if this is not partitions in use by handbrake

### Steps to reproduce the problem

Start a long encoding, format a drive where logical partition are present.

### HandBrake version (e.g., 1.0.0)

1.1.0 Lastest Nighty build

### Operating

[2018-03-16 14:14] RichardSaffran commented on #1227
It appears the sync issue shows up only when converting large files. I wanted to provide a small files, so I just converted a 900 MB MOV to MP4, but, no problem. The sync problem problem showed up when converting a 5 GB MOV file, which I don't have any way to send to you.

From: Scott <notifications@github.com<mailto:notifications@github.com>>
Reply-To: HandBrake/HandBrake <reply@reply.github.com<

[2018-03-16 14:20] woodstockathbf commented on #1232
Virus messages are subject to a lot of false hits. In this case, 67 other antivirus programs disagree:

https://www.virustotal.com/#/url/089254fc2d8346913ad505658e30ade2b933a3ef4bda8dd570d07de406f9c1a4/detection

Submit the executable to Microsoft, and let them figure out why they detect a "trojan" when no one else does. The description they have for this "finding" is rather vague - "This threat c

[2018-03-16 16:42] woodstockathbf commented on #1233
Not sure where "pause" is an option; everything is in an uncertain (and probably unstable) state, with no guarantee that you can save that state. If Windows was using ANYTHING on the partition in question, more than just handbrake is buggered.

The solution is to not do that.

Assuming the forced dismount did not destroy the input file, there should be no data loss, just time.

[2018-03-16 17:34] jstebbins commented on #1231
I acknowledge that this behaviour is not exactly intuitive.  But you need to do some math.  The display aspect of a 1:1 PAR 720p video is 1280/720 = 1.777777...  When scaling that down to 480p with alignment 2 you get a resolution of 854x480.  At a 1:1 PAR, this would result in a display aspect of 1.77916666... which is slightly wider than it should be.  To preserve the display aspect, the pixel a

[2018-03-16 17:42] jstebbins commented on #1231
FYI, the display aspect of "15.99:9" that you are seeing is actually the bug here.  It's being computed from the display width and height values which are actually rounded down.  So there is a loss of precision in that value that doesn't actually exist in the output file.

[2018-03-16 18:12] jstebbins commented on #1231
Incorrect display aspect fixed in 462362a

[2018-03-16 18:12] #1231 closed, assigned to jstebbins

[2018-03-16 19:00] sr55 commented on #1233
By the time a volume drops, it's too late for HandBrake to recover that file. It will be in an inconsistent state.

This should be an extremely rare event for most users.

[2018-03-16 19:00] #1233 closed, assigned to nobody

[2018-03-16 19:06] sr55 commented on #1232
Yup, it's a false positive. Seems to be quite common.

Either way, their 1.263.536.0 definition says it's clear.

Thanks for the report.

[2018-03-16 19:06] #1232 closed, assigned to nobody

[2018-03-16 19:06] #1226 closed, assigned to nobody

[2018-03-16 19:14] sr55 commented on #1227
Couple more ideas:

Try audio sample rate of "Auto" and "48"hhz (Making sure all filters are disabled and runs same as source FPS).

Try remuxing the file with ffmpeg into an mkv, then re-encode. (Copy audio/video, no need to re-encode).   Might give us a hint if this is a content or container problem.

[2018-03-16 23:25] sr55 commented on #1196
There isn't much of the way of support for HDR content yet in HandBrake. Particularly given it's an 8bit only pipeline and this probably won't change in the near future.

Advanced controls for light levels probably arn't something we'd ever want to see in the UI.  Doesn't really fit with HandBrakes goal of being somewhere in the middle ground in terms of Power and ease of use.

That said, we'll pr

[2018-03-16 23:28] sr55 commented on #1151
I've never been able to replicate this I'm afraid :(

If anyone else can consistency re-produce this, please let me know.

[2018-03-16 23:33] sr55 commented on #1143
Community Rule Violation. (2c) Locking topic.

For anyone else, If anyone can provide a sample that is legally attributable that consistently reproduces this, feel free to open another case..

Marking as Not Reproducible.

[2018-03-16 23:33] #1143 closed, assigned to jstebbins

[2018-03-17 00:31] #1146 closed, assigned to jstebbins

[2018-03-17 16:18] maximd33 commented on #1166
@mkvAndrew if you can share attachment/screenshot here - it would help

[2018-03-17 16:19] mkvAndrew commented on #1166
I edited my post with the CLI failures and attached the image and log. Is
it not showing up?

Andrew

On Sat, Mar 17, 2018, 12:18 PM maximd33, <notifications@github.com> wrote:

[2018-03-17 19:36] brucefagan commented on #660
I just want add my experience with this problem. A couple days ago I upgraded from 0.10.5 to 1.0.7 (GUI) in order to more easily convert videos to kindle (android-720) format. And, that was a success. But, the install process deleted my copy of HandbrakeCLI. I have a java program I wrote to convert cut tivo files into a nice MKV file and it spawns off HandbrakeCLI processes. This morning I ran tha

[2018-03-17 19:38] bradleysepos commented on #660
@brucefagan Aside, the CLI is a separate download. You'll need to install both the GUI and CLI packages.

[2018-03-17 20:37] RichardSaffran commented on #1227
I started over with a new MOV file (USB capture from VHS player, file size about 11 GB), then I re-installed Handbrake (Version 1.0.7 (2017040900)) and tested every combination of options I remembered using (noise filtering on and off and a couple of others). All results perfect, no sync problem.

I'll speculate that the problems resulted from "stress": using Handbrake simultaneously with MOV file

[2018-03-17 21:35] sr55 commented on #1227
My gut feel is it's been a source specific problem.  If you do see this again on a source that you are able to share, please let us know. I'll close for now.

USB capture devices tend not always the best and can cause problems.

[2018-03-17 21:35] #1227 closed, assigned to nobody

[2018-03-18 09:00] SanyaIV commented on #1151
I haven't been able to reprocude it with the nightly I installed around the time I made these requests. This issue can probably be marked solved or something.

[2018-03-18 10:29] sr55 commented on #1151
Thanks for the feedback. Closing.

[2018-03-18 10:29] #1151 closed, assigned to nobody

[2018-03-18 20:24] #1121 closed, assigned to jstebbins

[2018-03-18 21:29] sr55 commented on #1150
We've not heard back in a while so I'm closing this out.   If a sample or steps to reproduce / more information comes to light, we can re-open.

[2018-03-18 21:29] #1150 closed, assigned to nobody

[2018-03-19 14:58] maximd33 commented on #1166
@mkvAndrew ok, see it now but very strange results , any option to try CLI from https://handbrake.fr/nightly.php and to see if it breaks in the same way?
thanks in advance

[2018-03-20 17:52] mkvAndrew commented on #1166
I tried with a 1080p video and it worked perfectly.  I'll try again with a
4K source and then provide another update.  Initially I noticed the problem
with 2160p video, however it also failed with 1080p.

Andrew

On Mon, Mar 19, 2018 at 10:58 AM, maximd33 <notifications@github.com> wrote:

[2018-03-20 19:27] mkvAndrew commented on #1166
It seems a 4k 10 bit video will not encode using the h.265 QSV setting.
I've even tried the nightly application, and tried both the h.265 QSV
10-bit and regular profiles.  Tried a 3rd time with production version of
Handbrake to generate the JSON file.  All three times, the encoding hangs
after 0-8minutes. I'm not getting an error or an app crash.  The encoding
just stops and the counter that usua

[2018-03-20 19:41] sr55 commented on #1166
@mkvAndrew  are you still using the 4815 drivers? Have you tried the most recent version?

[2018-03-20 19:46] mkvAndrew commented on #1166
I have the most recent Intel drivers, unless there was a new one released
in the last week?

On Tue, Mar 20, 2018 at 3:42 PM Scott <notifications@github.com> wrote:

--
Andrew

[2018-03-20 19:57] artem-shaporenko commented on #1166
Hi @mkvAndrew is it possible you can run process explorer and get screenshot of modules loaded while HB is running?
here is example how to use process explorer https://support.microsoft.com/en-us/help/970920/using-process-explorer-to-list-dlls-running-under-the-outlook-exe-proc to get list of loaded modules.

[2018-03-20 20:01] sr55 commented on #1166
4815 is a bit older now, so unless you've updated, your running a older driver with known issues. I can't tell from CLI logs as we don't print there.

[2018-03-20 20:03] artem-shaporenko commented on #1166
@sr55 BTW it will be good feature to add :)

[2018-03-20 20:05] mkvAndrew commented on #1166
I've checked all my Intel drivers for updates prior to posting my errors.
It's a brand new laptop with 8th Gen i7. So I do have the latest.

Thanks.

Andrew

On Tue, Mar 20, 2018, 4:01 PM Scott, <notifications@github.com> wrote:

[2018-03-20 20:06] sr55 commented on #1166
I assume your going to Intel for drivers, and not laptop manufacturer?  Can you check in the GUI, just open the log after a scan, it'll print it at the top.

[2018-03-20 20:11] artem-shaporenko commented on #1166
@sr55 all current drivers are a;most the same between intel, manufacturer and microsoft, as microsoft enforces OEMs to get updates from microsoft, which being released there by intel. I don't think there is something related to driver version but some ground base SW configuration issue related to interability between NV and Intel graphics.

[2018-03-20 20:35] sr55 commented on #1166
The first GUI log shoed Andrews issue was an Intel Only setup, but I suspect it may be something other than -21 here.

GPU Information:
Intel(R) UHD Graphics 620 - 22.20.16.4815

[2018-03-20 21:03] maximd33 commented on #1166
4815 is quite old to use,
@mkvAndrew can you try to install this driver: https://downloadcenter.intel.com/download/27484/Graphics-Intel-Graphics-Driver-for-Windows-15-65-?product=96551

it original -21 was with 8b content , not sure why 10b came into discussion

[2018-03-20 21:29] sr55 commented on #1099
Just double checked with the latest.

Still an issue.

  Intel(R) UHD Graphics 630 - 23.20.16.4944
  NVIDIA GeForce GTX 1060 6GB - 23.21.13.9077

  [21:28:49] sync: got 0 frames, 38073 expected
  [21:28:49] h264_qsv-decoder done: 0 frames, 38073 decoder errors

[2018-03-20 21:47] maximd33 commented on #1099
@sr55 do you have any remote access SW installed ?
like VNC etc on this PC

and double checking - you are locally using PC, not via any remote access way?

[2018-03-20 22:52] bradleysepos opened #1235 "Feature Request: Print QSV information in CLI output header."
Only the GUI currently prints this information.

[2018-03-20 22:53] bradleysepos commented on #1166
@sr55 @artem-shaporenko @maximd33 Created #1235.

[2018-03-20 23:56] mkvAndrew commented on #1166
Hi team, the date on this driver on Dell's website is March 7 2018.  Intel
may have newer drivers on their site, but Intel will not allow me to
install their non Dell branded driver.  I get an error message saying it's
not compatible with my machine, and contact Dell for a driver.  Dell does
not have a newer one on their website. Is this driver really that old?

Andrew

On Tue, Mar 20, 2018 at 5:0

[2018-03-21 23:07] horstle commented on #457
According to golem.de there was a bitstream freeze recently. Any plans?

(german)
https://www.golem.de/news/videocodec-av1-ist-eingefroren-und-30-prozent-besser-als-vp9-1803-133457.html

[2018-03-21 23:15] reagle commented on #940
I'm not sure why this was closed. Seems like weird behavior not to remember what the user types in. Plus, on MacOS, it's nonintuitive to actually navigate by way of the Browse button.

[2018-03-21 23:19] bradleysepos commented on #940
@reagle Having separate filename and directory fields is required for sandboxing. This issue was closed because the app *does* remember the last used directory; we were not able to reproduce the issue.

[2018-03-22 00:42] reagle commented on #940
FYI: I recently had to do a clean reinstall and it took me a good 10 minutes to figure out, again, how to set an output directory. When you click the `browse` button on MacOS, you are only presented with a fixed list of directories; you can **not** browse to where you want. The trick is to manually type the path into the field *then* hit browse, and it will start which is rather screwy.

[2018-03-22 00:53] MakotoFatora commented on #940
Honestly I think some of the confusion may be with the fact that "the next version" splits those controls, but it's still not released.  5.5 months later and 1.0.7 is still the latest public version.

If you reproduce this on 1.0.7 using the steps I originally mentioned, it's extremely easy to reproduce if you change your directory by simply editing the path that's shown in the Destination -> File

[2018-03-22 01:26] bradleysepos commented on #940
@reagle It does seem like you're still using the 1.0.x release. This has completely changed in the nightly build.

Yes, and please accept our apologies for the delay. Our goal since moving to git has been to release more, not less often, but we've run into some unexpected hurdles. Additionally, we cannot automate the entire build process since we're cryptographically signing the Mac and Windows bu

[2018-03-22 01:29] bradleysepos commented on #940
I went ahead and removed the Not Reproducible label, since this also may be related to an Apple bug, as previously mentioned in this comment: https://github.com/HandBrake/HandBrake/issues/940#issuecomment-335233916

In any case, the behavior should be improved in the nightly build and upcoming release.

[2018-03-22 01:32] MakotoFatora commented on #940
Cool! No worries, I can wait, hopefully everyone else can too :) but hopefully this does at least explain why some people are a little confused why this was closed :) Anyways thanks for the work on Handbrake! I look forward to the new version... Handbrake is a huge part of my personal Plex library of blurays and old dvds :)

For everyone else - please see my previous post about the workaround... I

[2018-03-22 03:36] funjoker opened #1237 "Unable to scan large files"
### Description of problem or feature request

When i want to load my video data (7 Hours and 42,7GB) into Handbrake it gets stucked 80, 90 or 100% and doesn't do anything anymore. CPU load is 0% t Handbrake.

### Steps to reproduce the problem

Load a long/huge video data into the program.

### HandBrake version (e.g., 1.0.0)

HandBrake 1.0.7

### Operating system and version (e.g., Ubuntu 16.04

[2018-03-22 03:52] bradleysepos commented on #1237
Try disabling QSV decode in the preferences.

[2018-03-22 21:59] teusday commented on #783
I'm not sure if this does any good, but here's the EXIF data from my camera.
![image](https://user-images.githubusercontent.com/6055251/37800816-6b584380-2e24-11e8-9116-87ef140b977d.png)

It's not "Release Date," but there's a few dates that would match up with the recording date. They don't fit that spec you found, though.

For the record, it's a Sony Handycam storing with AVCHD

[2018-03-22 22:01] funjoker commented on #1237
![unknown](https://user-images.githubusercontent.com/846960/37800949-fac24da4-2e24-11e8-9120-8630187badc7.png)

This option is disabled for me.
I can't click on any.

My CPU has no HD Graphics. And my Windows is 10.

[2018-03-22 22:43] bradleysepos commented on #1237
Sorry, I misread some information in the log. There doesn’t appear to be much else interesting.

You may have better luck with the nightly build, which you can install alongside the release build on Windows.

[2018-03-23 09:30] kpping opened #1238 "Checksum of HandBrake-1.0.7.dmg in GitHub and Handbrake Site not match."
### Description of problem or feature request

Checksum of HandBrake-1.0.7.dmg in GitHub and Handbrake Site not match.

On [Handbrake Site](https://handbrake.fr/rotation.php?file=HandBrake-1.0.7.dmg) said it should be
6d2e5158f101dad94ede3d5cf5fda8fe9fd3c3b9
3cd2e6228da211349574dcd44a0f67a3c76e5bd54ba8ad61070c21b852ef89e2

But on [github](https://github.com/HandBrake/HandBrake/wiki/Checksums) said

[2018-03-23 09:41] bradleysepos commented on #1238
[code]

[2018-03-23 19:53] sr55 commented on #1238
I think your both confusing CLI and GUI hashes.

[2018-03-23 20:39] maximd33 commented on #1235
do you mean driver version or something else as well?

[2018-03-23 20:41] maximd33 commented on #1166
@mkvAndrew it is quite old by version, correct

[2018-03-23 20:42] mkvAndrew commented on #1166
Okay. I can reach out to Dell to ask them for an updated graphic driver.

On Fri, Mar 23, 2018 at 4:41 PM maximd33 <notifications@github.com> wrote:

--
Andrew

[2018-03-23 21:18] ghostbrdk opened #1239 "Handbrake don't start and i reinstaled"
### Description of problem or feature request

The handbrak don't Start.
Handbrake don't start, and i reinstalled

### Steps to reproduce the problem

none, only start

### HandBrake version

HandBrake version 1.0.7

### Operating system and version

OS Windows 8.1 PRO

### Error message text or screenshot

Type or paste text and/or drag and drop image.

An Unknown Error has occured.
System.Reflec

[2018-03-23 21:31] NaPurHab opened #1240 "New Tab to Edit Header"
### Description of problem or feature request

Handbrake currently passes through the Header. So that a filename like:
Who.Killed.The.Neanderthal.Extended.1080p.HDTV.x264.AAC.MVGroup.org
is often encoded in the Header as the TITLE.  Problem is that if I rename the file to a more friendly name. Like:  Who Killed The Neanderthal.mkv
The header still contains the TITLE as: Who.Killed.The.Neanderthal.

[2018-03-23 21:35] sr55 commented on #1240
Locked for community rule violation.

[2018-03-23 21:35] #1240 closed, assigned to nobody

[2018-03-23 21:36] sr55 commented on #1235
Yes, GPU's and driver versions.

[2018-03-23 21:41] sr55 commented on #1239
You could try deleteing C:\Users\<username>\AppData\Roaming\HandBrake   which will reset everything back to defaults.

[2018-03-23 21:43] sr55 commented on #1237
It was an overflow bug fixed last year. The nightly builds have the fix and so will the upcoming 1.1 release in the near future.

[2018-03-23 21:43] #1237 closed, assigned to nobody

[2018-03-24 01:18] ghostbrdk commented on #1239
As you can see, there is no such mass
![hand](https://user-images.githubusercontent.com/37715937/37858742-1fc8d316-2ee8-11e8-89c0-821f2eac69be.png)

[2018-03-24 01:22] ghostbrdk commented on #1239
And the mistake is this
![handerr](https://user-images.githubusercontent.com/37715937/37858768-9c5177b2-2ee8-11e8-974c-3a19a7baa959.png)

[2018-03-24 01:23] ghostbrdk commented on #1239
Sorry for my mistakes, but I'm Brazilian and I'm speaking with google translator help.

[2018-03-24 01:46] kpping commented on #1238
I see. Sorry, it is my mistake. The check sum on both site are equal.

Thank you.

[2018-03-24 01:46] #1238 closed, assigned to sr55

[2018-03-24 03:52] bradleysepos commented on #1238
Oops, that makes two of us. I updated my comment so nobody gets confused. Thanks @sr55 for the extra set of eyes.

[2018-03-24 20:43] sr55 commented on #1239
I'm afraid I don't have any more suggestions for you.  either your install is corrupted, or something else is broken on your system.  I guess you could re-install .NET Framework 4.6.2 but i'm not sure if that'll help.

[2018-03-26 01:46] Druzzl opened #1241 "Doesn't even try to encode, just errors out with MKV's"
### Description of problem or feature request

Won't encode queue, happens on all 107 MKV files. Continued after restart as well.
All AVI (I believe there were 200) finished successfully.

### Steps to reproduce the problem

Unknown

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 7 S

[2018-03-26 02:39] mkvAndrew commented on #1166
I ended up being able to sideload the new Intel driver and it updated
without issue. I can now use the Nightly build of CLI and the GUI
application successfully to encode with QSV on H265, both with 8 and 10
bit, 2160p and 1080p.  So it looks like it is all good.  Thanks!

Andrew

On Fri, Mar 23, 2018 at 4:41 PM, maximd33 <notifications@github.com> wrote:

[2018-03-26 10:29] gkennedy88 opened #1242 "Desktop Computer Freeze/Crash while useing handbreak"
if i allow handbrake to use anymore than 2 Cores from my CPU out of 8 it will freeze up and become totally non responsive the only way i can gain access again is to press and hold the power button until it shuts off.
So here is what i'm doing to stop my PC from freezing and becoming unresponsive, I go into task manager and limit the affinity to 2 of the 8 cores and my temp program is giving me two

[2018-03-26 13:38] woodstockathbf commented on #1241
The data rate of 3834 kbps found in the source is VERY low for a 1080p rip; I just checked my copy of this episode, and the handbrake-compressed (h.264, RF:20) file has double that data rate, so your source may be damaged. The decoder hit an error almost immediately.

What happens if you use the nightly build? There have been a LOT of changes since 1.0.7 was released, and it may be that one of the

[2018-03-26 13:49] Druzzl commented on #1241
I have no idea how to access the Nightly Build. But I did get it working again (i had to re-make the entire queue) I'm wondering if Handbrake couldn't detect the drive for writing output (it had been running for about a day or so)

[2018-03-26 15:52] ghostbrdk commented on #1239
I'm sad :/, but thanks bro

[2018-03-26 16:31] sr55 commented on #1242
You can't really think about usage % as a true reflection of how busy a CPU is.

100% can mean 10% of the silicon is in use. It cam also mean 100% is in use. The latter uses a lot more power.  Your CPU can perform different types of operations.  Integer, Floating Point, Specialised instructions.

Running an app that only runs Integer based functions for example, can show 100% CPU but in reality it

[2018-03-26 16:34] #1242 closed, assigned to nobody

[2018-03-26 16:35] sr55 commented on #1239
On the offchance you do ever figure it out, please do report back.  (Ditto for anyone else that may ever come across this).

For now, I'll close but if something more comes to light, we can re-open.

[2018-03-26 16:35] #1239 closed, assigned to nobody

[2018-03-26 17:00] sr55 commented on #1241
Closing due to community rule violation.  2c

[2018-03-26 17:00] #1241 closed, assigned to nobody

[2018-03-26 19:07] maximd33 commented on #1166
thanks for the confirmation @mkvAndrew

[2018-03-26 19:22] OrangeBlossomDearie opened #1243 "Handbrake Stalls at 78% every time"
### Description of problem or feature request

Stalls at 78% every time

### Steps to reproduce the problem

- Select Source
- Use "Fast 1080p30" preset
- Click "Start"
- Wait until 78.26% complete

- I also allowed it to stay there for hours, and tried 3 different times, also with the "Very Fast 1080p30" setting, same result.
- Also restarted computer
- Also tried to Pause and Resume

### HandBra

[2018-03-26 19:55] sr55 commented on #1243
Looks an awful lot like copy protection is kicking in here.  HandBrake doesn't bypass copy protection. You'll need to rip first with 3rd party software such as MakeMKV before feeding to HandBrake.

[2018-03-27 19:06] jridder opened #1244 "Request - Mac - Import chapters as XML"
### Description of problem or feature request
The Windows version of Handbrake has the ability to import chapters as Text or XML. ChapterDb has the ability to deliver as both but XML seems to import more reliably. Would like to see this feature added to the Mac version of Handbrake as well.
### Steps to reproduce the problem
Add file requiring conversion to Handbrake. Click on Chapters tab and fil

[2018-03-27 19:14] sr55 commented on #1216
Well, this is an odd one.  I've run tests on the Flac encoder with LPCM decoded sources and can't reproduce this failure.

I can only conclude it's source specific.  Would you have able to share a short sample file that reproduces this?

[2018-03-28 01:21] Cagliostrooo opened #1245 "Encoding issue - Artifacts sometimes being added for no apparent reason"
### Description of problem or feature request

I've created thousands of samples in the past months and this is the first time I've seen that. Granted, it could have easily gone unnoticed for long, given that it was just a coincidence that this issue pops up at the very same time I usually check the samples (second 10). On the other hand it could be related to the nightly build I recently upgraded

[2018-03-28 19:03] jjanusch commented on #457
@horstle Per the official website, AV1 was officially released today. https://aomedia.org/the-alliance-for-open-media-kickstarts-video-innovation-era-with-av1-release/

[2018-03-28 19:06] sr55 commented on #457
It'll be some time before encoders for this mature to the point of being acceptable for the project. So it'll probably be a good year or two based on past experience with previous encoders.

Either way, once we see a decent encoder become available, we'll look and decide when we want to add it.

[2018-03-29 01:35] jstebbins commented on #457
If you read the full official announcement you would see that the only code available at this time is "Unoptimized, experimental software decoder and encoder to create and consume the bitstream".  This is unlikely to yield an acceptable user experience, but when I get some time I *will* run some tests to see for myself.

Official announcement is here for those that are interested:
https://aomedia.

[2018-03-29 21:18] sr55 commented on #1245
Can you please upload to a different site, That site is flagged up in security software so can't actually visit it.

[2018-03-29 21:19] sr55 commented on #1243
Closing out as invalid. If any more information comes to light we can re-visit it. Thanks.

[2018-03-29 21:19] #1243 closed, assigned to nobody

[2018-03-29 22:12] Cagliostrooo commented on #1245
files: https://ufile.io/xqhej
logs: https://ufile.io/5x2kp

[2018-03-30 03:23] satanupup commented on #259
gupz，video engine load
![c0330](https://user-images.githubusercontent.com/3282628/38123253-b3ad9a7a-340c-11e8-8803-8d522ef07314.png)

gtx 1080 ti 11.3x
gtx 980 7.53x
gtx 750 ti 8.5x

[2018-03-30 03:29] UnInfamous commented on #259
How?

[2018-03-30 03:41] satanupup commented on #259
agree @ SR55

[2018-03-30 22:48] gigawatts opened #1246 "HandBrakeCLI wont accept a HBQ queue file exported from HandBrake GUI"
### Description of problem or feature request

HandBrakeCLI wont accept a HBQ queue file exported from HandBrake GUI

Importing the same HBQ file back into the GUI works as expected.

### Steps to reproduce the problem

1) Setup an encode queue, in my case just a single encode job
2) Export Queue, save to a hbq file
3) Run HandBrakeCLI.exe --queue-import-file E:\movies\queue.hbq

### HandBrake ver

[2018-03-31 03:58] woodstockathbf commented on #1246
Importing queues to the CLI was not part of the 1.0.x release; it was added in the nightly builds, and will be a feature of 1.1 when it arrives.

https://handbrake.fr/nightly.php to get the support for exported queues.

[2018-03-31 04:48] gigawatts commented on #1246
Ah, ok, thanks for the details. The wording in the current usage guide makes it sound like it's currently supported.

--queue-import-file <filename>
                           Import an encode queue file created by the GUI

[2018-03-31 10:06] sr55 commented on #1246
It's supported on Mac and Linux, not Windows I'm afraid.  HBQ is a legacy format which will be removed after 1.1.  1.1 does support the new JSON format although I'm not sure if I'm going to maintain it given that so few people even use it.

Do you mind if I ask why your wanting to run a GUI queue on the CLI?

[2018-03-31 10:31] MagicNeico opened #1247 "Handbrake quits unexpectedly everytime when clicking <preview> on MacOS High Sierra 10.13.4"
### Description of problem or feature request

Clicking on Preview shuts down Handbrake.

### Steps to reproduce the problem

Everytime you click preview handbrake shuts down after update to macOS High Sierra 10.13.4.
Load file type *.mkv and hit preview to reproduce the problem.

### HandBrake version (e.g., 1.0.0)

Version 1.0.7 (2017040900)

### Operating system and version (e.g., Ubuntu 16.04

[2018-03-31 10:55] sr55 commented on #1247
Can you try a nightly build https://handbrake.fr/nightly.php and let us know if that works?

[2018-03-31 14:41] woodstockathbf commented on #1246
I cannot speak to the poster's reasons, but I run the CLI on a different machine than the GUI, with better specs. Build the queue in the GUI, then let it run on the other machine without interfering with other work.

[2018-03-31 17:46] gigawatts commented on #1246
That was exactly my intention (@woodstockathbf comment), to use the GUI to configure a complicated job with many "unique to each title" options (Bluray to MKV), then send it off to my multi-socket headless server to do the encoding much faster than my desktop can.

@sr55 If the HBQ format works on the linux port of Handbrake CLI, I might go through the trouble of compiling it for fedora (only DEBs

[2018-03-31 17:49] misterbridge commented on #345
So it that going to happen anytime soon ? Such a needed feature, that would really be amazing !
Great job on the tool, it is awesome.

[2018-03-31 18:34] sr55 commented on #345
It's not high up on anyone's todo list, sorry.

[2018-03-31 18:36] sr55 commented on #1246
HBQ format is windows only so I wouldn't waste your time with it.

The move to JSON across the board is to unify the 3 UI's in terms of what they can accept.

1.0.7 doesn't have JSON export iirc.  I think I added that post, so try a  nightly build if you want that functionality.

As far  as GUI to CLI,  you'll have to read through HandBrakeCLI --help
No reason you can't create a preset and save or

[2018-03-31 18:54] gonejack opened #1248 "HandBrake chopping video height by only raising up frame rate."
### Description of problem

After convert a video with 30 frame rate to 60, it turn out handbrake also change the size ratio of the video by chopping.

### Steps to reproduce the problem

Test case: https://www.dropbox.com/sh/m68umahj6bp8v9b/AABYPY6_lZuFGIFiRnxoAzpia?dl=0

With this preset, after converted the flv to mp4 for raising video frame rates from 30fps to 60fps, subtitles being chopped di

[2018-03-31 19:22] gigawatts commented on #1246
@sr55 I assume you meant to say "HBQ format is windows **GUI** only" ?

[2018-03-31 19:25] sr55 commented on #1246
yup

[2018-03-31 20:58] MagicNeico commented on #1247
Nightly build version HandBrake-20180318202418-15d861d-master.dmg works. Thank you.

[2018-03-31 22:09] fa1rch1ld commented on #1247
So glad I was not the only one affected by the latest apple update.

Nightly Build Version HandBrake-20180318202418-15d861D-master.dmg also worked for me.

Not familiar with the Nightly Builds.  Is it just the latest beta version of whats to come?  ty.

[2018-03-31 22:10] woodstockathbf commented on #1248
[01:54:39] scan: 10 previews, 384x288, 15.000 fps, **autocrop = 34/26/0/0**, aspect 4:3, PAR 1:1

Disable autocrop. Or, more precisely, set a custom cropping of 0/0/0/0.

The preview scans are not detecting the burned-in subtitles in the source that encroach on the letterbox, so they get cropped.

[2018-03-31 22:11] bradleysepos commented on #1247
Essentially, yes. The nightly builds are built from git master branch, which is the latest HandBrake code available. Apologies for the trouble; HandBrake 1.1.0 is just around the corner.

[2018-03-31 22:12] bradleysepos commented on #1247
This issue is fixed by https://github.com/HandBrake/HandBrake/commit/60d0111324fc8d8014784e0a2af36c0fc26f694c and will be in the next release. Closing.

[2018-03-31 22:12] #1247 closed, assigned to nobody

[2018-03-31 22:18] #1246 closed, assigned to nobody

[2018-03-31 22:21] sr55 commented on #1248
There is also an option to increase the number of previews in options which can help auto crop accuracy but it’s still best guess.  When it comes to situations like this, it’s probably best to take manual control.

[2018-03-31 22:21] #1248 closed, assigned to nobody

[2018-03-31 22:24] sr55 commented on #1147
This one is fixed now I think.  Can you confirm?

[2018-03-31 22:35] bradleysepos commented on #1147
Confirmed fixed.

[2018-03-31 22:35] #1147 closed, assigned to sr55

[2018-04-01 00:59] Armi1P opened #1249 "--srt-file requires \\ as folder separator instead of a single \ on Windows"
I am trying to convert h264 video together with .srt files with HandBrakeCLI 1.0.7 on Windows.
The command I'm running is as follows:
`HandBrakeCLI.exe -i "S:\Archive\Autoboy\raw\2018_03_28_07_48_37.mp4" --srt-file "S\Archive\Autoboy\raw\2018_03_28_07_48_37.srt" -o "S:\Archive\Autoboy\h265\2018_03_28_07_48_37.mp4" -e x265`

HandBrake exits immediately with the following log:

If I replace every \\

[2018-04-01 01:07] bradleysepos commented on #1249
This is a function of your terminal and is called character escaping. Other special characters like quotes also require a backslash preceding them to indicate you mean the literal character.

[2018-04-01 01:10] Armi1P commented on #1249
Then why isn't this valid for the video path? Also, DivX Converter's CLI interface is immune to this.

[2018-04-01 01:13] Armi1P commented on #1249
Also on Windows, the escape character is **^**, and not a **\\**, since that is the folder separator.

[2018-04-01 01:15] bradleysepos commented on #1249
Oops, sorry. I missed something when viewing your message on mobile.

[2018-04-01 01:21] bradleysepos commented on #1249
Confirmed with 1.0.7 and latest nightly, seems like a bug.

[2018-04-01 14:43] woodstockathbf commented on #1249
In this case, \ is the escape character, because it is the libraries in handbrake, not Windows, that are removing the \ characters.

Actually, you may want to try using / instead of \ , because Windows accepts EITHER \ or / as a directory separator, _at the low-level interface_ - it is in the command interpreter that this behaviour is broken.