[2018-05-28 10:57] Nomis101 commented on #1362
I uploaded the sample video onto a cloud server. The STR are:

1. Download the sample video from this link:
https://cloudstore.zih.tu-dresden.de/index.php/s/ppGn3Dum4oou1D0

2. Open the downloaded video in current HandBrake Nightly.

3. Select any preset (for example "iPad" or "AppleTV" and start to encode the movie.

Note: If the bug is resolved/closed I will remove the movie from the above link.

[2018-05-28 11:22] LAfricain commented on #1366
Ok I made a deb with checkinstall, now I can do well the job. The ghb.mo is in /usr/local/share/locale/...

[2018-05-28 11:22] #1366 closed, assigned to nobody

[2018-05-28 15:21] LAfricain opened #1369 "Some strings not localized"
I noticed some string not internationalized (or not yet in the po file), the text at the bottom of the icons "Open Source", "Add To Queue", "Presets", "Activity".
And still the preset list.

[2018-05-28 19:51] sr55 commented on #1195
Closing, 2.8 was committed to the branch yesterday

[2018-05-28 19:51] #1195 closed, assigned to sr55

[2018-05-28 22:13] d4rkne55 commented on #1364
Well, ok, I was more referring to the x264 version instead of ffmpeg, but thanks for the info. :)

Finally the upload has completed: https://files.fm/u/z7bmbbgv#_

I also tested again via ffmpeg CLI and correct settings, matching the one from Handbrake. It also doesn't produce these artifacts. Version was 148 r2744 b97ae06, Handbrake 1.0.7 used 148 r2708 86b7198.

[2018-05-28 22:26] d4rkne55 commented on #1364
Oh, the GUI changes are pretty alright btw, I take back what I said yesterday.^^
I didn't have too much time though and then something like a new "Summary" tab, a moved destination input and no preset sidepanel gets on me.^^ And it bugged me, that I couldn't set the resolution to 1440p, but I was on the default 'Fast 1080p30' preset and that seems to be on purpose and was so in 1.0.7, too.

But el

[2018-05-29 00:01] cehoyos commented on #1362
Could be a bug in avconv that was fixed in FFmpeg 1.0 (start time and duration were wrong).

[2018-05-29 00:06] cehoyos commented on #1364
This was fixed in avconv since the release of version 12 and for FFmpeg in 2014 (version 2.3).

[2018-05-29 08:30] #974 closed, assigned to bradleysepos, sr55, jstebbins

[2018-05-29 08:41] bradleysepos commented on #974
Merged FFmpeg 4.0 into master. See https://github.com/HandBrake/HandBrake/pull/1078#issuecomment-392699015 for some comments.

[2018-05-29 08:58] mirh commented on #697
*Go, go, go ffmpeg is in!*

[2018-05-29 09:13] d4rkne55 commented on #1364
Okay, good to know. But I haven't had these problems with other sources before, so what was the reason for this? Didn't it handle lossless sources correctly, was it some combination of settings, some unexpected markers/flags?

I would be interested in the cause for this, maybe also the commit. At least if it doesn't require much effort.

[2018-05-29 09:13] #1364 closed, assigned to nobody

[2018-05-29 09:16] bradleysepos commented on #1364
Unfortunately, it does require a bit of effort to track down. Not worth the time to bisect, in my opinion. Nevertheless, glad it's sorted for you. 😸

[2018-05-29 09:18] d4rkne55 commented on #1364
Okay, alright. I'll take a look into the v12 changelog of libav then and I'm already searching for some git repo.^^

[2018-05-29 09:50] Nomis101 opened #1370 "FFmpeg configure failure without --arch on macOS."
### Description of problem or feature request

I wanted to build the current HandBrake with ffmpeg 4.0. But the build fails for me.

  : ./configure: line 588: eval: --: invalid option
  : eval: usage: eval [arg ...]
  : make[1]: *** [contrib/ffmpeg/.stamp.ffmpeg.configure] Error 2
  : make[1]: *** Waiting for unfinished jobs....

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.

[2018-05-29 09:58] bradleysepos commented on #1370
I saw this once during my FFmpeg testing, but it went away. Will try to dig deeper and find the cause.

[2018-05-29 10:10] bradleysepos commented on #1370
There may be some screwy race condition or environment corruption going on. I just triggered the error again, but it goes away with `cd build` and running `make -j$(sysctl -n hw.ncpu)` one or more times.

[2018-05-29 10:40] #1355 closed, assigned to nobody

[2018-05-29 10:44] bradleysepos commented on #1370
I'm really not sure why this is happening, but as a workaround, configure without `--launch` and do:

[code]

FFmpeg's configure eats a single core on my machine for a *very* long time and doesn't seem to be determinative. Maybe @cehoyos will have an idea.

Update: ~I cannot reproduce this with a serial build. Seems to only be a problem with make jobs > 1, then it's an intermittent failure at the

[2018-05-29 10:47] bradleysepos commented on #1351
This should be fixed b3d45c2c2 and will be in HandBrake 1.1.1. Please test and provide feedback if you are able.

[2018-05-29 10:59] Nomis101 commented on #1370
I can confirm your workaround is working for me. After I see the error, I do `make -j$(sysctl -n hw.ncpu)` and the build succeeds.

[2018-05-29 11:00] bradleysepos commented on #1370
Thanks for confirming. Now go forth and find FFmpeg-related bugs for us to fix! 😸

[2018-05-29 11:01] Nomis101 commented on #1370
I do :-)

[2018-05-29 11:02] Nomis101 commented on #1362
I think you are right. In a most recent HandBrake build with ffmpeg, the issue is gone. The video encodes fine. :-)

[2018-05-29 11:03] bradleysepos commented on #1362
Thanks. Closing as fixed by FFmpeg in the nightly and for 1.2.0.

[2018-05-29 11:03] #1362 closed, assigned to bradleysepos, jstebbins, galad87

[2018-05-29 11:12] bradleysepos commented on #1325
Tested using current master following switch from Libav to FFmpeg 4.0, using the Fast 480p30 preset. Most of the stream is clear now, but there is still a similar distortion that appears near the end, around 1:10.

[code]

[2018-05-29 11:16] bradleysepos commented on #1123
This is unfortunately not something we will be able to work around. Your best bet is to use the mac-toolchain-build script to install CMake and other dependencies on your machine and dismiss this dialog once, instead of building CMake repeatedly during your HandBrake build. We will eventually remove this functionality.

[2018-05-29 11:16] #1123 closed, assigned to bradleysepos

[2018-05-29 11:18] bradleysepos commented on #1069
We recently switched from Libav to FFmpeg. Please try the next nightly build (available a few days, probably) and see if it solves the issue.

[2018-05-29 11:21] bradleysepos commented on #1156
This appears to be fixed with our switch from Libav to FFmpeg 4.0. Please try the next nightly build (available in a few days, probably) and let us know.

[2018-05-29 11:37] bradleysepos commented on #892
This appears to be fixed by switching from Libav to FFmpeg 4.0, soon to be available in the nightly build and HandBrake 1.2.0.

[2018-05-29 11:37] #892 closed, assigned to bradleysepos

[2018-05-29 11:38] #1156 closed, assigned to jstebbins

[2018-05-29 11:43] bradleysepos commented on #1325
Correction: I mistakenly tested the wrong build. The issue does seem to be solved now, so keep an eye out for the next nightly build and HandBrake 1.2.0.

[2018-05-29 11:45] bradleysepos commented on #846
This appears to be fixed by switching from Libav to FFmpeg 4.0, soon to be available in the nightly build and HandBrake 1.2.0.

[2018-05-29 11:45] #846 closed, assigned to bradleysepos

[2018-05-29 11:48] bradleysepos commented on #469
This appears to no longer crash since switching from Libav to FFmpeg 4.0.

[2018-05-29 11:48] #469 closed, assigned to sr55, jstebbins, galad87

[2018-05-29 11:52] daviducz commented on #1325
Great, thanks!

On Tue, 29 May 2018 at 13:43, Bradley Sepos <notifications@github.com>
wrote:

[2018-05-29 12:20] ilovezfs commented on #1351
@bradleysepos 83dfde11d85a3ee1a7583049c75f1044bd62c94b still segfaults.
https://gist.github.com/ilovezfs/889ada6f9fa403e03b02557c0c5dcc6b
[code]

[2018-05-29 12:26] bradleysepos commented on #1351
Hmm, okay. Perhaps try configuring with `debug=max` and then debugging, might better pinpoint the issue.

I’ll bother an assembly wizard in the meantime.

[2018-05-29 13:44] bradleysepos commented on #1351
Assembly wizard has spotted the problem in x264. Awaiting upstream fix.

[2018-05-29 13:49] ilovezfs commented on #1351
Nice!

In case it's helpful,
with --debug=max
https://gist.githubusercontent.com/ilovezfs/6e33d7e1c0271a042a4faf58e1b76db7/raw/693c58d88960e9baf93481c2fa5ab0317851f4e6/gistfile1.txt

[code]
crash log https://gist.github.com/ilovezfs/2c56c47db261fdaeb4ac607c0817773b

lldb
[code]

[2018-05-29 18:20] sr55 commented on #191
We've now moved to ffmpeg which has many improvements to the AAC encoder.  Since there are no better alternatives right now, I'm considering this one closed.

https://github.com/HandBrake/HandBrake/pull/1078

[2018-05-29 18:24] #191 closed, assigned to nobody

[2018-05-29 18:38] sr55 commented on #1356
We've not heard back so I'm closing this one out.

If your able to provide a before and after log file (or even just after) we can re-open and investigate further.

[2018-05-29 18:38] #1356 closed, assigned to nobody

[2018-05-29 20:01] #1358 closed, assigned to jstebbins

[2018-05-29 20:10] jstebbins commented on #1358
Thanks for the report.  I think I've fixed the problem.  If you can, please give the next nightly build a try to verify that it fixes the problem.

[2018-05-29 21:08] bradleysepos commented on #1370
To make matters worse, this does appear to be an issue with serial builds as well as parallel builds, and even `make ffmpeg.configure` intermittently fails. Sometimes works on the first try, other times needs another run.

[2018-05-29 21:08] Sr4l commented on #1358
Good job. I can confirm that today's master fix the problem with my broken files.

Thanks.

[2018-05-29 21:09] bradleysepos commented on #1358
Thanks for confirming this. Cheers.

[2018-05-29 21:36] bradleysepos commented on #1370
Possibly related, the bug this is supposed to solve cropped up again: https://github.com/HandBrake/HandBrake/blob/f314b7673fcd0d95a30d10e5f1e5b32bebbad092/contrib/ffmpeg/module.defs#L6-L8

Prebuilding x264 solves the problem. 😩

[2018-05-29 21:55] cehoyos commented on #1370
The following are unneeded because you are using "--disable-programs":
--disable-ffmpeg \
--disable-ffplay \
--disable-ffprobe \

The following is unneded because you don't disable any decoders:
--enable-decoder=libspeex

The following are imo very useful simplifications:
--disable-decoder=libvpx*
--disable-decoder=*_crystalhd
(Assuming the last one is really needed...)

Don't know if you find the

[2018-05-29 22:03] bradleysepos commented on #1370
Thanks @cehoyos. Will get these changes in.

Apparently I went too far; I guess you were only suggesting we remove the `--enable` params for these.

It's a significant issue here even on a fast machine.

Seems to only affect macOS builds targeting macOS. It's possible the long configure time is simply making an external issue more likely to occur.

[2018-05-29 22:16] cehoyos commented on #191
The encoder unfortunately is not perfect, see for example https://trac.ffmpeg.org/ticket/7058

[2018-05-29 22:51] cehoyos commented on #1364
This was the original fix:
http://git.videolan.org/?p=ffmpeg.git;a=commitdiff;h=6f7ca1f5
x264 had a bug in lossless encoding for a very long time. Since x264 was the only h264 encoder supporting lossless encoding, FFmpeg contained the same bug. When it was found, both the encoder and the decoder were fixed. Newer files encoded with lossless x264 also need a fixed decoder.
Only one prediction is af

[2018-05-29 22:56] cehoyos commented on #1370
To elaborate a little on the 32-bit issue: -fomit-frame-pointer is added by FFmpeg's configure (it is very important for 32-bit binaries) unless you explicitly request slow debug binaries. If you also add extra cflags to convince the compiler to produce "fast" binaries (they cannot be fast because at that point you already disabled the most important optimizations), you trigger compiler issues tha

[2018-05-29 23:17] frederickding opened #1372 "contrib: libspeex depends on libogg"
### Description of problem or feature request

When compiling the speex module for a mingw build, the build will terminate with an error because libogg has not yet been built/extracted.

I believe the solution is to add an explicit dependency in [contrib/libspeex/module.defs](https://github.com/HandBrake/HandBrake/blob/master/contrib/libspeex/module.defs) to LIBOGG.

### Steps to reproduce the pro

[2018-05-29 23:34] #1372 closed, assigned to bradleysepos

[2018-05-29 23:35] bradleysepos commented on #1372
This did not trigger in my testing, but is fixed now. Thanks for the report! 😸

[2018-05-30 03:39] kbareis opened #1373 "Audio Track Codec Not Saving with Custom Preset"
### Description of problem or feature request
Goal - make my own preset off of Apple 1080p30 that has custom audio configuration. The configuration I am looking or is 5.1 AAC mixdown to Dolby Pro Logic 2 (that works). However AC3 Passthru keeps reverting to AC3 Mixdown to Dolby Pro Logic 2

### Steps to reproduce the problem
Select Apple 1080p30 Surround
Check Web Optimized
Move encoder preset ove

[2018-05-30 03:40] bradleysepos commented on #1373
Sorry for the confusion. You need to select Selection Behavior and make your adjustments there before saving as a new preset.

[2018-05-30 03:43] kbareis commented on #1373
@bradleysepos I have tried that as well. Same behavior. I just went in to Selection Behavior, ensured the audio tracks were correct and then saved it as preset 2. flipped between preset and preset2 and the audio changes did not stick.
![4 - audio selection behavior](https://user-images.githubusercontent.com/8587985/40697841-c4ec4e26-6391-11e8-8353-d15e2b75083e.PNG)

[2018-05-30 03:46] bradleysepos commented on #1373
Hmm, okay. Try selecting the Reload button after selecting your preset. If that doesn't help, our Windows developer will take a look when he has time.

[2018-05-30 04:10] kbareis commented on #1373
The Reload Defaults behavior within the Audio tracks tab reverted the audio to have AC3 mixed down to DPL 2. It appears to only be effecting Windows. I tried with my Mac and Ubuntu and I didn't see the same issue. Attached is a video inside of a .zip file so you can see what is happening in real time.
[IMG_4104.mp4.zip](https://github.com/HandBrake/HandBrake/files/2052360/IMG_4104.mp4.zip)

[2018-05-30 10:41] Infinitay opened #1374 "Can't Encode AVI (600 FPS, Lagarith Lossless) to MP4, Multiple Errors"
### Description of problem or feature request

I can not successfully encode a lossless `avi` into a `mp4`. The first issue that came up was Handbreak throwing an error after the first pass when I selected the following settings: `Avg Bitrate: 100000`, `2-pass Encoding`, and `Turbo first pass`. **The encoding became successful when I stopped checking `2-pass Encoding`.**

Here's the kicker, whenev

[2018-05-30 11:01] bradleysepos commented on #1374
Those error lines are actually not related; they are merely poorly-worded informative messages in one of our upstream libraries indicating the source is not a DVD.

We just dropped some major code on the master branch, so please update your packages and try again. Also assigning our Linux developer to take a look when he has time.

[2018-05-30 12:46] cehoyos commented on #1374
Please provide a sample.

[2018-05-30 15:49] jstebbins commented on #1374
Yes, a short sample would help.  But I think I found the problem...

[code]

Specifically, the duration of a frame at 600fps is 90000 / 600 = 150 ticks and we are dropping frames that have a duration < 256 ticks.  I can pretty easily fix this, but a sample would allow me to test the fix.

[2018-05-30 16:28] #1374 closed, assigned to jstebbins

[2018-05-30 16:29] jstebbins commented on #1374
If it's difficult to supply a sample, you can give the next nightly build a try and please report back.  Should be fixed there.

[2018-05-30 18:07] zjpleau commented on #537
+1 to preserve as srt. I always have to skip importing subtitles to Handbrake encodes and add them in manually later with mkvtoolsnix gui

[2018-05-30 18:25] sr55 commented on #1373
This is the correct and expected behaviour when your source track isn't AC3. (which it isn't in your case) It's correctly switching to your fallback encoder. You don't however have any choice over mixdown, bitrate, samplerate etc. Those are defaults and you have to change manually on a source by source basis.

Choice of defaults will be part of 1.2

[2018-05-30 18:42] kbareis commented on #1373
Here's a list of all the audio streams (via VLC) from the MKV file that I am sourcing from. It does appear that the audio is DTS rather than AC3 for English but not for other languages.

![5 - mkv audio streams](https://user-images.githubusercontent.com/8587985/40740953-bcdd365e-640f-11e8-9dbf-710346ec27df.PNG)

[2018-05-30 19:02] sr55 commented on #1373
Selecting "AC3 passthru" doesn't mean it'll find the first AC3 track and choose it.

It's correctly selecting the First audio track, then switching to the fallback encoder.  Your only options for track selection are "First" or "All" matching selected languages. If you had all selected, you'd get 2 English tracks as AC3, 1 French as Passhtru, 1 Spanish as Passthru

There is no way to say "Select au

[2018-05-30 20:26] Nomis101 opened #1375 "AAC audio track is displays as "LC""
### Description of problem or feature request

In the current nightly build, an AAC audio track is displayed as "LC" in the Audio tab

### Steps to reproduce the problem

1. Open a file that contains an AAC audio track (not HE-AAC) in a current HandBrake nightly.
2. Click the audio tab, the audio track is named e.g. "0: (unknown) (LC) (2.0 ch)". The "LC" should be "AAC".

### HandBrake version (e.

[2018-05-30 20:29] bradleysepos commented on #1375
I’m guessing AAC-LC is being truncated oddly. We’ll take a look.

[2018-05-30 21:30] #1373 closed, assigned to sr55

[2018-05-30 21:59] jstebbins commented on #1375
Yuck!

So, libav didn't return a profile for AAC, so we assigned our own string based on the codec id.  ffmpeg returns a profile of "LC" for FF_PROFILE_AAC_LOW, but then returns "HE-AAC" for FF_PROFILE_AAC_HE.  And for all the DTS profiles it returns "DTS-Blah".  So timetimes it includes the codec name in the profile and sometimes not.

So I'm going to have to do a search for the codec name in the

[2018-05-30 22:02] #1375 closed, assigned to jstebbins, galad87

[2018-05-30 23:50] cehoyos commented on #1375
There is avcodec_get_name() which should allow you to simplify the code...

[2018-05-30 23:54] cehoyos commented on #1375
For profiles that exist in both FFmpeg and avconv like DTS and AAC, the file libavcodec/profiles.c is identical in both projects.

[2018-05-31 16:56] jstebbins commented on #1369
We do not directly maintain the internationalization.  For the linux GUI I completely rely on the transifex project that is run by Victorr2007 https://www.transifex.com/victorr2007/handbrake-110/

I rarely even look at the status of the translations there.  I rely on the people contributing to that project to tell me when they think a translation is good and needs to be updated in our codebase.  I

[2018-05-31 17:11] mrdeathjr28 opened #1377 "Add CPU use limiter"
CPU use limiter could be usefull on certain scenaries

Example: use cpu at 50% - 60% - 70% - 80% - 90%

HandBrake 1.10.

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Xubuntu 18.04 LTS x64.

Thanks

[2018-05-31 17:14] bradleysepos commented on #1377
Have you tried nice/renice? x264 and x265 allow you to set the number of threads to use as well.

[2018-05-31 17:28] #1357 closed, assigned to nobody

[2018-05-31 17:48] sr55 commented on #1377
The operating system has tools for this. It's not something that should be in HandBrake

As Bradley suggested, using nice or setting the cpu affinity for the process is the way to do this.

[2018-05-31 17:48] #1377 closed, assigned to nobody

[2018-05-31 17:53] jstebbins commented on #946
min duration only applies to scanning batches of source video.  I.e. either a DVD, BD, or directory of files.  This has been the way it's always worked in HandBrake.  We can change this of coarse, but this isn't a bug since it works as designed.

[2018-05-31 18:40] LAfricain commented on #1369
Hello,
I modified my title, because the problem is not the string to be internationalized, but to be localized. I translated almost all, you can merge it.
Please just see why some strings are not localized, look the screenshot:
![menu1](https://user-images.githubusercontent.com/19690477/40801246-5da0a7b0-650a-11e8-9a64-42a52e3864ec.png)

[2018-06-01 20:03] bradleysepos commented on #1370
@cehoyos et al.,

The failure at line 588 of `configure` is due to `$var` being equal to `--arch=x86_64` on macOS, which leads to `eval --arch=x86_64=yes`. Not yet sure whether this is a problem with our build system or ffmpeg's.

[2018-06-01 20:18] bradleysepos commented on #1370
Workaround applied in e1dddfebf0976245f6c9295fa5fef07c8a695db9.

[2018-06-01 20:18] #1370 closed, assigned to bradleysepos

[2018-06-01 22:41] frederickding opened #1379 "SSA subtitles in MKV show extra comma (after ffmpeg switch)"
### Description of problem or feature request

In an encode from DVD to Matroska with closed captions being imported as ASS/SSA subtitles, the outputted subtitles will now have an additional comma at the start of each line. Some video players show each line with the extra comma (see screenshot below); others like VLC will only display the very first subtitle line, while hiding the rest probably du

[2018-06-02 09:14] JMY1000 commented on #1156
Indeed appears to be resolved!

[2018-06-02 15:00] schwalabach opened #1381 "No valid source found error"
### Description of problem or feature request

Description here.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

HandBrake version here.

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

OS and version here.

### Error message text or screenshot

Type or paste text and/or drag and drop image.

###

[2018-06-02 15:03] schwalabach opened #1382 "Error: No valid source found"
### Description of problem or feature request

Description here.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

1.1.0

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Mac 10.13.4

### Error message text or screenshot

Type or paste text and/or drag and drop image.

### HandBrake Activity Log ***r

[2018-06-02 15:05] bradleysepos opened #1383 "VP9 encoding broken after switching to FFmpeg."
macOS 10.13.5 and HandBrake current master:

[code]

Unfortunately, encoding continues and all errors are flushed at the end. Colossal waste of time, so only test with short samples or preview/point-to-point.

[2018-06-02 15:08] #1381 closed, assigned to nobody

[2018-06-02 15:10] bradleysepos commented on #1382
Sorry you're having trouble. Some suggestions:

It appears you are running HandBrake 1.0.2 not 1.1.0, so please update to the latest release.

HandBrake does not work with copy protected media. See [About HandBrake](https://handbrake.fr/docs/en/1.1.0/introduction/about.html) for more information that may help.

[2018-06-02 15:52] harveykliman opened #1384 "Progress bar missing in version 1.1.0 (2018040700)"
### Description of problem or feature request

Just updated to 1.1.0 (2018040700). Please put the progress bar back during an encoding session. Thank you.

### Steps to reproduce the problem

Happens during encoding session.

### HandBrake version (e.g., 1.0.0)

1.1.0 (2018040700)

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

macOS

[2018-06-02 15:59] bradleysepos commented on #1384
This is probably a bug related to Yosemite. Assigning our Mac developer to take a look when he has time. 😸

[2018-06-02 16:01] sr55 commented on #1384
Yet another 10.10 quirk it seems. Add's some weight for dropping support for the version in 1.2
Chasing all these quirks in all these older versions is a bit of a time sink and pain.

[2018-06-02 16:06] harveykliman commented on #1384
Hi guys,

First, thank you very much making this product. It is fantastic!

Second, thank you very much for responding so quickly.

Third, just as way of explanation of why I use HandBrake on an older Mac: it is a MacPro that is connected to legacy equipment I need in my lab and now the only Mac I have with a CD reader. If it would be better to use HandBrake on my more up to date Macs running 10.1

[2018-06-02 16:13] bradleysepos commented on #1384
Thanks for the kind words.

While we do test HandBrake on a variety of hardware and operating systems, it can be difficult to spot issues on older systems that receive limited testing since we do not use them daily. Sadly, a number of interface issues have cropped up with this particular HandBrake release on older macOS versions.

As Scott mentioned, we plan to drop support for older macOS version

[2018-06-02 16:45] sr55 commented on #1384
While no longer supported, you might also consider 1.0.7 as it may have less issues with UI quirks. Assuming there isn't anything in 1.1.0 you want.

Either way, I'll leave open for @galad87 to decide / check if it's easily resolvable for 1.1.1

[2018-06-02 17:01] jstebbins commented on #1383
VPX has the same damn problem as opus.  From the ffmpeg config.log

(.text+0x2640): undefined reference to `pthread_once'

From vpx.pc

Libs.private: -lm -lpthread

The problem is that 'pkg-config --libs vpx' will return only the libs listed in the 'Libs:' line of the pc file.  'Libs.private' are only listed when using 'pkg-config --static --libs vpx'.  But ffmpeg doesn't know that it's building w

[2018-06-02 17:02] harveykliman commented on #1384
Thanks for the suggestion. How do I get 1.0.7 now?

Harvey Kliman
161 Ford Road
Woodbridge, CT  06525

harveykliman@mac.com

iPhone: 203-980-6680

[2018-06-02 17:03] sr55 commented on #1384
https://handbrake.fr/old.php

[2018-06-02 17:05] harveykliman commented on #1384
Thank you.

Thanks for the great product you make,

Harvey

Harvey Kliman
161 Ford Road
Woodbridge, CT  06525

harveykliman@mac.com

iPhone: 203-980-6680

[2018-06-02 17:16] bradleysepos commented on #1383
I can't say anything nice about Xiph, so I won't say anything at all. 😆

[2018-06-02 17:31] jstebbins commented on #1383
I'm working on a PR for it...

[2018-06-02 17:32] bradleysepos commented on #1383
Thanks, sir.

[2018-06-02 18:53] harveykliman commented on #1384
Finally resolution:

Went back to 1.0.7 on my older MacPro. Works perfectly.

Your new interface is a nice improvement, but I’ll have to forgo that for functionality and just stay with the 1.0.7 version.

Thanks for your help,

Harvey

Harvey J. Kliman, MD, PhD
Yale University School of Medicine
Kliman Laboratories
Reproductive and Placental Research Unit
Department of Obstetrics, Gynecology and R

[2018-06-02 23:50] Infinitay commented on #1374
I tried the new nightly build (had to use CLI because GUI was not up-to-date with master), and now it does render out the video, but now there's a couple new issues.

- The time changes: It went from 2 seconds to 0
- The framerate it was originally at (600) changed to (631.59)
- No audio (not much of a problem in my case since I will be removing it anyways)
- Not sure if it's because of my preset

[2018-06-03 02:36] JMY1000 commented on #881
@menaceone Should be fixed then; #974 is closed with the switch to ffmpeg completed.

[2018-06-03 03:08] bradleysepos commented on #881
Yes, please try the latest nightly build to verify DNxHR support. Will leave this open pending feedback.

[2018-06-03 03:16] woodstockathbf commented on #1384
Also, if that is the only machine with an optical drive in it, you MIGHT consider a work flow where handbrake isn't being asked to do the ripping - a tool like MakeMKV has a "lighter footprint".

This assumes the Mac is on a network where you can transfer the resultant MKV files to another machine for processing...

[2018-06-03 04:24] bradleysepos commented on #1351
Please test my `contrib-x264` branch and let us know whether the segfaulting is resolved.

[2018-06-03 18:33] menaceone commented on #881
Hey Guys,
awesome work with that ffmpeg replacement.
I did some tests.

I was able to open all sorts of DNxHR and Cineform files.
Cineform works like a charm.

Unfortunately HandBrake didn't recognize any audio tracks in the .mxf containers of the DNxHR files.
"MediaInfo" shows the correct audio tracks in the .mxf containers, therefore I assume the source files are correct.

**OS:** Windows
**Sour

[2018-06-03 18:36] bradleysepos commented on #881
Thanks much for testing this and providing the comprehensive feedback.

Any chance you can provide a small sample MXF for troubleshooting the missing audio issue?

[2018-06-03 18:52] sr55 commented on #881
Want to post a log for those audio issues?

Also, I do wonder if the multi-track audio weirdness is also resolved or if it's still many mono tracks.

[2018-06-03 19:09] cehoyos commented on #881
What does "ffmpeg -i input" show for one of the mxf files?

[2018-06-03 19:14] cehoyos commented on #1383
I believe that pkg-config is a problem by itself and that it was a huge mistake to default to pkg-config for many external libraries in FFmpeg but I believe your pkg-config incantation is missing an option to provide the static dependencies needed.

[2018-06-03 19:26] cehoyos commented on #1370
How does the actual configure command look before and after your change?
If you don't do a cross compilation, --arch should not be provided.

--enable-lzma is the default.

[2018-06-03 19:38] menaceone commented on #881
@bradleysepos
here is a .mxf sample. For file size reasons it is a short 1080p, DNxHR LB 8bit file (~10MB)
[link](https://williamscloud.de/s/eNzWNMmRiqKSKZ5)

@sr55
In Adobe Media Encoder (AME) you can set the audio option `separate mono tracks`.
It's disabled by default. I tested files with this option enabled and disabled, there was no difference in track recognition in Handbrake.

you mean the

[2018-06-03 19:40] bradleysepos commented on #881
@jstebbins Do you have time to look at this? Sample in previous post.

[2018-06-03 19:43] bradleysepos commented on #1370
@cehoyos Previously we were cross-compiling on Mac. See https://github.com/HandBrake/HandBrake/commit/f4a70b7ba18f7c2583947d8f699cb40b235eef2e

Perhaps that should be reverted? Seems odd we should need to cross compile on Mac, for Mac.

[2018-06-03 20:25] cehoyos commented on #1370
I believe cross-compilation has no advantages.

Could you post the actual FFmpeg configure line before and after your work-around?

[2018-06-03 20:40] bradleysepos commented on #1370
Yes, sorry for the delay, I was building something at the time.

[code]

[2018-06-03 20:48] bradleysepos commented on #1370
Note the same issue occurs without `-arch x86_64` in `--extra-cflags` and `--extra-ldflags`.

[2018-06-03 21:15] jstebbins commented on #1383
@cehoyos we aren't calling pkg-config.  HandBrake in general doesn't use it.  The problem we are having is that ffmpeg doesn't build with vpx_vp9 encoder enabled even though we specified --enable-encoder=libvpx_vp9 on the configure line.  This is because it fails to link the test code it runs to verify the presence of the library.  The link fails because pkg-config (which ffmpeg configure calls) d

[2018-06-03 21:19] jstebbins commented on #881
I'm about out of time today, and next week I need to focus on some real job issues.  Not sure how much time I'll have, but there's a good chance I can do some digging in the evenings.

[2018-06-03 21:19] #1383 closed, assigned to jstebbins

[2018-06-03 21:27] jstebbins commented on #1370
@cehoyos a question about ffmpeg configure defaults.  configure help says lzma is autodetected.  Is autodetection different than enabled?  I.e. will configure fail if I --enable-lzma or does it silently decide not to include lzma if it can't find the lib?  I ask because something similar is happening with vpx_vp9.  Although we explicitly ask for --enable-encoder=libvpx_vp9, configure will just dro

[2018-06-03 21:29] bradleysepos commented on #1370
Related, I'm hoping to add detection of such dependencies to our own configure soon, so we should fail earlier, before our build phase. Yours is still a relevant question.

[2018-06-03 21:49] cehoyos commented on #1383
FFmpeg's configure calls pkg-config and you can provide pkg-config options to FFmpeg's configure with "--pkg-config-flags". There is a pkg-config option that lets it output the static dependencies.
(As said, I believe this is broken-by-design but the maintainers who shared my opinion have left FFmpeg.)

[2018-06-03 21:52] cehoyos commented on #1370
It did not fail in the past if --enable was provided for an auto-detected feature but this was changed for at least some dependencies, I just verified that --enable-lzma fails if lzma is not present.
I suggest you decide which way to go and do the same thing for lzma, zlib and bzlib. If you try to detect it earlier, you can safely remove all three from FFmpeg's configure to make debugging easier.

[2018-06-03 21:56] cehoyos commented on #1370
Has anybody ever benchmarked "-mfpmath=sse -msse2" for FFmpeg? Does it have any measurable effect?
I wonder if the shell variables are related to the issue: Afaik, they should not be needed and since FFmpeg's configure script is not auto-conf based, they should not be passed if possible. I don't believe passing useful values to configure like this is ever tested.
Iirc, FFmpeg's configure knows a -

[2018-06-03 22:07] bradleysepos commented on #1370
Already removed `--enable-bzlib` and `--enable-zlib`, so we can remove `--enable-lzma` and later add our own configure check for it.

`-mfpmath=sse -msse2` is needed for intrinsics in `libhb`. I can probably move it to that module. It never adversely affected anything to my knowledge, but no serious benchmarks of other libraries before/after have been performed.

[2018-06-03 22:33] Infinitay opened #1387 "Can't encode 600 FPS (Lagarith Lossless) to MP4 (#1374 cont.)"
### Description of problem or feature request
Continuation of #1374
I tried the new nightly build (had to use CLI because GUI was not up-to-date with master), and now it does render out the video, but now there's a couple new issues.

- The time changes: It went from 2 seconds to 0
- The framerate it was originally at (600) changed to (631.59)
- No audio (not much of a problem in my case since I w

[2018-06-03 22:38] bradleysepos commented on #1370
https://github.com/HandBrake/HandBrake/commit/70f7a66cefacc15977ac18e413af7117980a4a29

[2018-06-03 22:43] bradleysepos commented on #1387
Is there a reason you opened a new issue?

[2018-06-03 23:13] Infinitay commented on #1387
I assumed since the other one was closed you weren't getting replies, my mistake.

[2018-06-03 23:23] bradleysepos commented on #1387
Ah, no problem at all. I missed the fact that it was closed by a commit. We can reopen issues, for future reference.

[2018-06-04 02:49] jstebbins commented on #1383
That would "solve" the immediate problem.  But the pc files for both opus and vpx are still broken.  They *only* work as expected if shared libraries are built for the respective libraries.  If only a static lib is built  (or only the static lib is installed in some other way e.g. from a distros repo), a program attempting to link either opus or vpx doesn't necessarily know this (i.e. it doesn't k

[2018-06-04 16:17] cehoyos commented on #1383
I of course agree they are "broken" but that is not the general opinion, at least the pkg-config fans explained this is how it works last time this came up as an FFmpeg bug report.

[2018-06-04 18:08] jstebbins commented on #1387
Hopefully that last commit fixes your issues.  Please test the next nightly build and let us know.

[2018-06-04 18:40] jstebbins commented on #1383
Ah, ok.  We seem to be in agreement then over the root of the problem.

I'm curious who you are referring to when you say "that is not the general opinion".  In researching this problem, I've run across a number of commit logs that add library dependencies to Libs instead of Libs.private when building only a static library.  And the conversations I've found on the topic agree with that interpretat

[2018-06-04 18:59] cehoyos commented on #1383
Sorry, I may misremember, after all I never succeeded using pkg-config to fix any issue.

[2018-06-04 20:17] amaurysun opened #1388 "App crash when adding .AVI files"
### Description of problem or feature request

The application crashes and forces to close program when trying to add .avi files as source.

### Steps to reproduce the problem

Handbrake is started using Shortcut, "Single file" option used, after selecting file and click OK the application crashes. Also, not working when using "Batch"

### HandBrake version (e.g., 1.0.0)

HandBrake 1.1.0

### Oper

[2018-06-05 00:00] binarykitchen opened #1389 "Crashes in VOB -> MKV conversion on Mac OS"
Using your latest version 1.1.0 on latest Mac OS, handbrake crashes when converting a 100MB large VOB file to MKV.

An Apple crash report opens up with these details
https://gist.github.com/binarykitchen/a127cb11e17cc95106783940d8cb9d48

You can see it's a segfault.

[2018-06-05 00:56] woodstockathbf commented on #1389
Do you have the handbrake activity log from the attempted conversion, which would show information on settings used, what the tracks within the VOB were, etc?

The crash log is nice to have, but, in a vacuum, it's hard to know where to look for the issue.

[2018-06-05 01:29] bradleysepos commented on #1389
The crash appears to be in decomb, but yes we will need the [Activity Log](https://handbrake.fr/docs/en/1.1.0/help/activity-log.html).

Please note that it is better to open a disc structure (VIDEO_TS) than VOB files directly. Also, HandBrake does not work with copy protected sources.

[2018-06-05 01:48] Hydrad commented on #1142
I have a dual Xeon 6146, with 12 cores each.  I was converting several 12 GB files using X265 10bit in Handbrake Ver 1.1.0.  A single instance of Handbrake seemed to be trying to use all 24 cores.  When I limited the affinity to just 6 cores, the CPU utilization went up from 7 to 11 percent.  All 6 active cores were running between 85 and 100%.  I then started 3 instances of Handbrake, and let the

[2018-06-05 02:27] binarykitchen commented on #1389
here an activity log

[your baby can read volume 3 2018-06-05 14-25-12.txt](https://github.com/HandBrake/HandBrake/files/2070597/your.baby.can.read.volume.3.2018-06-05.14-25-12.txt)

[2018-06-05 12:17] joshrabinowitz opened #1390 "Build fails on OS X downloading yasm 1.3.0"
### Description of problem or feature request

Build using ```scripts/mac-toolchain-build ~/handbrake```  fails on OS X downloading yasm 1.3.0

### Steps to reproduce the problem

* Checkout repo
* run scripts/mac-toolchain-build ~/handbrake

### HandBrake version (e.g., 1.0.0)

Commit 115725538ac2244a03ba0678e2669e0e354a3efc , master branch

### Operating system and version (e.g., Ubuntu 16.04 LT

[2018-06-05 12:27] galad87 commented on #1085
Muxing added in 115725538ac2244a03ba0678e2669e0e354a3efc
FFmpeg encoder doesn't seems to support 7.1

[2018-06-05 13:32] Nomis101 commented on #1085
Thanks for fixing this. I can now encode E-AC3 up to 5.1, 7.1 is down mixed to 5.1.
As a workaround I encoded the 7.1 stream as AAC using ffmpeg (copy video stream) and than transcoded it in HandBrake using AAC Passthru. This plays on my AppleTV 4k. Would it be possible to allow 7.1 AAC muxing in HandBrake directly, now with the benefit of ffmpeg?

[2018-06-05 16:47] galad87 commented on #1085
I wonder why 7.1 is disabled in the Core Audio AAC encoder, does anyone remember the reason?

[2018-06-05 17:16] bradleysepos commented on #1085
Looks like it wasn't enabled in https://github.com/HandBrake/HandBrake/commit/93117add4ed41f9f87d1da16ca339b2efad6767d

[2018-06-05 17:25] bradleysepos commented on #1390
Yes, appears to be an upstream certificate issue. In the meantime, you can configure HandBrake with `--enable-local-yasm` but this is going away very soon, see #1378.

[2018-06-05 17:28] bradleysepos commented on #1390
You can also build yasm yourself according to the commands in `mac-toolchain-build`. Verify your download (`shasum -a 256 yasm-1.3.0.tar.gz`) with the hash here: https://github.com/HandBrake/HandBrake/blob/115725538ac2244a03ba0678e2669e0e354a3efc/contrib/yasm/module.defs#L6

I hope to get hash verification into `mac-toolchain-build` when I have time.

[2018-06-05 17:33] Nomis101 commented on #1085
I enabled 7.1 AAC for my own build. Playback works nicely on macOS 10.13 and tvOS.

[2018-06-05 22:58] Infinitay commented on #1387
Ran the same commands and same files on the 0b97042 nightly build, and everything works just fine now!

The only hiccup I ran into was when trying to render out the `Cinematic Dub Peak Shotgun 2 - Custom Preset.mp4` using the custom preset `\Custom Preset.json` (in Google Drive). It froze halfway through the process, I pressed CTRL+C to stop it, tried it again and it worked without a problem.

Tha

[2018-06-06 10:39] #1318 closed, assigned to galad87

[2018-06-06 10:47] joshrabinowitz commented on #1390
Maybe it makes sense to download the tarball from  https://github.com/yasm/yasm/archive/v1.3.0.tar.gz instead as mentioned at https://github.com/yasm/yasm/issues/106

[2018-06-06 19:50] bradleysepos commented on #1351
@ilovezfs Will appreciate you testing to verify the fix when you have time, thanks.

[2018-06-07 00:57] PokeCaptain opened #1392 "Feature Request: Support Dark Mode in MacOS 10.14 Mojave"
### Describe the change or feature you'd like to see added to HandBrake:

Pretty much the title. Apple has introduced the Dark Mode that users have been waiting for for years. Unfortunately, and expectedly, this requires developers to manually support in their apps. Apple provides some guidance [here](https://developer.apple.com/documentation/appkit/supporting_dark_mode_in_your_interface).

Unders

[2018-06-07 05:00] PeterJohnson commented on #1390
Fixed upstream.

[2018-06-07 05:35] bradleysepos commented on #1390
Thanks @PeterJohnson. 😸

[2018-06-07 05:35] #1390 closed, assigned to bradleysepos

[2018-06-07 06:07] BobStein opened #1393 "Persist the default subtitle and audio track settings"
### Describe the change or feature you'd like to see added to HandBrake:

Each time I restart Handbrake I have to enter in the default settings for subtitles and audio tracks. It would be better if those were remembered (say in the registry) from the last time I shut down. (It would also be better if those settings were less confusing.)

### What version of HandBrake are you currently using? (e.g.

[2018-06-07 07:42] StreamProjectsPeter opened #1394 "Windows export file capitalisation issues"
Hi,
My archive uses a naming format X00Y00Z00v.mp4
Recentlly Windows HB keeps renaming exports too:

X00y00z00v.mp4
Only allowing an initial cap letter
MAC version doesn't change the caps
Not sure is this was an intended feature but causes a lot of renames here as the system is cap sensitive.

P

[2018-06-07 11:39] RicardoDaVinci opened #1395 "Add merge files function"
I am, as many others, capturing videos on my SmartPhone. When Gathering them together in the computer there would be nice to select a couple of files captured at same place, and merge them into one single output file directly with HandBrake. The only option today is to go via a video editor.

Input:
001.MP4  23 sec
002.MP4  37 sec
003.MP4  1 min 12 sec

Output
Birthday.MP4  2 min 12 sec

[2018-06-07 12:31] PokeCaptain commented on #1393
Might not help your issue, but you should update to 1.1.0.

[2018-06-07 14:26] woodstockathbf commented on #1395
There is already a free, multi-platform tool that does what you're asking for - ffmpeg. I use it to combine 1 minute video files from a Garmin camera into a continuous file.

[2018-06-07 14:28] woodstockathbf commented on #1394
Tools->Preferences, Output Files, uncheck "Change case to Title Case".

[2018-06-07 14:30] woodstockathbf commented on #1393
Save them as part of a preset and make that preset your default.

[2018-06-07 18:02] sr55 commented on #1394
Took the words out my mouth :)

[2018-06-07 18:02] #1394 closed, assigned to nobody

[2018-06-07 18:03] sr55 commented on #1393
Spot on.  It's all integrated into the preset system.
https://handbrake.fr/docs/en/1.1.0/advanced/audio-subtitle-defaults.html

https://handbrake.fr/docs/en/1.1.0/advanced/custom-presets.html

[2018-06-07 18:03] #1393 closed, assigned to nobody

[2018-06-07 18:04] sr55 commented on #1392
No arguments here :)

[2018-06-07 18:05] sr55 commented on #1395
Sorry, this is beyond our scope.

We are trying to avoid becoming the swiss army knive style tool and this is one of those things that doesn't fit well with the flow built into the app.

There are various tools that can do this as a pre-step. Some of them command line based so could easily be scripted for automation.

[2018-06-07 18:05] #1395 closed, assigned to nobody

[2018-06-07 18:06] sr55 commented on #1388
Can you try a nightly build for me: https://handbrake.fr/nightly.php

Failing that, any chance of a short sample file that reproduces the problem?

[2018-06-07 18:07] galad87 commented on #1392
There is not much to do. All you have to do is to recompile it with Xcode 10
It would be better to create a separate white toolbar icons set.

[2018-06-07 18:08] sr55 commented on #1389
Is it safe to assume that turning off decomb / interlace detection prevents the segfault?
Are you able to share a short sample file that reproduces?

[2018-06-07 18:08] sr55 commented on #1392
hmm, I was hoping it'd "invert" like the windows colour scheme system does but whatever.

I suspect we'll probably want to revamp the icons at some point anyway so maybe find something that works for both.

[2018-06-07 18:10] galad87 commented on #1392
Yes it does (I set the icons to be template icons), but the queue icons with the badge can't get the style right because we draw it manually, and our icons are not full black so they don't look too good.

[2018-06-07 18:11] bradleysepos commented on #1392
I haven't installed Mojave yet. What does HandBrake look like with the dark theme following your recent updates, @galad87?

[2018-06-07 18:12] bradleysepos commented on #1392
Oops, cross post. I can whip up some white icons maybe next week.

[2018-06-07 18:18] galad87 commented on #1392
![screen shot 2018-06-07 at 20 17 18](https://user-images.githubusercontent.com/4305519/41118307-d7e3e3d6-6a8f-11e8-901f-21194e7454c6.png)

(In a VM, I think it looks a bit better when run directly)

[2018-06-07 18:23] bradleysepos commented on #1392
Thanks. The inversion is a bit harsh, so I'll try to address that. Plenty of room for improvement, even the Start/Pause buttons need help around the edges. So I'll try to make some time to create dark theme versions of the existing icons as a stopgap for Mojave.

_If someone else wants to contribute an actual redesign for both themes that will be welcome!_

[2018-06-07 18:30] BobStein commented on #1393
Thanks @sr55 .  Be nice if the instructions you linked to were a little more up to date.

E.g. Looks as if the “Configure Defaults” button was renamed to "Selection Behavior".

E.g. the "Save New Preset" button is how you get to the "Add Preset" window. I'm guessing there is no longer a preset pane (with an Add button). Oh wait, it's still there, I see there are two ways to get to the Add Preset w

[2018-06-07 20:55] bradleysepos commented on #1392
I quickly threw together a single icon in 6039235. If that looks a bit better, can do the others when I have time. I might need to special case the Activity and Preview icons if they're still too "in your face".

[2018-06-07 21:46] binarykitchen commented on #1389
sorry, i dont have the dvd nor files anymore

[2018-06-07 22:33] jstebbins commented on #435
FYI, I've been working on this over the last few days.  It's all working to my satisfaction now.  It'll take a bit more time to get our build server set up to build flatpaks, but once that's done we'll be posting them to the nightly builds.

Anyone interested in building their own flatpaks can follow the instructions here (start at "Install dependencies"):
https://handbrake.fr/docs/en/latest/devel

[2018-06-07 23:45] fireattack opened #1396 "Variable framerate material is not corrected reported so with MKV container"
### Description of the problem

When encoding a VFR material, the final result MKV file has wrong metadata about its frame rate.

### Steps to reproduce the problem

Encode any VFR material with:
* `Video - frame rate`:  same as source, variable framerate
* `format`: MKV

Investigate the meta tag of the file with MediaInfo or similar. This is from MKV:

[code]

This is from MP4:

[code]

I should

[2018-06-08 05:29] ilovezfs commented on #1351
@bradleysepos fix works! Note I had to change contrib/libopus/module.defs to tell it to bootstrap with autoreconf otherwise libopus failed to build looking for aclocal-1.15 (since I have aclocal-1.16).

[2018-06-08 05:31] ilovezfs commented on #1351
libopus failure log https://gist.github.com/ilovezfs/3fa0e1de4fda7925ec5e3b2f5f7f9b69

[2018-06-08 06:35] frederickding commented on #1396
I see the same in my encodes, but I don't think it's a bug. I don't think Matroska as a container records information about the frame rates other than the default duration of a frame (e.g. instructing the video player to assume each frame is 1/23.976 unless specified otherwise) -- https://matroska.org/technical/specs/index.html . See also https://video.stackexchange.com/questions/18403/matroska-fo

[2018-06-08 06:39] fireattack commented on #1396
I agree MediaInfo may not be a reliable way to tell, but interestingly if you just remux MP4 produced by HandBrake, with MKVToolnix, it will report

[code]
correctly.

So, at least MKV can store such information in away that Mediainfo can understand.

[2018-06-08 06:48] frederickding commented on #1396
See a detailed explanation from MKVToolnix's developers at https://gitlab.com/mbunkus/mkvtoolnix/wikis/Wrong-frame-rate-displayed . When you remux from another container to MKV (assuming you are not altering the frame rate as is possible when remuxing), the metadata about the average frame rate is coming from the pre-remux stream. See linked source ("MediaInfo also provides an 'original frame rate

[2018-06-08 06:53] fireattack commented on #1396
That makes perfect sense. Thanks for your detailed explanation and time.

On a side note, do you think the missing of bitrate info in (HB produced) MKV is due to the same reason?

[2018-06-08 06:59] frederickding commented on #1396
I noticed the same absence of bitrate info as a user -- this is also explained by the MKVToolnix devs, who know a _lot_ more about Matroska than I do. https://gitlab.com/mbunkus/mkvtoolnix/wikis/Meta-data-fields-like-bitrate-lost ("The Matroska file format does not offer header fields for such pieces of information."). By contrast, when you use a tool like ffmpeg or MKVToolnix to remux, it will _c

[2018-06-08 07:04] fireattack commented on #1396
Thanks again (also, feel free to close this issue if developers think nothing need to change).

[2018-06-08 07:50] nedrichards commented on #435
@jstebbins this is awesome! I built it locally to test and have a few comments.

1. There isn't an [OARS policy](https://hughsie.github.io/oars/) in the appdata (which is a flathub requirement). It takes a few seconds to add, I'll send a PR later.
2. I needed to add --device=all on the CLI in order to detect a DVD. You should probably add that permission more generally - or is this not added becau

[2018-06-08 12:06] StreamProjectsPeter commented on #1394
Appologies all, thank you WTFM

[2018-06-08 15:25] #1351 closed, assigned to bradleysepos

[2018-06-08 15:27] bradleysepos commented on #1351
@ilovezfs If you don't mind, please open a new issue for the libopus issue. I'm not really sure what's going on there.

[2018-06-08 15:45] jstebbins commented on #435
I left out --device=all intentionally.  We do not recommend encoding directly from DVD or BD because HandBrake is not a ripper (See "What HandBrake does not do" https://handbrake.fr/docs/en/latest/introduction/about.html).  As you noted, we do not ship libdvdcss with HandBrake.  And even when you add it yourself, there are still several types of disc protection that the studios use that HandBrake

[2018-06-08 15:49] bradleysepos commented on #435
While I don't disagree that encoding from SSD/HDD instead of disc is preferable, I'm not feeling as comfortable with the idea of shipping a HandBrake version with differing functionality of this kind. Missing the ability to access discs entirely can also mean modern formats (MP4, MKV, etc.) stored on optical media. I hope this exclusion does not also apply to other external storage devices such as

[2018-06-08 16:08] nedrichards commented on #435
@jstebbins Yes, that example manifest would work perfectly (the one I did earlier just had the dependencies on the local filesystem which wouldn't work) aside from reading 'upside down' compared to most other manifests there's nothing actually wrong with it ;-)

And yes, I was assuming a future libdvdcss extension that doesn't exist. If such a thing is created I'm sure that those parties would ope

[2018-06-08 16:30] jstebbins commented on #435
@bradleysepos the permissions can be added to the 'flatpak run' command line.  So anyone that doesn't like our default permissions can override them.

@bradleysepos and @nedrichards I had assumed that the gtk filechooser would provide access to removable media filesystems that get mounted under /run/media/$(USER) via the flatpak portals as nedrichards mentions.  But I just had a look and it is not

[2018-06-08 16:34] ilovezfs opened #1398 "libopus fails to build"
### Description of the problem

Regressed by https://github.com/HandBrake/HandBrake/pull/1380.

`configure.ac` is modified but https://github.com/HandBrake/HandBrake/blob/b8c1375e6b71974ec00206905a30ee7d88a61065/contrib/libopus/module.defs does not run autoreconf

### Steps to reproduce the problem

Try to build libopus

### HandBrake version (e.g., 1.0.0)

1193b1119788ea4db1d62b094287d13b6a9a9f6c

[2018-06-08 16:34] ilovezfs commented on #1351
@bradleysepos Voilà https://github.com/HandBrake/HandBrake/issues/1398

[2018-06-08 16:34] Creteil opened #1399 "Auto naming: Add Label "Filename""
Please, add label « {filename} » in Preferences -> General -> « Auto-Name Template »

When I open a DVD ISO image to encode with HandBrake, by default, « Save as : » with label set to « {source} », output « the volume ID of DVD ».

Can you add a new label « {filename} » ?

Like that, when I open « Mad Max - Fury Road.iso », with label set to « {filename} », I can have « Save as : » output « Mad Ma

[2018-06-08 16:45] nedrichards commented on #435
I... don't. That sounds like an issue for https://github.com/flatpak/xdg-desktop-portal/issues (which is the common part underlying the GTK implementation)

[2018-06-08 16:47] ilovezfs commented on #1398
PR with a fix https://github.com/HandBrake/HandBrake/pull/1400

[2018-06-08 16:54] jstebbins commented on #435
I think I found it.  You have to use a **GtkFileChooserNative** in order to get to the portal.  GtkFileChooserNative is substantially less flexible than the standard GtkFileChooserDialog (e.g. you can't add extra widgets to it).  So to use it I would have to substantially rework source selection.  I'll add it to my todo list, but I think for now the solution is going to have to be adding --filesys

[2018-06-08 17:01] ilovezfs opened #1401 "libvpx fails to build"
### Description of the problem

[code]
and more

### Steps to reproduce the problem

Try to build libvpx

### HandBrake version (e.g., 1.0.0)

1193b1119788ea4db1d62b094287d13b6a9a9f6c

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10

macOS 10.11
skylake

### Error message text or screenshot

[code]

[2018-06-08 17:06] ilovezfs commented on #1401
See
https://github.com/Homebrew/homebrew-core/blob/master/Formula/libvpx.rb#L36-L37
https://bugs.chromium.org/p/webm/issues/detail?id=1475
https://trac.macports.org/ticket/55800

[2018-06-08 17:21] nedrichards commented on #435
Sure, makes sense.

[2018-06-08 19:14] #1396 closed, assigned to nobody

[2018-06-08 20:03] Nomis101 opened #1402 "Argument is not a literal string."
### Description of the problem

Thanks for adding Base localization for macOS! While generating a corresponding German.lproj according to the Apple Developer page, I spotted this messages:

Bad entry in file ./HBSummaryViewController.m (line = 258): Argument is not a literal string.
Bad entry in file ./HBSummaryViewController.m (line = 259): Argument is not a literal string.
Bad entry in file ./HB

[2018-06-08 20:08] Nomis101 opened #1403 "Don't add AMD VCE to drop down on OS other than Windows"
### Description of the problem

On macOS in the current build I can choose in the video drop down menu the AMD VCE profiles. But the encoding fails, because AMD VCE is not build on macOS.

### HandBrake version (e.g., 1.0.0)

Current master

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

macOS 10.13

### Error message text or screensh

[2018-06-08 20:17] bradleysepos commented on #1403
Hmm... did you build with `--enable-vce` or stock?

[2018-06-08 20:35] #1403 closed, assigned to bradleysepos

[2018-06-08 20:35] bradleysepos commented on #1403
Should be fixed, thanks.

[2018-06-08 20:56] Nomis101 opened #1404 "[macOS] If Base.lproj is localized, some text is clipped in the GUI"
### Description of the problem
Thanks to Base.lproj it is now possible to build localized HandBrake builds on macOS. So I added my prepared German.lproj. But some of the localized strings are longer than the English corresponded, so the text is clipping.

![examp1](https://user-images.githubusercontent.com/13453351/41180545-d7cae1d0-6b6e-11e8-96e9-fbea81f04ced.jpg)
![examp2](https://user-images.gi

[2018-06-09 08:11] galad87 commented on #1404
The auto layout constrains need to be fixed (or added where missing).

[2018-06-09 10:11] galad87 commented on #1404
Alignment should be fixed in the main window after 1cc73e44f30cacfd798fac8aac393baaaea2388a and e41902b9fffe3512b480483beece7bd31e02d86b .

[2018-06-09 10:54] sr55 commented on #1382
Since we've not heard back, I'll close this out now.

This does just look like copy protection.

[2018-06-09 10:54] #1382 closed, assigned to nobody

[2018-06-09 10:55] sr55 commented on #1315
Just following up on this.

Also, it's probably worth now trying a nightly build given we moved to ffmpeg recently.

[2018-06-09 10:58] sr55 commented on #1245
I'm not sure if this will make any difference, but we did just switch to ffmpeg, so on the off chance this was a decode bug, give that a shot.

Failing that, I'll close this off in a couple of days unless more information comes to light in which case we can re-open.  Unfortunately not much else we can do unless yourself or someone can consistently figure out how to reproduce this :(

[2018-06-09 11:07] sr55 commented on #1166
This thread has become a bit unmanageable now so I'm going to close it out.

If anyone, running Windows 10, and running either drivers:

- 15.60.2.4901  (Upgrade to the next one if you are)
- 24.20.100.6136

and can re-produce this, please raise a new ticket including full activity log.

Unfortunately, if your running Windows 8.1 or earlier, these platforms do not appear to be receiving driver upd

[2018-06-09 11:07] #1166 closed, assigned to nobody

[2018-06-09 11:08] Nomis101 commented on #1404
Thank you! Looks much better now. The only text which is still clipping is id="6tI-Qz-3bJ" in the Video.xib, "Average Bitrate (kbps):".
And I am unable to align the width of this cropped text in the subtitles part. I can adjust some of the boxes, but not this three with the cropped text.
![subtit](https://user-images.githubusercontent.com/13453351/41190847-17a96d9a-6be6-11e8-94eb-ee5d66fc6a76.jpg)

[2018-06-09 11:13] sr55 commented on #1161
Growl Dropped in c762b2c0ec5b6fb58d1fd453e2b5aed526c6d693

[2018-06-09 11:13] bouscram commented on #982
Hi again. I have been doing some tests with macXvideo (which is mainly a GUI launching ffmpeg with the appropriate options), and DVB subtitles are perfectly handled.
The filter chain generated by the interface is rather simple (even for a newbie like me):
`[0:0]null[VA];[0:5]scale=1920:1080[sub1];[VA][sub1]overlay=main_w/2-overlay_w/2:main_h-overlay_h[VIDEO]`
I guess adding the option in HB should

[2018-06-09 11:13] sr55 commented on #1160
Completed in c762b2c0ec5b6fb58d1fd453e2b5aed526c6d693

[2018-06-09 11:13] #1160 closed, assigned to nobody

[2018-06-09 11:15] sr55 commented on #982
Have you tried it to see if it works?  In theory, if ffmpeg supports it, HandBrake does.

If not, can you provide a log?

[2018-06-09 11:16] wazerstar commented on #1379
Yes this completely breaks VLC subtitles that where imported with handbrake nightly version 20180603-b8c1375 too, MPC-BE can handle this error and will show the subs with , in front.

[2018-06-09 11:22] bouscram commented on #982
How can I try? Using the additional options in the video tab? With the CLI version?

[2018-06-09 11:24] sr55 commented on #982
If they are supported, the subtitle track will appear in the GUI like any other subtle track. Select it for output and you should be good.

[2018-06-09 11:31] bouscram commented on #982
No, they don't appear in the GUI (if I look at the activity log, I see the subtitle tracks are seen as "other":
[20:24:22] Found the following PIDS
[20:24:22]     Video PIDS :
[20:24:22]       0x140 type H.264 (0x1b) (PCR)
[20:24:22]     Audio PIDS :
[20:24:22]       0x14a type E-AC3 (0x87)
[20:24:22]       0x14b type E-AC3 (0x87)
[20:24:22]       0x14c type E-AC3 (0x87)
[20:24:22]       0x14d typ

[2018-06-09 11:32] sr55 commented on #982
Can you upload a sample file to take a look at please?

[2018-06-09 11:38] bouscram commented on #982
Here it is (from an EyeTV capture, which is almost my only source)
[0000000020cbf2f0.mpg.zip](https://github.com/HandBrake/HandBrake/files/2086921/0000000020cbf2f0.mpg.zip)

[2018-06-09 11:52] galad87 commented on #1402
Fixed in 50cd33ab39061d686831d6bcf5d99c7352f8e857

[2018-06-09 11:52] #1402 closed, assigned to galad87

[2018-06-09 14:55] Rootax opened #1406 "SSA:ASS subtitles are not being burned in anymore"
### Description of the problem

SSA / ASS sub are not burned in anymore when I tick the case to

### HandBrake version (e.g., 1.0.0)

Since a few nighlties back, but I can't pin point it. I know it's still working ok with the 20180501 version.

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10 1803 x64

See the log attached. A

[2018-06-09 16:00] jstebbins commented on #982
Subtitles are not automatically supported just because "ffmpeg supports them".  HandBrake doen't (yet) have an "autopassthru" option for subtitles.

It's kind of a difficult thing to do properly.  With audio, when passthru is not possible, we can convert to a universal intermediate format (raw PCM samples) and re-encode to a format compatible with the container.  We can't do the same with subtitle

[2018-06-09 16:26] bouscram commented on #982
In fact, regarding DVB subtitles, I would be more than happy to be able just to burn them in (and in this case there is no problem problem with the container format). Otherwise you are totally right, the problem is rather complicated.
My current work stream includes finding suitable subtitles on the Internet and sync them (which is sometimes tricky), or if I can't find any using ProjectX to extrac

[2018-06-09 16:51] zimonth commented on #982
What I've done with some of the files with DVB-subtitles, is to convert them from DVB-subtitles to DVD-subtitles. After that HandBrake can be used to transcode the video file and include (passthrough) the DVD-subtitle:
See:
https://forum.videohelp.com/threads/382169-Hardcopy-DVB-subtitles-to-MKV

[2018-06-09 17:13] #1406 closed, assigned to nobody

[2018-06-09 17:13] jstebbins commented on #1406
Thanks for the report.  Should be fixed in the next nightly build.

[2018-06-09 17:36] #697 closed, assigned to sr55, jstebbins, galad87

[2018-06-09 17:43] sr55 commented on #581
Quick check and this now appears to work in the nightly builds

[2018-06-09 17:43] #581 closed, assigned to nobody

[2018-06-09 18:42] jimster480 commented on #697
Amazing work! Will try it out asap!

On Sat, Jun 9, 2018, 1:36 PM Scott <notifications@github.com> wrote:

[2018-06-09 18:44] spg63 opened #1407 "Nightly builds ignoring E-AC3 auto passthru options on Windows"
### Description of the problem

Source content using E-AC3 audio tracks will be passed through to the destination despite E-AC3 (and AC3) passthru unchecked in the audio "Selection Behavior" menu with AAC fallback.

### Steps to reproduce the problem

0. Use Windows 10
1. Use the 2018-06-02 nightly build (also noticed on a previous build but unsure of build date)
2. Preset being used should unchec

[2018-06-09 19:01] sr55 commented on #697
Quick Test:
CPU: Intel 6700HQ. Quad Core 3.1Ghz
GPU: AMD Radeon Pro 460 4Gb
Source: big buck bunny, 1080p

x264 superfast:  ~230fps   (Intel 6700HQ)
x264 very fast:  ~165fps    (Intel 6700HQ)

x264 superfast:  ~221fps   (Intel 4770K)
x264 very fast:  ~183fps    (Intel 4770K)

VCE Quality: ~82fps        (Radeon Pro 460)
VCE Balanced: ~150fps   (Radeon Pro 460)

VCE speeds on a first generation GCN1

[2018-06-09 19:06] sr55 commented on #697
On a side note, pretty sure constant quality isn't working properly. Will need to look into that.
ABR is working fine. As is 2-pass (as far as I can tell).  Not very good at hitting it's target but not massively out.

[2018-06-09 19:13] sr55 opened #1408 "VCE Todo / Fix List"
- [x] Implement Quality based encoding.  (Mostly done. Set B+2 still todo)
- [x] Need to implement hardware detection.  _available() methods are currently stubbed.

[2018-06-09 19:17] sr55 commented on #1407
[23:36:47] Auto Passthru: fallback is None

Your fallback is set to None.  E-AC3 is not currently allowed in MP4, so it's correctly dropping the track.

[2018-06-09 19:24] spg63 commented on #1407
So what you're saying is if input files contain E-AC3 audio, and the output file is mp4, handbrake will output a file with no audio? The audio settings I have now can be seen in the attached screen shot. I'm not sure how I would go about changing those settings to get handbrake to automatically use the fallback AAC method. I've also tried this with "Auto Passthru" checked for E-AC3 and AC3 with th

[2018-06-09 19:26] sr55 commented on #1407
The log indicates the settings you have on screen, are not the settings you actually used.

You had the Audio fallback set to "None" for the log you provided.

The above would result in it being re-encoded.

Just tried your setup, seems to correctly fall back to the aac encoder for me.

[2018-06-09 19:31] spg63 commented on #1407
Running a conversion now with the settings unchanged from the screen shot. I will provided an updated log in ~35 minutes after checking to see if there is audio.

[2018-06-09 19:46] frederickding commented on #1379
Is #1406 (and 6bf0508618e97cc920688759ab5ba2918ba53668) due to the same difference in how ffmpeg handles SSA?

A lot of the code at https://github.com/HandBrake/HandBrake/blob/4456e3390ce40d9cff98efc8afd888e4d52a60d5/libhb/muxavformat.c#L1320-L1354 appears to do the same thing as what's in the ffmpeg library at https://github.com/FFmpeg/FFmpeg/blob/master/libavformat/assenc.c#L155-L192  .

[2018-06-09 20:08] spg63 commented on #1407
My apologies, apparently I don't know how to pick the right settings. It's working fine, please close this issue.

[2018-06-09 20:38] sr55 commented on #1407
Ok, no worries.

[2018-06-09 20:38] #1407 closed, assigned to nobody

[2018-06-10 00:31] jstebbins commented on #1379
I haven't looked yet, but highly likely.  Since ffmpeg provides SSA packets in matroska format, it probably expects to receive them that way as well.

[2018-06-10 00:38] #1379 closed, assigned to jstebbins

[2018-06-10 00:38] jstebbins commented on #1379
Yup, that was it :grin:
Try the next nightly build

[2018-06-10 00:44] mrdock61235 opened #1409 "When Done Quite Hanbreak"
just thought id let you know about minor bug

if you select When Done Quite Hanbreak the next time you launch the app
the following message (see screenshot)
https://i.imgur.com/acJ0u7L.png

this happens all the time even if you dont add anything to Que
this happens on the latest version 1.10 64 bit windows
tried the basics to resolve it like uninstall clean install dir and reinstall but has no eff

[2018-06-10 09:41] bouscram commented on #982
I had also the idea that DVD subs could be some kind of universal format, as they are supported in both mp4 and mkv containers. Maybe this is what should be implemented in Handbrake. I will do some tests manually to see what it looks like.

[2018-06-10 10:32] sr55 commented on #1409
This was fixed shortly after 1.1 and will be available in 1.2

Basically, it wasn't able to update the queue recovery file before closing, so there is one job left that shouldn't be there.

[2018-06-10 10:32] #1409 closed, assigned to nobody

[2018-06-10 10:46] bouscram commented on #982
It works ; if anyone is interested, if you don't want the pain to select manually the tracks in ffmpeg, the following command works fine (it will copy all tracks and convert the subtitles to dvd):
`ffmpeg -i inputfile -map 0:v -map 0:a -map 0:s -vcodec copy -acodec copy -scodec dvdsub outputfile`

There is a problem with HB:  if you burn the subs (not with soft subtitles), they are huge and fill m

[2018-06-10 12:44] zimonth commented on #982
In my opinion soft subtitles (includes separate dvdsub track) is better anyway. You can choose in viewing time wether to see them or not, video will compress better  (more quality with less bandwidth) when there is no unrelated graphics in each video frame.

[2018-06-10 14:59] galad87 commented on #1161
Sparkle updated in ea8ab220c1ae2e5ec6099b2a277daab93d951a06

[2018-06-10 14:59] #1161 closed, assigned to galad87

[2018-06-10 15:00] #1046 closed, assigned to galad87

[2018-06-10 15:15] galad87 commented on #1092
Please open a new more specific issue for each problem.

[2018-06-10 15:15] #1092 closed, assigned to nobody

[2018-06-10 16:55] bradleysepos commented on #982
HandBrake allows DVD subs in MP4 but many players do not support them, Apple products in particular.

[2018-06-10 17:13] bouscram commented on #982
You are right, but the ones I mainly use do - so no big deal for me... ;-)

[2018-06-10 18:12] Nomis101 opened #1411 "Please make the items in the drop down menus localizable"
Some of the items in the drop down menus are not localizable. Would be very nice if you could make this localizable. The most important ones of this items are:

Resample dither
https://github.com/HandBrake/HandBrake/blob/master/libhb/common.c#L180

Audio Mixdown:
https://github.com/HandBrake/HandBrake/blob/master/libhb/common.c#L200

The Muxers:
https://github.com/HandBrake/HandBrake/blob/master/l

[2018-06-10 19:51] bradleysepos commented on #428
@galad87 With #1161 completed, can we check off the last TODO here?

[2018-06-10 19:53] galad87 commented on #428
No, we would need the https://github.com/sparkle-project/Sparkle/tree/ui-separation-and-xpc branch of Sparkle.

[2018-06-10 19:54] bradleysepos commented on #438
This should now be fixed on master and in the nightly builds with the switch from Libav to FFmpeg.

[2018-06-10 19:54] #438 closed, assigned to bradleysepos, jstebbins

[2018-06-10 19:54] bradleysepos commented on #428
Thanks for clarifying!

[2018-06-10 23:22] jstebbins commented on #1411
This is difficult since these strings are all in the core library that is shared by all platforms.  Each platform has it's own localization infrastructure that we would have to find a way to coordinate somehow.

But it's worth considering and doing a little research into.

[2018-06-11 01:08] bradleysepos opened #1412 "Libvpx issues on mingw-w64/Windows."
### Description of the problem

In testing #1378 we found an error that had nothing to do with the PR and eventually resolved as #1383. Now in testing the PR again, Scott and I seem to be running into another issue.

### Steps to reproduce the problem

Build HandBrake, attempt encoding to VP9 (and probably VP8). I used the Matroska 480p30 preset.

### HandBrake version (e.g., 1.0.0)

Master branch

[2018-06-11 01:54] jstebbins commented on #1412
Fixed by https://github.com/HandBrake/HandBrake/commit/b5d46bedd1ff23ed8cf0ce05f5ee41acf56c490a

[2018-06-11 01:54] #1412 closed, assigned to bradleysepos, sr55, jstebbins

[2018-06-11 01:55] bradleysepos commented on #1412
Thanks. I've read over the AMF/VCE patch a few times now and every time I think I've fixed any niggling issues, another crops up.

[2018-06-11 02:01] jstebbins commented on #1412
No biggie.  Took 5 minutes to track down.  I suspected the AMF code right away because I recalled that changes were made to how avcodec encoders are looked up.

[2018-06-11 06:59] bugz8unny69 commented on #697
@sr55

I believe you mistaken when you say the use case is mostly going to be limited to lower end hardware, especially one who does youtube videos.

You going to need Radeon Pro version or Vega for constant quality to work properly. It's not about FPS, it's about time at least for me. You have GCN1 where the VCE is quite poor. VCE 3.1 I have is much better (I believe it's 3.1 or 3).

RX480

[2018-06-11 07:47] jimster480 commented on #697
yes I have a Vega and I will be testing it this week.

On Mon, Jun 11, 2018 at 3:00 AM, Horace <notifications@github.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2018-06-11 08:32] diegoteliz commented on #51
I agree with many of those who commented previously.

I'll give you an example to what happens to me:
Let's say I have 3 files from my old gallery:
[code]
After using Handbrake, I upload those videos to, for example Google Photos (which order media files by date). I have my entire gallery there since 2001 (about 10,000 photos and videos). So now I need to _manually_ change the datetime of those 3

[2018-06-11 09:57] galad87 commented on #1404
Radio buttons were fixed in 9a62b15b10753b0323bacc4c2bdef8a6f13de76d .
I don't think there is a way to auto resize a table column based on the column names.

[2018-06-11 09:57] #1404 closed, assigned to galad87

[2018-06-11 10:13] rogershuff commented on #1315
OK - I am sending you a Wetransfer link of a very short MXF file exported from Avid Media Composer.
https://we.tl/blc2xjjnTf
This has two audio tracks that should be interpreted as stereo. To make it clear, I’ve put LU tone on alternating tracks and panned some water effects from one side to the other. I just tested with a few applications:

Avid Media Composer will interpret the audio as stereo.

[2018-06-11 13:53] kroppt commented on #697
I tested it with R9 390, which is GCN 2, and I got double the framerate (30's to 70's) for typical H.264 encode compared with i7-4790K x264 encoding. Of course, what I really want is H.265 encoding :(

[2018-06-11 15:11] MathewCNichols commented on #697
Tested with a Phenom II X4 945 and RX 550. (Yes I know this is a huge bottleneck!)

Using H.264 (x.264), it would encode at about 1:1 speed, 5% GPU utilization, maintaining approximately 20 FPS. Using H.264 (AMD VCE), it encodes at about 10:1 speed, 75% GPU utilization, maintaining approximately 60 FPS.

The RX 550 being only entry level is still GCN 4 & VCE 3.4. The bottleneck in my CPU probably

[2018-06-11 15:23] Roph commented on #697
@MathewCNichols Your 550 can also encode H265, you may want to try it out.

AMD's H264 encoding is quite poor compared to nvidia's hardware NVENC encoder's offerings. The H265 from AMD/Nvidia is much closer in bitrate:quality however.

Also, RX 400/500 and vega VCE encodes H265 much faster than it can do H264. Your CPU shouldn't be a bottleneck if you're also hardware decoding and hardware process

[2018-06-11 16:45] sr55 commented on #697
@lhorace  read my post again ;)

I tested with a Radeon Pro 460 4GB.  That's a Polaris GCN 4, VCE 3.4  part.
I also compared that against a much older GCN 1  7850 2GB.

Updated post above to make it clearer. Also added some numbers from a 4770K for comparison.

So Any Desktop with Ryzen 5, 7, Intel Quad Core Haswell or newer is going to be close to, or output perform VCE on the their most common P

[2018-06-11 16:59] sr55 commented on #51
I'm against abusing file system metadata for this purpose.

Both MP4/MKV support container metadata and it's much better to set the appropriate date fields in the container using a good tagger such as (Subler, Mac) or equivalent windows. I'd be surprised if Google can't sort correctly on this. If it can't i'd argue it's broken.

As far as container metadata goes, HandBrake already passes some of t

[2018-06-11 17:13] Rise-KuN opened #1414 "Feature Request ( ass Subtitles )"
As we know vidcoder have only srt subtitle but there is few people use it , the most use ass subtitles cz it have more futures with aegisub software ,
I translate anime and encode episodes from mkv to mp4 with ass subs but the subs didnt show up i tryed every thing even mixing video with subs and the subtitle didnt work , even when i select burn it and still not working subs is missing .
when i tr

[2018-06-11 17:15] cortig commented on #51
I don't think any of us is talking about a full blown metadata editor @sr55.
It's only a matter of preserving what's already in the source container and passing it through to the destination. As you mentioned, some of the data is already passed through. It would save a lot of time to the end user to pass through data from additional fields IMVVVHO.

[2018-06-11 17:56] jimster480 commented on #697
I am only interested in x265 encoding so this is what I will be testing.
I'll try to see if I can test encode something tonight.

On Mon, Jun 11, 2018, 12:45 PM Scott <notifications@github.com> wrote:

[2018-06-11 18:01] sr55 commented on #697
If you have VEGA, I'm interested in numbers from it for balanced and quality, no filters.
I expect they'll be the same as Polaris but it'd be nice if I was wrong.

[2018-06-11 18:06] sr55 commented on #1414
You can't import SSA, but if it's already present in the source file, it can be passed through (mkv), or Burned in (mp4)

If that's not working, please provide a log.

We also already have an open case for adding ssa file inport.  #1178

[2018-06-11 18:13] sr55 commented on #1352
I'm not sure if we'll do anything before we take on the picture settings redesign but I'll leave this open for now. If the redesign goes ahead I'll close and we can make the decision to display or not then.

[2018-06-11 18:17] #1044 closed, assigned to galad87

[2018-06-11 18:19] sr55 commented on #1253
Closing. We can make note to improve the docs in this area next time we pass over it.

[2018-06-11 18:19] #1253 closed, assigned to nobody

[2018-06-11 18:26] sr55 commented on #1295
@jstebbins  From what I can tell, After Q5, there is a tiny difference but the encoder looks saturated. It's also showing up constant in media info.  Are we correct in showing 1 to 10 and not 1 to 5?

[2018-06-11 18:28] sr55 commented on #1387
Great. If you continue to see freeze/crash issues, do please raise a new ticket and include any logs / crash info.

[2018-06-11 18:28] #1387 closed, assigned to jstebbins

[2018-06-11 18:36] Roph commented on #697
Vega has much higher throughput over polaris (fps for a given resolution/quality), though iirc, quality:bitrate is the same.

[2018-06-11 18:37] bradleysepos commented on #1401
Should be fixed in https://github.com/HandBrake/HandBrake/commit/0bb4e7e5d20770fbc20d8ea6fb44d6a866db75ef.

[2018-06-11 18:38] jimster480 commented on #697
Any settings you specifically want to try? If you send me a list /
screenshot I can run it with exactly those settings and tell you.
I also have an OC'd Ryzen 1700x w/ 32GB 3200Mhz 14/14/14/38 ram.

On Mon, Jun 11, 2018 at 2:01 PM, Scott <notifications@github.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2018-06-11 18:59] ghost opened #1415 "Dot Crawl filter"
### Describe the change or feature you'd like to see added to HandBrake:

Add a Dot Crawl filter.  Something similar to https://github.com/tp7/checkmate/ for avisynth.
There is no perfect solution, but checkmate is one of the most recommended and looks like a somewhat simple algorithm.
One complication, sometimes it works best before detelecine and deinterlace, sometimes after (depends on source).

[2018-06-11 19:21] sr55 commented on #1315
Got the sample, Thanks.

Will take a look. My initial guess is it'll require a change in ffmpeg to support detecting this as stereo.

[2018-06-11 19:41] jimster480 commented on #697
How can I enable this? When I just loaded up the new Handbrake its encoding
on the CPU only.
I'm using x265 3k avg bitrate on preset Slower with no Encoder Tune and
Profile is Auto.

On Mon, Jun 11, 2018 at 2:38 PM, Jimster480 <jimster480@gmail.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2018-06-11 19:45] bradleysepos commented on #697
You’ll need to select the appropriate encoder instead of x265 on the video tab.

[2018-06-11 19:52] sr55 commented on #697
![image](https://user-images.githubusercontent.com/628593/41253812-695dffaa-6db9-11e8-9ddf-ce67daeaaaa7.png)

Usually start with the Fast 1080p30,
Disable decomb,
Change to the VCE encoder of choice.

1080p source such as "big buck bunny"

[2018-06-11 19:56] jimster480 commented on #697
Ah alright,
That's why it didn't work since I just used my old preset.

On Mon, Jun 11, 2018, 3:53 PM Scott <notifications@github.com> wrote:

[2018-06-11 20:06] ghost commented on #1352
Allright, and to clear out if I didn't explain it perfectly before: I just thought it would be helpful if it auto-calculated at least the output display aspect ratio while live-typing the numbers in the dimensions scaling box (should fallback to some 3 or 4 decimals when it can't show fractions).

[2018-06-11 20:13] ghost commented on #982
I'd love to see DVBSUB passthrough support for MKV asap. Anything I could do to help I'm here.

[2018-06-11 20:38] sr55 commented on #1099
Changed to Upstream Enhancement. Need to wait for ffmpeg to support DX 11 decode.

[2018-06-11 20:41] sr55 commented on #849
Still crashes on head with decomb on.
decomb_filter_thread  crash seems familiar. Pretty sure I've seen this more recently in an issue or on the forum somewhere.

[2018-06-11 20:45] #1245 closed, assigned to nobody

[2018-06-11 20:46] sr55 commented on #1388
Unfortunately there is insufficient information to proceed.  I'm closing this for now but if more information or a sample becomes available we can re-open.
Thanks

[2018-06-11 20:46] #1388 closed, assigned to nobody

[2018-06-11 20:48] sr55 commented on #1389
Corrected under #849

[2018-06-11 20:49] sr55 commented on #849
^ might be a duplicate of this.

[2018-06-11 20:56] sr55 commented on #1212
My feeling is we should leave this with frames.
If you can't hit the correct frame +/-, you can't hit it with miliseconds either.

It's not 100% accurate regardless. Unless things change and we can guarantee it, i don't think this is a good idea for now.

[2018-06-11 20:56] #1212 closed, assigned to nobody

[2018-06-11 21:16] cehoyos commented on #1315
My knowledge of mxf is limited but I am not completely convinced that there is anything to be changed in FFmpeg. Otoh, there may be a channel layout hidden in the file and it just isn't implemented yet. Even if the channel layout is there, you (HandBrake) still have to insert the amerge filter which helps even if no channel layout is detected as the situation is now. So I don't think the "Upstream

[2018-06-11 21:20] schwalabach commented on #1382
actually a High Sierra security issue.

but I found instructions on how to use Terminal to fix.

On Sat, Jun 9, 2018 at 6:54 AM, Scott <notifications@github.com> wrote:

--
Bob Schwalbach

[2018-06-11 21:32] Rise-KuN commented on #1414
thank you i hope they do in next update :D

[2018-06-11 22:18] jimster480 commented on #697
I had to grab the nightly build in order to enable it.
I have set 1080p (1920x1036) h265 VCE, Avg KB 3000, Encoder: Balanced,
Profile: Main, Level: Auto, Constant Framerate: Same as source, Decomb:
Off, Audio: Auto Passthrough
I am getting ~205fps @ a power draw of 24-28W from the Vega56 with a 15C
increase in temp (34c to 49c).

On Mon, Jun 11, 2018 at 3:56 PM, Jimster480 <jimster480@gmail.com> w

[2018-06-11 22:42] jstebbins commented on #849
Fixed the comb detect crash 5832b176ce662dc5f1f891c9039f8fa419e1cb2c. Basically the same problem as the crash in decomb.

I still haven't figured out the parsing problem that causes HandBrake to see no valid frames.

[2018-06-11 22:44] bradleysepos commented on #849
~faacd7c and~ 5832b17 should ~both~ be merged to 1.1.x.

[2018-06-11 23:25] jimster480 commented on #697
I have queued a bunch of movies now to transcode, and will check them out
when they are done.
Using the "quality" setting now I am getting 190-208FPS (it fluctuates alot
more) w/ avg around 201.8. However the temp of the GPU has risen to 58C and
its using 25-30W now.

On Mon, Jun 11, 2018 at 6:18 PM, Jimster480 <jimster480@gmail.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Af

[2018-06-12 01:35] bugz8unny69 commented on #697
@sr55 I encode with VCE, 30000 bit rate, 1 hour video, no quality lost visually at 30 minutes

I have AMD because I only use AMD hardware and I haven't tested Ryzen Chips. AMD FX-8320E Eight-Core Processor, 5 hours at superfast, 3.5 hours at very fast.

[2018-06-12 01:40] jimster480 commented on #697
Using x265?
I haven't lost quality that I can perceive from a 10.7mbps AVC to a
~3000kbps H265 VCE, although its 1/6th the file size.
I just checked through various parts of the movie and compared on my Dell
professional 4k monitors and I cannot tell any difference in 99% of the
scenes.
There is one scene with a ton of peoples faces where the 3000kbps version
has just a bit of quality loss around

[2018-06-12 01:45] bugz8unny69 commented on #697
Because I am recording video for Youtube, it's always been H.264 at 30000 bit rate. As I've said, with CPU transcoding, 1080P or 1440p, it's from 3.5 to 5 hours (CPU) versus 30 minutes hardware encoding

[2018-06-12 01:46] jimster480 commented on #697
Well I am encoding full length movies from x264 into x265 in around 20
minutes.

On Mon, Jun 11, 2018 at 9:45 PM, Horace <notifications@github.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2018-06-12 01:46] bugz8unny69 commented on #697
I record at that higher bit rate because when you upload to youtube, youtube also transcode and if you don't give youtube the best. It will look ugly

[2018-06-12 01:49] bugz8unny69 commented on #697
@jimster480 You transcode H.264 to HEVC via CPU.  1 hour video, 1080P or 1440P @ 20 minutes? @ 10000 bit rate?

[2018-06-12 01:51] bugz8unny69 commented on #697
Is this 4,000 Intel i9 cpu?

[2018-06-12 01:53] bradleysepos commented on #697
Just a heads up to all, there are 16 participants on this issue. It's easy to write Tweet-length comments on GitHub, but please keep in mind you're likely sending 15 emails every time you do.

[2018-06-12 01:55] bugz8unny69 commented on #697
I personally been following this issues for the last 6 months, every E-Mail, is how I track. Is just as important to me. With that said, it seems to me people, after 6 months of effort, how useful this feature is. I like to make sure that this feature is very important to me.

[2018-06-12 02:38] jimster480 commented on #697
No I'm using amd vce on my vega56. These are 1080p movie rips. The quality
varies from 8000 to 14000 kbps x264. I am ripping it to x265 at an average
of 3000 kbps. So far the highest FPS I have seen is 272 FPS with the second
pass encoding holding steady around 250 FPS in some movie titles.

On Mon, Jun 11, 2018, 9:49 PM Horace <notifications@github.com> wrote:

[2018-06-12 02:52] jimster480 commented on #697
Yes this feature is incredibly important! There are a lot of us AMD users
out there who have had to encode using CPU only over all of these last
years. I literally had an i7 Haswell that just sat and did x264 to x265
encoding all day every single day for months to encode my movie Library.
That chip ran at 3 gigahertz and it would get around 14 FPS in this same
encoding scenario.

Never mind that i

[2018-06-12 13:28] assistcontrol opened #1416 "macOS system alert sound always played"
### Description of the problem

After c762b2c0ec5b6fb58d1fd453e2b5aed526c6d693, the "Play System Alert Sound" option is ignored and the sound is always played.

### Steps to reproduce the problem

Set "When Done" to "Notification and deselect "Play System Alert Sound." Here, the system notification box should be shown, but no sound should accompany it.

### HandBrake version (e.g., 1.0.0)

master,

[2018-06-12 19:24] Nomis101 opened #1417 "German.lproj to adopt"
Now that you switched to Base localization for macOS, I have made a German.lproj. I wanted to ask you, if you would accept this as a first step to a multilingual HandBrake on macOS?
https://github.com/Nomis101/HandBrake/commit/8de6b1a27731f1e89d46894456aac68198120932

I translated all strings that are currently able to localize according to the Apple Developer instructions. I tested that every str

[2018-06-12 19:26] bradleysepos commented on #1417
Thanks for doing this. I've assigned our Mac developer to take a look.

[2018-06-12 19:42] bradleysepos commented on #697
Indeed, the feature is welcome and important, which is why I fixed and merged it. 😸

Perhaps I should have been more specific: In the future, consider condensing multiple one-liners into single posts so those of us who get emails for *all* issues and pull requests don't have to unsubscribe from the entire thread to limit noise.

Thanks for the benchmarks as requested. Let's move further benchmarks

[2018-06-13 10:28] diegoteliz commented on #51
I get your point @sr55, but I don't think most users require full metadata pass-through and that is not what we're asking for.

A lot of users come across Handbrake looking for reducing their disk space (just like the guy that created this issue). They don't want to lose video quality but they want to reduce size. In this regard Handbrake is awesome. The problem is when you want to keep the same c

[2018-06-13 11:00] diegoteliz commented on #345
What about approaching this in 2 phases?

#### Phase 1
Preserving "date created" and "date modified" (for all those who are converting older family videos to save space).
Since HB already preserves some other metadata, it doesn't seem to be too complicated to implement (?)

Perhaps a checkbox under `Preferences\Output files`:
- [x] Keep original file Creation and Modification dates

#### Phase 2
A

[2018-06-13 11:00] galad87 commented on #1417
What are you using to create the translate version? Are you tracking it by hand or something else? Maybe it would be better to have a public project for example on Transifex to keep track of the localisations.

[2018-06-13 11:05] sr55 commented on #345
This issue is about retention of container metadata, not filesystem metadata.

All I can suggest is you create a small powershell script that gets executed using the "When Done" feature in preferences. Stackoverflow has examples of how to set filesystem metadata this way but it's not something i'd recommend doing in the first place.

[2018-06-13 11:06] galad87 commented on #1416
Fixed in ba64e40a8afc4667ab2419c8c4996ed89a1eb918

[2018-06-13 11:06] #1416 closed, assigned to galad87

[2018-06-13 11:44] Nomis101 commented on #1417
The corresponding *.strings files for all the *.xib files I generated from the Base.lproj folder by the command
`ibtool [MyNib].xib --generate-strings-file [MyNib_new.strings]`
Described here: https://developer.apple.com/library/archive/documentation/MacOSX/Conceptual/BPInternational/MaintaingYourOwnStringsFiles/MaintaingYourOwnStringsFiles.html

The Localizable.strings and InfoPlist.strings files

[2018-06-13 12:33] assistcontrol commented on #1416
Thanks!

[2018-06-13 12:55] stewilliams-extr commented on #51
@sr55,
I'm in the same boat as everyone else as @diegoteliz mentioned.  I have resorted to just changing the file names to the date they where created, and running them through handbrake, and losing the creation dates.  The checkbox @diegoteliz mentioned is all we are looking for.

[2018-06-13 15:19] insubria commented on #51
@diegoteliz thank you because you have understood exactly what I asked: with a small effort change, everybody will benefit.

[2018-06-13 17:45] BlackDrag0n8696 opened #1418 "PGS Formatted Subtitle Issue"
### Description of the problem

Handbrake appears to read PGS Formatted Subtitles and allows you to choose them in the drop menu but the subtitles are missing in the resulting encoded video.

### Steps to reproduce the problem

Choose video, language, subtitle and encode.

### HandBrake version (e.g., 1.0.0)

1.1.0

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra,

[2018-06-13 18:36] sr55 commented on #1418
Locking for a community rule violation.  We do not provide support to users where the source is not legitimate.

[2018-06-13 18:37] #1418 closed, assigned to nobody

[2018-06-13 22:38] frederickding opened #1420 "Windows GUI won't build after HandBrake.Worker project added"
### Description of the problem

Previously, scripted builds that use `nuget restore` followed by `msbuild build.xml /p:Platform=x64 /t:Nightly` had no trouble compiling the whole Windows GUI solution. NuGet would pull in the dependencies.

After 0bbe6e4bde56799acd6c8096c04f80ca3aa27fb0, these builds fail while trying to find the Newtonsoft.Json dependency -- even when other projects in the solutio

[2018-06-14 07:27] bouscram commented on #982
I finally used Subler to convert the DVD subtitles to text: the result was more than satisfying with very few errors (opposed to what I usually got with the chain I explained above).

[2018-06-14 15:53] #1398 closed, assigned to bradleysepos, jstebbins

[2018-06-14 16:01] sr55 commented on #1420
Interesting. It works fine here and on our build agents.  Must be something funny going on with the way you have times configured.

No real objections to adding the hint path, so I've added that as it'll probably fix it.

[2018-06-14 16:01] #1420 closed, assigned to sr55

[2018-06-14 16:02] #1389 closed, assigned to nobody

[2018-06-14 17:20] jstebbins commented on #1327
@sr55 hb_value_int() accepts a json_int which is 64 bit.  So the code you highlighted isn't overflowing.

Start and end points > 7 hours work in the CLI.  So I think this is a overflow in the windos gui somewhere.

Log from CLI
[cli_log.txt](https://github.com/HandBrake/HandBrake/files/2103329/cli_log.txt)

In @Overwatching log

"End": -1054967296

and CLI log

"Start": 2592000000,

Values are in

[2018-06-14 17:30] bradleysepos commented on #1327
I was under the impression JSON integers are 32-bit JavaScript integers, unless the underlying engine treats them differently...

[2018-06-14 18:06] jstebbins commented on #699
Works fine with an interlaced VC-1 sample I found (https://kodi.wiki/view/Samples).  I also checked the code for decoding tff against the VC-1 spec.  It all appears correct.  My best guess is that the file is not signalling tff properly.

Would it be possible for you to find the M2TS file that corresponds to this BD title, clip a portion from it and supply a short sample?  You can use any general

[2018-06-14 18:17] jstebbins commented on #699
Ah, wait.  It's fixed in the nightly builds (git master).  1.0.x and 1.1.x are broken.  libav vc1 decoder doesn't set tff flag at all, so is broken.

Fixed in current code, so closing.

[2018-06-14 18:17] #699 closed, assigned to jstebbins

[2018-06-14 18:43] sr55 commented on #1327
Yup, your right john.  API is 64bit on the Windows UI, but the UI layer is 32bit

[2018-06-14 18:57] #1327 closed, assigned to sr55, jstebbins

[2018-06-14 20:28] jstebbins commented on #435
Nightly build flatpak bundles are now available
https://forum.handbrake.fr/viewtopic.php?f=33&t=37882

[2018-06-14 20:28] #435 closed, assigned to jstebbins

[2018-06-14 20:30] bradleysepos commented on #435
Flatpak installation documentation will be available within 24 hours at https://handbrake.fr/docs/en/latest/get-handbrake/download-and-install.html#system-linux

Source is already on GitHub: https://github.com/HandBrake/HandBrake-docs/blob/master/source/docs/en/latest/get-handbrake/download-and-install.markdown#flatpak-bundles

[2018-06-15 18:04] #1414 closed, assigned to nobody

[2018-06-15 18:30] Rootax opened #1423 "Crash after encoding"
### Description of the problem

The HandBrake-20180615-0c377e5_x86_64-Win_GUI.exe Nightly crash/close after encoding. The encoding is clean, but the program crash when it's done. It problematic with queue, since it closes after the first task. When I open it again, I have the message telling me I've items un queue and I can do it again, but it's not very fun...

### HandBrake version (e.g., 1.0.0)

[2018-06-15 18:32] sr55 commented on #1423
We still need an activity log, otherwise we literally have no clue what your doing.

[2018-06-15 18:36] PokeCaptain commented on #1423
Did Windows give you an error or crash log?

[2018-06-15 18:37] cameronetchart opened #1424 ""Unknown Error" when selecting chapter range in source file"
### Description of the problem

Handbrake throws an error every time you use the drop down menu to select a specific chapter in the source file, then doesn't allow you to change either the start or end chapter (forces you to rip entire file). This is a new bug to the 20180615 nightly file, did not occur in my previous nightly (1-2 days old).

### Steps to reproduce the problem

Load any source fil

[2018-06-15 18:40] cameronetchart commented on #1423
I'm having the same issue for the past 2-3 nightlies, here's an activity log from one of my tests. The output file is perfect, but handbrake just closes immediately after finishing even though the "no nothing" option for "when done" is selected. It's like handbake is applying the "Quit Handbrake" option.

[activity_log11236.txt](https://github.com/HandBrake/HandBrake/files/2107155/activity_log1123

[2018-06-15 18:40] Rootax commented on #1423
Ok so, an exemple of activity log of a crashing task (but everything crash when it's done) attached.

For the windows log, I didn't thing about that 👍
Nom de l’application défaillante HandBrake.exe, version : 1.2.0.0, horodatage : 0x5b231b69
Nom du module défaillant : ntdll.dll, version : 10.0.17134.1, horodatage : 0x207580e2
Code d’exception : 0xc0000374
Décalage d’erreur : 0x00000000000f4eeb
ID

[2018-06-15 18:47] sr55 commented on #1424
Fixed in 090b6a925470ccdf773427c76e90ccc6e0b930f1

Next nightly will correct the issue.

[2018-06-15 18:47] #1424 closed, assigned to sr55

[2018-06-15 20:22] sr55 commented on #1423
Fixed in https://github.com/HandBrake/HandBrake/commit/dc2bba58a7cbfee26b3d9992df062392a82b09c3

[2018-06-15 20:22] #1423 closed, assigned to sr55

[2018-06-15 21:19] Sami32 opened #1425 "Broken or incorrect link on the website"
https://handbrake.fr/rotation.php?file=HandBrakeCLI-1.1.0-win-i686.zip

Or the 32-bit CLI build doesn't exist anymore and this link should be removed or this link is broken.

I apologize if that wasn't the right place to post that issue.

[2018-06-16 05:50] bradleysepos commented on #1425
@sr55 This is on https://handbrake.fr/downloads2.php

[2018-06-16 10:37] sr55 commented on #1425
Broken  link removed.
Thanks for the report.

[2018-06-16 10:37] #1425 closed, assigned to sr55

[2018-06-16 13:49] AbdullZ7 opened #1426 "FPS option"
Can you make FPS option "Same as source" by default?

![handbrake_2018-06-16_16-45-30](https://user-images.githubusercontent.com/5797362/41499212-ea07a786-7184-11e8-87e5-d5117cc03c36.png)

If I want to convert a 25 or 60 frames video I don't want it to be 30 frames!

[2018-06-16 14:11] jstebbins commented on #1426
For most of HandBrake's presets, this setting is a *peak framerate*.  There is a checkbox under the framerate option indicating this.  Peak framerate means the output framerate will not exceed this value, but it may be less than this value.

Most of HandBrake's presets set a peek framerate because our presets are targeted at specific devices or applications that require such limits.  So no, we won

[2018-06-16 14:13] #1426 closed, assigned to nobody

[2018-06-16 17:45] AbdullZ7 commented on #1426
The only thing I want HB to change is the bitrate and the encoding only. I don't want it to scale the video for me or change its framerate. Can I create a preset that can do that only?

[2018-06-17 01:14] Sloppies opened #1427 "Handbrake Only Recognizes ~12/200 Videos In Folder With Batch Scan"
### Description of the problem

Handbrake only converts ~12/200 videos in a folder. All videos are in Webm format. I can convert them all manually without any problems.

### Steps to reproduce the problem

Batch scan a folder

### HandBrake version (e.g., 1.0.0)

1.1.0

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10

### Er

[2018-06-17 01:46] bradleysepos commented on #1427
Tools > Options, set minimum title length to 0.

[2018-06-17 03:36] Sloppies commented on #1427
This worked. Thanks so much, Bradleysepos. You have saved me.

[2018-06-17 03:43] #1427 closed, assigned to nobody

[2018-06-17 06:16] #549 closed, assigned to bradleysepos

[2018-06-17 17:56] Nomis101 opened #1428 "Linking error since recent changes"
### Description of the problem

Since today my build stops with an linking error (Error 65). I locally installed all removed tools (cmake automake m4 libtool pkgconfig autoconf) and nasm.
I build from scratch on macOS. Build log is attached. Do I need to install some more tools now?

### HandBrake version (e.g., 1.0.0)

Current master

### Operating system and version (e.g., Ubuntu 16.04 LTS, macO

[2018-06-17 18:47] bradleysepos commented on #1428
What’s odd is that I’m not having these issues in my testing. We may want to pass an explicit path --with-iconv=dir to libxml2. Also, may want to explicitly set the 10.10 target for libvpx.

[2018-06-18 15:05] bradleysepos commented on #1428
Still can't reproduce (but I will fix the libvpx warnings). Did you install tools using `scripts/mac-toolchain-build`, Homebrew, or other? Did you install GNU M4 instead of relying on system M4?

[2018-06-18 15:08] Nomis101 commented on #1428
I installed all tools and m4 using Macports
`sudo port -N install nasm cmake automake m4 libtool pkgconfig autoconf`

[2018-06-18 15:09] bradleysepos commented on #1428
Thanks. Please provide the versions of each of these tools.

Do you also have libiconv installed system-wide?

[2018-06-18 16:06] bradleysepos commented on #1428
Warnings silenced in https://github.com/HandBrake/HandBrake/commit/53e89a2007b35bc0637b398fce63e1e775bef453

[2018-06-18 19:25] Nomis101 commented on #1428
[code]

[2018-06-18 20:07] bradleysepos commented on #1428
Try removing the libiconv port. If that works, I'll see if I can get a fix together.

[2018-06-18 21:16] Nomis101 commented on #1428
Removing libiconv makes everything worse. First I had to remove everything that had libiconv as dependency (gawk and libintl). And now it stops with another error:

`Developer/l10n/HandBrake/build/contrib/lib -arch x86_64 --sysroot=/Developer/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.14.sdk -mmacosx-version-min=10.10" PKG_CONFIG_PATH="/Volumes/Developer/l10n/Ha

[2018-06-18 22:16] bradleysepos commented on #1428
Hmm, the actual error is probably further up in that log somewhere. Try `make -j1` from the build directory so there aren’t multiple jobs writing to stdout at the same time.

[2018-06-18 23:51] Nomis101 commented on #1428
[code]

[2018-06-19 00:41] bradleysepos commented on #1428
There must be another conflict of sorts, I'm just not sure what it is.

[2018-06-19 07:03] ilovezfs commented on #1401
@bradleysepos actually still broken in HEAD @ 613426ead9da07e2a761e5dbfbd91e04048d7e8e

https://gist.github.com/ilovezfs/6c1ed5c0ce92e9127d3b3ac2bfa15834

[2018-06-19 07:23] tjsuominen opened #1431 "HB Installer issue (mouse over)"
### Description of the problem

You can accidentally install and then un-install the recently installed version with the current installer (as AFTER the installation has completed).

### Steps to reproduce the problem

1. Launch the HB installer
2. Choose to remove the previous version with "OK"
3. Make HB 1.x.x uninstall dialog to go behind the HB Setup dialog (e.g. if user has Mouse-over / XMous

[2018-06-19 08:06] Nomis101 commented on #1428
I may have an idea, the pkgconfig error reminds me of an issue I had with building ffmpeg 4.
https://lists.ffmpeg.org/pipermail/ffmpeg-user/2018-April/039638.html
I will see if it is the same here.

[2018-06-19 14:45] Nomis101 commented on #1428
No, it does not work with Macports, whatever I try. I only get it to build if I completely remove Macports and install the tools using mac-toolchain-build.

[2018-06-19 14:50] bradleysepos commented on #1428
Ugh. Sorry about that.

We don't officially support MacPorts due to issues we've had in years past with things like this. Since there seems to be multiple issues it's hard to rule out bugs/config on their end.

Sorry to say, I really don't know what to do about it at this point, so for now will close the issue. If you have further information, feel free to reply and we can reopen if necessary.

[2018-06-19 14:50] #1428 closed, assigned to bradleysepos

[2018-06-19 14:52] bradleysepos commented on #1401
Please run `make -j1` and provide both the config.log and build log. Will be helpful to not have multiple jobs writing to stdout at the same time. 😸

[2018-06-19 15:04] sr55 commented on #1431
I'm afraid there isn't a clean solution to this one.  Making the window modal will have no effect.

The uninstaller is launched as a separate process.  It copies itself to the Windows temp folder, closes and re-launches. (To allow the uninstaller itself to be deleted.) So ExecWait isn't an option either.

It's a trait shared by most NSIS installers I've come across that have an uninstall process.

[2018-06-19 15:04] #1431 closed, assigned to nobody

[2018-06-19 15:15] tjsuominen commented on #1431
OK, thx for explaining the rationale behind this.

[2018-06-19 19:29] bugz8unny69 commented on #1408
Hello,

I spent a few hours figuring why constant quality doesn't not work.

[2018-06-19 19:33] sr55 commented on #1408
Yes, It's not currently supported / working yet.

[2018-06-19 20:04] siretart opened #1432 "Potential crash without home directory"
### Description of the problem

while testing the handbrake 1.1.0 debian pacakge, I've encountered a segmentation fault while starting the applications

### Steps to reproduce the problem

Start the application in an environment without the home directory mounted. In this case $HOME points to a non-existing directory.

The reason for the crash is in gtk/src/presets.c L836. Here, "path" is a null p

[2018-06-19 23:46] jstebbins commented on #1432
Thanks for the report.  I would be surprised if that's the only place that fails hard under these circumstances.  Never tested this scenario.

[2018-06-20 13:27] ghost commented on #982
DVB-C Subtitles around here are unfortunately in bitmap, hard to impossible to convert them ... I tried some tools since, but it still adds checking and editing work.

I checked a bit and it looks like FFmpeg could burn-in them with the overlay filter already, according to the folks there, just as it can do DVD subtitles, except the wiki doesn't mention DVB specifically, but it shouldn't be a huge

[2018-06-20 15:16] sheepchen opened #1433 "BSOD with AMD Ryzen 5 2400G and queue-window"
### Description of the problem

I downloaded the latest stable version from the website.
I created a queue of 200 .avi files for conversion in x265.
A few seconds after I clicked in queue windows (deleting entrys) the system freeses with an BSOD.

CPU: AMD Ryzen 5 2400G
System: Win 10 newest version.
Driverstand: all up todate.

the BSOD are one of the following:
ATTEMPTED_EXECUTE_OF_NONEXECUTE_ME

[2018-06-20 16:23] sr55 commented on #1433
If your getting a BSOD, it's the operating system crashing, not HandBrake. It means you have a system stability issue that's likely cropping up under very high load levels.

Burn-in tests often won't show an issue as they only put a workload on the system that's much less involved than say video encoding.   (For example, maxing out the CPU integer units, but not Floating point or various additiona

[2018-06-20 16:23] #1433 closed, assigned to nobody

[2018-06-20 18:09] #1432 closed, assigned to jstebbins

[2018-06-20 18:10] jstebbins commented on #1432
A fix for this should be in the next nightly build if you would like to test.

[2018-06-20 18:22] siretart commented on #1432
Awesome, thank you for the fast response!

-rt

On Wed, Jun 20, 2018 at 2:10 PM John Stebbins <notifications@github.com>
wrote:

--
regards,
    Reinhard

[2018-06-21 08:29] LuctenFinger commented on #1408
i think this is the problem of AMF on HEVC

since AMF do not update from april, there s nothing can do with it

[2018-06-21 10:25] gordielachance commented on #1328
I really think this is a mistake not to offer this.
There is a simple way to avoid overriding the source file... Add a default prefix (eg. _-recoded_).
It's a p* in the *ss to always have to set the output directory...

Anyway (thanks @sr55), I can achieve it using this setup.  But having it natively would be better...

![capture](https://user-images.githubusercontent.com/4077261/41713993-32bd0ef8

[2018-06-21 11:35] sheepchen commented on #1433
Hi,

sorry, you are right.

My BIOS was too new! The BIOS F23d for the Gigabyte GA-AB350N-Gaming is unstable by an internal GPU under load. have to patch down to F21 for stability.

Thats not Handbrake's problem. :D
Gigabyte is informed..

[2018-06-21 11:48] sr55 commented on #1433
Thanks for reporting back.  It is unusual to have that particular kind of problem, but it's cropped up a few times on different board manufacturers now. Usually it's older BIOS's being the issue, not newer one :/  Go figure.

[2018-06-21 12:02] bradleysepos commented on #1433
Yikes, thanks for following up. Hope you get it sorted.

[2018-06-21 13:09] woodstockathbf commented on #1328
Why are you saying "is a mistake not to offer this", when sr55 showed you that it does exist, **if you're willing to take total responsibility for the possibility of wiping out your original files**?

[2018-06-21 13:23] gordielachance commented on #1328
Hi @woodstockathbf;

...Because @sr55 also said

...And that it does not appears as available in the tooltip when hovering the file format input (so, who knows about this trick ?)

...And because implementing it correctly would remove any possible problems with this very, very **useful concept**.

The only thing to do would be to have a **specific behaviour when the source and output path & filena

[2018-06-21 13:42] evodoc opened #1434 "Range selection preview"
### Describe the change or feature you'd like to see added to HandBrake:

An easy way to find the range I want to convert. Right now you can set it by choosing the chapter, the frame or timecode but as far as I know there is no way to check which frame I'm about to set for start and end points of the range.

### What version of HandBrake are you currently using? (e.g., 1.0.0)

1.1.1

### What oper

[2018-06-21 14:33] bradleysepos commented on #1120
Perhaps a long shot, but please try a nightly build. We recently switched from Libav to FFmpeg for decoding. Of course, HandBrake's sync code is the same, but on the off chance the problem was further up the chain, perhaps this will help.

[2018-06-21 14:34] bradleysepos commented on #726
@jstebbins What's the current status of this issue?

[2018-06-21 14:35] bradleysepos commented on #281
Following up on this a year later... can/do we intend to do anything about this?

[2018-06-21 17:38] PierreDrand opened #1435 "Color Space conversion error"
Description of the problem
Handbrake does an an unnecessary space color conversion

Steps to reproduce the problem
Source is an 1920 x 1080 50i REC.709 avi file in the Grassvalley lossless codec (Edius). When I encode to H.264 with Handbrake, the colors are a little shifted. Handbrake seems to do an useless conversion from Rec.601 to Rec.709 while the source avi is already in Rec.709

HandBrake 1.

[2018-06-21 17:39] #1435 closed, assigned to nobody

[2018-06-21 18:11] giggleloop opened #1436 "Adjusting Manual Cropping in Dimensions Messes Up Sizes/PAR"
### Description of the problem

Using custom cropping on the dimensions tab can result in storage size, display size and PAR being messed up.

### Steps to reproduce the problem

1.) Load a DVD VIDEO_TS folder
2.) Navigate to the Dimensions tab
3.) Change cropping to 'Custom'
4.) With anamorphic on either 'loose' or 'auto', start increasing the no. of pixels cropped from any side
5.) The 'storage

[2018-06-21 18:32] bradleysepos commented on #1436
While this may be a bit annoying, it's the expected behavior for anamorphic modes. HandBrake cannot guess your intentions in this scenario. It would be bad, for instance, if HandBrake actually increased the storage resolution beyond the original preset limitation and/or what your target device can handle.

I'll leave this open for other developers to comment, but I suspect this will be a wontfix,

[2018-06-21 18:40] jstebbins commented on #726
I haven't done a deeper dive yet

[2018-06-21 18:40] jstebbins commented on #281
Maybe

[2018-06-21 18:54] bradleysepos commented on #726
Okay, will target 1.2.0 for now so it doesn't get lost. Can always push it back.

[2018-06-21 18:55] bradleysepos commented on #281
Okay, targeting for 1.2.0. Can always change this.

[2018-06-21 23:29] fognar777 opened #1438 "No video output when using Intel QSV"
### Description of the problem

Whenever I use a Intel Quick sync decoder in Handbrake, no status is shown during the decode and when/if it finishes, the output file doesn't contain any video, but it does have audio. I've also noticed that some source file codecs don't have any issue with the same settings.
Files I've experienced the problem with:
MKV file with a "H264 - MPEG-4AV (part10) (avc10)"

[2018-06-21 23:54] woodstockathbf commented on #1438
As a test, what happens if you disable QSV hardware DECODE?

There are a number of circumstances that can cause the DECODE portion of QSV to fail, even though the ENCODE works fine. Factors include the version of your Intel drivers, and the video itself.

[2018-06-22 08:47] chenchu007 opened #1439 "Please, no change the name of file"
The name of the source file is altered.

Original title: "The new man 1x01.mkv"

Proposed title: "The New Man 1X01-1.mkv"

Why is this done? There are systems that are case sensitive.

Could you remove this annoying behavior?

Thank you

[2018-06-22 08:48] sr55 commented on #1439
Auto-naming behaviour is controlled via preferences.  Change those settings to suit your needs.

[2018-06-22 08:48] #1439 closed, assigned to nobody

[2018-06-22 08:50] sr55 commented on #1438
QSV Decode is only available when Intel is the Only GPU in the system, or there is a monitor attached to it.

We have an outstanding enhancement to enable QSV decode under Direct3D 11 which will allow it to work correctly in multi-GPU systems.  https://github.com/HandBrake/HandBrake/issues/1099

For now, turn qsv decode off in preferences.

[2018-06-22 08:50] #1438 closed, assigned to nobody

[2018-06-22 18:23] afanjul commented on #720
@panbeep could you post the exact command to hevc encoding with GPU using ffmpef, im having crashes all the times

[2018-06-23 03:07] fognar777 commented on #1438
@woodstockathbf
Are you talking about the setting in video section? I want to use QSV for speed purposes and I have no problems when I have that off besides the 1080p encodes taking about 3 times the run time of the file.
@sr55
Sorry my understanding of that limitation is that it is only for Windows 7 and older that you need to attach a dummy monitor but after directly attaching one of my monitors

[2018-06-23 09:14] sr55 commented on #1438
We don’t support VC1 decode with quick sync so it wasn’t being used for that. It was using software decode.

When decoding H.264 / H.265, It’s a Direct3D9 limitation and doesn’t relate to Windows 7 although in this case it's irrelevant since VC1 is not supported anyway.

Your CPU is pretty reasonable, so software decode will little effect on performance anyway.

[2018-06-23 12:54] DrDufus opened #1440 "File Format does Not Play on XBOX"
### Description of the problem

Using "Xbox 1080P 30 Surround" setting‎. Of course there's also the "Xbox Legacy 1080p 30 surround". Neither of them put out a file that will play on the XBOX 360. Both create an Mp4 file, and I've never been able to play an mp4 file on any of my Xbox 360's, or my Xbox One, regardless of how I try to do it - burn it on a DVD, put it onto a thumb drive, stream it ove

[2018-06-23 13:15] sr55 commented on #1440
Can you please provide an encode log.

Can you also confirm that the both Xbox 360 and one are fully up-to-date?  I assume your using the built-in and not a 3rd party player?

This sounds like your either changing something, or there is something about your xbox setup causing this. We've had no other reports of these presets not working and the playback support, more so on the one, is much less pr

[2018-06-23 13:17] bradleysepos commented on #1440
I will test the Xbox Legacy preset with my 360 today to double-check compatibility.

[2018-06-23 13:49] woodstockathbf commented on #1438
QSV encode and decode are two separate functions. You can use them independently.

The software decode is not quite as fast as QSV decode (for the formats QSV decode supports), but it is much more forgiving of quirks in the video stream.  And whether your use hardware or software decoding, it still feeds into the filters that are done in software, before going back out to the encoder.

Personally,

[2018-06-23 13:58] fognar777 commented on #1438
I didnt realize that I could turn off the decode and still use the encode. I turned the decoder off and now things are chugging happily along.

[2018-06-23 14:07] sr55 commented on #1438
"The software decode is not quite as fast as QSV decode (for the formats QSV decode supports),"

That's not actually true in most cases unless your running on low end hardware.  Software decoding, can in some instances, 10, 20 times faster than QSV.  That said, QSV Decode is sufficiently fast to feed it's own encoder so it's a non issue.

[2018-06-23 14:50] woodstockathbf commented on #1438
Ah, I can only go by my own experience on that, and the difference was noticeable on my hardware, so I must still be on "low end hardware".... :)

So, it would make sense to default to QSV decode Off.

[2018-06-23 14:58] sr55 commented on #1438
Not really. Most folks can't encode  come close to bottle necking it.  What it thus allows for is that portion of the CPU time to go to encoding, or something else.

[2018-06-23 15:12] sr55 commented on #1434
While it's a nice idea in principle, in practice it's quite problematic due to the vast number of file formats HandBrake supports as input. In many instances, having this working and performing at an acceptable level isn't feasible.  Seeking within a file to a given point, can take a not insignificant amount of time. (This is why when using Point to Point encoding, it can sometimes take quite some

[2018-06-23 15:13] #1434 closed, assigned to nobody

[2018-06-23 17:05] bradleysepos commented on #1440
To be clear, the Xbox Legacy preset should work on both Xbox 360 and Xbox One, but is more restrictive to ensure compatibility with the former.

Tested _Tears Of Steel_ 2160p (tearsofsteel_4k.mov) with the Xbox Legacy 1080p30 Surround preset. Plays back fine on Xbox 360 using the system video player and a directly attached flash drive. Flash drive is 32 GB Transcend, FAT32 format, MBR partitioning

[2018-06-23 17:05] #1440 closed, assigned to bradleysepos

[2018-06-23 20:12] Mattrak commented on #50
I've been experimenting exactly the same problem recently with HandBrake CLI, some weird ABCDD switch from regular 3:2 pulldown on broadcast capture. Wich HandBrake settings should I use then: CFR:23.976 with detelecine ON?

[2018-06-23 21:51] albino1 commented on #50
Not sure about the CLI, but in the GUI you can just leave Detelecine set to Default and then set a Constant Frame Rate of 23.976 and it will work.

I use it all the time.  Saves me from having to use Virtualdub as an intermediary to do it.

[2018-06-23 22:36] DrDufus commented on #1440
Ok, so to answer your questions, my Xboxes are fully up to date.  And, Yes - I am using the System Video Player.   Moving on...   I just did a new video, and this one works.  Confound it all.  Inconsistent problems drive me nuts.  So, for starters, my apologies.  And I should provide more details...  First, I recall that I did change something in the preset on all the previous failures, but not on

[2018-06-23 22:59] Mattrak commented on #50
Thank you very much!

[2018-06-23 23:42] bradleysepos commented on #1440
The audio configuration could have done it. Older media players like the 360's typically expect specific tracks and layouts in specific order.

The log shows the output having both Stereo (DPL2) as the first audio track and the Surround (DD) as the second audio track. Windows properties is notorious for misinformation.

I take it you're either passing surround via HDMI to your TV and/or an optical

[2018-06-24 00:51] DrDufus commented on #1440
I never thought to check the display of my receiver while it played (FYI: audio plays from xbox 360 via optical cable into receiver).  I always took the file properties as gospel.  So anyway, when I play it through the xbox and my sound receiver, the full 6 channel indicators light up on my receiver, and I do hear it through the surround sound speakers.  So the file properties are bogus for the au

[2018-06-24 01:09] bradleysepos commented on #1440
Indeed, even Netflix on a 360 will go out of sync eventually. Backing up enough in the stream in order to trigger buffering is enough to lock it again. Not sure there's much anyone can do on that front.

Anyway, glad it seems to be mostly working for you. If you encounter other problems and need help, feel free to open a new issue. Cheers.

[2018-06-24 10:36] BlobbyBlobby opened #1441 "All versions of Handbreak crash when live preview selected during HEVC (H.265)"
### Description of the problem

All versions of Handbreak crash when live preview selected during HEVC H.265(x265)

### Steps to reproduce the problem

select a source file
select video tab choose h.265(x654) from drop downmenu
encoder preset move slider all way to left ultra fast
RF setting 22
start it of encoding
select live preview from preview menu
### HandBrake version (e.g., 1.0.0)

Nightly

[2018-06-24 10:39] #1441 closed, assigned to nobody

[2018-06-25 05:20] ryanchild opened #1442 "custom width isn't saved in preset"
### Description of the problem

I am trying to fix a messed up aspect ratio (720x480, PAR 8/9).  Some settings I have found that work are specifying the size (width and height) in the picture tab, unchecking the "keep aspect ratio" box, and setting anamorphic to "none".  I tried saving this as a preset but when I select the preset the width is not what I saved.  The height is correct.

### Steps t

[2018-06-25 10:04] BlobbyBlobby opened #1443 "Queue shows wrong file being worked on"
![handbreak](https://user-images.githubusercontent.com/40537594/41844197-5cb3b61a-7867-11e8-9560-2e36e5e0fe34.png)
As you can see the wrong item is shown as being encoded.

[2018-06-25 10:39] BlobbyBlobby opened #1444 "When I drag a folder in which contained more than 1 files it only did one"
### Description of the problem

When I drag a folder in which contained more than 1 files it only did one

### Steps to reproduce the problem

drag/drop folder containing more than 1 file into handbreak's window

### HandBrake version (e.g., 1.0.0)

Nightly

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

OS and version here.

### Erro

[2018-06-25 11:02] BlobbyBlobby commented on #1444
It might have been that I did not open source window button but dragged-dropped to main window (should it allow this action?)

[2018-06-25 11:02] #1444 closed, assigned to nobody

[2018-06-25 13:54] woodstockathbf commented on #1443
The "save as" on the main screen is the last entry you were working on, to add to the queue. It is NOT the file currently being encoded.

[2018-06-25 17:20] bradleysepos commented on #1442
Please update to HandBrake 1.1.1. You will find the custom anamorphic settings useful, as well as many bug fixes. Let us know if the issue persists.

[2018-06-25 17:21] sr55 commented on #1443
Queue executes in sequential order, so what your seeing is correct.
Status bar is showing you the progress of the current encode + state of the queue (Remaining jobs)

[2018-06-25 17:21] #1443 closed, assigned to nobody

[2018-06-25 17:22] sr55 commented on #1442
Also note, It's "Max" width/height so it's bounded to one or the other, not both unless it just happens to fit

[2018-06-25 19:44] krukje commented on #345
Having this feature would totally rock my world. I have hundreds of GBs of videos collected over a decade that I'd love to convert to H265 in batch but as they don't have any tags I rely fully on their creation date for meta data.
One thing that may make this easier is that this feature was previously present in [HandBrakeBatch](https://osomac.com/apps/osx/handbrake-batch/), but the developer stop

[2018-06-25 21:48] bouscram commented on #982
@Zexaron : ffmpeg can convert DVB subtitles to DVD flawlessly.
What I finally did is:
1) Use ffmpeg to convert the DVB stream to mp4 with DVD subtitles (see the command in my comment above)
2) use Handbrake to do scaling/cropping etc.
3) use Subler to convert the DVD subs to text. The result are very good and on the files I used.
You could do just the same with mkv.

[2018-06-25 23:52] sshaikh commented on #51
A web search looking for this option brought me here. I'm actually surprised such an otherwise thoughtful tool has omitted this feature - I actually consider my recoded vintage home videos tainted while they have their "recode date" set in their media creation date tags.

I'm looking at using exiftool somehow to copy over the tags, but for media I have no originals for its all a little sad.

+1 fr

[2018-06-26 05:18] ryanchild commented on #1442
Thanks.  Really like the preview in 1.1.1.
If I save the preset as custom dimensions, 640x480, it comes back with 620x480 when I select the saved preset.  Again keep aspect ratio is unchecked so I don't understand @sr55 's comment that it's bounded to one or the other height/width and not both?

[2018-06-26 18:13] sr55 commented on #1442
HandBrake doesn't upscale.  So if your source, or source after cropping is below the Max width/height, you won't actually get the values specified.

In this case, because your cropping 100, 620 is the correct value.

[2018-06-27 09:40] Rootax opened #1445 "Enhancement : Multiple encodes at the same time via GUI"
Hello,

With the trend of many cores (Intel  79xx , Threadripper, Threadripper "2" up to 32 cores, etc), it's sometime hard to fully utilize new cpus like this, even with the "threads" argument.

Would it be possible to have to options the encode items in queue 2 by 2, or 4 by 4, or even more via the GUI ?  I know we can "workaround" that with multiple handbrake instances, but it's not very "clean

[2018-06-27 13:57] dronezzzko commented on #388
Any updates?

[2018-06-27 15:17] jstebbins commented on #1445
This is something I would like to implement and the necessary infrastructure for it has been started.  But there's quite a lot of work left to do.  So it's not coming soon, but it is coming eventually.

[2018-06-27 15:27] Rootax commented on #1445
It's nice to know it's coming eventually, thx a lot :)

[2018-06-27 19:59] from92714 opened #1446 "Width and Height of the source is changed a little in Dimensions for a specific dimension"
### Description of the problem

It could be that I am understanding things wrong but, as I wrote in the title, the number of Width and Height dimensions in the Dimensions gets a little less on a specific size. That is 852x480 and 640x480 for me. The size becomes 852x476 and 640x476.

I am sorry if this is normal but it seemed quite awkward for me.

### Steps to reproduce the problem

Drag and drop

[2018-06-27 20:02] bradleysepos commented on #1446
By default, HandBrake's official presets automatically crop black borders. In your case it is cropping 2 pixels top and bottom, hence the 4 pixel difference in maximum dimensions. You can change to custom cropping on the video tab and enter all zeroes if you prefer.

[2018-06-27 20:12] from92714 commented on #1446
Wow! That was fast! Thank you very much for responding to my question so fast!

So I'm guessing that this is totally normal and though the source file says its 480 pixels, when it is played on, like VLC media player it will have no difference? If it is so, I guess I was too new for trans-coding video files... well I just kind of wanted to make the file size smaller.

Again, thank you very much for

[2018-06-27 20:15] bradleysepos commented on #1446
Totally normal. It's typically not necessary to keep black borders for consumer playback; your playback software/devices will add black borders on playback if necessary.

You're welcome. 😸

[2018-06-27 20:15] #1446 closed, assigned to nobody

[2018-06-27 20:47] #47 closed, assigned to nobody

[2018-06-27 20:48] sr55 commented on #47
Tracking under #1445 instead.

[2018-06-27 20:49] #1436 closed, assigned to nobody

[2018-06-27 22:01] sr55 commented on #388
No. This is not being worked on as there isn't any developer interest.

[2018-06-28 00:15] mrdeathjr28 opened #1447 "CPU customization instructions for encode ?"
Hi

Maybe can add field for select which cpu instructions can be used

Possible disable AVX / AVX2 - FMA - BMI / BMI 2

Thanks

HandBrake version 1.10.

Xubuntu 18.04 x64

[2018-06-28 07:10] bensuperpc commented on #1447
Why you want disable instructions ? These instructions greatly increase the performance (~ x2 to x8) on modern processors, You can compile the program if you want with some compiler option

[2018-06-28 08:00] jannisborn commented on #453
Sorry for bringing this up again.

@AkuKnives : Would you mind elaborating on _where_ you find the option of setting the default directory to source path in the windows version? I can neither find it under preferences nor anywhere else in the web.

[2018-06-28 18:59] ltspicer opened #1448 "Problem with compiling the newest version from source"
### Description of the problem

I would like to compile Handbrake myself.
Unfortunately, I get an error. See below.

### Steps to reproduce the problem

Sourcecode from https://handbrake.fr/downloads.php
Unpack
cd HandBrake-1.1.1
./configure --launch
cd build
make

### HandBrake version (e.g., 1.0.0)

HandBrake-1.1.1

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra

[2018-06-28 19:25] sr55 commented on #1448
Looks like the version of x264 is either incompatible or missing.

See https://handbrake.fr/docs/en/1.1.0/developer/install-dependencies-ubuntu.html  for all the dependencies that you need to install

[2018-06-28 19:32] sr55 commented on #1447
Why?  This isn't something you really should be messing with and it's certainly not something the vast majority of users would ever use.

x264/6 have the asm option which you can specify in extra args but it's mostly for debugging purposes than anything else.

Other encoders, filters / features simply don't offer the ability so it's not something we can expose even if we wanted to. You'd have to g

[2018-06-28 19:32] #1447 closed, assigned to nobody

[2018-06-28 19:34] sr55 commented on #1401
Any updates?  If not, I'll consider this issue closed.

[2018-06-28 19:53] bradleysepos commented on #1401
@ilovezfs If you can provide the serial build log, I'll take a look.

[2018-06-28 20:02] ltspicer commented on #1448
Thx.
I have the newest x264 from Videolan. usr/local/lib/libx264.so.155
That's why I compile myself ^^

[2018-06-28 20:39] #1442 closed, assigned to nobody

[2018-06-28 20:39] sr55 commented on #1448
including x264-devel?

[2018-06-28 20:52] ltspicer commented on #1448
Like this:
x264 core erneuern:

sudo apt remove x264 libx264-dev
git -C x264 pull 2> /dev/null || git clone --depth 1 https://git.videolan.org/git/x264
cd x264
./configure --prefix=/usr/local --enable-shared --enable-pic --enable-static
make
sudo make install

x264 revision erneuern:

git clone git://git.videolan.org/x264.git
cd x264
./configure --prefix=/usr/local --enable-shared --enable-pic --e

[2018-06-28 23:35] ilovezfs commented on #1401
https://gist.github.com/ilovezfs/5f13f0cb509b449d6e21a975bd4c98a9

[2018-06-28 23:37] ilovezfs commented on #1401
and with V=1 https://gist.github.com/ilovezfs/f2752081671f00b1ecd9a09c04990b4a

[2018-06-28 23:39] ilovezfs commented on #1401
and with --env=std and V=1 https://gist.github.com/ilovezfs/824bd8ec0294582ebc7c9f7bdc3f3c08

All three logs are of f947915145ce0c905f6a1ef64274a0860f642445

[2018-06-29 01:44] bradleysepos commented on #1401
@ilovezfs Please try ac390b630. The two included patches were added shortly after I merged the original upstream fix. These are the only commits I can see related to the issue. Unfortunately, I do not have AVX-512 to test.

[2018-06-29 01:47] bradleysepos commented on #1401
See also https://trac.macports.org/ticket/55800?cversion=0&cnum_hist=2

Are you using Xcode 8.2.1 or later?

[2018-06-29 01:49] ilovezfs commented on #1401
yes 8.2.1

[2018-06-29 01:59] bradleysepos commented on #1401
Try changing this to darwin15: https://github.com/HandBrake/HandBrake/blob/master/contrib/libvpx/module.defs#L39

[2018-06-29 21:00] #259 closed, assigned to nobody

[2018-06-29 21:13] ltspicer commented on #1448
Hmm
Now i compile according to this guide: https://handbrake.fr/docs/en/1.1.0/developer/install-dependencies-ubuntu.html
The same error :(

  : encx264.c:(.text+0x10d8): undefined reference to `x264_encoder_open_155'
  : collect2: error: ld returned 1 exit status
  : Makefile:606: recipe for target 'ghb' failed
  : make[3]: *** [ghb] Error 1

What you mean with x264-devel? Is this libx264-dev ?

[2018-06-29 21:16] sr55 commented on #1448
x264-devel is the package name (although it may vary on some distros) with the development headers. Without those you cannot compile HandBrake.

[2018-06-29 21:17] sr55 commented on #1083
Closing in favour of sticking to native support.
Nvenc and quicksync both have support on Linux.  AMF looks like it might add support too so we'll pick that up when available.

[2018-06-29 21:17] #1083 closed, assigned to nobody

[2018-06-29 21:31] ltspicer commented on #1448
The libx264-dev (see https://packages.ubuntu.com/trusty/libx264-dev) is allways installed.

[2018-06-29 21:31] sr55 commented on #1448
Looks like it's too old.

[2018-06-29 21:39] ltspicer commented on #1448
In my Mint 19 beta * is the version 2:0.152.2854+gite9a5903-2 of libx264-dev
I think, is the newest. Or not?

*Since today it is not more beta ^^

[2018-06-29 23:25] bradleysepos commented on #1448
That's 152, too old. Need 155.

[2018-06-29 23:26] bradleysepos commented on #259
Windows support just landed on master and will be in the next nightly builds.

[2018-06-29 23:39] ltspicer commented on #1448
Ah ok. Yes core 155. Thx
Do you know, how to compile the newest devel on Linux?
On a 2nd computer with LM18.3mate it works perfectly. I compile there Handbrake and it have x264 core 155 and newest revision!

PS:
Oh, i see: on this computer ist libx264-dev (148) deactivated in the Synaptic package manager!
Maybe is this the problem

[2018-06-30 06:07] ryanchild commented on #1442
Thanks for the explanation but there's more going on here.

Presets aside, I can enter 720x480 as the dimensions, and the output shows 720x480, even with cropping 180 off the width.  If I run the encode and check the mediainfo of the output file, it says 720x480.

![image](https://user-images.githubusercontent.com/1109218/42121864-7e82c8d6-7bf4-11e8-9db5-fb66dd3a0865.png)

One thing is the pixel a

[2018-07-01 01:02] sbdallas opened #1450 "Add {drive} as a placeholder for output file names"
### Describe the change or feature you'd like to see added to HandBrake:

When queuing jobs from multiple drives, if the {source} name is the same, there is an output collision which must be manually corrected.  I'd like to see the drive letter added as a placeholder to fix this problem.

### What version of HandBrake are you currently using?

1.0.7 (2017040900) - 64bit

### What operating system

[2018-07-01 03:33] woodstockathbf commented on #1450
Even in the old version you're using, you can put, say, "D:\{source_folder_name} in as the Default Path on the Tools->Preferences->Output files screen.

[2018-07-01 10:15] sbdallas commented on #1450
Yes, but my dedicated ripper has 6 blu-ray drives.  The drive letter needs to be different for every drive.

[2018-07-01 12:06] woodstockathbf commented on #1450
And your ripping software doesn't have the provision for routing the output independently?

I guess I don't understand the workflow that would require this feature in handbrake, rather than your ripping software.

[2018-07-01 13:13] sbdallas commented on #1450
Maybe I'm doing it wrong, but I rip/encode directly from the optical disc using Handbrake.  This requires that the output file be named in the HB queue and if you get a series of a TV show, for example, where every disc has the same source name, say SEINFELD_S4, there are name collisions in the output folder which have to be resolved manually as you queue the jobs.

[2018-07-01 23:13] bradleysepos commented on #1085
Tracking parity:

- [x] E-AC3 7.1 in MP4 passthru on Linux
- [x] E-AC3 7.1 in MP4 passthru on Mac
- [x] E-AC3 7.1 in MP4 passthru on Windows
- [x] E-AC3 7.1 in MP4 passthru on CLI

[2018-07-01 23:23] woodstockathbf commented on #1450
What confuses me is that you refer to the destination drive, when your description is tied more to the (read only) source drive.

Since handbrake is NOT intended for direct ripping, you'll have to make quite a case to the developers to get the source optical disk included in the auto-naming macros.

Have you considered using ripping software instead relying on handbrake? For what you describe, I r

[2018-07-01 23:49] sbdallas commented on #1450
Handbrake may not be intended for direct ripping, but it does an excellent job of it.  I'll try to explain this better...

I have 6 source drives.  D, E, F, G, H, I.  I put in six disks for a season of a TV series, and they all have the same source name, say SEINFELD_S4.  (This happens A LOT with TV series disks.)

My output directory is J:\_handbrake_output and my File Format is {source}-{title}.

[2018-07-01 23:57] pwacooijmans opened #1451 "Support for NVEncC by Rigaya version 4.06 or higher!"
I would like the added support of NVEncC64 because this version DOES support the correct and compatible 10 bit main at high tier of HEVC/h.265

A clear and concise description of what you want to happen.

The Encoder options are as follows:
NVEncC (x64) 4.06 (r784) by rigaya, Jun  2 2018 18:10:09 (VC 1900/Win/avx2)
  [NVENC API v8.1, CUDA 8.0]
 reader: raw, avi, avs, vpy, avhw [H.264/AVC, H.265/HE

[2018-07-02 00:12] pwacooijmans commented on #1451
PS No thx for the help, I like progress :)

[2018-07-02 00:21] pwacooijmans commented on #1451
PPS: MOST loved feature would be to auto detect the masterdisplay string and paste it to the new file. It's SO easy to make a mistake when you need to calculate this by hand.

[2018-07-02 12:30] Vascodaneff opened #1452 "Handbrake doesn't accept DNx (mxf) source"
I read that Handshake can transcode (convert) DNx files (mxf) but it won't accept them. Here's the Activity Log:
HandBrake 1.1.1 (2018061800) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
Ram: 32647 MB,
GPU Information:
  NVIDIA Quadro M2200 - 22.21.13.8216
  Intel(R) HD Graphics 630 - 21.20.16.4627
Screen: 1920x1080
Temp Dir: C:\Users\vasco\A

[2018-07-02 14:49] pwacooijmans commented on #1451
PPPS: I REALLY hope nvenc is NOT a sponsor of you, else I am talking to a wall that will never listen :(

[2018-07-02 14:52] pwacooijmans commented on #1451
cuz personally I REALLY think nvenc has got the worst support EVER...but that's just me I guess. Why?....nvidia brings us the 10x0 series videocards with the claim you can encode 10 bit hdr on it...yet refuses to build the tools to do so.....that's like saying a and doing nothing.

[2018-07-02 15:08] pwacooijmans commented on #1451
So do me a favour and make nvidia wipe that handbrake smirk of their face if you can.

[2018-07-02 16:31] sr55 commented on #1451
Please stop wasting our time with nonsense like this...

HandBrake already supports NVEnc.   The tool you linked to just uses Nvidia's own NVENC API, the same API ffmpeg uses and thus, the same API HandBrake uses.  So the capabilities available for any tools that wish to use it are identical.

[2018-07-02 16:31] #1451 closed, assigned to nobody

[2018-07-02 16:33] sr55 commented on #1452
Have you tried a nightly build?   https://handbrake.fr/nightly.php

This isn't supported in 1.1.x but might be now that we've switched to ffmpeg.

[2018-07-02 18:59] pwacooijmans opened #1454 "HDR10 metadata Support for h265 files made with nvenc"
### Describe the change or feature you'd like to see added to HandBrake:
Since NVEnc does not standard support HDR10 Metadata by my knowledge, would you at least be so kind to add it before removing this post too or please give me the needed string to make this happen IF it is already implemented, OR a link where I can find a help file explaining every command of nvenc shortly?

Many Many Many thx

[2018-07-02 19:10] pwacooijmans commented on #1454
If you need help in adding the metadata I suggest you check out the nvhsp project under this link:
https://github.com/SK-Hardwired/nv_hevc_hdr_patcher
It's at least a start

[2018-07-02 19:14] pwacooijmans commented on #1454
Furthermore sorry for starting off on the wrong foot, but even mediainfo acknowledged I am right about these bitrates AND that the NVEncC output looks better after 4.06 due to the bug I told you earlier.

[2018-07-02 19:47] pwacooijmans commented on #1454
So in short the feature request is support for:
qp_init
vbv-bufsize
maxvideobitrate
vbr avg maximum video bitrate (not the be confused with 2 pass)
passthru of dolby atmos
videoformat (default=undef, pal, ntsc, secam)
chromaloc (0=default=undefined, 1=type 1, 2=type 2, 3=type 3, 4=type 4 and 5=type 5
masterdisplay string as given in x265 standard So G(x times 50000, y times 50000)B(x times 50000,

[2018-07-02 19:58] bradleysepos commented on #1454
Please try to keep repeat comments to a minimum. Consolidate multiple into one if possible. Some of us maintainers get an email every time a comment is posted.

[2018-07-02 20:00] pwacooijmans commented on #1454
Will do sorry

[2018-07-02 20:35] sr55 commented on #1454
Please stop wasting our time.

[2018-07-02 20:35] #1454 closed, assigned to nobody

[2018-07-02 21:47] sr55 commented on #1450
Drive letter is neither a particularly good solution to this problem, nor one that's going to help a very small majority of people working like this.
It's also a Windows only solution and doesn't help Mac/Linux users.

I can't really think of a good solution off the top of my head for the GUI if your encoding direct from disc.

Most users batching are ripping to a drive first, batch naming the fil

[2018-07-04 05:55] jufy111 opened #1455 "Feature Request: Display source video and audio bitrates"
Please forgive me if this has already been requested, I had a quick look around but couldn't find it anywhere.

HandBrake 1.1.1 - Window 7 64bit

Dear Devs,

Love your work so far, however, may I suggest including the display the bitrate for the source file I the video tab as well as the source bitrates for all the audio tracks in the Audio tab.

An example may be when I am transcoding a video (ye

[2018-07-04 06:56] gamecaptor opened #1456 "x264 10-bit Encoder Preset Broken"
Starting on the 7/1 nightly build the Encoder Preset slider does not appear to work.

Initially I wasn't able to make it move at all. Once I messed around with a few other things I was able to slide it back and fourth but it doesn't appear to have any effect.

You can see a screen shot of it here:
https://imgur.com/a/GuVXd4l

This doesn't appear to be a problem with any other Codec.

I have the 6/

[2018-07-04 15:39] barnesma commented on #259
Some users are having problems with nvenc support:
[h264_nvenc @ 000002c127255c00] Cannot get the preset configuration: invalid version (15)

https://www.reddit.com/r/handbrake/comments/8vs7ee/nvenc_support_in_nightly_build/

[2018-07-06 11:28] Vascodaneff commented on #1452
Tried everything. Still doesn't accept DNx (mxf) source.
Fresh ideas anyone?

[2018-07-06 18:35] sr55 commented on #1456
Fixed in 66428ef45042cb19020010e07d2465f9d69e6f06

[2018-07-06 18:35] #1456 closed, assigned to nobody

[2018-07-06 18:37] sr55 commented on #1452
Wouldn't mind seeing the new logs to see if we are seeing the same thing.
Are you able to share a short sample that reproduces?

[2018-07-06 18:38] sr55 commented on #1448
Might be a configure option. I'm not sure.  You'd need to consult their docs.

[2018-07-06 18:38] #1448 closed, assigned to nobody

[2018-07-06 18:41] sr55 commented on #1455
The track information is available in the log after scan but I'm not sure I'd want to see that in the UI. I'll leave it open for now for the other devs to weigh in. Not sure how reliable this would be.

[2018-07-06 21:44] cehoyos commented on #1452
Yes, please provide a sample.

[2018-07-06 22:02] jstebbins commented on #146
Funny, I see nothing in that link regarding font *size*.  SRT has no font size tag.  HandBrake already supports *all* the SRT tags listed in that link.

[2018-07-07 01:31] eskimo-dave opened #1458 "Failure to initialise thread 'FFMPEG encoder (libavcodec)' with Enable Nvidia NVEnc Encoder"
### Description of the problem

Starting an encode using either video codec of H.264 (Nvidia NVEnc) or H.265 (Nvidia NVEnc) fails on start.

### Steps to reproduce the problem

Select preference "Enable Nvidia NVENC Encoder" enabled.
Select H.264 (Nvidia NVEnc) as Video Codec.
Start Encode.

### HandBrake version (e.g., 1.0.0)

HandBrake Nightly 20180705185139-66428ef-master (2018070601)

### Oper

[2018-07-07 10:11] HazMatt69 opened #1459 "Don't allow configure options on unsupported platforms. (i.e. --enable-nvenc on mac)"
ERROR: nvenc requested, but not all dependencies are satisfied: ffnvcodec

If you think configure made a mistake, make sure you are using the latest
version from Git.  If the latest version fails, report the problem to the
ffmpeg-user@ffmpeg.org mailing list or IRC #ffmpeg on irc.freenode.net.
Include the log file "ffbuild/config.log" produced by configure as this will help
solve the problem.
make

[2018-07-07 10:40] sr55 commented on #1459
don't use the --enable-nvenc option on Mac. It's not supported on that platform.

I'm looking into adding VideoToolbox support (which I believe is utilising Intel QuickSync but sadly, Apple have even crippled that. You can't take full advantage of that hardware either.

[2018-07-07 13:21] GilDev opened #1460 "Bug: encoding not starting when destination is a file"
### Description of the problem

When you “browse” to the destination save folder, you can’t select a file (they are all grayed out), but if you drag and drop a file on the browser (like we would do with a folder), it actually selects the file and then the encoding will fail.

![handbrakebrowsebug](https://user-images.githubusercontent.com/3149748/42411242-096d4fb6-81f9-11e8-9200-0cdbc7b04cc1.png)

[2018-07-07 13:29] bradleysepos commented on #1459
There's a bug in our configure.py that doesn't properly prevent some parameters from being used on unsupported platforms. It's on my list to correct in time.

[2018-07-07 14:23] sr55 commented on #1458
Can you try choose a different preset.  I'e Fast, Medium, or Slow.  Maybe the full range of presets simply isn't supported on older hardware.  (We don't have any 9-series to test)

[2018-07-07 17:15] elfring opened #1461 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [hb_strdup_printf](https://github.com/HandBrake/HandBrake/blob/fb1fe80d8cc9c65a1e3a030c0c61a81134c5efe2/libhb/common.c#L5226 "Print formatted output") ⇒ [x264_lib_open](https://github.com/HandBrake/HandBrake/blob/c85294a8f0bce69d5cb417f60a143663fb83772a/libhb/encx264.c#L58)
- [malloc](http://pubs.openg

[2018-07-07 17:51] aleczadikian commented on #146
Yeah, I think I pasted the wrong link. The text formatting options are all unofficial, and there's no real standard. SubRip has no font size. VLC and some other things support a size attribute in SRT like this: `<font size="16px">phrase</font>`. Ended up biting the bullet and figuring out how to burn those subtitles in with VLC.

[2018-07-07 17:57] elfring opened #1462 "Improve const-correctness"
[I suggest](https://forum.handbrake.fr/viewtopic.php?f=12&t=13411&p=66218#p65499 "Improve const-correctness") to add the key word “const” to the type specifiers for parameters like the following.
* frame_src (function “[hqdn3d_denoise_temporal](https://github.com/HandBrake/HandBrake/blob/a8b4a5afbe95e1f08e71c781ac214eba57b3480b/libhb/denoise.c#L89)”)
* log (function “[ghb_log](https://github.com/H

[2018-07-07 18:03] bradleysepos commented on #1462
If you are offering to improve const correctness across HandBrake, feel free to submit pull requests for your patches. Thanks. 😸

[2018-07-07 18:11] nickwhite2018 opened #1463 "VCE encoder not working after NVenc merged to master-branch"
### Description of the problem

After NV encoder has been added or with that change something broke the VCE encoder.
I can select the video codec but as soon as I click Start Encode it exits.
Initially i thought is related to a the video driver but with the older commit it just works.

### Steps to reproduce the problem

Select H.265 AMD VCE codec.
After click on start encode the application will

[2018-07-07 18:25] sr55 commented on #1461
Any particular reason?

[2018-07-07 18:26] elfring commented on #1461
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html "Checking more return values") a bit more.
Would you like to detect every error situation as early as possible?

[2018-07-07 18:31] sr55 commented on #1461
Where there is value, but it's not reasonable to expect every error condition to be detected and handled. The sheer number of possible error conditions that we could face make it impractical to code for them all.

So, it's really about dealing with the situations that are likely to occur.

HandBrake doesn't have a security context and shouldn't be used in security sensitive environments.

[2018-07-07 18:37] elfring commented on #1461
* How do you think about to improve [static source code analysis](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2C_C.2B.2B "Tools for code analysis") also for this software?
* Are you interested to apply [aspect-oriented software development](https://aspectc.org/ "Software development with AspectC++?")?
* How do you think about to encapsulate error detection and correspond

[2018-07-07 18:50] sr55 commented on #1461
I'm not sure what your goal is here?

As I say, HandBrake takes a pragmatic approach to error handling. AOP doesn't really solve any problems in our use case.

[2018-07-07 19:00] sr55 commented on #1461
Patches for code cleanup are always welcome. Those interested can talk to us first on IRC.

[2018-07-07 19:00] #1461 closed, assigned to nobody

[2018-07-07 19:00] elfring commented on #1461
* Aspect-oriented programming has got the potential for advanced solutions. Would you like to improve any software components in such a design direction?
* How do you think about to reduce efforts for error code checking by [an exception class hierarchy](https://isocpp.org/wiki/faq/exceptions#exceptions-eliminate-ifs "What are some ways try / catch / throw can improve software quality?")?

[2018-07-07 19:01] #1462 closed, assigned to nobody

[2018-07-07 19:01] sr55 commented on #1459
Do we have an open bug for that or shall we rename this one to accommodate?

[2018-07-07 19:02] sr55 commented on #1452
Wonder if this is related to #881

[2018-07-07 19:06] bradleysepos commented on #1459
Can rename this one to suit.

[2018-07-07 23:07] sr55 commented on #1458
Actually, Your running an unsupported driver. That'll need updated before this is going to work.

[2018-07-07 23:40] DeeDeeG commented on #457
Hi all,

The `aom` repo has a [`v1.0.0` tag](https://aomedia.googlesource.com/aom/+/v1.0.0) now. And the [specification document](https://aomediacodec.github.io/av1-spec/av1-spec.pdf) for AV1 no longer claims to be a draft, instead basically saying "This version of the spec is tied to the `v1.0.0` tag at the `aom` repo."

There is no official announcement from AOMedia about this yet, and I'm not e

[2018-07-08 01:37] jstebbins commented on #457
When it's ready, we'll work on it.  It's not ready.

A new tag doesn't mean there's been any meaningful change.  In fact I would be exceptionally surprised if much (if any) headway has been made on the speed of this encoder.  These things just don't happen overnight.  I expect this to take a year or more.  And as I have said already (again repeating myself *sigh*) we will be monitoring progress an

[2018-07-08 06:31] eskimo-dave commented on #1458
Thanks for the suggestions. Updated driver to latest WHQL and latest Handbrake nightly and NVENC now works! Ran multiple configs, H.264 and H.265 with no issue. Encode rate at same quality settings from 80fps via CPU only to 250fps.
Interestingly output was on average 4x larger than via CPU, but I'll play with settings and see what happens.

[2018-07-08 08:50] sr55 commented on #1458
Note, the quality slider is not the same for the 20 encoders.  RF20 on x264 is not the same as CQ20 on NVEnc.

Infact, just in general, NVEnc only supports a subset of features that x264/5 do, so it's non trivial to compare.

What I can say, is that NVEnc is roughly equivalent to x264 superfast preset.  I can't comment on the quality slider as i've not extensively tested that.
It does have a tende

[2018-07-08 08:50] #1458 closed, assigned to nobody

[2018-07-08 09:01] sr55 commented on #457
I'm going to limit this topic to collaborators for now as it's not adding any value to the discussion with the repetition.

We will post updates if and when there are any meaningful changes that would indicate we are getting close to a usable encoder.

Thanks

[2018-07-08 11:39] ischilling commented on #733
This issue is indeed not solved, e.g. European Version of CASTLE - here Season 7 - all discs are stalling at around 50% to 70%.

The Activity Log for this is:

HandBrake 1.1.1 (2018061800) - 64bit
OS: Microsoft Windows NT 10.0.17134.0 - 64bit
CPU: AMD Ryzen Threadripper 1950X 16-Core Processor
Ram: 130945 MB,
GPU Information:
  Radeon RX Vega - 24.20.11021.1000
Screen: 2560x1440
Temp Dir: C:\Users

[2018-07-08 11:52] ischilling opened #1464 "Handbrake stalls at 50% when reading discs"
### Description of the problem
When trying to convert CASTLE Season

### Steps to reproduce the problem

Insert any of CASTLE season 7 discs and start scanning them. I tried this with 6 different devices of different generations, the is from my point of view related to the disc structure.

### HandBrake version (e.g., 1.0.0)

HandBrake 1.1.1 (2018061800) - 64bit

### Operating system and version (

[2018-07-08 12:02] sr55 commented on #1464
HandBrake does not support removal of copy protection or fixing of structural issues with sources. My guess is the latter applies in this case.

Try something like MakeMKV and run the output of that through HandBrake.

[2018-07-08 12:12] ischilling commented on #1464
Hi, I thought so first too - and checked that of course before the bug report here; hopefully I am still right and it is not copy protection related.

Here is the MakeMKV log - scanning part.

MakeMKV v1.12.2 win(x64-release) started
Automatic checking for updates is enabled, you may disable it in preferences if you don't want MakeMKV to contact web server.
Using direct disc access mode
Calculated

[2018-07-08 12:35] ischilling commented on #1464
As an addition to the above, running MakeMKV did work entirely without any flaw. If the log is needed, just tell me.

[2018-07-08 12:48] ischilling commented on #1464
After carefully reading the log again and looking into Handbrake settings I found a work-around:

In Preference - Advanced - DVD Reading I did check Disable LibDVDNav for the discs in question. This worked perfectly... it's maybe a feature request, but I think the import process should a) monitor itself and b) perhaps automatically should fall back to this work around ?

To the here reported bug i

[2018-07-08 12:55] sr55 commented on #1464
It's not a good workaround. It has it's own set of problems associated with it when you run into structural issues like this.

MakeMKV works well because it strips away all the crap so that's what why so many folks use it.

[2018-07-08 14:30] ischilling commented on #1464
I fully agree - however, it works at least for my purposes. However, maybe Handbrake should take over some of the MakeMKV strippings...

[2018-07-08 14:43] sr55 commented on #1464
Copy protection, structural protections and just generally bad mastering (deliberate or not) isn't something that interests us.  It's a constant game of cat and mouse for those that choose to play that game and there are good tools such as MakeMKV that are regularly updated to deal with every new problem that crops up.

Take AnyDVD for example. They had a team of people working on this, and were i

[2018-07-08 19:04] gkemperle opened #1465 "NVEnc not utilized, only CPU"
Using latest Nightly version I have selected the H.265 NVEnc encoder, but only my CPU gets utilized. Attaching the log with all the data. I have manually stopped the encoding.
[log.txt](https://github.com/HandBrake/HandBrake/files/2174006/log.txt)
![gpu-z](https://user-images.githubusercontent.com/38737189/42422994-4c99fc2c-82f2-11e8-88df-7aa19290c73e.gif)
Am I doing something wrong?

[2018-07-08 20:17] sr55 commented on #1465
Couple of points

- Windows is reporting a different (older) driver version than your screenshot. The driver version windows is reporting is below our minimum requirements.  Appears something is a bit dodgy with the driver install on your system,
- Seeing high CPU usage is normal, especially on lower end dual core parts, it wouldn't be abnormal to see it maxed out.  Remember, Video Decode, Crop, S

[2018-07-08 20:21] #1464 closed, assigned to nobody

[2018-07-08 22:45] Nomis101 opened #1466 "[macOS] Some more not localizable strings"
There are some more strings in the macos part, which can not be localized. This are the following strings:

Down from here all the "NSString stringWithFormat" strings
https://github.com/HandBrake/HandBrake/blob/master/macosx/HBJob%2BUIAdditions.m#L129

The "Any" item
https://github.com/HandBrake/HandBrake/blob/master/macosx/HBLanguagesSelection.m#L91

FPS
https://github.com/HandBrake/HandBrake/blo

[2018-07-08 22:48] Nomis101 opened #1467 "[Enhancement] MVC-3D support"
I need to say, I don't know how complex this will be or if this can only be fixed upstream, but I would love to see MVC support in HandBrake for MP4. I have some 3D BluRays which I can convert into MKV using MakeMKV. The video codec is mostly '`Mpeg4 MVC High@L4.1/StereoHigh@L4.1`'. If I convert this videos into MP4 in HandBrake, the 3D movie is converted into 2D.
In ffmpeg a 3D movie can be recog

[2018-07-08 23:23] paco1038 opened #1468 "Issues with Handbrake 1.1.1"
### Description of the problem

Video is chopped up and covered by green and blue pixels or not even visible at all. I literally have no idea what could be causing this.

### Steps to reproduce the problem

Open source. Once analyzed, the previews show screenshots of the corrupted video.

### HandBrake version (e.g., 1.0.0)

HandBrake 1.1.1
### Operating system and version (e.g., Ubuntu 16.04 LTS,

[2018-07-09 00:38] PokeCaptain commented on #1468
It seems like you're using Handbrake to rip an encrypted/protected DVD, which Handbrake doesn't support. Try ripping it with MakeMKV, then converting it with Handbrake.

[2018-07-09 02:48] woodstockathbf commented on #1464
The author of MakeMKV has chosen not to make his software open-source or to license it in a way that would be compatible with handbrake in any case. Attempting to "take over some of ... the stripping" of any of the commercial products would quickly overwhelm the time the handbrake team spends improving how handbrake does what handbrake is supposed to do...

[2018-07-09 10:22] cehoyos commented on #1467
The first issue is not missing encoder support but that there is no (free) decoder for MVC.

[2018-07-09 10:40] Nomis101 commented on #1467
OK. If you search the web, there is really not much. I only found some old GitHub projects for x264.
https://github.com/gurunathan/SHP-MVC-x264
https://github.com/Britz/FFmpeg
I wonder why 3D is so barely supported.

[2018-07-09 14:37] woodstockathbf commented on #1467
Perhaps because even the TV manufacturers have almost all dropped 3D support?

https://www.lifewire.com/why-3d-tv-died-4126776
https://www.cnet.com/news/shambling-corpse-of-3d-tv-finally-falls-down-dead/
https://www.digitaltrends.com/home-theater/manufacturers-kill-off-3d-tv-home-theater-enthusiasts-fire-back/

[2018-07-09 15:19] Leiradi opened #1469 "HandBrake is not able to read rightly many DVDs"
### Description of the problem

I have been converting all my original DVDs. Half of them have been converted wrongly, since preview of these files looks like pixeled and painted in green. These DVDs are played perfectly in my PC, but when I try to load them in HandBrake, they are not correctly read. There is not the same problem I have suffered when DVD is protected. In that case, Handbrake notic

[2018-07-09 15:39] ischilling commented on #1464
@sr55 , @woodstockathbf I am fine with the clear positioning of handbrake - and since I found a solution even satisfied  👍

Thank you for your instant support (bow)

[2018-07-09 17:05] gkemperle commented on #1465
You're right, thanks you so much for the input! I've updated the video driver (even though the previous one was installed less than two months ago) and reduced filters to minimum (Very Fast profile). Now I finally see Video encode chart climbing to 35%. Other filers are not so problematic but NLMeans (which I really wanted to use, specifically Animation) is absolutely killing my CPU therefore Vide

[2018-07-09 17:12] #1465 closed, assigned to nobody

[2018-07-09 17:40] sr55 commented on #1469
This is copy protection. HandBrake does not support the removal of copy protection of any kind. Most folks use tools such as MakeMKV to remove any protections, structural issues or bad mastering first, before feeding it's output to HandBrake.

[2018-07-09 17:40] #1469 closed, assigned to nobody

[2018-07-09 17:40] sr55 commented on #1468
What ^ said :)

[2018-07-09 17:40] #1468 closed, assigned to nobody

[2018-07-09 17:42] sr55 commented on #1467
Not much HandBrake can do in this instance. Even if there was, there is a general move away from 3D. (History once again repeating itself) so It's not something i'd expect to see any investment in I'm afraid.

If the situation changes in the future, we may re-visit but for now, I'm afraid it's not something we can deal with.

[2018-07-09 17:42] #1467 closed, assigned to nobody

[2018-07-09 19:03] sr55 commented on #1463
Yup, can reproduce easily enough.

[code]

Then specifying  framerate causes  a crash later.  Something funny going on with the encoder context.

[code]

[2018-07-09 19:50] sr55 commented on #1463
*facepalm*  Should be fixed now.  3fd0764cf9b85895cba83bb54790edcbd2ef018b

Thanks for the report.

[2018-07-09 19:50] #1463 closed, assigned to sr55

[2018-07-09 22:18] nickwhite2018 commented on #1463
Thank you, works perfectly now :) Good that was a typo and not something more complicate.

[2018-07-10 10:53] galad87 commented on #1460
I can't reproduce it on 10.13. The open window is set to allow only folders, if it let select a file it's a bug in macOS. 10.12 open windows have got additional bugs that were fixed in 10.13 too.

[2018-07-10 10:53] #1460 closed, assigned to nobody

[2018-07-10 15:13] galad87 commented on #1466
It should be better in 44d7c56f5551c2b862811c70ae457fd5f2a5c797

[2018-07-10 15:38] Nomis101 commented on #1466
Thank you very much!

[2018-07-10 15:44] raderb opened #1471 "Update German Translation from Transifex Project"
### Describe the change or feature you'd like to see added to HandBrake:

I have translated the whole GUI on the Transifex Website (v. 1.1.0) into German.
Can you please update the German Translation from Transifex for the Linux GUI?

### What version of HandBrake are you currently using? (e.g., 1.0.0)

Version 1.1.1

### What operating system and version are you running? (e.g., Ubuntu 16.04 LTS,

[2018-07-10 15:54] bradleysepos commented on #1471
Thank you! Our Linux developer will take a look.

[2018-07-10 19:25] #1466 closed, assigned to nobody

[2018-07-10 20:05] Nomis101 commented on #1466
The string `"Chapter %d"` is the one that numbers the chapters consecutively under the chapters tab, right? But why is it still in English after putting the localization in the Localizable.strings file? Are the chapters numbered from another string?

[2018-07-11 00:20] nsayer opened #1473 "1.1.x crashes after scanning on Mojave"
After picking a DVD handbrake crashes immediately upon completion of the scanning.

The same disk works fine on High Sierra.

Process:               HandBrake [620]
Path:                  /Applications/HandBrake.app/Contents/MacOS/HandBrake
Identifier:            fr.handbrake.HandBrake
Version:               1.1.0 (2018040700)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
R

[2018-07-11 07:09] galad87 commented on #1466
No it's not, it's the one in the description in the queue. The actual chapter title was not localised yet, I fixed it in cd26253e5adcaa0a0c7ee7d9067f6d2d1d2f4112

[2018-07-11 07:18] galad87 commented on #1417
I create the project on Transifex. You can export/import translation in Xcode by selecting the HandBrake project in Xcode source list, and by going in the Editor menu -> Import/Export Localization. It will generate a .xliff file. I think it should be possible to import your existing German localisation in Transifex.

[2018-07-11 07:38] Nomis101 commented on #1417
Thanks for doing this. I generated such a de.xliff file yesterday. But it contains only the English strings. I need to find out how to export all my localized strings in the de.xliff.

[2018-07-11 10:01] lrvk123 opened #1474 "HandBrake GUI: cannot use QSV on Linux (Fedora 28)"
**_EDIT: To successfully build QSV support on Fedora 28, Intel Media SDK "MediaStack" must be installed
EDIT2: The QSV does not work with GUI, it is usable on CLI_**

### Description of the problem
QSV is not enabled on Fedora 28
2. latest git source build does not include QSV support

Following the Fedora / Build on Linux guide and using latest Fedora 28 86_64, the option for QSV encoding is not

[2018-07-11 15:36] Nomis101 commented on #1417
I have created the de.xliff file. Could you guide me, where I can find the Transifex project you created and how to upload my xliff file there?

[2018-07-11 16:24] evodoc commented on #1434
Would it be still problematic if the "Preview" function would use those ranges?

[2018-07-11 16:24] galad87 commented on #1417
Eh, I forgot the link :(
https://www.transifex.com/subler/handbrake-1/dashboard/
You need to create an account, and then I have to invite you as a collaborator.

[2018-07-11 16:42] sr55 commented on #1434
Yes.

[2018-07-11 17:10] Nomis101 commented on #1417
I have created an account and clicked on "Join team" on your project.

[2018-07-11 19:23] sr55 commented on #1474
I assume you have the official Intel GPU drivers and Media SDK pack installed?

[2018-07-12 13:35] nealcrocker opened #1475 "Encoding Range in Seconds does not work in 1.1.1"
### Description of the problem

When you select a video to encode and specify in seconds the length of the video to produce, Handbrake ignores this and encodes the entire source video.

### Steps to reproduce the problem

1. Select a video file (in my case I selected a wmv)
2. Select Range to be Seconds
3. Enter and end duration to be 10 secs less than end time
4. the new video in VCL says the ori

[2018-07-12 15:08] galad87 commented on #1417
I committed it, seems to work. I had to manually copy some strings from HandBrakeKit to HandBrake because it seems NSLocalizedString inside a framework is not the right thing to do :|

[2018-07-12 15:08] #1417 closed, assigned to galad87

[2018-07-12 15:40] Nomis101 commented on #1417
Cool. But why does the de.lproj not contain the Localizable.strings and InfoPlist.strings files? The Localizable.strings contains a lot of additional important strings.

[2018-07-12 15:48] galad87 commented on #1417
Xcode placed it inside a build folder that git ignored. Should be fixed now.

[2018-07-12 18:08] Nomis101 commented on #1417
Thanks. Works for me. I asked some people from my german Mac user forum to try the Nightly and check the localization.
For now I found only one glitch, some localizations in the Advanced tab are too long. If you find the time, maybe you could do this auto layout thing in the Advanced tab, you did for #1404?

[2018-07-12 19:02] sr55 commented on #1417
The Advanced Tab is long overdue for retirement so I'm not sure it's worth worrying about. It's hidden by default these days anyway.

[2018-07-12 20:11] Nomis101 commented on #1417
OK. One last question. If I (or somebody else) find some improvements for my localized strings, is it fine if I just edit them in Transifex (I did so already)?

[2018-07-13 00:00] codeman6100 opened #1476 "Application crashing without starting up due to clr.dll in .Net framework."
### Description of the problem

Hanbrake crashes immediately.

### Steps to reproduce the problem

Click icon in windows start menu.

### HandBrake version (e.g., 1.0.0)

1.1.1

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10 1803

### Error message text or screenshot

Faulting application name: HandBrake.exe, version: 1.1.1

[2018-07-13 03:45] domihb opened #1477 "Add a way to make HandBrakeCLI do a forced subtitles scan without an encode"
It would be really nice if there was a way to get HandBrakeCLI to do a forced subtitles scan of a source without having to actually do an encode.

What I envision is making this work:

`HandBrakeCLI --title 1 --scan --subtitle scan --input somedvdimage`

Note that I did not specify a `--native-language` parameter or an `--audio` track, because I want the scan to be done and report for **all** lang

[2018-07-13 05:36] domihb opened #1478 "Forced subtitle scan is not performed unless 'scan' is the first --subtitle"
### Description of the problem

When a forced subtitle scan is attempted using `HandBrakeCLI`, the special `scan` subtitle value is not obeyed unless it is the first subtitle in the `--subtitle` list.  The operation of the special `scan` value should not be dependent on position, as a specific and different ordering may be desired.

### Steps to reproduce the problem

Run HandBrakeCLI against a DV

[2018-07-13 08:37] galad87 commented on #1417
Yes.

[2018-07-13 09:02] lrvk123 commented on #1474
Intel drivers come with recent mainline kernels.
What part of the Media SDK is needed for the install - HandBrake documentation does not mention any here:
https://handbrake.fr/docs/en/latest/developer/install-dependencies-fedora.html

[2018-07-13 09:53] AnnomaLee opened #1479 "DNxHD/DNxHR MXF OP1a 4k 60fps (over 30fps)"
### Description of the problem

Handbrake won't accept my file, when it's over 30fps. I would like to process a 3840x2160 60fps file with the DNxHR codec. It doesn' matter, if I it's a mxf file or a mov file, as long as it's 60fps and the DNxHR codec, Handbrake won't accept it, unless I go down to 30fps.

My main goal is to make this game look good on video, with the grass and bushes being as deta

[2018-07-13 10:29] cehoyos commented on #1479
Please provide a short sample.

[2018-07-13 14:12] AnnomaLee commented on #1479
https://drive.google.com/file/d/12FeCkB_h6JYhN03YxnvXmuw9LIHyAxHz/view?usp=sharing

[2018-07-13 14:26] cehoyos commented on #1479
Since the sample works fine with FFmpeg and fails with avconv, I suggest you test a HandBrake nightly binary:
https://handbrake.fr/nightly.php

[2018-07-13 15:07] AnnomaLee commented on #1479
It accepted the file and is processing it right now, I will be certain, when it's done, but I already want to say, thank you very much for your help :-)

[2018-07-13 15:13] bradleysepos commented on #1479
Glad you got it working. Closing as fixed in upcoming HandBrake 1.2.0.

[2018-07-13 15:13] #1479 closed, assigned to nobody

[2018-07-13 16:12] CvH commented on #839
@bradleysepos sorry to bug you again (I can open a new issue if you like), after trying around to get some proper quality from some poor DVD source I needed EEDI2 to get some proper results, but an encode with EEDI2 uses just ~25% of my CPU for some reason and there are no other "good" deinterlacers available.

So I tried around (StaxRip Fork) and found that EEDI3 is faster + uses the CPU properly

[2018-07-13 17:36] bradleysepos opened #1480 "Port EEDI3 filter to HandBrake."
GPL 2.0. This is probably the best starting point: https://github.com/Elegant996/EEDI3

[2018-07-13 17:36] bradleysepos commented on #839
Most EEDI3 implementations are SIMD optimized, so they'll better make use of your CPU. I'd like to get that into HandBrake at some point as it's GPL2.0. I've [created an issue](https://github.com/HandBrake/HandBrake/issues/1480) but no ETA as my time is limited for the moment.

QTGMC and mClean depend on a lot of external code so I'm probably not going to work on these.

[2018-07-13 18:01] sr55 commented on #660
Closing.

If anyone see's a repeat of this, running latest drivers on hardware that is still under support by Intel, please let us know.

For those running older hardware, maybe best to say on 1.0.7 or earlier.  While that doesn't fix the problem, it does seem to happen slightly less often in these versions. Also, those running very old intel drivers may be unaffected.

[2018-07-13 18:01] #660 closed, assigned to bradleysepos, maximd33

[2018-07-13 18:32] CvH commented on #839
tx for your efforts, I basically just wanted to get the ball rolling - regardless how long it takes :)

yea I was unclear how much dependencies are already there

[2018-07-13 19:15] AlBundy33 commented on #660
After over one year where multiple users reported this bug you are just closing this report?

Does this mean that users always have to have up-to-date hardware to use handbrake?

[2018-07-13 19:23] sr55 commented on #660
Yes, I'm closing this since we've not had any reports using the latest drivers running on Hardware that Intel still supports.

We don't have any workarounds for this issue for older hardware and Intel no longer support it so we have no options in this instance. It's not by choice.

[2018-07-13 19:28] bradleysepos commented on #660
Compatibility can be a moving target, especially where hardware and third party drivers are involved.

@AlBundy33 Are you still seeing this issue with HandBrake 1.1.1 and your 4700K?

[2018-07-13 19:37] sr55 commented on #1476
Did this ever work after installing 1803 update package?

- Update Graphics drivers. (For all adaptors. On board and discrete)
- Run the .NET Repair tool.  https://www.microsoft.com/en-gb/download/details.aspx?id=30135
- If your running any tools like RivaTuner, System / GPU monitors / screen capture etc, try temporarily removing them.
- I assume you've done a re-install of the app?  It's also wor

[2018-07-13 19:37] sr55 commented on #660
I'd be surprised if he wasn't. We've done nothing that would fix it.

[2018-07-13 19:55] AlBundy33 commented on #660
Ist there no option to implement some kind of legacy mode to support "older" hardware?
With 0.10.5 I don't have this problem.
But to be honest I think last tested version from me was 1.0.7.

[2018-07-13 20:33] sr55 opened #1481 "Improvements to the JSON API"
Updates to make the JSON API more Human and Machine friendly.

Changes:
- [ ] Change Filter "ID" field to be "Name" which utilises the filters short name,
- [ ] Update the Filters object to allow "preset" and "tune" to be defined for supporting presets.
- [ ] Add Anamorphic Mode to "PAR" object.

Statistics:
- [ ]  Provide Mux information / average bitrates etc. VMAF if we ever add it.

[2018-07-13 20:56] maximd33 commented on #660
@AlBundy33 pls check the latest HB version and driver from https://downloadcenter.intel.com/download/27780/Graphics-Intel-Graphics-Driver-for-Windows-15-40-?product=97500

[2018-07-13 21:01] sr55 commented on #660
huh, surprised to see a new driver for this hardware. Looks mostly like a security update though so I'm not expecting this to work unless the release notes don't mention any other fixes that are included.

I do still have a 4770K around so I'll throw it on a batch of 1000 over the weekend see if it turns up.

[2018-07-14 00:13] codeman6100 commented on #1476
Thanks for the reply.  Unfortunately none of it worked.  I double checked graphics drivers and ran the repair tool, still no luck.  I attempted reinstalling once more and it still failed.  Then I tried the nightly, but according to Event Viewer it is also crashing in the exact same way (same version of .net).  Let me know if you want any other info.  I will keep trying the nightly as it is updated

[2018-07-14 10:13] sr55 commented on #1476
Unfortunately it's not something I can fix, so updating isn't likely to make any difference.

There is some kind of bug or conflict going on here at the operating system level. Aside from re-installing windows (which another user did do) and installing applications in case it's a conflict with other software, there isn't currently any more practical solutions :(

I'll leave this open in Awaiting f

[2018-07-14 11:57] onlyahuman commented on #660
as before, if 0.10 version works perfectly and 1.x is not - it is not a problem of "unsupported by intel" hardware. because change was introduced by you and not by intel. It is reasonable to think that only you can fix it, but not reasonable to expect a fix for an open source software, I understand

[2018-07-14 12:04] sr55 commented on #660
You do realise that Intel drivers *fixed* this problem right?
So to make a statement that this is our problem, is infact incorrect and relies on faulty assumptions.

The changes to Quicksync support in HandBrake are correct, and don't exhibit this problem when using the latest drivers from Intel.

[2018-07-14 12:29] onlyahuman commented on #660
this problem does not exist on the same old hardware with any driver version and same old HB version.

the only variable is the HB version, nothing else. so blaming drivers does not seem to be justified by anything.

and even in this thread, at least 2 types of issues were reported.

[2018-07-14 13:39] sr55 commented on #660
...  There are literally *dozens* of variables at play here.  You clearly don't understand how this operates, so either educate yourself on this or stop wasting our time.

The second issue (-21) has already been resolved.

Locking this thread as it's not adding any value at this point.

[2018-07-14 17:08] AlBundy33 opened #1482 "Addition to QSV issue #660"
@sr55 can you please unlock #660 again?

I'm currently running some tests with nigthly build.

It seems that this may an issue with command line arguments but I'm not 100% sure yet.

My original test command line was this
`for /L %i IN (1,1,5) do HandBrakeCLI-20180713220901-3c303e2-master-win-x86_64\HandBrakeCLI --input "bbb_sunflower_1080p_60fps_normal.mp4" --output "test_master-%i.mkv" --encoder

[2018-07-14 17:12] bradleysepos commented on #1482
Care to fill in the details? :smile_cat:

[2018-07-14 17:17] AlBundy33 commented on #1482
done - I`ve accidently pressed shift and return while entering the title :D

[2018-07-14 17:34] sr55 commented on #1482
I literally give up. If your not going to listen to me, I see no point in continuing this conversation.

You've literally provided no evidence that even remotely shows that HandBrake is at fault.  You need to understand how this works at a deep technical level, in order to be able to make an even remotely useful set of assumptions as to what the problem may be. Blindly making assumptions helps no-

[2018-07-14 17:34] #1482 closed, assigned to nobody

[2018-07-14 17:58] AlBundy33 commented on #1482
@sr55 Why are you writing that I don't listen to you and just close the issue?
I'm just trying to help you to maybe provide a fix that helps all users to update to a current version of handbrake.
And as far as I know, my comments were always factual.

It's not a blind assumption - it's an observation.
And if your write "when we switched away from the legacy code path" this sounds to me that there

[2018-07-14 18:01] AlBundy33 commented on #1482
@bradleysepos @maximd33 what do you think about this issue?

[2018-07-14 18:09] bradleysepos commented on #1482
I have no comments because I'm not at all familiar with this portion of the code base, sorry.

[2018-07-14 18:19] AlBundy33 commented on #1482
@sr55 I've checked the log and did some sresearch for "ERROR: encqsv: MFXVideoENCODE_EncodeFrameAsync failed (-17)
" and found out that -17 = MFX_ERR_DEVICE_FAILED.
So I think this is the part when you are saying that this is an drive issue.
--> As far as I know you have not written this in any comment.

Is it possible that you can do something in handbrake to fix or at least workaround this issue

[2018-07-14 18:29] AlBundy33 commented on #1482
Or maybe one of this entries: https://software.intel.com/en-us/search/site/language/en?query=MFXVideoENCODE_EncodeFrameAsync+MFX_ERR_DEVICE_FAILED+

[2018-07-14 18:38] codeman6100 commented on #1476
Sounds good I will keep messing around with it when I have time.

[2018-07-14 18:48] sr55 commented on #1482
HandBrake uses the (libmfx / MediaSDK) API.  Essentially, the Hardware along with the Intel Driver is what is responsible for managing said hardware, doing the actual encoding and interfacing through the system through Direct3D.

MFX_ERR_DEVICE_FAILED is an error code that is returned from the API and as you've just found, is not unique to HandBrake. As you've found, this problem is not unique to

[2018-07-14 20:23] AlBundy33 commented on #1482
I really understand that you don't want to support different versions of qsv and that family etc. comes first.
Have you tried to ask someone on https://software.intel.com?
-> I would do that but I have no idea how to describe the issue. :-/

[2018-07-15 00:28] AlBundy33 commented on #1482
@sr55 This is strange - if I remove all video-arguments from command line it seems to work.
doesn't work
`for /L %i IN (1,1,5) do HandBrakeCLI-20180713220901-3c303e2-master-win-x86_64\HandBrakeCLI --input "bbb_sunflower_1080p_60fps_normal.mp4" --output "test_master-%i.mkv" --encoder qsv_h264 --quality 20.0 --decomb --detelecine --crop 0:0:0:0 --loose-anamorphic --format mkv --markers --title 1 --a

[2018-07-15 01:35] tamusjroyce commented on #388
+1... For how informative this is. Not in requesting this feature. But the honesty. So why doesn't anyone wanting this feature fork this project and give it a try? You don't have to be a developer. But you might end up as one. Also, who but developers log into GitHub?

[2018-07-15 12:57] fmvdb commented on #345
Would be great to have HandBrake keep the original EXIF information. Any progress on this?

[2018-07-15 13:33] sr55 commented on #345
Nothing has changed.

[2018-07-15 13:45] maximd33 commented on #1474
@lrvk123 pls follow recent driver installation steps described at
https://github.com/Intel-Media-SDK/MediaSDK/releases/tag/MediaSDK-2018-Q2.1

[2018-07-15 13:51] maximd33 commented on #1482
@AlBundy33 I can try to make a special test build to enforce usage of DX9 for your HW and to see it help, will you be able to try it?

Even if would help, it will lead to fragmented DirectX support, where HB alone cannot be responsible for as  DX11 is more flexible on recent HW and different setups.

[2018-07-15 14:13] sr55 commented on #1482
I wouldn't waste your time screwing around with settings.  The Error bars on the test scenarios are so large it makes it difficult to draw anything meaningful conclusions.  with any reasonable level of certainty.  There is anecdotal evidence that load / throughput does impact it so in theory slowing it down, or allowing it to run faster, may or may not help.

As max has alluded to, we have a good

[2018-07-15 14:40] AlBundy33 commented on #1482
@maximd33 we can try to see if it helps.

Was DX9 used in 0.10.5 and when switched you to another version?
According to https://forum.handbrake.fr/viewtopic.php?f=9&t=38005 I have avg 145fps with 0.10.5 and only 60fps with nightly build.

[2018-07-15 15:57] maximd33 commented on #1482
@sr55 fully agree with you and DX is the last try

@AlBundy33 there was such switch: DX9 to DX11, yes.
interesting that we have a new turn: from -17/error to fps difference.

[2018-07-15 16:00] sr55 commented on #1482
FPS difference is to be expected.   Probably a mixture of lack of qsv decode, zero copy and running through software filters which are a bottleneck. It's not related to which D3D Code path is used.

[2018-07-15 16:06] Anton1699 opened #1483 "Remember Interlace-Detection from first pass"
### Describe the change or feature you'd like to see added to HandBrake:

I'm currently transcoding a lot of video that is only partially interlaced. I was scrolling throught the log files and I noticed that both passes run interlace detection. And because, at least as far as I'm aware, the two passes always yield the same result, I wondered whether it would be possible to just carry over the dete

[2018-07-15 17:01] AlBundy33 commented on #1482
@maximd33 as mentioned before without any video arguments it seems that I don't get the -17.
That the fps are lower then in 0.10.5 was just an observation while I tested vec (https://forum.handbrake.fr/viewtopic.php?f=9&t=38005)

[2018-07-15 17:03] maximd33 commented on #1482
ok,as for the performance - @sr55 already gave full details,
it will be changes to improve it.

[2018-07-15 18:52] Another-Coding-Nerd opened #1484 "Import/Export Preset Problems"
### Description of the problem

I was trying to export and then import some presets with minor changes. I noticed a problem where the HQDN3D custom would not export. When I edit the exported .json file and add "4:4:9:9" (or any text actually) into the custom definition, the import seems to destroy my audio and subtitles settings.

### Steps to reproduce the problem

export half of the bug
1) setup

[2018-07-15 21:55] RitaLee79 commented on #146
Hi, after following reubenbrown13 comment I could customize font, size and styles. Now I would like to customize line spacing following this blog article : https://www.md-subs.com/line-spacing-in-ssa

`{\org(-2000000,0)\fr<value>} Line one, {\r} \N line two.`

Sadly I don't have the knowledge to find where in code I can add that line flags. Also depending how the code works maybe it's also needed

[2018-07-15 23:03] codeman6100 commented on #1476
So for no apparent reason (I made no changes to my system), the nightly and V1.1.1 are now working.  The only thing I can think that could have fixed it was a kernel crash that happened last night force rebooting my system.  I question this though since I had previously tried rebooting.

If the problem returns I will let you know, but otherwise everything seems good now.

[2018-07-16 08:08] vishalatwork opened #1485 "Can we have some feature in Handbrake CLI to export a frame as an image ?"
Much Like ffmpeg supports extracting images from video , I want similar feature in Handbrake CLI.

https://stackoverflow.com/a/10962408/1018054

If its already there let me know.

[2018-07-16 08:36] galad87 commented on #1484
The custom denoise string you used is invalid. The preset settings are sanitised when saved/imported. I guess in a perfect world it should warn you if a setting is invalid. The custom textfield tooltips has got some info on the syntax, I don't know if the HandBrake documentation has got the same info.

[2018-07-16 09:38] maximd33 commented on #1482
@AlBundy33 try https://drive.google.com/file/d/1wvse17wDeF9YF8fuPS5PXkT24_EnwXHt/view?usp=sharing
1a7d5600c22214bf897c9279f6a5351c md5sum

[2018-07-16 13:15] Dinky1905 opened #1486 "Only 1st file ripped from DVD"
Hi,

I have a DVD with 9 chapters. When I rip it, only the first chapter is used instead of all 9, although the chapter tab in Handbrake is showing all 9 chapters and the convert range is shown as chapter 1-9
What can I do about this ?

I am using version1.1.1

[2018-07-16 16:42] woodstockathbf commented on #1486
Handbrake is not intended for ripping from protected optical media, and there is no guarantee it will be able to decode every variation of DVD authoring.

What happens if you rip the disk with ripping software, such as MakeMKV or AnyDVD, then feed the result to handbrake?

[2018-07-16 16:45] woodstockathbf commented on #1485
Handbrake does not support export to GIF or JPG.

In addition to ffmpeg, you can also use the snapshot feature of VLC to preview and "snap" a picture out of a video.

[2018-07-16 17:27] sr55 commented on #1486
Can't really say much since you ignored the posting template that requests the information we require to be able to help you.

Please, provide an activity log.

[2018-07-16 17:28] sr55 commented on #1485
Thanks for the suggestion but I'm afraid this kind of feature is out of scope for this project. We are not trying to be a swiss army knive tool like ffmpeg but focusing on transcoding.

[2018-07-16 17:28] #1485 closed, assigned to nobody

[2018-07-16 18:06] paleG1 opened #1487 "Encoding 720p59.94 Source to CFR 720p29.97 Results in Jerky Motion in Output File."
### Description of the problem

Encoding a 720p59.94 ProRes file to a constant frame rate 720p29.97 x264 output file results in jerky motion in output file.  This is a relatively new issue.  Handbrake 1.0.7 does not have this problem.

### Steps to reproduce the problem

Use a 720p59.94 ProRes file as the source.
Format: MP4
Web Optimized: checked
Width: 1280
Height: 720
Anamorphic: Automatic
Modu

[2018-07-16 19:59] AlBundy33 commented on #1482
@maximd33 unfortunately still the same. :-(

[code]

[2018-07-16 20:24] maximd33 commented on #1482
@AlBundy33 it already gave log info, checking now...

[2018-07-16 21:05] AlBundy33 commented on #1482
I also did some research and found this two entries
https://software.intel.com/en-us/forums/intel-media-sdk/topic/606141
https://software.intel.com/en-us/forums/intel-media-sdk/topic/544961

In the first link they are talking about two implementations where the user has the same issue with simple_3_encode where simple_3_encode_vmem seems to be the better and faster one.

They are also talking abou

[2018-07-16 21:18] sr55 commented on #1482
Dude, enough already. All your doing now is wasting our time covering things we've already looked at.
This is not helping.

[2018-07-16 21:21] AlBundy33 commented on #1482
So you already knew that connecting the monitor to the integraded graphics cards seems to workaound the issue?

I'm sorry, I just wanted to help...

[2018-07-16 21:23] sr55 commented on #1482
Yes, we already knew that using the monitor attached, or a dummy VGA connector allows QuickSync to work in multi-gpu environments in D3D9. This is already widely discussed in the forum when we first released QS.

1.0.x uses D3D11 so is irrelevant now.  Error -17 happens regardless of where the monitor is attached.

[2018-07-16 21:34] AlBundy33 commented on #1482
But as mentioned I could do some encodings with nightly build after I've connected the monitor to my integrated graphic card.
-> slower (~45fps) but without error.

To enable qsv while connected to the discrete graphic card I followed this tutorial.
https://github.com/AlBundy33/hb_rb/blob/master/Intel%20Quick%20Sync%20Video%20on%20Desktop%20PC%20with%20PCI-E%20graphics%20card.pdf

[2018-07-16 21:39] Dinky1905 commented on #1486
Appeared to be a mechanical problem: dirty spot on surface.

[2018-07-16 21:40] #1486 closed, assigned to nobody

[2018-07-16 21:43] sr55 commented on #1482
Not sure why you think that a single test case means it’s fixed when I’ve already stated it’s not .  For most people, this error doesn’t happen every time.
We already have seen error in the condition above so it’s clearly not fixed by this.

[2018-07-16 21:57] AlBundy33 commented on #1482
I've only said that I have the same problem with return code -17 in all cases and after connecting the monitor to my integrated graphic cards it seems to be gone.
Maybe @Anbarocrator @cybergrimes @brucefagan @NebularNerd from #660 can check this too (hopefully they get informed)...

[2018-07-16 22:16] sr55 commented on #1482
Thread Locked.  This behaviour will no longer be tolerated here.

[2018-07-17 06:18] vishalatwork commented on #1485
True @sr55 , I agree on your points , Thanks for taking time to review suggestion.

Will implement it using ffmpeg only :+1:  :+1:

[2018-07-17 13:22] ahmeed-dhon opened #1488 "Application crash on start"
### Description of the problem

HandBrake crashed when opening

### Steps to reproduce the problem

Open the app from Start Menu search

### HandBrake version (e.g., 1.0.0)

v1.1.1

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 7 Professional SP1

### Error message text or screenshot

[code]

### HandBrake Activity Log ***req

[2018-07-18 00:59] Another-Coding-Nerd commented on #1484
Thanks for your quick reply and your time reviewing this. I will look into it.

[2018-07-18 00:59] #1484 closed, assigned to galad87

[2018-07-18 04:18] kdorff commented on #898
Oh unfortunate. I have a script I run a half dozen times a year that makes queues for Handbrake to rip. I've dropped back to 0.10.5 until I re-write my script to just use Handbrake CLI instead of making queues, I suppose.

[2018-07-18 12:55] galad87 commented on #1484
After 45f24decdf2bb41c8eac24ead218d05fbd92955a it will warn you if enter malformed custom values.

[2018-07-18 14:35] xanda-escuyer commented on #414
We downloaded HB 1.1.1 today and have experienced exactly the same issue reported by **dd45th** on **9 May 2017**.
Main difference is our system is not part of a domain - just a simple stand-alone laptop running Win 7 x64 Ultimate.
Is there something we could do at install time, for example a command line switch, that would sort this? If not, is there any more feedback to be had on this issue plea

[2018-07-18 17:47] sr55 commented on #1488
Windows 7 and later
C:\Users\username\AppData\Roaming\HandBrake
C:\Users\username\AppData\Local\HandBrake

Delete all the files in the following folders to reset HandBrake to defaults.

This issue is fixed in the nightly build. It's basically corrupted data that it can't parse.

If you have any problems doing this, please let us know.

[2018-07-18 17:47] #1488 closed, assigned to nobody

[2018-07-18 19:41] joecap5 opened #1490 "Can't add multiple subtitle tracks"
### Description of the problem

I just updated to 1.1.1 and am unable to add more than one subtitle track. All 8 are listed in the drop down menu but I can only select one.

### Steps to reproduce the problem

Load an mkv or DVD. Go to subtitle tab. Select add new track or add all remaining tracks. No tracks will be added.

### HandBrake version (e.g., 1.0.0)

1.1.1

### Operating system and versi

[2018-07-18 19:42] joecap5 commented on #1490
Don't think I attached the log correctly:
[activity_log3484.txt](https://github.com/HandBrake/HandBrake/files/2207117/activity_log3484.txt)

[2018-07-18 19:43] sr55 commented on #1490
You only provided a scan log, so I can only assume your trying to use PGS in MP4, in which case, only one is possible and is a limitation of the container, not HandBrake.

[2018-07-18 19:58] joecap5 commented on #1490
The behavior is definitely different than version 1.0.7 where I added multiple subtitle tracks to mp4 without issue. I'm using the general presets.

[2018-07-18 20:12] woodstockathbf commented on #1490
Yes, but 1.1.x doesn't quietly let you TRY to add things that won't be compatible, like 1.0.x and earlier did...

PGS has been incompatible with MP4 for as long as PGS has been around. And versions prior to 1.1.x of handbrake warned you that you could only add one PGS subtitle track, but didn't prevent you from trying.

[2018-07-18 21:30] sr55 commented on #1490
1.0.7 would silently drop incompatible tracks in many instances which caught people out. 1.1.x fixed this by simply preventing you from adding more tracks than the container supports.

Your only real option here is to use MKV if you want multiple PGS subtitle streams.

Also, watch not to confuse different subtitle types. Container support varies depending on the format of the subtitle.