[2017-04-09 16:43] #668 closed, assigned to bradleysepos, jstebbins

[2017-04-10 01:31] solidmaple commented on #456
is this ever going to be fixed?

[2017-04-10 16:04] sr55 commented on #661
0a8dde9d78fc57ef19e53f50405e9a3124802267

Should correct the "32kbit" problem as well. "None" wasn't a valid option. I've made the dropdown encoder aware so it will only show valid options now. Select the highest to have the best chance of avoiding a mixdown.

[2017-04-10 16:04] #661 closed, assigned to sr55

[2017-04-10 16:05] sr55 commented on #469
This an upstream bug then?

[2017-04-10 17:12] jstebbins commented on #469
I would categorize all crashes as bugs.  qpmin=0 is an invalid input, but it shouldn't crash on invalid input.  There is a relative easy fix.  I just haven't gotten around to submitting it.  I have a backlog of libav patches that I need to get back to work on and get them through the review process.

[2017-04-10 17:20] jstebbins commented on #456
Yes.  When I have time to fix it.

[2017-04-10 19:50] jstebbins commented on #650
Your source file has gaps in the audio stream.  Here is a snip from the audio timestamps in the mp4
[code]
An audio frame is 1024 ticks in this case.  Everywhere you see a SampleDelta that is not 1024, there is an audio gap.  HandBrake does not produce files with such gaps.  We always make sure that every point in the timeline has a valid frame associated with it.  One reason we do this is to impr

[2017-04-10 20:25] jstebbins commented on #650
@siriusboehm FYI, we're having a discussion regarding this audio gap handling code in HandBrake.  I've been wanting to simplify this code for some time now and eliminate the silence insertion and video dropping.  But we need to do some testing.  Historically QuickTime and other apple players have been the problem players when it comes to mp4 files.  But I don't know if they have this particular pr

[2017-04-10 21:56] jstebbins commented on #650
So we did some testing and it turns out QT doesn't handle gaps well (loss of A/V sync).  Probably the reason the code was written this way from the beginning since HandBrake was very much OSX focused in the early days.

So I'm afraid we're going to have to keep the video frame drop logic for such use cases.  If you don't want dropped video frames, you can transcode the audio.  That will cause Hand

[2017-04-10 22:01] #650 closed, assigned to jstebbins

[2017-04-11 00:56] cehoyos commented on #438
How can an mpeg program stream be "raw video"?

[2017-04-11 00:57] cehoyos commented on #469
Is this crash also reproducible with FFmpeg?

[2017-04-11 13:29] sr55 commented on #666
Another user on our forum reported the same thing.  Except rivatuner was also affecting it.

It would appear GPU monitoring applications are triggering many applications to fail with an error message such as this.

[2017-04-11 18:27] #456 closed, assigned to bradleysepos

[2017-04-11 19:26] #602 closed, assigned to jstebbins

[2017-04-12 01:34] bradleysepos commented on #667
Closing. @xenomorpheus feel free to reply if you are able to provide a sample.

[2017-04-12 01:34] #667 closed, assigned to jstebbins, galad87

[2017-04-12 06:23] j-theislander opened #669 "UI redesign for macOS"
First of all, sorry I'm posting this under issues, I just don't know how else to reach the community. I did a UI redesign for the macOS application. The screenshots are listed and explained in [a blog post](http://anitchforthings.com/blog/ui-design-handbrake). I did it as a hobby practice, and wanted to share it with the developers and the community of the application.

[2017-04-12 10:35] mccartybr opened #670 "AAC downmix forced to 96kbps"
### Please describe the problem or feature request in detail:
Supply an mp4 input file with one h264 video track ac3 audio track 384 or greater kbps bitrate
output to 1 aac stereo or dplii - aac downmix + ac3 passthru
regardless of the bitrate settings for the aac track, the bitrate in the output (according to ffprobe) is always exactly 96kbps.
By comparison, 'aac passthru', passing aac directly t

[2017-04-12 11:02] mccartybr commented on #670
first line of activity log missing above
Here it is:

[06:45:19] gtkgui: HandBrake 1.0.3 (2017022500) - Linux x86_64 - https://handbrake.fr

[2017-04-12 18:53] bradleysepos commented on #669
Thanks for sharing. Nice polish and some good ideas there, particularly bringing the presets to the fore a bit. The ability to remove sources after scanning is an interesting observation.

Of course, as you mention, HandBrake has a power user leaning. We continue to realign various areas of the UI as time allows; the picture settings tab is due for an overhaul perhaps in 1.1.0. So while there are

[2017-04-12 18:53] #669 closed, assigned to bradleysepos

[2017-04-12 19:21] jstebbins commented on #670
I think this is the same problem as this
https://forum.handbrake.fr/viewtopic.php?f=5&t=35980

Could you try setting samplerate to auto in audio defaults and see if it fixes the bitrate issue?

[2017-04-13 01:54] solidmaple opened #671 "whenever i use the button "cancel" while scanning. i have problem adding source in the future."
whenever i use the button "cancel" while scanning.  i have problem adding source in the future.

It does get fixed if i quit handbrake and start handbrake again

version:  HandBrake-20170412-420f90f_x86_64-Win_GUI.exe

[2017-04-13 18:50] sr55 commented on #671
What happens when you try to add a source?

Please provide the activity log / error info as requested.

[2017-04-13 19:39] solidmaple commented on #671
it freezes/stops  at  100% or 99%

[2017-04-13 19:41] maximd33 commented on #660
short update: issue has been reproduced and fix is in progress

[2017-04-14 02:22] milewski opened #672 "1.0.7 havent been pushed to linux ppa?"
[https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases](https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases) i have upgrade one of my libs to use 1.0.7 but my tests fails in linux as the version still 1.0.4

[2017-04-14 03:53] bradleysepos commented on #672
They are the same on Linux; 1.0.7 fixes some release build/packaging issues on other platforms. @jstebbins didn't push another ppa build because it isn't technically necessary.

I'm not sure what you mean by updating a library for HandBrake 1.0.7. Are you having an issue with some package manifest specifying an incorrect version? Unless John plans to push an identical 1.0.7 for my sanity 😆 , the p

[2017-04-14 04:28] ghost opened #673 ".TS-to-HEVC encode stuck at 99.96%, produces unk error, but output seems ok before and after manual stop, still keeps queue from auto-continuing"
## Please describe the problem or feature request in detail:
- frozen encoding process (progress bar, percent at 99.96 - GUI and "elapsed time" still working)
-- imo inability to detect a stalemate situation when presented with such an input scenario from a .TS file
-- imo activity log does not provide more details as to what is going on, wishing for more verbose output in such cases

The problem

[2017-04-14 05:22] milewski commented on #672
in the release here in github it's saying these was addressed in linux

#### Linux

- Fixed video preset control not updating
- Fixed audio passthru masks not updating until preset save
- Fixed application of SRT subtitles offset
- Updated translations: af, cs, ja_JP, ru, sk, sv

My problem isn't really a problem with HandBrake usage but with my CI testing `HandbrakeCLI --version === '1.0.7'`.. wi

[2017-04-14 05:46] bradleysepos commented on #672
Yes, those items were actually addressed in 1.0.4. There are no new commits for Linux [between 1.0.4 and 1.0.7](https://github.com/HandBrake/HandBrake/compare/1.0.4...1.0.7). Sorry if the release notes are confusing in this regard; at the time I did not realize we wouldn't be syncing the version numbering.

So it would appear your CI setup doesn't or isn't configured to deal with differing version

[2017-04-14 05:54] milewski commented on #672
Yeah maybe then i probably will just check if the version is 1.0.* instead of being specific .. as usually the last number wouldn't mean any breaking change anyway 👍

[2017-04-14 05:55] bradleysepos commented on #672
That's the idea! Cheers.

[2017-04-14 05:55] #672 closed, assigned to jstebbins

[2017-04-14 10:47] ausrobperth opened #674 "Handbrake issue with referance frames exceed max"
### Please describe the problem or feature request in detail:I have put the same video through both Handbrake and Any Video Converter for the purpose of adding Subtitles and ability to play on DVD player.
Prefer Handbrake as subtitles can be hard (burned in) or soft (switchable on or off)
The conversion runs OK through both programs but the Handbrake version now has problems with the video breakin

[2017-04-14 14:53] versus666 opened #675 "Handbrake x265 encoder doesn't use anymore FilterList ID 11 settings : no scaling possible and weird pixel aspect ratio in log"
### Please describe the problem or feature request in detail:
Since a few weeks I noticed Handbrake wasn't rescaling x265 encodings anymore. I thought it was related to pixels aspect ratio or anamorphism options but after fiddling with them, no. Handbrake encode in x265 with the original video dimensions, whatever the ones manually specified. x264 isn't affected so I believe the x265 encoder was c

[2017-04-14 16:59] sr55 commented on #671
Log?

[2017-04-14 18:05] ghost opened #676 "Enhancement: Additional GUI and Log progress indication for decoding process in certain MPEG-TS scenarios"
### Please describe the problem:
- long preparation delay without any indication of the state of the program or the current progress
- no details in activity log even with Extended verbosity

### Please describe the feature request:
- an additional GUI indication (progress bar, text) for the progress of the decoding process
- additional activity log details signaling the start and end of the read/

[2017-04-14 18:50] sr55 commented on #674
Your dropbox link doesn't work. You also need to post a full activity log.

HandBrake doesn't use ffmpeg so that's a moot point. We use libav and it looks like it's complaining bout your source being broken.

We can submit a file upstream to them and they can decide whether to add a workaround or leave as-is.

[2017-04-14 18:50] sr55 commented on #673
Got a sample file you could upload that reproduces this?

[2017-04-14 19:51] sr55 commented on #674
Can you also do me a favour and try a nightly build to see if that helps

[2017-04-14 20:05] sr55 commented on #675
Can you please screenshot the dimensions tab as I can't re-create this.

Also, is this build from our PPA?

[2017-04-14 20:23] MakuSensei opened #677 "Problem with subtitle ASS with styles and karaoke (Anime)"
The problem is that the subtitles are superimposed letters. I'll put an example of the mp4 version with Handbrake and the original mkv version

Original
![image](https://cloud.githubusercontent.com/assets/16900914/25054970/8df10ebe-2136-11e7-9262-410cd5691146.png)
Handbrake
![image](https://cloud.githubusercontent.com/assets/16900914/25054995/ab167c54-2136-11e7-91eb-f4dc5d5a4800.png)

As shown in

[2017-04-14 21:22] sneaker2 commented on #674
The link text is working but the link got messed up somehow.
https://www.dropbox.com/sh/63r0rtqj26vto2e/AAAI75R504Pu9H8RpmRaD9rZa?dl=0

Same problem (picture breaks at 00:27) with HandBrake-20170414-5dd46e3_x86_64-Win_GUI.exe nightly. Activity log in attachment.
[log.txt](https://github.com/HandBrake/HandBrake/files/922981/log.txt)

[2017-04-14 21:35] jstebbins commented on #676
LinGui and CLI shows the following under the conditions described

[2017-04-14 21:50] jstebbins commented on #675
Where did you get the version of HandBrake that you are running.  There is no such 5dd46e3 hash in our git repository.  So this is *not* our code.

[2017-04-14 21:52] jstebbins commented on #677
Can you supply a sample of the original please so we can reproduce this ourselves?  Also, we need to see an activity log for your encode.

[2017-04-14 22:01] MakuSensei commented on #677
Hello the file is in this torrent can test with the lightweight files that are the ending and opening.
https://www.frozen-layer.com/descargas/106918-saenai-heroine-no-sodatekata-episodio-happi.torrent

[2017-04-14 22:04] jstebbins commented on #674
Thanks for the sample.  There is an error in the file at that position, but libav seems to be handling it poorly.  I'll look into it and see if I can find a way to improve behaviour.

[2017-04-14 22:09] jstebbins commented on #677
And your activity log?  We don't even know what version of handbrake you are running since you ignored the issue template we helpfully provided and didn't give us any of the information we request from everybody.

[2017-04-14 22:14] MakuSensei commented on #677
The problem I have been seeing from version 1.0 to the most recent 1.0.7 in 64-bit version in windows 10

[2017-04-14 22:26] bradleysepos commented on #675
@jstebbins Commit is on master branch.

[2017-04-14 22:28] bradleysepos commented on #677
Closing.

@MakuSensei If you wish to provide an [activity log](https://handbrake.fr/docs/en/1.0.0/help/activity-log.html), feel free to comment with the log and we'll reopen to take a look.

[2017-04-14 22:28] #677 closed, assigned to nobody

[2017-04-14 22:31] jstebbins commented on #675
Ugh, sorry.  I forgot to "git pull" first.  It's a very recent build.

[2017-04-14 23:12] jstebbins commented on #675
Ok, I located the problem.  It's a combination of bad input and a bug.  The bad input is you selected "Custom" for the filter, but did not populate the Custom value.  An empty string is an error here.  I should probably pre-populate "Custom" with the default setting whenever it's selected.  So I'll look into that as well.  The bug is improper handling of a filter that fails due to the above mentio

[2017-04-14 23:17] jstebbins commented on #675
Fixed in a0fefda

[2017-04-14 23:17] #675 closed, assigned to nobody

[2017-04-15 02:28] ghost opened #678 "Log: Decoder error events produced when reading corrupt input data while searching start-point are not differentiated from those who's frames are included in encoding"
### Please describe the problem:
- slight confusion may be caused in certain non-indexed source scenarios (MPEG-TS) where the start location for the encoding job is further ahead and the decoder reports some errors during the starting-point search process, these errors are still shown as in the same way as they would if their frames(data) were included in the job's encoding process. In this case t

[2017-04-15 02:41] ghost opened #679 "Feature: Add MPEG audio layer 2 (MP2) Passthrough support"
Part of the mission to retain original audio quality - avoiding recode to AC-3 in my case.

### What version of HandBrake you are running:
1.0.7

### What operating system and version and you running
Windows 7 x64 Ultimate SP1

[2017-04-15 03:56] ghost commented on #673
Here:

https://mega.nz/#!fFknkBqJ!V_8MmpRcYjVKRWbr_I5YiDu8T_WQW-zW30dBi45-Hm8

EDIT; (the left side is the bugged and right is the working in WinMerge diff example)

[2017-04-15 07:13] ausrobperth commented on #674
Thanks sneaker2
Thanks jstebbins

[2017-04-15 10:26] sneaker2 commented on #677
The main problem is that the font is not loaded. If you change its name in the ASS track from "Ashemore Softened Condensed Med" to "Ashemore Softened Condensed Medium" HandBrake will load it. There will still be small rendering differences compared to e.g. MPC-HC/XySubFilter, though.
MPC-HC/XySubFilter:
![ed_original_mpc-hc-xysubfilter](https://cloud.githubusercontent.com/assets/8726180/25062925/b

[2017-04-15 11:28] sr55 commented on #676
The logging is already sufficient for us so I don't see any need to change that. You can already tell when muxing completes.

I have however added support for Muxing and searching states so that progress will atleast display text even if it can't necessarily show progress.

[2017-04-15 11:28] #676 closed, assigned to sr55

[2017-04-15 11:33] sr55 commented on #678
Sorry, but we neither control libav logging, or can tell with any kind of certainty whether many of the errors will actually result in a problematic output.

[2017-04-15 11:33] #678 closed, assigned to nobody

[2017-04-15 14:21] jstebbins commented on #678
Any errors after

are in the encode.  Errors prior to this happened while searching for the start point.

[2017-04-15 14:37] jstebbins commented on #670
I'm going to assume the forum post is the same problem
Should be fixed in 9a22ae2

Closing. If you continue having this problem after updating to a nightly build, feel free to let us know and we'll reopen.

[2017-04-15 14:37] #670 closed, assigned to jstebbins

[2017-04-15 18:15] ghost commented on #678
Thanks for clarification. Understood.

[2017-04-16 00:10] solidmaple commented on #671
https://pastebin.com/AhnnnPzB

in this log i opened source J:  and before it could finish, i pressed cancel button
i opened source J: again and it won't finish  (stuck at 100%)

if i didn't press cancel the first time then  everything would have worked fine
and i have to restart handbrake if i want to add source again.

[2017-04-16 04:59] ghost opened #680 "Feature: Preferences option to customize default source range selection"
### Please describe in detail:
I find myself having to always spend time clicking to set to "seconds" - it's getting taxing on multitasking.

### What version of HandBrake you are running:
- 1.0.7

### What operating system and version and you running:
- Windows 7 x64 Ult SP1

[2017-04-16 05:13] ghost opened #681 "AutoFilename: Cannot leave same output base filename"
### Please describe the problem:
Default file format adds "-1" to the end of the base filename, removing the file format to an empty box creates "_T1_C1" suffix. There doesn't seem to be a way to simply copy the base filename and replace the extension appropriately, as I'm always outputting to another location completely.

### What version of HandBrake you are running:
- 1.0.7

### What operating

[2017-04-16 09:59] #671 closed, assigned to sr55

[2017-04-16 10:03] sr55 commented on #681
See Tools -> Preferences -> Output Settings
Make sure it's set to "{source}" only with 3 checkboxes below turned off.  (You don't currently have that set correctly)

[2017-04-16 10:03] #681 closed, assigned to nobody

[2017-04-16 10:27] ghost commented on #681
Correct. One thing I didn't try for some reason.

[2017-04-16 11:55] duytrung opened #682 "Request: Convert a video file to mp3"
### Please describe the problem or feature request in detail:
I don't know how to use handbrake to extract the audio part of a video file. Is it possible to request for this feature?
### What are the steps to reproduce this problem:
Choose a video file and convert it to mp3
### What version of HandBrake you are running:
1.0.7 2014040900 64bit
### What operating system and version and you running (

[2017-04-16 15:28] sr55 commented on #682
Sorry, HandBrake doesn't support this. It's a video transcoder.  You'll probably want to look for a muxing tool that supports your input format to extract the audio component.

[2017-04-16 15:28] #682 closed, assigned to nobody

[2017-04-16 15:43] bdkjones commented on #619
Why not just find an Apple Developer who can sign the binary for an official release? For example, I'd be happy to sign Handbrake with my developer account.

Code Signing, while annoying, is definitely a net-win for everyone and you guys should not be shipping an unsigned app in 2017.

[2017-04-16 15:57] Boggartfly commented on #619
Legal issues. Who owns Handbrake? The person who would be in charge of the
developer account should be invested in the project. An organization
account makes sense. How can we help? I guess there needs to be a legal
entity so that it can apply for a account. Also who pays for it? Lot of
questions with no or difficult answers.
Guys who is the lead developer of Handbrake? Maybe he can shed some ligh

[2017-04-16 16:11] bdkjones commented on #619
Mmm, I don't think it's unreasonable to have a single appointed person to build the release for macOS and then sign it with their account. That person need not "own" Handbrake; they're just the designated responsible party for building and signing the releases.

I agree that the ideal solution is to have a legal entity that owns Handbrake and has its own developer account. But it sounds like that'

[2017-04-16 16:13] Boggartfly commented on #619
People don't really know who are the stakeholders. You'd need a lawyer to
process all the legalese.

On Sun, Apr 16, 2017, 9:41 PM Bryan Jones <notifications@github.com> wrote:

[2017-04-16 16:20] sr55 commented on #619
It's not owned by 1 person. It's managed by 3 developers.  (3 King principals)   Any one developer moves on and we try swap another trust worthy individual in.  2 out of 3 developers need to agree to move forward with something and so on.

Having this bound to a single developer is a single point of failure. We all have busy lives and don't always have time to contribute to HandBrake. So, if said

[2017-04-16 16:28] Boggartfly commented on #619
Hmm. I want to help Scott. How can I do that?
I have an iOS dev account.

On Sun, Apr 16, 2017, 9:50 PM Scott <notifications@github.com> wrote:

[2017-04-16 17:25] ajmas commented on #619
Based on the current situation, on the Mac side, maybe we could go with the following approach:

- Have developerX sign the application
- Have a page on the handbrake site indicating who the signing entity is for each version. This acts as a reference for anyone needing to check, in case of doubt.
- If developerX is no longer able to sign, then
   - Establish new signing person
   - Create new rel

[2017-04-16 17:32] bdkjones commented on #619
I agree with this approach, but I might modify it slightly:

1. Have a "pool" of developers who are authorized to build and sign releases. This pool could be two or three developers who are involved in core development or who are vetted by the core developers.

2. Having this "pool" available solves the problem of what happens when you want to release a version but the usual signing developer is u

[2017-04-16 17:34] galad87 commented on #619
Does Sparkle and sandboxing works if you change the certificate?

[2017-04-16 17:40] bdkjones commented on #619
Sparkle should work just fine if you sign the update with a DSA signature and put that in the XML file for Sparkle. Sparkle comes with a couple command line scripts to do that. I've used this before to update an app where I've changed the bundle identifier across major versions.

Sandboxing is a good question. I didn't realize Handbrake *was* sandboxed (it doesn't have to be because it's not in th

[2017-04-16 17:42] galad87 commented on #619
It's not right now, because we needs code signing to enable it. HandBrake uses a lot of libraries, each one with its own share of security issues, sandbox is not perfect, but it will be better than nothing.

[2017-04-16 17:47] Boggartfly commented on #619
So how can I help? Like I said I have a developer account.

On Sun, Apr 16, 2017, 11:12 PM Damiano Galassi <notifications@github.com>
wrote:

[2017-04-16 18:00] sr55 commented on #619
There isn't much you can do to help I'm afraid. For now, this is a problem we the core developers need to figure out.   As bdkjones alluded to above, the developer that has the keys, has to do the build to maintain  trust. This also restricts it to known key individuals.

If/when we figure out how we are going to deal with this, I'll update this thread.

[2017-04-16 19:36] bdkjones commented on #619
I'd say it should be a "when" and not an "if", especially since the writing is sort of on the wall: the option to allow unsigned apps is missing from Security in macOS 10.12. It has to be enabled with a terminal command. It's only a matter of time until unsigned apps are flat-out forbidden.

This should be solved; the can should not simply be kicked down the road.

Sent from my iPhone

[2017-04-16 19:41] Boggartfly commented on #619
So what do you want to do Bryan? I wanted to help. I was wondering how!

On Mon, Apr 17, 2017, 1:06 AM Bryan Jones <notifications@github.com> wrote:

[2017-04-16 23:20] alfmel opened #683 "AV sync issue with mp4 and Roku"
I have a MythTV set up where I record live TV shows (TS streams) that later get encoded to MP4 to play on my Roku. I use Arch Linux. Since HandBrake 1.0, the MP4 files have audio/video sync issues when played on the Roku. The command I use to encode is:

```HandBrakeCLI -i (input).ts -o (output).mp4 -e x264 -q 21 -l 480 -E faac -B 160 -R 48 --keep-display-aspect --decomb bob```

Here are the origi

[2017-04-17 03:59] bradleysepos commented on #683
Please provide an [activity log](https://handbrake.fr/docs/en/1.0.0/help/activity-log.html) as requested when opening a new issue.

[2017-04-17 06:42] tracker1 commented on #259
I know this thread is a bit older, just tossing in me $.02... but I've spent a lot of time the past few months re-ripping and/or re-encoding content to h.265 (got about 3TB of space back on my nas so far, and another 4TB to process (should get more than half back)... I've been more relaxed on quality for h.265 as the blur doesn't bug me nearly as much as artifact blocks in 264.

That said, nvenc s

[2017-04-17 15:50] jstebbins commented on #673
Thanks for the sample.  I'm able to reproduce the problem with it. It appears to be getting hung up in the decomb filter.

I don't have time to dive deeper into this today.  But I get to it soonish.

[2017-04-17 16:00] ghost opened #684 "Feature Request: Estimated bitrate when using Constant Quality(RF setting)"
### Please describe the problem or feature request in detail:
In the video tab, when we select **constant quality** for the video(for example RF 20), it would be extremely helpful if handbrake could show what would be the **bitrate of the output video**. It's frustrating sometimes to spend hours to encode a video and at the end, it doesn't have the video bitrate you wanted and thus it is too big o

[2017-04-17 16:01] alfmel commented on #683
I assumed the source file and outpuf files would be more valuable, but here are the activity logs:

HandBrake 1.0.7
[code]

HandBrake 0.10.5
[code]

[2017-04-17 16:09] sr55 commented on #684
Sorry but this isn't possible. You can't know this without doing an encode. The source plays a big factor in the bitrate.

[2017-04-17 16:09] #684 closed, assigned to nobody

[2017-04-17 16:11] jstebbins commented on #683
Is this only a problem with playback on the Roku?  Or do you see a sync issue with other players as well (e.g. mpv under Arch)?

Newer versions of HandBrake set the edit list in the mp4 file more correctly than older versions and newer versions account for AAC pre-roll samples which older versions did not.  It could be that the Roku doesn't interpret edit lists or AAC pre-roll correctly.

Also, pl

[2017-04-17 16:18] jstebbins commented on #683
FYI, the source an output files are quite helpful, thanks.  We require activity logs for a variety of reasons.  They verify the version of HandBrake being run, and show us the *exact* settings used.  Without these things it's very difficult for us to reproduce most problems.

[2017-04-17 16:20] ghost commented on #684
That is a very strict answer. I know that the source plays a big factor in the bitrate. Can't handbrake encode 1-2 seconds of the video(in the background and **automatically**) and then show the estimated bitrate? Freemake Video converter can show the estimated size and approximate bitrate in an instant, but unfortunately it isn't a great transcoding tool.

[2017-04-17 16:28] bradleysepos commented on #683
Thanks for the log. Looks legit but just to be sure, are you by chance using the AUR package? It's not ours and is known to have issues.

[2017-04-17 16:34] bradleysepos commented on #684
It's an accurate answer. Unfortunately, there are many variables that affect bitrate such as detail, motion, and scene changes. These vary throughout the source. Here's a visual using a typical source after encoding:

![bitrate](https://cloud.githubusercontent.com/assets/70239/25095550/2762b75c-236a-11e7-9556-58da08c3c90e.png)

[2017-04-17 16:35] sr55 commented on #684
Nope. You need to encode a substantial portion of a source before you an you can even get close to accurately predicting output size.

This isn't something Freemake can do either. They only show an estimate for AvgBitrate, not CRF.

p.s  People tend to keep it short when typing on a phone.

[2017-04-17 16:37] alfmel commented on #683
No. It's the official repo package. (handbrake-cli-0.10.5-2-x86_64.pkg.tar.xz and handbrake-cli-1.0.7-2-x86_64.pkg.tar.xz). I can send you the signatures, if you'd like.

[2017-04-17 16:39] sr55 commented on #683
There is no official builds for arch linux, so unless you compiled our source, your using a known broken version. (Whether or not the existing issue is related I can't say). Regardless, make sure you compile from our source.

[2017-04-17 16:40] bradleysepos commented on #683
We don't publish any Arch packages. Sadly, even the "official" Arch packages are truly unofficial and are known to do bad things.

Please take a look at [Where to get HandBrake](https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html) and consider following the [Building for Linux](https://handbrake.fr/docs/en/1.0.0/developer/build-linux.html) guide.

[2017-04-17 16:43] alfmel commented on #683
I've only tried mplayer and it plays it fine. I'm pretty sure this is a Roku issue only.

I will do that. It may take me a while to have some time. Hopefully by tonight (MDT).

[2017-04-17 17:03] alfmel commented on #683
The project may not, but Arch Linux [does](https://www.archlinux.org/packages/community/x86_64/handbrake-cli/). bradleysepos asked if I was using the AUR package which is unsupported by Arch Linux.

I will build from source to test the nightly build. But just as an FYI, Arch Linux does not add any patches. It's not what [they believe in](https://wiki.archlinux.org/index.php/Arch_Linux#Principles).

[2017-04-17 17:11] bradleysepos commented on #683
We're the upstream project, we get to decide what's official and what's unsupportable. Unfortunately, Arch has ping ponged back and forth between straightforward and modified builds.

Packaging is a long and twisted topic for us. Most repos, even Arch, have at least at one point preferred to roll their own broken builds rather than build a static binary, even going so far as to gut Libav in favor

[2017-04-17 17:13] jstebbins commented on #683
That would be a refreshing change from what we see from most packagers.  Most packagers are more concerned with managing "security" issues than they are with the software actually *working*. They substitute our known good tested versions of libraries for their "secure" versions.  This pretty much always breaks something.  Although we understand their reasoning, the results are predictably broken a

[2017-04-17 17:14] bradleysepos commented on #683
To be clear, I forgot Arch had this package and not just AUR.

Anyway, hope we can track down this issue for you. 😸

[2017-04-17 17:32] alfmel commented on #683
Someone has an AUR package to build HandBrake from latest git, so it didn't take me long to get it built and tested.

Unfortunately, encoding with nightly did not solve the problem. The audio/video sync is still an issue. :-(

Here is the activity log. I've also uploaded the new file to the address in the first post.

[code]

[2017-04-17 17:49] jstebbins commented on #683
About how far would you say the A/V sync is off?

[2017-04-17 18:45] Djfe opened #685 "preview is black at the beginning (avi file)"
### Please describe the problem or feature request in detail:
I have several avi's (mjpeg +11khz pcm) from a cheap action cam lying around here.
I noticed, that Handbrake has issues creating previews for them.
But only previews.
A preview from the beginning works fine. But choosing any of the other positions in the middle of the file causes the first seconds to be black, while decoding the audio s

[2017-04-17 18:46] alfmel commented on #683
About 1.0 to 1.5 seconds. The audio is behind the video: you see something before you hear it.

[2017-04-17 18:53] jstebbins commented on #683
Ok, that's definitely a problem with the Roku not handling edit lists properly.  In older versions of HandBrake, when the video starts after the audio, we would extend the length of the first video frame so that it started at the same time as audio.  For example, in the sample you provided, the first video frame starts about 1 second after audio starts. So in this case the old HandBrake would have

[2017-04-17 18:55] jstebbins commented on #683
Another thought.  Is your Roku firmware up to date?  Maybe they've fixed this?

[2017-04-17 20:33] alfmel commented on #683
It's up-to-date. I have 3 different Roku devices, and they all experience the same problem.

[2017-04-18 02:23] enzymes opened #686 "Black background option on captions, positioning and font options"
**It would be great to be able to switch on a black background behind the text for captions, when using the "Burn in" option**

This would save me quite a lot of time as at the moment I have to render out a version of our videos with a black background.

See example below.

Also, having **options of different fonts and being able to choose the position of the captions** would be useful too.

![cap

[2017-04-18 15:21] NeoandGeo commented on #666
More specifically it is the RTSS program and its OSD monitoring that causes the inability to launch Handbrake, MSI Afterburner itself works fine with HB. If you are using RTSS, make sure to either turn off global application detection, or add Handbrake to the list and turn off detection.

[2017-04-18 16:29] ajmas commented on #619
BTW It may be worth contacting the people over at VideoLAN and seeing how they were able to establish themselves, since I see VLC for iOS is associated with "VideoLAN and authors".

One other thing that should be considered is the transferring the ownership of an app:

https://developer.apple.com/library/content/documentation/LanguagesUtilities/Conceptual/iTunesConnect_Guide/Chapters/TransferringA

[2017-04-18 16:40] jstebbins commented on #619
VideoLAN is a legal entity.  https://www.videolan.org/videolan/

They raise money and apply it to such things. The have official meetings of the board where minutes are recorded as required by law, etc, etc. The overhead of creating and maintaining such a legal entity makes it a non-starter for us.

[2017-04-18 21:46] mccartybr commented on #670
Confirmed fixed...thanks for the prompt response

[2017-04-19 04:04] IggySmalls opened #688 "Large AVI files stuck scanning"
### Please describe the problem or feature request in detail:
Captured video from VHS pass through DV, using Movie Maker's Import Video.
8 Files above 86GBs, none of which open
Files below 76GBs open just fine.

### What are the steps to reproduce this problem:
Trying to open a file in Handbake

### What version of HandBrake you are running:
HandBrake Nightly 20170416095940-75fbd0a-master (2017041

[2017-04-19 09:02] hgdagon opened #689 "Can't run configure in MinGW-W64"
When running configure, I get this message:

[code]

If I cd into make and run `pthon configure.py`, I get this:

[code]

This is the latest commit (3 days ago)

[2017-04-19 10:13] bradleysepos commented on #689
What distro and version of Python? Are you using our MinGW-W64 script or system packages? It would be helpful if you could provide the entire output.

[2017-04-19 10:42] tmslnz opened #690 "--use-opencl crashes CLI"
### Please describe the problem or feature request in detail:

Handbrake CLI 1.0.7 crash on Windows 7 Ultimate (64) (latest patch) when using the option `--use-opencl`.
This is consistently happening _after_ the scan, as soon a the encode begins.

The system has an Nvidia 1070 card, driver version 376.19

I don't know if relevant, but this is the input file info, according to MediaInfo:

[code]

(

[2017-04-19 10:57] bradleysepos commented on #690
Thanks for reporting.

You should be able to redirect HandBrake's output to a file; see the end of https://handbrake.fr/docs/en/1.0.0/help/activity-log.html for an example.

[2017-04-19 11:12] Krautmaster opened #691 "not able to map 7.1 audio tracks"
### Please describe the problem or feature request in detail:
-> actual Handbrake nightly as well as stable:
![2017-04-19 13_11_26-ryzentestrechner - teamviewer](https://cloud.githubusercontent.com/assets/1076514/25177311/b596833a-2501-11e7-89cb-3a2d8537df1b.png)

-> my 7.1 tracks are getting mapped to 5,1 output. I cant even select 7.1 in my Handbrake GUI then
![2017-04-19 13_07_09-ryzentestrechn

[2017-04-19 11:17] Krautmaster commented on #633
upvote

[2017-04-19 11:22] Krautmaster commented on #691
I simply don't want to have any kind of "mixdown".

[2017-04-19 15:17] mrbumpy409 opened #692 "file chooser only remembers previous location every other time"
### Description and reproduction:
After opening a file in Handbrake, if I click "Open Source" to pick another file, the file picker shows my home folder instead of the folder of the last file I opened. If I close the file picker window and open it a second time, then it properly shows the last used folder. Closing and opening it again results in the home folder being shown, and it goes back and fo

[2017-04-19 15:18] bradleysepos commented on #692
I believe this is a known issue with GTK, unfortunately. Will let our Linux dev comment further.

[2017-04-19 15:22] jstebbins commented on #692
Yes, it is a gtk problem.  I've attempted to work around it several times in the past and they keep finding new and wonderful ways to break initial file selection, so I've given up trying to work around it.  As fare as I know Ubuntu based distributions are the only ones that still have this problem.  Works perfectly fine on Fedora for example.

[2017-04-19 15:36] mrbumpy409 opened #693 "default subtitle incorrectly set to "burned" in subtitle list"
### Bug description and reproduction steps:
You can most easily see this bug by watching the following video: https://youtu.be/v_l_yrpOfeE

I have a profile with the following settings in the "Subtitle Defaults" tab:

- Selection Behavior: First Track Matching Selected Languages
- Selected Languages: English
- Preferred Language: English
- Add Foreign Audio Search Pass: YES
- Add English subtitle

[2017-04-19 19:21] TotalCaesar659 opened #694 "Feature: making the list of presets translatable"
### Please describe the problem or feature request in detail:
The list of presets are untranslatable. I guess it has to be fixed.
### What version of HandBrake you are running:
1.0.4
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Lubuntu 16.04 x64
![2017-04-19-221105_1280x1024_scrot](https://cloud.githubusercontent.com/assets/14265316/25197803/f73aa1

[2017-04-19 20:54] sr55 commented on #690
Nvidia isn't supported in HandBrake's OpenCL code.   I did think there was code in there to prevent it from even running so yeh, we'd need a log to see what's going on.  I could guess the driver is crashing during probe but without a log we have no idea.

Given you have a 1070, i'm guessing you also have a fairly high end CPU, so you'd only learn that enabling OpenCL would bottleneck the process.

[2017-04-19 20:57] sr55 commented on #688
Can you try a nightly build please:  https://handbrake.fr/nightly.php

[2017-04-19 20:58] sr55 commented on #691
Can you please provide an activity log: https://handbrake.fr/docs/en/1.0.0/help/activity-log.html

[2017-04-19 21:01] sr55 commented on #691
Sorry, Yes, this is correct.  AC3 encoder doesn't support > 5.1 channels.  The opus track can retain 7.1 channels

[2017-04-19 21:02] IggySmalls commented on #688
I tried several nightly builds, including the latest one as of last night:
HandBrake Nightly 20170416095940-75fbd0a-master (2017041801) - 64bit

I can try the newest one later.

[2017-04-19 21:07] sr55 commented on #688
Sorry, missed that.  Is there any Disk Activity or CPU activity during the time where it appears frozen?

[2017-04-19 22:26] IggySmalls commented on #688
Nope.  There's the initial 100% disk activity, but then it will reach it's stopping point (70% or whatever) then will drop to 0.

[2017-04-19 22:31] maximd33 commented on #690
@sr55 code is there https://github.com/HandBrake/HandBrake/blob/master/libhb/opencl.c#L129 but it looks that more is needed

[2017-04-20 03:01] alfmel commented on #683
No, since it would require quite a bit of reprogramming of the MythWeb and MythRoku packages to make it work. At that point I would rather use ffmpeg to encode instead and see if that produces Roku-compatible MP4 files.

I know you guys have a tough decision here: do we make better MP4 files that play in 90% of the players, or do we make an MP4 that contains extra information and plays in 99% of t

[2017-04-20 03:08] jstebbins commented on #683
You will have the same problem with ffmpeg.  It inserts the same kind of edit list entries.  We use libav for muxing which is a fork of ffmpeg.

I'm not inclined to "fix" this since that means creating files that are not true to the original source. Have you checked Roku forums to see if others have this problem and have reported it to Roku?

[2017-04-20 03:20] alfmel commented on #683
I will check there, and post if necessary.

But ffmpeg has a bunch of command-line parameters. Hopefully one can fix the issue.

[2017-04-20 06:32] Krautmaster commented on #691
I am not relating to AC3, im not able to set 7.1 on any input track or output. Every 7.1 input gets mixed down to 5.1 no matter if i set opus or vorbis. I can't even select 7.1 then. It seems like that my 7.1 input is detected as a 5.1 track by fault.

[2017-04-20 06:35] bradleysepos commented on #691
Glad to take another look at this but you *must* provide an activity log as requested.

[2017-04-20 06:36] Krautmaster commented on #691
https://pastebin.com/uxuT4Fpx

Was already on it ;)

Edit: Yeah, its detected as 5.1 track - ist the 0:1 ger audio track. Weird as ffmpeg detects it correctly as 7.1 as kodi and mediainfo, see above @ post 1.

[2017-04-20 06:45] Krautmaster commented on #691
ffprobe result on same file:

https://pastebin.com/uCrw9KtD

[2017-04-20 06:47] bradleysepos commented on #691
Okay, that helps a lot. Aside, that's a scan log; usually an encode log is more helpful.

So what seems to be happening is this: HandBrake does not decode DTS-HD MA tracks. Instead, it decodes the lossy DTS 5.1 core inside of the DTS-HD MA track. The UI can be a bit confusing in this regard, since we identify the 7.1 but cannot actually use it in this format.

Anyway, this is a known limitation at

[2017-04-20 06:47] #691 closed, assigned to nobody

[2017-04-20 06:52] Krautmaster commented on #691
thanks for the analysis. Wonder why handbrake is not able to use the DTS-HD MA track. Endoders like libopus and vorbis handle that track by default using ffmpeg to encode. I will crate an feature request on that. Thanks again

[2017-04-20 06:54] Krautmaster commented on #691
... one last question ;) where and how to create that feature request ^^

[2017-04-20 07:11] bradleysepos commented on #691
New GitHub issue is fine. Feature request: DTS-HD MA decoding.

[2017-04-20 18:31] DerekZiemba commented on #666
Can confirm Rivatuner after Windows 10 Creators Update.  My graphics card is a GTX 1070. Adding HandBrake to Rivaturners exclude list fixes the issue.

**Event 1026, .NET Runtime**
[code]

**Event 1000, Application Error**
[code]

[2017-04-21 00:02] solidmaple opened #695 ""There are jobs on the queue with same destination path. Please choose a different path" feature doesn't work 100%"
"There are jobs on the queue with same destination path. Please choose a different path" is a great feature but sometime it doesn't work.  i am still able to add same file/path.

version: http://download.handbrake.fr/nightly/HandBrake-20170420-1cbd2f5_x86_64-Win_GUI.exe

[2017-04-21 00:03] solidmaple commented on #695
![untitled](https://cloud.githubusercontent.com/assets/23815638/25257215/3c19eebc-25eb-11e7-83ba-d7392e352a79.png)

[2017-04-21 04:23] alfmel commented on #683
I tested with ffmpeg, using the following command:

```ffmpeg -i (input.ts) -vcodec h264 -cq 21 -flags:v +ildct -top 1 -acodec aac -vf scale=720:480 (output.mp4)```

This command created a video that could be played by the Roku without a/v sync issues. I did notice the first frame was duplicated for about one second.

I understand your hesitancy to fix this problem. That's why I had suggested a co

[2017-04-21 05:32] Krautmaster opened #696 "Feature request: DTS-HD MA decoding."
see https://github.com/HandBrake/HandBrake/issues/691

Not able to encode DTS HD 7.1 to any other format
https://pastebin.com/uxuT4Fpx vs ffprobe https://pastebin.com/uCrw9KtD

Would be fine to see that in future releases as it should not be hard to implement. FMPEG is able to do without any issues.

[2017-04-22 18:25] sr55 commented on #689
Since we've not heard back in a few days I'm closing this off.

For further information on the build process and dependencies, please see the documentation https://handbrake.fr/docs/en/latest/developer/build-linux.html

If you still have issues, please post the information requested above and details of your environment and we can re-open if necessary.

[2017-04-22 18:25] #689 closed, assigned to bradleysepos

[2017-04-22 18:35] sr55 commented on #695
Steps to reproduce?

[2017-04-22 18:39] sr55 commented on #683
I'd still post to Roku as it's ultimately the best option for them to fix their software. If we had a workaround option for every device that's flaky in some way we'd have an unusable GUI.

[2017-04-22 20:33] oshanruiz commented on #146
Drop shadows or a simple glow option would be nice too!

[2017-04-22 21:58] Xaymar opened #697 "Adding support for AMD Hardware encoding"
Hi I'm the developer of the[AMD Encoder Plugin for OBS Studio](https://github.com/Xaymar/obs-studio_amf-encoder-plugin) here. Since there is always a comment about Handbrake AMF support anywhere the plugin gets mentioned, I wanted to know if there were plans on adding it or if someone could point me at the correct point to start adding support for it. I found a PR for it but it was based on the Me

[2017-04-22 22:59] stuaxo opened #698 "Default video filename should be derived from DVD label"
### Please describe the problem or feature request in detail:
When I choose a DVD SOMEFILM it would be great if instead of "New Video.m4v" it defaulted to Somefilm.m4v

That way it (usually) won't have the name of the previous rip.

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Ubuntu 16.10

[2017-04-22 23:19] ghost commented on #697
Hello

While I personally cannot answer those questions, I'll just say that I'm happy for your eagerness and appreciate it, I hope you succeed in your cause. Infact this niche* is in so much of need of HW support.
(* EDIT: referring to the encoding sector in general)

However I have a few questions myself to clear something out, if possible:
- How do you see this affecting the final performance of

[2017-04-22 23:36] Xaymar commented on #697
It really depends on the GPU in the System. AMDs HW isn't exactly standardized when it comes to VCE since it is technology that was first introduced in TeraScale (remember ATI?) cards and has just been slightly updated since then. An RX 480 (Polaris) can real-time encode 4k at 35 FPS, a R9 285 (Tonga) can encode 4k at 83 FPS. I've listed all the possible real time encoding frame rates here with th

[2017-04-22 23:41] spaceharfang opened #699 "VC-1 interlaced not properly decombed with Bob. Frames processed as Bff when the source is actually Tff."
### Please describe the problem or feature request in detail:
When encoding a VC-1 interlaced source, the result file has frames in a reversed order, causing the video motion to oscillate. The source is Tff and is processed as a Bff.

### What are the steps to reproduce this problem:
Use à VC-1 interlaced source and select the decomb filter using the Bob preset with a result framerate of 59.94.

#

[2017-04-23 00:48] ghost commented on #697
Understood, so it depends on VCE version.

Wow, the speeds that you have presented that would be achievable ... I kinda don't want to celebrate too early just in case, and rather leave room for others to comment on that.

Personally I woudln't mind about no VP9 support (it's more meant for streaming and some people say it's missing some stuff older codecs had) for the past few months I used to do

[2017-04-23 01:00] bradleysepos commented on #697
We use really good tape.

But seriously, there's a lot more to it than that. HandBrake has a lot going on under the hood.

[2017-04-23 01:03] bradleysepos commented on #697
@Xaymar Thanks very much for your consideration.

It's important to the project that people don't simply drop code and drop out (see: our OpenCL implementation). If you're willing to support your contributions with bug fixes and other considerations down the line, this should be a nice addition. 😸

I'll let the other developers chime in with specifics.

[2017-04-23 01:26] Xaymar commented on #697
A CPU will most likely bottle-neck any dedicated HW on the GPU, most of the time it already does in the plugin for OBS Studio. I implemented OpenCL Transfer (OpenCL DMA frame copy) to reduce and stabilise latency issues on CPU->GPU transfers as otherwise 4k real time encoding is next to impossible. This is obviously different per CPU, but so far no Intel CPU and no AMD CPU on Bulldozer or earlier

[2017-04-23 02:08] solidmaple commented on #695
i believe once it starts encoding.  i can add the same name/path

[2017-04-23 03:41] ghost commented on #697
@bradleysepos

I was praying to be wrong but I honestly didn't expect it. Obviosuly I'm happy now, but at that moment, I felt like I should crawl into a corner and shut up. lol.

@Xaymar

Allright, so I shouldn't expect a general purpose CPU to be able to help anything, in this case it's all good, we would actually be able to freely do other things while it's encoding in background (web, desktop m

[2017-04-23 04:27] chrisbbreuer opened #700 "Compilation fails on CentOS 7"
### Please describe the problem or feature request in detail:

after successfully installing the developer tools and then trying to build HandBrakeCLI the compiling fails.

### What are the steps to reproduce this problem:

I used a fresh CentOS 7 install and after installing the developer tools and then compiling it according the instructions in HandBrake docs.

### What version of HandBrake you

[2017-04-23 04:32] bradleysepos commented on #700
Sorry you're having trouble. I'll try to make some time to take a look in the next few days.

In the meantime, the log seems to indicate missing dependencies (libmp3lame), so perhaps double check you have installed all of the relevant packages.

[2017-04-23 07:28] noidea4username commented on #692
Same issue on Manjaro Cinnamon and Mint Cinnamon.

[2017-04-23 09:22] sr55 commented on #697
If you want to write a patch, we are defiantly open to it if it's done properly.

Our general preference would be for this to be supported in libav as we already have a wrapper for some of their encoders that we don't already hook directly.

Low maintenance is key here. We the HandBrake developers don't make heavy use of hw encoders. Partly due to a lack of supported hardware and partly due to tra

[2017-04-23 12:05] AlBundy33 opened #701 "HandbrakeCLI exists with return code 4"
I'm using HandbrakeCLI 1.0.7 from https://handbrake.fr/downloads2.php and try to convert an iso with qsv encoder.
Unfortunately the process exists with an error.

[code]

[2017-04-23 12:30] late1010 opened #702 "Crash when use Bicubic(OpenCL) scaling"
### Please describe the problem or feature request in detail:
Handbrake crashed at the beginning of encoding when OpenCL is on.
### What are the steps to reproduce this problem:

### What version of HandBrake you are running:
Preferences-> Video->Scaling->Bicubic(OpenCL)
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Windows 10

### Please provide th

[2017-04-23 12:43] sr55 commented on #702
You posted a scan log instead of an encode log but at a guess, it's probably a driver level crash. Laptop drivers are often cut down by the manufacturer.

I'd also note with the hardware you've got, Software Lanczos scaling should be faster and better quality.

Honestly, I'm leaning to just removing the OpenCL scaler now as the benefits at at best 5%  on low-end hardware.

[2017-04-23 12:50] sr55 commented on #701
QuickSync on your system is failing.  Please make sure your running the latest Intel IGP drivers. Failing that, you'll need to use x264/5 for now instead.

We have an open case trying to workaround the quicksync issue here: https://github.com/HandBrake/HandBrake/issues/660

Marking as duplicate of #660

[2017-04-23 12:50] #701 closed, assigned to nobody

[2017-04-23 12:51] late1010 commented on #702
That's all the log I get in the files, maybe due to the instant crash.

Ah I see, thought to try out the OpenCL and see how it perform. Seem like I don't have the chance.

[2017-04-23 12:52] sr55 commented on #702
The log you posted as when the scan finished. The encode hasn't started at that point..

You can try updating your AMD graphics drivers for the machine see if it helps but you may end up putting in a fair bit of effort only to be disappointed.

[2017-04-23 13:22] Xaymar commented on #697
Supporting it in ffmpeg or libav should be easy-ish. I much prefer working with ffmpeg as I already have set up a complete development environment for it, but seeing that apparently libav treats ffmpeg (bad blood between developers? Dunno, don't care) as if it didn't exist and that most distros are switching back to ffmpeg makes it seem that ffmpeg would be a better choice or including it through

[2017-04-23 16:35] sr55 commented on #697
https://github.com/HandBrake/HandBrake/blob/master/libhb/encx265.c is an example of us hooking libx265

Outside of this, the encoder is simply registered in a number of places so that the UI's can query libhb for the available encoders and required information to setup the GUI's (https://github.com/HandBrake/HandBrake/blob/bd22891d633e16d7aedddadd2e4dd716f615d847/libhb/common.c#L228)

Linux, Mac

[2017-04-23 16:51] LarsonaMark opened #703 "AppleTV3 allfail to create AC3 Passthru not created"
### Please describe the problem or feature request in detail:

### What are the steps to reproduce this problem:

### What version of HandBrake you are running:

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):

### Was there any error message or error dialog, if so please detail or provide screenshots:

### Please provide the full activity log for the

[2017-04-23 16:51] #703 closed, assigned to nobody

[2017-04-23 17:10] mus1c-123 opened #704 "Handbrake crash"
### Please describe the problem or feature request in detail:
Crash when start encoding
### What are the steps to reproduce this problem:
Start encoding result in crash
### What version of HandBrake you are running:
20161125164321-b9c5daa-unknown (x86_64)
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
Korora 25
### Was there any error message or erro

[2017-04-23 17:24] sr55 commented on #704
Where did you get this build from?

[2017-04-23 17:25] bradleysepos commented on #704
The log suggests that the source may be copy protected.

Where did you get HandBrake? That doesn't look like an official build.

[2017-04-23 18:29] sr55 commented on #702
duplicate of  #690

[2017-04-23 18:39] LarsonaMark opened #705 "Fail to create AC3 Passthru"
### Please describe the problem or feature request in detail:
Using Apple TV3 or other presets with AAC and AC3 Passthru Audio Tracks only the AAC Stereo Track is created from 5.1 Sources.
When only output is only AC3 Passthru no Audio is created in MP4 File.
First noted with 1.0.3, still happens with 1.0.7. It works well with 1.0.0

### What are the steps to reproduce this problem:
Select build i

[2017-04-23 18:58] sr55 commented on #705
You cannot use AC3 Passthru when your source does not have AC3.  The release behaviour is to just drop the track. The nightlies have been changed to use the fallback encoder.

Closing as duplicate of #646
I've now also backported this fix on the off chance we decide to do a 1.0.8. If not, 1.1 or you can get it sooner by using a nightly build.

[2017-04-23 18:58] #705 closed, assigned to nobody

[2017-04-23 19:27] sr55 opened #706 "--disable-qsv-decode for CLI"
We need an option to disable hardware decoding on the CLI (Already part of the API for the windows UI)

[2017-04-23 19:38] sr55 commented on #706
Nevermind:  --enable-qsv-decoding

Already there, just reversed.

[2017-04-23 19:38] #706 closed, assigned to sr55

[2017-04-23 19:40] mus1c-123 commented on #704
It says it comes from the Korora repository

[2017-04-23 19:45] bradleysepos commented on #704
That's an unofficial package; unfortunately we cannot support it. [Please see Where to get HandBrake](https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html).

If you're willing, check out the [Linux build documentation](https://handbrake.fr/docs/en/1.0.0/developer/build-linux.html). The dependencies are probably similar to Gentoo and/or other Linux we have listed.

[2017-04-23 19:45] #704 closed, assigned to nobody

[2017-04-23 19:46] bradleysepos commented on #704
Closing. If you're still having issues with a self-compiled build with no modifications, feel free to comment further and we can reopen this.

[2017-04-24 01:50] aleqx commented on #537
That's a shame, because in many players, e.g. Kodi which is an important one, the subtitles are no longer customizable when in ASS format -- they are customizable when in SRT format.

Would you please consider as an option to preserve SRT subtitles as is? Right now I have to rip them and either reintegrate them into the mkv, or leave them hanging next to the video, then always choose in the player

[2017-04-24 17:16] dgsimone15 opened #707 "I would like to have permission to publish your app on the Windows Store"
Hi, I'm part of the UWP Open Source Community (https://github.com/UWP-Open-Source-Community). Our intent is to take Win32 Open Source applications and convert them into UWP apps through the Windows Bridge (Project Centennial).
We like your app and that's why we decided to convert it.
In case you would like to take charge of this app and publish it yourself on the store (make us very pleased) conta

[2017-04-24 18:06] sr55 commented on #707
We prefer that 3rd parties don't package HandBrake as there is no trust chain and if something goes wrong, we get the blame and can't resolve it quickly. We already have this problem today on Linux.

We may eventually publish to the Windows Store but the decision has not been made yet.

[2017-04-24 19:10] dgsimone15 commented on #707
If you do not want to take responsibility for developing and publishing the software, we can take the trouble to publish it and handle it as well as possible. We will be happy to do so and if you do not want to allow us something we can apply restraints. In any case I have already converted the whole program, here are the installation files, with the upcoming updates we will improve it all ... "ht

[2017-04-24 19:22] sr55 commented on #707
Let me be clear.

We take responsibility for how we publish our application. We do not want 3rd parties publishing our application.

We are not granting you permission to use the HandBrake name and icon in any app store.

[2017-04-24 19:23] #707 closed, assigned to nobody

[2017-04-24 19:41] dgsimone15 commented on #707
Thanks for your response!

[2017-04-25 04:12] solidmaple opened #708 "when "importing queue file from .hbq file" first queue does not work"
when "importing queue file from .hbq file"  first queue does not work

it works from second queue to last queue

version = http://download.handbrake.fr/nightly/HandBrake-20170424-a63785e_x86_64-Win_GUI.exe

[2017-04-25 13:38] mpmc opened #709 "Win: Destination path "illegal characters""
### Please describe the problem or feature request in detail:
Loading a DVD source results in "The entered destination path contained illegal characters and will not be updated.".

This prevents batch adding all titles as the filenames are not automatically generated. Attempting to batch add results in the above error message followed by "File of the same name already exists in queue" (not exact w

[2017-04-25 19:54] sr55 commented on #708
You need to follow the posting guidelines or we can't help you.

We have no idea what doesn't work means. Any errors?  Screenshots?  Something other than "doesn't work"

[2017-04-25 20:20] sr55 commented on #700
Did you follow: https://handbrake.fr/docs/en/1.0.0/developer/install-dependencies-centos.html

If we don't hear back, I'll close this off in the next day or so.

[2017-04-25 20:23] bradleysepos commented on #699
Assigning John since he's more familiar with this.

[2017-04-25 20:50] bradleysepos commented on #700
It looks like the zmrepo packages require newer deps than CentOS is providing, so I'll need to update those. Will report back when I have a solution.

[2017-04-25 20:57] #683 closed, assigned to nobody

[2017-04-25 21:20] chrisbbreuer commented on #700
Ok sounds good, I will be able to recompile it later as well once I get back home, but I did follow those instructions.

[2017-04-25 21:21] #700 closed, assigned to bradleysepos

[2017-04-25 21:29] bradleysepos commented on #700
I'm not exactly sure what zmrepo did to their packages, but it was causing issues updating. At the time the docs article was written, I used zmrepo because RPM Fusion did not yet have the necessary packages for EL7. They do now, so I've updated [the article](latest/developer/install-dependencies-centos.html) with the necessary instructions to sort everything out.

Thanks for the report, and feel f

[2017-04-25 22:42] mpmc commented on #709
@sr55 Just so you know, I'm more than happy to test out any fixes you may have & report back :)

[2017-04-26 12:19] Strit commented on #259
I would love to be able to encode my video on my GPU.

So I will +1 this feature request.

[2017-04-27 18:26] IComplainInComments opened #711 "Adding support for the h.264/MPEG hardware encoder for Raspberry Pi - Enhancement"
THIS IS AN ENHANCEMENT REQUEST

The raspberry pi 3 is a really decent encoder for the CPU, I get about 60fps for 1080 using h.264, but it would be amazing if it could go faster. The GPU has a hardware en/decoder for MPEG including h.264, its advance to the point it can take multiple encoding streams.

A github here has a proof of concept: https://github.com/dickontoo/omxtx
It fully works

It would

[2017-04-27 18:42] sr55 commented on #711
We don't currently formally support ARM (Although last I checked it's does work on some ARM chips but folks are on their own if they try this.). It's still a niche use-case and simply too much overhead for us to support at the moment.

[2017-04-27 18:45] IComplainInComments commented on #711
Actually I just built the ARM version just fine using the Master Branch on Armv7

and even if it is a bit of a Nitch thing, would you mind showing documentation on how someone might build a encoding module for HandBrake?

[2017-04-27 19:02] sr55 commented on #711
There is no documentation. You'd probably want to look at encavcodec.c as a starting point and the libav build is done via the contrib/ffmpeg folder. Looking at the history you'll see when the VP9 encoder was added and you could use that commit as a guide.

Either way, if we ever do decide to formally support ARM, we'll review what's available at that point.

[2017-04-27 19:02] #711 closed, assigned to nobody

[2017-04-29 13:38] YouriAndropov opened #713 "Neverending scan"
Hello,

### Please describe the problem or feature request in detail:
A Blu-ray disc scan never ends. When it reaches 100%, even the cancel button doesn't work.

### What are the steps to reproduce this problem:
I only have this issue with 'colorful' anime BD rip.

### What version of HandBrake you are running:
1.0.7

### What operating system and version and you running (e.g. OSX 10.11,  Windows

[2017-04-29 14:58] sr55 commented on #713
Can you please try a nightly build and post the log again.

[2017-04-29 17:26] sr55 commented on #709
Unless you've typed some invalid characters into the auto-name options (which don't seem to cause that error), I can't reproduce this. The source input is correctly sanitised.

I've committed a change on the off chance an exception is occurring so that should appear so try tomorrows nightly. Failing that I have nothing to go on I'm afraid.

ca348fe19a0c4bacb005c42840576b60ff636651

[2017-04-29 18:27] sr55 commented on #695
Currently this is limited to "waiting" only.  I'm going to change it to also take into account "in progress" however, it's useful to be able to re-encode the same file with different settings, so any completed jobs will still be allowed to be re-added to the queue.

[2017-04-29 18:28] #695 closed, assigned to sr55

[2017-04-29 18:40] sr55 commented on #692
Closing issue as this is not something we have control over. Hopefully these distros will pick up fixed versions of GTK down the line.

[2017-04-29 18:40] #692 closed, assigned to jstebbins

[2017-04-29 19:12] sr55 commented on #688
Can you try the current nightly build please and post a log from that. Looks like both logs above are 1.0.x

[2017-04-29 19:42] Chaiavi opened #714 "Preview: Time Index / Option to set start stop tags in a video window"
### Please describe the problem or feature request in detail:
This is a biggy - I would love to have a video window in which I could tag start and end tags indicating the video section I want to rip. (currently, I do the same work while viewing the video in vlc and remembering the start and stop timestamps, then returning to HB and putting the above values in the right places)

### What are the st

[2017-04-29 21:11] Chaiavi opened #715 "Feature: Picture view while custom cropping"
### Please describe the problem or feature request in detail:
I think it would be very helpful to have a picture from the video being cropped while in custom cropping, currently I guess the amount of cropping, then run the preview to see if I am close or not then I fix the cropping values, rerun the preview to see the result etc.

It would be very helpful to have a picture from the video being cro

[2017-04-29 22:29] RandomEngy opened #716 "Preview generation appears stalled for a few minutes after scan pass on Windows"
### Please describe the problem or feature request in detail:
The encode appears stalled for a few minutes after the scan pass when trying to create a preview. There's nothing happening in the logs and the percentage indicator is stuck at 100%. The DVD drive is working during the stall.

### What are the steps to reproduce this problem:
Insert a DVD with multiple subtitles. Must be freshly inserte

[2017-04-30 05:30] SimonEast opened #717 "wmapro audio is not decoding correctly: output is silent"
### Please describe the problem or feature request in detail:
wmapro audio decoding does not appear to work correctly (at least in CLI version) - the output always seems to be silent, even though Handbrake does not display an error and appears to detect the audio track correctly.

### What are the steps to reproduce this problem:
- Encode a video with AC3 audio into AAC, sound works perfectly
- En

[2017-04-30 05:41] bradleysepos commented on #717
Sorry you're having trouble. Any chance you can provide a short sample?

[2017-04-30 12:53] sr55 commented on #715
It should already respond. It looks more like a bug. It only seems to be responding on preview selection change.

[2017-04-30 16:41] cehoyos commented on #685
Bug in avconv, not reproducible with FFmpeg.

[2017-04-30 21:09] IggySmalls commented on #688
No go.  The same file does load and runs from the CLI.

HandBrake Nightly 20170429190807-b652292-master (2017043001) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU: Intel(R) Core(TM) i3-4150 CPU @ 3.50GHz
Ram: 8074 MB,
GPU Information:
  Intel(R) HD Graphics 4400 - 20.19.15.4531
  NVIDIA GeForce 9600 GT - 21.21.13.4201
Screen: 1920x1080
Temp Dir: C:\Users\Alex\AppData\Local\Temp\
Instal

[2017-04-30 22:09] Djfe commented on #685
so shall I create a bug report there then?

[2017-05-01 00:34] Xaymar commented on #697
Sorry for the delay, it was a busy week.

That should be entirely possible. I have something similar in the obs-studio plugin which tests if any GPU even supports it and if not disables itself again.

I think it would be possible to do this, though I'd much prefer the amf.c, amf_h264.c and amf_h265.c names - that would immediately tell a person working on it that these files work together. However

[2017-05-01 05:30] Chaiavi opened #718 "Tooltips disappear way to quickly"
*Edit by @bradleysepos*

- [ ] Mac
- [x] Windows (HandBrake 1.1.0)

-----

*Original post*

### Please describe the problem or feature request in detail:
As a newbie I want to read the great info in the tooltips.

But the tooltips are shown when hovering but then they disappear after several seconds, whch causes the simple user (the one which actually needs the tooltips) with only a part of the in

[2017-05-01 05:33] bradleysepos commented on #718
I believe this is controlled by the windowing system rather than HandBrake itself, but I'll let our Windows developer confirm.

You may be interested in our new documentation, currently in beta: https://handbrake.fr/docs/en/1.0.0/

[2017-05-01 05:51] Chaiavi commented on #718
Thank you @bradleysepos

I will be happy to see the answer.

Anyway, I took your recommendation and began reading the documentation - Amazing work, covers all the basic points.

Thank you
And thank the documentation team!!

[2017-05-01 15:02] jimster480 commented on #690
It also doesn't work on AMD GPU's.
Mind you I've never had a problem with an ancient version 0.10.5.0 using the OpenCL method every single time.
I just upgraded it yesterday to be hit with this nice bug.

[2017-05-01 16:25] sr55 commented on #688
Well, that atleast tells me where to start looking.  It is completing the scan, but just not signalling it to the UI.

[2017-05-01 16:28] sr55 commented on #718
I can and do in some instances override the system default for the really long tooltips but I don't do it globally. I should probably review and adjust as required.

[2017-05-01 16:32] sr55 commented on #690
Looks like it is just broken. We'll need to consider if we want to continue wasting time with this thing or just outright bin it.

[2017-05-01 17:01] jimster480 commented on #690
You guys should. I used it for years and liked it.

On May 1, 2017 12:32 PM, "Scott" <notifications@github.com> wrote:

[2017-05-01 17:14] sr55 commented on #690
You must be easily impressed. 5% improvement is meh and the 100+% slowdown on some hardware is awful.

Btw, It only ever activates on downscales larger than a certain factor. (So, it could well be it's never been running). Setting the flag doesn't mean it was actually used.

So add the cherry on top, Lanczos should give better quality output than bicubic.

So, that leaves us with the situation of

[2017-05-01 17:20] jimster480 commented on #690
Well I believe you guys could further optimize it, would also be cool to
see some VCE support as AMD VCE is supposed to be quite good. Either that
or HSA support.

I never knew that it only activates at certain times, I thought it was
always active. Like I said I used a very ancient version until literally
yesterday and had no issues with it!

On Mon, May 1, 2017 at 1:14 PM, Scott <notifications@g

[2017-05-01 17:20] sr55 commented on #697
You'll see for QSV we have enc_qsv.c  followed by qsv_* for various bits and pieces it needs. I wasn't suggesting they all be enc_*  Basically enc_ is the libhb interface wrapper to qsv*

[2017-05-01 17:25] sr55 commented on #690
You'd be wrong in your assumption.  The scaling is only at most 5~6% of the total time in the encode process so offloading that simply can't gain you much. Your only freeing up 5% CPU time for other things. However you then have a small overhead for managing OpenCL on the CPU, so gains that cuts it back a tad.

Someone might be working on VCE. #697 so any discussion to that should be kept there.

[2017-05-01 17:31] jimster480 commented on #697
Awesome!
I really hope to see this support come to Handbrake.

I'd be willing to test & debug any versions as necessary, I have a 6670, RX 470, RX460, Fury (Non-X) and I happen to be a C/C++ low level software developer!

[2017-05-01 17:33] maximd33 commented on #690
@jimster480 can you share your driver version and may be log ?

[2017-05-01 17:33] jimster480 commented on #690
I see,
well then maybe it really isn't worth it and maybe its never done anything
for me anyway.

I have just setup my Ryzen 5 rig and its encoding speeds are pretty great
already. I was just disappointed when I upgraded and crashed where my old
version did not.

In respect to the bug it means that its just an issue in handbrake probably
in the calling convention or type as its not a driver issue

[2017-05-01 17:38] jimster480 commented on #690
Are you able to see images?

[image: Inline image 1]

HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.14393.0 - 64bit
CPU: AMD Ryzen 5 1600 Six-Core Processor
Ram: 8144 MB,
GPU Information:
  Radeon (TM) RX 470 Graphics - 21.19.137.514
Screen: 3840x2160
Temp Dir: C:\Users\jimst\AppData\Local\Temp\
Install Dir: C:\Program Files\HandBrake
Data Dir: C:\Users\jimst\AppData\Roaming\H

[2017-05-01 17:48] #702 closed, assigned to nobody

[2017-05-01 18:47] maximd33 commented on #690
no images are visible

[2017-05-01 18:59] jimster480 commented on #690
http://imgur.com/a/n0aEk

On Mon, May 1, 2017 at 2:47 PM, maximd33 <notifications@github.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2017-05-01 19:11] AlexJCarstensen opened #719 "Feature: Automatic import of external subtitles"
### Please describe the problem or feature request in detail:
As a user I would like it, when I load a movie, or a TV-Episode it would automatically detect a given subtitle if it is there, which matches the same name as the loaded movie/TV-episode.

example:
This episode is loaded in and is located in the directory "Handbrake":
                                        *Game of Thrones - S06E10 - Th

[2017-05-01 19:31] jimster480 commented on #690
Sorry about that guys, here it is:

http://imgur.com/E9Ib70p

On Mon, May 1, 2017 at 2:59 PM, Jimster480 <jimster480@gmail.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2017-05-01 21:20] IComplainInComments opened #720 "Support for GPU encoding on macOS - Enhancement."
Hello everyone, Apple has GPU en/decoding API's for macOS that utilizes Intel QuickSync along with other GPUs as well in macOS, I was wondering if HandBrake would be willing to commit these changes to the source to allow GPU encoding to be done?

https://developer.apple.com/library/content/technotes/tn2267/_index.html

Thanks!

[2017-05-01 21:24] jmurch commented on #146
I really need the font size option.  any updates?

[2017-05-01 21:26] sr55 commented on #146
Nope.  It's not high on the priorities list so I wouldn't expect it short term unless someone contributes a patch.

[2017-05-01 22:19] reubenbrown13 commented on #146
I have customized my local version to use some different settings with the
fonts.  If you know what you want to change (I didn't like the drop shadow
so I removed it) you can modify the file: /libhb/common.c on line 4649 that
starts with "Style: Default, "....

If you want to change which font is used you have to modify
/libhb/internal.h around line 525 and update the variable HB_FONT_MONO.

After

[2017-05-01 22:21] jmurch commented on #146
Perfect thanks for the really fast response.

Jeff

[2017-05-01 22:43] YouriAndropov commented on #713
Ok, I tried with HandBrake-20170501-b652292_x86_64-Win_GUI, and the result is the same, except that I can cancel.

[code]

[2017-05-02 17:22] sr55 commented on #720
We've already got a rough outline of a patch to add this but are debating whether we should. Unfortunately Apple has made an API that's one size fits all, so it cripples any app trying to use the true capabilities of the hardware. It's Apples way or nothing. So adding it leads us to the situation where you have great controls in windows, but 0 control under Mac and only basic Average bitrate encod

[2017-05-02 18:21] sr55 commented on #713
OK, there will be another new build available in the next 5 minutes with more logging. If you don't mind giving that another go it really helps track this down. Thanks

[2017-05-02 18:47] YouriAndropov commented on #713
Here it is :

[code]

[2017-05-02 18:52] maximd33 commented on #690
@jimster480 picture shows driver version , any details about the crash itself?

[2017-05-02 19:00] IComplainInComments commented on #720
Well the Apple lockdown 0 control thing is basically normal when it comes to Apple. As it would go through CoreVideo, and if I remember correctly, it would Match settings that are set by the Program anyway, as if I remember correctly. Apple uses the GPU to offload and assist, not necessarily put ALL encoding tasks on the GPU.

And not to sound sharp, but I know its an ISP on the GPU die that allow

[2017-05-02 19:37] #713 closed, assigned to sr55

[2017-05-02 19:42] sr55 commented on #713
Found the issue.  Very long chapter was blowing out a 32bit Integer.  Corrected so this. New Nightly should be available in about 10.

Thanks for helping sort this!

[2017-05-02 20:50] jimster480 commented on #690
I pasted the log in the email, thats all I have. It just stops.

On Tue, May 2, 2017 at 2:52 PM, maximd33 <notifications@github.com> wrote:

--
Jimster480

Owner: 0v1.org  & LeagueCheats.com and Affiliates

[2017-05-02 21:16] YouriAndropov commented on #713
You're welcome.
By the way, the fix works, I just tested it.

[2017-05-03 05:22] SimonEast commented on #717
Here's a very short clip (5mb) that exhibits the issue. MPC-HC plays the video with audio. But both Handbrake and AviDemux seem to lose the audio (goes silent) when converting the clip.

https://www.dropbox.com/s/k1ft1cz4lbse8po/test2.wmv?dl=1

[2017-05-03 18:04] maximd33 commented on #690
@jimster480 stop and no crash ?

btw, you might want to update your driver version, there is more recent one and re-check if stops

[2017-05-03 19:08] sr55 commented on #690
@maximd33  the code appears to be flat out broken. I can reproduce here on AMD

[2017-05-04 01:16] CKDing opened #721 "A converting fail (solved: source corruption)"
Hello Admin,
I don't know much about converting video, so if I misunderstand
something or do things wrong, I am very sorry.

I was converting a video but always get broken image at same part.
Log said no error though. After some trying, I found this problem
seems only happened with Handbrake, not other software.

This is the problem part of that video, I cut it to 7 sec 13 MB:
https://mega.nz/#!xn

[2017-05-04 01:22] bradleysepos commented on #721
Usually this happens on playback when the machine isn't fast enough to decode in realtime.

Paste an activity log and perhaps we can help further. https://handbrake.fr/docs/en/1.0.0/help/activity-log.html

[2017-05-04 01:59] CKDing commented on #721
Thank you bradleysepos.
This is converted file of the video clip:
https://mega.nz/#!tzIUTKpQ!WT6LsJPzGxn6DlPKxOC41f9CKN6_SXxs_2iIQ7scTZM
activity log of converting:
https://pastebin.com/wMfiy7Qg

[2017-05-04 05:36] jimster480 commented on #690
It just crashes that's it. There is nothing else written to the log, it
flat out closes.

I doubt I would need a new driver if it's working fine with the older
version of handbrake on the same driver lol.

On May 3, 2017 2:04 PM, "maximd33" <notifications@github.com> wrote:

[2017-05-04 10:06] purevertigo opened #722 "AC3 Track Not Getting Produced."
### Please describe the problem or feature request in detail:
When converting with AC3 passthrough, this track does not muxed/get made into the final output.

### What are the steps to reproduce this problem:
convert with 1/2 audio tracks, with AC3 passthrough

### What version of HandBrake you are running:
1.0.7

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, U

[2017-05-04 17:51] sr55 commented on #722
Sorry but we do not condone piracy. Issue Locked.

[2017-05-04 17:51] #722 closed, assigned to nobody

[2017-05-04 18:07] sr55 commented on #721
There appears to be a bit of corruption in the source file, so this kind of artifacting is not at all surprising.

I'll submit this upstream to libav to see if they can handle it better.

[2017-05-04 18:21] sr55 commented on #721
Actually, I Just playing back your problematic source sample seems to show me the corruption before encoding. VLC, Chome and MPC-HC all show corruption around the 3 second mark like in your screenshot.

[2017-05-04 18:30] tonytonev opened #723 "When you select a video to encode, change the filename, and click start Handbrake crashes"
### Please describe the problem or feature request in detail:
When you select a video to encode, change the filename, and click start Handbrake crashes

### What are the steps to reproduce this problem:
Select a video to encode, change the filename, click start, Handbrake crashes

### What version of HandBrake you are running:
Version 0.10.0 x86_64 (2014112200)

### What operating system and versi

[2017-05-04 18:33] galad87 commented on #723
0.10.x versions are no longer supported. Try again with the latest version.

[2017-05-04 18:36] tonytonev commented on #723
Ah ok, it gives a friendly error this time. Thanks.

On Thu, May 4, 2017 at 11:33 AM, Damiano Galassi <notifications@github.com>
wrote:

[2017-05-04 18:36] tonytonev commented on #723
With the new version that is.

On Thu, May 4, 2017 at 11:36 AM, Tony Tonev <tony@tonythinks.com> wrote:

[2017-05-04 19:11] #723 closed, assigned to nobody

[2017-05-05 02:08] CKDing commented on #721
Thank you sr55. After some trying, I believe your saying is very true.
The source file has corruption itself. I think I didn't notice that
because different software has different way to deal with this kind of
corruption. As VLC shows the corruption honestly, PotPlayer, which I have
been using, try to hide it. In converting, HandBrake shows the corruption
honestly, MeGUI try to hide it.

[2017-05-05 12:59] purevertigo opened #724 "Handbrake BUG - AC3 Track Not Getting Produced."
### Please describe the problem or feature request in detail:
When converting a legitimate and piracy free video file with AC3 passthrough, this track does not muxed/get made into the final output.

### What are the steps to reproduce this problem:
convert with 1/2 audio tracks, with AC3 passthrough

### What version of HandBrake you are running:
1.0.7

### What operating system and version and yo

[2017-05-05 17:47] sr55 commented on #724
Closing for repeated community rule violations.

[2017-05-05 17:48] #724 closed, assigned to nobody

[2017-05-05 23:22] naylinn69 commented on #421
Having same problem where I get `Error code -17,	hb_qsv_wait_on_sync	602`

Here's my log.
[code]

[2017-05-06 06:56] ladypilot26 commented on #713
I'm having what might be a similar problem ... handbrake just seems to freeze when opening a 7gb AVI file....    Log:
HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 6.1.7601 Service Pack 1 - 64bit
CPU: Intel(R) Core(TM) i7-2630QM CPU @ 2.00GHz
Ram: 3947 MB,
GPU Information:
  Intel(R) HD Graphics Family - 8.15.10.2342
Screen: 1366x768
Temp Dir: C:\Users\Randy\AppData\Local\Temp\
Ins

[2017-05-07 11:40] leipert opened #725 "Attach checksums and built images to gh releases"
### Please describe the problem or feature request in detail:

In light of the latest [security alert](https://forum.handbrake.fr/viewtopic.php?f=33&t=36364): Would it make sense to attach the binaries and checksums to the github releases (e.g. like [syncthing](https://github.com/syncthing/syncthing/releases/tag/v0.14.27))

Maybe it would also make sense, to link to the github wiki/checksums page

[2017-05-07 12:23] bradleysepos commented on #725
Some comments.

One thing we're doing is checking our own resources periodically, and automatically. We had this in place but the notification framework necessary to complete the loop, so to speak, was insufficient. So that is one area we're improving.

We have a fair amount of assets to serve other than release binaries, so that is one reason I do not believe attaching binaries to GitHub is a maj

[2017-05-07 12:46] sr55 commented on #725
We already have a copy of the checksums on our Github Wiki here: https://github.com/HandBrake/HandBrake/wiki/Checksums
for exactly this reason.

It's listed on the Wiki Home, however, we probably need to do a better job of highlighting it's available (on the main site) as you say.

I should point out, the checksums.php pages was never tampered with.  (or any other page on the main site for that ma

[2017-05-07 12:48] sr55 commented on #725
One other comment. One reason we don't put binaries on GitHub is the fear they'll lock out our account. We can peak at 10TB of bandwidth a month. Even 10% of that is a pretty big ask for GitHub.

[2017-05-07 12:50] bradleysepos commented on #725
Great comments, @sr55 (knew you'd have some).

Thanks for your hard work and especially efforts at transparency. I'm proud to be working with a team willing to accept responsibility and learn from all experiences.

[2017-05-07 16:30] liracobopu opened #726 "Falsely Reported Error - MP3 Encoding"
### Please describe the problem or feature request in detail:
MP3 encoding (source or destination) results in a falsely reported encoding failure. Encodes are actually fine.

### What are the steps to reproduce this problem:
False encoding failure reporting occurs:
- If the source file is MP3 encoded
- or if the destination file is MP3 encoded.

### What version of HandBrake you are running:
Handb

[2017-05-07 18:51] bdkjones commented on #619
Well, given today's news that your server got hacked and a malicious binary was made available, I think it would be wise to escalate this issue. This sort of thing is *exactly* what code-signing is designed to thwart. The hacker would have needed to sign the alternate binary with a certificate that could have been revoked easily, which makes the attack harder to execute and greatly limits the pote

[2017-05-07 19:54] johnypony3 commented on #619
i understand the legalese issue, it does sound like its more molehill rather than a mountain, but hey its just my opinion.

what im mighty confused about are the following:

1. why are you serving the artifacts from the main site? i see releases on github, yet even this formulae is pointed to your domain. it would be much more complex to thwart 2fa.
2. where is the build? travis.ci and appveyor wo

[2017-05-07 20:11] sr55 commented on #619
We are not arguing against code signing. It's something we want to do but the requirements that we have to meet to get the cert pose a lot of not easy to solve problems for us, some of which have a very high cost or legal / contractual implications (not just $99 a year for a cert)

I'd point out that you need to notice a problem in order to revoke a certificate. That leaves you with a window of op

[2017-05-07 20:22] huolu opened #727 "Keep treating VCD as a DVD?"
### Please describe the problem or feature request in detail:
Could recognize neither a data file nor the whole VCD.

### What are the steps to reproduce this problem:
Open Source ->
choose the .dat file from computer or the whole DVD-ROM (with VCD disc in)

### What version of HandBrake you are running:
1.0.4 (x86_64)

### What operating system and version and you running (e.g. OSX 10.11,  Window

[2017-05-07 21:52] reelsense opened #728 "PGP key?"
Where is the PGP signature for HandBrake?

I see some one requested file signatures in issue #91. I guess @assarbad should be saying I told you so.

Attackers check to see if the project maintainers care enough or even know how to use PGP. HandBrake now has a target on it. Good Luck!

[http://mostvulnerable.com/](http://mostvulnerable.com/)

[2017-05-07 23:09] leipert commented on #725
Thanks for your positive comments. I did not want to blame or shine a bad light on anyone. In fact, I am very happy for the polite tone.

Thanks for the insights into everything @sr55. 10TB is a hell lot of requests and it really is good behavior to not impose that cost onto github. However, I did a quick napkin calculation based on 12 MB download size of the latest mac build:
[code]

If you use S

[2017-05-07 23:19] leipert commented on #725
Quick addition regarding the hosting of releases on GH:

https://help.github.com/articles/about-releases/#limitations-on-binary-files

[2017-05-08 00:57] bradleysepos commented on #725
@leipert 10 TB outgoing from Amazon S3 is approximately 900 USD/month.

[2017-05-08 01:20] bradleysepos commented on #619
@bdkjones I certainly understand your frustration. You have our apologies, for what it's worth.

We are not socially engineering people into lowering their security. Our documentation links to the same guidelines Apple provides. It's not ideal, but we explain what is happening and why. It's also important to recognize that a while a certificate would positively change the application launch proces

[2017-05-08 01:42] bradleysepos commented on #619
@johnypony3 We are using Jenkins, which is automated similarly.

Your point about two-factor is well taken. That said, two-factor does not necessarily require a third party. We have reasonable authentication mechanisms in place.

Authentication does not negate the possibility of a breach due to a known or unknown software vulnerability. We're adding additional on-the-fly validation to our architec

[2017-05-08 04:15] Boggartfly commented on #619
As evidenced by some very unfortunate news Handbrake got pwned. I really don't understand why you guys don't try to get everyone in a place, saying look we need to get this fixed. In order to get a legal structure for Handbrake it costs money. So why not create / modify project policy to get donations with a special terms and conditions agreement?(Since you may be worried about donors driving proj

[2017-05-08 04:41] Darelbi commented on #728
If you get the files through subversion theres no need for PGP. A Sha256 is
enough for integrity of files, unless someone has hacked handbrake
developer account and injected code the builded handbrake and eventually
updated the checksum. In that case he would se a extra commit he have never
done. A alternative is that developer PC was hacked, but in that case even
using a private Key is not enough

[2017-05-08 05:09] reelsense commented on #728
You are mistaken.

Awaiting pub key id from someone actually associated with the project.

[2017-05-08 07:08] #708 closed, assigned to nobody

[2017-05-08 07:09] bradleysepos commented on #709
Closing. Feel free to reply if further details come to light.

[2017-05-08 07:09] #709 closed, assigned to sr55

[2017-05-08 11:49] assarbad commented on #728
@Darelbi what Subversion repo are you referring to? I mean I get that if the files were to be stored inside the Git repo that might add a bit of security, because manipulations should become evident more quickly, but how - without some kind of *signing* - do you think there's any level of assurance about the origin of the software? That's what signing is all about, to certify that someone in posse

[2017-05-08 13:10] jbkempf commented on #619
VideoLAN (I'm the president), is a legal entity done to help open source multimedia projects.
We are an open-source project and a non-profit organization.

We host numerous open source projects that are not VLC, like x264 or DVBlast.
We host FFmpeg git and we host some builders for libav-fate.

We maintain libdvdread, libdvdnav, libdvdcss, libbluray and other libraries used by handbrake...

We pro

[2017-05-08 13:14] Boggartfly commented on #619
@jbkempf Thank you! Finally someone with experience! @sr55 @bdkjones

[2017-05-08 13:19] bradleysepos commented on #619
Thanks J-B. We're very grateful for the working relationship we have with VideoLAN. Perhaps we can do more!

@Boggartfly Nice one.

[2017-05-08 16:35] reelsense commented on #728
@assarbad Just ignore and/or block Darelbi, it's probably a critical theory bot. Spreading disorienting bullshit. This isn't the place to explain PGP to someone new either. They aren't even a contributor.

[2017-05-08 16:36] Darelbi commented on #728
Basically you want to check PGP in case developer github account Was hacked
 (but not his computer) so that you Can do stuff Like preventing automatic
updates in a CI environment? I think (intentionally) corrupted packages are
not this common in github. And I also think the preferred Attack Vector is
exploiting vulnerabilities in the app, which Will work even in case of a
signed packages. My tel

[2017-05-08 17:31] sr55 commented on #728
[pgp_test_pack.zip](https://github.com/HandBrake/HandBrake/files/984328/pgp_test_pack.zip)

(apparently github doesn't like sig or asc files :( )

Attached PGP Public key and associated file signatures for 1.0.7, give that a test. if all looks OK It's on the list for a site rollout soon.

@assarbad -> Updates are signed with a DSA sig starting 1.0.0 for both Mac and Windows.

p.s #91 I for some re

[2017-05-08 18:14] sr55 commented on #728
@reelsense PGP is only part of the solution. People still have to verify and many are simply too lazy / busy to care even those that know better.  Even if folks had verified the SHA256 hash in this case, it would have saved them a lot of bother.

I'm currently working on a pre/post download page as well that will better advertise the hashes and signatures with instructions for each.  I doubt we'll

[2017-05-08 19:30] leipert commented on #725
Thanks for the clearing that up, didn't scroll down enough on the cloud storage page to find the Transfer costs. 🤦‍♂️ 🤦‍♀️

[2017-05-09 13:10] cehoyos commented on #721
Long-time avconv regression, you can reproduce it with FFmpeg if you disable default error concealment.

[2017-05-09 18:36] YouriAndropov commented on #713
Have you tried latest nightly build ?

[2017-05-09 19:37] ladypilot26 commented on #713
I'm not sure what the "latest nightly build" is.
How do I find it?

[2017-05-09 20:03] sr55 commented on #713
The nightly builds are currently offline, but when they are back they will be at https://handbrake.fr/nightly.php

[2017-05-09 20:16] dd45th commented on #414
I’m jumping in to say I’m having the same issue installing Handbrake. I have both an admin and a user account on my computer (Windows 7) and the Handbrake start menu folder and desktop icon are only showing up on the admin side. I uninstalled Handbrake from the admin account, rebooted, and reinstalled from the user account (using my admin credentials as prompted), and got the same result. My compu

[2017-05-09 20:22] sr55 commented on #414
@dd45th  Thanks for the comments. We are hoping this will be solved when we move to a WIX based MSI installer in the future. #522 for tracking

[2017-05-10 12:51] solidmaple opened #729 "in "seconds" section, GUI allows to use higher seconds than duration"
in "seconds" section,  GUI allows to use higher seconds than "actual length of video"
for example if the video is exactly 60:00 min video,  it lets me choose 60:01 or higher in GUI

version:  HandBrake-20170506-ec57a23_x86_64-Win_GUI

[2017-05-10 13:04] assarbad commented on #728
@sr55 thanks!

I'll test the other files as well, but the Windows installer verifies properly with those detached signatures.

[code]

Btw, note that GPG claims that it's been signed using an *RSA* key, not DSA.

As a side-note, please make sure to not use the short user ID (that 32-bit value) or even the long one. If you want to convey the details of your key. Instead make sure that you give the

[2017-05-10 13:25] assarbad commented on #728
[verification.txt](https://github.com/HandBrake/HandBrake/files/989874/verification.txt)

All files verify fine with these detached signatures. Thanks again for making them available!

[2017-05-10 15:45] jstebbins commented on #729
Yes.  This is because some files report an incorrect duration and some file types do not have duration and we must estimate duration based on sampling of timestamps.  Since the duration may be incorrect, we allow setting these values beyond the expected duration.

[2017-05-10 15:45] #729 closed, assigned to nobody

[2017-05-10 19:31] sr55 commented on #728
Sorry, Sparkle Updater library uses DSA, so we use a DSA key for that.  There is an open case about that here:  https://github.com/sparkle-project/Sparkle/issues/1037

GPG seems to use RSA by default and the consensus is that it's better to use that.

Sorry for the confusion.

I'm going to back-date the signatures for all downloads when I get 10 minutes of free time. Please bare with me on this on

[2017-05-11 16:32] aCardboardTube opened #730 "Can't scan file.."
HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU: Intel(R) Core(TM) i7-4790K CPU @ 4.00GHz
Ram: 31664 MB,
GPU Information:
  NVIDIA GeForce GTX 770 - 21.21.13.7849
  Intel(R) HD Graphics 4600 - 20.19.15.4531
Screen: 1920x1080
Temp Dir: C:\Users\Creating Movies\AppData\Local\Temp\
Install Dir: C:\Program Files\HandBrake
Data Dir: C:\Users\Creating Movies\AppDat

[2017-05-11 16:37] jstebbins opened #731 "Allow selection of "Unknown" audio and subtitle tracks"
### Please describe the problem or feature request in detail:
https://forum.handbrake.fr/viewtopic.php?f=26&t=36388

User would like to explicitly select the "Unknown" tracks.  "Any" would select the first English track in this scenario.  There is no way to make it select the Unknown track.

### What are the steps to reproduce this problem:
On audio defaults screen.  There is no way to explicitly

[2017-05-11 17:10] jstebbins commented on #726
Thanks.  I've seen this reported before and investigated it. But it must have been a forum post and it fell off my radar.

The problem only exhibits itself on Windows builds.  For some reason, the mp3 enocder outputs one extra frame on Windows that has the exact same timestamp as the previous frame.  The muxer doesn't like the duplicate timestamp and signals a muxing error.

I would like to spend

[2017-05-11 20:28] jstebbins commented on #726
Keep open as a reminder to dive deeper into the encoder issue on windows.

[2017-05-12 02:32] handyandygp opened #732 "hand brake crashes after 88% done converting"
been trying to take an MP4 file that is out of video and audio sync and convert it with constant frame rate and it crashes at 88% no matter what i do it still happens running 1.0.7 im running windows 10 64bit

[2017-05-14 10:32] sr55 commented on #732
Please provide the details requested in the posting template.  You can find details on how to get an activity log here: https://handbrake.fr/docs/en/1.0.0/help/activity-log.html

Thanks

[2017-05-14 10:34] sr55 commented on #730
Duplicate of #713

When the nightly builds become available again, you can try use one of those, or wait for the next release. There is currently no ETA.

[2017-05-14 10:34] #730 closed, assigned to nobody

[2017-05-14 11:29] sr55 commented on #728
Now published for all releases in the last 6.5 Years going back to 0.9.5

[2017-05-14 11:29] #728 closed, assigned to nobody

[2017-05-14 16:26] sr55 commented on #725
![downloadpage](https://cloud.githubusercontent.com/assets/628593/26035809/77fab17c-38ca-11e7-8734-a5563726607f.PNG)

An improved download experience is now live.

[2017-05-14 16:26] #725 closed, assigned to nobody

[2017-05-14 19:59] hangtime21 opened #733 "Handbrake stuck scanning title"
Trying to scan a 5.57GB file but gets stuck doing so. Gets stuck at random percentages but always by 10. Highest was 80%. It's the first time this has happened. I've done files this large or larger before. Using 1.0.2 right now cause thought of downgrading from 1.0.7 to see if it works. I've included the log.

HandBrake 1.0.2 (2017012200) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU:

[2017-05-14 20:45] sr55 commented on #733
This is a duplicate of https://github.com/HandBrake/HandBrake/issues/713

It will be fixed in 1.0.8 (or the nightly builds when they come back)

[2017-05-14 20:45] #733 closed, assigned to nobody

[2017-05-15 00:33] jeff3820 opened #734 "Video Info not showing correctly in Synology Video Station when using HB Mac"
### Please describe the problem or feature request in detail: I use the Synology Video Station app to store my video collection. Previously, I used the Windows version of Handbrake and have no issues at all with all versions of Handbrake up to 1.0.7. I am now using the Mac version of Handbrake (V1.0.7) and while the video transcodes correctly the Synology Video Station app cannot see the video inf

[2017-05-15 00:38] bradleysepos commented on #734
Are you transcoding directly to your NAS? Sometimes a flaky network connection can cause issues.

We'll need to see an activity log to assist further. See https://handbrake.fr/docs/en/1.0.0/help/activity-log.html

[2017-05-15 00:51] jeff3820 commented on #734
Here is the activity log for the video where the video info is not showing correctly.

[30 For 30 S2 E10 2017-05-13 00-29-51.txt](https://github.com/HandBrake/HandBrake/files/999871/30.For.30.S2.E10.2017-05-13.00-29-51.txt)

[2017-05-15 01:04] bradleysepos commented on #734
I wonder if you can reproduce this with a 5 second sample (you can tell HandBrake to only encode seconds 0 through 5). If so, having such samples would help us determine any difference between the files.

[2017-05-15 02:02] jeff3820 commented on #734
Do you want me to post them to the Github site or just reply in the email?

Jeff

[2017-05-15 02:06] bradleysepos commented on #734
Attachments won't come through via email. Feel free to attach to the issue or provide a Dropbox link or similar.

[2017-05-15 02:36] jeff3820 commented on #734
Here you go. The info for these files does show up in Video Station but maybe you can see a difference. I'll see if I can try a larger file size and get it to fail.

[Test Video.zip](https://github.com/HandBrake/HandBrake/files/999953/Test.Video.zip)

[2017-05-15 04:07] jeff3820 commented on #734
I just transcoded the complete file and it failed (no video data)...it is ~811MB in size. I'm now transcoding with HB in Windows and will compare in the morning. I'm sure it will be fine. At that point, I will post both to a folder in Google Drive and I'll share the link to the folder so there will be two files totaling 1.6+TB. Will that be OK or too large?

[2017-05-15 05:12] reelsense commented on #728
Excellent documentation and fast response! You're leading by example.
Thank you!

[2017-05-15 14:16] bradleysepos commented on #734
The files do appear essentially the same here. I'll let @jstebbins continue the conversation.

[2017-05-15 22:04] jeff3820 commented on #734
Here is a link to two files...the Mac version does not display the video info correctly in Synology Video Station. I transcoded the same file in the Windows version of HB with the same parameters and the Windows transcoded version of the file DOES display the correct video info. Let me know if you need anything else. Please let me know when the files have been downloaded so I can pull them down. R

[2017-05-15 22:54] bradleysepos commented on #734
The Mac encode used 22 threads and 3 lookahead threads for x264, as opposed to 6 and 1 for the Windows box, which is obviously less powerful. This shouldn't affect anything. Also, the audio was encoded by CoreAudio on Mac and Libav on Windows, naturally. CoreAudio is only available on macOS. Again, no biggie.

I see no major differences. What happens when you rename the files to *.mp4? Perhaps con

[2017-05-15 23:38] jeff3820 commented on #734
I also contacted Synology...should hear back from them tomorrow. I suspect they will point to your team...

I'll rename the files  to MP4 and post another comment

[2017-05-15 23:53] jeff3820 commented on #734
Well, renaming the mac m4v file to mp4 was also a failure but different. This time the file size was reported but incorrectly. The file is 811.3MB but the same renamed mp4 file is reported as 452.2MB...see attached. The rest of the video info is still missing.

![screen shot 2017-05-15 at 6 48 34 pm](https://cloud.githubusercontent.com/assets/28694710/26084169/bd43bbfe-399f-11e7-9b3f-bc69adf16892.

[2017-05-16 00:12] bradleysepos commented on #734
Hmm, clearly it's doing something funny trying to read the file if the extension matters in this case. It really shouldn't in today's world.

The only other thing I can think of as a workaround is to try remuxing/optimizing the file with Subler.

[2017-05-16 00:45] jeff3820 commented on #734
I'll try Subler and advise

[2017-05-16 01:03] jeff3820 commented on #734
Optimizing with Subler did nothing...showed like the MP4 with an incorrect file size and no other information.

[2017-05-16 16:00] bradleysepos commented on #603
Duplicate of #619. This issue was created first, but most of the discussion is on the other.

[2017-05-16 16:10] bradleysepos commented on #619
We recently published a postmortem on the recent security breach here: https://forum.handbrake.fr/viewtopic.php?f=33&t=36399

[2017-05-16 16:14] bradleysepos commented on #619
There seems to be some confusion regarding signing the HandBrake application with an Apple Developer ID, and what benefits doing so offers. Some observations on this point that may help:

While signing the application would allow someone to launch a new install of HandBrake without making a macOS Gatekeeper exception, this does not preclude anyone from launching an unsigned, maliciously crafted ap

[2017-05-16 18:25] sr55 commented on #734
This doesn't really help, but from my own testing with VideoStation a while ago, quite a large number of my files encoded on Windows fails with it as well. I kind of just gave up on it as it doesn't work well with HB files, files from my phone, or my TV tuner which fails 98% of the time.

[2017-05-16 18:42] bradleysepos commented on #734
I'm guessing if Subler's output isn't properly recognized, Synology's software is imperfect in this regard. Not to point blame, just saying... should be pretty standard MP4 at this point.

The question is, why does the Windows-based encode appear differently? All I can do is shrug at this point, sadly.

[2017-05-16 18:47] bdkjones commented on #619
Thanks for the postmortem. Exactly how, though, were your servers compromised? Did someone's SSH key leak? Did you not disable password-based login to the server and rely only on SSH keys? Was there an extra service running with an exposed port that provided an attack vector? I'm curious as someone who runs and administers a server that distributes software---the details of how yours were compromi

[2017-05-16 18:48] Boggartfly commented on #619
Good idea. Share your story so that others may avoid the same mistakes.
Thanks.

On Wed 17 May, 2017, 12:17 AM Bryan Jones, <notifications@github.com> wrote:

[2017-05-16 18:51] jeff3820 commented on #734
All I can say is that the Windows encodes work well but the Mac ones do not. We'll see what Synology says.

[2017-05-16 18:52] bdkjones commented on #619
This analysis of code-signing is a little off. While I agree that it would not have stopped this attack, it MAY have mitigated some of the infections. That's because, right now, when I run the legitimate Handbrake download, I see the prompt to bypass GateKeeper and I think, "Oh, that's right. Handbrake doesn't do code signing. This is normal." Had you guys BEEN using code signing, my reaction to t

[2017-05-16 18:58] bradleysepos commented on #619
None of our personal machines or credentials were compromised, from what we can tell. Of course we changed all passwords and keys as a precaution. I believe we were using passwords in addition to SSH keys, but don't quote me on that.

The compromised machine primarily served download files over https. We also stored some backup data there (nothing critical). For a time, we used it as a Jenkins age

[2017-05-16 18:59] Boggartfly commented on #619
Consider contacting videolan. They've even offered to help!

On Wed 17 May, 2017, 12:28 AM Bradley Sepos, <notifications@github.com>
wrote:

[2017-05-16 19:01] bradleysepos commented on #619
I should add, I've had this conversation a few times recently and I'm surprised some people (not necessarily yourselves) find it hard to believe that brand new variant of a relatively new, advanced, and expensive malware would be accompanied by a 0-day server exploit.

[2017-05-16 19:03] bradleysepos commented on #619
@Boggartfly Indeed, we internally discussed the possibility of teaming up with VideoLAN on code signing and other matters long before this incident. Some of us know VideoLAN people personally and attend VDD in Europe every year. Suffice to say, we're grateful for the help they've extended to us both publicly and privately. I have no further information on the subject at this time.

[2017-05-16 19:18] bdkjones commented on #619
Oh, I don't find it hard to believe there's an exploit that would compromise a fully-patched Linux box. There's bugs in every system, even the most hardened Linux server. In some ways, that's actually comforting because it means I'm not doing anything monumentally stupid that puts my users at risk. There's nothing I can do against zero-day exploits nobody knows about.

Sent from my iPhone

[2017-05-16 19:20] bradleysepos commented on #619
Absolutely. This is why we had been working on an assets monitoring and emergency notifications solution in the months preceding the attack. Unfortunately, we hadn't fully implemented it at the time of the attack, but now it's in place and we should be able to recognize such threats more quickly.

[2017-05-16 20:28] sr55 commented on #619
The best mitigation for this is container isolation of all services.  It's a bit of a pain when maintaining a site, but if for example, one service gets compromised (i.e a blog, forum, build server etc), it limits what the attacker can do if each service runs in it's own container.  I.e if your download server gets hijacked, the attacked can't also easily (hopefully) hijack the appcasts for the ap

[2017-05-17 08:35] NiklasBr opened #735 "Feature request: Audio bitrate adjustments if rate above threshold"
### Please describe the problem or feature request in detail:
I have a vague memory of the MacOS interface showing the bit rate of audio tracks, but it no longer does. I used that info to gauge whether to do some audio conversion or just let it pass thru.

What I am looking for is either the return of the bit rate (if it ever existed :)) or a feature like this:

If bit rate for this track is above

[2017-05-17 20:14] bdkjones commented on #619
Panic got hit by this incident and this excerpt is extremely relevant. From https://panic.com/blog/stolen-source-code/

"I also likely bypassed the Gatekeeper warning without even thinking about it, because I run a handful of apps that are still not signed by their developers. And that was that, my Mac was completely, entirely compromised in 3 seconds or less."

Sent from my iPhone

[2017-05-17 20:23] bradleysepos commented on #619
Indeed. We became aware of this earlier today. Very upsetting, to say the least. This certainly reinforces the point about social engineering we've both alluded to (directly and indirectly).

Another observation from the article: the day Sierra came out, it broke our users' ability to securely update the HandBrake app using Sparkle. Had Steven been able to use the automatic update functionality, i

[2017-05-17 20:33] jstebbins commented on #619
I'm inclined to think that this poor individual would have been pwned just the same if we had an apple ID.

The attacker would most likely have posted an infected file that is not signed.  The older version of HandBrake Steven was updating was not signed so he had no expectation that the new version would be signed. And in fact, as he said, he is accustomed to several apps he uses on a regular bas

[2017-05-17 20:54] jbkempf commented on #619
@sr55 VideoLAN new servers have isolation of all services, notably FTP, WWW, Git, gitlab, trac+forum+wiki, DB are all in different LXC. Exactly for those reasons.
And developers have almost no access to those machines. FTP managers just manage the FTP, etc...

[2017-05-17 20:56] bradleysepos commented on #619
@jbkempf Good to know. HandBrake's services also use container isolation, for what it's worth.

[2017-05-17 20:56] jbkempf commented on #619
@bradleysepos to get a correct certificate from Apple being a French non-profit took a lot of time, so I really feel your pain... But now, we can share the signing+certificates with more people...

[2017-05-17 20:59] bradleysepos commented on #619
@jbkempf Yes, absolutely. Hopefully we can make this happen soon.

Indeed, the perception seems to be that getting a certificate from Apple just takes $99 and an email address. If only that were the case...

[2017-05-17 21:17] bdkjones commented on #619
Bradley, it's not as if code-signing came out six months ago and you guys have been figuring out how to adopt it. This stuff has been around and common for YEARS. You've had YEARS to figure out the entity complexities. In fact, gatekeeper has been around so long that the option to allow unsigned apps is now gone from system preferences!

Gatekeeper is excellent low-hanging-fruit for security and y

[2017-05-17 21:27] bdkjones commented on #619
And think of this from the perspective of the attacker. If you want to compromise an app, it makes sense to go after a popular one that's not signed, right?

I mean, it's POSSIBLE to sign a malware-laced download with a cert, but that's much harder, leaves you open to being traced, and gives Apple an instant kill switch. Are you really going to drop $100,000 on an exploit for that situation? No. Y

[2017-05-17 21:34] bradleysepos commented on #619
I'm sorry to hear you feel that way. I guess I feel we've been as transparent as possible. I don't see any excuses or rationalizing. We absolutely think signing our app will improve security and make it harder to socially engineer people into installing a fake. We've discussed the technical limitations of code signing and revocation, sure. Sorry if that's coming off defensive; it certainly isn't m

[2017-05-17 21:38] jstebbins commented on #619
@bdkjones, Steven's exact words were, "I also likely bypassed the Gatekeeper warning without even thinking about it, because I run a handful of apps that are still not signed by their developers."  I.e. in his words, he didn't give it any thought.  I believe you when you say you would have noticed the lack of a signature.  But I'm inclined to believe Steven and many others are either not as securi

[2017-05-17 22:27] bradleysepos commented on #619
Some of the proactive measures we've taken in the last year alone partially assisted in mitigating this attack. For instance, we were easily able to integrate strong cryptography into our automatic update functionality (Sparkle) last year. We know for a fact this prevented over 7,000 malicious downloads from being installed, on a *technical* level.

We were also working on assets monitoring and em

[2017-05-18 00:10] bdkjones commented on #619
I think that's a fair response. I'm glad to see Handbrake moving in the right direction.

Sent from my iPhone

[2017-05-18 03:47] bradleysepos commented on #735
This is something we've discussed in the past. We plan to do something similar with picture resolution when we overhaul that tab.

Marking as enhancement so we can follow any progress here.

[2017-05-18 03:49] #721 closed, assigned to nobody

[2017-05-18 09:35] adl1995 opened #736 "VLC unmet dependency"
### Please describe the problem or feature request in detail:
I have followed the guidelines listed [here](https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases) and added a PPA in my system. However, when I provide the command:

 `apt-get install handbrake-gtk`

It gives me an unmet dependency error:

[code]

I have tried `apt-get install vlc-bin` but it gives this error:

`vlc-bin :

[2017-05-18 13:05] bradleysepos commented on #736
I just installed the release PPA on a fully updated Ubuntu 14.04 system with no issues.

This is the output of `apt-cache policy` and `sudo apt-get install handbrake-gtk` on the machine:

[code]

[2017-05-18 13:28] adl1995 commented on #736
So, I just re-installed VLC using the `videolan/stable-daily` PPA. At the end, I'm getting this error:

[code]

I believe this is what is causing the problem during installation. I followed [this](https://ubuntuforums.org/showthread.php?t=1642173) thread and tried `sudo apt-get install -f`. Here is the output:

[code]

[2017-05-18 13:32] bradleysepos commented on #736
Ah. As you can see, I don't have any other PPAs installed.

Perhaps try `sudo apt-get remove --auto-remove vlc vlc-bin vlc-nox` and then `sudo apt-get install vlc vlc-bin`.

Since this isn't a HandBrake issue per se, I'm going to close. But feel free to report back.

[2017-05-18 13:32] #736 closed, assigned to bradleysepos

[2017-05-18 13:37] adl1995 commented on #736
That resolved it. Thanks!

[2017-05-18 13:37] bradleysepos commented on #736
Excellent!

[2017-05-18 14:49] joshlewis commented on #619
Please, please prioritize this, guys. This matters.

[2017-05-18 17:59] Boggartfly commented on #619
Please sign Handbrake. 🙋🏻‍♂️

On Thu 18 May, 2017, 8:19 PM Josh Lewis!, <notifications@github.com> wrote:

[2017-05-18 18:05] jstebbins commented on #736
Strange, because Linux HandBrake doesn't depend on or use vlc in any way.

[2017-05-18 18:14] sr55 commented on #619
@joshlewis  We are currently in talks with jb at videolan regarding this. Hopefully we can come to an agreement soon and i'll be able to post more information and (hopefully) a short timeline for getting a signed release out.

Our code is already ready. The work to allow sandboxing (required for signing) was mostly done back in January.

Edit Correction:  Sandboxing is not required for signing app

[2017-05-18 18:15] joshlewis commented on #619
@sr55 That's awesome! I'm so glad to hear this!

[2017-05-18 18:17] bradleysepos commented on #619
#428 Sandboxing on macOS

[2017-05-18 18:41] bdkjones commented on #619
Eh? Sandboxing is not a requirement for code-signing. Sandboxing is only a requirement for the Mac App Store.

Sent from my iPhone

[2017-05-18 19:11] sr55 commented on #619
Already corrected myself ...

[2017-05-18 21:23] tolotos-rgu opened #737 "Autosettings"
I would like to suggest to implement am autosettings-mode. It should choose the best fitting mode for a given video.
E.g. if the mode is set to 1080p but the video is only 720p the settings should be changed to "on the fly" to 720p. This will avoid exidently blown up videos.

[2017-05-18 21:25] jstebbins commented on #737
Umm, have you used HandBrake?  The GUI *never* upscales.  The 1080p presets do exactly what you are suggesting.

[2017-05-18 22:23] jstebbins commented on #727
Not sure why this was assigned to me.  VCD is not a supported format.

[2017-05-18 22:24] bradleysepos commented on #727
The .DAT file on a VCD is a standard MPEG-1 PS. Should be no different than opening a .mpeg.

[2017-05-18 22:27] jstebbins commented on #727
Than we need a sample, because we aren't seeing mpeg here...
[code]

[2017-05-18 22:30] bradleysepos commented on #727
@huolu Perhaps you can run the following:

[code]

And then provide the `avseq02-sample.dat` file created in your home directory (should be 2 MB).

[2017-05-19 04:19] solidmaple opened #738 "Allow selection of video track for multiple video track sources."
single video file with 3 videos and 3 audio:  handbrake **let** me choose which audio tracks but it does **not** let me choose which video tracks.

version:  HandBrake-20170506-ec57a23_x86_64-Win_GUI

[2017-05-19 07:38] tolotos-rgu commented on #737
Yes, and I noticed larger files if use 1080p settings for 720 or below files.

[2017-05-19 08:15] o-l-a-v opened #739 "Webpage looks bugged in Chrome v58, Windows 10 w/125% scaling"
### Please describe the problem or feature request in detail:
Site looks strange on Chrome 58.0.3029.110 any scaling (100% even), Windows 10 125% scaling

### What are the steps to reproduce this problem:
Windows 10 with 125% scaling, open https://handbrake.fr/ in latest Chrome.
Looks good in Edge

### What version of HandBrake you are running:
----

### What operating system and version and you r

[2017-05-19 15:05] bradleysepos commented on #739
Thanks for reporting this. We've had a redesign in progress for some time that should be more accessible. Other things have been higher priority as of late.

[2017-05-19 16:48] bradleysepos commented on #725
In case anyone missed it, we recently published a postmortem on the attack here: https://forum.handbrake.fr/viewtopic.php?f=33&t=36399

We've also started [signing our releases with OpenPGP](https://github.com/HandBrake/HandBrake/wiki/OpenPGP). Signatures are [attached to each release on GitHub](https://github.com/HandBrake/HandBrake/releases).

[2017-05-19 17:09] bradleysepos commented on #717
Hmm, encode locks up for me with a recent master branch build. Will investigate further.

[2017-05-19 17:24] bradleysepos opened #740 "Enhance gain and DRC controls on macOS"
Rotary controls are somewhat difficult to use, especially at small sizes.

If possible, make future controls and text input handle decimal values.

[2017-05-19 22:27] sr55 commented on #737
Yes, this is correct. The quality settings are not identical between a preset with different sizes. There are small differences in settings which will account for a potentially modest difference in filesize.

If your not happy with the output of a preset, have a read of the documentation https://handbrake.fr/docs/en/1.0.0/ and adjust to suit your needs, then save a preset.

[2017-05-19 22:29] bradleysepos commented on #737
See also #271 Quality setting that scales with resolution. Seems like this is a duplicate.

[2017-05-19 22:29] #737 closed, assigned to nobody

[2017-05-20 19:27] williamhaley opened #741 "HandBrakeCLI fails with Ubuntu build, but works fine with Nightly"
### Please describe the problem or feature request in detail:

Encoding with `HandBrakeCLI` fails with the latest Ubuntu 16.04 `handbrake-cli` package, seemingly due to a muxing issue with a subtitle in the source file. It works fine with a nightly build.

### What are the steps to reproduce this problem:

Try this command with the Ubuntu build. It fails early.

[code]

Same command with the [nigh

[2017-05-20 19:31] bradleysepos commented on #741
The Ubuntu repository version isn't our package. Please see [Where to get HandBrake](https://handbrake.fr/docs/en/latest/get-handbrake/where-to-get-handbrake.html).

[2017-05-20 19:31] #741 closed, assigned to nobody

[2017-05-20 19:37] sr55 opened #742 "Update to Libav 12.1"
Update to Libav 12.1 bug fix release.

[2017-05-20 19:39] sr55 commented on #739
Ditto.  When we roll out a new site, we'll make sure it's scalable.

p.s site issues can be logged under the HandBrake-website git repo. This repo is for the software only.

Will close this for now as we don't have the time or resources to sort the various layout issues with the current design.

[2017-05-20 19:39] #739 closed, assigned to nobody

[2017-05-20 22:48] robmobz opened #743 "Bicubic scaler causing crash"
### Please describe the problem or feature request in detail:
When I attempt to start any encode with my scaler set to Bicubic then, when the encode is at 0% windows says that "Handbrake has stopped working"

### What are the steps to reproduce this problem:
1: set scaler to bicubic
2: attempt an encode job

### What version of HandBrake you are running:
HandBrake 1.0.7 (2017040900) - 64bit

### W

[2017-05-21 01:53] RodBrownGS opened #744 "Fusion Drive "Almost Full" Failure"
### Please describe the problem or feature request in detail:
Handbrake-Mac throws an error if it is on a device with a fusion drive, and the solid state drive is almost full.

I currently have a 1.12TB fusion drive on an iMac, containing 128GB solid state fused with a 1TB spinning hard drive. The spinning hard drive has practically nothing on it, and the solid state is almost full and handbrake t

[2017-05-21 03:11] bradleysepos commented on #744
Thanks, we'll take a look.

[2017-05-21 09:30] sr55 commented on #743
Duplicate of https://github.com/HandBrake/HandBrake/issues/690

[2017-05-21 09:30] #743 closed, assigned to sr55, maximd33

[2017-05-21 20:39] jlassas opened #745 "Halts/freezes at 50% of scanning a DVD"
I tried to scan a DVD, first with VidCoder and then with HandBrake (newest version). Same thing happens with both: tha scan bar starts growing and then stops att 50% scan. No commands or buttons works after the stop. Then that I usually have to terminate the program either with Task Manager or pressing upper right corner 'X'.

My system is a win7 Ultimate 64-bit

no error messages.
log provided be

[2017-05-21 20:41] bradleysepos commented on #745
HandBrake does not work with structural protection. It does work with MKV files.

[2017-05-21 20:41] #745 closed, assigned to nobody

[2017-05-22 18:00] bradleysepos opened #746 "Reduce reads required by foreign audio scan."
Cache foreign audio scan, add a way to put the results in the title so it can also be reused during a regular encode if done in a preview already.

[2017-05-24 00:23] seliver commented on #51
In the meanwhile, you can always use the power of bash scripts to perform the automatic metadata copy (for windows you have to install cygwin).

So, to do this copy automatically, just run this script:

Note: original and converted files need to have the same filename.

[2017-05-25 04:05] bradleysepos commented on #742
The following patches must be removed when updating to Libav 12.1:

- A02-mov-colr.patch
- A03-matroskadec-fix-SRT-subtitle-duration.patch
- A05-h264-recovery.patch
- A07-wmv-crash.patch
- A08-wmv-scan-fail.patch
- A15-asf-2G.patch
- A16-decoder-hang-eagain.patch

[2017-05-25 21:38] mirh opened #748 "Encoding is always pending"
Long story short, I have managed to trim down the issue to "just drop [settings.xml](https://github.com/HandBrake/HandBrake/files/1030284/settings.pdf) in settings folder, then try to convert whatever video"
For this reason (I wouldn't know anything else) I skipped the usual template.
I'm on 1.0.7, Win7 64bit.

[2017-05-25 21:42] bradleysepos commented on #748
The usual template is not optional. To be frank, I have no idea what you're trying to tell us here.

[2017-05-25 22:02] mirh commented on #748
I tried to encode a video.
Encoding was never starting.
Like, I checked the queue, and it was there, but no matter how many times I tried to pause/resume it, it was always stuck.
I then tried to delete settings folder, and problem solved.
I restored settings.xml and it popped up again.
So, there you have it up there to test directly.

[2017-05-25 22:03] bradleysepos commented on #748
Can you provide the problematic settings.xml?

[2017-05-25 22:03] mirh commented on #748
https://github.com/HandBrake/HandBrake/files/1030284/settings.pdf
First post!
(renamed to pdf, because for some reason, I can't manage to upload archives)

[2017-05-25 22:05] bradleysepos commented on #748
Ah, sorry. GitHub renamed it to .pdf so I was confused.

[2017-05-25 22:06] bradleysepos commented on #748
@sr55 Possible settings corruption, see attached (rename .pdf to .xml).

[2017-05-25 22:08] mirh commented on #748
Creation date says 19 december 2014, if it can help btw.

[2017-05-25 23:50] bradleysepos commented on #525
See #747.

[2017-05-26 16:58] hellojimbo opened #749 "Encodes continually terminate early"
### Please describe the problem or feature request in detail:
All encodes terminate/complete far too early regardless of version, or conversion medium. The file sizes of the terminated encodes are between 1.15GB and 3.34GB.

### What are the steps to reproduce this problem:
Attempt to encode blu-ray videos from raw files, or attempt to transcode from mkv to mp4 file.

### What version of HandBrake

[2017-05-26 18:03] Lee150 opened #750 "handbrake 1.0.7 (2017040900)"
### Please describe the problem or feature request in detail:
Can't change the aspect Ratio, option is ticked but blanked out tried load of different files
### What are the steps to reproduce this problem:
uninstalled it, done restart then reinstalled it again still not working1.0.7 (2017040900)
### What version of HandBrake you are running:
1.0.7 (2017040900)
### What operating system and version

[2017-05-26 18:27] sr55 commented on #749
libbluray is having trouble reading your source.  What did you use to produce it?

[2017-05-26 18:32] sr55 commented on #748
I see no issues when dropping that settings file in, whether I have anything on the queue before or after doing so, it always operates correctly.

There isn't anything inside of it that i'd expect would cause any problems.  The legacy settings that are not used anymore simply won't get used.

As such, unless you have any other ideas I don't really have much choice but to mark this as not reproduci

[2017-05-26 18:37] hellojimbo commented on #749
All of the files (ripped and encoded) were retrieved using MakeMKV. What remedy would you recommend in this situation?

[2017-05-26 19:13] mirh commented on #748
Are there other settings than those in %APPDATA%/Handbrake?
EDIT: [my log](https://github.com/HandBrake/HandBrake/files/1032793/activity_log11344.txt)

[2017-05-26 19:20] sr55 commented on #748
Just a log of a successful scan

Unfortunately, short of debugging it locally, there is nothing more I can suggest on this one.

[2017-05-26 19:37] mirh commented on #748
Nailed!
It's PauseOnLowDiskspace.
I have 9.5GB free on my ssd (which is indeed under the 10GB threshold for warning, which I get).
Unless I set it on false though, there's like no way I can make the encoding start.

[2017-05-26 23:40] kdx7214 opened #751 "Empty soft/text closed captions (CC 608) in MKV."
### Please describe the problem or feature request in detail:
Using HB 1.0.7 both gui and cli.  Trying to rip an episode from Scarecrow and Mrs King (Season 1, Disc 1, title 2).  I've selected the proper tracks, have a decrypter working fine, but when I rip I get a completely empty subtitle track (verified using SubtitleEdit to extract the subtitle track).   DVD subtitles (VOB) show up just fine s

[2017-05-27 12:11] Djfe commented on #720
What am I missing?
you're talking about encoding but link to an apple document about a video decoder ^^

[2017-05-27 12:17] galad87 commented on #720
He linked some outdated documentation.
If you want to try QuickSync thru video toolbox api on macOS there is already this branch: https://github.com/galad87/HandBrake/tree/videotoolbox
But like sr55 wrote, the encoder supports only average bitrate.

[2017-05-27 20:19] sr55 commented on #748
Couple of fixes around the buttons not enabling / disabling correctly and added a log message on the log window to indicate why the encode stopped.

[2017-05-27 20:55] sr55 commented on #749
It'd be worth exporting it as mkv from makemkv to see if that works. Would indicate either a bug in libbluray or a structural issue with the source.

[2017-05-27 23:14] James-W2 opened #752 "Audio/Video out of sync"
### Please describe the problem or feature request in detail:  Since updating to latest windows version, audio and video are out of sync.  Can be from 1-3 sec. delay, depending on preset used.  Had been using legacy "normal" preset with good results previously.

### What are the steps to reproduce this problem:  Used legacy normal and fast 1080p30 with above results.  These are changing from MPEG

[2017-05-27 23:52] bradleysepos commented on #752
This is a known issue with how Roku handles MP4 edit lists. As a workaround, you can switch the container to MKV.

[2017-05-28 00:17] James-W2 commented on #752
However, though ROKU is the final target, I'm seeing/hearing audio/video out-of-sync issue using Windows Media Player.
FYI & thanks,James 

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Bradley Sepos <notifications@github.com> Date: 5/27/17  4:52 PM  (GMT-08:00) To: HandBrake/HandBrake <HandBrake@noreply.github.com> Cc: James-W2 <jtwhitley2@comcast.net>, Author <a

[2017-05-28 00:19] bradleysepos commented on #752
Ah, thanks for clarifying. It WMP may suffer from the same issue. We're taking a look.

[2017-05-28 05:30] James-W2 commented on #752
As an FYI, I used HandBrake to convert the MPEG file to MKV.  In order to
view the video, however, I downloaded a program called 5K Player.  This
played the MKV video well.  Also, I tried using it to view the MP4 video
with the sync issue.  Using 5KPlayer, audio and video totally in sync.
Therefore, appears the sync problem is with WMP and the way the latest
version of HandBrake is converting MPEG

[2017-05-28 11:05] mirh commented on #748
I compiled latest git GUI, but I didn't see any improvement.

[2017-05-28 11:47] sr55 commented on #748
All it's doing is logging it. It will not allow you to proceed.

You either have to lower the limit to suit your environment (Don't come crying if you brick your system though)  or clear some space.

[2017-05-28 13:36] mirh commented on #748
Lol?
My personal case had to do with a 50MB output

I'm still not sure why, even after noticing the user (should he not be aware), conversion still might not start?

[2017-05-28 14:34] sr55 commented on #748
Yes, it's actually happened before.

I'm working on some UX issues around the pausing at the moment to make it clearer what's going on.

[2017-05-28 16:29] divnull opened #753 "Add option to skip chapters marked as disabled in MKV files"
The Matroska format contains a ChapterFlagEnabled flag. According the specification, "when disabled, the movie should skip all the content between the TimeStart and TimeEnd of this chapter". It would be very useful if HandBrake had an option that would honor this flag and skip over disabled chapters during encoding.

In particular, this would help solve a problem with encoding TV shows, where a ty

[2017-05-28 20:05] CollinChaffin opened #754 "Provide reasoning for the pulling/cease of all Handbrake nightly builds (Win/Mac) and ETA of return"
It has been the entire month of May without a single explanation post in either the support forum or github site as to why all nightly building development has (appeared) to have ceased.  On May 7th the nightlies page was simply updated with a message that all nightly builds for Windows and Mac were "unavailable" with the following vague message:

"Please be aware Windows and Mac builds are curren

[2017-05-28 20:37] sr55 commented on #754
The security architecture of our new hosting platform is such that it doesn't allow us to as easily offer nightly builds and we are not willing to compromise the security to make it work.

We are currently looking at moving nightly builds for windows/mac to a 3rd party but there is no ETA on this. (This is a hobby project for us so it'll happen when people have free time)

Linux builds are run and

[2017-05-28 21:59] mirh commented on #748
:\

Well, I guess I could already call it a day then.. Even though I still find a certain oddity around that figure of 10GB (I mean, especially given it's not 'exposed' to that very type of users that would need it, and that it seems kind of arbitrary)
I'm not saying to lower it to MS [dumb](https://blogs.msdn.microsoft.com/oldnewthing/20101117-00/?p=12263/) levels.. but might 1GB sounds neater?
O

[2017-05-28 23:37] bradleysepos commented on #754
Additionally, we have guides on building HandBrake for Mac and Windows:

https://handbrake.fr/docs/en/latest/developer/build-mac.html

https://handbrake.fr/docs/en/latest/developer/build-windows.html

While this is not a replacement for the convenience of our automated nightly builds, building from source is always an option and only relies on free tools and software.

[2017-05-28 23:39] bradleysepos commented on #748
Perhaps the GUIs could warn at a certain threshold and pause at a lower threshold, e.g. 5 GB / 250 MB.

[2017-05-29 02:51] PokeCaptain opened #755 "Building of Handbrake Fails on MacOS"
### Please describe the problem or feature request in detail:
Cannot build from latest Git.
### What are the steps to reproduce this problem:
Run the scripts according to https://handbrake.fr/docs/en/latest/developer/build-mac.html. Building fails for me at `./configure --launch-jobs=$(sysctl -n hw.ncpu) --launch` Note that I had previously installed the "Additional Dependencies" through Homebrew.

[2017-05-29 02:52] PokeCaptain commented on #755
Additionally:
[build.txt](https://github.com/HandBrake/HandBrake/files/1034741/build.txt)
[config.info.txt](https://github.com/HandBrake/HandBrake/files/1034742/config.info.txt)
[xcodemake.env.txt](https://github.com/HandBrake/HandBrake/files/1034743/xcodemake.env.txt)

[2017-05-29 03:04] bradleysepos commented on #755
Looks like your PATH is messed up:

[code]

I'm fairly certain you don't want to use the Mono versions of those tools.

[2017-05-29 12:32] PokeCaptain commented on #755
Derp. I uninstalled Mono through Homebrew, but forgot to remove the environment variable. That fixed it!

[2017-05-29 12:41] bradleysepos commented on #755
Glad to hear it. :)

[2017-05-29 12:41] #755 closed, assigned to nobody

[2017-05-29 15:40] galad87 commented on #750
Aspect ratio can be changed only if anamorphic is set to custom or off.

[2017-05-29 15:40] #750 closed, assigned to nobody

[2017-05-29 16:25] sr55 commented on #754
Can't really add anymore and since this isn't a HandBrake app issue, I'll close this off now.

If I remember, I'll try update this case regardless when we have a new nightly build service running.

[2017-05-29 16:25] #754 closed, assigned to nobody

[2017-05-29 16:29] sr55 commented on #738
Can you please provide a log for of the scan of the encode.

I suspect it's probably just something we don't support.

[2017-05-29 16:30] sr55 commented on #732
No update in a while, Closing

[2017-05-29 16:30] #732 closed, assigned to nobody

[2017-05-29 16:30] sr55 commented on #727
I will close this off in the next day or two if we don't hear back as there is nothing we can progress here.

[2017-05-29 16:53] sr55 commented on #748
There is nothing odd about 10GB.  Most 1080p encodes should be a fair bit below that, leaving plenty of space left for system to operate normally.  It's a pre-encode check. I don't monitor during an encode as it's not reliable. It's not perfect but it'll catch the vast majority of cases.

If you want to run a lower limit, just set it in preferences.

[2017-05-29 18:35] #748 closed, assigned to sr55

[2017-05-29 18:38] sr55 commented on #716
Does it eventually return?  Do you have a sample file you can share?

[2017-05-29 18:41] sr55 commented on #752
OK. Thanks for the feedback.  I suspect the Roku will fail as they don't seem to parse the edit lists (either at all or correctly). It may be worth checking for firmware updates and if not, contacting their support. They should be able to resolve it if they've got a sample exhibiting the problem.

[2017-05-29 18:42] sr55 commented on #642
Closing. If there area any issues with it, Please raise a bug report.

[2017-05-29 18:42] #642 closed, assigned to maximd33

[2017-05-29 20:13] mirh commented on #748
I know it's a pre-encode check, so that's why I had suggested the SourceVideo > FreeSpace .
Anyway, assuming the warning now is not fooling the user, I'm good.

[2017-05-29 22:13] BernardoFBBraga opened #756 "Checksums for macOS do not match"
Just downloaded the .dmg
Ran the command as described in
Matches the checksum displayed here: https://handbrake.fr/checksums.php
6d2e5158f101dad94ede3d5cf5fda8fe9fd3c3b9
3cd2e6228da211349574dcd44a0f67a3c76e5bd54ba8ad61070c21b852ef89e2

which is the same as the one provided here: https://handbrake.fr/rotation.php?file=HandBrake-1.0.7.dmg

But they **do not match** the checksum displayed here: https

[2017-05-29 22:15] BernardoFBBraga commented on #756
Sorry I got confused and looked at the CLI- checksums

[2017-05-29 22:15] #756 closed, assigned to nobody

[2017-05-30 09:44] Laserentchen commented on #715
A possibly related bug (1.07 + Windows 7 x64):

The preview does not show the custom right crop value correctly. (After encoding a border was visible but not in the preview). The other values worked as expected (after changing the current selection).

Would it be possible to adjust the storage dimensions automatically when using custom crop values?

[2017-05-30 12:18] RoberMC commented on #660
I have the exact same isue and came here to post it. Glad you did it first.

But my h264 QSV encoding works perfectly, this error only happens when encoding in h265 QSV. it is pretty random, sometimes it even happens while doing a 2 minutes preview, and sometimes it lets me encode a 1 hour video. I never managed to do a full movie, 2 hours, without the crash. A build with this issue fixed would be

[2017-05-30 12:19] maximd33 commented on #660
@RoberMC what CPU do you have ? or may be you can share your encode log?

[2017-05-30 12:42] RoberMC commented on #660
Of course!, while posting my previous message i tried to encode a BR movie i own in h265, and it has just crashed.

intel J4205

Log:
`HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU: Intel(R) Pentium(R) CPU J4205 @ 1.50GHz
Ram: 7848 MB,
GPU Information:
  Intel(R) HD Graphics - 21.20.16.4664
Screen: 3840x2160
Temp Dir: C:\Users\Rober\AppData\Local\Temp\
Inst

[2017-05-30 12:46] bradleysepos commented on #660
I notice a few instances of `avformat_seek_file failed` while generating previews.

[2017-05-30 13:06] RoberMC commented on #660
Ok, it just crashed, pretty soon...

This time i enabled again QSV decode, and the source file had chapters in place, i only encoded video, and cleared audio and chapters.

`HandBrake 1.0.7 (2017040900) - 64bit
OS: Microsoft Windows NT 10.0.15063.0 - 64bit
CPU: Intel(R) Pentium(R) CPU J4205 @ 1.50GHz
Ram: 7848 MB,
GPU Information:
  Intel(R) HD Graphics - 21.20.16.4664
Screen: 3840x2160
Temp Dir:

[2017-05-30 13:09] maximd33 commented on #660
This is not HB issue but it sits within the GPU driver,
these days 4xxx CPUs have very limited support but will see what is yet possible to do...

[2017-05-30 13:33] RoberMC commented on #660
it is a J4205 Apollo Lake with integrated Intel HD 505 released in Q4'2016, it has all the latest stuff, like 10-bit HEVC enc/dec, HDMI 2.0, etc. It uses the same drivers as the Gen7 intel HD graphics. Thank you for looking into it.

[2017-05-30 18:04] bradleysepos commented on #525
Sharpen filters added to LibHB and the CLI in fcbc09c and 2b0cbe6. Reopening until GUIs are updated.

[2017-05-30 20:41] jstebbins commented on #525
LinGui is done 66a3640

[2017-05-31 01:31] solidmaple commented on #738
https://pastebin.com/x6a8aZFd

[2017-05-31 09:38] bradleysepos commented on #727
@huolu Would definitely be nice to get a sample per my request. I don't think I have any VCDs floating around anymore, so it makes things hard to test.

[2017-05-31 09:39] bradleysepos commented on #656
Closing. If you can provide more information and samples, feel free to reply and we'll reopen.

[2017-05-31 09:39] #656 closed, assigned to nobody

[2017-05-31 09:55] galad87 commented on #744
Hopefully fixed in 4f23ed561867bc65707121a786679a441705269f , but I can't test it.

[2017-05-31 09:56] bradleysepos commented on #428
Looks like we can and should build 1.1.0 with sandboxing. Any reason not to close this issue now?

[2017-05-31 10:01] bradleysepos commented on #560
@jstebbins Still planning to update LinGUI for 1.1.0 or should we push this back?

[2017-05-31 10:06] bradleysepos commented on #717
Seems to be our bug, not upstream. Audio works with avconv 12:

[code]

[2017-05-31 16:59] galad87 commented on #428
No reason, we already have another issue for code signing.

[2017-05-31 17:24] jpeg729 opened #758 "Make disk warning limit configurable."
*Edit by @bradleysepos*

Make disk warning limit configurable:

- [x] Linux
- [x] Mac
- [x] Windows

-----

*Original post*

Handbrake version 7412svn (x86_64) on Ubuntu 14.04.

If I ask handbrake to convert a 180Mb video and write the output to a folder on a drive with 5Gb of free space, I get warned that the drive is almost full, but it is obvious that for sensible settings the converted video f

[2017-05-31 17:26] bradleysepos commented on #758
Consider upgrading to HandBrake 1.0.4 or later using the official PPA: https://handbrake.fr/docs/en/1.0.0/get-handbrake/download-and-install.html

[2017-05-31 17:41] jstebbins commented on #758
The Linux version currently has no option to disable this warning.  Some day, I'll probably get around to adding a preference option for it.

I think the windows GUI also has an auto-pause feature when disk space gets low which the Linux GUI does not yet have.  Also on my todo list.

It's not hard to fill your drive accidentally even when starting with such a small file.  E.g. pebkac (or a bug in

[2017-05-31 18:21] sr55 commented on #758
Depending on what else is going on with the system, 2x is not a sensible amount. You can have a fairly large swing with temp files and so forth, so multiple GB can easily disappear during an encode.

The WinGUI does allow it as an optional feature and you can set the level away from the default 10GB so you can define what's good for you, but the default 10GB caters for a majority use case.

[2017-05-31 18:27] jpeg729 commented on #758
Thanks for the heads-up concerning version 1.0.4. I had assumed that as the ppa was properly installed, that I would always have the latest version, but version number 7412svn is higher than 1.0.4 so the newer version never got installed.

I hadn't thought about the possibility of temp files taking up space during the encode - I'll watch out for that.

[2017-06-01 05:21] bradleysepos commented on #752
Which issue is this duplicate of? Trying to corral reports a bit.

Reopening as I still think we need to find a workaround. Too many reports coming in about sync issues.

[2017-06-02 01:57] solidmaple opened #761 "Feature request: x265 version 2.4"
Feature request:   x265 version 2.4

[2017-06-02 10:17] galad87 commented on #453
The next version will be sandboxed. So this won't be possible if you open a single file, it could work for a batch encode, but then you would have two different confusing behaviours.
Closing for now.

[2017-06-02 10:17] #453 closed, assigned to galad87

[2017-06-02 14:35] jimtut opened #762 "HB 1.07 always automatically names output files, regardless of preference setting"
### Please describe the problem or feature request in detail:
The setting "automatically name output files" appears to allows be ON, even when it is unchecked.

### What are the steps to reproduce this problem:
Uncheck the option, select a Title, and notice that the destination file changes the filename format based on the Format setting.

### What version of HandBrake you are running:
1.0.7
(not

[2017-06-02 16:59] sr55 commented on #762
@galad87

[2017-06-02 17:01] bradleysepos commented on #762
@sr55 Oops. You're not supporting Mac too? 👟 👟

[2017-06-02 17:20] jimtut commented on #762
I reverted back to 1.0.2, and I'm still seeing the same behavior, even after trashing the Preferences file.  The behavior that I used to get with HB (somehow) is that when the user sets a new Destination File, and then changes the source Title, the Destination File would NOT change.  This is the expected behavior when "automatically name output files" is NOT selected (the Destination File should N

[2017-06-02 19:06] bradleysepos commented on #762
That's how 1.0.7 on Mac works, and I believe it's the desired behavior. I'm not sure when this changed.

[2017-06-02 19:21] jimtut commented on #762
Found my exact previous version (1.0.3), and I can't reproduce.  I'll close this, but I know for a fact that I used to be able to enter a Destination name (like "S01E01.m4v") for say Title 1; when changing to Title 2, HB would keep the original manually-entered name (S01E01) and I could just quickly edit (say, S01E02).

Not sure how this behavior changed, but since I can't reproduce in the old ver

[2017-06-02 19:21] #762 closed, assigned to galad87

[2017-06-04 13:44] bradleysepos opened #764 "Improve foreign audio search subtitles."
The current algorithm is pretty good, but could be improved by rejecting tracks marked Director's Commentary, for starters. Other improvements may be possible.

See forum topic: https://forum.handbrake.fr/viewtopic.php?f=11&t=36472

[2017-06-04 14:02] bradleysepos opened #765 "Improve bitrate entry and related controls."
Linux GUI currently limits the maximum to ~20000 (too low)~ **1000000** as of c365e557920c8911e638534b5fa5cc59487834a7.

Mac GUI seems to have no limit:

Windows GUI I did not test.

Ideally we would set a sane maximum dependent on the encoder level. Or we could simply choose a large enough limit that would not cause issues. Additionally, LibHB should sanitize (clamp) the input to avoid mux errors

[2017-06-04 19:16] sr55 commented on #765
H.265, level 6.2 12bit is happy with 1,200,000  so we'd probably need to set the max by level / profile. and something sensible for the other encoders.

I have to wonder if many people are trying this though.

[2017-06-04 19:54] bradleysepos commented on #765
I'd say the highest priority is to make sure the GUIs accept a high enough maximum for high bitrate 1080p and 4K. Perhaps @jstebbins would like to raise/remove the Linux GUI limit while we work on more intelligent boundary checking.

[2017-06-04 19:58] sr55 commented on #765
WinGui Allows > 1M so shouldn't be an issue.

[2017-06-05 20:38] bradleysepos commented on #765
John updated the LinGUI limit in c365e557920c8911e638534b5fa5cc59487834a7, so I'm re-targeting the rest for 1.2.0.

[2017-06-06 19:26] bradleysepos commented on #752
#763 is in progress to address this issue.

[2017-06-06 19:28] bradleysepos commented on #751
@kdx7214 By chance, do you happen to know the last version you used that did work?

[2017-06-06 19:30] bradleysepos commented on #744
Closing. If the problem persists, please feel free to respond and we can reopen the issue.

[2017-06-06 19:30] #744 closed, assigned to galad87

[2017-06-06 19:48] bradleysepos commented on #734
Closing. Feel free to reply if further information comes to light, and we can reopen as necessary.

[2017-06-06 19:48] #734 closed, assigned to jstebbins

[2017-06-06 20:03] kdx7214 commented on #751
I think it was 0.9.4 or so

On Jun 6, 2017 2:28 PM, "Bradley Sepos" <notifications@github.com> wrote:

@kdx7214 <https://github.com/kdx7214> By chance, do you happen to know the
last version you used that did work?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/HandBrake/HandBrake/issues/751#issuecomment-306592011>,
or mute

[2017-06-06 20:14] jeff3820 commented on #734
No need to re-open...this is not a Handbrake issue. It's a Synology issue. It appears Video Station is indexing the files (hence reading incorrect or missing info) before the transfer from the Mac is complete. We are working on this issue now

[2017-06-06 20:18] bradleysepos commented on #727
I was wrong. I found three VCDs in a stack of old discs. Slightly non-standard (KVCD variant), but functional.

HandBrake does not open the entire disc like it would with DVD, but it does open the `/MPEGAV/AVSEQ01.DAT` file like any other MPEG file. Here's a scan log:

[code]

@huolu I notice that you tried opening a file named `avseq02.dat`. Is there an `avseq01.dat`? Because it's likely that you

[2017-06-06 20:19] bradleysepos commented on #734
Interesting. Well, please do update here if there is a resolution. Cheers!

[2017-06-06 20:25] kdx7214 commented on #751
Last time I got it to work successfully was 0.9.4 (IIRC).  I didn't save the download for it when I installed the 1.x series.

[2017-06-06 20:46] bradleysepos commented on #718
Assigning @galad87 as I've noticed this is a bit of an issue on macOS as well.

[2017-06-06 21:00] bradleysepos commented on #727
Hmm, doesn't work on Ubuntu 16.04:

[code]

[2017-06-06 21:02] bradleysepos commented on #727
I think there's something going on with how the operating system handles the data. Video CD uses track mode 2 (both form 1 and form 2), so I suspect Ubuntu may not be handling the block size correctly when accessing the files on the related track directly.

@jstebbins I may have to mail you a disc...

[2017-06-06 21:25] bradleysepos commented on #727
Looks like Ubuntu kernel team rejected implementing drag and drop of VCD pseudo-files: https://bugs.launchpad.net/ubuntu/+source/linux-source-2.6.17/+bug/82307

Closing since this appears to be a system level issue. Feel free to reply if further information comes to light.

[2017-06-06 21:27] bradleysepos commented on #716
Closing. Feel free to reply if you share a sample or have other information, and we can reopen as necessary.

[2017-06-06 21:27] #716 closed, assigned to nobody

[2017-06-06 21:37] bradleysepos commented on #685
This seems to be semi-fixed in the nightly build / on master branch. Instead of a black frame I get a still frame from the video, and motion comes later. I've seen this with other sources as well.

[2017-06-06 21:37] bradleysepos commented on #685
@jstebbins Possibly related to a/v sync work?

[2017-06-06 21:40] bradleysepos commented on #680
Suggestion: make HandBrake remember the control's selection between title changes / source loads until quit. This way we preserve the default state on launch while reducing the number of clicks the user needs to perform when batching.

[2017-06-06 21:45] bradleysepos commented on #663
Targeting for 1.2.0, but obviously we need to discuss and agree on what, if anything, we will implement.

I'm for the ability to customize the icon (already provided by the system) and the encode complete message (this issue). Additionally, I am willing to create a additional icons (e.g. for the encode complete message) if desired.

[2017-06-06 22:33] bradleysepos commented on #659
Targeting for 1.2.0.

Here are the device/playback scenarios I'm envisioning we may need to support in one way or another:

- Support for 44.1/48 kHz only. We should transcode to one or the other based on the input (e.g. 11.025/22.05 kHz to 44.1 kHz; 8/16/24/32 to 48 kHz. This mode could possibly be the default, as it's very similar to what we do now and is the most compatible.
- Support for all s

[2017-06-06 22:46] bradleysepos commented on #659
I failed to mention, we could theoretically remove the Samplerate column entirely. But it's probably better to keep it, populated with a selection based on what the other controls make available. This gives the maximum flexibility so the user can select options outside of what these rules provide for.

[2017-06-06 23:05] bradleysepos commented on #659
Another thing that came up in conversation with a friend: enabling "Limit first encoder for each selected track to 48 kHz" should guarantee a compatible audio track, especially when combined with "Convert sample rates less than 48 kHz (to 44.1/48)". These options should probably be default in the official presets.

I just realized the irony of how this looks given I was and am against the Opus cod

[2017-06-07 00:41] horford opened #768 "Issue with importing .json preset from Mac OS"
### Please describe the problem or feature request in detail:
I exported a .json preset from Mac OS X 10.12 and imported into my Windows 10 computer so I could have a 4K resolution preset but when I imported it to Handbrake on Windows it failed and gave me an error.
### What are the steps to reproduce this problem:
Import my preset from pastebin link, Save it as a .json file type.

https://pastebi

[2017-06-07 01:10] bradleysepos commented on #659
Second comp. This integrates some feedback and also shows what the default settings should be.

![handbrake-hd-audio2](https://user-images.githubusercontent.com/70239/26857963-8aaf8be6-4afc-11e7-8959-f8a3817586da.png)

[2017-06-07 02:10] luiscobot opened #769 "I have a .mp4 video, and I want a .avi video"
Hi, I use an app for Windows to do the work, but I want to use handbreak if is posible.
I have a .mp4 video, and I want a .avi video with this properties:

![croppercapture 1](https://user-images.githubusercontent.com/6332263/26859279-45048de4-4afc-11e7-9fa2-cbd7b0e083f8.png)

I was trying in handbreak, but first, I don't saw an .avi option.

Can I do this work with HandBreak?
Thanks.

[2017-06-07 02:17] bradleysepos commented on #769
No, HandBrake does not make AVI files. Sorry, but this is not a feature we plan to add, due to the age of the AVI format.

[2017-06-07 02:17] #769 closed, assigned to nobody

[2017-06-07 10:15] pacho2 opened #770 "Allow to use keyboard for jumping to desired language on subtitle lang selection"
### Please describe the problem or feature request in detail:
If you try to attach a subtitle file I need to go to the "Subtitle list" tab, click on "Add" and, then, from the opened window, select my language from a big big list. The problem is that the list is really long to scroll. I have tried to simply start typing "spa" or "eng" to try to jump to them but it did nothing.

It would be nice to

[2017-06-07 10:26] pacho2 opened #771 "Handbrake offers to "Add all" subtitles when opening a mkv with subtitles but it does nothing"
### Please describe the problem or feature request in detail:
When I try to generate a new output for Chromecast with its preset (even if this behavior happens with all the presets I have tried), once I open the source mkv file, I can, for example, go to the "Audio list" tab and click on "Add all" to simply get all audios... but when I try to do the same with "Subtitle list", clicking on "Add all"

[2017-06-07 14:19] Pazu opened #772 "Feature request: de-shake / motion stablization"
### Please describe the problem or feature request in detail:

Ability to apply motion stablization or "de-shake" as in ffmpeg's deshake filter.

### What are the steps to reproduce this problem:

N/A

### What version of HandBrake you are running:

1.0.7

### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):

 Mac OS X 10.12 and Windows 7.

### Was there a

[2017-06-07 14:25] bradleysepos commented on #772
This would be nice. Needs to land in Libav first, so it may be awhile. No ETA.

[2017-06-07 15:28] finalkenpachi opened #773 "(OpenCL) Program Shut Down"
Hey guys!

I'm trying to use my GPU for encode my 264 to 265. But when i changed Scaler setting to Bicubic (OpenCL) and after that starting to encode. Encode didn't start and after few second programs just shut down. No error or anything like that.

Note: CPU encoding working without problem only OpenCL

HandBrake Version: 1.0.7

Windows 10 64 bit
Fx 8320 and AMD R9 290

Thanks.

[2017-06-07 15:30] bradleysepos commented on #773
Thanks for reporting. This is unfortunately, a known issue at this time. Please follow #690.

[2017-06-07 15:30] #773 closed, assigned to nobody

[2017-06-07 15:33] finalkenpachi commented on #773
Thanks. I'm glad this problem not belongs me only. I hope this will fixed soon.

[2017-06-07 15:41] finalkenpachi commented on #690
I have same problem too with my AMD r9 290 GPU.

Program just shut down when i press Start Encode. CPU Encode works fine.

[2017-06-07 17:43] sr55 commented on #690
Your not missing out on anything. The OpenCL scaler will be slower on your system, so your better of staying on the CPU for scaling.

[2017-06-07 17:45] jimster480 commented on #690
I would love to see HSA support.

On Jun 7, 2017 1:43 PM, "Scott" <notifications@github.com> wrote:

[2017-06-07 17:53] sr55 commented on #690
Why?  HSA isn't really all that suitable for this kind of workload.  Video Encoding by it's nature, isn't highly parallel so won't scale well using the GPU.  That's why "GPU" encoders have pretty much all but died off now.  What we see in modern GPU's are actually dedicated hardware (ASIC) encoders.

[2017-06-07 17:56] jimster480 commented on #690
Well what about asic support like the rx series? Also HSA isn't like opencl
it has acceleration on non parallel tasks as well.

On Jun 7, 2017 1:53 PM, "Scott" <notifications@github.com> wrote:

[2017-06-07 18:04] sr55 commented on #690
AMD VCE is something we'd accept a patch for.  AMD already tried but failed to produce a usable patch.  IN theory, as soon as the upstream libav package supports it, it should be fairly trivial for us to add.

I know HSA is not like OpenCL.  It solves many problems OpenCL has, but it does not solve algorithm scalability problems. At best, it would solve some of the memory related issues around the

[2017-06-07 18:12] sr55 commented on #690
For this issue, I think we'll bin The OpenCL bicubic scaler. It's causing too many problems and not offering sufficient benefit to justify keeping it.

We'll leave the framework in place on the off chance we  have a filter or something that would benifit from it down the road.

[2017-06-07 18:22] sr55 commented on #768
The WinGui doesn't support importing multiple presets at once currently, so that may be part of the issue here.

[2017-06-07 18:38] #690 closed, assigned to sr55, maximd33

[2017-06-07 18:41] sr55 commented on #525
WinGui is done.  Can be closed now?

[2017-06-07 18:46] bradleysepos commented on #525
Yep, thanks sir.

[2017-06-07 18:46] #525 closed, assigned to bradleysepos, sr55, galad87

[2017-06-07 19:04] jstebbins commented on #771
Works find for me.  A HandBrake scan log would tell us more.

[2017-06-07 19:33] sr55 commented on #768
Fixed: e2632a1177355ad0d502c06c288bdad4e01c0b35

Note, You seem to have exported a category of internal presets. You won't be able to import that anyway. Make sure you correctly select the preset you want to export before exporting.

[2017-06-07 19:38] #768 closed, assigned to sr55

[2017-06-07 21:09] maximd33 commented on #690
:thumbsup:

[2017-06-07 22:38] ethan9801 opened #775 "Handbrake: Unable to select destination"
I recently installed the most recent version of Handbrake for Windows, but when I try to select a destination folder, it would not do anything when I press the save button. Help would be appreciated

[2017-06-08 02:32] nzrf opened #776 "TrueHD HandbrakeCLI not being pass-through"
### Please describe the problem or feature request in detail:
TrueHD not being passed through with command line options

### What are the steps to reproduce this problem:

I have tried both with the GUI and and CLI.  I can manually select pass-through for truehd using the GUI, but when I try and add it to my copy list from the CLI command it does not honor it. It does however honor DTS tracks and

[2017-06-08 04:43] bradleysepos commented on #776
The log verifies that you do not seem to be adding any audio tracks beyond the first specified in the default CLI preset, which is AAC. So your command is incomplete. You may want to review the --help.

Additionally, we only support self-compiled binaries on Fedora. Where did you get the HandBrake package you have installed?

[2017-06-08 04:55] bradleysepos commented on #776
I think what you want here is to modify your "single" command to include `-a 2 -E copy --audio-copy-mask truehd`.

The default selection is the first audio track, which is AC3 in the source provided. The second audio track is TrueHD, so you must specify it.

[2017-06-08 08:19] pacho2 commented on #771
Is this the log you need? (it seems nothing is added to it when I click on "Add all":
[10:17:49] gtkgui: HandBrake 1.0.7 (2017060700) - Linux x86_64 - https://handbrake.fr
[10:17:50] hb_init: starting libhb thread
[10:17:50] hb_init: starting libhb thread
[10:17:50] hb_init: starting libhb thread
[10:18:21] CPU: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
[10:18:21]  - Intel microarchitecture Kaby L

[2017-06-08 13:27] nzrf commented on #776
Thank you! This lead me down the right road I think.

I am still trying to figure out how i'll do this programmatically to get only get desired tracks.

Probably need to look at ffprobe or something.

[2017-06-08 15:17] jstebbins commented on #771
Yes, that's exactly what we needed.  I'm guessing you are using the Gentoo HandBrake package. It is built incorrectly. They linked against ffmpeg instead of libav which doesn't work.  Those libraries are not 100% interchangeable.
[code]
The above snip from your log is one of the symptoms of an incorrectly built version of HandBrake and likely the cause of your subtitle problems.

Unfortunately we

[2017-06-08 15:58] bradleysepos commented on #776
Glad it's working, cheers.

[2017-06-08 15:58] #776 closed, assigned to nobody

[2017-06-08 16:02] pacho2 commented on #771
Yes, it's built against ffmpeg... because many other reverse deps work better with ffmpeg than libav :/
What is the incompatibility with ffmpeg? Maybe we can try to fix it (or maybe I could try a different ffmpeg version)

[2017-06-08 16:04] bradleysepos commented on #771
That's a long discussion. Not possible.

We do provide dependency instructions for Gentoo at John's link. Suggest you build a proper HandBrake and be happy.

[2017-06-08 16:10] pacho2 commented on #771
It seems this is the bug in ffmpeg side... they blame on handbrake and, well, I guess this is caused by the usual war between ffmpeg and libav :S
https://trac.ffmpeg.org/ticket/6304

[2017-06-08 16:17] jstebbins commented on #771
There are a number of known incompatibilities.  And I expect there are also a number of unknown incompatibilities.  The HandBrake team is small, we all have other full time jobs. HandBrake is a hobby and we don't have time to support maintaining support for multiple variations of external libraries.  This is why our build system statically links *specific* versions of key libraries that have prove

[2017-06-08 16:23] pacho2 commented on #771
Well, but forcing people to rely on bundled libraries, apart of having some issues related with security as you will need to ensure you provide a fixed/updated libav bundled lib, will also have the issue of you alone needing to handle that incompatibilities. Specially since most distributions switched to ffmpeg from libav (even gstreamer-libav plugin is now relying on ffmpeg and not libav). Most u

[2017-06-08 16:24] bradleysepos commented on #771
Thanks for the advice.

[2017-06-08 16:24] #771 closed, assigned to jstebbins

[2017-06-08 16:30] pacho2 commented on #771
OK, let's see what can we do downstream... but I doubt they will agree on using the bundled lib, for example now, the provided one is libav-12... that is vulnerable to, for example:
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-9051

At least you should try to update to 12.1 ;) But this problem is going to reappear as soon as you keep relying on bundled libraries :/

[2017-06-08 16:32] jstebbins commented on #771
Of course https://github.com/HandBrake/HandBrake/pull/767

[2017-06-08 16:47] jstebbins commented on #771
This problem never goes away for us.  You are looking at this from a very limited point of view (one version of one particular distro of Linux). Linux is a very *very* small portion of our user base.  The vast majority are Windows and OSX.  Sure, we could force our users to use some Homebrew-like repo on these platforms, but that only adds complexity for our users and vast amounts of work for us t

[2017-06-08 18:05] sr55 commented on #775
What do you mean?  It doesn't populate the Destination file box with the path you've chosen?

[2017-06-08 18:28] sr55 commented on #688
So this was fixed a few weeks back. When the nightly builds come back or the next release comes out it should be sorted.

[2017-06-08 18:28] #688 closed, assigned to sr55

[2017-06-08 18:36] #715 closed, assigned to sr55

[2017-06-08 20:28] pacho2 commented on #771
Well... it is not only one distribution, most linux distributions are going to face this bugs as they use ffmpeg over libav (even Debian seems that moved to ffmpeg from libav... https://lwn.net/Articles/650816/ and I think in Gentoo we were the last moving the default to ffmpeg a bit later).
Does libav have any "advantage" on Windows/MacOSX users *currently*? (some years ago it seemed that libav w

[2017-06-08 20:38] bradleysepos commented on #771
I'd like to think we're well informed on all of this. So your concerns are appreciated and noted.

What amazes me is how packagers blindly replace one library with another and act like it's our problem, as if statically linking Libav is mortal sin compared to ignorantly swapping in FFmpeg (often times more than just that). I'm not suggesting you're doing this, just saying... the discussion is almo

[2017-06-08 22:43] DKnightX91 opened #778 "Randomly audio not syncing on some DVDs"
### Please describe the problem or feature request in detail:
When ripping DVDs some randomly have a 1-5 audio desync.

### What are the steps to reproduce this problem:
Tried on the general presets very fast, fast, and HQ on two different computers with the same results.

### What version of HandBrake you are running:
1.0.7.0 64 bit

### What operating system and version and you running (e.g. OSX

[2017-06-09 03:03] bradleysepos commented on #778
What players/devices are exhibiting the problem? This is currently a known issue with some. We have a fix in the works.

Also, please provide an activity log.

[2017-06-09 14:04] DKnightX91 commented on #778
3 different windows 10 computers and 4 different Roku devices and the players used were VLC, Windows media player (both versions) and Plex.

pastebin.com/DU1Fkna9

[2017-06-09 14:09] bradleysepos commented on #778
Okay, thanks for the info. I believe this is a duplicate of #752. We have a fix in progress as #763.

Short version: some players don't support MP4 edit lists properly. So a recent change fixed this for some players and broke it worse for others. We're on it for next release.

~I believe versions < 1.0.4 are not affected.~ You can also use MKV as a workaround.

[2017-06-09 15:06] jstebbins commented on #778
If it's not playing correctly in VLC, then it's not the same problem.

[2017-06-09 15:43] DKnightX91 commented on #778
Ok so just an update, making it a MKV fixes the audio sync problem. But if it's an M4V or MP4 it will not be synced. It's doesn't happen on all DVDs. Just about 5% out of the ones I have done.

[2017-06-09 18:44] Djfe opened #779 "No valid source found - 6 frames huffyuv avi without audio"
Hi,

Handbrake doesn't let me open the following file:
https://drive.google.com/open?id=0B_dHhH1qeJ6DMU5ETG5rdFpDWGM

Even though it's definitely playable.

I used ffmpeg to extract this 6 frame sample from another bigger sample (>400MB) for another bug report.

Regards,
Djfe

[2017-06-09 18:58] Djfe opened #780 "RGB colorspace isn't converted correctly to BT.709"
Hi,

I have an intro animation file (an huffyuv .avi) in rgb color space, which I want to convert into an mp4 with lossless H.264.

Handbrake doesn't seem to be converting the colors correctly.
Left: Original
Right: After conversion
![vlc_2017-06-09_20-51-40](https://user-images.githubusercontent.com/5685512/26990100-cad6b69e-4d55-11e7-99d3-9c8e0c880974.png)

(You can see it in the yellow and gree

[2017-06-09 19:19] Djfe commented on #780
addendum:

I just tried
ffmpeg with -vf colormatrix=bt601:bt709 on it.
Now the colors look like in the original.

ffprobe says for the file encoded by handbrake:
Stream #0:0(und): Video: h264 (High) (avc1 / 0x31637661), yuv420p(tv, bt709), 1920x1080 [SAR 1:1 DAR 16:9], 3782 kb/s, 60 fps, 60 tbr, 90k tbn, 180k tbc (default)

So Handbrake encodes bt709 instead of bt601, even though the content got e

[2017-06-09 19:22] galad87 commented on #780
There is no color tag in your .avi file, so FFmpeg/libav cli takes a guess (probably wrong). HandBrake uses bt.709 for untagged HD video, there is no way to change this is the UI yet, you can set the color tag you want in the cli. I recommend to use a format that supports a color tag (mp4/mov/mkv/mxf), so you won't have to guess each time.
However, something might be wrong in the RGB->YUV conversi

[2017-06-09 19:29] galad87 commented on #780
No issues in the RGB->YUV. So you just need to set the color tag manually because there is none in your source file.
See https://github.com/HandBrake/HandBrake/issues/493

[2017-06-09 19:29] #780 closed, assigned to nobody

[2017-06-09 19:30] Djfe commented on #780
In this case it didn't, it assumed bt.601 and saved it as bt.709, else -vf colormatrix=bt601:bt709 (assuming bt.601 and converting to bt.709) wouldn't have worked correctly.

The input file is Full HD btw.

And yes I would've used a different format myself, but I got the file from the person I'm working with and since I figured it out by now, it doesn't matter for me anyways.

That might be the ca

[2017-06-09 19:32] Djfe commented on #780
How would I do that actually? I mean how can I find out what is correct if not bgr0?

[2017-06-09 19:35] galad87 commented on #780
You need to ask whoever created the file if he/she used bt.601 or bt.709 or bt.2020 or something else. Because the info is not available in the .avi file.
You can use --color-matrix in HandBrakeCLI.

[2017-06-09 19:36] Djfe commented on #780
BT.709 and BT.601 are only for YUV and not for RGB right?
So how can this be guessed wrong?
I mean there is only one type of RGB, so the converter has to set the correct BT, doesn't he?

EDIT:
so the BT stuff is also important for RGB?

[2017-06-09 19:44] galad87 commented on #780
BT.709 and BT.601 can be applied to both RGB and YUV. They define a color space (white point, tristimulus, a yuv<->rgb matrix). RGB means each pixel of your video is stored with a value for the red component, one for green and one for blue. But without a color profile there is no way to know how these values should be relatively to your screen color profile.

[2017-06-09 19:45] Djfe commented on #780
Ok, ty so much for explaining this stuff to me :)
Have a nice weekend ;)

[2017-06-09 20:16] sr55 commented on #779
Does a longer sample work?  This may be below the minimums we can support.

[2017-06-09 20:50] Djfe commented on #779
ok, it might not be typical to support one-frame files, but what speaks against it?
do you know what the limiting factor is? (Is it because the file was 1/10 second short? ^^)

I tested it out: 11 frames are enough for handbrake to process the file.
The source file has 60 frames per second.

The only reason for me to limit the number of frames, was that I wanted the sample to stay below 10mb.

[2017-06-09 21:23] jstebbins commented on #779
The limiting factor is in how we scan the source checking for valid video, audio, closed captions, etc.  We look for a minimum number of samples in order to improve our analysis of the stream.  When the minimum number of samples doesn't exist, we are currently just giving up rather than falling back on the samples that were successfully read.

This is fixable and in fact, a fix is on the way ;)

[2017-06-09 21:24] #779 closed, assigned to nobody

[2017-06-09 23:22] Djfe commented on #779
awesome! thx :)

[2017-06-10 03:55] Xaymar commented on #697
A bit of an update on the situation here: I've prioritized integration into ffmpeg so that it can be done in H2 of 2017, essentially also giving access to Handbrake to it through ffmpegs libraries.

[2017-06-10 05:45] jimster480 commented on #697
Awesome! Can't wait to have this!

On Jun 9, 2017 11:55 PM, "Michael Fabian Dirks" <notifications@github.com>
wrote:

[2017-06-10 13:39] jstebbins commented on #779
You didn't provide a log and you didn't say what OS you are running HandBrake on, so we don't know.  Nightly builds of the Linux version of HandBrake are available which have this fix.  Nightly builds for the other OSes are currently suspended.  But we are planning to do a new official release soonish.

[2017-06-10 19:05] Djfe commented on #779
Right now I'm running Handbrake 1.0.7 on Windows
I already found out about why the nightlife suspended, shortly before writing this post, because I wanted to download the newest nightly from your website ^^

anyways, I had the log in my clipboard and forgot about it lol :D

[2017-06-11 10:21] mmattel commented on #345
When you create videos with a camera, a timestamp and GPS info is (most times) added.
It would be great if this can be preserved.

[2017-06-12 02:26] teusday opened #783 "Feature Request: Automatic File Naming Creation Date variable"
When importing/encoding video from an external source it would be nice to name it based on when that source file was created. Right now with autonaming there's a way to name it after the current date, and I'm wondering if it would be possible to make a variable that was replaced with the creation date, {creation-date} for example.

[2017-06-13 14:42] IggySmalls commented on #688
Can confirm, this fixed the issue with the latest nightly build.  Thanks!

[2017-06-13 18:01] #761 closed, assigned to bradleysepos

[2017-06-13 18:22] #742 closed, assigned to bradleysepos

[2017-06-13 22:38] ghost commented on #575
I know this is closed, but I might have come across something that may help you guys figure out what this is all about (well I hope it does anyway). Long story short it's to do with the fdk aac codec. I tried using HandBrake 1.0.7 - the stable release I built with fdk enabled, and a video with the first track encoded with fdk aac freezes at the end of playback as described. Today I've discovered t

[2017-06-14 02:43] bradleysepos commented on #752
Now that #763 has been merged, this will be in the next nightly build, which we plan to ship in the next few days. Please test the "Align A/V Start" setting.

Closing. If you continue to have issues with the new setting engaged, feel free to comment here and we can reopen if necessary.

[2017-06-14 02:43] bradleysepos commented on #778
Now that #763 has been merged, this will be in the next nightly build, which we plan to ship in the next few days. Please test the "Align A/V Start" setting.

Closing. If you continue to have issues with the new setting engaged, feel free to comment here and we can reopen if necessary.

[2017-06-14 02:45] bradleysepos commented on #685
Please test the next nightly build, which we plan to ship in a few days.

[2017-06-14 02:47] bradleysepos commented on #452
Rescheduling for 1.2.0. @galad87 is this something that could make 1.1.0?

[2017-06-14 02:56] bradleysepos commented on #649
@jstebbins Seems like something to try to get in soon.

[2017-06-14 02:59] bradleysepos commented on #749
Closing. Feel free to comment further and we can reopen if necessary.

[2017-06-14 02:59] #749 closed, assigned to nobody

[2017-06-14 03:03] bradleysepos commented on #775
Closing. Feel free to comment further if you have more information, and we can reopen if necessary.

[2017-06-14 03:03] #775 closed, assigned to sr55

[2017-06-14 10:25] dapetcu21 opened #784 "Handbrake can't be used if disk space under 2GB"
### Please describe the problem or feature request in detail:
Handbrake doesn't allow me to use it if my disk space is under 2 GB. I expect it to warn me, but still allow me to continue on my own risk.

### What are the steps to reproduce this problem:
Try to encode any queue with less than 2 GB disk space left

### What version of HandBrake you are running:
1.0.7 (2017040900)

### What operating

[2017-06-14 13:36] Zooloos007 commented on #159
Apple 540p qHD Surround
Description: H.264 video (up to 540p30), AAC stereo audio, and Dolby Digital (AC-3) surround audio, in an MP4 container. Compatible with Apple iPhone 1st Generation, 3G, 3GS, and later; iPod touch 1st, 2nd, 3rd Generation and later; iPod Classic; Apple TV 1st Generation and later.

Not working! Checked it on my Iphone 3GS. I did try to make it 480 not 540 not working.

[2017-06-14 14:03] jstebbins commented on #649
I'm not going to make any special effort to get this in for 1.1.  TBH, I'm not all that interested in having it in the GUI.  Flip is more of an editing feature.  How many cameras take mirror image videos?

[2017-06-14 14:15] bradleysepos commented on #784
Thanks. Please follow on #758.

[2017-06-14 14:15] #784 closed, assigned to nobody

[2017-06-14 14:18] bradleysepos commented on #159
@Zooloos007 Please open a separate issue and provide an activity log so we can take a look.

[2017-06-14 16:15] dynamodan commented on #649
100% of those cameras taking video in a mirror.  Not many perhaps, but odd quirky stuff like this is one of many good reasons to use handbrake.

So are crop, rotate, greyscale, and a few others which are present for both platforms.

Hey if it's too difficult don't worry about it, no rush.  Or I may get a chance to add it myself.  Or maybe one of the 277 forks has added it.  For now I can use Blend

[2017-06-14 18:09] bradleysepos commented on #504
@sr55 Planning for 1.1.0 or should we re-target for 1.2.0?

[2017-06-14 18:18] sr55 commented on #504
Probably won't have time.

[2017-06-14 18:20] bradleysepos commented on #751
Confirmed with current master branch (post-1.0.7). Burning in CC works fine, but unchecking burn-in creates an empty subtitle track in **MKV**. MP4 works fine.

[2017-06-14 18:34] jstebbins commented on #751
And still no log.  I can't reproduce 😿

[2017-06-14 18:37] jstebbins commented on #751
bah! I was looking for a highlighted link.  missed the link because it's not highlighted

[2017-06-14 18:38] bradleysepos commented on #751
Log at the end of OP.

Here's mine:

[code]

[2017-06-14 18:48] jstebbins commented on #751
@bradleysepos according to your log, you got a subtitle track with 6 subtitle frames which seems completely reasonable for such a short video segment.

[2017-06-14 18:49] bradleysepos commented on #751
Nothing is displayed when selecting the subtitle track in VLC.

[2017-06-14 18:51] bradleysepos commented on #751
To be clear, this only seems to affect MKV. MP4 works fine in QuickTime and VLC.

[2017-06-14 18:51] jstebbins commented on #751
I think you are having a player issue.  Works perfectly fine for me, playback with both vlc and mpv on linux.

[2017-06-14 18:53] jstebbins commented on #751
Your log has this indicating that CCs were seen in the source during the encode

The OPs log completely lacks this indicating that the source he is encoding may actually have an empty CC track.

[2017-06-14 19:00] bradleysepos commented on #751
Remuxing the MKV to MP4 works, so either I'm having a separate issue, or we're both having VLC issues (OP suggests it's not just one source).

[2017-06-14 19:05] bradleysepos commented on #751
@kdx7214 It is possible for some DVDs to be mastered improperly in a way that produces an empty CC track. Additional log(s) would be helpful. Perhaps you are also having player issues?

Closing for now. Feel free to comment further and we can reopen if necessary.

[2017-06-14 19:05] #751 closed, assigned to jstebbins

[2017-06-14 19:37] kdx7214 commented on #751
Well, I'm able to put the DVD into a blu-ray player and using the closed
captions works fine (not the VOB style captions).   This is done on a
closed caption TV.   I've also used SubtitleEditor to extract the subtitles
from the resultant MKV files and all of them are empty.  I've also tried
VLC under linux without success.   As soon as I get a free minute I'll rip
some other discs to mkv and post

[2017-06-14 20:55] bradleysepos commented on #778
Reopening; the underlying feature will be in the next nightly, but the graphical control has not yet been implemented.

[2017-06-14 20:55] bradleysepos commented on #752
Reopening; the underlying feature will be in the next nightly, but the graphical control has not yet been implemented.

[2017-06-14 21:00] jfen opened #785 "wont start"
### Please describe the problem or feature request in detail:
will not start in windows 10
### What are the steps to reproduce this problem:
just trying to start it
### What version of HandBrake you are running:
newest, downloaded on 6/14/17
### What operating system and version and you running (e.g. OSX 10.11,  Windows 7, Ubuntu 14):
windows 10
### Was there any error message or error dialog, if

[2017-06-14 21:03] sr55 commented on #785
If your using RivaTuner, add an exception for HandBrake.  There is an issue with it and Windows 10.

[2017-06-14 21:10] sr55 commented on #778
And Done.

Re-Closing :)

It'll be in the next "nightly" I manually push. Which I'll do tomorrow.

[2017-06-14 21:10] #778 closed, assigned to nobody

[2017-06-14 21:11] sr55 commented on #752
Re-Closing, The WinGui is now committed.

[2017-06-14 21:11] #752 closed, assigned to sr55, galad87

[2017-06-14 22:47] kleytr6s opened #786 "will not scan input"
Please describe the problem or feature request in detail: after loading an input file a warning screen appears that says -->  no valid source or titles found  the log i have attached has the same details for the 32 and 64 bit version

What are the steps to reproduce this problem:  open a file

What version of HandBrake you are running: tried with 32 and 64 bit WIN_GUI 20170613212211-16cc030-master

[2017-06-15 07:11] galad87 commented on #758
MacGui version added in 7aaee9a9b0af21ac56549e4fd32c877e53f7f48b .

[2017-06-15 13:36] jfen commented on #785
that was the issue i just uninstalled it and handbrake started working. ill reinstall and add an exception so that i can still use it.

thanks much

[2017-06-15 13:36] #785 closed, assigned to nobody

[2017-06-15 17:54] sr55 commented on #786
Grab a new nightly build. You caught a broken build.

[2017-06-15 17:54] #786 closed, assigned to sr55

[2017-06-15 21:47] jstebbins opened #787 "Pixelation problem"
### Please describe the problem or feature request in detail:
Transcoded video has pixelation that is not seen in source
See https://forum.handbrake.fr/viewtopic.php?f=12&t=36511

### What are the steps to reproduce this problem:
Sample provided
https://drive.google.com/drive/folders/0B3INX0MTCyLbR3BiZGxxbVR4OEE

### What version of HandBrake you are running:
1.0.7

### What operating system and v

[2017-06-16 16:45] #673 closed, assigned to jstebbins

[2017-06-16 21:38] jstebbins commented on #693
I think what you are seeing is an old bug that was fixed a while back. The nightly build you appear to be using is from april.  The expected behaviour is that foreign audio search and your first vobsub or pgs subtitle would be marked for burning.  Both are flagged because foreign audio search may find no candidate subtitles.  When this happens, the foreign audio search entry gets dropped and the s

[2017-06-16 21:39] #693 closed, assigned to jstebbins

[2017-06-17 17:16] d4rkne55 opened #789 "Crash on startup on Windows 10"
### Please describe the problem or feature request in detail:

I had Handbrake v0.10.5 and v1.0.2 installed simultaneously and everything worked fine back then.
Just some days ago I uninstalled v.0.10.5 and since then I couldn't start Handbrake (v1.0.2) anymore. I then tried uninstalling that too, backing up and removing the AppData folder (not the whole folder of course, just the Handbrake folder

[2017-06-17 17:20] sr55 commented on #789
Running multiple versions is not supported and will lead to the 2 versions overwriting and corrupting presets and to a lesser extent settings.

It could be a coincidence.  If you've cleared all files and it's not working, if you have RivaTuner installed, add an exception for HandBrake as it doesn't interact well with creators update and it kills many apps that hook DirectX.

[2017-06-17 17:24] tripplesix opened #790 "Audio Commentary Not Showing As An Option When I Load Some DVDs"
I don't use Handbrake, I use VidCoder, but was told to ask here.

Please describe the problem or feature request in detail:
Some of the DVDs (the only ones I remember are Big Momma's House and Bluehill Avenue; but there were more) that I load into VidCoder do not have Audio Commentary as an audio choice even though the DVD definitely has Audio Commentary. Note: some DVDs show the options, but some

[2017-06-17 17:52] d4rkne55 commented on #789
It worked nice though, as far as I could tell. But yeah, normally one should run only one version, I just wanted to compare them because of the large version bump.^^

Thanks for the tip regarding RivaTuner though, I have MSI Afterburner and RivaTuner always running, could be the problem here, I'll give it a try in a moment. :)

**Update:** Wow, awesome, it worked! :D Should be noted somewhere offi

[2017-06-17 17:56] bradleysepos commented on #790
See https://handbrake.fr/docs/en/latest/help/activity-log.html, thanks.

[2017-06-17 18:14] #789 closed, assigned to nobody

[2017-06-17 18:35] sr55 commented on #789
I was hoping people would fix their buggy software but apparently not :(

[2017-06-17 18:36] bradleysepos commented on #789
Yeah, we should probably put a notice somewhere about RivaTuner. I'll see about adding it to the documentation.

[2017-06-18 22:24] tripplesix commented on #790
Ok.
So I think I did this right. This is link to the log file for Bluehill Avenue:
https://www.dropbox.com/s/s0j65g6f1v9s3dy/Blue%20Hill%20Avenue%C2%A0%282001%29.mp4%202017-06-16%2022.23.15.txt?dl=0

Thank you.

[2017-06-19 14:32] MrxHellsing opened #793 "Feature Request: Stop and resume"
Can you add a feature like saving a certain percentage of encoding then resuming it from there. For an example anyone started encoding a video and 24% completed and then saved it. The next time he can start resume encoding from 24%. You how helpful this feature can be. Because when it comes to encode very large videos I divide it using MKToolNix and encode them individually but instead of decreasi

[2017-06-19 17:35] #685 closed, assigned to jstebbins

[2017-06-19 18:00] PiRomant opened #794 "HandBrake delete track names from the original video"
Old track names is looses.
Give Handbrake the option to just copy the track name from the original video file and apply it to the track in the output.

[2017-06-19 21:26] jstebbins commented on #790
I see 3 source audio tracks listed in your log.  The first is 5.1 audio and is the track you chose to encode.  The other 2 are stereo.  Have tried these other 2 tracks to see if either is the commentary you are looking for?

[2017-06-19 21:34] Synapto commented on #787
Issue is replicated precisely when playing the supplied test.mkv through AVPLAY.EXE (v13_dev0-1047-g9e4a5eb)

Issue is absent completely when playing the supplied test.mkv through FFPLAY.EXE (N-86447-gfeb13ae)

[2017-06-19 21:55] #717 closed, assigned to bradleysepos, jstebbins

[2017-06-19 22:00] jstebbins commented on #787
Yes. I came to the same conclusion.  Forgot to get back to this and mark as an upstream bug. I'll do a deeper dive when I get some time to see if I can locate the source of the problem in the libav decoder.

[2017-06-19 22:18] tripplesix commented on #790
So the ridiculous thing is, that was the solution. Of all the things I tried and reloading and re-encoding, that is the one thing I didn't consider. But that is because sometimes, audio commentary is blatantly labeled as so for one of the tracks.
Thanks so much for pointing out something so simple!! I am a happy camper again.

Could you possibly tell me why sometimes an audio track is blatantly la

[2017-06-19 22:23] jstebbins commented on #790
DVDs have an identifier that can be set to differentiate audio track types.  But the identifier isn't always set by whoever mastered the disc.  When this identifier is not set, there is no way to distinguish one audio track from another.

[2017-06-19 22:24] #790 closed, assigned to nobody

[2017-06-19 22:26] tripplesix commented on #790
Got it! I figured it was their fault.
Thanks a lot! You have been very helpful!
Problem solved!

[2017-06-20 21:57] jstebbins commented on #758
Linux version added 707b0a1

[2017-06-20 21:57] #758 closed, assigned to jstebbins

[2017-06-21 11:20] DIDOUDD opened #795 "Sound after encoding is bad"
### Please describe the problem or feature request in detail:
I reencode a file to change the resolution (1280 to 720).

HandBrake-20170615-0dc659b_x86_64-Win_GUI

Windows 10 64bits

No error message

The sound of the original file is good, but after encoding the sound is bad like frying.
Codec of the original file : Mpeg AAC (mp4a) stereo 48000hz
Codec of the target file : same as original

``` [

[2017-06-21 15:43] jstebbins commented on #793
This just isn't technically feasible. There is encoding context that would have to be saved when you stopped the encoding.  None of the encoders HandBrake uses have the ability to save this context.

To help with this issue, we would need to see activity logs for both an encode that decreases file size as you expect and one for an encode that increases the file size.

[2017-06-21 15:45] V2atX opened #796 "Feature Request: Allow odd pixel crop (shift crop by one pixel)"
### Please describe the problem or feature request in detail:
I have already submitted this feature request a while ago on the forum (https://forum.handbrake.fr/viewtopic.php?f=26&t=35384),
but was able to workaround this problem by using the CLI (and getting the line I had to use from the log in the GUI).
I love the current version, because it allows me to pause an encode, but apparently it doesn

[2017-06-21 15:57] jstebbins commented on #783
Just thinking about how this should be implemented. There are actually 2 ways to handle this.  Some files have metadata that indicates creation date.  HandBrake stores this in the titles metadata.  I think the right approach would be to use this if it exists, and fall back to using the creation date of the file if it doesn't exist.

However, the metadata date is a free format string, so could tech

[2017-06-21 15:58] V2atX commented on #795
Have you tried using the Auto Passthru feature instead? Re-encoding into a lossy format is always a quality decrease.

[2017-06-21 17:08] DIDOUDD commented on #795
With Auto Passthru the sound is good.

[2017-06-21 17:17] DIDOUDD commented on #795
Another test, same file but y encode the sound with lower bitrate (160 to 128) and lower samplerate (48 to 44.1) and the sound is good. The problem is when y choose the same bitrate and the same samplerate ?

[2017-06-21 17:35] V2atX commented on #795
I don't understand why you would ever transcode the audio if source and target bitrate, audiocodec and samplerate stay the same. If the issue only appears then, it isn't really an issue, is it?

[2017-06-21 18:03] DIDOUDD commented on #795
Because y reencode many series in the same time (all the night), witch not have the same type of sound (5.1, dolby, stereo, AC3....) and y want all my files in stereo.

[2017-06-21 18:40] izzylizzy opened #797 "Not encoding on Mac"
**### Please describe the problem or feature request in detail:**
In the last few weeks, I've ripped several DVD's. Today, I tried and on three separate Macs (two running Sierra and one on Yosemite), it flies through the encoding in about two seconds and tells me it's finished. I have libdvdcss installed properly from GitHub (as I've successfully ripped in the last few weeks).
**### What are the s

[2017-06-21 18:55] sr55 commented on #797
Sorry, we neither support or recommend Libdvdcss.  It's quite common that encodes will fail with it. It doesn't remove anything but CSS and discs now come with all sorts of structural copy protection mechanisms.

[2017-06-21 18:55] #797 closed, assigned to nobody

[2017-06-21 19:06] jstebbins commented on #746
I'm investigating this and it's going to require something a bit more than just caching in the title.  The problem is that all the GUIs use separate hb_handle_t for scan vs. encode vs. live preview.  For example, LinGui has 2 global hb_handle_t.  One is used for encodes and the other is used for scan and live preview generation.  The titles are attached to the hb_handle_t.

This is OK when *not* u

[2017-06-21 19:34] izzylizzy commented on #797
So is there a way to rip a dvd with handbrake anymore? We have a license to use the movie, we just need to cut some clips from it and not use the whole thing.

Elizabeth Stubblefield
Technical Arts Director
Encounter Church
C: (409) 679-0039
encountermc.com<http://encountermc.com>
________________________________
From: Scott <notifications@github.com>
Sent: Wednesday, June 21, 2017 1:55:07 PM
To:

[2017-06-21 20:46] sr55 commented on #797
There are a few tools folks tend to use. MakeMKV is very popular that copies the MPEG2 stream of a DVD into the MKV container, then HandBrake is used to compress / convert / remux to whatever you choose.

It's a two step process, but it's far more reliable.

[2017-06-21 20:58] jstebbins commented on #698
Are you reading direct from the DVD or from an iso file? Do you have automatic naming enabled in preferences?  Is "{source}" part of your Auto-Name Template?  Did you get HandBrake from our Ubuntu PPA repo?

The only time you should get "New Video" as the default file name is if you have automatic naming disabled.

[2017-06-21 21:10] jstebbins commented on #680
Another suggestion.  Make SourceRangeType a preset key.  User can create preset that defaults to what they prefer.

The problem with the initial suggestion, at least for LinGui, is *all* settings are set for *all* titles immediately after the scan is finished.  As you change from title to title, the settings for that title are populated in the GUI.  LinGui does this so you can switch between title

[2017-06-21 21:13] jstebbins commented on #584
Implemented 74b10b2

[2017-06-21 21:13] #584 closed, assigned to nobody

[2017-06-21 21:26] stuaxo commented on #698
I was running direct from a DVD, but don't remember most of the other details.

I would like to give it another go, I guess I should install from your ppa, how can I reset all the settings to make sure I am running with the defaults before I retest this ?

[2017-06-21 21:32] jstebbins commented on #698
To scrub all setting, you can remove the directory ~/.config/ghb

[2017-06-21 21:44] stuaxo commented on #698
Cheers -  it works if I choose File-> /dev/sr0  :)

The time before I didn't do that, but clicked

Open Source, then I clicked on the label of the dvd in the Gtk file browser (current test dvd is "My Wrongs").

As a developer I understand the difference between the device and the root of the filesystem where the dvd is.

As a user, I think that this should probably just work - I wasn't thinking li