[2017-11-26 19:15] woodstockathbf commented on #1020
Not just "suspiciously like", exactly like. I ran an experiment of copying a log file to the same directory as the output file (encoded with burned-in subtitles), and the subtitle list for that title "gained" an entry.

Donlassini - this is a VLC "feature" that won't be a factor if you don't save the log files to the output directory, or vice-versa. It might show up in other players, too. Move the

[2017-11-26 19:44] sr55 commented on #1009
There is nothing here that HandBrake can work with.   Your source is probably copy protected. (Something HandBrake doesn't handle).  You may have had libdvdcss installed in the past which would have allowed it to work with some discs. Either that or you were pre-ripping with a ripping utility.

Either way, the start button won't enable until you feed in a supported, non-copy-protected source.

Man

[2017-11-26 19:44] #1009 closed, assigned to nobody

[2017-11-26 19:58] bradleysepos commented on #1022
@maximd33 Does QSV 10-bit have QP 0-11.999?

[2017-11-26 20:08] donlassini commented on #1020
How embarrasingly stupid! Yes, of course!
I am truly sorry for that mistake, and sorry for wasting your time :-(

[2017-11-26 20:08] #1020 closed, assigned to nobody

[2017-11-26 20:26] bradleysepos commented on #1020
No worries, glad you got it sorted.

[2017-11-26 20:59] josephpaul0 opened #1023 "Handbrake 1.07 patch for VOB deep scan"
### Description of problem or feature request
In many VOB files, handbrake does not find all subtitles or all audio tracks.

### HandBrake version
All handbrake versions.

Patch attached.
[handbrake-1.07_vob_scan.patch.txt](https://github.com/HandBrake/HandBrake/files/1504225/handbrake-1.07_vob_scan.patch.txt)

[2017-11-27 08:56] Grauhaar opened #1024 "Feature Request: Pass already set MKV track settings to output MKV file"
### Description of problem or feature request

I already placed this request to the VidCoder Crew which agree to this request this but they say, that this must be implemented in Handbrake to support this in VidCoder which is using the Handbrake engine.

The main reason is to avoid an addional step with MKVmerge after encoding with Handbrake to modify the MKV header track settings for Default Track

[2017-11-27 09:53] Cantar4 commented on #315
@putztzu
You will currently find no help from Libav.
[Not Enough Trocadero](https://libav.org/releases/libav-12.2.changelog) v12.2, released 2017-09-30 still brings _nothing_ about XYZ color space handling ; sad news but that is the reason why bradleysepos last year closed this issue as an HB one

This dark hole will be instantly filled the day HB switches to FFmpeg, but reading issue #[974](https

[2017-11-27 10:30] maximd33 commented on #1022
To be exact: HEVC 10b spec defined QP range as [-12,51]

QSV handles QP value as "unsigned 16b integer" therefore shift of 12 needed.

@bradleysepos, on some HW, 0-11 values can be set, internally, as QP=12

[2017-11-27 17:34] putztzu commented on #315
@Cantar4
Thank you for your elucidation and correcting the impressions of the posts in this thread before it was originally closed.

[2017-11-27 18:30] #1023 closed, assigned to jstebbins

[2017-11-27 18:57] JWKauffman1951 opened #1025 "Request: Periodic signed Nightlies"
My Win 10 Fall Creators' Edition has suddenly refused to run the Handbrake Nightly installer. I used to get the warning pop-up where I could choose "Install anyway", but now the installer won't even get to that point.

I don't know if this is specific to my system, or the result of a Windows Update change. In any case, I think it would help all of us if a signed Nightly was released once a month o

[2017-11-27 18:59] sr55 commented on #1025
Signing is a manual offline process, so it's not feasible to offer signed nightly builds. Sorry.  FCU can still install unsigned code without any issue so you may want to look into why your being blocked.

I really don't have the time to spare to even do snapshots signed.  I wish reality was different but that's just how things are.

See

![image](https://user-images.githubusercontent.com/628593/3

[2017-11-27 19:29] #1025 closed, assigned to sr55

[2017-11-28 02:55] Seajayy2k opened #1026 "Handbrake converting 4K videos?"
### Description of problem or feature request

Description here.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

HandBrake version here.

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

OS and version here.

### Error message text or screenshot

Type or paste text and/or drag and drop image.

###

[2017-11-28 02:57] Seajayy2k commented on #1026
I have tried to convert 4K videos using handbrake and have even followed many a youtube video to no avail. The video and audio are not in synch. The files are very large tons tart with (over 20GB), and using the new apple tv, this was going to be a great way to stream my videos. Can you assist me with the right settings or are you going to release a version that handles REMUX MKV 4K videos better?

[2017-11-28 02:58] Seajayy2k commented on #1026
I am using a MAC, Yosemite 10.10.5 with 32 GB Ram

[2017-11-28 03:01] PokeCaptain commented on #1026
Try the nightly, I believe a problem like this was solved recently. If that doesn't work, actually follow the template and post the logs.

[2017-11-28 03:09] bradleysepos commented on #1026
Apple 4K HEVC preset is coming in the next version, hopefully by the end of the year.

If you would like support, please create a new issue and fill out the form appropriately. We do not provide support without an activity log. Thanks.

[2017-11-28 03:09] #1026 closed, assigned to nobody

[2017-11-28 03:09] wifijanitor opened #1027 "Feature Request - save custom preset HandbrakeCLI"
### Description of problem or feature request
It would be nice if HandbrakeCLI had the ability to save a custom preset, like the GUI version does.  If the option was there to make it the CLI Default, that would be even better.

Users would only have to specify the import and output variables

### Steps to reproduce the problem

Feature Request

### HandBrake version (e.g., 1.0.0)

1.0.7

### Opera

[2017-11-28 03:10] Seajayy2k commented on #1026
Thank You, I will try the nightly patches first.

[2017-11-28 03:18] bradleysepos commented on #1027
See the `--preset-*` options: https://handbrake.fr/docs/en/1.0.0/cli/cli-guide.html

[2017-11-28 03:25] wifijanitor commented on #1027
I have, and that allows me to call a json file with my customizations in it, but it does not preserve it for later use.
...or am I missing something?

[2017-11-28 03:29] bradleysepos commented on #1027
Specifically, `--preset-export MyGreatPreset --preset-export-file whatever.json`. Then you should be able to `--preset-import-file whatever.json --preset MyGreatPreset`.

[2017-11-28 03:37] markinmadtown commented on #1009
Where would I find these codecs?

On Nov 26, 2017 1:44 PM, "Scott" <notifications@github.com> wrote:

[2017-11-28 04:16] wifijanitor commented on #1027
when I try to import and (vi/vim) edited file it fails:
Missing input device. Run HandBrakeCLI --help for syntax.

Here, I export and then attempt to import, and it still fails:
HandBrakeCLI --preset-export steve --preset-export-file steve.json
[22:14:41] hb_init: starting libhb thread
[22:14:41] thread 7fd4c0b19700 started ("libhb")
HandBrake 1.0.7 (2017082500) - Linux x86_64 - https://handbrake.

[2017-11-28 04:23] PokeCaptain commented on #1009
@markinmadtown
https://www.videolan.org/developers/libdvdcss.html
NOTE THAT THIS IS FOR DVDS YOU LEGALLY OWN. PIRACY IS ILLEGAL!

[2017-11-28 04:31] bradleysepos commented on #1027
You must actually provide a source, e.g. -i input.mkv. Output can be specified with -o.

[2017-11-28 05:15] markinmadtown commented on #1009
I used this:

https://askubuntu.com/questions/845205/how-to-play-dvds-in-ubuntu-16-04

and it works great!!!!

On Mon, Nov 27, 2017 at 10:23 PM, Peter Dantini <notifications@github.com>
wrote:

--

*More people have been slaughtered in the name of religion than for any
other single reason.*
*That, my friends, is true perversion.*
*Harvey Milk*

[2017-11-28 13:46] wifijanitor commented on #1027
did that, file seemed to have handled properly but I still call that preset after the fact:

HandBrakeCLI --preset-import-file steve.json --preset steve -i /path-to-original/movie.mkv -o /path-to-converted/movie.mp4

this works. After this:

HandBrakeCLI --preset steve -i /path-to-original/movie.mkv -o /path-to-converted/movie.mp4
 Just dumps the --preset-list

it doesn't appear to be actually be

[2017-11-28 14:24] bradleysepos commented on #1027
There is no preset storage for the CLI. You need to import the file each time you execute; the import is temporary and vanishes once the CLI terminates.

[2017-11-28 14:45] wifijanitor commented on #1027
Ok, so my Feature request stands as is.

we should be able to import and store/save for future use

[2017-11-28 14:49] bradleysepos commented on #1027
You can, using a file. CLI programs have no persistent memory; this is a condition of every operating system. What you're asking isn't possible without hitting the disk, which we give you the option to do.

See also `--preset-import-gui` which allows you to make use of the graphical interface's preset storage. If you create a preset via the GUI, you can then use it on the CLI, e.g. `--preset-impor

[2017-11-28 14:49] #1027 closed, assigned to bradleysepos

[2017-11-28 15:00] joshuaavalon opened #1028 "Burn-in .ass subtitle does not render corrrectly"
### Description of problem or feature request

Stroke and shadow of .ass subtitle does not render correctly.

I heard about HandBrake and want to give it a try. Batch process is way better than Megui but the subtitle rendering is bothering me.

### Steps to reproduce the problem

.ass subtitle in the zip
[example.zip](https://github.com/HandBrake/HandBrake/files/1510310/example.zip)

### HandBrake

[2017-11-28 15:02] galad87 commented on #1028
HandBrake uses libass to render substation alpha subtitles, does the same issue happens other applications that uses this library (mpv or vlc for example)?

The nighty builds of HandBrake have a more recent version of libass, might be worth trying them too.

[2017-11-28 15:12] joshuaavalon commented on #1028
@galad87 I just download VLC. It produces the same result as HandBrake. It seems like it is a problem in libass, see libass/libass#289.

[2017-11-29 01:11] astiob commented on #1028
Hi, I’m a libass developer. This does look like a libass issue, but the link above is incorrect: this is libass/libass#287.

[2017-11-30 00:05] Nomis101 opened #1029 "Update to x265_2.6"
Could you update to x265_2.6? It includes some nice enhancements and fixes. I tried to update and build locally, but than it does not build (macOS) anymore, because it can not find CMakeLists.txt
sha256 is 1bf0036415996af841884802161065b9e6be74f5f6808ac04831363e2549cdbf

[2017-11-30 03:35] bradleysepos commented on #1029
It would be nice if people would give us 24 hours before reporting contrib updates, sheesh. Already on top of it. 😸

[2017-12-01 18:55] petr-ujezdsky commented on #160
I have been reencoding majority of my video collection to High@L4 because my TV does not support any better (eg. High@L5). Then I have been fiddling with missing subtitles for hours just to find out that they have been converted from SRT to SSA that the TV also does not support :(

I would not call this "SRT Passthru" as you state in
https://handbrake.fr/docs/en/latest/advanced/subtitles.html
beca

[2017-12-01 20:58] Nomis101 opened #1032 "Patch to update some contrib dependencies"
I've made a patch to update automake, cmake, freetype, harfbuzz, lame, libass, libtool, m4 and pkgconfig to the most recent version. I've tested that it builds (macOS 10.13) and encoded some video files with the resulting build (works). Because I don't know how to upload the patch properly into the pull requests, I've uploaded it here and you can decide if you like it or not.
Note: I did not updat

[2017-12-02 00:04] BatJoe opened #1033 "kb4051963 Update Breaks Handbrake"
Hello,

A new Windows 10 update, kb4051963, has broken nightly Handbrake. The only way to fix is by uninstalling the update, which Windows 10 will always try and force in future updates.

The event log lists this as the issue:

Faulting application name: HandBrake.exe, version: 1.1.0.0, time stamp: 0x5a20b293
Faulting module name: d3d9.dll, version: 10.0.16299.98, time stamp: 0xbc4a6017
Exception

[2017-12-02 00:06] PokeCaptain commented on #1033
That looks like DirectX crashed. Might want to make sure DirectX and graphics drivers are updated.

[2017-12-02 00:06] BatJoe commented on #1033
All up-to-date. I made sure. The only fix is uninstalling the Windows update, which is not practical.

[2017-12-02 00:07] sr55 commented on #1033
It's not actually HandBrake crashing. It's probably something in Direct3D or your graphics driver.  What kind of GPU we dealing with here?  Intel Intergated? Nvidia? Both?

I'm pulling it down now to see if this is going to be a widespread issue.

Does the app launch?

[2017-12-02 00:11] BatJoe commented on #1033
Then why does it work when the Windows update is removed?

I am using an NVidia 1080 Ti, driver 388.43 WHQL.

Handbrake Nightly, latest one, fails to open every time. It only works if this Windows update is uninstalled from the system.

[2017-12-02 00:12] PokeCaptain commented on #1033
See https://support.microsoft.com/en-us/help/4051963:

Might be related

[2017-12-02 00:13] BatJoe commented on #1033
I saw that too. Clearly something is going on. I don't see how this is a GPU driver issue.

[2017-12-02 00:14] BatJoe commented on #1033
I am contacting my nVidia contact and linking them to this issue. Will see what they say as well.

[2017-12-02 00:19] PokeCaptain commented on #1033
Google-fu says that it may be a buffer overflow. Not sure if that helps.

[2017-12-02 00:22] sr55 commented on #1033
Faulting module path: C:\WINDOWS\SYSTEM32\d3d9.dll

That is a system DLL that interfaces with GPU drivers. So, either Microsoft have introduced a bug, there is a new incompatibility with the nvidia drvier, (Or maybe the onboard GPU driver if that's active as well) Unfortunately, when it's crashing, it's also taking HandBrake down with it when it goes as it's in the same process space.

Saying that

[2017-12-02 00:23] BatJoe commented on #1033
In my case, I only have the 1080 Ti in my system. Because I was curious, I tried some DirectX 9 games and the ones I tried worked fine.....

[2017-12-02 00:24] woodstockathbf commented on #1033
Other sites point to a conflict between different versions of this DLL on the same system. Example: https://answers.microsoft.com/en-us/windows/forum/games_windows_10/fsx-d3d9-error/cd10419f-c0dd-41a0-a7bc-9d8d4440070b where renaming one of the dll files "fixed" the problem.

[2017-12-02 00:27] sr55 commented on #1033
These are important system dll files so I would advise against messing with them.
We also don’t ship that dll anyway but rather use the system dll so there isn’t a conflict there

[2017-12-02 00:28] BatJoe commented on #1033
Indeed, not the proper way to fix something. And uninstalling this update isn't an option for the long term.

[2017-12-02 01:15] BatJoe commented on #1033
My NVidia contact says he will try and get the driver team to look at this, but because it is nightly they may not.

[2017-12-02 03:10] tps800 opened #1034 "Starting HandBreak it will crash within minutes, even without doing anything"
### Description of problem or feature request

Starting HandBreak it will crash within minutes, even without doing anything

### Steps to reproduce the problem

portsnap fetch extract
cd /usr/ports/multimedia/handbreak
make build
make install
make clean
HandBreak
-> crash within minutes only message "Segmentation fault: core dumped"
Calling "HandBreak -x" does not give further informations. The cr

[2017-12-02 06:46] bradleysepos commented on #160
Sorry for any confusion. The (draft, from the old wiki) documentation article does state that SRT is converted to SSA, but we don’t make that very clear elsewhere.

Anyway, SRT is fun to deal with because pretty much no SRT adheres to the basic standard that exists. So even your TV saying it supports SRT isn’t enough for us to know what specific formatting and character encoding it would require.

[2017-12-02 06:52] bradleysepos commented on #1034
The package you installed is a third-party build we have no control over.

Please consider compiling HandBrake from source. We currently do not have a FreeBSD guide but the Linux documentation may help: https://handbrake.fr/docs/en/latest/developer/build-linux.html

[2017-12-02 10:15] sr55 commented on #1033
Updated drivers this morning, all still works fine for me.

You don't have something like RivaTuner, MSI Afterburner or any other screen capture/overlay software running do you?

[2017-12-02 14:44] AndreiPukrov opened #1035 "Issue with pre-selected "Forced only" checkmark in subfile tab"
### Description of problem or feature request

There seamed to be a bug in the subfile section in HandBrake 1.07 or in the nightly I use. Its related to forced subs. Handbake marks them as forced when the default added track is switched, however when adding that as track this isn´t possible (see steps to reproduce as that should better explain that) to select that as forced.

### Steps to reproduc

[2017-12-02 14:46] bradleysepos commented on #1032
Thanks, I plan to do a round of updates soon. x264 has switched from yasm to nasm for assembly so we won't update this until after next release.

[2017-12-02 15:00] woodstockathbf commented on #1035
"Forced only" means "Ignore any subtitle not marked as forced." If there are no subtitles marked with the forced flag in the track, you will get no subtitles output.

The forced flag is rarely used in subtitle tracks. Most subtitle authors will simply supply two separate tracks, one with the "foreign audio only" data, another with "all subtitles".

[2017-12-02 15:34] maximd33 commented on #1034
if core dumped - would be interesting to see more details, calltrace..

[2017-12-02 15:34] colinho opened #1036 "Official releases for Ubuntu are out of date"
### Description of problem or feature request

The Handbrake home page indicates the latest release for Ubuntu is 1.0.7, but the latest release available at the linked official PPA https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases is 1.0.4.

### Steps to reproduce the problem

Go to https://handbrake.fr/ from Ubuntu box, note that latest version available is 1.0.7.
Click link to d

[2017-12-02 15:37] bradleysepos commented on #1034
Perhaps, but we are not going to spend time troubleshooting a broken third-party build that is probably modified in some insane way like all the others.

Closing. If the original poster can provide a log from a properly compiled HandBrake (no portsnap), we can reopen.

[2017-12-02 15:37] #1034 closed, assigned to nobody

[2017-12-02 15:38] bradleysepos commented on #1036
HandBrake 1.0.4 and 1.0.7 are the same on Linux; there are no Linux-facing changes.

Unfortunately, we have no control over the broken third-party package in Ubuntu's repository. Please see https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html and use the PPA; it is the *only* official HandBrake on Linux.

[2017-12-02 15:38] #1036 closed, assigned to nobody

[2017-12-02 16:20] Nomis101 commented on #1032
OK, thanks. It seems x265 has followed x264 and also switched to NASM for assembly, after releasing v.2.6.

[2017-12-02 16:23] bradleysepos commented on #1032
Yes, HandBrake 1.1.0 will ship with x265 2.6; master will be on it once https://github.com/HandBrake/HandBrake/pull/1030 lands.

[2017-12-02 16:49] #1035 closed, assigned to sr55

[2017-12-02 16:49] sr55 commented on #1035
Issue corrected. It won't visually show forced anymore when it's not available.

[2017-12-02 18:05] tps800 opened #1037 "Fails to find "version.txt" in checked out git repository"
### Description of problem or feature request

# python make/configure.py
probe: host tuple...(pass) x86_64-unknown-freebsd11.1
compute: available architectures...(WARNING) x86_64
find: ar...(pass) /usr/bin/ar
find: cp...(pass) /bin/cp
find: gcc...(pass) /usr/local/bin/gcc
find: gmake...(pass) /usr/local/bin/gmake
find: gm4...(pass) /usr/local/bin/gm4
find: mkdir...(pass) /bin/mkdir
find: gpatch..

[2017-12-02 18:07] tps800 commented on #1037
Same for a special release tag. File "version.txt" missing!

[2017-12-02 18:08] tps800 commented on #1037
Does not help to call configure with --snapshot option.

[2017-12-02 18:12] bradleysepos commented on #1037
This already should be fixed. Try compiling latest master branch (we're close to HandBrake 1.1.0 and it's stable). Sorry about the trouble.

[2017-12-02 18:23] tps800 commented on #1034
multimedia/handbreak port does nothing but fetch handbreak tar-file, then install neccessary dependencies (including gcc6), create a build environment with gcc6 as default compiler, then compile handbreak.

Going thru this, I recognized compiling handbreak depends on "version.txt" available until version 1.0.7. Later git clones wont hold this file any more, but configure seems to depend on it (thi

[2017-12-02 18:40] bradleysepos commented on #1034
HandBrake 1.1.0 isn’t out yet.

The tarball contains version.txt unless the tarball isn’t ours or is from GitHub. Use the tarball from handbrake.fr if you want the release version.

[2017-12-02 18:49] tps800 opened #1038 "configure depends on python found within path"
### Description of problem or feature request

configure depends on python found within path. Most distros do not have python directly within path , but link to a default python. The script will fail on these distributions, because it tries to find the link, then looks if this link is executable -- links are never executable. In tune configure fails to find python.

### Steps to reproduce the prob

[2017-12-02 18:59] bradleysepos commented on #1038
macOS 10.13.1

[code]

Also checked Arch, CentOS 7, Gentoo, Ubuntu 16.04. `python*` symlinks are executable.

[2017-12-02 19:09] #1038 closed, assigned to bradleysepos

[2017-12-02 19:16] bshannon2 opened #1039 "manually set WIDTH for widescreen REVERTS to source width for letterbox"
**PASTEBIN URL for activity log:  https://pastebin.com/WEdxnTp3**

**SHORT VERSION**:
When I reset the Width and Height to 846x480  from the “Source” of 352x480 (letterbox to widescreen), it reverts back to 352x480 during encoding.  Origiinal TV episodes were in widescreen and played back from disc in widescreen.  How do I keep them  as widescreen (846 width) when converting to MKV?    SPECIAL NOT

[2017-12-02 19:18] bshannon2 commented on #1039
NOTE TO DEVELOPMENT TEAM:
Your Issues Submittal form will not let me put anything in the spots from "Steps to reproduce problem" on down.  I had to put it all in the Description.  Hope that will be okay

[2017-12-02 19:22] sr55 commented on #1039
The UI Does not allow upscaling.  This can only be done at the CLI currently.  We may allow this in a future update.

[2017-12-02 19:22] #1039 closed, assigned to nobody

[2017-12-02 19:35] BatJoe commented on #1033
MSI Afterburner. But I don't run an overlay or capture. Again, only solution on my end is to uninstall that Windows Update.

[2017-12-02 19:36] bradleysepos commented on #1033
Try adding an exception for HandBrake in MSI Afterburner.

[2017-12-02 19:39] tps800 commented on #1037
[code]

got a new clone. Tried again. No success. Seems some others had the same problem – they started generating version.txt on the fly – but since this is not intended to be done …

[2017-12-02 19:45] bradleysepos commented on #1037
The error here is not version.txt but the repo info line above it. version.txt is provided in release tarballs, otherwise the build system will get the necessary info from git.

What is the output of running `scripts/repo-info.sh`?

[2017-12-02 20:12] BatJoe commented on #1033
I had mentioned above that I am not running the overlay feature. MSI Afterburner is only being used to overclock the GPU.

[2017-12-02 20:19] tps800 commented on #1037
[code]

Problem:
[code]

Solution (please do not use a ' ' (space) between '!' and '/' some sh implementations will include it into the command – leading to a "command not found" error):
[code]

Output:
[code]

[2017-12-02 20:22] bradleysepos commented on #1037
Ah, yes. I blame @jstebbins as I'm not old enough to put a space there. 😸 *runs*

I take it `#!/bin/bash` works correctly? If so, I'll get this fixed ASAP.

[2017-12-02 20:28] tps800 commented on #1037
If you want it to run with bash regardless of where bash is installed, as long as it is in PATH, use
[code]

[code]
is expected to be installed in
[code]
in all cases.

[2017-12-02 20:30] sr55 commented on #1033
Doesn't matter. Just having it running is sufficient.

[2017-12-02 20:35] bradleysepos commented on #1037
\`inline code\` => `inline code` 😄

[2017-12-02 20:37] sr55 commented on #1033
I also wonder if your d3d9 dll was older than it should have been.  Problems with this library were  first introduced in creators update, not kb4051963

Unfortunately there is jack we can do about it.  Certain apps are hooking it in such a way that it cripples many apps that use GPU rendering, including ours.

[2017-12-02 20:58] bradleysepos commented on #1037
Addressed by https://github.com/HandBrake/HandBrake/commit/11c4d909c74a1d446d2f62cc0035bff79d11bf63

[2017-12-02 20:59] #1037 closed, assigned to bradleysepos

[2017-12-02 21:03] #1029 closed, assigned to bradleysepos

[2017-12-02 21:55] tps800 opened #1040 ""#!/bin/bash" is not portable "#!/usr/bin/env bash" is"
### Description of problem or feature request

Scritps in `scripts` hold
* `#!/bin/bash`
* `#!/bin/tcsh`
* `#!/usr/bin/python`
* `#!/usr/bin/ruby`

It is not guarantied bash is installed in `/bin/bash`. It may be installed in `/usr/bin/bash`, `/usr/local/bin/bash` (Free-, Net-, OpenBSD)`, `/app/bash/bin/bash` (some RT-OS) or even in `${HOME}/bin/bash`. The same goes for other interpreters.

To mak

[2017-12-02 21:57] PokeCaptain commented on #1040
See #1037

[2017-12-02 22:03] tps800 commented on #1040
It is not only `scripts`:
[code]

[2017-12-02 22:04] PokeCaptain commented on #1040
I just realized that you created #1037. I feel stupid....

[2017-12-02 22:38] bradleysepos commented on #1040
`bash` is installed at `/usr/bin/bash` on all systems we support.

Already updated Python and Ruby scripts to use `env`.

`config.guess` is upstream, complain to GNU.

Linux packaging scripts target specific distro versions, so portability is not a concern.

We should probably update `gtk/src/makedeps.py` to use `#!/usr/bin/env python` and `macosx/genstrings.sh` to remove the space. Ping @jstebbin

[2017-12-02 22:55] tps800 commented on #1040
Sure? I would not be. Keeping things portable helps supporting more platforms and allows for changes not expected without having to fiddle around if one starts to support a platform not supported before. Especially if others state:

If you do not want people to fiddle around patching things to make compilation happen, keep it as portable as possible!

Yes, I created it, as I found fixes for ruby a

[2017-12-02 23:05] bradleysepos commented on #1040
The issues we typically have with broken third-party builds are typically related to people making modifications not related to compatibility, such as replacing libav with ffmpeg, leading to binary breakage. We have no issue with small operating system patches, assuming they are well tested.

I’m not trying to be difficult, I’ve just never seen a bash installation anywhere else. Can you give speci

[2017-12-02 23:09] bradleysepos commented on #1040
To be clear, I’m trying to understand whether this is an “in-the-wild” problem for stock distro installs or something related to your specific system configuration. I see where you have bash installed; is that common for FreeBSD? Others?

[2017-12-02 23:41] tps800 commented on #1040
Free- and OpenBSD use `/usr/local`, NetBSD installs into `/usr/pkg`.
OpenIndiana (aka OpenSolaris) installs into `/opt/gnu` if using sun-packaged packages. If using NetBSD ports it installs into `/usr/pkg`. Some more seldom used OS like Haiku (BeOS), HelenOS use a completely different structure – to keep OS and applications distinct. But all of them have ported `/usr/bin/env`.

[2017-12-03 07:33] galad87 commented on #1040
genstrings.sh can be deleted.

[2017-12-03 07:43] bshannon2 commented on #1039
Thanks for the quick answer, sr55.  Don't know what UI or CLI mean, but I did understand that the program does not allow upscaling (meaning going from letterbox to widescreen, right??).  I'll just find some other way, then.
Again, thanks for the quick answer.

[2017-12-03 09:05] AndreiPukrov commented on #1035
@woodstockathbf  i know, however the way how handbrake here act is still a bug which I would like to address ;-)

[2017-12-03 09:28] bradleysepos commented on #1039
GUI/UI means graphical user interface (or just graphical interface, user interface). This is the point and click HandBrake. CLI means command line interface, which is the typing only, terminal interface run from the command prompt `cmd` on Windows. Nothing but keyboard.

I think you may be confusing letterboxing with anamorphic video. DVDs are never wider than 720 pixels storage. Widescreen is fak

[2017-12-03 09:38] #1040 closed, assigned to bradleysepos

[2017-12-03 09:39] bradleysepos commented on #1040
Thanks for the information. While we don't aspire to support all of these systems, the change seems harmless.

[2017-12-03 10:52] bradleysepos commented on #833
Added a rough PR to finish aligning MacGUI: #1041

[2017-12-04 04:12] bshannon2 commented on #1039
Oh my gosh..... So much high techy techy stuff .... So far over my head I
can't even reach up and touch it .... But thanks for trying to explain.
 :*).  Much appreciated

On Dec 3, 2017 1:28 AM, "Bradley Sepos" <notifications@github.com> wrote:

[2017-12-04 14:38] bradleysepos commented on #833
@jstebbins @sr55 See https://github.com/HandBrake/HandBrake/pull/1041#issuecomment-348977297 for some items of note.

- MacGUI is putting Size below Filters on the Summary tab. Suggest the other GUIs do this instead of placing below the preview image.
- **Save As:** and **To:** instead of Destination (Name); we can still call this the destination
- Inside the tabs, all headings like Format:, Track

[2017-12-04 19:36] mirh commented on #697
*aaaaand* ***we are done ladies and gentlemen***
https://git.ffmpeg.org/gitweb/ffmpeg.git/commit/9ea6607d294526688ab1b1342cb36ee159683e88

[2017-12-04 19:36] #1022 closed, assigned to sr55

[2017-12-04 19:46] Xaymar commented on #697
Once #974 is complete work can start on adding AMD AMF then.

[2017-12-04 19:47] jimster480 commented on #697
Awesome! Can't wait to use it!

On Dec 4, 2017 2:46 PM, "Michael Fabian Dirks" <notifications@github.com>
wrote:

[2017-12-05 12:44] bradleysepos opened #1042 "mac: Revise progress area."
TODO held over from #1041:

- [x] Adjust vertical spacing for the progress area; it's too short when encoding is canceled/complete
- [ ] Bold Scanning title / Encoding file line
- [ ] Revise above to read "Encoding Job N of O (M remaining): filename.ext" if possible

[2017-12-05 22:08] bradleysepos commented on #849
Retargeting for 1.2.0 unless @jstebbins wants to work on it sooner.

[2017-12-06 13:29] Stanzilla opened #1043 "Latest nightly crashes on start"
### Description of problem or feature request

Handbrake crashes on launch

### Steps to reproduce the problem

Start Handbrake

### HandBrake version (e.g., 1.0.0)

HandBrake-20171206-af31e60_x86_64-Win_GUI

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10 1709 16299.98

### Error message text or screenshot

[code]

### Hand

[2017-12-06 18:54] sr55 commented on #1043
My guess is you have a corrupted file.  Try blatting all the config files from the roaming app data handbrake folder.

[2017-12-06 18:55] sr55 commented on #1033
I can't see anything wrong with this update, and the crash is happening at a system level so I'm going to close this out as there isn't much we can do about it.

[2017-12-06 18:55] #1033 closed, assigned to nobody

[2017-12-06 21:10] reafian opened #1044 "Cursor placement on naming encodes"
### Description of problem or feature request

When naming titles the cursor used to default to just in front of the .mp4 or .mkv in earlier versions of Handbrake. So in a dvd with multiple programmes ( like a TV series ) it would be possible to select the first title add a suffix of " 1" then move onto the next title and add a suffix of " 2" and so on. The more recent versions however have left t

[2017-12-07 07:57] pthoor opened #1045 "JSON integer is too large or small for an Int32"
### Description of problem or feature request

Stuck on scanning title. JSON integer is too large or small for an Int32.

### Steps to reproduce the problem

When selecting .mov file.

### HandBrake version (e.g., 1.0.0)

HandBrake Nightly 20171205220326-af31e60-master (2017120601) - 64bit

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update

[2017-12-07 09:10] onlyahuman commented on #660
you may as well use 0.10.5 version, which does not have this problem at all (#660).

[2017-12-07 10:28] galad87 commented on #1044
Which version had this behaviour? I tried 0.10.5 and it works the same way.

[2017-12-07 11:29] reafian commented on #1044
Honestly, I don't recall but it might, it's been working like this for quite a while now so it could easily have been like this for more than a year or so ( possibly even two years given the way time flies ). Looking at the file names on the older versions I have a feeling it was back in the .9 release days but I can't get any of those to open anymore.

 It's not a big thing but I distinctly remem

[2017-12-07 11:30] galad87 commented on #1044
Maybe you had the auto-naming feature enabled and you were only changing the number.

[2017-12-07 11:50] reafian commented on #1044
Wow! That's fixed my problem. Now, just for clarity, I didn't know about that option but equally, it's not something I've enabled and forgotten about either because I definitely had to add the " 1", " 2" or " 3" myself and just testing the auto-naming now means HandBrake does it for me which is super-awesome. Auto-naming actually added " 1" and " 2" and " 3" so there's actually no need for me to c

[2017-12-07 15:17] Stanzilla commented on #1043
@sr55 Yup, works after cleaning that up. Any idea why it generates a "Handbreak" and a "Handbreak Team" folder? The latter is always empty from what I can tell?

[2017-12-07 15:17] #1043 closed, assigned to sr55

[2017-12-07 18:51] sr55 commented on #1043
One is generated by .NET. We don't use it.  One is generated by us.

[2017-12-07 21:44] Nomis101 opened #1046 "[macOS] Handbrake doesn't build using osx109.x86_64 config because of ARC"
### Description of problem or feature request

On macOS (in my case 10.13.2) it is not possible to build if MACOSX_DEPLOYMENT_TARGET is set to 10.9 by using --xcode-config=osx109.x86_64.
I get the following two errors:

  : /Volumes/Developer/HandBrake/macosx/HBCore.m:529:9: error: 'release' is unavailable: not available in automatic reference counting mode
  :         dispatch_release(self.update

[2017-12-07 22:04] galad87 commented on #1046
Until we drop support for 10.7, the GUI will required 10.7 as the minimum deployment target. I don't remember the reason those configs were added, maybe they are useful for the cli, but removing them is on my to-do list.

[2017-12-08 02:16] eng3 opened #1047 "Feature Request: Add "same as source" resolution option for batch processing"
Add option to use "same as source" resolution so that a batch process with different source resolutions can be performed

[2017-12-08 05:38] woodstockathbf commented on #1047
Unless the preset you selected has a limit on resolution, the default behaviour is "same as source" for output resolution.

[2017-12-08 12:41] darkworks opened #1048 "Handbrake 1.07 crashing"
OS : windows 7
Handbrake version : Latest ( 1.07 )
Problem : crash when try to encode file with it , try other default presets but same problem crashing
Attachement : activity log
[activity_log32640.txt](https://github.com/HandBrake/HandBrake/files/1542629/activity_log32640.txt)

previous version was ok , after update , this is crashing

[2017-12-08 15:47] woodstockathbf commented on #1048
Is there any information about the crash in the Windows Event Viewer?

[2017-12-08 17:06] sr55 commented on #1048
There won’t be anything usable in the event log for a native crash.  We’d need a sample file to reproduce.

[2017-12-08 18:20] Nomis101 commented on #1046
OK, thanks. I can workaround this in a similar way like chromium did it. But then the content of the apps resources folder looks different, if building with a deployment target of 10.9.
https://codereview.chromium.org/2370273003/diff/20001/chrome/installer/mac/app/Unpacker.m

The main reason for me to use --xcode-config=osx109.x86_64 was, that in normal build mode I see a lot of warnings in the ki

[2017-12-08 19:33] #1047 closed, assigned to nobody

[2017-12-08 23:24] huriachi commented on #1033
@sr55 Cripples was a delightfully accurate word to use.

I can confirm that Rivatuner Statistics Server (RTSS) was causing the d3d9 0xc0000409 exception on my system when attempting to launch Handbrake. Closing RTSS before opening Handbrake mitigates this. Alternatively a profile can be created for Handbrake with the 'None' option selected under the 'Application detection level' entry. Doing so wi

[2017-12-09 07:58] darkworks commented on #1048
[canplus_vectors_test.zip](https://github.com/HandBrake/HandBrake/files/1544482/canplus_vectors_test.zip)
it was that small video file i record with screen recorder , i use to compress same application recording earlier old version had no problem , but this new version crash with it
i have uninstall and installed multiple time but same issue ,
i have attached video of handbrake crash ,
[hand_brak1

[2017-12-09 09:06] reafian commented on #1044
OK, so I installed Lion in VirtualBox, installed Handbrake ( 0.94 x86_64 (2009112300)) and VLC ( 1.1.11 ) and the behaviour of Handbrake isn't what I remembered but it's definitely better than it is now. I used Doctor Who ( The War Games DVD 1 ) which shows six titles ( 2 - 02h01,36s, 3 - 00h25m04s, 4 - 00h24m55s, 5 - 00h23m59s, 6 - 00h22m59s, 7 - 00h24m39s ). Selecting the first title ( 2 ) has a

[2017-12-09 10:47] sr55 commented on #1048
Can you turn the OpenCL scaler off in preferences?  That should fix this.

It's something we've removed in the upcoming release as it's simply to unreliable and offers no real performance benefit (infact, it's slower in many cases)

[2017-12-09 12:33] darkworks commented on #1048
ya it fix it ,
i think users are not aware of it , so i think it should be off by default in 1.07 release , but its not

thanks

[2017-12-09 12:33] #1048 closed, assigned to nobody

[2017-12-09 12:43] sr55 commented on #1048
It is off by default. We'd be seeing 90% encode failures across millions of users if it wasn't.

Regardless, it's removed from the code base now so in 1.1 it won't even be an option.

[2017-12-09 16:06] sr55 commented on #1045
Should be fixed in the next nightly build. Thanks

[2017-12-09 16:06] #1045 closed, assigned to sr55

[2017-12-09 18:15] darkworks commented on #1048
hmmmm strange the when i updated handbrake i have not touched preferences , so i guess by update it should have off , i mean i have not turn it ON

[2017-12-09 20:30] Nomis101 commented on #1046
Some addition. In the comment above I said, if building with deployment target of 10.9 (or higher), than the apps resources folder looks different. I found out, this is because the png images are stored inside a file Assets.car, which doesn't exist in the normal build. The app works normal in all cases. The patch I used was:

[code]

[2017-12-09 20:34] Nomis101 commented on #1032
Some addition to my initial comment. I said, that the build with cmake 3.10.0 stopped, because of C++11 related errors. I found out, this does not happen if the deployment target is set to 10.9 or higher. Than it builds nicely with cmake 3.10.0.

[2017-12-09 22:23] kwagter opened #1049 "Subtitles default checkbox does not work"
### Description of problem or feature request

I have an MKV file of the movie and a SRT file for the subtitles.
I set up Handbreak to create an MP4 with subtitles. I have checked the Default checkbox. When the movie is compiled, the subtitles are available from the subtitles menu but are not selected by default.

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

[2017-12-09 22:29] sr55 commented on #1049
1. We don't support old versions of HandBrake.
2. We don't support people using pirated sources. See the community rules. (specifically 2c)

[2017-12-09 22:29] #1049 closed, assigned to nobody

[2017-12-10 04:57] bradleysepos commented on #873
Thinking about what we can do before release. Should we have an option to disable QSV decoding when using a QSV encoder, on by default? @sr55 @maximd33

[2017-12-10 04:59] bradleysepos commented on #899
Can anything be done about this in the coming week(s) before next release? @sr55 @maximd33

[2017-12-10 05:15] wazerstar opened #1050 "OpenSource > Folder (Batch Scan) Picks up .nfo text files"
### Description of problem or feature request

OpenSource > Folder (Batch Scan) Picks up .nfo text files

### Steps to reproduce the problem

OpenSource > Folder (Batch Scan) > pick folder with mkv and nfo files

### HandBrake version (e.g., 1.0.0)

1.0.7 (2017040900) - 64bit windows

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Win

[2017-12-10 10:25] sr55 commented on #873
There is already an option to disable QSV decoding in preferences.

[2017-12-10 10:26] sr55 commented on #1050
This is actually a feature. There is a text decoder allowing text files to be converted to videos in libav.  It's very niche but apparently people do use it.

[2017-12-10 10:27] wazerstar commented on #1050
@sr55 Can you add option to ignore em them?

[2017-12-10 10:44] sr55 commented on #1050
Also, closing this for violation of the community rules. 2c.

We don't support piracy.

[2017-12-10 10:44] #1050 closed, assigned to nobody

[2017-12-10 17:59] ZaphodX77 commented on #873
My intent in starting this inquiry was to achieve QSV decoding & encoding simultaneously. It currently will fallback or freeze when QSV cannot decode a file. As I've said, having these switches on a page separate from the QSV & Non-QSV encoding settings tab is a bit confusing, and note my comment that the QSV decoding for non-QSV encodes must be set for the QSV decoding to work with the QSV decodi

[2017-12-10 18:12] bradleysepos commented on #873
Right, I guess I was confused by the options, and concerned about the number of times we have to tell people to disable QSV decoding when encoding with QSV.

![screen shot 2017-12-10 at 12 30 54 pm](https://user-images.githubusercontent.com/70239/33807523-13c8db58-dda6-11e7-8015-26106e2e10f7.png)

Options in the screenshot above:

- Disable QuickSync Decoding
- Use QSV Decoding for non QSV encoder

[2017-12-10 19:38] smutel opened #1051 "Hanbrake crashes randomly when opening source"
### Description of problem or feature request

Hanbrake crashes randomly when opening source
Program exit without any error message

### Steps to reproduce the problem

Random crashes so difficult to reproduce

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Ubuntu 17.10

### Error message te

[2017-12-10 19:41] PokeCaptain commented on #1051
Just to make sure, are you using the [official ppa](https://launchpad.net/~stebbins/+archive/ubuntu/handbrake-releases)?

[2017-12-10 19:42] ZaphodX77 commented on #873
A good tweak would be to move that panel from preferences & put it on the encoding tab for video codec selection because sometimes QSV decoding does not work because of the input file. Takes it out of hiding, and makes the setting more obvious as a result. And yes, I think that having "Always enabled" as default would be best, because it will show if the QSV decoding process is not being used when

[2017-12-10 19:44] sr55 commented on #873
1. it's not moving from preferences. It shouldn't be something users frequently have to adjust. There are issues to solve but they need to get solved rather than moving this to the main UI.
2.  There is no reason why you'd ever want to use QSV decoding only for non-QSV encoders.
3. By Default, QSV decoding is enabled. If the checkbox is checked, then it's disabled, thus the 2nd option is grey'd ou

[2017-12-10 19:45] smutel commented on #1051
No, I use the version included in the Ubuntu repository.

[2017-12-10 19:48] sr55 commented on #1051
Sorry, we don't support that. It's known to be deliberately broken by the ubuntu repo maintainers. We have not control over that build.

Please remove that and try the PPA builds.

[2017-12-10 20:11] bradleysepos commented on #1051
I should have spotted that by the version number.

Please read [Where to get HandBrake](https://handbrake.fr/docs/en/1.0.0/get-handbrake/where-to-get-handbrake.html) and stick to the official PPA. It's a true shame Ubuntu still packages this way.

[2017-12-10 20:11] #1051 closed, assigned to nobody

[2017-12-10 20:17] bradleysepos commented on #873
Unless I'm mistaken, we seem to have issues with QSV decode+encode simultaneously. Is QSV decode useless when encoding with, say, x264/5? I admit I'm not fully up to speed on these things.

Fair point! Strike "Always".

I'm mostly interested in how we can make the options more clear and the defaults more functional in the short term. Disabling QSV decoding seems to be a common fix; I was hoping we

[2017-12-10 20:19] sr55 commented on #873
Encoder doesn't seem to matter. It just doesn't work in some instances regardless of encoder.

[2017-12-10 20:22] bradleysepos commented on #873
Ah, then perhaps I'm down a rabbit hole that isn't too useful. Anyway, perhaps you will consider clarifying those checkboxes; the second could at least be reworded.

@ZaphodX77 Scott's right that QSV should be a preference, and mostly invisible to the user. Exactly the kind of thing we really don't want on the main tabs. The only reason this is all in discussion is due to bugs; once those are reso

[2017-12-10 20:25] ZaphodX77 commented on #873
Thank you for that assurance that it is going to be fixed instead of disabled.

[2017-12-10 20:28] bradleysepos commented on #873
Indeed, the goal is to support what QSV supports, within reason.

Sorry if I hijacked this thread a bit; seems I was confusing some of your initial request with an issue that's reported periodically, where QSV decoding needs to be disabled to make an encode work at all. 😈

[2017-12-10 20:39] bradleysepos commented on #1042
Pushing to 1.2.0 as these require some under the hood changes. Feel free to implement sooner.

[2017-12-10 21:47] maximd33 commented on #873
@ZaphodX77 can you pls re-cap when your settings which does not work,
so I can re-view it more carefully?
I was under impression that the case can be closed.

[2017-12-10 21:50] sr55 commented on #873
@maximd33  This case Is for two things:

1. Enable QSV decoders for all supported QSV decoders when available.  I.e vp8/9.  NIot  tested 10bit files myself. Not sure if there are issues there
2. There is still some crash/lockup/artifcating issues with qsv decoder.  I don't have any sources for these problems yet unfortunately.

[2017-12-10 21:50] bradleysepos commented on #833
Okay, trying to nail down the last of the UI consistency. Be patient with me. 😸

Screenshots of current nightly on Linux, Mac, and Windows:

![screen shot 2017-12-10 at 4 19 34 pm](https://user-images.githubusercontent.com/70239/33809517-41a345de-ddc6-11e7-9db2-3fe348287380.png)

![screen shot 2017-12-10 at 3 37 38 pm](https://user-images.githubusercontent.com/70239/33809518-44e3520c-ddc6-11e7-8b7

[2017-12-10 22:12] bradleysepos commented on #833
Yes, don’t feel the need to circumvent standard controls. Maybe just “Save As:”?

[2017-12-10 22:14] sr55 commented on #833
The MacGUi has a different Preview icon. Worth changing?

Also, I use bold for Heading and Section Headings. I was treading the summary tab items as Section headings.

[2017-12-10 22:53] bradleysepos commented on #833
I think the MacGUI is the newer one, but it really doesn't matter. I'll play around with a new idea.

Works for me, as long as it's consistent on/for the platform.

[2017-12-10 23:25] jstebbins commented on #833
This could be very confusing.  You can have presets of the same name in different categories.  For example, when a user saves a copy of an official preset, the default name is the same.

[code]
I never added these because I have always questioned the need for them.  There is already a perfectly good menu bar in the window.

[2017-12-11 00:03] bradleysepos commented on #833
I thought we were ensuring no duplicate names? How does the CLI handle --preset=Foo where there are multiple Foo?

I can appreciate that. There's value in getting the GUIs on the same page regarding this, too, and it's the item of least parity. We should probably pick a direction to go with this.

Perhaps a good compromise will be for Windows to move the `Options` control to the `Presets` menu, an

[2017-12-11 00:04] bradleysepos commented on #833
I'm thinking we may also want to change `Save Custom Preset` to `Save New Preset` so it's obvious a new preset will be created, as opposed to updating/replacing an existing custom preset.

[2017-12-11 00:12] jstebbins commented on #833
You can specify a full preset name including category by separating with '/'.  If you don't specify the full path, the first match is used.

Yes, that would be my preferred solution.

[2017-12-11 03:33] bradleysepos commented on #833
Ah, okay. That makes sense.

I still think the simple preset name is more usable. To be honest, I'd rather saving a new preset give a blank name field so we don't encourage name collisions. 🤷‍♂️

[2017-12-11 08:06] galad87 commented on #833
Is this useful? I was going to remove the whole Source: line because it's redundant (the same name is in the windows title and in the Title: popup button.)

So "PresetName (Custom)" instead of just "Custom"?

Is this useful too? In the macgui you can just undo changes.

These are already in the menu bar and in the presets panel. I wouldn't add yet another function to the main window when it's alre

[2017-12-11 08:42] maximd33 commented on #873
@sr55 thanks
VPx - would it be nice to have or a must ?

[2017-12-11 11:02] sr55 commented on #873
nice to have.

[2017-12-11 11:32] ZaphodX77 commented on #873
The QSV decoding does not decode input HEVC 10bit at all. It decodes HEVC 8bit sporadically.

Whenever there is a problem with decoding by QSV otherwise, for any input, there is something "wrong" with the input file. As you may remember, Handbrake had a muxing problem some time back that I pointed out, and there could be a legacy of such files being around. It could also be from some generalized c

[2017-12-11 11:41] ZaphodX77 commented on #873
Is HEVC decoding to be fixed for 1.1.0?

[2017-12-11 11:43] sr55 commented on #873
More likely post 1.1

[2017-12-11 13:44] mollako opened #1052 "Handbrake crashing when encoding file."
### Description of problem or feature request

Handbrake crashing when encoding file.

### Steps to reproduce the problem

Crashes 30 seconds within encoding.

### HandBrake version (e.g., 1.0.0)

1.0.7 (2017040900)

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10 Creators Update

### Error message text or screenshot

Faulti

[2017-12-11 14:32] maximd33 commented on #873
@ZaphodX77

I would be interesting to see and try again some cases locally, any samples to see?

[2017-12-11 15:00] sr55 commented on #873
Easily reproduced by encoding an x265 10bit clip with HandBrake then feeding it back in,  Software hevc is used when the source is 10bit.

I don't however have any sources that break 8bit decoding.

[2017-12-11 15:06] sr55 commented on #833
I don't think people are accustomed to using menus so much nowadays, so having the options near the preset section made sense to me.  That said, they are duplicated in the preset menu. It's an interesting one. I'm not sure  if discover ability would hurt not having it.

That said, the Windows GUI has Old vs New behaviour via the menu. It doesn't to the fancy dropdown thing that mac does on the pre

[2017-12-11 15:11] sr55 commented on #833
![image](https://user-images.githubusercontent.com/628593/33837746-4860c076-de85-11e7-8637-ebd241f8ac04.png)

I don't actually see a lot of value in the source info in the top right either.

[2017-12-11 15:17] galad87 commented on #833
Maybe it can be appended to the filename label, instead of being aligned to the right.

[2017-12-11 15:53] jstebbins commented on #833
@galad87

Some of the source attributes are useful in determining whether you need to modify the default settings of the preset you are using or use a different preset.  For example, if the source is 29.97 fps, there is a very good likelihood that is is either interlaced or hard telecined and you need to add a deinterlace or detelecine filter.

@sr55

That's a fair point. I go to the menus when th

[2017-12-11 16:01] jstebbins commented on #833
@sr55
Oh, I think I was missing something.  I didn't notice that you moved your options button next to the new preset selection menus in the main window. I was thinking is went with the preset list to the new preset window (which would be kind of silly now that I think about it).  I see your point in having it near the other preset controls, but I don't really like having it duplicated there and i

[2017-12-11 16:24] mswindowsinside opened #1053 "Random crashes when encoding FRAPS encoded video to H.265"
### Description of problem or feature request

Whenever I try to encode a FRAPS uncompressed video to H.265, the application crashes after a while, without producing an error.

### Steps to reproduce the problem

Drag and drop FRAPS movie into Handbrake
Set encoder to H265
Start the encoding
After a few hours the application will crash and Windows sends a crash report to Microsoft.

### HandBrake

[2017-12-11 16:28] sr55 commented on #833
While Having it in two places is a bit of a pain, it is actually very useful for screen readers to have it in the menu. Aids discoverability for visually impaired where as a more typical use-case will probably involve the options dropdown button. Less mouse travel.

[2017-12-11 16:52] jstebbins commented on #833
@bradleysepos

I think this is another area where the LinGUI differs from the other GUIs that we might want to discuss.

The LinGUI allows each title to have different settings.  I did this as an enhancement to batch processing.  The problem I was solving was this.  Lets say you have a directory that is a mix of hard telecined, interlaced and progressive sources.  For some you want to enable the d

[2017-12-11 19:51] ajkWare opened #1054 "Building for Windows Documentation"
### Description of problem or feature request

I've been switching from using a VM to using the new Ubuntu app built on Windows Subsystem for Linux.  This runs Ubuntu 16.04.3 LTS.

Following the current documentation at <https://handbrake.fr/docs/en/latest/developer/build-windows.html> revealed a couple of errors and perhaps deficiencies.

### Steps to reproduce the problem

Attempt to build HandB

[2017-12-12 00:04] bradleysepos commented on #833
When I tested, there was no indication a preset had been modified when changing settings. An indicator on or near the preset control is a cognitive aid, and avoids forgetting unseen changes on hidden tabs.

Linux shows the text "*Modified*" after the preset control (see screenshot [here](https://github.com/HandBrake/HandBrake/issues/833#issuecomment-350584426)]. Something achieving the same goal c

[2017-12-12 00:31] bradleysepos commented on #1054
@ajkajk Thanks for these suggestions, all very useful. Some of this I already had planned, the rest is going on the list.

If you don't mind, please copy this issue to a new one at https://github.com/HandBrake/HandBrake-docs/issues so we can track from the correct repository.

[2017-12-12 00:31] #1054 closed, assigned to nobody

[2017-12-12 02:37] jbruchon commented on #871
I would also like to be able to do this. As it stands I either have to shovel the files through VirtualDub or ffmpeg to mux in the audio to an intermediate file first. It would be easier to have Handbrake pull the data in during the encode.

[2017-12-12 10:10] ajkWare commented on #1054
Reraised at https://github.com/HandBrake/HandBrake-docs/issues/30

[2017-12-12 21:56] sr55 commented on #833
I have a couple more tweaks I need to do to finalise the preset change detection for audio / subtitles and get the new icon in place for preview then I'm done.

@jstebbins  Probably best have an option in preference rather than the main view? I try to keep Win specific features hidden out the way so the main ui is close as can be to the others. my 2c.

[2017-12-12 22:02] sr55 commented on #1053
Does it crash at the same place if you re-run an encode?  If it's random, keep an eye on system temperatures and run memtest86 to rule out hardware.  I can't tell if your overclocked or not. If you are, remove any overclock.

If it is consistent, is there any way you could share a file?

[2017-12-12 22:05] sr55 commented on #1052
Crashes at the same point?
Repeatable with a nightly build?  https://handbrake.fr/nightly.php
Overclocked CPU?  Try without overclock.
CPU Temperatures OK?  <=70C ?

Failing all that, is it possible to share a sample that reproduces the crash?

[2017-12-13 17:25] tspecht commented on #308
Can this issue be considered fixed? Still seeing it with my files right now :(

[2017-12-13 22:00] mswindowsinside commented on #1053
Ran one pass of memtest86, no errors. Nothing is overclocked. It didn't happen for today, until I tried to preview a video on Nightly1210. Crashed again, 8 hours of encoding completely down the drain :(

It doesn't crash at the same place no, it could be an hour into the video or near the end at 4 hours.

Really not sure what's causing this, I transcode FRAPS files with Handbrake all the time to H

[2017-12-13 22:16] bradleysepos commented on #308
@tspecht Please open a new issue, include your activity log, etc. Thanks!

[2017-12-14 09:20] bradleysepos commented on #1032
See #1055.

Build tool contribs (aside from CMake, for the moment) are deprecated and slated for removal.

[2017-12-14 11:13] neeson89 opened #1056 ""Programm is closed""
### Description of problem or feature request
"Programm is closed"
Description here.
When i try to start convert, the programm is closing
### Steps to reproduce the problem
i'm trying to change video and audio converters, but sometimes is closing aniway
Steps here.
i'm trying to change video and audio converters, but sometimes is closing aniway
### HandBrake version (e.g., 1.0.0)
1.0.7
HandBrake v

[2017-12-14 11:20] neeson89 commented on #1056
i tryed to change audio converter (to skip 48 -> 44.1kHz encoding), its starting to work, but, aniway closing...

[2017-12-14 11:23] galad87 commented on #833
I think the short source description should go after the title: selection, because it depends on the selected title.

[2017-12-14 13:28] Crusnik2 opened #1057 "Feature Request: Video PassThru Option"
**Description of feature request**
Handbrake has many features and options that have made encoding / re-encoding files easy.  But it doesn't have feature/option to separate subtitles from MP4 files.  This is a feature/option that isn't found on any encoding app. Handbrake would be the first.
Burning subs to video is one several ways they can be encoded into an MP4.  Depending on the level of exper

[2017-12-14 13:54] bradleysepos commented on #833
Agreed. But nobody liked it as an additional line below Title. Should we revisit this?

[2017-12-14 14:03] Penkethboy opened #1058 "Handbrake Crashes - When Converting DTS_ES audio to Stereo"
### Description of problem or feature request

When trying to convert a movie audio stream from DTS-ES (6.1) to Stereo (what my TV supports) Handbrake crashes within 5 seconds of the beginning of encoding - this is reproducible and happens every time.

Have tried on two different PC's with same results using the same version of Handbrake

This happens on more than one video so its not file specifi

[2017-12-14 14:17] bradleysepos commented on #1058
What happens when you manually set bit rate to a sane value like 160? I don’t think 448 is valid for stereo, probably a bug as that’s what’s in the log.

[2017-12-14 14:38] Penkethboy commented on #1058
Thanks - Just tried with different bit rates

320 and below work fine
384 and above crash Handbrake

If they are invalid for Stereo they should be removed from the options

[2017-12-14 14:38] bradleysepos commented on #1058
@sr55 Is this already fixed on master?

[2017-12-14 15:19] bradleysepos commented on #833
![screen shot 2017-12-14 at 10 18 02 am](https://user-images.githubusercontent.com/70239/33999296-23f7f364-e0b8-11e7-8ec6-8b74b6c7cca3.png)

⬆️ How Windows is doing the modified indicator.

[2017-12-14 19:42] sr55 commented on #1058
In theory yes.   Hard to say in practice.  It’s not that the bitrate is invalid (wasteful maybe) but that the encoder is rubbish and can’t make enough bits to encode an audio frame so gets suck.

[2017-12-14 19:44] sr55 commented on #1058
Worth trying a nightly build. That said anything above 128k per channel on Libav aac is pretty pointless.  FDK aac is better in that regard if you want to compile from source and use that instead.

[2017-12-14 20:37] bradleysepos commented on #1058
[code]

[2017-12-14 20:47] sr55 commented on #1058
Most of them support <=256k per channel

[2017-12-14 21:44] Penkethboy commented on #1058
Cant remember why i chose 448 as i did this a long time ago on my favourite preset

Have adjusted the bitrate downwards.

[2017-12-14 21:46] sr55 commented on #1058
libav AAC just doesn't work well at high bitrates. In some cases it actually seems to make quality worse. I'm not sure how the ffmpeg aac encoder performs in these scenarios.  I know FDK behaves better but I'm not sure that the returns don't still taper off after 128~160K  per channel depending on the source audio

Either way, there are only 2 options available:

1. Compile from source and use FDK

[2017-12-14 21:49] #1058 closed, assigned to sr55

[2017-12-14 22:14] sr55 commented on #1057
I'm afraid this is beyond the scope of the project.

Unlike many other tools, we are not a UI on top of a CLI tool like ffmpeg. Architecturally HandBrake wasn't designed to allow support for this to be easily added.

[2017-12-14 22:14] #1057 closed, assigned to nobody

[2017-12-15 14:39] eaeniko opened #1059 "Handbrake 1.7 Doenst open."
### Description of problem or feature request
Until yesterday everything was fine, but today, I'm trying to open, but nothing happen.

### Steps to reproduce the problem

2 clicks on .exe or "execute as adm", nothing happen.
I tried to re-install, and uptade all the drivers... nothing..
I opened the task manager and when I double-click to open, the icon of Handbrake shows but another icon of "repo

[2017-12-15 15:19] woodstockathbf commented on #1059
Have you checked this topic?
https://forum.handbrake.fr/viewtopic.php?f=11&t=36537

[2017-12-15 16:00] eaeniko commented on #1059
How can i "Add an exception for HandBrake.exe" ?

[2017-12-15 17:32] sweaticus commented on #951
If the pause is implemented then it shouldn't be impossibile to save the state of the registers, and write all memory out to a set of files like emulators do then load them back in when the program is restarted.

[2017-12-15 17:33] jstebbins commented on #951
We eagerly await your patch :trollface:

[2017-12-15 17:37] woodstockathbf commented on #1059
Searching Google for "rivatuner add exception" comes up with a lot of sites explaining how to make exceptions for the applications that RivaTuner and its ilk crash. It isn't just handbrake having issues.

[2017-12-15 17:44] sweaticus commented on #951
no need to be wise ass about it, I am just saying it is possible I did not say it would be esay.

[2017-12-15 22:50] bradleysepos commented on #833
![screen shot 2017-12-15 at 5 45 12 pm](https://user-images.githubusercontent.com/70239/34063413-f33acfc2-e1bf-11e7-8f58-b142756fc667.png)

![screen shot 2017-12-15 at 5 48 09 pm](https://user-images.githubusercontent.com/70239/34063457-379ef0b2-e1c0-11e7-9736-c4b861245416.png)

![screen shot 2017-12-15 at 5 56 33 pm](https://user-images.githubusercontent.com/70239/34063671-7ebf12e6-e1c1-11e7-8a50

[2017-12-15 22:52] sr55 commented on #833
![image](https://user-images.githubusercontent.com/628593/34063530-93020a46-e1ea-11e7-8443-c93521b16f85.png)

OK, Happy to move the source info. Not worth sweating over.

FWIW, which it's a label beside the dropdown, or in-line for the modified I don't think matters too much. If the platform controls support it, it looks cleaner in-line, if not a text label would be fine.

It was a fair bit of wor

[2017-12-15 22:53] bradleysepos commented on #833
Looks fine.

[2017-12-15 23:06] sr55 commented on #833
![image](https://user-images.githubusercontent.com/628593/34063836-a62095dc-e1ec-11e7-875f-3959013d0dc6.png)

I'll do some checking on how best to do scaled icons.

[2017-12-15 23:08] bradleysepos commented on #833
Nice, I think you used the high dpi ones though. Probably should use the standard ones (no `@2x`) as they're unique and work better on regular displays.

[2017-12-15 23:13] bradleysepos commented on #833
Ah, I see you don't have different resolution assets.

[2017-12-15 23:17] sr55 commented on #833
![image](https://user-images.githubusercontent.com/628593/34064040-1e30c212-e1ee-11e7-8187-9543d9888c98.png)

Switched to low-res as they appear better locally.  I'll investigate high res tomorrow.

[2017-12-16 08:29] ryansnowden commented on #697
Same, can't wait!

[2017-12-16 10:06] eaeniko commented on #1059
Oh, I thought I need to add on Handbrake not in riva xD,

Thanks, btw!

[2017-12-16 10:06] #1059 closed, assigned to nobody

[2017-12-16 16:53] sr55 commented on #1056
Do you mean it's crashing when you try to encode? Are you able to share a sample file?

[2017-12-16 16:58] sr55 commented on #1053
Couple of things to try in the mean time then,
1. Try without Deblock
2. Try with a sane audio bitrate.  Going >256kbit for stereo with libav aac can actually reduce quality and also hang the encoder (It's a crap encoder).
3. Try without gain

[2017-12-16 17:00] #1032 closed, assigned to bradleysepos

[2017-12-17 18:09] Nomis101 opened #1060 "[macOS] Build fails on macOS if enable Intel Quick Sync Video"
I was trying to build HandBrake with Intel Quick Sync Video enabled on macOS 10.3 High Sierra. But the build fails. I don't know, is this expected? I read, Apple supports Quick Sync Video for iMovie, Compressor and so on. So, I don't believe this is expected(?). My full build log is as attached.

[error.txt](https://github.com/HandBrake/HandBrake/files/1565898/error.txt)

I think the error is here

[2017-12-17 18:12] galad87 commented on #1060
Intel's libmfx isn't available on macOS, if you want to use qsv on mac you have to go through Apple's VideoToolbox framework.
You can test this branch https://github.com/galad87/HandBrake/tree/videotoolbox , HEVC has not been tested.

[2017-12-17 20:03] Nomis101 commented on #1060
OK, thanks. Is it possible to make this more clear in the configure help message ($ ./configure -h) ? Something like:

[code]

[2017-12-18 07:04] ImmoWetzel commented on #946
[07:56:20] hb_init: starting libhb thread
[07:56:20] thread 1 started ("libhb")
[07:56:20] Preset (null): Incorrect value type for key AudioDitherMethod. Converting.
[07:56:20] Preset (null): Incorrect value type for key AudioDitherMethod. Converting.
[07:56:20] Preset FilmX: Incorrect value type for key PictureCombDetectCustom. Converting.
[07:56:20] Preset FilmX: Incorrect value type for key Pic

[2017-12-18 12:13] sr55 commented on #946
What Command line command did you use here?

[2017-12-18 12:23] mswindowsinside commented on #1053
1. Deblock seems to cause most of the crashing, only needed it in some encodings and it has only crashed once since encoding without deblocking.
2. I use a high bitrate because at 256kbit/s I can still hear artifacts, some of these are RAW recordings from a VHS tape, some have a big amount of noise and low bitrates cause the sound to "flutter". I will try to change this though if an encode keeps c

[2017-12-18 13:02] elschman commented on #946
HandbrakeCLI.exe --preset-import-file film.json -Z FilmT --min-duration 1800 -t 1 -i "%file%" -o "%newfile%.mkv"

 

Gesendet: Montag, 18. Dezember 2017 um 13:13 Uhr
Von: Scott <notifications@github.com>
An: HandBrake/HandBrake <HandBrake@noreply.github.com>
Cc: elschman <elschman@wetznet.de>, Author <author@noreply.github.com>
Betreff: Re: [HandBrake/HandBrake] commandline parameter min-duration

[2017-12-18 15:58] andiandi13 opened #1061 "Stereo Downmix Problem"
### Description

The new stereo downmix implemented since Handbrake 1.0.0 is too 'special' : background music is often too low and voices too loud.

The previous downmix (Handbrake 0.10.5) was very good in most cases. It was more common and well balanced, very close from a standard stereo downmix "on the fly/on playback" (e.g MPC-HC + LAV audio decoder).

That's why it'd be better to go back to a

[2017-12-18 17:35] AlanTheBeast opened #1062 "HEVC output is not playable by QuickTime / QT 7 on macOS 10.13"
### Description of problem or feature request

Converted a H.264 video to H.265.  Will not play in QuickTime or QuickTime Player 7 under Mac OS 10.31 (.2).

(Will play in VLC, DivX)

Per other reports this MAY BE the mis application of
ref:  https://stackoverflow.com/questions/32152090/encode-h265-to-hvc1-codec/32485240#32485240

ie: transcode-video marks the video stream has _hev1_, but it actual

[2017-12-18 17:37] galad87 commented on #1062
You can use a nightly build or wait for 1.1 if you want hevc to work in QuickTime. Anyway, it won't work in QuickTime 7.

[2017-12-18 17:37] #1062 closed, assigned to nobody

[2017-12-18 22:14] Nomis101 commented on #1060
Amazing how fast this is, the videotoolbox profile encodes in nearly a quarter of the time the normal profile needs. :-o

[2017-12-19 05:44] Crusnik2 commented on #1057
Oh well, it was wishful thinking. Maybe this is why it's not an option/feature on any encoding
 application. Thanks for responding and also thank you for explaning why it's not possible.

Now that I've taken time to think about it. There is one other thing i'd like to request.
I'm wondering if I should make a new thread or edit the first window, remove the current
request that impossible and have

[2017-12-19 06:34] gonejack opened #1063 "Why Handbrake not support stream copy?"
Some times I just need to add a subtitle to the video without decoding  and encoding the video stream, by now the only thing I can do is typing bulky commands like

[code]

Begin curious about why not add this option in Handbrake?

[2017-12-19 08:42] wazerstar opened #1064 "Missing bit rate info when using handbrake"
![b0h5aqghsuwiolhaekampg](https://user-images.githubusercontent.com/4474519/34148256-e64003b2-e4a0-11e7-809b-7ad3626ba38b.png)

[2017-12-19 15:42] jstebbins commented on #1063
HandBrake isn't a frontend to the ffmpeg command line.  We have our own internal pipeline that was designed to handle a variety of synchronization problems.  Video passthru (aka stream copy) is incompatible with the code that fixes those synchronization problems. I.e. you can't duplicate or drop video frames when doing video passthru. Duplicating and dropping frames is necessary in order to fix so

[2017-12-19 17:48] #1063 closed, assigned to nobody

[2017-12-19 18:54] sr55 commented on #1057
it starts now by first asking for the location of a folder or file. If something isn't entered we can't
access the application.

Significant user feedback drove the UI to where it is now so it's not something we'd want to backtrack on. The more "open" nature of the UI had drawbacks in the sense that it was apparently quite confusing to inexperienced users.

There was also various issues around mak

[2017-12-19 19:02] sr55 commented on #1064
This is to be expected. There are a number of scenarios where MediaInfo won't show it.  VBR content for example normally won't show up. Nothing we can do about it I'm afraid. I think in some cases it would require Media Info to scan the entire fire (not feasible in terms of performance) to be able to determine it)

[2017-12-19 19:03] #1064 closed, assigned to nobody

[2017-12-19 22:52] sr55 commented on #1057
Another Duplicate: #1063

[2017-12-20 07:33] perceus1992 opened #1065 "Failure to decode Disney movie"
### Description of problem or feature request

In attempting to back up a Disney Movie, Handbrake is able to decode the first 15 minutes, it then believes the movie is over, and finishes.  It gets to the 15.65% range, and calls it quits.

### Steps to reproduce the problem

I have tried the various titles available as well as trying to narrow down to decoding individual chapters.  everytime Handbr

[2017-12-20 14:35] woodstockathbf commented on #1065
You are using a 3rd-party add-on to decrypt your disk (handbrake does not do disk ripping by itself), and it encountered an disk read error at 01:42:56 in your log. Handbrake interpreted that as "end of data", and completed.

Clean the disk, and try using ripping software, which generally will provide better error reporting.

[2017-12-20 19:33] jstebbins commented on #833
Umm, guys, have you tried the current layout with very long source file names and batch scan of a directory?  I've been minimizing the number of other controls that share a row in the UI with the title dropdown so that the width can grow to accommodate long file names.  The new layout is going to obscure most of the filename when doing title selection which doesn't really work.

[2017-12-20 19:41] perceus1992 commented on #1065
smh...checked disk...found a couple child sized finger print smears.  Don't know how he got his hands on it, but he did.  Cleaned it up, ripped it and handbrake got it to where i need it.  Already loaded up on Plex.

I had been using DVDFab to rip it, but it kept coming back with an error as well.  so i went with the over kill option vice the simple one.

Thanks for the sanity check, woodstock.

P

[2017-12-20 20:28] #1065 closed, assigned to nobody

[2017-12-20 20:32] sr55 commented on #833
hmm, I did set character level elipsis if it goes over, but you need a pretty extreme filename to go over.  I can easily fit 150+ characters. Widen the window and you see more.

I always had it on the same line so it's just left aligned rather than right aligned.

I may have more space than the lingui though so it may be less of an issue for me.

[2017-12-20 20:50] sr55 commented on #833
OK, apparently not. Seems to be shy of 80 characters with the current xaml. I can optimise that a bit but 2 other options,

1. revisit throwing it away. (personally I don't care either way)
2. Make it disappear if the filename is long.

[2017-12-20 21:05] sr55 commented on #833
![image](https://user-images.githubusercontent.com/628593/34228692-71c09d38-e5c9-11e7-979d-c31b60029737.png)

This is what it'd look like (Also added a tooltip to see how that works)

It's a pretty extreme filename. I'd say those who are going to write a story in their filename, need to live with a tooltip or something else. Regardless, the windows only 1000px wide anway

LinGUi:

![image](https:/

[2017-12-20 21:07] #452 closed, assigned to galad87

[2017-12-20 22:04] RobFog commented on #452
I reckon this was fixed for 1.1.0 and should be re-milestoned as such? :-)

[2017-12-20 22:10] jstebbins commented on #833
I'm not sure if you understood what I meant.  I'm talking about the contents of the title dropdown.  In your images I see a dropdown that only has enough room to give the title number and duration of the title.  There is not enough room for the title's file name which is important when choosing titles in a batch scanned directory.

[2017-12-20 22:14] galad87 commented on #833
On mac the actual dropdown menu will be larger than the control size, and will show the entire filename.

[2017-12-20 22:16] jstebbins commented on #833
Yeah, I thought that might be the case.  I can't seem to do that with GTK.  I'm still doing some searching, but so far it seems impossible.

[2017-12-20 22:27] sr55 commented on #833
Yeh, Just realised it's a bit awkward for batch mode.  I'll do the same as mac. Filenames above and the dropdown contents will contain it but hte display value will be title

It's not a big issue of the linux gui layout is a bit different to accomondate the longer dropdown I don't think

[2017-12-21 15:47] ghost commented on #982
+1

@bouscram Note, DVBSUB is not just DVB-T, it's also DVB-C and  probably DVB-S too, maybe indicating that in the title could be something you can fix, either removing the -T or adding /C/S.

I would really love the DVBSUB support in HB because the only way to get them in this case is by burning them in, so it's crucial that burn-in support is also part of the plan.

A few times a year I visit m

[2017-12-21 16:36] jstebbins commented on #833
So, i figured out a usable way to limit the width of the title combo box. It results in that widget looking a bit more like an uneditable gtkcomboentrybox rather than a gtkcombobox, but it works.

But even with that under control, I can't fit everything on one line.  It all fits except "Duration: 00:00:00".  So I'm wondering it the duration field is even necessary.  It's redundant with what is sho

[2017-12-21 16:43] jstebbins commented on #833
Did we decide on where to put the source info?  Above uses empty space that would otherwise not be used, but below does flow better since it changes as you change titles.

If we move it, I suggest moving everything that is currently to the right of "Source:" below the title dropdown.

[2017-12-21 17:15] bradleysepos commented on #833
Not when doing point-to-point, hence the addition.

Everyone was opposed to my comps where it was below. Mac & Win are doing directly after source instead of right aligned (screenshot):

![screen shot 2017-12-21 at 12 12 42 pm](https://user-images.githubusercontent.com/70239/34266723-47fc2af6-e648-11e7-950c-dec6e6a007e5.png)

Directly following source on the same line seems to work well even with

[2017-12-21 17:25] jstebbins commented on #833
I forgot about that. That's not really "source" information then. It's output duration. Maybe move it into "Summary"?

TBH, I kind of like the idea of putting it below.  If you feel like the space above should be used for something, it might be nice to show the full source path.  And the scan progress would still be there.

[2017-12-21 17:27] bradleysepos commented on #833
At this point, I don't have a preference. It would be nice to resolve any remaining issues quickly so we can release. I'm sad we won't have parity on some of the main window.

[2017-12-21 17:31] bradleysepos commented on #833
@sr55 I think there's a bug in the Summary image aspect. Should be wider, see screenshot:

![screen shot 2017-12-21 at 12 29 37 pm](https://user-images.githubusercontent.com/70239/34267404-af64888a-e64a-11e7-8efa-84415dd74004.png)

Also, will you consider aligning the main window titles per the other GUIs? No indentation, same line as the controls they reference, drop "Destination"?

[2017-12-21 17:32] bradleysepos commented on #833
@jstebbins One other thing, Mac and Windows have standardized on the toolbar order in the above screenshot. Basically, Show Queue isn't on the right. Consider the same order?

[2017-12-21 17:42] jstebbins commented on #833
Hmm, any reason for re-ordering that way?  The previous ordering grouped buttons that open other windows and aren't really in the main usage flow at the end and (at least in linux case) right justified in the toolbar.

[2017-12-21 17:43] jstebbins commented on #833
And what happened to the "Pause Encoding" button?  Is it only visible once encoding has started?

[2017-12-21 17:48] bradleysepos commented on #833
Linux and Windows did it the way you currently have it for 1.0.0, which is what I suggested. Mac declined and did it's own thing. See a pattern? 🔪🔪🔪 😸

Anyway, Scott changed Windows to align with Mac. It's fine either way, I say go for consistency if it doesn't bother you.

On Mac there are Start and Pause buttons. Start turns into Stop during encoding.

On Windows, Start is replaced by Stop and P

[2017-12-21 19:23] bradleysepos commented on #833
Moved TODO list here. It would be nice to get as many remaining items settled as possible, and release before Christmas, assuming everyone has time.

- Linux
  - [x] Disable legacy presets list window on startup (obscures main window, confusing)
  - [x] Bold `Title:` and `Duration:` labels, add related `Angle:` and `Range:` labels, change `through` to en dash `–`, align layout same as Mac
  - [x]

[2017-12-21 20:42] maximd33 commented on #873
thanks @sr55 https://github.com/HandBrake/HandBrake/pull/1066 should address 10b HEVC story

[2017-12-21 21:30] sr55 commented on #833
@bradleysepos  2402x1080?  What kind of source is that?

Also, under category headers, there is a 5 or 10px intent. (Preset dropdown is mis-aligned though)

[2017-12-21 21:46] sr55 commented on #833
Btw, if we are not adding an options pane for presets, maybe we should have a "Make Default" checkbox on the Add Preset window?

[2017-12-21 22:26] lisamelton opened #1067 "Regression: Change to CLI progress behavior corrupts piped output when using `tee` and other tools"
The change by @bradleysepos to test/test.c on March 10 described as "cli: Avoid carriage return in progress output when piping.":

https://github.com/HandBrake/HandBrake/commit/7c438ad5ae81c31c660fc9a208dacd7177f54a24

... actually corrupts progress output when piping that output to `tee` and other tools, making progress seem to stutter and emit a significant number of unnecessary line feeds. This

[2017-12-21 22:43] bradleysepos commented on #1067
Hi Don,

That change was made to solve issues with the carriage return not being treated properly when piping. It wasn’t working at all in most cases where the output wasn’t a terminal, for instance most of the time when redirecting to a file, the carriage return was essentially an ignored byte. The output you’re seeing is what is intended by that patch and I believe a subsequent one throttles the

[2017-12-21 22:51] lisamelton commented on #1067
@bradleysepos Thanks for the quick response! Well, the behavior I want is simple. I want this:

[code]

... to behave exactly like this:

[code]

...  when characters are sent to the console.

And that's how the release version of `HandBrakeCLI`, `ffmpeg` and just about every other tool I can think of behaves when their progress output is piped.

I'm honestly not sure what you're trying to fix wit

[2017-12-21 22:57] lisamelton commented on #1067
@bradleysepos BTW, just to be clear, I can reproduce the stutter and spewing behavior when piping on macOS using a build from source just after your change and with the latest source.

[2017-12-21 23:27] bradleysepos commented on #1067
I’m mobile at the moment, but will take a look later.

For grins, try redirecting to a file instead of using `tee`, and compare release against nightly. E.g., `command > foo.log 2>&1`. If I recall correctly, the nightly should behave better there.

[2017-12-21 23:55] lisamelton commented on #1067
@bradleysepos What you suggest is actually worse. :) And I tried with the latest nightly build. Not only is the log content still corrupted with useless linefeeds , but I don't get any output that way, progress or otherwise, to the console.

Seriously, `HandBrakeCLI` really needs to handle piping like other command line tools.

[2017-12-22 15:54] jstebbins commented on #833
I'm not sure I understand.  Do you mean the options dropdown you have next to the presets on the main window? I'm ok with that and will add it to the Linux gui.

Not a bad idea in any case.  But I still don't really understand the need for "Make Default".  IMO it should just stick to the last used preset when HandBrake is restarted.

[2017-12-22 16:22] sr55 commented on #833
Yeh, sorry, options dropdown.  Sleep deprivation kicking in.  I'm not sure @galad87 is on board with it though. I'm not really sure why.

I don't necessarily have anything against last used.

[2017-12-22 17:17] jstebbins commented on #833
I really think we should show the whole preset path.  I don't like this change.

[2017-12-22 17:23] jstebbins commented on #833
I missed something.  When did the toolbar icons change and how did they change?  Please *do not* change icons unless you are also going to provide svg icons for the Linux GUI.  I require svg.

[2017-12-22 17:33] Nomis101 opened #1068 "Apple TV 4k Handbrake output is different from Apple Compressor profile"
### Description of problem or feature request

First need to say, I don't know how important this is. But, I compared the output of the Apple TV 4k profile from HandBrake (latest trunk) and latest version of Apple Compressor 4.4. As starting material I used a 10.4 MB low resolution clip from youtube (sample 1) and a high resolution 33 MB sample from one of my BluRays (sample 2). Apple Compressor h

[2017-12-22 18:22] jstebbins commented on #833
@sr55 I presume there is a popup associated with the "Rename Preset" option.  Is it simply an entry box with Ok and Cancel buttons?

[2017-12-22 22:05] sr55 commented on #1068
HandBrake doesn't use compressor, not does it use any Apple libraries for muxing, so it's perefectly normal for the output to be different.

Is there something that you see as being a particular problem?

[2017-12-22 22:06] jstebbins commented on #833
If there is something for me to do with this, than I am not understanding what this means.

[2017-12-22 22:06] sr55 commented on #833
yup
![image](https://user-images.githubusercontent.com/628593/34313621-64c356a6-e764-11e7-9490-39b435d8925d.png)

[2017-12-22 22:09] sr55 commented on #833
I think he means:

![image](https://user-images.githubusercontent.com/628593/34313654-9d256cd2-e764-11e7-9677-9421837187a5.png)

he also tweaked some of the icons in the gfx folder.  No reason svg can't be made.

p.s @galad87   What's the deal with the options dropdown on mac?  I can turn it back on since johns ok with it too but I'd rather all 3 of us be on the same page with on/off

[2017-12-22 23:14] jstebbins commented on #833
Current state of LinGui
![screenshot from 2017-12-22 15-10-59](https://user-images.githubusercontent.com/709720/34314644-86af2f72-e72a-11e7-9684-140527fe6ee6.png)

And with preset modified
![screenshot from 2017-12-22 15-11-28](https://user-images.githubusercontent.com/709720/34314650-958e4b90-e72a-11e7-9a72-613fbf6b3b88.png)

[2017-12-22 23:26] sr55 commented on #833
Nice

[2017-12-22 23:36] large-leader232 opened #1069 "Crashes after selecting source"
### Description of problem or feature request

After selecting source, Handbrake crashes. Has been reproduced 3 times with the same error log. Reproduced with the Nightly build, but don't know where to find the logs for that one.

I'm specifically trying to convert an avi with no encoding into an mp4 at 60fps. I was able to convert about 3 small files before Handbrake started to do this (all files

[2017-12-23 00:14] Synapto commented on #1068
Also, don't forget that HB uses either x265 or QSV HEVC, and Compressor uses whatever it is that Apple have implemented, which won't be either of those two.  They'd intrinsically produce different results because they all have a different means to an end, especially when you take software patents into account.

So, you cannot directly compare the two unless you create a fair and objective scientif

[2017-12-23 03:33] woodstockathbf commented on #1069
If Windows said the application crashed, there should be an event in the event viewer with the particulars of what actually failed. Do you have that as well?

[2017-12-23 05:57] large-leader232 commented on #1069
When the application crashes, I get this:
https://puu.sh/yMgHK/938bc22574.png
Clicking debug leads me to this
https://puu.sh/yMgIi/e8b8aad64e.png
Going further, I get another "HandBrake has stopped working". After clicking close, I'm then allowed into VS which pretty much kicks me out because the trial period's expired. At which point I usually just close VS without making any other changes.

[2017-12-23 08:47] bradleysepos commented on #833
Actually I meant, the labels inside the tabs (Summary, Video, Audio, etc.) should all either be bold or regular at the same hierarchy.

[2017-12-23 08:48] bradleysepos commented on #833
We all agreed to remove Options awhile back, sorry I didn't reply sooner.

[2017-12-23 08:50] bradleysepos commented on #833
Yep, trivial. Will get on it.

[2017-12-23 11:40] juanitotc opened #1071 "Minimum set of built-in libs"
Is this the minimum set of built-in libs for handbrake-1.0.7:

libav-12.tar.gz                     libdvdread-5.0.0-6-gcb1ae87.tar.gz
libbluray-0.9.3.tar.bz2             libvpx-1.5.0.tar.bz2
libdvdnav-5.0.1.tar.bz2             x265_2.1-1.tar.gz

..or can system libs replace some of these (if so, how)?

[2017-12-23 11:42] juanitotc opened #1072 "How to pass CC or CFLAGS"
Is there a way to pass CC or CFLAGS so that they are used to build for the downloaded/built-in libs and ghb/handbrake-cli?

[2017-12-23 12:49] bradleysepos commented on #1071
The online documentation lists dependencies for a variety of systems: https://handbrake.fr/docs/en/1.0.0/developer/build-linux.html

Let us know if you have further questions.

[2017-12-23 12:51] bradleysepos commented on #1072
It would be helpful to know what you're trying to do. See `./configure --help` for some compiler options.

[2017-12-23 12:58] Nomis101 commented on #1068
Is there something that you see as being a particular problem?

I know that HandBrake does not use Compressor, thats why I have compared it. It would not make sense either, because not all macOS users have Apple Compressor installed.  Apple is known to not document everything, so I was just curious to find possible differences.
I'm seeing particular differences, but don't know if this are problems

[2017-12-23 13:03] galad87 commented on #1068
Most of those differences are irrelevant. For the number 6, probably you have autocrop on in HandBrake.

[2017-12-23 13:31] sr55 commented on #1069
Are you able to provide a sample that reproduces this?
Have you tried a nightly build?  https://handbrake.fr/nightly.php

[2017-12-23 13:35] bradleysepos commented on #1068
Yes, Apple started doing this with HEVC recently. It makes no difference, like most/all of the items. We've tested and made any changes necessary for compatibility and are most definitely not trying to mirror Compressor in any way.

[2017-12-23 13:35] #1068 closed, assigned to nobody

[2017-12-23 14:43] juanitotc commented on #1071
Thanks - I'd seen the documentation page you linked, but, for example, despite having the system libvpx and dev files loaded, the handbrake build downloads and builds/links its own libvpx instead.

I'd like handbrake to use as many systems libs as possible including those listed above.

[2017-12-23 14:46] juanitotc commented on #1072
I tried:

CC="gcc -flto -fuse-linker-plugin -mtune=generic -Os -pipe" CXX="g++ -flto -fuse-linker-plugin -mtune=generic -Os -pipe -fno-exceptions -fno-rtti" ./configure --prefix=/usr/local

and

CFLAGS="-flto -fuse-linker-plugin -mtune=generic -Os -pipe" CXXFLAGS="-flto -fuse-linker-plugin -mtune=generic -Os -pipe -fno-exceptions -fno-rtti" ./configure --prefix=/usr/local

..but it didn't seem to

[2017-12-23 15:12] large-leader232 commented on #1069
As stated in the original post, I already tried the nightly build and still have the same result.
Here's an avi that causes this issue:
https://puu.sh/yMrWd/1522680340.rar

[2017-12-23 15:52] bradleysepos commented on #1071
That's the goal. Unfortunately, there are sometimes bugs or insufficiencies. Typically we are on the latest stable release plus whatever patches we add (and submit upstream). When a project is reasonably stable and doesn't require any local patching for some time, and most repos are on the stable version we need, we will switch to use the system lib.

@jstebbins May have more info on why the we cu

[2017-12-23 15:57] bradleysepos commented on #1072
Ah. You can probably do:

[code]

[2017-12-23 15:59] sr55 commented on #1071
Where we allow system library usage, the build system does so automatically. (i.e x264) Otherwise you have to use static libraries.

.

[2017-12-23 16:01] bradleysepos commented on #1069
Crashes on Mac too. 😞

[code]

[2017-12-23 16:02] sr55 commented on #1069
Interestinly, the only software that I can get to play this, is Windows "Movie" app.  VLC isn't having it either.

Either way, looks like an upstream libav crash.

[2017-12-23 16:45] juanitotc commented on #1071
Thanks - so those six libs in comment 1 must be used statically?

The reason I ask is in case there is some other reason that the equivalent system libs are not being picked up.

[2017-12-23 16:54] sr55 commented on #1071
They are currently all statically linked. Libav especially is heavily patched by us and your system won't have those patches (assuming it even has libav rather than ffmpeg)

[2017-12-23 16:57] juanitotc commented on #1071
Thanks :)

(it might be worth putting a list of the current statically linked libs somewhere?)

[2017-12-23 16:57] #1071 closed, assigned to nobody

[2017-12-23 16:59] large-leader232 commented on #1069
That's quite interesting. I haven't changed any settings within maya itself. I always use the same settings (creating an avi without any encoding). But assuming it doesn't work in VLC, it might also be an issue with maya as well.

[2017-12-23 17:07] jstebbins commented on #833
I've been very busy lately.  I've missed a lot of discussion on IRC and have had to go back and catch up a lot in this thread.  If there was a resolution on this issue, I missed it.  I see you suggested it be removed and nobody argued against it, but nobody affirmed either.

I'm ok with it either way, but I agree with @sr55 about setting the default.  I've said this a couple times already, but the

[2017-12-23 17:52] mswindowsinside commented on #1053
Seems as though it WAS my system's fault, I ran a BIOS update. Updated my GPU drivers, ran sfc /scannow in CMD and I performed chkdsk on all of my drives. I've done more than 20 encodes since then and it's rock stable. So my issues are resolved for now :)

[2017-12-23 17:52] #1053 closed, assigned to nobody

[2017-12-23 18:06] bradleysepos commented on #1069
Random, but maybe try exporting an even-numbered width and height.

[2017-12-23 18:12] bradleysepos commented on #833
I could have sworn you were in on the discussion to remove Options, but perhaps I imagined it.

Agreed on the checkbox.

I added a couple SVG in ced960afd6cef99e9a543d1c122d9197a4ee5e0f. The current SVG files in `gtk/` only contain PNG pixel data (no vectors), so please try the files I added to `graphics/` and let me know if they suit your needs. If so, I'll make the rest the same.

[2017-12-23 19:11] jstebbins commented on #833
A few of the SVG in gtk are vector.  But I never finished converting the rest.  The 2 you supplied in graphics/SVG work fine.  If possible, can you export the rest to vector SVG?

[2017-12-23 19:14] bradleysepos commented on #833
Great! That's the plan.

[2017-12-23 20:30] bradleysepos commented on #833
@jstebbins Just added the remaining SVGs for the new icons in 12bd125b49882aebc321a1ca1f01ce0c2ef839cc.

Note that there are two versions of `Preview` and `Source`: one standard res for ~32px and one high res for 64px+ labeled `@2x`. I'm not sure if you have any control over whether high dpi screens use a different asset. If not, probably stick to the standard res ones because the high res are a b

[2017-12-23 23:30] ghost commented on #1053
As unusual as this sounds it may actually be so.

I remember many years ago on an old AMD motherboard with an Nvidia chipset running Call of Duty 2 would freeze/kick and something with punkbuster. A BIOS update fixed the issue, would you believe it? I don't remember doing anything else at all really, I didn't had much troubleshooting experience to fiddle that much and it wasn't my computer, so I u

[2017-12-24 00:51] jstebbins commented on #833
I had a look into how gtk selects different res icons.  It appears to decide what res it needs, then looks for a PNG that is a "good" match to the desired res.  If it does not find a "good" match, it will use the corresponding SVG and scale it to the desired res.

So I've added the additional PNGs you've supplied and GTK is showing appropriate icons for both HiDPI and non-HiDPI displays.

[2017-12-24 01:22] bradleysepos commented on #833
Excellent. 👍

[2017-12-24 06:18] juanitotc commented on #1072
Hmm, thanks - I should have thought of that...

There seems to be a problem with libvpx - with plain "make", the build succeeds.

With make CFLAGS='-flto -fuse-linker-plugin -mtune=generic -Os -pipe' CXXFLAGS='-flto -fuse-linker-plugin -mtune=generic -Os -pipe -fno-exceptions -fno-rtti', the build fails with many errors of the form:

mkdir -p vpx_ports/
/usr/src/HandBrake-1.0.7/build/contrib/libvp

[2017-12-24 06:23] juanitotc opened #1073 "Scripts do not find /usr/local/bin/python"
Would it be possible to modify the first line of:

scripts/create_resources.py
scripts/quotestring.py
gtk/src/makedeps.py

..to read:

#! /usr/bin/env python

[2017-12-24 10:00] bradleysepos commented on #1072
I doubt anyone will offer much help with custom compilation options; that's definitely something that you should figure out if you want a custom build. At minimum, I think you should try compiling the latest master branch instead of 1.0.x, which is stated to be replaced with the former *very* soon.

You may want to look at https://github.com/HandBrake/HandBrake/blob/master/contrib/libvpx/module.de

[2017-12-24 10:00] #1072 closed, assigned to nobody

[2017-12-24 10:01] bradleysepos commented on #1073
Already the case on master branch.

[2017-12-24 10:01] #1073 closed, assigned to nobody

[2017-12-24 10:04] bradleysepos commented on #1067
Indeed, it wasn't a suggestion for use as much as a hint regarding why the change was made. When redirecting to a file, printing a CR doesn't overwrite the line, it prints a CR character. So one would achieve output with seemingly messed up line endings.

I'll certainly look at improving the behavior, and I'm peeking at other tools. Patches always welcome (hint, hint 😸).

[2017-12-24 20:58] bradleysepos commented on #833
Remaining items:

- Linux
  - ~Move toolbar item `Show Queue` between `Add To Queue` and `Start`, same as Mac and Windows~
- Mac
  - [x] Add inline preset `Reload` button same as Linux/Windows
  - [x] Add inline `Save New Preset` button same as Windows
  - [x] Move toolbar item `Queue` to the right same as Linux/Windows
- Windows
  - ~On Summary tab, fix incorrect preview aspect (see https://githu

[2017-12-24 21:08] skbt opened #1074 "Crashes if the video has no audio stream"
### Description of problem or feature request

I was trying to open a video which I had downloaded with `youtube-dl -f bestvideo` (which downloads just the video and no audio). Handbrake crashed as soon the source was selected. Happens on Windows 10 as well as Ubuntu 16.04

### Steps to reproduce the problem

Select any video with no audio as source file. I used `youtube-dl -f bestvideo` to downlo

[2017-12-24 21:11] bradleysepos commented on #1074
Sorry you're having trouble. Please try the latest nightly build. If it's still not working, an activity log from that build will be helpful.

[2017-12-24 22:12] lisamelton commented on #1067
@bradleysepos Sorry I took so long to respond! We have family over for the holidays and it's a bit hectic.

Thanks for the explanation. But the problem you're trying to solve isn't a problem. And your change violates the unwritten (but as nearly as I can tell universal) contract for command line tools that console output is the same as redirected or, more importantly, piped output.

Why is the ori

[2017-12-24 22:20] #1067 closed, assigned to bradleysepos

[2017-12-24 22:21] bradleysepos commented on #1067
Done. I committed a slightly simpler patch, but thanks for putting that together. Let me know if this works for you.

Aside, what issue are you having building on with Sierra? What Xcode version?

[2017-12-24 22:34] lisamelton commented on #1067
@bradleysepos Thanks for responding so quickly!

I know it's odd since I used to work for so long in system software at the Fruit Company, but I very rarely upgrade to the new macOS until after the first of the year. :)

All I'm trying to do is build `HandBrakeCLI` via:

[code]

Which normally works fine. Here's the error I'm seeing with the current tree:

[code]

It's conceivable this is also a p

[2017-12-24 22:44] bradleysepos commented on #1067
Completely understandable. I actually do that on purpose, usually upgrading around December and then only every other year for even releases. This year was an exception. If you saw the 3813-line text file I call system documentation, you might think I'm slightly mad. 😸 Stability++

Oof, I... uh... just caused that. Fixed.

If you're still getting an unrelated error, the output again please.

[2017-12-24 22:57] lisamelton commented on #1067
@bradleysepos "Stability" is the word. :)

That was fast! But still failing for me after a `git pull` and complete rebuild:

[code]

It looks like a linker error? There are no other clang errors in the spew. Shall I attach a log for you?

[2017-12-24 23:01] bradleysepos opened #1075 "Build failures on macOS Sierra."
See https://github.com/HandBrake/HandBrake/issues/1067#issuecomment-353806533

[2017-12-24 23:01] bradleysepos commented on #1067
Nope, that gives me something to go on. Opened a new issue here: https://github.com/HandBrake/HandBrake/issues/1075

[2017-12-24 23:04] lisamelton commented on #1075
@bradleysepos That was, once again, quick. :)

I'm waiting for the next wave of relatives to arrive for Christmas Eve dinner, so let me know if I can test anything for you.

[2017-12-24 23:22] bradleysepos commented on #1075
Xcode 8.2
Build version 8C38

[code]

Probably additional issues once we get past Xcode 8.2 compatibility (which we advertise).

[2017-12-24 23:31] bradleysepos commented on #1075
@donmelton May take some work to get this one solved. In case you need it, here's a build from head on master: https://www.dropbox.com/sh/mcrts2msmctzdtg/AAAYqmM5F4DLOeOWlnB94df0a?dl=0&lst=

Have a wonderful holiday!

[2017-12-24 23:57] lisamelton commented on #1075
@bradleysepos Thanks for the special build!

OK, that's much improved as far handling line endings goes. But it still stutters when piped. By that I mean, I'm getting less than half the same number of progress lines in the pipe as I would if `HandBrakeCLI` is not piped.

Honestly, I thought it was hung at first. So something is still broken here.

But I can't re-open the bug the bug I originally f

[2017-12-24 23:59] lisamelton commented on #1067
@bradleysepos To reiterate my comment from #1075:

Thanks for the special build!

OK, that's much improved as far handling line endings goes. But it still stutters when piped. By that I mean, I'm getting less than half the same number of progress lines in the pipe as I would if `HandBrakeCLI` is not piped.

Honestly, I thought it was hung at first. So something is still broken here.

But I can't r

[2017-12-25 00:09] lisamelton commented on #1067
@bradleysepos As I just mentioned in your commit, that should fix it. Thanks!

I'll verify as soon as I can build and let you know.

Happy Holidays!

[2017-12-25 00:09] bradleysepos commented on #1067
https://www.dropbox.com/sh/hchz3l4b8usbw6y/AAB5XDa-ulO0WWnych9iTEQba?dl=0&lst=

[2017-12-25 00:10] bradleysepos commented on #1075
Build without throttling: https://www.dropbox.com/sh/hchz3l4b8usbw6y/AAB5XDa-ulO0WWnych9iTEQba?dl=0&lst=

[2017-12-25 00:13] lisamelton commented on #1067
@bradleysepos Woo hoo! Yeah, I can confirm that fixed it. Thanks so much for doing this on Christmas Eve. :)

Again, Happy Holidays, sir!

[2017-12-25 00:14] bradleysepos commented on #1067
No problem. ;) Best to you and yours.

[2017-12-25 07:26] skbt commented on #1074
Tried it on nightly build on Ubuntu. It is working. Thanks.

[2017-12-25 07:26] #1074 closed, assigned to nobody

[2017-12-25 08:07] galad87 commented on #1075
Fixed in cb4dc4ec0a70a166f20112671b83d7426c5c82cc

[2017-12-25 14:48] CHerSun opened #1077 "Bug: For some files (m2ts?), subtitles get burned-in with burn-in option disabled"
### Description of problem or feature request
For some files (m2ts?), subtitles get burned-in with burn-in option disabled

### Steps to reproduce the problem
This usually happens for m2ts (BluRay) video files. Just get m2ts, try to recode to h264/h265 with subtitles added, ensure burn-in option is disabled for subtitles. Results in a video with burned-in subtitles into video.

### HandBrake versi

[2017-12-25 15:32] sr55 commented on #1077
This is correct.  MP4 files do not support PGS subtitles, so you must burn them in.

The checkbox should however disable, so I'll fix that.

[2017-12-25 15:47] jstebbins commented on #833
Still not a fan of the new ordering. I understand that it puts all the queue related buttons together.  But I think it's more important to have the "steps to encode" together and the "other stuff" together. I would really prefer this were reverted in the other GUIs.

[2017-12-25 15:49] sr55 commented on #833
Yeh, I don't like the current line up either to be honest. It makes sense to have Source | Actions | Display  in terms of order.  I.e what the linux gui does

[2017-12-25 15:54] bradleysepos commented on #833
I agree. This was actually my rationale for that ordering. I would prefer to have Mac make the change.

[2017-12-25 16:06] #1077 closed, assigned to sr55

[2017-12-25 16:23] galad87 commented on #833
Another reason for having the queues icon nearby was that the icon is almost black, and it's hard to know if you have clicked it or not, so the badge on the queue icon helps a bit.

[2017-12-25 16:30] sr55 commented on #833
Not sure that's a big issue. The button for showing the queue isn't terribly far away

[2017-12-26 00:07] large-leader232 commented on #1069
That strangely works, with at least 4 successful attempts.. I'll try an odd-numbered width and height and test that out later.

[2017-12-26 03:54] bradleysepos commented on #1069
Sounds like a bug in the decoder then.

[2017-12-26 11:54] sgothel commented on #974
@jstebbins I would commit on the swresample move 'as we go' within 2018, if that is fine with you.
Background: We have identified that avresample is deprecated in ffmpeg and therefor code shall use swresample 'soon'.
While it is debatable how high this priority is, it shall be done at some point in time.

[2017-12-26 11:57] sgothel commented on #974
Regarding the libav patches, see @cehoyos https://github.com/HandBrake/HandBrake/pull/981#issuecomment-343709599

[2017-12-26 12:00] sgothel commented on #974
Highest libav/ffmpeg incompatibility impact might be the subtitle ID handling https://trac.ffmpeg.org/ticket/6304
See @cehoyos https://github.com/HandBrake/HandBrake/pull/981#issuecomment-347364763

[2017-12-26 13:26] sgothel commented on #259
I agree, need to take care of multiple encoders and also need to revive the NVENC suffix to the HB nvenc IDs allowing other specific encoders like AMD etc
See @jstebbins https://github.com/HandBrake/HandBrake/pull/983#discussion_r149537326

Now HB_VCODEC_FFMPEG_H264, should be HB_VCODEC_FFMPEG_H264_NVENC and HB_VCODEC_FFMPEG_H264_AMD .. etc

[2017-12-26 16:31] jstebbins commented on #974
Although it would be nice to maintain compatibility with libav, I don't consider it practical.  Trying to maintain compatibility would result in the same issues we were deliberately avoiding by not providing official support for ffmpeg.  HandBrake does not have enough developers to support both.

So assuming compatibility is not required, you can just change AV_CODEC_ID_SRT to AV_CODEC_ID_SUBRIP i

[2017-12-26 16:41] fireundubh commented on #259
Just a tip about parallelizing NVENC encoding tasks:

There are hardware limits to the number of workers. The official [Video Encode and Decode GPU Support Matrix](https://developer.nvidia.com/video-encode-decode-gpu-support-matrix) shows the # of chips, # of NVENC per chip, and the Max # of Streams for each chipset.

I'm not sure if the NVIDIA SDK provides a way to detect the worker limit, or if

[2017-12-26 17:14] beren12 commented on #327
From what I understand, it's allowed to use a non-gpl library as long as it isn't distributed together. I.E. the user can choose to install the library and use it and it's fine, but it can't be distributed together or required. http://blog.milkingthegnu.org/2008/04/gpl-for-dummies.html

yes yes, necro… but still like to have all the facts

[2017-12-26 17:23] jstebbins commented on #327
No.  Even the article you linked to says this isn't allowed.  Search for "plug-in" in that article.  You will find that in provides a link to this https://www.gnu.org/licenses/gpl-faq.en.html#GPLPlugins

[2017-12-26 17:42] bradleysepos commented on #1075
#1080 builds for me with `--disable-xcode` and 10.12 SDK, with build dependencies installed by `scripts/mac-toolchain-build`.

@donmelton Please test that branch when you have time.

[2017-12-26 17:45] bradleysepos commented on #833
AFAIK Mac was the only holdout for that change prior to 1.0.0, and I think prior to the badge addition. The badge certainly helps; when clicking the add to queue button now it should be easily observable what is taking place regardless of icon order. So, if @galad87 is willing to sync to the Linux toolbar, we should all go with that order.

[2017-12-26 18:29] lisamelton commented on #1075
@bradleysepos Sure. Stupid question: is there a way to invoke `scripts/mac-toolchain-build` to get the GNU version of `libtool` (which seems to be the fix) without hammering my Homebrew installation in `/usr/local`?

[2017-12-26 18:36] lisamelton commented on #1075
@bradleysepos OK, I may have just answered my own question by looking at the docs. :) Seems like you can point `scripts/mac-toolchain-build` anywhere, but how does `./configure` know how to find that later on? Does that toolchain destination have to be in `$PATH` or is it something you can pass to configure? ('Cause that detail isn't in the docs.)

[2017-12-26 18:49] lisamelton commented on #1075
@bradleysepos OK, the docs did answer that question. I just stupidly missed it. :) It is `$PATH`. Figures. That's the easiest solution.

[2017-12-26 18:54] bradleysepos commented on #1075
Yep, if you're using Homebrew it's probably best to install elsewhere and adjust your `PATH` as necessary.

[2017-12-26 20:46] lisamelton commented on #1075
@bradleysepos Sorry, I was away all morning. Just getting to this now. So, while executing `scripts/mac-toolchain-build` I was prompted for a password to download `autoconf 2.69`. Obviously, I don't know the password. :)

Suggestions?

[2017-12-26 20:57] bradleysepos commented on #1075
The only password prompt I can imagine you would receive would be for `sudo`.

[2017-12-26 21:08] lisamelton commented on #1075
@bradleysepos I must have misread what it was asking. But, ugh! I just looked at the script in detail and `sudo` is sprinkled all over. This always makes me nervous and I would rather not do this now. Is `sudo` really necessary? It's certainly not a good idea in this day and age.

[2017-12-26 21:10] bradleysepos commented on #1075
It is if you're going to install to a directory that requires admin privileges, such as `/usr/local`. I'll try to make the script more intelligent about this down the road.

[2017-12-26 21:12] lisamelton commented on #1075
@bradleysepos I'm installing into a directory that only requires my permissions. So, looking at the error message and the build script again, it's likely this password prompt isn't from `sudo`. So there's something else screwy going on here. I'll investigate...

[2017-12-26 21:15] bradleysepos commented on #1075
It looks like I already implemented the intelligent `sudo`/no-`sudo` but there's a bug. Will fix.

[2017-12-26 21:20] bradleysepos commented on #1075
Fix for the script and building with 10.12 SDK are both now on master. Let me know how you get on.

[2017-12-26 21:25] lisamelton commented on #1075
@bradleysepos Thanks! Yeah, all those calls to `sudo -v` are gone now. :) I'm building `HandBrakeCLI` with your tools in my path now. I'll let you know how it works.

[2017-12-26 21:34] sr55 commented on #1052
We've not heard back in a while so I'm closing this off.
If you can provide the additional information requested, we can re-open.

[2017-12-26 21:34] #1052 closed, assigned to nobody

[2017-12-26 21:34] sr55 commented on #1056
We've not heard back in a while so I'm closing this off.
If you can provide the additional information requested, we can re-open.

[2017-12-26 21:34] #1056 closed, assigned to nobody

[2017-12-26 21:40] lisamelton commented on #1075
@bradleysepos Ugh. It looks like `libtool` was never built with the new `scripts/mac-toolchain-build` so the `HandBrakeCLI` build failed. That'll teach me to check more carefully next time. Trying to figure out why `libtool` is missing now...

[2017-12-26 21:45] lisamelton commented on #1075
@bradleysepos OK, I'm getting this failure with `scripts/mac-toolchain-build`:

[code]

I swear I didn't see that the first time.

[2017-12-26 21:47] lisamelton commented on #1075
@bradleysepos It looks like the new `scripts/mac-toolchain-build` created the following valid binaries:

[code]

... but nothing else.

[2017-12-26 21:47] sr55 commented on #1061
Can you provide a log of the encode that has the problem?

[2017-12-26 22:55] beren12 commented on #327
The end user can though, as long as it isn't redistributed:

"Since under the GPL the end-user can do whatever they want with the code (short of redistribution constraints), the end-user can always PULL various software on the Net and choose to combine and use them in any way they wish (assuming all parts are legits and legitimately obtained of course)."

So if there was an audio plugin interface,

[2017-12-26 23:00] jstebbins commented on #327
You are totally missing the point.  Libraries don't load themselves. In order to load those libraries, there must be code in HandBrake to do so.  That code would be non-GPL, thus rendering all of HandBrake non-GPL.

[2017-12-26 23:01] PokeCaptain commented on #327
Is this debate/argument similar to Handbrake's treatment of libdvdcss?

[2017-12-26 23:01] jstebbins commented on #327
That someone would be violating either HandBrake's GPL or the proprietary libraries license or both.

[2017-12-26 23:03] jstebbins commented on #327
libdvdcss is GPL.  There is no license issue with it.  We simply do not support it's use because it fails to decrypt many discs.

[2017-12-26 23:05] PokeCaptain commented on #327
Nevermind then.

[2017-12-26 23:05] beren12 commented on #327
no, the GPL only applies to redistributing the code. Like debian considers the zfs module GPL incompatible… they don't give users a prebuilt module, the software downloads the source and builds a kmod that the user can then load. Ubuntu considers the CDDL GPL compatible so they distribute a prebuilt module.

Anyway, didn't mean to open a can of worms

[2017-12-26 23:20] jstebbins commented on #327
It's more than just an academic argument.  None of this has been tested in court and I suspect much of it would not survive if it were.  But we play by the rules of the majority of the GNU community because cooperation is in our own best interest. Reputation matters. We want people to feel it is safe to contribute code to our project and that we will not use it in ways they did not agree to. It is

[2017-12-26 23:59] bradleysepos commented on #1075
Builds fine here, I wonder if one of your Homebrew installs is hosing something.

[2017-12-27 00:04] lisamelton commented on #1075
@bradleysepos I doubt it since Homebrew hides all conflicting GNU-style binaries from macOS by prefixing them with "g". I suspect that it builds for you because you already have the binaries built. :) In other words, you had a successful build in the past which is installed (probably in `/usr/local`) that is fulfilling some dependency in the current build script.

[2017-12-27 00:05] lisamelton commented on #1075
@bradleysepos BTW, I can execute a `HandBrakeCLI`-only build just fine if I pull a much older source tree. So I know it has nothing to do with Homebrew.

[2017-12-27 00:07] lisamelton commented on #1075
@bradleysepos For example, this builds just fine for me:

[code]

[2017-12-27 00:09] lisamelton commented on #1075
@bradleysepos I can start leap-frogging through commits for the past nine months to find out when it breaks, but that's probably gonna take awhile. :)

[2017-12-27 00:17] bradleysepos commented on #1075
`git bisect` is your friend. :)

I believe I tried on a clean VM, but I'll double-check.

[2017-12-27 00:43] beren12 commented on #327
Well, that and multiple lawyers including SUN feel it is GPL compat

[2017-12-27 16:24] jstebbins commented on #327
"multiple lawyers" and SUN are not shining examples of ethical behaviour. ZFS is a highly desirable filesystem that Linux users have wanted in the official kernel for a very long time. If ZFS were GPL compatible it *would* be an official part of the kernel already.  The very fact that it isn't is the strongest possible evidence that it is not GPL compatible.

[2017-12-27 16:55] bradleysepos commented on #327
@beren12 We appreciate your comments, really. I'd love to see a better AAC encoder on Windows, and we're working on getting there without Core Audio. That said, it's not really helpful to reopen year old threads that have already been definitively concluded.

Anyway, everyone's had their say and it's not happening, sorry. This thread has run its course.

[2017-12-27 18:41] #1075 closed, assigned to bradleysepos, galad87

[2017-12-27 18:46] bradleysepos commented on #1075
Indeed, automake needs autoconf to build. The script now adds prefix/bin to the working `PATH` during the build process. Good spot.

[2017-12-28 00:08] lisamelton commented on #1075
@bradleysepos No problem. I'm on the road now but I'll test this as soon as I get back. Thanks!

[2017-12-28 01:19] sgothel commented on #697
@mirh and @Xaymar this AMF encoding support (now exposed via latest ffmpeg) does it also support GNU/Linux and the 'free software' AMD/Radeon drivers?
For now I only see AMF supporting the Windows platform subset, see https://github.com/GPUOpen-LibrariesAndSDKs/AMF

According to https://trac.ffmpeg.org/wiki/HWAccelIntro the GNU/Linux route for AMD (and Intel) might be VAAPI for encoding then .. OK

[2017-12-28 01:34] sgothel opened #1083 "Add support for GNU/Linux VAAPI (AMD, Intel, ..) HW-Encoding"
### Feature request
Similar to issue #259 (supporting NVidia's NVenc), hardware accelerated encoding for AMD and Intel should be supported via GNU/Linux VAAPI as supported by FFMPEG.
See https://trac.ffmpeg.org/wiki/HWAccelIntro

Similar to issue #259, this shall be based on issue #974, i.e. based on FFMPEG.

[2017-12-28 02:04] mirh commented on #697
Yes, so just [wait for it](https://github.com/GPUOpen-LibrariesAndSDKs/AMF/issues/4)

EDIT: [TIL](https://phoronix.com/scan.php?page=news_item&px=H264-VAAPi-Encode-Gallium3D)

[2017-12-28 02:18] cehoyos commented on #974
libavresample is not deprecated in FFmpeg yet and will iirc (sadly) not be removed before 2020, I sincerely hope it does no affect your patch.
The more important question is: Did you try to reproduce FFmpeg ticket 6304? I hope you agree that without a fix, your patch makes no sense.

Patch A01 was not committed so far: http://ffmpeg.org/pipermail/ffmpeg-devel/2017-November/219642.html

[2017-12-28 03:34] sgothel commented on #974
@cehoyos @jstebbins I have applied the tiny patch to HB FFMPEG as you can see above

[2017-12-28 11:06] sgothel commented on #974
patch A01 re-enabled in 'ffmpeg' branch

[2017-12-28 12:10] sgothel commented on #697
@mirh I will try out VAAPI soon using the free software drivers on GNU/Linux to use AMD hw-accel.
What would be the benefits of using the AMF path? Thank you.
Futher, shouldn't the closed source AMD driver (which exposes AMF) also support the VAAPI path,
especially since both code is 'handled' by AMD staff?

[2017-12-28 12:35] Xaymar commented on #697
AMF is a direct AMD only API, potentially capable of more. VAAPI support may be planned in the future, you're better off asking these questions on the AMF repository.

[2017-12-28 13:20] sgothel commented on #697
VAAPI encoding is supported in FFMPEG and I will enable it in HB #1083

[2017-12-28 13:38] sgothel commented on #259
NVENC detection 'as is' doesn't work, i.e. being claimed available on systems w/o NV hardware/driver.
~~Needs to be fixed.~~ fixed

[2017-12-28 17:30] jstebbins commented on #974
Regarding patches, Carl is correct in his review, although he skipped A12.

TLDR; neither A11 or A12 should be needed with ffmpeg.

Long answer. In libav A11 and A12 work together to make writing and reading back AAC sample accurate. Without these, the preroll in AAC would be read as extra samples that were not present in the original audio.  These were required in libav because libav does not do

[2017-12-28 18:14] andiandi13 commented on #1061
It's not a "problem" specific to one encode, it's just the way Handbrake downmixes since 1.0.7.

I don't really know the cause. I couldn't describe it precisely, but the thing is that some parts of the background musics are too low comparing to other sounds or voices for sure (Maybe it's too loud in the center of the resulting stereo track).

Anyway, [here is a log]( https://drive.google.com/file/

[2017-12-28 18:16] bradleysepos commented on #1061
Are you sure you aren't comparing stereo to DPL2? They are not the same downmix.

[2017-12-28 18:18] andiandi13 commented on #1061
Yes 100% sure. I compare 6-channels to stereo (not DPL2)

[2017-12-28 18:21] bradleysepos commented on #1061
I don't see any code changes in the related files going back years. We'll need a log from an older version of HandBrake plus some sample outputs from old and new to compare.

[2017-12-28 18:39] jstebbins commented on #1061
Same here.  I just had a look at 0.10.0.  Code is the same.  Are you sure you are not comparing an AC3 source to a DTS (or other) source.  AC3 provides extra info in the stream that provides hints to the downmixer so it can tweak center and surround levels on the fly per packet.

[2017-12-28 18:44] andiandi13 commented on #1061
jstebbins : No, I compare a DTS HD source to an FLAC encoded in Stereo from this same DTS HD source.

I'm preparing the samples, I'll provide them as soon as I'm done.

[2017-12-28 19:04] andiandi13 commented on #1061
OK so we have :

- The [log]( https://drive.google.com/file/d/1Rr_snhdlCGgo3Ao5orpepRtBXAKCMqh8/view?usp=drivesdk ) for HB 0.10.5

- Sample A : [DTS 6-Ch Source]( https://drive.google.com/file/d/1mhKhQ9FlXPghXUOAuyEXygyoE8mZG9Tg/view?usp=drivesdk )
- Sample A : [FLAC Stereo HB 1.0.7]( https://drive.google.com/file/d/1Ks9DbhNCPjkhixv8dSs7V31L99fQBhnC/view?usp=drivesdk )
- Sample A : [FLAC Stereo HB

[2017-12-28 19:10] bradleysepos commented on #1061
You probably mean 0.10.5. I'll check out the samples.

[2017-12-28 19:11] andiandi13 commented on #1061
Yeah thanks I edited my post

[2017-12-28 19:13] bradleysepos commented on #1061
I definitely hear what you're talking about, just need to figure out why.

[2017-12-28 19:24] bradleysepos commented on #1061
Looking at https://github.com/HandBrake/HandBrake/compare/0.10.x...1.0.x the only potentially affecting changes I see are the commits titled "*avcodec*: fix use of deprecated libav interfaces". Maybe @jstebbins has an idea.

[2017-12-28 19:37] Nomis101 opened #1085 "Feature request: Add E-AC3 7.1 output and E-AC3 in MP4 muxing."
Original title: **Passthru of E-AC3 on MP4 not possible and missing 7.1 option**

### Description of problem or feature request

I found two issues in HandBrake using the MP4 file format for E-AC3.
1. The HandBrake docs states

E-AC3
https://handbrake.fr/docs/en/latest/advanced/surround-sound.html

But, I have a MKV movie file which contains an E-AC3 5.1 audio stream. This movie I want to convert

[2017-12-28 19:44] bradleysepos commented on #1085
Unfortunately, our muxer cannot embed EAC3 into MP4. The documentation article you site is a carryover from the old wiki, and right at the top highlighted in yellow says, "This article is a draft and may contain incomplete or incorrect information."

Anyway, sorry for the trouble. Marking as an enhancement.

[2017-12-28 19:46] bradleysepos commented on #1085
Regarding 7.1, I'm pretty sure this is a limitation in our upstream libraries at this time. We hope to resolve this, too.

[2017-12-28 20:04] jstebbins commented on #1061
My guess would be that it's caused by a some change in libavresample.

This code is going to change yet again in the not too distant future since we will be moving to ffmpeg and ffmpeg is about to deprecate libavresample.  So I'm inclined to not spend too much effort here and rather concentrate on the transition from avresample to swresample that will be necessary.

[2017-12-28 20:23] andiandi13 commented on #1061
Jstebbins : Alright, then if that issue disappears with ffmpeg, will the next HB version be compatible with Windows 32-Bit ?

Because if not, 32-Bit users would only have stable versions with that problem.

[2017-12-28 21:26] sr55 commented on #1061
Windows 32bit is considered deprecated so no, it won't be built in the next release.  We've not produced them for some time now.

[2017-12-28 22:02] sr55 commented on #1083
Intel QuickSync should, in theory, work through mfx via ffmpeg/libav so I would avoid a second code path for that.

[2017-12-28 22:28] jstebbins commented on #1085
There are a number of things that moving to ffmpeg will allow us to do.  Muxing eac3 to mp4 is among them, as well as muxing opus and flac.  Encoding 7.1 eac3 however is not supported.  aac, opus, and flac all support 7.1 in ffmpeg.

[2017-12-29 01:31] sgothel commented on #1083
@jstebbins @sr55 currently working on this item .. on top of ffmpeg + nvenv-encoder branch
Edit: Might support VAAPI based h264, hevc and vp8/vp9 encoding.
Not so sure about the latter vp8/vp9 though, but some support seems to be available in ffmpeg sources.

[2017-12-29 09:40] Nomis101 commented on #1085
OK, than I'm hoping for 1.2.0 and keep the original MKV file for now. :-)

I found two bugs regarding eac3
https://trac.ffmpeg.org/ticket/4608
https://trac.ffmpeg.org/ticket/3595
But it doesn't look like they will fix this anytime soon. AppleTV also supports AAC, but I can not find informations about the max channels for AAC.

[2017-12-29 12:06] rathann commented on #1083
@sr55 Wouldn't it make more sense to have a single code path for both Intel and AMD (and NVIDIA via vdpau-to-vaapi wrapper library)? Intel fully supports VAAPI as far as I know. Also, VAAPI should work on non-x86 architectures while libmfx is x86-only.

[2017-12-29 13:02] fiechr opened #1086 "[Linux GUI] Queue titles repeating since recent updates"
This is a very small issue I found with the latest builds.

![hbqueuetitles](https://user-images.githubusercontent.com/12040376/34437535-6c62160a-ec9f-11e7-83c0-3ebd5f3698b6.png)

At first the title of the first source added was repeated for every job - now every entry shows "(null)" even if I empty the queue and/or restart the GUI.

(In this context I also thought that maybe it would be a good id

[2017-12-29 14:10] sr55 commented on #1083
It wouldn't be a single code path though. You need separate implementations for Windows and Mac.

Also, general purpose API's tend to have problems.  VT on Mac cripples the hardware encoders feature set, DXVA on windows is horrifically unreliable and in areas, fundamentally broken for example.

So, I'd then ask the questions:

1. Does VA-API support the full feature set of these encoders, includin

[2017-12-29 14:11] sr55 commented on #1086
Can you please confirm what build your running.

[2017-12-29 14:50] fiechr commented on #1086
[code]

I'm on Manjaro/Arch, but I'm not using the official package(s) - I'm building from source.

[2017-12-29 14:52] bradleysepos commented on #1086
It looks like you're on a feature branch. Did you make modifications? Was this built according to our [Arch docs](https://handbrake.fr/docs/en/latest/developer/install-dependencies-arch.html)?

[2017-12-29 15:57] jstebbins commented on #1086
It could be something I broke during the "GUI consistency" work.  I'll have a look.  It's probably something simple.

[2017-12-29 16:18] #1086 closed, assigned to nobody

[2017-12-29 16:19] jstebbins commented on #1086
I've fixed the immediate problem.  The queue is due for an overhaul for which @sr55 has some very good ideas.  So additional changes will wait for that.

[2017-12-29 16:52] andiandi13 commented on #1061
OK, then I hope it will be possible to solve that issue on the actual version (1.0.7 Win 32) if there is a good way to do it (maybe some workaround, or ffmpeg or whatever).

[2017-12-29 16:54] bradleysepos commented on #1085
Apple TV should support at least 5.1 AAC. The problem is most receivers don’t. So you end up listening to a PCM stereo mixdown.

[2017-12-29 16:56] sr55 commented on #1061
There is no way of changing the behaviour in 1.0.7 I'm afraid.  Your best option is to stay with an older release if you prefer the downmix from it.

[2017-12-29 19:52] #1015 closed, assigned to sr55

[2017-12-29 19:56] sr55 commented on #366
Since there is a queue re-design on the cards, there is little point keeping this open now. Closing. Original issue was resolved.

[2017-12-29 19:56] #366 closed, assigned to sr55, jstebbins, galad87

[2017-12-29 19:57] sr55 opened #1087 "Queue Redesign"
**Initial List of Tasks**
- [x] Add set of tabs to the queue display.  ( Job Info | Activity Log | Statistics )
- [x] Job Information tab replaces the Tooltip / Large format listbox
- [x] Activity Log tab providing easy access to the logs for each encode. (both live and finished jobs)
- [x] Statistics Tab  (Start Time, End Time, Duration, Average FPS, Final Output Size, Other?)
- [x] Clear Complet

[2017-12-29 19:57] sr55 commented on #115
Closing in favour of #1087

[2017-12-29 20:03] #115 closed, assigned to sr55, jstebbins, galad87

[2017-12-30 14:17] FlaxUser commented on #726
Hello,
Any Update on this?
I get same error when encoding a video to  h264 mp4 with mp3 audio.
Result in "Queue Finished with 1 errors or cancellations detected."
But output file seems to be ok but not shure.
Is there a fix or workaround?

[2017-12-30 16:01] SiIason opened #1089 "Encoding stuck at 0.00%"
### Description of problem or feature request

Encoding: task 1 of 1, 0.00% <never changes>

### Steps to reproduce the problem

Using HandBrakeCLI 1.0.7 stable the job completes normally (aside from the aac encoding at the wrong rate of 96kbps, however this is fixed in nightly versions)

After updating the HandBrakeCLI to nightly (27th/28th/29th Dec have never tried nightlys previous to this) the

[2017-12-30 16:22] sr55 commented on #1089
Add --disable-qsv-decoding and see if that helps

[2017-12-30 16:24] SiIason commented on #1089
Yes that fixed it, thank you.

[2017-12-30 16:26] sr55 commented on #1089
Any chance you could share a short sample file. Would be good if we can check if there is anything we can do about this or if it's just an Intel driver problem.

[2017-12-30 16:29] SiIason commented on #1089
Not a problem, where would you like it dropping.

[2017-12-30 16:29] sr55 commented on #1089
Any work safe file hosting site is fine. Google, dropbox etc.

[2017-12-30 16:49] jstebbins commented on #726
Use a nightly build.  A workaround for the problem was committed in May.

[2017-12-30 16:54] FlaxUser commented on #726
Thx :)

[2017-12-30 17:27] andiandi13 commented on #1061
Yeah it's a better option after all, I'll do that.

[2017-12-31 15:26] shad0vvfax opened #1091 "Bicubic (OpenCL) Win10 64bit crash"
### Description of problem or feature request

Bicubic (OpenCL) causes crash on Win10 64bit

### Steps to reproduce the problem

Set Handbrake to use Bicubic (OpenCL) and hit the Start Encode button. Handbrake crashes every time.

### HandBrake version (e.g., 1.0.0)

1.0.7 (2017040900) 64bit

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Upda

[2017-12-31 15:38] galad87 commented on #1091
As you saw the OpenCL scaled had some major issue, it has been removed in the current master branch (and thus in the next HandBrake version)

[2017-12-31 15:38] #1091 closed, assigned to nobody

[2017-12-31 19:42] sr55 commented on #1091
To Add, even when it worked, it rarely helped performance and often slowed it down significantly

[2017-12-31 20:08] Nomis101 opened #1092 "Make it easier to localize Mac builds"
### Description of problem or feature request

I'm currently trying to build a German localized HandBrake build for macOS, according to the documentation.
https://developer.apple.com/library/content/documentation/MacOSX/Conceptual/BPInternational/LocalizingYourApp/LocalizingYourApp.html

But I run into two issues so far. First, not all xib files are in the English.lproj folder. So it is not enough

[2017-12-31 22:33] sr55 commented on #1092
See comment https://forum.handbrake.fr/viewtopic.php?f=4&t=37229

[2018-01-01 08:43] mathisdt opened #1093 "Option to disable previews"
### Feature request

There should be an option in the settings dialog to disable fetching (and displaying) any previews.

With some DVDs, fetching the previews is very slow, and I don't use them anyway, so it would be very nice if there was an option to switch them off completely. Plus, most of the time the "bad" track (which means the track for which the previews are taking so long) is not the on

[2018-01-01 08:51] mathisdt opened #1094 "Option to not fill tag "title" from medium"
### Feature request

There should be an option in the settings dialog to disable filling the tag "title" from the medium being scanned/encoded.

It might be not the standard, but some people (including me) organize video files only by their file names (in a directory structure). In this case tags are not necessary and sometimes even counterproductive because some players only show the "title" tag

[2018-01-01 11:43] ghost opened #1095 "Please, move the Back button a little bit higher"
Please, move the Back button a little bit higher
I have an old netbook (Atom processor) with resolution 1333x720. And when I change preferences I do not see Back button, because it is beyond the screen. So to see the button I need to change screen orientation to portrait mode at first and then back to landscape.
It is very inconvenient.  See the attached screenshot
Thanx in advance
Best regards, T

[2018-01-01 13:50] sr55 commented on #1093
You may not use Preview, but HandBrake uses them for analysis. 10 is the minimum but can be extended to 60 for greater accuracy via preferences.

If you know the title you want to encode, do a title specific scan to avoid scanning all the unnecessary tracks.

[2018-01-01 13:51] sr55 commented on #1094
@jstebbins  does the Linux GUI behave differently due to the meta tab?

[2018-01-01 16:41] woodstockathbf commented on #1095
The [technical requirements](https://handbrake.fr/docs/en/1.0.0/technical/system-requirements.html) for handbrake are a bit difficult to find, but they do state:

There are a lot of screens where 720 pixels aren't enough height. This particular one has "room to spare", but others do not.

[2018-01-01 16:43] woodstockathbf commented on #1093
Also, using a ripping tool to actually get the data off the disk is significantly faster in most cases.

[2018-01-01 19:45] ghost commented on #1095
well, so is it very difficult, to move Back button a little bit higher, to make it easier to use for people with old computers?

[2018-01-01 20:42] sr55 commented on #1095
Sorry, this isn't something that will be fixed. A resolution that low, at >100% DPI from the looks is significant work to make everything scale/fit properly and would never offer a good UX anyway.

I'd also note that we are dropping 32bit support in the next release which probably excludes the vast majority of netbooks / nettops from future upgrades.

[2018-01-01 20:42] #1095 closed, assigned to nobody

[2018-01-01 22:54] Nomis101 commented on #1092
Yes, true. But it's always helpful to report a bug/enhancement properly, instead of just talking about it in a forum.

[2018-01-02 05:00] theoracle39 opened #1096 "Can only encode to MKV, not MP4"
### Description of problem or feature request

I ripped a bunch of Blu-rays to MKVs using MakeMKV, but for some reason three of them fail the encoding process in Handbrake.  I noticed that if I set the container to MKV then all three proceed normally, but if I set it to MP4 then they all error out immediately.

I tried a few things to try to narrow down the problem:
1.  I tried a nightly build wit

[2018-01-02 15:40] woodstockathbf commented on #1096
Since the Windows version of handbrake works just fine for me in generating MP4 files from MKV files, and apparently also works fine for "all but three" of your sources, the issue would have to be source-specific.

Does the path "D:\Users\Brett Rimes\Videos\HandBrake\" exist, and does the current user have permission to write to it? Is there space on that drive?

Obviously the source exists and yo

[2018-01-02 23:15] theoracle39 commented on #1096
The path does exist, the user has permission and there is space.  I am outputting to the same place that worked for all the other files.  I tried outputting to a different folder and noticed that if the folder doesn't exist or you don't have permissions, then it will give you an error message when you try to add it to the queue.

[2018-01-03 00:58] ManilaByNight commented on #197
I agree with all the suggestions above that a feature for handbrake to name and/or "passthru" subtitle tracks titles be added.

In the Audio section of handbrake, one is able to select a codec and designate either predesignated or Auto "passthru's" -- why can't a similar feature be added to handbrake for subtitle labels? Some .mkv or video files have pre-labeled subtitles (ex. English SDH, English

[2018-01-03 03:25] gcochard commented on #713
Same issue with a DVD, nightly log follows:

[19:17:20] macgui: Handbrake Version: 20180101000000-ba30fd8-master  (2018010201)
[19:17:20] macgui: built-in presets updated
[19:17:20] hb_init: starting libhb thread
[19:17:20] hb_init: starting libhb thread
[19:17:28] macgui: trying to open a folder or file
[19:17:28] macgui: ScanCore trying to open a physical disc at: /Volumes/RATATOUILLE
[19:17:28]

[2018-01-03 11:54] AlBundy33 commented on #660
Are there any news on this issue?
Handbrake 1.0.7: encoding with qsv failed with return code 4 (#701)
Handbrake 0.10.5: encoding with qsv works

[2018-01-03 14:06] Synapto commented on #1096
If you want to use a primitive container like MP4, then you need to stop wanting advanced features like TrueHD.

[2018-01-03 22:42] theoracle39 commented on #1096
I tested it and it does work if I don't include TrueHD.  I didn't realize TrueHD doesn't work with MP4s.  I have my whole Blu-ray collection as MKVs, but I run Plex through my Roku and it doesn't always work well with MKVs.  I decided to convert everything to MP4 since it works better with the Roku.  Thanks for the tip.

[2018-01-04 01:31] 2mg commented on #660
Didn't dev say that it's a driver issue and can't be fixed from HB side?

On Wed, Jan 3, 2018 at 12:54 PM, AlBundy33 <notifications@github.com> wrote:

[2018-01-04 04:11] brianmario opened #1098 "Passthrough Video"
Apologies for not using the issue template here but it didn't seem appropriate given the style of request.

Before you immediately [close](https://github.com/HandBrake/HandBrake/issues/1000) this [issue](https://github.com/HandBrake/HandBrake/issues/264) as [duplicate](https://github.com/HandBrake/HandBrake/issues/193), please hear me out 😅

Based on the previously mentioned issues, it sounds like

[2018-01-04 06:04] AlBundy33 commented on #660
If this is an driver issue why is 0.10.5 working?
I'm using HandBrake CLI on Windows 10.

[2018-01-04 12:55] maximd33 commented on #660
it would be good to have full logs for working and non-working cases,
there was suggestion above to update the driver but dont see response

[2018-01-04 16:12] onlyahuman commented on #660
Mentioned version of intel driver does not exist for 8.1, and this bug was not a result of driver change.
QSV is working in 0.10.5 with any driver, and not working properly in 1.0.7 with any driver.

[2018-01-04 16:43] woodstockathbf commented on #1098
You know it is a duplicate request AND the reasons why. You even use one of the most-mentioned tools that implements "everything and more", and complain about having to search out the correct incantation for it to work its magic.

After all of that, you want to know if handbrake could be morphed into the same sort of monster?

[2018-01-04 17:03] jstebbins commented on #1098
It's not just architecture issues.  It is a matter of project scope and focus.

If we *enabled* video passthru, we would have to *disable* several things that HandBrake currently does during encoding.  Primarily I'm talking about the A/V sync correction and other filters here.  Also the GUI would have to be reworked to make it clear what all is getting disabled.  I.e. it needs to be very clear to

[2018-01-04 17:29] brianmario commented on #1098
@woodstockathbf my intention isn't to add an option or checkbox for everything under the sun (well, at least everything ffmpeg supports, which is just about literally everything under the sun! 😆 ) - I'm only asking about adding a passthrough video option.

I quoted the previous issues simply to state that I did my research to see if it had been asked for before, but decided to open a new issue in

[2018-01-04 19:52] sr55 commented on #1098
If I had a dime for every time we rejected this feature :)

[2018-01-04 20:30] maximd33 commented on #660
Windows 8.1:

 https://en.wikipedia.org/wiki/Windows_8.1

[2018-01-04 20:42] sr55 commented on #660
@onlyahuman  0.10.5 was affected to, although it's possible it's less prone to it in certain conditions depending on input source type.

[2018-01-04 20:58] onlyahuman commented on #660
@sr55 I'm using HB everyday for multiple files, I have never seen the same issue on 0.10.5.
Probably it can happen, but I've never seen it.

With 1.x I can reproduce it on 60% of my encodings, at least

[2018-01-04 21:00] sr55 commented on #660
@onlyahuman can you post a log please.  There are at least 4 separate issues at play.
The recent crash issues are a driver fix.
Memory related -17 problems are another driver fix, but only for supported versions of Windows and only for supported hardware. (So older 4000 series part for example, will not receive the fix)

I think I'll need to start trying to split this topic out as it's unreadable

[2018-01-04 21:33] eturk1 commented on #264
Thanks for this thread! I helps so I don't keep searching for this feature. Makes sense.

For others that find this thread,
I found opensource  **Avidemux** which does have a simple copy passthrough of video & audio. Useful when one just wants to change the video or audio or maybe just remove some audio tracks no longer needed.

[2018-01-04 21:45] brianmario commented on #1098
Had a chat with @sr55 in IRC about all this, going to close this out for now. I'll do my best to get things working in a fork and point folks who need this specific feature to it.

Thank you all!

[2018-01-04 21:45] #1098 closed, assigned to nobody

[2018-01-04 22:08] onlyahuman commented on #660
I've already posted it on the original forum.
My expectation was that program behaviour will not change if hardware/other software is not changing.
So any version should work normally and any further issue is a result of the coding of the new version, not anything else.
*it does not crash, it hangs

[code]

[2018-01-04 23:05] maximd33 commented on #660
@sr55 thanks for the proper split idea

[2018-01-05 09:24] giddie commented on #264
Also MKVToolNix is a fantastic set of tools for chopping and changing MKV files, but it also doesn't help get video from BluRay onto your hard disk.

[2018-01-05 20:01] eturk1 commented on #264
Thanks for the tip! **MKVToolNix** much better for passthrough/copy, really fast & also ATMOS passthrough, which explodes Avidemux.

[2018-01-05 22:34] sr55 commented on #660
Hmm, well, there isn't a single log in here with a 6, 7 or 8th gen Intel CPU running the latest drivers.

I.e Intel HD 500 Series, 600series and UHD series

CPU | Driver | Error
-- | -- | --
4690K | 20.19.15.4531 | Error code -17, hb_qsv_wait_on_sync       602
J4205 | 21.20.16.4664 | Error code   -17, hb_qsv_wait_on_sync 602
6700K | 22.20.16.4815 | encqsv: MFXVideoENCODE_EncodeFrameAsync failed (-

[2018-01-05 23:14] sr55 opened #1099 "Support QSV Decode better on Multi-GPU systems"
### Description of problem or feature request

QSV fails to Decode 4K BBB sample when Decoding is enabled.

### Steps to reproduce the problem

Use BBB 4K source   bbb_sunflower_2160p_60fps_normal.mp4
QSV Decode enabled in preferences.
No frames decode.

### HandBrake version (e.g., 1.0.0)

Master

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creator

[2018-01-05 23:18] sr55 commented on #1099
Update: Tried numerous h264 input sources, all fail.

[2018-01-05 23:20] bradleysepos commented on #1099
Does fps seem to matter or only resolution?

[2018-01-05 23:36] sr55 commented on #1099
Seems to be 1080p30 as well.  So looks like it's not resolution dependant.
EDIT: FPS of source has no effect either.

[2018-01-05 23:52] sr55 commented on #1099
On another note, CLI should probably default to software decode unless otherwise set since qsv decide isn't always reliable.

[2018-01-05 23:53] sr55 commented on #1089
Nevermind, Reproduced.  Turn off QSV decoding in Preferences > Video  as a workaround.

I actually raised a case for tracking this earlier anyway, so I'll close as duplicate for now but it can be tracked under #1099

[2018-01-05 23:53] #1089 closed, assigned to nobody

[2018-01-06 00:50] onlyahuman commented on #660
2-5 generations are still widespread, why would you drop their support? :(
The problem is only occurring in 1.x version, and it is not a problem of drivers, obviously

[2018-01-06 01:08] sr55 commented on #660
We are not the ones dropping support. Intel no longer provide driver updates for old hardware. Intel have issued a fix that as far as we can tell resolves the issue on 6th and later.

This affects 0.10.5 as well.  It’s not a 1.0 only problem.

[2018-01-06 01:43] BuckeyeBob commented on #660
I am the one that initially reported this problem.  It was happening on every QSV encode on every Handbrake version 1.0.0 and above.  I have an i5-4690k.  I wasn't sure I was totally agreeing with it being a driver thing, but, I just installed the latest HD 4600 graphic drivers released 11/6/2017 for 4th and 5th gen CPUs (15.40.37.4835) and have done 3 straight QSV encodes with no problems.

[2018-01-06 01:44] onlyahuman commented on #660
I have not seen reports of this issue on 0.10.5, not here, not on the forum

I’ve ran thousands of videos thru HB, zero issues

[2018-01-06 01:44] maximd33 commented on #660
@sr55 +it is old Windows 8x branch of the drivers not Win10

@onlyahuman you CPU is "End of Life" per https://ark.intel.com/products/65520/Intel-Core-i5-3570K-Processor-6M-Cache-up-to-3_80-GHz , the same for Win8.1 OS - therefore limited support in general.

if you have the same issue on Win10 + 4901 driver (or later) - I will look on the issue seriously,
if not possible - please stick to working

[2018-01-06 01:53] onlyahuman commented on #660
“therefore limited support in general”

its not like I demand a solution for a freeware product) but you underestimate the user base of “end of life” hardware and OS. 3rd generation and 8.1 is very much common

[2018-01-06 01:59] bradleysepos commented on #660
@onlyahuman Enough. You've made your point. I imagine there are people like myself who are interested in the constructive progress of this thread but care not to receive a notification every time you have something contrary to say. You may not be demanding anything, but you are creating a lot of noise.

[2018-01-06 15:08] AlBundy33 commented on #660
I'm affected too from this issue and really understand @onlyahuman's point.
So here I've tried to create a test-case - maybe this helps to find the bug.

@bradleysepos: If this should be really a driver issue, why not implement kind of a legacy mode that will also work on "old" hardware.
--> From my point of view my system is maybe not the newest but still powerful enough to meet my requirements (

[2018-01-06 16:03] sr55 commented on #660
Repeating yourself doesn't change any of the facts.

[2018-01-06 16:15] maximd33 commented on #660
@AlBundy33 is this permanently working for 0.10.5 and always breaks for 1.0.7 ?
like if you run 100 times.

The same HW with a discrete card ?

also - can you please try a nightly build, thanks.

[2018-01-06 16:40] HButler63 opened #1100 "HandbrakeCLI does not import srt file with a "," in its filename"
### Description of problem or feature request

HandbrakeCLI does not import srt file with a "," in its filename. When using --str_file in the command line input, and the .srt file has a comma ("," ) in its name, an error occurs and a windows message pops up that Handbrake failed ("HandBrakeCLI.exe has stopped working")

### Steps to reproduce the problem

HandbrakeCLI.exe --srtfile "Help, this srt

[2018-01-06 17:55] AlBundy33 commented on #660
It's always the same hardware. :-)
CPU: Intel Core i7-4770K CPU @ 3.50GHz
GPU1: AMD Radeon R9 200 Series
GPU2: Intel HD Graphics 4600

I tried this
<pre>
for /L %i IN (1,1,5) do HandBrakeCLI-1.0.7-win-x86_64\HandBrakeCLI --input "bbb_sunflower_1080p_60fps_normal.mp4" --output "test_1.0.7-%i.mkv" --encoder qsv_h264 --quality 20.0 --decomb --detelecine --crop 0:0:0:0 --loose-anamorphic --format mkv

[2018-01-06 18:55] AlBundy33 commented on #660
Just an addition: 1.0.7 showed always an ETA of ~12min with ~46fps
and 0.10.5 showed always an ETA of ~6min with ~90fps

[2018-01-06 19:32] AlBundy33 commented on #660
for completeness I've started five encodes with 0.10.5
<pre>
for /L %i IN (1,1,5) do HandBrake-0.10.5-x86_64-Win_CLI\HandBrakeCLI --input "bbb_sunflower_1080p_60fps_normal.mp4" --output "test_0.10.5-%i.mkv" --encoder qsv_h264 --quality 20.0 --decomb --detelecine --crop 0:0:0:0 --loose-anamorphic --format mkv --markers --title 1 --audio 1,2 --aencoder copy,copy --mixdown auto,auto --ab auto,auto --

[2018-01-06 20:01] sr55 commented on #660
Do me a favour and spool up the UI and grab the log header so I can see exactly what ver of windows your running and what driver version.

[2018-01-06 21:37] Stellarend opened #1101 "No valid source"
### Description of problem or feature request

No valid source

### Steps to reproduce the problem

Selecting this specific mp4 results in an error

### HandBrake version (e.g., 1.0.0)

1.0.7 (2017040900) 64bit

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Microsoft Windows 10 Home 10.0.16299 Build 16299 Fall Creators Update

### Er

[2018-01-06 21:58] sr55 commented on #1101
Can you try the nightly build, failing that we'd need a source sample.

[2018-01-06 22:08] AlBundy33 commented on #660
No problem - maybe it would be a good idea to log this informations in cli-version too. ;-)
Im running Windows 10 Pro 64bit with all installed updates.
Installed driver version is the latest according to intels support and driver assistant.

<pre>
OS: Microsoft Windows NT 10.0.16299.0 - 64bit
CPU: Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
Ram: 16261 MB,
GPU Information:
  AMD Radeon R9 200 Series -

[2018-01-06 23:19] Stellarend commented on #1101
Tried the latest nightly and it results in the same error.

I should have added that the source file is encoded in h.265 which may be the potential cause of the problem.

[2018-01-07 11:43] DavidMunch commented on #853
I started having the same problem with Handbrake 1.0.7, despite having run Handbrake 1.0.7 (And previous versions) for who knows how many encodes without ever seeing this error. 2011 iMac with macOS 10.12.6 and 8GB RAM.
Main drive is an SSD with 60GB free out of 1TB. Source and destination drive for the encode is a secondary internal HDD with 650 GB free out of 1 TB.

Restarting Handbrake did not

[2018-01-07 12:52] ZaphodX77 opened #1102 "Sort Custom Presets by Name"
### Description of problem or feature request

Sort Custom Presets by Name

### Steps to reproduce the problem

Presets do not sort. They are arranged as entered, for eternity.

### HandBrake version (e.g., 1.0.0)

Nightly 20180104

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

Windows 10 64bit

### Error message text or screenshot

[2018-01-07 22:11] woodstockathbf commented on #1101
Would the "Unsupported color space" affect whether or not handbrake considers this a valid source?

[2018-01-08 00:36] bradleysepos commented on #833
It will be good to resolve the remaining points here and get a release out as soon as possible.

@galad87 Are you willing to sync the toolbar and inline presets buttons? If not, do you have any other suggestions for how to move forward?

[2018-01-08 02:55] bradleysepos commented on #1102
This is something I noticed in testing as well. Ideally the official preset categories will be presented, then the custom ones sorted by name.

[2018-01-08 10:44] meganone opened #1104 "Encoding doesn't start when selecting a frame range and adding more than one audio stream."
### Description of problem or feature request

Encoding doesn't start when selecting a frame range and adding more than one audio stream.

### Steps to reproduce the problem

This is how I ran into this issue (originally in Vidcoder, but reproduced in Handbrake):

- I loaded an MKV file (made using MakeMKV from one of my blurays) to encode it. I use x265-10 bits for video and Ogg Vorbis for audio

[2018-01-08 15:09] maximd33 commented on #1099
I've tried local and TeamViewer based approaches : 1000 runs are just fine
do you use RDP-only connection ?

[2018-01-08 19:57] n2bisex4u opened #1105 "Support encoding to GIFs"
### Description of problem or feature request

Support encoding to GIFs

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

HandBrake version here.

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators Update)

OS and version here.

### Error message text or screenshot

Type or paste text and/or drag and drop image

[2018-01-08 21:56] sr55 commented on #1105
Closing as duplicate of #581

Please see #581

[2018-01-08 21:56] #1105 closed, assigned to nobody

[2018-01-08 22:11] sr55 commented on #1099
This was on the local machine.

Defiantly using the h264_qsv decoder?

[2018-01-08 22:53] maximd33 commented on #1099
here is my details about run and log: https://pastebin.com/6p1bvsXK

using i7-6700K but trying to get KBL with additional card

KBL as: CPU: Intel(R) Core(TM) i5-7260U CPU @ 2.20GHz is fine

[2018-01-09 13:52] fiechr commented on #1087
I like it! :)

Will there be controls for moving the entries up/down and adding the "When Done:" (Shutdown, Pause etc.) entry?
If so, I guess the should be vertically placed in between the queue and the tabs pane.

This way it should be possible to place a stop or shutdown "action" between any encoding to be done, not only the currently running or the last one.

For example:

[code]

[2018-01-09 17:07] jarrettv commented on #1087
This is a huge move in the right direction.

I'm coming from VidCoder on windows. I'd recommend looking at their design.

![image](https://user-images.githubusercontent.com/219295/34733209-340a4b6a-f52d-11e7-97e8-145e3236ec20.png)

* Progress bar on active job
* Right click context menu
* Drag drop re-order
* (not shown) Second tab showing completed queue items

[2018-01-09 17:15] cehoyos commented on #1105
Why was this closed as a duplicate?
Issue #581 is about decoding animated gifs which should be possible with current libavformat and libavcodec, this ticket is about encoding gifs: In principle, this is also possible with updated libraries but pal8 input has to be provided to the gif encoder: libswscale does an ugly conversion, the palettegen and paletteuse filters are needed to create nice gifs n

[2018-01-09 18:21] AlBundy33 commented on #660
@sr55 Did this help or do you need more information?

[2018-01-09 18:59] sr55 commented on #1087
@jarrettv
- Progress info is currently above. We'll need to see what the other UI's support in terms of in-line controls in listboxes before we decide if we want to add progress there.  There is a goal of cross platform consistency here.   As long as there are no limiting factors, we'll probably do something.
- There already exists a context menu. It'll probably have a few items added to it given

[2018-01-09 19:01] sr55 commented on #1105
Updated to rejected.  Sorry mis-read.

We don't intend to add gif creation support. Sorry.

[2018-01-09 19:08] sr55 commented on #1099
This is really confusing.

Running on the local machine:

![image](https://user-images.githubusercontent.com/628593/34738294-7edf9364-f570-11e7-973e-906daa34247e.png)

I'm just going to pop the GPU out and try again

[2018-01-09 19:11] maximd33 commented on #1099
first decode errors are mp3_decoder related but video decoding is still a problem,
looking forward for your GPU-out tests and thanks

[2018-01-09 19:17] sr55 commented on #1099
The mp3 decoder got 0 lost frames. so it was fine.

[2018-01-09 19:19] sr55 commented on #1099
I was just pointing out that HB read the full file

[2018-01-09 19:35] sr55 commented on #1099
Bingo
[Single GPU.txt](https://github.com/HandBrake/HandBrake/files/1616354/Single.GPU.txt)
[Failed.txt](https://github.com/HandBrake/HandBrake/files/1616355/Failed.txt)

On my other Intel System. Without dedicate AMD GPU it works fine.   With it, all decode errors.

[2018-01-09 19:52] maximd33 commented on #1099
ok, good progress,
I've checked already with NVidia GPU but looks that need to check with AMD as well ... need to find one...

[2018-01-09 21:50] sr55 commented on #1099
I have 1 system AMD and 1 Nvidia, both affected.

[2018-01-09 22:19] sr55 commented on #1104
Any CPU usage or is the machine idling?

[2018-01-09 23:08] meganone commented on #1104
Hi

The Vidcoderworker.exe process takes up 13% CPU after I start the encoding.

In the settings, I have the process priority set to _Low_ and _CPU Throttling_ at 100%.

In the "encode details" window, both "current FPS" and "average FPS" remain at 0, while the ETA keeps increasing.

**[Edit]** I've just realized that I talked about Vidcoder (which is based on Handbrake). The problem is exactly th

[2018-01-10 08:07] Zig12 opened #1107 "Error after nasty DVD source"
### Description of problem or feature request

Had a nasty DVD source handbrake could not read.
Handbrake could not read any more files after that.

### Steps to reproduce the problem

Uninstall / Downgrade / Upgrade / Restart did not succeed.

### HandBrake version (e.g., 1.0.0)

HandBrake 1.0.7

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Creators

[2018-01-10 09:29] galad87 commented on #1102
It should be possible to reorder the presets manually like in the macgui.

[2018-01-10 09:35] galad87 commented on #833
Done a part of it in 3d3120b693c89663f8016ddd2a30e5c5af404461
The "reload" button currently makes no sense for jobs reloaded from the queue, I am not going to add for 1.1.0.
I used the usual "+" icon for the button.

[2018-01-10 09:41] bradleysepos commented on #833
Can you explain what you mean by this?

Your reasoning for this?

[2018-01-10 09:43] galad87 commented on #833
The MacGui doesn't save the original preset in the queue job, so there is no way to reload the original preset in a reload job.

I liked the "+" icon, the text made the button too long.

[2018-01-10 09:46] bradleysepos commented on #833
Ah, that's a good point. It would be best if the Reload button was present, but disabled if the original preset is not known. Is this possible? Just for reference, this is meant to mirror the Reload functionality that accompanies the Selection Behavior controls.

I cannot even.

[2018-01-10 18:01] Zig12 commented on #1107
error fixed

clean old files
install nightly

all fine

[2018-01-10 18:01] #1107 closed, assigned to nobody

[2018-01-11 14:51] jarrettv commented on #1087
@sr55 have you explored something like [electron](https://github.com/electron/electron) for the front-end.

Wow, there is even a [electron.NET](https://github.com/ElectronNET/Electron.NET) out there which seems very promising to me (c#/web background).

[2018-01-11 15:48] Coconeacsu opened #1109 "After converting video, program remains at 100% completion using high (80-90%) CPU but never seems to complete. Log repeats warning line endlessly"
### Description of problem or feature request

After converting video, program remains at 100% using high CPU but never seems to complete. Log repeats warning line endlessly
I have transformed into smaller format 6 DVDs. 5 of them successfully (1,2,3,4,6), DVD no 5 has the issue and the log endlessly shows this line in log:
"[mp2 @ 0000003843ba85c0] Header missing"

Also the actual output file inc

[2018-01-11 15:50] bradleysepos commented on #1109
If it’s not too much trouble, it would be good to know if this is still an issue in the nightly build.

[2018-01-11 16:05] tejaspethker opened #1110 "Crash when adding video files downloaded from v.redd.it."
### Description of problem or feature request

Handbrake stops responding and crashes when adding videos downloaded from v.redd.it.
The video plays fine with MPC.

### Steps to reproduce the problem

Download this example video https://v.redd.it/3we6l7qmve901/DASH_9_6_M
Drag and drop to handbrake.

### HandBrake version (e.g., 1.0.0)

HandBrake version 1.0.7.0

### Operating system and version (e.

[2018-01-11 16:07] bradleysepos commented on #1110
Will you please try the nightly build and report back.

[2018-01-11 16:13] tejaspethker commented on #1110
It works without a problem in the nightly build! Thank you.

[2018-01-11 16:35] Coconeacsu commented on #1109
Hi,

It seems the same on the Nightly build.

Only when stopping the convert this part is added to the log, at the end:

[...........................]
[mp2 @ 00000037cda1e180] Header missing
[mp2 @ 00000037cda1e180] Header missing

# Encode Stopped

[18:31:42] work: average encoding speed for job is 90.305733 fps
[18:31:43] comb detect: heavy 155396 | light 344 | uncombed 50 | total 155790
[18:31:

[2018-01-11 16:45] bradleysepos commented on #1110
Great, I assumed it was an MPEG-DASH stream from the source url. Glad to hear it’s working. The next release should be out sooner than later, so keep an eye out for it.

[2018-01-11 16:45] #1110 closed, assigned to nobody

[2018-01-11 16:46] JosefKuchar commented on #660
I had same -17 error with my intel i5-4460 with iGPU 4600 on version 1.0.7. Now I'm back on 0.10.5 and it seems to be working :)

[2018-01-11 16:47] bradleysepos commented on #1109
Hmm, okay. Clearly the decoder isn’t liking something in the audio stream.

Is there any chance you can provide a short sample that reproduces the issue, for testing?

[2018-01-11 17:14] maximd33 commented on #660
@JosefKuchar what version of the driver and OS do you have ?

[2018-01-11 19:16] sr55 commented on #1087
That's not for discussion here and certainly not something I'd expect to happen for a good few years. The current frameworks more than meet our needs.

[2018-01-11 21:06] Nachtfrische commented on #259
If it's fixed, that's great. Can we pull it onto master and then close this issue?

[2018-01-11 21:44] sr55 commented on #259
No.  This patch hasn't even been reviewed yet, let alone it's other dependencies. it'll be some time before it's added to master.   1.1 will has to go out the door first.

[2018-01-12 02:47] sgothel commented on #1083
added initial pull #1111
@sr55 your questions are partly answered and repeated/extended in the commit and pull request
It is a work in progress (WIP) and we need to solve the question I asked first :)
I believe it could become a nice added feature when it properly supports AMD and Intel.
On Debian 9.3 'stretch' I was able to get some results on AMD (erratic) and Intel (working but big file size, '

[2018-01-12 05:39] JTRcm opened #1113 "Multi-Thread Deblock Filter desperately needed"
Please make a multithread Deblock filter like or similar to the NLMeans Denoise filter.

On an i7-5960X (8C/16T) CPU @ 4.6 GHz, Deblock on even the lowest setting will change a 5-7 minute encoding time to 15-20 often even reaching 30+ minutes.
Deblocking on even the lowest setting drops 60-70 fps to 14-16 fps, dropping the CPU usage from 80-100% to 15-30%.

This is just for Downscaling 25 minute 1

[2018-01-12 06:21] sgothel commented on #974
@jstebbins when is HB 1.1 due?
Understanding your direction, let's see what time allows until.

[2018-01-12 09:04] bradleysepos commented on #974
HandBrake 1.1.0 is essentially done. We're trying to iron out a few graphical interface nits. See https://github.com/HandBrake/HandBrake/issues/833

[2018-01-12 09:07] bradleysepos commented on #1113
Thanks for the suggestion. I think this is worth doing, but it depends on who has time and wants to accomplish it. 57.6 vs. 13.6 FPS is significant.

Aside, not many people use the deblocking filter; in fact it's only really useful for bitrate-starved sources. Are you frequently encountering sources that show obvious macroblock artifacts, and if so, from where?

[2018-01-12 10:33] JTRcm commented on #1113
Actually, I only do animation, and it's not so much a question of macroblocking and bit-starvation, per se, even though it is partly that on the source, because I will often start with a 1080p file that is basically unfriendly to most hosts to stream properly due to size, yet still too small for it's resolution. So when I downscale that to 720p, it's just that the lines come out much crisper, clea

[2018-01-12 12:42] sampumon commented on #1093
I have 8 dvd:s with 99 (!) titles each. Most of them are duplicate video data; I have no idea why.

My workflow is: play each menu entry with macOS DVD player, check which title is playing, add that title to HandBrake queue.

HandBrake scanning all the titles for previews is ~10 minutes unneeded for me. I'm halfway already though, so no biggie 🐶

[2018-01-12 12:43] galad87 commented on #1093
If you already know which title is the right one, you can tell HandBrake to scan only that title.

[2018-01-12 12:52] sampumon commented on #1093
@galad87 I have 5–10 titles per dvd, so I would have to re-open source each time. That might be faster though, I'll try!

[2018-01-12 13:43] woodstockathbf commented on #1093
Sounds a lot like you're ripping a TV series. This is where ripping the disk with a separate tool will REALLY speed things up; your investigation of which titles to encode can take place while another disk is being ripped. And you might find that the title list is consistent enough across disks to do most of the sorting in the ripping tool.

[2018-01-12 13:55] JosefKuchar commented on #660
@maximd33 I've got Windows 10 64bit Pro with driver ver. 20.19.15.4835

[2018-01-12 20:39] maximd33 commented on #1099
50 transcodings were ok on HSW HW:

and

I am preparing MSDK's tracer so you can run on your PC and share the log,
would it be possible ?

[2018-01-12 20:58] sr55 commented on #1099
sure, ping me with the build and I'll give it a go

[2018-01-12 22:09] #1096 closed, assigned to sr55

[2018-01-12 22:09] #1102 closed, assigned to sr55

[2018-01-12 22:12] sr55 commented on #833
hmm, The windows UI also doesn't re-select the preset.  Preset and job settings are decoupled from an architecture point of view.  So hitting reload would just load the currently selected preset, whatever it was into the job. (Since you can't re-select an already selected preset). So in that sense, it's still works but the name maybe isn't 100% correct in that instance.

[2018-01-13 12:40] wazerstar opened #1114 "Handbrake causing First Audio Stream to be unknown, when converted"
### Description of problem or feature request

Whenver I take a bluray dics and use mkverge the audio is fine and all text is detailed.

The minut I put it through Handbrake with auto pass through it will give unknown info on the first audio audio stream

### Steps to reproduce the problem

Do any x265 conversion in handbrake and check First audio stream > unknown

### HandBrake version (e.g., 1.0

[2018-01-13 12:59] sr55 commented on #1114
Can you change mediainfo to text output and post both.  It looks like it isn't able to calculate the bitrate info, which isn't really an issue.

[2018-01-13 13:05] wazerstar commented on #1114
@sr55 Staxrip does not have this problem, its with every file I do.

raw
[code]

Handbrake x265
[code]

Audio settings
![au](https://user-images.githubusercontent.com/4474519/34906313-80c71e88-f86b-11e7-87c3-b539de8e409b.png)

[2018-01-13 16:43] woodstockathbf commented on #1114
And can we see the log for the encode in question, to see how handbrake reacted to these settings?

[2018-01-13 16:55] wazerstar commented on #1114
@woodstockathbf Sure!
[The Lord Of The Rings The Fellowship Of The Ring (Ext )-1.mkv 01-12-2018 15-51-21.txt](https://github.com/HandBrake/HandBrake/files/1628523/The.Lord.Of.The.Rings.The.Fellowship.Of.The.Ring.Ext.-1.mkv.01-12-2018.15-51-21.txt)
[activity_log12904.txt](https://github.com/HandBrake/HandBrake/files/1628524/activity_log12904.txt)

[2018-01-13 21:03] AlexJCarstensen opened #1115 "Linux Add Multiple broken | Nightly Build 20180113053025-b76fc94-master (x86_64)"
### Description of problem or feature request

In the new update on the master nightly build 20180113053025-b76fc94-master (x86_64) it is no longer possible to edit multiple sources then add them all at last.

### Steps to reproduce the problem
1. Press Open Source
2. Choose a folder with multiple video files in it.
3. Change some meta on the tags page or add a subtitle.. (just change it somehow)

[2018-01-13 21:25] jstebbins commented on #1115
This is an intentional change of behaviour.  Many users did not understand that each title's settings were independent and expected any changes to automatically be applied to all titles.  Also, the windows and osx GUI had different behaviour to Linux. So they are now the same.

To get the old behaviour, go to the preferences advanced tab and uncheck "Use the same settings for all titles in a batch

[2018-01-13 21:25] #1115 closed, assigned to nobody

[2018-01-13 21:51] AlexJCarstensen commented on #1115
ahh thanks alot! :)

[2018-01-13 21:51] AlexJCarstensen commented on #1115
I was getting crazy about it!

[2018-01-14 16:55] sneaker2 commented on #674
Problem isn't there anymore in latest nightly HandBrake/libav. (Don't know when it was fixed.)

[2018-01-14 22:59] mysterymiss128 opened #1116 "Handbrake Endless Scanning/dvd: vobu read error blk"
### Description of problem or feature request

After selecting the source Handbrake begins scanning but stops at 50 or 51% and never moves past that point

### Steps to reproduce the problem

I have restarted computer, uninstalled and re-installed different versions of handbrake, used different dvds all with the same result

### HandBrake version (e.g., 1.0.0)

1.0.7

### Operating system and vers

[2018-01-14 23:31] bradleysepos commented on #1116
Sorry you’re having trouble. From the log it looks like your source has copy protection which HandBrake doesn’t work with.

The documentation talks a bit about this and mentions tools like MakeMKV and AnyDVD HD: https://handbrake.fr/docs/en/1.0.0/introduction/about.html

[2018-01-14 23:34] bradleysepos commented on #980
Fixed by 61dd23b.

[2018-01-15 00:48] jasonmccsmith opened #1117 "Feature Request: Cache subtitle / foreign audio search on consecutive rips of same source"
### Description of problem or feature request

When I back up one of my BluRays, I will often do multiple rips at different settings for my local Plex server.  1080p / SHQ for direct Ethernet connections on the LAN, 1080p / Fast for WiFi, 480p / Fast for remote access.

Even though I do the rips sequentially, the subtitle / foreign audio search is done for each rip, taking about 50-60 minutes.  It

[2018-01-15 00:55] bradleysepos commented on #1117
Indeed, it’s fairly annoying to have to scan a large source multiple times. Caching and/or other improvements are planned. I’m not sure whether we have an issue open for it; this may be a duplicate.

[2018-01-15 02:01] jasonmccsmith commented on #1117
Did a quick search, didn't see anything prior, could have missed it.  Please mark as dupe if that's that case.

[2018-01-15 11:13] mmardegan opened #1118 "Compiling not terminate"
### Description of problem or feature request

Compile termination with this error.
../libhb/encx264.h:13:18: fatal error: x264.h: File o directory non esistente

### Steps to reproduce the problem

Git Clone the project
./configure
cd build
make

### HandBrake version (e.g., 1.0.0)

1.0.7 as clone of git: the last

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra,

[2018-01-15 11:15] bradleysepos commented on #1118
Newer x264 requires fixes on the master branch. Please try compiling that instead of 1.0.7.

[2018-01-15 11:17] mmardegan commented on #1118
some logs
config.info.txt
[code]

config.verbose.txt
[code]

[2018-01-15 11:23] mmardegan commented on #1118
Sorry @bradleysepos I cloned the master branch https://github.com/HandBrake/HandBrake.git
It's strange because in HandBrake/build/libhb/ there is the encx264.h file

[2018-01-15 11:26] bradleysepos commented on #1118
Please install the x264 system libraries provided by your distro. You can use the Ubuntu dependencies as a guide (I have not yet made a list for Debian): https://handbrake.fr/docs/en/latest/developer/install-dependencies-ubuntu.html

[2018-01-15 11:42] mmardegan commented on #1118
All right... I could not find the dependencies list... so (with others) was missing libx264-dev.
Now it's compiled ed installed.
Thank you for your help.
Thank you for the great job did.

[2018-01-15 11:43] bradleysepos commented on #1118
Glad you got it working. 😸

[2018-01-15 11:43] #1118 closed, assigned to nobody

[2018-01-15 11:46] mmardegan commented on #1118
Maybe link the dependency page somewhere else or in an install page. Bye.

[2018-01-15 17:35] sr55 commented on #1114
Ah, it's just Master Audio, which HandBrake doesn't support.  It'll passthru the track but not the metadata. That's a non-issue.  When we get support from upstream, that'll likely be changed at the same time.

[2018-01-15 17:35] #1114 closed, assigned to nobody

[2018-01-15 23:37] AndreiPukrov opened #1119 "Consistent SRT checkbox element arrangement"
The build in dropdown dialog box to choose an SubTitle has the following options "Burn In() Default()" (first BurnIn and then default). However when adding a SRT File its the opposite "Default() Burn In()" (Default first and then BurnIn) as seen in the picture.

Can this Handbrake section be improved please, so that the default option is at the end in the external SRT source as well? Currently its

[2018-01-15 23:38] AndreiPukrov commented on #833
Maybe this one [here](https://github.com/HandBrake/HandBrake/issues/1119) can be fixed / improved here as well?

[2018-01-16 01:25] abeason opened #1120 "Avid DNxHD/DNxHR Converts Out of Sync [HandbrakeCLI 1.0.7]"
### Description of problem

Avid DNxHD/DNxHR .mov and .mxf files exhibit signs of AV sync drift the longer they run. Source file example (unaffected) and three converted output files (affected) included. https://we.tl/F4x3ZzE6Wn

### HandBrake version

Handbrake CLI 1.0.7

### Operating system and version

Windows 7 64 SP1

### Log output

[10:52:17] hb_init: starting libhb thread
[10:52:17] threa

[2018-01-16 11:29] qarkai opened #1121 "Migrating to GDBus"
According to [freedesktop.org](https://www.freedesktop.org/wiki/Software/DBusBindings) DBus-GLib is obsolete and [new] applications should use [GDBus](https://developer.gnome.org/gio/stable/ch35.html).

[2018-01-16 12:27] iostrym opened #1122 "ISO Encoding successfull without any error but only 2 chapters are encoded instead of all chapters"
### Description of problem or feature request

During encoding of several chapter (chapter 1 to 13) of one DVD (iso file) the encoding stop after two chapter. without any error message as if I have configured to perform the encoding of only chapters 1 and two.

here is a clue :
please note that this is my first use of this tool. I used previously another paid tool that reproduce the same problem w

[2018-01-16 13:16] bradleysepos commented on #1122
Sorry to hear you're having trouble. Two possible solutions: one, mount the ISO and encode from the mounted virtual disc instead; two, try the nightly build.

[2018-01-16 13:52] iostrym commented on #1122
hello, thanks for your answer.
I think using the DVD won't gives better result as the ISO was created because I had same kind of trouble using the DVD itself with my previous software. for my point of view there is something in the DVD structure that encoders don't like. But I don't know what.
Concerning the nightly build it would be very very lucky because, it didn't work better with previous bui

[2018-01-16 14:19] bradleysepos commented on #1122
I'm not suggesting you use the physical DVD; I'm suggesting you mount the ISO as a virtual DVD and use that. It sometimes helps.

Better than luck is over a year of fixes. We're actually getting ready to release HandBrake 1.1.0, and the nightly build is basically that.

That error is somewhat common with poorly mastered discs. It could indicate a problem with the source, or not. Anyway, the nightl

[2018-01-16 14:47] iostrym commented on #1122
ok thanks for detail I will try these.

thanks you confirmed what I have the feeling, lowcost DVD are not well supported for encoding. it doesn't seems to be a encoding problem of the dvd because it stops properly at the end of a chapter. it more like a dvd structure that is not correctly done.

I will keep informed of the evolution.

[2018-01-16 19:23] abeason commented on #1120
Hey guys - here is some supplemental information that might be helpful in diagnosing the issue. Attached is a log file for one of the exports as well as screengrabs of waveforms in Avid showing the issue when we bring the files back in.

[SYNCTEST_3MIN_111717_SASexport.mp4.log](https://github.com/HandBrake/HandBrake/files/1636475/SYNCTEST_3MIN_111717_SASexport.mp4.log)
![capture](https://user-imag

[2018-01-16 20:02] sr55 commented on #1120
1.0.7 introduced new, better A/V sync approach. Problem is we discovered that there are quite a few applications with bugs / flat out don't support it in the MP4 files.

To work around this, we've added a "Align A/V Start" option in the nightly build https://handbrake.fr/nightly.php  which uses the older behaviour.

I'd advise you try this

[2018-01-16 21:30] Nomis101 opened #1123 "CMake triggers Java prompt on macOS during build."
Everytime I build HandBrake on macOS, at the end of the build process a message pops up telling me, that I don't have the Java SDK installed (because I don't need it). This gets a bit annoying after some time and I don't see any place where HB needs Java. I don't know what exactly triggers this notification, but would it be possible to disable this?

![java](https://user-images.githubusercontent.c

[2018-01-16 21:32] bradleysepos commented on #1123
I believe is a side-effect of using CMake to build the x265 encoder. What version of CMake is installed on your Mac? Or is HandBrake building it for you?

[2018-01-16 22:02] tracker1 commented on #259
So looking forward to this... :-D

[2018-01-16 23:13] Nomis101 commented on #1123
I don't have any special version of cmake installed, it is using the one that comes with HandBrake. I found the lines in the build log when this notification gets triggered. It is at:

[code]

[2018-01-16 23:15] bradleysepos commented on #1123
What's happening is CMake tries to run something that requires Java, which does not succeed, but also doesn't cause a build failure because it isn't actually required. Unfortunately, macOS is set up in a way that any similar attempt triggers that dialog. It's Apple trying to be helpful. I don't know of any workaround at this point.

[2018-01-16 23:26] iostrym commented on #1122
Hello, I tried nighlty + use ISO mounted in virtual drive. both solution together or tested independenlty give same result :

only 5 minutes of the film are encoded and encoding stop without any error.

here are the log for the nightly + iso mounted in virtual drive. If anyone can find in these any clue that would help to resolve the problem. thanks a lot.
[log_encode_iso_pauline_nightly_iso_mount

[2018-01-16 23:31] bradleysepos commented on #1122
Nothing obvious in the log. If you have the original source, perhaps try ripping again with MakeMKV. It seems to help sort out mastering errors and other structural issues.

It would be good to get a copy of this source so we can further diagnose the issue. Are you able to provide it publicly or privately?

[2018-01-16 23:32] bradleysepos commented on #1122
You might even try ripping making an mkv with MakeMKV using the mounted ISO.

[2018-01-16 23:50] iostrym commented on #1122
yes I could provide it but how ? is there a server here to store it ? i'm currently trying to use makemkv but it creates me 22 different file in the output folder :/ maybe something to configure...

[edit] by the way, makemkv generates error messages like : (in french :)
Le fichier source '<Unknown>' est corrompu ou invalide en offset 257658880, tentative de contournement
Le fichier source '<Unkno

[2018-01-16 23:51] bradleysepos commented on #1122
In MakeMKV, you probably want to select only the title you're interested in. Then feed that to HandBrake and see if it works better.

[2018-01-16 23:59] iostrym commented on #1122
problem : in makeMKV there are 22 title and first title is only 2 chapter. then it generates 22 files. each file is a chapter except first file that contain 2 chapter (the introduction + first chapter)
But in real, this DVD contains 2 titles and each title is divided in several chapters. this is like that also that handbrake recognize this DVD (and also my other dvd players).
dvd structure should

[2018-01-17 07:27] iostrym commented on #1122
in brief, it acts as if chapter were kind of title. maybe it is badly done like this in the DVD. but as it plays correctly on dvd player i would say dvd structure is ok even if it is not done perfectly.

could it be possible to say handbrake not to stop after each chapter/title ?

[2018-01-17 08:19] m-cerveny commented on #864
Btw, probably you could achieve exactly what you need using the following parameters in "Additional Options." Replace "n" with desired values.
`pools=n:frame-threads=n`

[2018-01-17 12:43] nowarol opened #1124 "Proposal for improvement: estimated file size"
### Description of problem or feature request

This is proposal for improvement: can you add the estimated file size after encoding (without encoding).
For example next to the field **Destination**
This will be useful when you want to stay within a certain file size for some goals.

### Steps to reproduce the problem

Add to encoding

### HandBrake version

HandBrake version 1.0.7 (2017040900) - 3

[2018-01-17 14:59] woodstockathbf commented on #1124
Unless the encode is done at a fixed bit rate, there is no accurate way to predict the file size. And even then it is an educated guess.

That is why this "feature" was removed years ago.

[2018-01-17 15:26] bradleysepos commented on #1124
Thanks for the suggestion, but this is something we've already decided not to implement. If you're encoding with a constant bit rate, there are a number of bit rate / file size calculators on the web that will help you estimate.

[2018-01-17 15:29] bradleysepos commented on #1122
If the source is mastered how you indicate, then I suggest using MakeMKV to make MKVs of all the titles (as you did previously), then use mkvmerge via MKVToolNix to concatenate the desired titles into one MKV. Then open the combined file with HandBrake. (HandBrake does not combine files on its own.)

[2018-01-17 16:57] iostrym commented on #1122
thanks a lot for the detailled workaround.

Do you think this could be corrected in a futur version of handbrake or at least propose a kind of workaround inside handbrake like an option to force "handbrake to  follow next chapter even if handbrake think it is another title" it is more complex than that because in handbrake GUI, DVD structure is correctly understood... maybe it is not an handbrake

[2018-01-17 17:21] ghost opened #1125 "Comb detect interlace detection default != custom default???"
### Description of problem or feature request

The default settings used when using a custom interlace detection don't match the drop down "default" setting, which isn't intuitive at all (or the defaults in the tool tip).

Default settings in comb_detect.c
    pv->mode              = MODE_GAMMA | MODE_FILTER;
    pv->filter_mode       = FILTER_ERODE_DILATE;
    pv->spatial_metric    = 2;
    pv->m

[2018-01-17 18:56] sr55 commented on #1122
If the DVD's navigation structure is bad, broken and/or non-spec complaint, it's not within HandBrake remit to fix that. In many cases it's just not practical.  This isn't a HandBrake or ffmpeg (libav in our case) problem.

[2018-01-17 18:56] #1122 closed, assigned to nobody

[2018-01-17 19:02] sr55 commented on #1101
Yeh.  Either it's a broken source,  genuinely is a file format handbrake doesn't support. (Likely since we've seen this error before) or something else is up.

Either way, there is no way to proceed without a sample for verification. If one can't be provided I'll close the issue of as there is no way to proceed.  If it's a format that HandBrake (libav in this case) doesn't support, feature freques

[2018-01-17 19:03] #1116 closed, assigned to nobody

[2018-01-17 21:01] iostrym commented on #1122
hello,
Sorry to insist but this DVD is working correclty on different platform. the iso file can be read correclty using VLC. and in VLC, title 1 and 2 are correct and each chapter of title1 and title2 is correct.

so I would say that the DVD structure is correct. I'm not an expert at all but maybe dvd structure specification is quite "large" so there is several way to respect it. maybe 90% of DVD

[2018-01-17 22:03] ghost opened #1126 "Feature request: search and add metadata ala subler"
### Description of problem or feature request

Option to search TMDB or iTunes Store for metadata and cover art and them directly in handbrake.

[2018-01-17 22:35] sr55 commented on #1122
HandBrake is not having trouble seeing the 2 titles. (Not sure why MakeMKV is, we don't do anything special)  We sees13 and 10 chapters each.  The problem is, an error in the input data is causing it to end prematurely.

[00:11:25] sync: got 7510 frames, 84616 expected

Those kind of errors must be fixed by 3rd party tools as HandBrake makes no attempt to deal with them.

[2018-01-17 22:39] sr55 commented on #1126
We don't intent to invest any time in Metadata in HandBrake. A dedicated app like subler will always do a much better job.  HandBrake is focused on doing one thing well, that's video transcoding.  Everything before and after that are better left to apps such as Subler.

I think there is an option still in the mac ui to send the file to subler after encoding. Check preferences.

[2018-01-17 23:31] nowarol commented on #1124
Ok, thank you

[2018-01-18 00:05] iostrym commented on #1122
and this error would occurs exactly at the end of chapter 2 of title 1... this is strange. And this error won't be a problem for any DVD player...

and when I want to encode from chapter 3 of title 1 to chapter 13 then the result of handbrake is only chapter3...

errors would be each time at the end of chapter 1&2, chapter3, chapter4, etc...  As makeMKV does one mkv per "chapter" (except for chapt

[2018-01-18 07:30] #1124 closed, assigned to nobody

[2018-01-18 11:56] sampumon commented on #1093
Open disk & scan each title once was faster overall, though a bit more mouse clicks! That's my workflow now & am happy with it.

Ripping the disk indeed makes title scanning faster, but doubles total ripping time, since h264 encode runs about same speed as data comes out of dvd drive.

[Also, couldn't find a working open source full disk ripper for macOS.]

[2018-01-18 13:25] woodstockathbf commented on #1093
Doesn't Apple include 'dd' in MacOS anymore? It can read a DVD to an ISO file that handbrake can decode, since you've already installed the third-party decryption library.

[2018-01-18 14:49] jstebbins commented on #1093
'dd' will fail or at the least take a really long time (days) with discs that are protected with structural protections that intentionally create bad sectors on the disc (e.g. ARccOS).  You really want to use a program that will only read the parts of the disc that have known good data (e.g. makemkv).

[2018-01-18 14:57] woodstockathbf commented on #1093
If you tell dd to skip errors (replace bad sectors with zeros), I haven't seen "days" to copy, but yes, dd is relatively slow.

My comment was aimed at the "working open source" ripper comment. Apparently the author has issues with the fact that MakeMKV isn't open source.

[2018-01-18 16:58] abeason commented on #1120
@sr55 Thanks! We'll try this.

[2018-01-18 23:45] AndreiPukrov opened #1127 "Feature Request: Set tag title"
Can we have an option in HandBrake which allows us to change / edit / set the title tag? Per default Handbrake is duplicating the title tag which is already used in the source, however if the source has a wrong title tag its not possible to change / fix that during the encoding and a different software must be used after that which is a little bit annoying when you deal with the batch mode, then y

[2018-01-18 23:47] AndreiPukrov commented on #1127
Update: Maybe it can be combined with this [here](https://github.com/HandBrake/HandBrake/issues/482). So beside the "Title" text field we could implement a button called "fetch title from filename".

[2018-01-19 07:35] obernegg commented on #1099
see also newest Intel-Driver-Version: 15.60.2.4901 (Latest) Date: 12/28/2017
https://downloadcenter.intel.com/download/27412?v=t

[2018-01-19 15:23] Technologov opened #1128 "HEVC/H.265 video is not readable by Apple devices"
### Description of problem or feature request
HEVC decoder by Apple is limited to "hvc1" subcodec, while you're using "hev1" subcodec.
When I say Apple, I mean iOS 11.x devices (iPhones and iPads) and Mac OS 10.13.x "High Sierra".

### Steps to reproduce the problem
Encode with MP4 container, using libx265 (HEVC) codec.

### HandBrake version (e.g., 1.0.0)
1.0.7, x64, on Windows 7.

### Operating

[2018-01-19 15:24] bradleysepos commented on #1128
This is fixed in the nightly build and will be fixed in the next release, to be out shortly. Also, there is now an official Apple HEVC preset that supports up to 2160p60 on Apple TV 4K.

[2018-01-19 15:24] #1128 closed, assigned to nobody

[2018-01-20 00:38] mqudsi commented on #1113
Thanks for opening this issue, I was actually coming here to suggest a different alternative after running into the same problem.

I use nlmeans to get rid of grain from re-releases of pre-HD content as HD, is there a better alternative?

My suggestion is take advantage of GPU-based nlmeans, which (unlike QuickSync and co) can actually compute the same results as the CPU-based implementation and n

[2018-01-20 01:28] bradleysepos commented on #1113
I’m aware of GPU-accelerated algorithms, but currently have no plans to pursue. Awhile back we removed our OpenCL foundation because it was incomplete and abandoned. HandBrake’s NLMeans has some modifications, too.

There are a number of hurdles; definitely talk with us before any major work to make sure it will be accepted by the project.

[2018-01-20 14:45] Mister-XY opened #1129 "Edit subtitles PGS/SUB"
### Description of problem or feature request
Hello, in last time i use very often the encode program Staxrip to encode videos. And in Staxrip, i found a very useful option. I can edit/change/view subtitles files and this is, what i missing in Handbrake. In handbrake, i have only the ckeckboxes for default, forced only und burn in. But the problem is, in some videos, the PGS subtitles are forced s

[2018-01-20 14:46] sampumon commented on #1093
Hi I didn't find MakeMKV, thanks! Non-open source is fine, though I do have slight issue with [yet](http://www.ripdifferent.com/mactheripper/what-is-mactheripper/) [another](https://github.com/BoxOfSnoo/Fairmount) macOS dvd ripper which is first free and then not anymore.

I tried MakeMKV, it works really nice: it scans the dvd for fake titles, and ends up with a list of actual titles. There were

[2018-01-20 15:18] sr55 commented on #1129
Thanks for the suggestion. Unfortunately this is beyond the project scope so won't make it into HandBrake. This is best left for 3rd party tooling specialising is managing subtitles.

[2018-01-20 15:18] #1129 closed, assigned to nobody

[2018-01-20 15:19] sr55 commented on #1127
Agreed as duplicate of #482
If we did decide to accept and implement it, it wouldn't be restricted to file name.

[2018-01-20 15:19] #1127 closed, assigned to nobody

[2018-01-20 15:20] #1126 closed, assigned to nobody

[2018-01-20 15:22] sr55 commented on #949
Without being able to reproduce this, and no other reports of this problem I'm afraid we are left with no choice but to close the issue. If we see this again we can re-open at a later date.

[2018-01-20 15:22] #949 closed, assigned to nobody

[2018-01-20 15:23] sr55 commented on #1109
Without a sample, I'm afraid we can't proceed with this. If we don't hear back in a few days, I'll close this one out.  We can always re-open late if we are able to get a sample that reproduces the issue.

[2018-01-20 16:20] iostrym commented on #1122
thanks, I have tested the proposed workaround and it works perfectly. and m4vtoolnix can rebuild a correct chapter structure.

[2018-01-20 17:28] mqudsi opened #1130 "Missing dependencies should cause build failure at configure stage."
**Let me preface this issue with the following: I don't know if HandBrake is supposed to automatically obtain these dependencies or not, but `./configure` completed without any warnings so I presumed I'd be good to go with `cd build; gmake`, but that was not the case.**

*Additionally, I do not need any help getting HandBrake to build, I've already resolved all my problems. This is not a support r

[2018-01-20 17:32] bradleysepos commented on #1130
You’re not wrong. We have a fair amount of work to do to make configure do better in this regard, I just haven’t made time. Ideally we’d rather fail at the configure stage.

Also, are you using our docs for FreeBSD? https://handbrake.fr/docs/en/latest/developer/install-dependencies-freebsd.html

[2018-01-20 17:52] mqudsi commented on #1130
I actually was not; out of personal preference and general paranoia, I've come to not trust a lot of build documentation which just goes the "install everything and the kitchen sink" route. This is of course not a judgement on the quality of your documentation, which I haven't studied enough to say one way or the other. Though I will say that on FreeBSD the compiler of choice is clang/clang++ and

[2018-01-20 17:57] bradleysepos commented on #1130
We recently had someone contribute FreeBSD patches for HandBrake’s GTK, so it’s only very recently things are working and I documented what I tested.

Will see about getting a patch for libbluray; I doubt any of us had Java installed to trigger that.

[2018-01-20 17:59] bradleysepos commented on #1130
If you would like to help me get together instructions/dependencies for compiling with clang instead of gcc, I’ll be glad to update the documentation.

[2018-01-20 18:00] mqudsi commented on #1130
Thank you. Please don't get me wrong, I was actually preparing for a very difficult ordeal and was very pleasantly surprised that building on FreeBSD was both supported out-of-the-box and documented. Just some constructive feedback, as I know FreeBSD is not the primary development platform for most open source projects.

I would be more than happy to help in whatever way I can. I'll spin up a clea

[2018-01-20 18:03] bradleysepos commented on #1130
Thanks for the kind words.

Indeed, that’s exactly what we will want to document. Perhaps create a new issue on the HandBrake-docs GitHub, and once I successfully replicate what you’ve put together, will get the docs updated.

[2018-01-20 22:18] Nomis101 opened #1131 "[cosmetic] E-AC3 inconsistency in the macOS UI"
On macOS, I've noticed the following. In most cases E-AC3 is spelled in the UI as "E-AC3".
https://github.com/HandBrake/HandBrake/search?utf8=✓&q=E-ac3&type=
But in the Audio defaults UI it is spelled inconsistently as "EAC3" (checkbox and tooltip).
https://github.com/HandBrake/HandBrake/blob/2c750474608acba5da55f76b518f45f83d9757cb/macosx/English.lproj/AudioDefaults.xib#L264

[2018-01-21 00:05] EsmailELBoBDev2 opened #1132 "Translation"
### Description of problem or feature request

Hi,
I'm small translator & i want translate this program into Arabic for free
just to make program easy to use from Arab people who's not know English
thx

### Steps to reproduce the problem

Steps here.

### HandBrake version (e.g., 1.0.0)

Last version

### Operating system and version (e.g., Ubuntu 16.04 LTS, macOS 10.3 High Sierra, Windows 10 Crea